@use '../../../../theme/colors.scss';

.reports-card {
  padding: 12px;
  margin-bottom: 6px;
  background-color: colors.$pure-white;

  &__no-top-margin {
    margin-top: 0;
  }

  &--divider {
    margin-bottom: 16px;
  }

  &--date {
    color: colors.$black-light;
    font-size: 14px;
    padding: 24px 14px 16px 14px;
    background-color: colors.$white;
    font-weight: 500;
  }

  &--more {
    color: #686872;
    font-size: 34px;
    margin-right: 20px;
  }

  &--container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &--main-info {
    display: flex;
    gap: 8px;
    margin-bottom: 6px;
    width: 80%;
  }

  &--list-icon {
    width: 16px;
    height: 16px;
    padding-top: 2px;
    color: colors.$black-light;
  }

  &--icon-policy-violation {
    height: 16px;
    width: 18px;
    margin: 0 4px;
    color: colors.$dark-yellow;
  }

  &--secondary-info {
    display: flex;
    margin-bottom: 6px;
  }

  &--secondary-info-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  &--purpose-num-amount-block {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &--currency {
    color: colors.$black-light;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    margin-right: -2px;
  }

  &--amount-block {
    margin-top: 10px;
  }

  &--amount {
    color: colors.$black;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 500;
  }

  &--purpose {
    color: colors.$black-2;
    font-size: 14px;
    font-weight: 500;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.3;
    -webkit-line-clamp: 8;
  }

  &--no-transactions {
    font-size: 14px;
    line-height: 18px;
    color: colors.$dark-grey;
  }

  &--auto-approved-by-system {
    color: colors.$sage-text-tertiary;
    font-size: 11px;
    line-height: 150%;
    white-space: nowrap;
  }
}

.reports-card-menu {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 4px;
  min-height: 160px;
  margin: 16px;
  padding: 12px;
  display: flex;
  align-items: stretch;
  &--close {
    width: 30%;
    align-self: center;
    text-align: center;
  }

  &__no-top-margin {
    margin-top: 0;
  }

  &--buttons {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #ececec;
  }

  &--cancel {
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ababab;
  }

  &--action {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 16px;
    &__comments {
      color: #0077ee;
      border-bottom: 1px solid #ececec;
      align-items: center;
    }
    &__delete {
      color: #f00;
    }
    &__disabled {
      opacity: 0.4;
    }
  }
}
