<div *ngIf="showDate" class="reports-card--date">
  {{ erpt.created_at | date : 'MMM dd, YYYY' }}
</div>
<div
  class="reports-card"
  [ngClass]="{ 'reports-card__with-border': !showDate }"
  (click)="onGoToReport()"
  *ngIf="!actionOpened"
  matRipple
>
  <div class="reports-card--divider" *ngIf="!showDate"></div>
  <div class="reports-card--main-info">
    <div class="reports-card--purpose-amount-block">
      <div class="reports-card--purpose">
        <span>{{ erpt.purpose | ellipsis : 40 }}</span>
        <span *ngIf="erpt.is_manually_flagged || erpt.is_policy_flagged">
          <mat-icon class="reports-card--icon-policy-violation" svgIcon="warning-fill"></mat-icon>
        </span>
      </div>
      <div class="reports-card--amount-block ion-text-nowrap">
        <span class="reports-card--currency">{{ reportCurrencySymbol }}</span>
        <span class="reports-card--amount">
          {{ erpt.amount || 0 | humanizeCurrency : erpt.currency : true }}
        </span>
      </div>
    </div>
  </div>
  <div class="reports-card--secondary-info">
    <div class="reports-card--secondary-info-block">
      <div class="reports-card--no-transactions">
        <span>{{ erpt.num_expenses }} </span>
        <span>{{ erpt.num_expenses === 1 ? 'Expense' : 'Expenses' }}</span>
      </div>
      <div class="state-pill state-{{ erpt.state | reportState }}">
        {{ erpt.state | reportState : simplifyReportsEnabled | snakeCaseToSpaceCase }}
      </div>
    </div>
  </div>
</div>
<div
  class="reports-card-menu"
  *ngIf="actionOpened"
  [ngClass]="{ 'reports-card-menu__no-top-margin': erpt.is_manually_flagged || erpt.is_policy_flagged }"
>
  <div class="reports-card-menu--close">
    <div matRipple (click)="actionOpened = false" class="reports-card-menu--cancel">
      <mat-icon> close </mat-icon>
    </div>
  </div>
</div>
