.add-report-success-toast {
  &--body {
    display: flex;
  }

  &--tick-icon {
    font-size: 20px;
  } 

  &--message {
    margin-left: 10px;
  }

  &--view-report {
    margin-left: 19px;
    white-space: nowrap;
  }

  &--close-icon {
    margin-left: 20px;
    font-size: 20px;
  }
}