.corporate-card-expenses-card {
  &--body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 4px;
    min-height: 120px;
    padding: 12px;
    margin: 0 12px 12px;

    &__disabled {
      opacity: .4;
    }

    &__selected {
      border: 1px solid #0077ee;
    }
  }

  &--footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #abababab;
    padding: 4px 4px;
  }

  &--footer-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
    &__classify {
      fill: #DA1E28;
    }
  }

  &--date {
    display: flex;
    margin: 8px 12px;
    color: #ababab;
    font-size: 16px;
  }

  &--selection-icon {
    padding: 19px;
  }

  &--icon-container {
    padding: 8px;
    margin: 12px;
  }

  &--amount-details {
    display: flex;
  }

  &--currency {
    color: #ababab;
    font-size: 16px;
  }

  &--amount {
    font-size: 18px;
    margin-left: 8px;
    font-weight: 700;
    color: #4a4a4a;
  }

  &--vendor {
    color: #4a4a4a;
    font-size: 16px;
  }

  &--conversion {
    font-size: 16px;
    color: #ababab;
  }

  &--category {
    font-size: 16px;
    color: #ababab;
  }

  &--non-reimbursable {
    text-decoration: line-through;

    &-amount {
      color: #ababab;
    }
  }

}

