.corporate-card-expenses-card {
  &--body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120px;
    padding: 12px 12px 0 12px;
    margin: 0 12px 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1) !important;
    border-radius: 4px;
    border: 1px solid #e0e0e0;

    &__disabled {
      opacity: 0.4;
    }

    &__selected {
      border: 1px solid #0077ee;
    }
  }

  &--footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #abababab;
    padding: 8px 4px;
  }

  &--footer-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
    &__classify {
      fill: #da1e28;
    }
  }

  &--date {
    margin: 8px 12px;
    color: #ababab;
    font-size: 16px;
  }

  &--selection-icon {
    padding: 19px;
  }

  &--icon-container {
    padding: 8px;
    margin: 12px;
  }

  &--amount-details {
    display: flex;
  }

  &--currency {
    color: #ababab;
    font-size: 20px;
    font-weight: 500;
  }

  &--amount {
    font-size: 20px;
    margin-left: 8px;
    font-weight: 700;
    color: #4a4a4a;
  }

  &--vendor {
    color: #4a4a4a;
    font-size: 14px;
    margin-top: 8px;
    font-weight: 400;
  }

  &--conversion {
    font-size: 16px;
    color: #ababab;
  }

  &--category {
    font-size: 16px;
    color: #ababab;
  }

  &--non-reimbursable {
    text-decoration: line-through;

    &-amount {
      color: #ababab;
    }
  }
}
