<div class="split-expense-status--popup">
  <div class="split-expense-status--popup-icon-container">
    <mat-icon *ngIf="isSplitSuccessful" class="split-expense-status--success-popup-icon">check_circle</mat-icon>
    <mat-icon *ngIf="!isSplitSuccessful" class="split-expense-status--failure-popup-icon">highlight_off</mat-icon>
  </div>
  <div class="split-expense-status--popup-heading text-center">
    <span>{{ isSplitSuccessful ? 'Split Successful' : 'Unable to Split' }}</span>
  </div>
  <div class="split-expense-status--popup-info text-center">
    <span>{{
      isSplitSuccessful
        ? 'The expense has split successfully'
        : 'Seems to be a stormy day. You should try this after sometime.'
    }}</span>
  </div>

  <div>
    <ion-button
      *ngIf="isSplitSuccessful"
      class="split-expense-status--primary-cta"
      fill="solid"
      color="fyle-primary"
      (click)="goToMyExpenses()"
    >
      Okay
    </ion-button>

    <ion-button
      *ngIf="!isSplitSuccessful"
      class="split-expense-status--primary-cta"
      fill="solid"
      color="fyle-primary"
      (click)="retry()"
    >
      Retry
    </ion-button>
  </div>
</div>
