.split-expense-status {
  &--popup {
    padding: 10px;
  }

  &--popup-icon-container {
    display: flex;
    justify-content: center;
  }

  &--success-popup-icon {
    font-size: 100px;
    color: #15cf6a;
    height: auto;
    width: auto;
  }

  &--failure-popup-icon {
    font-size: 100px;
    color: #ff9494;
    height: auto;
    width: auto;
  }

  &--popup-heading {
    color: #000;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
  }

  &--popup-info {
    color: #ababab;
    margin-bottom: 20px;
  }

  &--primary-cta {
    width: 100%;
  }
}
