<ion-header mode="md">
  <ion-toolbar mode="md">
    <ion-buttons *ngIf="navigateBack" slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <div class="switch-org__toolbar__header-container">
      <ion-icon
        class="switch-org__toolbar__header-container__header"
        src="../../../assets/svg/fyle-logo.svg"
      ></ion-icon>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()" class="switch-org__toolbar__icon-container">
        <ion-icon class="switch-org__toolbar__icon-container__icon" src="../../../assets/svg/power.svg"></ion-icon>
        <span>Sign Out</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!isLoading; else skeletonActiveOrg">
    <ng-container *ngIf="activeOrg$ | async as activeOrg">
      <ng-container *ngIf="primaryOrg$ | async as primaryOrg">
        <app-active-org-card [org]="activeOrg" [isPrimaryOrg]="activeOrg.id === primaryOrg.id"></app-active-org-card>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #skeletonActiveOrg>
    <app-active-org-card [isLoading]="true"></app-active-org-card>
  </ng-template>

  <div class="switch-org__content-container">
    <div #content class="switch-org__content-container__block switch-org__content-container__content-block">
      <div class="switch-org__content-container__content d-flex">
        <div class="switch-org__content-container__content__sub-block">
          <div class="switch-org__content-container__content__title">Switch Organization</div>
          <div class="switch-org__content-container__content__sub-title">
            Select the organization you want to switch to.
          </div>
        </div>
        <ion-icon
          class="switch-org__content-container__content__icon"
          src="../../../assets/svg/fy-search.svg"
          (click)="openSearchBar()"
        ></ion-icon>
      </div>
    </div>
    <div #search class="switch-org__content-container__block switch-org__content-container__search-block">
      <div class="expense-report-search switch-org__searchbar-container">
        <mat-form-field
          appearance="outline"
          class="mat-form-field-no-padding switch-org__searchbar-container__searchbar"
        >
          <div class="d-flex">
            <mat-icon
              class="switch-org__searchbar-container__searchbar__search-icon"
              matPrefix
              svgIcon="fy-search"
            ></mat-icon>
            <input
              #searchOrgsInput
              [(ngModel)]="searchInput"
              matInput
              placeholder="Search for an org"
              autocomplete="off"
            />
            <button
              (click)="resetSearch()"
              *ngIf="searchInput.length"
              aria-label="Clear"
              class="switch-org__searchbar-container__searchbar__clear-icon"
              mat-button
              mat-icon-button
              matSuffix
            >
              <mat-icon svgIcon="fy-clear"></mat-icon>
            </button>
          </div>
        </mat-form-field>
        <div class="switch-org__searchbar-container__cancel" (click)="cancelSearch()">Cancel</div>
      </div>
    </div>
  </div>

  <div class="switch-org__orgs-container">
    <ng-container *ngIf="!isLoading; else skeletonOrgCards">
      <ng-container *ngIf="filteredOrgs$ | async as filteredOrgs">
        <ng-container *ngIf="filteredOrgs.length; else zeroState">
          <ng-container *ngIf="primaryOrg$ | async as primaryOrg">
            <app-org-card
              *ngFor="let org of filteredOrgs"
              [org]="org"
              [isPrimaryOrg]="org.id === primaryOrg.id"
              (selectOrg)="switchToOrg(org)"
            >
            </app-org-card>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-template #zeroState>
      <ng-container *ngIf="orgs$ | async as orgs">
        <ng-container *ngIf="orgs.length > 1">
          <app-fy-zero-state
            header="Sorry, no results found!"
            [message]="'We could not find what you were looking for.\nKindly check the keywords again.'"
            image="../../../assets/images/zero-states/search-not-found.svg"
            [unscaledImage]="true"
            [useNewStyling]="true"
          ></app-fy-zero-state>
        </ng-container>
      </ng-container>
    </ng-template>

    <ng-template #skeletonOrgCards>
      <app-org-card *ngFor="let dummy of [1,2,3,4,5,6]" [isLoading]="true"></app-org-card>
    </ng-template>
  </div>
</ion-content>
