@import '../../../theme/colors.scss';

.switch-org {
  &__toolbar {
    &__header-container {
      padding-top: 8px;
      padding-left: 12px;

      &__header {
        height: 30px;
        width: 84px;
      }
    }

    &__icon-container {
      color: $red;
      text-transform: none;

      &__icon {
        padding-right: 4px;
      }
    }
  }

  &__content-container {
    position: sticky;
    top: 0;
    z-index: 5;

    &__block {
      position: absolute;
      top: 0;
      background-color: $pure-white;
      padding: 0 16px;
    }

    &__content-block {
      z-index: 4;
      width: 100%;
      opacity: 1;
      transition: all 0.3s;

      &--hide {
        opacity: 0;
      }
    }

    &__search-block {
      z-index: 3;
      opacity: 0;
      width: 0;
      right: 0;
      transition: all 0.2s;

      &--show {
        z-index: 100 !important;
        opacity: 1 !important;
        width: 100% !important;
      }
    }

    &__content {
      justify-content: space-between;
      padding: 16px 0 20px;

      &__sub-block {
        width: calc(100% - 34px);
      }

      &__title {
        font-size: 18px;
        font-weight: 500;
        color: $black;
      }

      &__sub-title {
        color: $black-light;
        padding-top: 4px;
      }

      &__icon {
        height: 20px;
        width: 20px;
        padding: 6px;
        border: 1px solid $black-light;
        border-radius: 4px;
      }
    }
  }

  &__searchbar-container {
    display: flex;
    align-items: center;
    height: 62px;
    padding-top: 8px;

    mat-form-field {
      ::ng-deep .mat-form-field-outline {
        color: $black-light !important;
      }
    }

    &__searchbar {
      width: 100%;
      font-size: 14px;

      &__search-icon {
        font-size: 18px;
        margin: auto 8px auto 0;
        color: $black-light;
        height: auto;
      }

      &__clear-icon {
        margin: -10px;
        font-size: 18px;
        background-color: transparent;
      }
    }

    &__cancel {
      color: $black-light;
      padding-left: 8px;
    }
  }

  &__orgs-container {
    position: relative;
    top: 80px;
    padding: 16px;
  }
}
