@import '../../../../theme/colors';

.stats {
  &--menu-button {
    padding: 8px;
  }
  &--header-bar {
    padding-top: 12px;
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 0;
  }

  &--body {
    padding-top: 0;
    --ion-grid-padding: 16px;
  }

  &--title {
    align-items: center;
    position: relative;
    font-size: 20px;
    line-height: 26px;
    color: $black;
    font-weight: 500;
    padding: 6px 0;
  }

  &--action-shortcut-icon {
    font-size: 24px;
  }

  &--action-shortcut {
    text-align: right;
    padding: 0 20px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }

  &--background {
    top: 0;
    box-shadow: 0px -2px 8px rgb(215 215 215 / 25%);
    min-height: 320px;
    background: url('../../../../assets/images/new-background.png') no-repeat bottom;
    background-size: 105%;
  }

  &--header {
    font-size: 14px;
    line-height: 18px;
    color: $grey-light;
  }

  &--wave-path-container {
    height: 0;
    position: absolute;
  }

  &--wave-path {
    transform-origin: center;
    transform-box: fill-box;
    transform: scale(1, -1);
  }

  &--expenses-card {
    position: relative;
    top: -64px;
    background: $pure-white;
    box-shadow: 0px -2px 40px rgb(215 215 215 / 40%);
    border-radius: 16px;
    width: 90%;
    margin: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 4px;
  }

  &--expenses-count, &--expenses-amount {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: $black;
  }

  &--expenses-amount {
    text-align: right;
  }

  &--expenses-title {
    font-size: 16px;
    line-height: 20px;
    color: $blue-black;
  }

  &--expenses-skeleton-text {
    height: 18px;
    &__width-small {
      width: 33%;
    }

    &__width-medium {
      width: 66%;
    }

    &__width-large {
      width: 80%;
    }

    &__align-right {
      margin-left: auto;
    }
  }

  &--zero-state {
    position: relative;
    top: -96px;
  }
}
