@import '../../../../theme/colors';

$ccc-bank-name: #c4cae8;

.stats {
  &--menu-button {
    padding: 8px;
  }
  &--header-bar {
    padding-top: 12px;
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 0;
  }

  &--body {
    padding-top: 0;
    --ion-grid-padding: 16px;
  }

  &--background {
    top: 0;
    box-shadow: 0px -2px 8px rgb(215 215 215 / 25%);
    min-height: 420px;
    background: url('../../../../assets/images/new-background.png') no-repeat bottom;
    background-size: 105% 105%;
  }

  &--header {
    font-size: 14px;
    line-height: 18px;
    color: $grey-light;
    font-weight: 500;
  }

  &--expenses-card {
    position: relative;
    top: -64px;
    background: $pure-white;
    box-shadow: 0px -2px 40px rgb(215 215 215 / 40%);
    border-radius: 16px;
    width: calc(100% - 32px);
    margin: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 8px 6px 12px;
  }

  &--expenses-title-col {
    padding-top: 3px;
  }

  &--expenses-count,
  &--expenses-amount {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: $black;
  }

  &--expenses-amount-currency {
    font-size: 12px;
    line-height: 15px;
    color: $black-light;
  }

  &--expenses-amount {
    text-align: right;
  }

  &--expenses-title {
    font-size: 16px;
    line-height: 20px;
    color: $blue-black;
  }

  &--zero-state {
    position: relative;
    top: -96px;
  }

  &--report-badge-col {
    padding-top: 0;
    &__left {
      padding-left: 0;
      padding-right: 4px;
    }

    &__right {
      padding-left: 4px;
      padding-right: 0;
    }

    &__top {
      padding-bottom: 4px;
    }

    &__bottom {
      padding-top: 4px;
    }
  }

  &--report-stats-row {
    padding-bottom: 18px;
    padding-top: 8px;
    --ion-grid-column-padding: 0;
  }

  &--expenses-stats-row {
    padding-bottom: 18px;
    padding-top: 18px;
    --ion-grid-column-padding: 0;
  }
}
