<div class="stats">
  <div class="stats--background">
  <ion-header mode="md">
    <ion-toolbar class="stats--toolbar">
      <ion-buttons slot="start">
        <app-fy-menu-icon></app-fy-menu-icon>
      </ion-buttons>
      <ion-title mode="md">
        Home
      </ion-title>
      <ion-buttons slot="end">
        <div class="stats--action-shortcut" (click)="openAddExpenseActionSheet()">
          <mat-icon svgIcon="fy-plus"></mat-icon>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
    <ion-grid class="stats--body">
      <ion-row class="stats--report-stats-row" *ngIf="isConnected$|async">
        <ion-col>
          <div class="stats--header">
            Reports
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isConnected$|async">
        <ion-col size="6">
          <app-stat-badge [currency]="homeCurrency$|async"
                          [name]="'Draft'"
                          [reportState]="ReportStates.DRAFT"
                          [count]="(draftStats$|async)?.count"
                          [value]="(draftStats$|async)?.sum"
                          [loading]="reportStatsLoading"
                          (badgeClicked)="goToReportsPage($event)"></app-stat-badge>
        </ion-col>
        <ion-col size="6">
          <app-stat-badge [currency]="homeCurrency$|async"
                          [name]="'Reported'"
                          [reportState]="ReportStates.APPROVER_PENDING"
                          [count]="(reportedStats$|async)?.count"
                          [value]="(reportedStats$|async)?.sum"
                          [loading]="reportStatsLoading"
                          (badgeClicked)="goToReportsPage($event)"
          ></app-stat-badge>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isConnected$|async">
        <ion-col size="6">
          <app-stat-badge [currency]="homeCurrency$|async"
                          [name]="'Approved'"
                          [reportState]="ReportStates.APPROVED"
                          [count]="(approvedStats$|async)?.count"
                          [value]="(approvedStats$|async)?.sum"
                          [loading]="reportStatsLoading"
                          (badgeClicked)="goToReportsPage($event)"
          ></app-stat-badge>
        </ion-col>
        <ion-col size="6">
          <app-stat-badge [currency]="homeCurrency$|async"
                          [name]="'Payment Pending'"
                          [reportState]="ReportStates.PAYMENT_PENDING"
                          [count]="(paymentPendingStats$|async)?.count"
                          [value]="(paymentPendingStats$|async)?.sum"
                          [loading]="reportStatsLoading"
                          (badgeClicked)="goToReportsPage($event)"
          ></app-stat-badge>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isConnected$|async">
        <ion-col>
          <div class="stats--header">
            Expenses
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="isConnected$|async; else offlineMessage" class="stats--expenses-card" matRipple (click)="goToExpensesPage()">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="stats--expenses-count">
            <ng-container *ngIf="unreportedExpensesCount$ | async as unreportedExpensesCount; else expenseCountSkeleton">
              {{unreportedExpensesCount?.count}}
            </ng-container>
            <ng-template #expenseCountSkeleton>
              <ion-skeleton-text class="stats--expenses-skeleton-text stats--expenses-skeleton-text__width-small" animated></ion-skeleton-text>
            </ng-template>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="stats--expenses-amount">
            <ng-container *ngIf="unreportedExpensesAmount$ | async as unreportedExpensesAmount; else expenseAmountSkeleton">
              {{ unreportedExpensesAmount?.amount | humanizeCurrency: (homeCurrency$|async): 2}}
            </ng-container>
            <ng-template #expenseAmountSkeleton>
              <ion-skeleton-text class="stats--expenses-skeleton-text stats--expenses-skeleton-text__width-medium stats--expenses-skeleton-text__align-right" animated></ion-skeleton-text>
            </ng-template>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="stats--expenses-title">
            <ng-container *ngIf="unreportedExpensesAmount$|async; else unreportedExpensesStatsSkeleton">
              Unreported Expenses
            </ng-container>
            <ng-template #unreportedExpensesStatsSkeleton>
              <ion-skeleton-text class="stats--expenses-skeleton-text stats--expenses-skeleton-text__width-large" animated></ion-skeleton-text>
            </ng-template>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ng-template #offlineMessage>
    <div class="stats--zero-state">
      <app-fy-zero-state class="stats--zero-state" image="../../../../assets/images/no-internet.svg"
                         header="You're Offline!" message="Fear not, you can still add expenses offline."
                         [unscaledImage]="true" [useNewStyling]="true"></app-fy-zero-state>
    </div>
  </ng-template>
</div>

