@import '../../../../theme/colors';

.stats {
  &--menu-button {
    padding: 8px;
  }
  &--header-bar {
    padding-top: 12px;
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 0;
  }

  &--body {
    padding-top: 0;
    --ion-grid-padding: 16px;
  }

  &--title {
    --color: $black-2;
  }

  &--toolbar {
    --background: none;
  }

  &--action-shortcut-icon {
    font-size: 24px;
  }

  &--action-shortcut {
    padding-right: 12px;
    padding-top: 2px;
  }

  &--background {
    top: 0;
    box-shadow: 0px -2px 8px rgb(215 215 215 / 25%);
    min-height: 360px;
    background: url('../../../../assets/images/new-background.png') no-repeat bottom;
    background-size: 105%;
  }

  &--header {
    font-size: 14px;
    line-height: 18px;
    color: $grey-light;
    font-weight: 500;
  }

  &--wave-path-container {
    height: 0;
    position: absolute;
  }

  &--wave-path {
    transform-origin: center;
    transform-box: fill-box;
    transform: scale(1, -1);
  }

  &--expenses-card {
    position: relative;
    top: -64px;
    background: $pure-white;
    box-shadow: 0px -2px 40px rgb(215 215 215 / 40%);
    border-radius: 16px;
    width: calc(100% - 32px);
    margin: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 8px 6px 12px;
  }

  &--expenses-title-col {
    padding-top: 3px;
  }

  &--expenses-count, &--expenses-amount {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: $black;
  }

  &--expenses-amount-currency {
    font-size: 12px;
    line-height: 15px;
    color: $black-light;
  }

  &--expenses-amount {
    text-align: right;
  }

  &--expenses-title {
    font-size: 16px;
    line-height: 20px;
    color: $blue-black;
  }

  &--expenses-skeleton-text {
    height: 18px;
    &__width-small {
      width: 33%;
    }

    &__width-medium {
      width: 66%;
    }

    &__width-large {
      width: 80%;
    }

    &__align-right {
      margin-left: auto;
    }
  }

  &--zero-state {
    position: relative;
    top: -96px;
  }

  &--report-badge-col {
    padding-top: 0;
    &__left {
      padding-left: 0;
      padding-right: 4px;
    }

    &__right {
      padding-left: 4px;
      padding-right: 0;
    }

    &__top {
      padding-bottom: 4px;
    }

    &__bottom {
      padding-top: 4px;
    }
  }

  &--report-stats-row {
    padding-bottom: 18px;
    padding-top: 8px;
    --ion-grid-column-padding: 0;
  }

  &--expenses-stats-row {
    padding-bottom: 18px;
    padding-top: 19px;
    --ion-grid-column-padding: 0;
  }

  &--ccc-cards-section {
    position: relative;
    top: -48px;
  }

  &--header {
    font-size: 14px;
    line-height: 18px;
    color: $grey-light;
  }

  &--pager-dots{
    position: relative;
    top: 6px;
    float: right;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    box-shadow: 0 0 1px 1px #A9ACBC;;
    margin-right: 8px;
    cursor: pointer;

    &__active {
      width: 16px;
      border-radius: 4px;
      background-color: #A9ACBC;
    }
  }

  &--card-section {
    position: relative;
    left: 43%;
    padding: 8px;
    transform: translate(-50%, 0);
    min-height: 105px;
    width: 86%;
    background: #414562;
    box-shadow: 0px 2px 8px rgba(215, 215, 215, 0.5);
    border-radius: 10px;
    z-index: 999;

    &__bubble-icon {
      position: relative;
      left: 80%;
      width: 80px;
      height: 100%;
      bottom: 0;
    }
  }

  &--bank {
    color: #C4CAE8;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.08em;
  }

  &--stats {
    min-height: 280px;
    padding: 66px 32px 32px 32px;
    background: #FFFFFF;
    border-radius: 16px;
    width: 92%;
    position: relative;
    left: 46%;
    transform: translate(-50%, 0px);
    bottom: 54px;
  }

  &--card-info {
    background: rgba(255, 255, 255, 0.12);
    width: 110px;
    height: 20px;
    font-size: 12px;
    border-radius: 4px;
    padding: 0 4px;
    float: right;
    color: #C4CAE8;
  }

  &--sync-detail {
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: -0.005em;
    line-height: 20px;
    padding: 0 8px 8px;
  }

  &--start-info {
    color: #A9ACBC;
    font-size: 12px;
  }

  &--classified-stats {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;

    &__margin-top {
      margin-top: 24px;
    }
  }

  &--classified-count, &--classified-amount {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: $black;
  }

  &--stats-title {
    font-size: 16px;
    line-height: 20px;
    --color: $black-2;
  }

  &--border-bottom {
    border-bottom: 1px solid #DFDFE2;
    margin-top: 24px;
  }

  ion-slide {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

}
