@use '../../../../theme/colors';

$ccc-bank-name: #c4cae8;

.stats {
  &--menu-button {
    padding: 8px;
  }
  &--header-bar {
    padding-top: 12px;
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 0;
  }

  &--body {
    padding-top: 0;
    --ion-grid-padding: 16px;
  }

  &--header {
    font-size: 14px;
    line-height: 18px;
    color: colors.$black-light;
    font-weight: 500;
  }

  &--expenses-card {
    position: relative;
    top: -64px;
    background: colors.$pure-white;
    box-shadow: 0px -2px 40px rgb(215 215 215 / 40%);
    border-radius: 16px;
    width: calc(100% - 32px);
    margin: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 8px 6px 12px;
  }

  &--expenses-title-col {
    padding-top: 3px;
  }

  &--expenses-count,
  &--expenses-amount {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: colors.$black;
  }

  &--expenses-amount-currency {
    font-size: 12px;
    line-height: 15px;
    color: colors.$black-light;
  }

  &--expenses-amount {
    text-align: right;
  }

  &--expenses-title {
    font-size: 16px;
    line-height: 20px;
    color: colors.$blue-black;
  }

  &--report-badge-col {
    padding-top: 0;
    &__left {
      padding-left: 0;
      padding-right: 4px;
    }

    &__right {
      padding-left: 4px;
      padding-right: 0;
    }

    &__top {
      padding-bottom: 4px;
    }

    &__bottom {
      padding-top: 4px;
    }
  }

  &--report-stats-row {
    padding: 24px 0 20px 0;
    --ion-grid-column-padding: 0;
  }

  &--report-stats-row-team {
    padding: 10px 0 20px 0;
    --ion-grid-column-padding: 0;
  }

  &--expenses-stats-row {
    padding: 24px 0 20px 0;
    --ion-grid-column-padding: 0;
  }

  .approval-pending-stat {
    margin-top: 14px;
    padding: 0 5px;
  }
}
