@import '../../../../theme/colors.scss';

.add-corporate-card {
  position: relative;

  &__toolbar-title {
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    color: $black;
  }

  &__toolbar-close-btn {
    position: absolute;
  }

  &__content {
    padding-top: 16px;
    padding-inline: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__input-container {
    padding: 16px 16px 24px 16px;
    border-radius: 8px;
    border: 1px solid $black-light;

    &__label {
      font-size: 12px;
      color: $black-light;
    }

    &__mandatory {
      color: $red;
    }

    &__input {
      border: 0;
      border-radius: 0;
      color: $blue-black;
      width: 100%;
      padding-bottom: 6px;
      border-bottom: 1px solid $grey;

      &__error {
        border-bottom: 1px solid $red;
      }
    }

    &__input:focus {
      border-bottom: 1px solid $black-light;
    }

    &__error {
      color: $red;
      font-size: 12px;
    }
  }

  &__view-tnc-btn {
    width: 100%;
    background: $pink-gradient;
    background-clip: text;
    color: transparent;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }

  &__view-tnc-btn-icon {
    width: 18px;
    height: 18px;
  }

  &__tnc {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__tnc-heading {
    font-weight: 500;
    color: $black;
  }

  &__tnc-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-position: inside;
    gap: 16px;

    & > * {
      line-height: normal;
    }
  }

  &__tnc-link {
    color: $blue-4;
    text-decoration: none;

    &__icon {
      width: 16px;
      height: 16px;
      vertical-align: bottom;
    }
  }

  &__footer {
    padding: 16px;
  }
}
