$header-border: #ddd;
$header-input: #f8f8f8;
$sub-title: #ababab;
$list-element-color: #333;

.selection-modal {
  color: black;
  &--list-element {
    padding: 14px;
    border-bottom: 1px solid $header-border;
    font-size: 16px;
    color: $list-element-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--title {
    padding: 24px 0;
    font-size: 24px;
    font-weight: 600;
    height: 100%;
    line-height: 1.3;
  }

  &--header {
    margin: 0;
    padding: 10px 15px;
    font-size: 14px;
    border-bottom: 1px solid $header-border;
    color: $sub-title
  }

  &--search-input {
    padding: 0 12px;
    font-size: 16px;
  }

  &--form-field {
    font-size: 11px;
    width: 94%;
    padding: 4px;
    .mat-form-field-wrapper {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px !important;
    }
  }

  &--search-icon {
    font-size: 14px;
  }

  &--form-field-container {
    text-align: center;
  }

  &--selected-list-element {
    height: auto;
    width: auto;
    font-size: 16px;
  }
}
