<ion-header mode="md" >
  <ion-toolbar mode="md">
    <ion-title>
      <div class="selection-modal--title">
        {{header}}
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDoneClick()">
        <mat-icon>close</mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="selection-modal--form-field-container">
    <mat-form-field class="selection-modal--form-field mat-form-field-no-padding" appearance="outline">
      <input #searchBar id="selection-modal--search-input" class="selection-modal--search-input" matInput placeholder="Search">
    </mat-form-field>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="selection-modal--header">
    {{header | lowercase}} {{selectedValue}}
  </div>
  <div matRipple class="selection-modal--list-element"
    *ngFor="let filteredListItem of filteredList$ | async as list" (click)="onElementSelect(filteredListItem)">
    <div>
      {{filteredListItem}}
    </div>
    <div *ngIf="filteredListItem === selectedValue">
      <mat-icon class="selection-modal--selected-list-element">
        check
      </mat-icon>
    </div>
  </div>
</ion-content>
