<div
  *ngIf="type !== 'TEAM_REPORT' && type !== 'ADVANCE_REQUEST'"
  class="approver--card"
  (click)="openApproverListDialog()"
>
  <div class="approver--card-action">
    <mat-icon class="approver--card-action-icon">add_circle</mat-icon>
    <div class="approver--card-action-text approver--card-action-text__comment">Add Approver</div>
  </div>
</div>
<div *ngIf="type === 'TEAM_REPORT' || type === 'ADVANCE_REQUEST'" (click)="openApproverListDialog()">
  <img [src]="'../../../../assets/svg/edit.svg'" class="approver--icon" />
</div>
