.approver {
  &--card {
    margin: 16 0;
    padding: 16px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
  }

  &--card-action {
    display: flex;
    align-items: center;
  }

  &--card-action-icon {
    color: #ababab;
    margin-right: 16px;
  }

  &--card-action-text {
    font-size: 16px;

    &__comment {
      color: #0077ee;
    }
    &__delete {
      color: #f00;
    }
  }

  &--icon {
    margin-bottom: -2px;
  }
}
