@if (type !== 'TEAM_REPORT' && type !== 'ADVANCE_REQUEST') {
  <div class="approver--card" (click)="openApproverListDialog()">
    <div class="approver--card-action">
      <mat-icon class="approver--card-action-icon">add_circle</mat-icon>
      <div class="approver--card-action-text approver--card-action-text__comment">
        {{ 'fyApprover.addApprover' | transloco }}
      </div>
    </div>
  </div>
}
@if (type === 'TEAM_REPORT' || type === 'ADVANCE_REQUEST') {
  <div (click)="openApproverListDialog()">
    <ion-icon [src]="'../../../../assets/svg/edit.svg'" class="approver--icon" slot="icon-only"></ion-icon>
  </div>
}
