<ion-content>
  <ion-grid class="disabled--header-container">
    <ion-row class="disabled--header ion-align-items-center">
      <ion-col class="disabled--header-logo-container">
        <img class="disabled--header-logo" src="../../../assets/svg/fyle-logo-light.svg" alt="fyle-logo-dark" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="disabled--body">
    <div id="disabled--header" class="disabled--body-header">Account Disabled</div>
    <img class="disabled--image" src="../../../assets/images/stop.svg" alt="Stop" />
    <div class="disabled--subtext">
      This account is no longer active. Please contact your company admin for details.
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar mode="md">
    <ion-button fill="clear" expand="full" (click)="onGotoSignInClick()">
      <span class="disabled--greyed"> Incorrect Account? </span>
      Try Signing in Again
    </ion-button>
  </ion-toolbar>
</ion-footer>
