<ion-content>
  <div class="disabled-user">
    <div class="disabled-user__content-container">
      <div class="disabled-user__error-icon-container">
        <ion-icon
          class="disabled-user__error-icon"
          [src]="'/assets/svg/error-outlined.svg'"
          slot="icon-only"
        ></ion-icon>
      </div>
      <section class="disabled-user__text">
        <h1 class="disabled-user__header">Account disabled</h1>
        <p class="disabled-user__content">
          This account is no longer active. Please contact your company admin for details.
        </p>
      </section>
    </div>
    <div class="disabled-user__cta">
      <ion-button
        mat-flat-button
        (click)="onGotoSignInClick()"
        class="btn-primary"
        fill="clear"
        aria-label="Navigate back to sign in page"
        role="button"
      >
        <div class="disabled-user__cta-content">
          <ion-icon class="disabled-user__arrow-icon" [src]="'/assets/svg/arrow-left.svg'" slot="icon-only"></ion-icon>
          <span class="disabled-user__cta-text">Back to Sign In</span>
        </div>
      </ion-button>
    </div>
  </div>
</ion-content>
