@use '../../../theme/colors.scss';

.disabled-user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
  }

  &__arrow-icon {
    fill: colors.$pure-white;
    margin-right: 8px;
  }

  &__cta-text {
    font-size: 14px;
    font-weight: 500;
  }

  &__cta {
    margin: 0 20px 24px 20px;
  }

  &__cta-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__error-icon-container {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background: colors.$pale-pink;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
  }

  &__error-icon {
    width: 45px;
    height: 45px;
  }

  &__text {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: column;
  }

  &__header {
    color: colors.$black;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 26px;
    margin: 0;
  }

  &__content {
    color: colors.$black-light;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    height: 36px;
    width: 274px;
  }
}
