<div class="tooltip-container">
  <ng-container>
    <div class="tooltip" role="tooltip">
      <div class="tooltip__text" role="heading">{{ 'passwordCheckTooltip.heading' | transloco }}</div>
      <ul class="tooltip__list" role="list" [attr.aria-label]="'passwordCheckTooltip.ariaLabel' | transloco">
        @for (criteria of passwordCriteria; track criteria) {
          <li class="tooltip__list__check">
            @if (!criteria.isValid) {
              <ion-icon
                class="tooltip__list__check__icon tooltip__list__check__invalid"
                src="../../../assets/svg/check-circle-outline.svg"
              ></ion-icon>
            }
            @if (criteria.isValid) {
              <ion-icon
                class="tooltip__list__check__icon tooltip__list__check__valid"
                src="../../../assets/svg/check-circle-fill.svg"
              ></ion-icon>
            }
            <span>{{ criteria.message }}</span>
          </li>
        }
      </ul>
    </div>
  </ng-container>
</div>
