<div class="tooltip-container">
  <ng-container *ngIf="passwordChecks">
    <div class="tooltip" role="tooltip">
      <div class="tooltip__text" role="heading">Password should contain:</div>
      <ul class="tooltip__list" role="list" aria-label="Password requirements checklist">
        <li class="tooltip__list__check" [class.valid]="passwordChecks.lengthValid">
          <ion-icon
            *ngIf="!passwordChecks.lengthValid"
            class="tooltip__list__check__icon tooltip__list__check__invalid"
            src="../../../assets/svg/check-circle-outline.svg"
          ></ion-icon>
          <ion-icon
            *ngIf="passwordChecks.lengthValid"
            class="tooltip__list__check__icon tooltip__list__check__valid"
            src="../../../assets/svg/check-circle-fill.svg"
          ></ion-icon>
          <span>12 to 32 characters</span>
        </li>
        <li class="tooltip__list__check" [class.valid]="passwordChecks.uppercaseValid">
          <ion-icon
            *ngIf="!passwordChecks.uppercaseValid"
            class="tooltip__list__check__icon tooltip__list__check__invalid"
            src="../../../assets/svg/check-circle-outline.svg"
          ></ion-icon>
          <ion-icon
            *ngIf="passwordChecks.uppercaseValid"
            class="tooltip__list__check__icon tooltip__list__check__valid"
            src="../../../assets/svg/check-circle-fill.svg"
          ></ion-icon>
          <span>1 uppercase character</span>
        </li>
        <li class="tooltip__list__check" [class.valid]="passwordChecks.lowercaseValid">
          <ion-icon
            *ngIf="!passwordChecks.lowercaseValid"
            class="tooltip__list__check__icon tooltip__list__check__invalid"
            src="../../../assets/svg/check-circle-outline.svg"
          ></ion-icon>
          <ion-icon
            *ngIf="passwordChecks.lowercaseValid"
            class="tooltip__list__check__icon tooltip__list__check__valid"
            src="../../../assets/svg/check-circle-fill.svg"
          ></ion-icon>
          <span>1 lowercase character</span>
        </li>
        <li class="tooltip__list__check" [class.valid]="passwordChecks.numberValid">
          <ion-icon
            *ngIf="!passwordChecks.numberValid"
            class="tooltip__list__check__icon tooltip__list__check__invalid"
            src="../../../assets/svg/check-circle-outline.svg"
          ></ion-icon>
          <ion-icon
            *ngIf="passwordChecks.numberValid"
            class="tooltip__list__check__icon tooltip__list__check__valid"
            src="../../../assets/svg/check-circle-fill.svg"
          ></ion-icon>
          <span>1 number</span>
        </li>
        <li class="tooltip__list__check" [class.valid]="passwordChecks.specialCharValid">
          <ion-icon
            *ngIf="!passwordChecks.specialCharValid"
            class="tooltip__list__check__icon tooltip__list__check__invalid"
            src="../../../assets/svg/check-circle-outline.svg"
          ></ion-icon>
          <ion-icon
            *ngIf="passwordChecks.specialCharValid"
            class="tooltip__list__check__icon tooltip__list__check__valid"
            src="../../../assets/svg/check-circle-fill.svg"
          ></ion-icon>
          <span>1 special character</span>
        </li>
      </ul>
    </div>
  </ng-container>
</div>
