@use '../../../../theme/colors';
.tooltip-container {
  position: absolute;
  z-index: 1000;
  border-radius: 8px;
  background: colors.$pure-white;
  color: colors.$blue-black;
  margin-top: 6px;
  margin-left: 40%;
  box-shadow: 0 4px 8px rgba(44, 48, 78, 0.1);

  .tooltip {
    display: inline-flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    background: colors.$pure-white;

    // Add the tooltip arrow
    &::before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 10%;
      transform: translateX(-50%);
      border-width: 8px;
      border-style: solid;
      border-color: transparent transparent colors.$pure-white transparent;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: calc(100% - 1px);
      left: 10%;
      transform: translateX(-50%);
      border-width: 8px;
      border-style: solid;
      border-color: transparent transparent colors.$pure-white transparent;
      filter: drop-shadow(0px 2px 10px rgba(44, 48, 78, 0.1));
    }

    &__text {
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.25;
    }

    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 12px;
      line-height: 1.25;
      display: flex;
      flex-direction: column;
      gap: 6px;

      &__check {
        display: flex;
        align-items: center;
        align-content: center;
        gap: 4px;
        flex-wrap: wrap;

        &__icon {
          width: 12px;
          height: 12px;
        }

        &__valid {
          fill: colors.$green;
        }

        &__invalid {
          fill: colors.$grey-light;
        }
      }
    }
  }
}
