$logo: #25ae88;

.verify-email {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  &--body {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 36px;
  }

  &--logo {
    font-size: 90px;
    color: $logo;
  }

  &--header {
    font-size: 20px;
  }

  &--subheader {
    font-size: 18px;
    line-height: 1.5;
    color: #4a4a4a;
    margin-top: 15px;
  }

  &--footer {
    padding: 36px;
  }

  &--footer-header {
    color: #f90;
    font-size: 14px;
    margin: 0 0 10px;
  }

  &--footer-body {
    color: #4a4a4a;
    line-height: 1.5;
    font-size: 14px;
  }
}
