<ion-content>
  <div class="verify-email">
    <div class="verify-email--body">
      <div>
        <mat-icon class="verify-email--logo">
          check_circle
        </mat-icon>
      </div>
      <div class="verify-email--header">
        You're all set {{name}}
      </div>
      <div class="verify-email--subheader">
        <p>We’ve <span *ngIf="!success">sent</span> <span *ngIf="success">re-sent</span> an email to {{email}} with a
          link to access your new Fyle account.</p>
      </div>
    </div>
    <div class="verify-email--footer">
      <p class="verify-email--footer-header">Can’t find the email?</p>
      <p class="verify-email--footer-body">Our emails might land into your spam folder at times, please check once.
        <span *ngIf="!success"><a (click)="resendVerification()"> Click here</a> to re-send the verification
          email.</span>
        If you can’t find it, write to us at <a href="mailto:support@fylehq.com">support@fylehq.com</a> and we will take care
        of
        this.
      </p>
    </div>
  </div>
</ion-content>
