@import "../../../../theme/colors.scss";

.fy-select {
  &--label {
    width: 100%;
    background-color: inherit;
    font-weight: 400;
  }

  &--label-content {
    margin: 0 8px 0 0;
    max-width: 90%;
    min-width: 120px;
    font-size: 12px;
    color: $black-light;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &--input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px solid $grey-lighter;
  }

  &--input {
    font-size: 14px;
    line-height: 18px;
    color: $blue-black;
    border: none;
    width: 100%;
    padding: 0;
  }

  &--input-invalid {
    border-bottom: 1px solid $red;
  }

  &--mandatory {
    color: $primary;
    font-size: 14px;
    font-weight: 400;
  }

  &--icon {
    color: $grey-light;
  }

  &--input-disabled {
    opacity: 0.5;
  }
}
