.fy-select {
  $invalid: #DA1E28;
  $placeholder: #A9ACBC;

  &--label {
    width: 100%;
    background-color: inherit;
    font-weight: 400;
  }

  &--label-content {
    margin: 0 8px 0 0;
    max-width: 90%;
    min-width: 120px;
    font-size: 12px;
    color: #5A5D72;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &--input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px solid #DFDFE2;
  }

  &--input {
    font-size: 14px;
    line-height: 18px;
    color: #2C304E;
    border: none;
    width: 100%;
    padding: 0;
  }

  &--input-invalid {
    border-bottom: 1px solid $invalid;
  }

  &--mandatory {
    color: #FF3366;
    font-size: 14px;
    font-weight: 400;
  }

  &--icon {
    color: $placeholder;
  }

  input::placeholder {
    color: $placeholder;
  }

  &--input-disabled {
    opacity: 0.5;
  }
}
