@import '../../../../theme/colors';

.receipt-preview-thumbnail {
    &--actions {
        width:100%;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        color: $black-light;
    }

    &--add-more {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
    }

    &--icon {
        margin: 5px;
        font-size: 16px;
        display: block;
        color: $primary;
        font-weight: normal;
    }

    &--receipt-index {
        font-size: 12px;
        color: $black-light;
        margin-top: 5px;
    }

    &--controls {
        position: relative;
        z-index: 99;
    }

    &--container {
        height: 220px;
        width: 100%;
        padding: 0px;
        border-radius: 4px;
        margin-top: 8px;

    }

    &--slide {
        width: auto !important;
    }

    &--image {
        height: 220px;
    }

    &--pdf-viewer {
        display: block;
        height: 220px;
    }

    &--go-back {
        position: absolute;
        top: 15vh;
        font-size: 18px;
        padding: 12px;
        color: $black;
    }

    &--go-forward {
        position: absolute;
        top: 15vh;
        left: 80vw;
        font-size: 18px;
        padding: 12px;
        color: $black;
    }

}