<ng-container *ngIf="attachments.length > 1">
  <div class="receipt-preview-thumbnail--controls">
    <mat-icon class="receipt-preview-thumbnail--go-back" (click)="goToPrevSlide()">
      arrow_back_ios
    </mat-icon>
    <mat-icon class="receipt-preview-thumbnail--go-forward" (click)="goToNextSlide()">
      arrow_forward_ios
    </mat-icon>
  </div>
</ng-container>

<div class="receipt-preview-thumbnail--actions">
  <div class="receipt-preview-thumbnail--receipt-index" (click)="tolast()">
    Receipt <ng-container *ngIf="attachments.length > 1">{{activeIndex + 1}}/{{attachments.length}} </ng-container>
  </div>
  <div (click)="addAttachments($event)" class="receipt-preview-thumbnail--add-more">
    <ion-icon slot="icon-only" class="receipt-preview-thumbnail--icon" src="assets/svg/fy-plus.svg"></ion-icon>
    Add More
  </div>
</div>

<ion-slides #slides [options]="sliderOptions" (ionSlidesDidLoad)="getActiveIndex()"
  (ionSlideDidChange)="getActiveIndex()">
  <ng-container *ngFor="let attachment of attachments">
    <ion-slide (click)="previewAttachments()">
      <div class="receipt-preview-thumbnail--container">
        <pinch-zoom class="pinch-zoom" *ngIf="attachment?.type !== 'pdf'" backgroundColor="white">
          <img class="receipt-preview-thumbnail--image" [src]="attachment?.url" />
        </pinch-zoom>
        <div class="receipt-preview-thumbnail--image" *ngIf="attachment?.type === 'pdf'">
          <pinch-zoom class="pinch-zoom" *ngIf="attachment?.type == 'pdf'" backgroundColor="white">
            <pdf-viewer [page]="1" [src]="attachment?.url" [original-size]="false" [render-text]='true'
              [show-all]="false" style="display: block; height: 400px;" [fit-to-page]="true"></pdf-viewer>
          </pinch-zoom>
        </div>
      </div>
    </ion-slide>
  </ng-container>
</ion-slides>