<div *ngIf="!showDate" class="advance-card--date">
  {{ advanceRequest.created_at | date : 'MMM dd, YYYY' }}
</div>

<div class="advance-card" (click)="onAdvanceClick()" [ngClass]="{ 'advance-card__with-border': showDate }">
  <div class="advance-card--divider" *ngIf="showDate"></div>
  <div class="advance-card--main-info">
    <div class="advance-card--purpose-amount-date-block">
      <!-- Icon -->
      <div class="advance-card--icon-container">
        <mat-icon class="advance-card--list-icon" svgIcon="list-new"></mat-icon>
      </div>

      <div class="advance-card--purpose-amount-date-container">
        <!-- Purpose -->
        <div class="advance-card--purpose">
          <span>{{ advanceRequest.purpose | ellipsis : 30 }}</span>
        </div>

        <!-- Amount -->
        <div class="advance-card--amount-block">
          <span class="advance-card--currency">{{ currencySymbol }}</span>
          <span class="advance-card--amount">
            {{
              {
                value: advanceRequest.orig_amount || advanceRequest.amount || 0,
                currencyCode: advanceRequest.currency,
                skipSymbol: true
              } | exactCurrency
            }}
          </span>
        </div>

        <!-- Approval date -->
        <div class="advance-card--approval">
          <div *ngIf="advanceRequest.areq_approved_at">
            <span
              >{{ 'myAdvancesCard.approvedDate' | transloco }}
              {{ advanceRequest.areq_approved_at | date : 'MMM dd, YYYY' }}</span
            >
          </div>
        </div>
      </div>
    </div>

    <div class="state-pill" [class]="'state-' + internalState.state">
      {{ internalState.name }}
    </div>
  </div>
</div>
