$advance_draft_color: #464D57;
$advance_pulled_back_color: #979797;
$advance_inquiry_color: #7e57c2;
$advance_pending_approval_color: #1ab6bb;
$advance_approved_color: #66bb6a;
$advance_paid_color: darken(#5cb85c, 15%);
$advance_rejected_color: #d50000;

.advance-card {
  &:first-child {
    margin-top: 12px;
  }

  &--header {
    color: #ababab;
    font-size: 16px;
    margin: 1px 16px;
  }

  &--body {
    margin: 8px 16px;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  &--info {
    font-size: 16px;
    color: #4a4a4a;
  }

  &--status {
    color: #ababab;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 300;
    padding-top: 12px;
    border-top: 1px solid #e0e0e0;
    margin-top: 12px;
  }

  &--pill {
    display: inline-block;
    background: #2196f3;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 4px;
    line-height: 1.5;

    &__draft {
      background: $advance_draft_color;
    }

    &__pulledBack {
      background: $advance_pulled_back_color;
    }

    &__inquiry {
      background: $advance_inquiry_color;
    }

    &__pendingApproval {
      background: $advance_pending_approval_color;
    }

    &__approved {
      background: $advance_approved_color;
    }

    &__paid {
      background: $advance_paid_color;
    }

    &__rejected {
      background: $advance_rejected_color;
    }

  }

  &--currency {
    color: #ababab;
  }
  &--amount {
    font-size: 18px;
    margin-left: 8px;
    font-weight: 700;
  }
}