@import '../../../../theme/colors.scss';
$advance_draft_color: #464d57;
$advance_pulled_back_color: #979797;
$advance_inquiry_color: #da1e28;
$advance_pending_approval_color: #1ab6bb;
$advance_approved_color: #66bb6a;
$advance_paid_color: darken(#5cb85c, 15%);
$advance_rejected_color: #d50000;

.advance-card {
  padding: 12px 12px 0 12px;
  background-color: $pure-white;

  &__with-border {
    padding-top: 0;
  }

  &--divider {
    border-bottom: 1px solid $grey-lighter;
    margin-bottom: 16px;
  }

  &--date {
    color: $black-light;
    padding: 16px 0 12px 16px;
    background-color: $white;
    font-weight: 500;
  }

  &--main-info {
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
  }

  &--list-icon {
    width: 16px;
    height: 16px;
    padding-top: 2px;
    color: $black-light;
  }

  &--purpose {
    line-height: 23px;
    color: $black-2;
    font-size: 14px;
    font-weight: 500;
    max-width: 70%;
    white-space: nowrap;
  }

  &--purpose-amount-date-block {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    width: 70%;
  }

  &--purpose-amount-date-container {
    width: 100%;
  }

  &--amount-block {
    margin-top: 10px;
  }

  &--currency {
    color: $black-light;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
  }

  &--amount {
    color: $black;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
  }

  &--secondary-info-block {
    display: flex;
    justify-content: space-between;
  }

  &--approval {
    margin-bottom: 8px;
  }
}
