<div *ngIf="!showDate" class="advance-card--date">
  {{ advanceRequest.created_at | date: 'MMM dd, yyyy' }}
</div>

<div class="advance-card" (click)="onAdvanceClick()" [ngClass]="{ 'advance-card__with-border': showDate }">
  <div class="advance-card--divider" *ngIf="showDate"></div>
  <div class="advance-card--main-info">
    <div class="advance-card--purpose-amount-block">
      <div class="advance-card--purpose">
        <span>{{ advanceRequest.purpose | ellipsis: 30 }}</span>
      </div>
      <div class="advance-card--amount-block">
        <span class="advance-card--currency">{{ currencySymbol }}</span>
        <span class="advance-card--amount"
          >{{ advanceRequest.orig_amount || advanceRequest.amount | humanizeCurrency: advanceRequest.currency:2:true }}
        </span>
      </div>
    </div>
  </div>

  <div class="advance-card--secondary-info">
    <div class="advance-card--secondary-info-block">
      <div class="advance-card--approval">
        <div *ngIf="advanceRequest.areq_approved_at">
          <span>Approved on {{ advanceRequest.areq_approved_at | date: 'MMM dd, yyyy' }}</span>
        </div>
      </div>
      <div class="advance-card--pill" [class]="'advance-card--pill__' + internalState.state">
        {{ internalState.name }}
      </div>
    </div>
  </div>
</div>
