@import '../../../theme/colors.scss';
@import '../../../theme/forms.scss';

.add-edit-per-diem {
  &--toolbar {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    &__review {
      min-height: 80px;
    }

    &__title {
      padding-right: 60px;
      text-align: center;
    }
  }

  &--header-btn-container {
    margin-right: 10px;
    &__btn {
      --padding-start: 8px !important;
      --padding-end: 8px !important;
      width: auto !important;
    }
  }

  &--sub-header {
    color: #ababab;
    font-size: 14px;
    font-weight: 400;
  }

  &--title {
    &__review {
      text-align: center;
      padding-inline-end: 0;
      position: relative;
      line-height: 26px;
      color: $black;
      font-weight: 400;
      top: 12px;
      height: 64px;
    }
  }

  &--footer {
    display: flex;
    justify-content: space-around;
  }

  &--footer-toolbar {
    &__offline {
      padding-bottom: 36px;
    }
  }

  &--cta-container {
    padding: 14px 16px;
    justify-content: space-between;
  }

  &--primary-cta,
  &--secondary-cta {
    height: 48px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    --border-radius: 4px !important;
    margin: 14px !important;
    width: 100%;
  }

  &--receipt-currency {
    display: flex;
    align-items: center;
  }

  &--comment {
    border: 1px solid #e0e0e0;
    padding: 12px;
    margin-bottom: 10px;
  }

  &--delete {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
  }

  &--delete-icon {
    font-size: 24px;
    color: #ababab;
  }

  &--delete-msg {
    font-size: 16px;
    margin: 4px 0 0 16px;
    color: #f00;
  }

  &--receipt {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #d8d8d8;
    padding: 20px 8px;
    border-radius: 4px;
    color: #ababab;
    margin: 12px 4px 12px 0;
  }

  &--currency {
    margin: 18px 0;
  }

  &--form {
    padding: 0 16px 16px 16px;
  }

  &--mandatory {
    color: $brand-primary;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
  }

  &--from-date {
    margin-right: 8px;
  }

  &--to-date {
    margin-left: 8px;
  }

  &--num-days-error {
    margin-top: -8px !important;
  }

  &--date {
    border-bottom: 1px solid $grey-lighter;
    padding: 4px 0 !important;
    width: 100%;
  }

  &--date-label {
    margin: 0 8px 0 0;
    max-width: 90%;
    min-width: 120px;
    font-size: 12px;
    color: $black-light;
    line-height: 16px;
    white-space: nowrap;
    font-weight: 400;
  }

  &--date-input {
    border: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 0;
    height: 18px;
    margin: 6px 0;
  }

  &--text {
    border-bottom: 1px solid $grey-lighter;

    &__invalid {
      border-bottom: 1px solid $red;
    }
  }

  &--text-label {
    margin: 0 8px 0 0;
    max-width: 90%;
    min-width: 120px;
    font-size: 12px;
    color: $black-light;
    line-height: 16px;
    white-space: nowrap;
    font-weight: 400;
    display: flex;

    &__unit {
      font-size: 12px;
      margin-top: 4px;
    }
  }

  &--text-input {
    border: 0;
    font-size: 14px;
    font-weight: 400;
    height: 18px;
    line-height: 18px;
    color: $blue-black;
    width: 100%;
    padding: 0;
    margin: 6px 0;
  }

  &--checkbox {
    color: $blue-black;
  }

  &--project-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--no-project {
    margin-right: 0 !important;
  }

  &--project-block {
    flex-grow: 1;
    margin-right: 26px;
  }

  &--date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
  }

  &--primary-block {
    margin: 16px 0;
    border-radius: 4px;
  }

  &--internal-block {
    padding: 8px 0;
    background: #fff;
    line-height: 1;
    margin-bottom: 12px;

    &__invalid {
      border-color: $red;
    }
  }

  &--conversion {
    border: 1px solid $grey-lighter;
    display: flex;
    border-radius: 8px;
    color: $blue-black;
    font-size: 12px;
    padding: 10px;
  }

  &--conversion-icon {
    height: 18px;
    width: 18px;
    margin-right: 6px;
  }

  &--conversion-amount {
    font-weight: 500;
    margin-right: 4px;
  }

  &--amount-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    border: 1px solid $grey-lighter;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
  }

  &--amount-value {
    font-size: 22px;
  }

  &--error {
    color: $red;
    line-height: 16px;
    margin-top: -16px;
    font-size: 12px;
  }

  &--critical-policy {
    border-radius: 6px;
    background: #f2f2f2;
    padding: 8px 16px;
    margin-bottom: 16px;
  }

  &--review-nav {
    position: sticky;
    top: 30vh;
  }

  &--review-go-left {
    position: absolute;
    float: left;
    width: 45px;
    height: 76px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    padding-right: 18px;

    background-color: #999;
    opacity: 0.8;
    &__disabled {
      opacity: 0.2;
    }

    &:focus {
      outline: none;
    }
  }

  &--review-go-right {
    position: absolute;
    right: 0;
    float: right;
    width: 45px;
    height: 76px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;

    padding-left: 18px;

    background-color: #999;
    opacity: 0.8;
    &__disabled {
      opacity: 0.2;
    }

    &:focus {
      outline: none;
    }
  }

  &--error-message-block {
    position: sticky;
    width: 100%;
    bottom: 0;
    background: rgba(221, 0, 0, 0.7);
    color: #fff;
    padding: 16px;
  }

  &--zero-state {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-img-container {
      height: 260px;
      width: 260px;
      border: 1px solid #f6f6f6;
      border-radius: 50%;
      background-color: #f6f6f6;
    }

    &-img {
      margin-top: 34px;
      margin-left: 12px;
      height: 150px;
    }

    &-text {
      margin-top: 10px;
      color: #464d57;
    }
  }

  &--duplicate-pointer-container {
    position: sticky;
    top: 60vh;
    height: 0;
  }

  &--duplicate-pointer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    bottom: 0;
    width: 100%;
  }

  &--duplicate-pointer-text {
    border-radius: 6px;
    background: #f2f2f2;
    padding: 8px 16px;
    margin-bottom: 16px;
    padding: 12px 16px;
    width: 96%;
    margin-bottom: 12px;
    color: #4a4a4a;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0 2px 4px 0 rgba(#838383, 0.75);
    text-align: center;
  }

  &--duplicate-pointer-icon {
    border-radius: 50%;
    background: #f2f2f2;
    padding: 8px 16px;
    margin-bottom: 16px;
    padding: 12px 16px;
    margin-bottom: 12px;
    color: #4a4a4a;
    font-size: 16px;
    top: -10px;
    box-shadow: 0 2px 4px 0 rgba(131, 131, 131, 0.75);
  }

  &--duplicate-pointer-icon-internal {
    height: auto;
    width: auto;
    position: relative;
    top: 4px;
    font-size: 20px;
  }

  &--duplicates-box {
    background-color: #f3f5f8;
    border: 0;
    padding: 0;
  }

  &--duplicate-header {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--duplicate-info {
    display: flex;
    font-weight: 500;
  }

  &--duplicate-warning-icon {
    color: #ffb25c;
    margin-right: 5px;
  }

  &--duplicate-cta {
    color: #387ef5;
    text-decoration: underline;
    font-weight: bold;
  }

  &--duplicate-sub-box {
    padding: 8px;
  }

  &--duplicate-reason {
    padding: 8px;
  }

  &--duplicate-reason-select {
    padding: 8px;
  }

  &--payment-mode-header {
    font-size: 14px;
    color: $blue-black;
  }

  &--payment-mode-section {
    font-size: 12px;
    color: $black-light;
    margin-top: 4px;
  }

  &--check {
    color: $brand-primary;
    font-size: 20px;
  }

  &--date-block {
    width: 96%;
  }

  &--date-error {
    margin-top: -10px !important;
  }

  &--to-date-error {
    margin-left: 12px;
  }

  &--type-name {
    font-weight: 400;
    font-size: 16px;
    color: $black;
  }

  &--type-rate {
    font-size: 12px;
    color: $grey-light;
    margin-top: 5px;
  }
}
