.add-edit-per-diem {
  &--toolbar {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  &--sub-header {
    color: #ababab;
    font-size: 14px;
    font-weight: 400;
  }

  &--footer {
    display: flex;
    justify-content: space-around;
  }

  &--primary-cta {
    height: 48px;
    width: 100%;
    margin: 12px 8px;
    --border-radius: 4px;
  }

  &--receipt-currency {
    display: flex;
    align-items: center;
  }

  &--delete {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
  }

  &--delete-icon {
    font-size: 24px;
    color: #ababab;
  }

  &--delete-msg {
    font-size: 16px;
    margin: 4px 0 0 16px;
    color: #f00;
  }

  &--receipt {
    align-items: center;
    text-align: center;
    margin: 12px 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #d8d8d8;
    padding: 20px 8px;
    border-radius: 4px;
    color: #ababab;
    margin-left: 0;
  }

  &--currency {
    margin: 18px 0;
  }

  &--form {
    padding: 0 16px;
  }

  &--date {
    display: flex;
    justify-content: space-between;
  }

  &--date-label {
    margin: 0 8px 0 0;
    min-width: 145px;
    font-size: 16px;
    color: #ababab;
    font-weight: 500;
    line-height: 1.5;
    white-space: nowrap;
    &__invalid {
      color: red;
    }
  }

  &--date-input {
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    height: 24px;
    text-align: right;
  }

  &--text {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--text-label {
    margin: 0 8px 0 0;
    font-size: 16px;
    min-width: 145px;
    color: #ababab;
    font-weight: 500;
    line-height: 2;
    white-space: nowrap;
    display: flex;
    &__invalid {
      color: red;
    }
  }

  &--text-input {
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    height: 24px;
  }

  &--checkbox {
    font-size: 16px;
    color: #ababab;
    font-weight: 500;
  }

  &--primary-block {
    margin: 16px 0;
    padding: 0 16px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
  }

  &--internal-block {
    padding: 16px 0;
    background: #fff;
    border: 0;
    line-height: 1;
    border-bottom: 1px solid #e0e0e0;
    &:last-child {
      border-bottom: 0;
    }
  }

  &--conversion {
    border: 1px solid #e0e0e0;
    background-color: #f2f2f2;
    border-radius: 4px;
  }

  &--conversion-amount {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    color: #4a4a4a;
    width: calc(100% - 60px);
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding: 8px 8px 0 16px;
  }

  &--conversion-rate {
    color: #ababab;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    width: calc(100% - 60px);
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding: 0 8px 8px 16px;
  }

  &--error {
    color: red;
  }

  &--critical-policy {
    border-radius: 6px;
    background: #f2f2f2;
    padding: 8px 16px;
    margin-bottom: 16px;
  }

  &--review-nav {
    position: sticky;
    top: 45vh;
  }

  &--review-go-left {
    float: left;
    width: 45px;
    height: 76px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    padding-right: 18px;

    background-color: #999;
    opacity: 0.8;
    &__disabled {
      opacity: 0.2;
    }
  }

  &--review-go-right {
    float: right;
    width: 45px;
    height: 76px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;

    padding-left: 18px;

    background-color: #999;
    opacity: 0.8;
    &__disabled {
      opacity: 0.2;
    }
  }

  &--error-message-block {
    position: sticky;
    width: 100%;
    bottom: 0;
    background: rgba(221, 0, 0, 0.7);
    color: #fff;
    padding: 16px;
  }

  &--zero-state {
    margin-top: 80px;
  }

  &--duplicate-pointer-container {
    position: sticky;
    top: 60vh;
    height: 0;
  }

  &--duplicate-pointer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    bottom: 0;
    width: 100%;
  }

  &--duplicate-pointer-text {
    border-radius: 6px;
    background: #f2f2f2;
    padding: 8px 16px;
    margin-bottom: 16px;
    padding: 12px 16px;
    width: 96%;
    margin-bottom: 12px;
    color: #4a4a4a;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0 2px 4px 0 rgba(#838383, 0.75);
    text-align: center;
  }

  &--duplicate-pointer-icon {
    border-radius: 50%;
    background: #f2f2f2;
    padding: 8px 16px;
    margin-bottom: 16px;
    padding: 12px 16px;
    margin-bottom: 12px;
    color: #4a4a4a;
    font-size: 16px;
    top: -10px;
    box-shadow: 0 2px 4px 0 rgba(131, 131, 131, 0.75);
  }

  &--duplicate-pointer-icon-internal {
    height: auto;
    width: auto;
    position: relative;
    top: 4px;
    font-size: 20px;
  }
}
