<ion-header mode="md">
  <ion-toolbar
    class="add-edit-per-diem--toolbar"
    [ngClass]="{'add-edit-per-diem--toolbar__review': reviewList?.length}"
  >
    <ion-buttons *ngIf="navigateBack" mode="md" slot="start">
      <ion-button (click)="showClosePopup()">
        <ion-icon class="icon--navigate" [src]="'../../../../assets/svg/navigate-left.svg'" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="!navigateBack" mode="md" slot="start">
      <ion-button (click)="showClosePopup()">
        <ion-icon class="fy-icon-close" [src]="'../../../../assets/svg/fy-close.svg'" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title
      *ngIf="mode"
      class="page-title"
      mode="md"
      [ngClass]="{'add-edit-per-diem--title__review': reviewList?.length}"
    >
      <div *ngIf="mode === 'add'" class="add-edit-per-diem--toolbar__title">Add Per Diem</div>
      <div *ngIf="mode === 'edit'">
        <div *ngIf="reviewList?.length; else EditPerDiem">Review Per Diem</div>
        <ng-template #EditPerDiem> Edit Per Diem </ng-template>
        <div *ngIf="reviewList?.length" class="add-edit-per-diem--sub-header">
          {{ +activeIndex + 1 }} of {{ reviewList?.length }} expense{{reviewList?.length > 1 ? 's' : ''}}
        </div>
      </div>
    </ion-title>
    <ion-buttons
      *ngIf="reviewList?.length || mode === 'edit'"
      class="add-edit-per-diem--header-btn-container"
      slot="end"
    >
      <ion-button class="add-edit-per-diem--header-btn-container__btn" (click)="openCommentsModal()">
        <ion-icon [src]="'../../../assets/svg/fy-chat-2.svg'" slot="icon-only"></ion-icon>
      </ion-button>
      <ng-container *ngIf="canDeleteExpense && etxn$|async as etxn">
        <ion-button class="add-edit-per-diem--header-btn-container__btn" (click)="deleteExpense(etxn.tx.report_id)">
          <ion-icon [src]="'../../../assets/svg/fy-delete.svg'" slot="icon-only"></ion-icon>
        </ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="add-edit-per-diem--duplicate-pointer-container">
      <div (click)="showDuplicates()" *ngIf="pointToDuplicates" class="add-edit-per-diem--duplicate-pointer">
        <div class="add-edit-per-diem--duplicate-pointer-text">Possible Duplicates Detected !</div>
        <div class="add-edit-per-diem--duplicate-pointer-icon">
          <mat-icon class="add-edit-per-diem--duplicate-pointer-icon-internal"> expand_more </mat-icon>
        </div>
      </div>
    </div>
    <ng-container *ngIf="fg">
      <form #formContainer [formGroup]="fg" class="add-edit-per-diem--form">
        <ng-container *ngIf="(canCreatePerDiem$|async); else NothingToSee">
          <ng-container *ngIf="(allowedPerDiemRateOptions$|async)?.length > 0; else AdminKoBoloPerDiemAssignKare">
            <ng-container *ngIf="etxn$|async as etxn">
              <ng-container *ngIf="mode === 'edit'">
                <ng-container *ngIf="policyDetails">
                  <app-fy-policy-violation-info
                    [policyDetails]="policyDetails"
                    [criticalPolicyViolated]="isCriticalPolicyViolated$|async"
                  >
                  </app-fy-policy-violation-info>
                </ng-container>
              </ng-container>

              <ng-container *ngIf="isAmountCapped$|async">
                <div class="add-edit-per-diem--critical-policy" *ngIf="!(isCriticalPolicyViolated$|async)">
                  <div>
                    Claimed amount {{etxn.tx.user_amount | number: '1.0-2'}} was capped to {{etxn.tx.amount | number:
                    '1.0-2'}} due to policy <span *ngIf="isAmountDisabled$|async"> and cannot be edited.</span>
                  </div>
                </div>
              </ng-container>

              <div *ngIf="etxn$|async as etxn" class="add-edit-per-diem--currency">
                <div *ngIf="homeCurrency$|async as homeCurrency">
                  <div class="add-edit-per-diem--amount-box">
                    <div>{{ fg.controls?.num_days?.value ? fg.controls?.num_days?.value : 0 }} Days</div>
                    <div>
                      {{(fg.controls?.per_diem_rate?.value?.rate ? fg.controls?.per_diem_rate?.value?.rate : 0) |
                      currency: (fg.controls?.per_diem_rate?.value?.currency ?
                      fg.controls?.per_diem_rate?.value?.currency : homeCurrency): 'symbol-narrow'}} / Day
                    </div>
                    <div class="add-edit-per-diem--amount-value">
                      {{ (fg.controls.currencyObj?.value?.amount ? fg.controls.currencyObj?.value?.amount : 0.00 ) |
                      currency: homeCurrency: 'symbol-narrow'}}
                    </div>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="fg.controls.currencyObj?.value?.orig_amount">
                <div class="add-edit-per-diem--conversion">
                  <mat-icon class="add-edit-per-diem--conversion-icon" svgIcon="information"></mat-icon>
                  <div class="add-edit-per-diem--conversion-amount">
                    {{fg.controls.currencyObj?.value?.currency}} {{fg.controls.currencyObj?.value?.amount | number:
                    '1.0-2'}}
                  </div>
                  <div class="add-edit-per-diem--conversion-rate">
                    at {{ (fg.controls.currencyObj?.value?.amount / fg.controls.currencyObj?.value?.orig_amount) |
                    number:'1.0-7' }} {{fg.controls.currencyObj?.value?.currency}} /
                    {{fg.controls.currencyObj?.value?.orig_currency}}
                  </div>
                </div>
              </ng-container>

              <div class="add-edit-per-diem--primary-block">
                <div>
                  <ng-container *ngIf="allowedPerDiemRateOptions$|async as allowedPerDiemRateOptions">
                    <div
                      [ngClass]="{'add-edit-per-diem--internal-block__invalid': fg.controls.per_diem_rate.touched && !fg.controls.per_diem_rate.valid}"
                      class="add-edit-per-diem--internal-block"
                    >
                      <app-fy-select
                        [disabled]="isAmountDisabled"
                        [label]="'Per Diem Type'"
                        [mandatory]="true"
                        [nullOption]="false"
                        [options]="allowedPerDiemRateOptions"
                        [selectModalHeader]="'Select Per Diem Type'"
                        [selectionElement]="perDiemType"
                        formControlName="per_diem_rate"
                      >
                      </app-fy-select>
                      <ng-template #perDiemType let-label="label" let-perDiemType="value" let-selected="selected">
                        <div>
                          <div class="add-edit-per-diem--type-name">{{label}}</div>
                          <ng-container *ngIf="perDiemType">
                            <ng-container>
                              <div class="add-edit-per-diem--type-rate">{{perDiemType.readableRate}}</div>
                            </ng-container>
                          </ng-container>
                        </div>
                        <mat-icon *ngIf="selected"> check </mat-icon>
                      </ng-template>
                    </div>
                    <div
                      *ngIf="fg.controls.per_diem_rate.touched && !fg.controls.per_diem_rate.valid"
                      class="add-edit-per-diem--error"
                    >
                      Please select a per diem type
                    </div>
                  </ng-container>

                  <div class="add-edit-per-diem--date-container">
                    <ng-container *ngIf="txnFields$|async as txnFields">
                      <ng-container *ngIf="txnFields?.from_dt">
                        <div class="add-edit-per-diem--date-block">
                          <div
                            [ngClass]="{'add-edit-per-diem--internal-block__invalid': fg.controls.from_dt.touched && !fg.controls.from_dt.valid}"
                            class="
                              add-edit-per-diem--date add-edit-per-diem--internal-block add-edit-per-diem--from-date
                            "
                          >
                            <div
                              [ngClass]="{'add-edit-per-diem--date-label__invalid': fg.controls.from_dt.touched && !fg.controls.from_dt.valid}"
                              class="add-edit-per-diem--date-label"
                            >
                              {{ txnFields?.from_dt.field_name ? txnFields?.from_dt.field_name : 'From Date' }}
                              <div class="add-edit-per-diem--mandatory" *ngIf="txnFields?.from_dt?.is_mandatory">*</div>
                            </div>
                            <input
                              appFormatDate
                              [disabled]="isAmountDisabled || !txnFields?.from_dt.canEdit"
                              [min]="minDate"
                              class="add-edit-per-diem--date-input date-input__format"
                              [placeholder]="'Select ' + txnFields?.from_dt"
                              formControlName="from_dt"
                              [name]="txnFields?.from_dt.field_name"
                              type="date"
                            />
                          </div>
                          <div
                            *ngIf="fg.controls.from_dt.touched && !fg.controls.from_dt.valid"
                            class="add-edit-per-diem--error add-edit-per-diem--date-error"
                          >
                            Please select {{ txnFields?.from_dt.field_name ? txnFields?.from_dt.field_name : 'From Date'
                            }}
                          </div>
                        </div>
                      </ng-container>
                    </ng-container>
                    <ng-container *ngIf="txnFields$|async as txnFields">
                      <ng-container *ngIf="txnFields?.to_dt">
                        <div class="add-edit-per-diem--date-block">
                          <div
                            [ngClass]="{'add-edit-per-diem--internal-block__invalid': fg.controls.to_dt.touched && !fg.controls.to_dt.valid}"
                            class="add-edit-per-diem--date add-edit-per-diem--internal-block add-edit-per-diem--to-date"
                          >
                            <div
                              [ngClass]="{'add-edit-per-diem--date-label__invalid': fg.controls.to_dt.touched && !fg.controls.to_dt.valid}"
                              class="add-edit-per-diem--date-label"
                            >
                              {{ txnFields?.to_dt.field_name ? txnFields?.to_dt.field_name : 'To Date' }}
                              <div class="add-edit-per-diem--mandatory" *ngIf="txnFields?.to_dt?.is_mandatory">*</div>
                            </div>
                            <input
                              appFormatDate
                              [disabled]="isAmountDisabled || !txnFields?.to_dt.canEdit"
                              [min]="minPerDiemDate"
                              class="add-edit-per-diem--date-input date-input__format"
                              formControlName="to_dt"
                              [placeholder]="'Select ' + txnFields?.to_dt"
                              [name]="txnFields?.to_dt.field_name"
                              type="date"
                            />
                          </div>
                          <div
                            *ngIf="fg.controls.to_dt.touched && !fg.controls.to_dt.valid"
                            class="
                              add-edit-per-diem--error add-edit-per-diem--date-error add-edit-per-diem--to-date-error
                            "
                          >
                            Please select {{ txnFields?.to_dt.field_name ? txnFields?.to_dt.field_name : 'To Date' }}
                          </div>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>

                  <ng-container *ngIf="txnFields$|async as txnFields">
                    <ng-container *ngIf="txnFields?.num_days">
                      <div
                        [ngClass]="{'add-edit-per-diem--internal-block__invalid': fg.controls.num_days.touched && !fg.controls.num_days.valid}"
                        class="add-edit-per-diem--text add-edit-per-diem--internal-block"
                      >
                        <div
                          [ngClass]="{'add-edit-per-diem--text-label__invalid': fg.controls.num_days.touched && !fg.controls.num_days.valid}"
                          class="add-edit-per-diem--text-label"
                        >
                          {{ txnFields?.num_days.field_name }}
                          <div class="add-edit-per-diem--mandatory">*</div>
                        </div>
                        <input
                          [disabled]="isAmountDisabled || !txnFields?.num_days.canEdit"
                          [min]="0"
                          class="add-edit-per-diem--text-input"
                          formControlName="num_days"
                          inputmode="decimal"
                          [placeholder]="'Enter ' + txnFields?.num_days.field_name"
                          type="number"
                        />
                      </div>
                      <div
                        *ngIf="fg.controls.num_days.touched && !fg.controls.num_days.valid"
                        class="add-edit-per-diem--error add-edit-per-diem--num-days-error"
                      >
                        Please select {{txnFields?.num_days.field_name }}
                      </div>
                    </ng-container>
                  </ng-container>

                  <ng-container *ngIf="paymentModes$|async as paymentModes">
                    <div
                      [ngClass]="{'add-edit-per-diem--internal-block__invalid': fg.controls.paymentMode.touched && !fg.controls.paymentMode.valid}"
                      class="add-edit-per-diem--internal-block"
                    >
                      <app-fy-select
                        [enableSearch]="false"
                        [label]="'Payment Mode'"
                        [mandatory]="true"
                        [mandatory]="true"
                        [nullOption]="false"
                        [options]="paymentModes"
                        [selectModalHeader]="'Select Payment Mode'"
                        [selectionElement]="paymentMode"
                        formControlName="paymentMode"
                      >
                      </app-fy-select>
                      <ng-template #paymentMode let-label="label" let-paymentMode="value" let-selected="selected">
                        <div>
                          <div class="add-edit-per-diem--payment-mode-header">{{label}}</div>
                          <ng-container *ngIf="paymentMode">
                            <ng-container *ngIf="paymentMode.acc.type === 'PERSONAL_ADVANCE_ACCOUNT'">
                              <div class="add-edit-per-diem--payment-mode-section">{{paymentMode.advance.purpose}}</div>
                            </ng-container>
                            <div *ngIf="paymentMode.acc.isReimbursable" class="add-edit-per-diem--payment-mode-section">
                              (Reimbursable)
                            </div>
                            <div
                              *ngIf="!paymentMode.acc.isReimbursable"
                              class="add-edit-per-diem--payment-mode-section"
                            >
                              (Non Reimbursable)
                            </div>
                          </ng-container>
                        </div>
                        <mat-icon *ngIf="selected" class="add-edit-per-diem--check"> check </mat-icon>
                      </ng-template>
                    </div>
                    <div
                      *ngIf="fg.controls.paymentMode.touched && !fg.controls.paymentMode.valid"
                      class="add-edit-per-diem--error"
                    >
                      Please select a payment mode.
                    </div>
                  </ng-container>
                  <ng-container *ngIf="isAdvancesEnabled$">
                    <ng-container
                      *ngIf="isBalanceAvailableInAnyAdvanceAccount$|async as isBalanceAvailableInAnyAdvanceAccount"
                    >
                      <app-fy-alert-info
                        [message]="'You have outstanding balance in your advance account(s)'"
                        [type]="'information'"
                      ></app-fy-alert-info>
                    </ng-container>
                  </ng-container>

                  <ng-container *ngIf="txnFields$|async as txnFields">
                    <div class="add-edit-per-diem--project-container" *ngIf="txnFields?.project_id || isExpandedView">
                      <ng-container *ngIf="isConnected$|async">
                        <ng-container
                          *ngIf="(isProjectsEnabled$|async) && (((isIndividualProjectsEnabled$|async) && (individualProjectIds$|async)?.length > 0) || !(isIndividualProjectsEnabled$|async))"
                        >
                          <ng-container *ngIf="projectCategoryIds$|async as projectCategoryIds">
                            <ng-container *ngIf="isProjectVisible$|async">
                              <div
                                [ngClass]="{'add-edit-per-diem--no-project': fg.controls.project.touched && !fg.controls.project.valid}"
                                class="add-edit-per-diem--internal-block add-edit-per-diem--project-block"
                              >
                                <app-fy-select-project
                                  [categoryIds]="projectCategoryIds"
                                  [cacheName]="'perDiemProjectCache'"
                                  [defaultValue]="true"
                                  [label]="'Project'"
                                  [mandatory]="txnFields?.project_id?.is_mandatory"
                                  [recentlyUsed]="recentProjects"
                                  formControlName="project"
                                >
                                </app-fy-select-project>
                              </div>
                            </ng-container>
                          </ng-container>
                          <div
                            *ngIf="fg.controls.project.touched && !fg.controls.project.valid"
                            class="add-edit-per-diem--error"
                          >
                            Please select a project.
                          </div>
                        </ng-container>
                      </ng-container>

                      <div *ngIf="fg.controls.project.value" class="add-edit-per-diem--internal-block">
                        <mat-checkbox formControlName="billable">
                          <span class="add-edit-per-diem--checkbox"> Billable </span>
                        </mat-checkbox>
                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="!((isProjectsEnabled$|async) && !(isConnected$|async))">
                    <ng-container *ngIf="filteredCategories$|async as subCategories">
                      <ng-container *ngIf="subCategories.length > 0">
                        <div
                          [ngClass]="{'add-edit-per-diem--internal-block__invalid': fg.controls.sub_category.touched && !fg.controls.sub_category.valid}"
                          class="add-edit-per-diem--internal-block"
                        >
                          <app-fy-select
                            [cacheName]="'perDiemSubCategoryCache'"
                            [label]="'Sub Category'"
                            [mandatory]="true"
                            [options]="subCategories"
                            [selectModalHeader]="'Select Sub Category'"
                            [nullOption]="false"
                            formControlName="sub_category"
                          >
                          </app-fy-select>
                        </div>
                        <div
                          *ngIf="fg.controls.sub_category.touched && !fg.controls.sub_category.valid"
                          class="add-edit-per-diem--error"
                        >
                          Please select a sub Category.
                        </div>
                      </ng-container>
                    </ng-container>
                  </ng-container>

                  <ng-container *ngIf="costCenters$|async as costCenters">
                    <ng-container *ngIf="txnFields$|async as txnFields">
                      <ng-container *ngIf="txnFields.cost_center_id.is_mandatory || isExpandedView">
                        <div
                          *ngIf="costCenters.length > 0 && txnFields?.cost_center_id"
                          [ngClass]="{'add-edit-per-diem--internal-block__invalid': fg.controls.costCenter.touched && !fg.controls.costCenter.valid}"
                          class="add-edit-per-diem--internal-block"
                        >
                          <app-fy-select
                            [cacheName]="'perDiemCostCenterCache'"
                            [label]="txnFields.cost_center_id.field_name"
                            [mandatory]="txnFields.cost_center_id.is_mandatory"
                            [options]="costCenters"
                            [selectModalHeader]="'Select Cost Center'"
                            [recentlyUsed]="recentCostCenters"
                            formControlName="costCenter"
                          >
                          </app-fy-select>
                        </div>
                        <div
                          *ngIf="fg.controls.costCenter.touched && !fg.controls.costCenter.valid"
                          class="add-edit-per-diem--error"
                        >
                          Please select a Cost Center.
                        </div>
                      </ng-container>
                    </ng-container>
                  </ng-container>

                  <ng-container *ngIf="txnFields$|async as txnFields">
                    <ng-container *ngIf="txnFields?.purpose?.is_mandatory || isExpandedView">
                      <ng-container *ngIf="txnFields?.purpose">
                        <div class="add-edit-per-diem--internal-block" *ngIf="txnFields?.purpose.type === 'TEXT'">
                          <div
                            [ngClass]="{'add-edit-per-diem--internal-block__invalid': fg.controls.purpose.touched && !fg.controls.purpose.valid}"
                            class="add-edit-per-diem--text"
                          >
                            <div class="add-edit-per-diem--text-label">
                              {{ ('Enter ' + txnFields?.purpose.field_name)| slice: 0:30 }}
                              <span class="add-edit-per-diem--mandatory" *ngIf="txnFields?.purpose?.is_mandatory"
                                >*</span
                              >
                            </div>
                            <input
                              [disabled]="!txnFields.purpose?.canEdit"
                              [placeholder]="'Enter '+txnFields.purpose?.field_name | slice: 0:30"
                              [required]="txnFields.purpose?.is_mandatory"
                              [title]="'Enter'+txnFields.purpose?.field_name"
                              class="add-edit-per-diem--text-input"
                              formControlName="purpose"
                            />
                          </div>
                        </div>
                        <div *ngIf="txnFields?.purpose.type === 'SELECT'" class="add-edit-per-diem--internal-block">
                          <app-fy-select
                            [disabled]="mode === 'edit' && !txnFields?.purpose.canEdit"
                            [label]="txnFields?.purpose.field_name"
                            [options]="txnFields?.purpose?.options"
                            [mandatory]="txnFields?.purpose?.is_mandatory"
                            [selectModalHeader]="'Enter Purpose'"
                            class="add-edit-per-diem--text-input"
                            formControlName="purpose"
                          >
                          </app-fy-select>
                        </div>
                        <div
                          *ngIf="fg.controls.purpose.touched && !fg.controls.purpose.valid"
                          class="add-edit-per-diem--error"
                        >
                          Please enter {{ txnFields?.purpose.field_name }}
                        </div>
                      </ng-container>
                    </ng-container>
                  </ng-container>

                  <ng-container *ngFor="let customInput of this.customInputs$ | async as customInputs">
                    <ng-container *ngIf="customInput.mandatory || isExpandedView">
                      <div
                        *ngIf="customInput.type !== 'USER_LIST'"
                        [ngClass]="{'add-edit-per-diem--internal-block__invalid': customInput.control.controls.value.touched && !customInput.control.controls.value.valid}"
                        class="add-edit-per-diem--internal-block"
                      >
                        <form [formGroup]="customInput.control">
                          <div
                            *ngIf="customInput.type !== 'BOOLEAN' && customInput.type !== 'SELECT'&&customInput.type !== 'MULTI_SELECT' && customInput.type !== 'USER_LIST' && customInput.type !== 'LOCATION'"
                            class="add-edit-per-diem--text"
                          >
                            <div
                              [ngClass]="{'add-edit-per-diem--text-label__invalid': customInput.control.controls.value.touched && !customInput.control.controls.value.valid}"
                              class="add-edit-per-diem--text-label"
                            >
                              {{customInput.name | ellipsis: 30}}
                              <span *ngIf="customInput.mandatory"> * </span>
                            </div>
                            <input
                              *ngIf="customInput.type === 'TEXT'"
                              class="add-edit-per-diem--text-input"
                              formControlName="value"
                              [placeholder]="'Enter ' + customInput.name"
                              type="text"
                            />

                            <input
                              *ngIf="customInput.type === 'NUMBER'"
                              class="add-edit-per-diem--text-input"
                              formControlName="value"
                              [placeholder]="'Enter ' + customInput.name"
                              inputmode="decimal"
                              type="number"
                            />

                            <input
                              appFormatDate
                              *ngIf="customInput.type === 'DATE'"
                              class="add-edit-per-diem--date-input date-input__format"
                              formControlName="value"
                              [placeholder]="'Select ' + customInput.name"
                              type="date"
                              [name]="customInput.name"
                            />
                          </div>

                          <div *ngIf="customInput.type === 'BOOLEAN'" class="add-edit-per-diem--checkbox">
                            <label>
                              <mat-checkbox formControlName="value">
                                {{customInput.name | ellipsis: 35 }}
                                <span class="add-edit-per-diem--mandatory" *ngIf="customInput.mandatory">*</span>
                              </mat-checkbox>
                            </label>
                          </div>

                          <div *ngIf="customInput.type === 'LOCATION'">
                            <app-fy-location
                              [label]="customInput.name | ellipsis: 30"
                              [mandatory]="customInput.mandatory"
                              formControlName="value"
                            >
                            </app-fy-location>
                          </div>

                          <div *ngIf="customInput.type === 'SELECT'">
                            <app-fy-select
                              [label]="customInput.name | ellipsis: 30"
                              [mandatory]="customInput.mandatory"
                              [options]="customInput.options"
                              [selectModalHeader]="'Select '+customInput.name"
                              formControlName="value"
                            >
                            </app-fy-select>
                          </div>

                          <div *ngIf="customInput.type === 'MULTI_SELECT'">
                            <app-fy-multiselect
                              [label]="customInput.name | ellipsis: 30"
                              [mandatory]="customInput.mandatory"
                              [options]="customInput.options"
                              [selectModalHeader]="'Select '+customInput.name"
                              [subheader]="customInput.name"
                              formControlName="value"
                            >
                            </app-fy-multiselect>
                          </div>
                        </form>
                      </div>
                      <div
                        *ngIf="customInput.control.controls.value.touched && !customInput.control.controls.value.valid"
                        class="add-edit-per-diem--error"
                      >
                        Please select {{customInput.name}}
                      </div>
                    </ng-container>
                  </ng-container>

                  <ng-container *ngIf="isConnected$|async">
                    <ng-container *ngIf="reports$|async as reports">
                      <ng-container *ngIf="!(isCriticalPolicyViolated$|async)">
                        <ng-container>
                          <div class="add-edit-per-diem--internal-block">
                            <app-fy-add-to-report
                              [label]="fg.controls.add_to_new_report.value ? 'Report' : 'Add to Report'"
                              [options]="reports"
                              formControlName="report"
                            ></app-fy-add-to-report>
                          </div>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>

                  <ng-container *ngIf="isConnected$">
                    <ng-container *ngIf="txnFields$|async as txnFields">
                      <ng-container *ngIf="isProjectsEnabled$|async as isProjectsEnabled">
                        <ng-container *ngIf="isIndividualProjectsEnabled$|async as isIndividualProjectsEnabled">
                          <ng-container *ngIf="individualProjectIds$|async as individualProjectIds">
                            <app-fy-alert-info
                              *ngIf="txnFields?.project_id?.is_mandatory && individualProjectIds.length === 0"
                              [message]="'There are no projects assigned to you, so this expense will be saved as a draft. Please contact admin for further help.'"
                              [type]="'warning'"
                            >
                            </app-fy-alert-info>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>

                  <div *ngIf="mode === 'add'">
                    <ng-container *ngIf="isExpandedView;else expandViewContent">
                      <div class="expansion-btn" fill="clear" (click)="hideFields()">
                        Hide more fields
                        <ion-icon class="expansion-icon" name="chevron-up"></ion-icon>
                      </div>
                    </ng-container>
                    <ng-template #expandViewContent>
                      <div class="expansion-btn" fill="clear" (click)="showFields()">
                        Show more fields
                        <ion-icon class="expansion-icon" name="chevron-down"></ion-icon>
                      </div>
                    </ng-template>
                  </div>

                  <!-- This is very helpful for debugging - Angular will remove this when compiling so lets have this here -->
                  <!-- <ion-button (click)="getFormValidationErrors()">
                    Click me for errors!
                  </ion-button> -->
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="duplicates$|async as duplicates">
              <ng-container *ngIf="duplicates.length > 0">
                <div
                  #duplicateInputContainer
                  class="add-edit-per-diem--duplicates-box add-edit-per-diem--primary-block"
                >
                  <div class="add-edit-per-diem--duplicate-header">
                    <div class="add-edit-per-diem--duplicate-info">
                      <mat-icon class="add-edit-per-diem--duplicate-warning-icon"> warning </mat-icon>
                      <div>{{duplicates.length}} Duplicates Detected</div>
                    </div>
                    <div
                      (click)="setDuplicateBoxOpen(false)"
                      *ngIf="duplicateBoxOpen"
                      class="add-edit-per-diem--duplicate-cta"
                    >
                      Collapse
                    </div>
                    <div
                      (click)="setDuplicateBoxOpen(true)"
                      *ngIf="!duplicateBoxOpen"
                      class="add-edit-per-diem--duplicate-cta"
                    >
                      Expand
                    </div>
                  </div>
                  <div *ngIf="duplicateBoxOpen" class="add-edit-per-diem--duplicate-sub-box">
                    <div *ngFor="let duplicate of duplicates" class="add-edit-per-diem--duplicate-reason">
                      {{duplicate.reason}}
                    </div>
                    <div class="add-edit-per-diem--duplicate-reason-select">
                      <app-fy-select
                        [label]="'Reason'"
                        [options]="duplicateDetectionReasons"
                        [selectModalHeader]="'Select Reason'"
                        formControlName="duplicate_detection_reason"
                      >
                      </app-fy-select>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-template #AdminKoBoloPerDiemAssignKare>
            <div class="add-edit-per-diem--zero-state">
              <app-fy-zero-state
                [header]="'You have not been assigned with any per diem rates.'"
                [image]="'../../../assets/svg/alert-circled.svg'"
                [message]="'Please contact your Fyle-Administrator to resolve this issue.'"
              ></app-fy-zero-state>
            </div>
          </ng-template>
        </ng-container>
        <ng-template #NothingToSee>
          <ng-container *ngIf="individualPerDiemRatesEnabled$|async; else baseState">
            <div class="add-edit-per-diem--zero-state">
              <app-fy-zero-state
                [header]="'You have not been assigned with any per diem rates.'"
                [image]="'../../../assets/svg/alert-circled.svg'"
                [message]="'Please contact your Fyle-Administrator to resolve this issue.'"
              ></app-fy-zero-state>
            </div>
          </ng-container>
          <ng-template #baseState>
            <div class="add-edit-per-diem--zero-state">
              <div class="add-edit-per-diem--zero-state-img-container">
                <img
                  class="add-edit-per-diem--zero-state-img"
                  [src]="'../../../assets/images/zero-states/my_expenses.png'"
                  alt="zero-state"
                />
              </div>
              <div class="add-edit-per-diem--zero-state-text">
                Looks like no Per diem rates are set for your org yet.
              </div>
            </div>
          </ng-template>
        </ng-template>
      </form>
    </ng-container>
    <div *ngIf="invalidPaymentMode" class="add-edit-per-diem--error-message-block">
      Expense greater than balance in selected Payment Mode. Please select a different Payment Mode.
    </div>
  </div>
</ion-content>

<ng-container *ngIf="fg">
  <app-review-footer
    *ngIf="reviewList?.length"
    [activeIndex]="+activeIndex"
    [reviewList]="reviewList"
    [saveAndPrevLoader]="saveAndPrevPerDiemLoader"
    [saveAndNextLoader]="saveAndNextPerDiemLoader"
    (saveAndGoToPrev)="saveExpenseAndGotoPrev()"
    (saveAndGoToNext)="saveExpenseAndGotoNext()"
  ></app-review-footer>
  <ion-footer
    *ngIf="(canCreatePerDiem$|async) && (allowedPerDiemRateOptions$|async)?.length > 0 && !reviewList?.length"
  >
    <ion-toolbar mode="md" [ngClass]="{'add-edit-per-diem--footer-toolbar__offline': !(isConnected$|async)}">
      <div class="add-edit-per-diem--cta-container">
        <ion-buttons *ngIf="!reviewList">
          <ion-button (click)="close()" *ngIf="mode === 'edit'" [disabled]="savePerDiemLoader" class="btn-secondary">
            Cancel
          </ion-button>
          <ion-button
            (click)="savePerDiem()"
            class="btn-primary"
            appFormButtonValidation
            [loading]="savePerDiemLoader"
            [loadingText]="'Saving'"
          >
            Save
          </ion-button>
        </ion-buttons>
      </div>
    </ion-toolbar>
  </ion-footer>
</ng-container>
