@import '../../../../theme/colors';

.expenses-card {
  &--date {
    color: $grey-light;
    font-size: 14px;
    padding: 16px 0 12px 16px;
    background-color: $white;
    font-weight: 500;

    &__from-reports {
      background-color: $pure-white;
    }
  }

  &--body {
    background-color: $pure-white;
    min-height: 106px;
    padding: 16px;

    &__with-border {
      padding-top: 0;
    }
  }

  &--deatils-block {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--checkbox-container {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 16px;
  }

  &--checkbox {
    width: 20px;
    height: 20px;
  }

  &--divider {
    border-bottom: 1px solid $grey-lighter;
    margin-bottom: 16px;
  }

  &--edit-icon {
    stroke: $brand-primary;
    font-size: 16px;
  }

  &--scanning-icon {
    font-size: 24px;
    stroke: $green;
  }

  &--scaning-receipt {
    &__container {
      padding: 3px 11px 0 11px;
      overflow: hidden;
      width: 100%;
      &-error {
        display: flex;
        align-items: center;
        padding-top: 0;
      }
    }

    &__header {
      color: $black;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.3;
      white-space: nowrap;
      &-scanning {
        color: $green;
      }

      &-failed {
        color: $red;
      }

      &-scanning {
        display: flex;
        align-items: center;
      }
    }

    &__content {
      color: $blue-black;
      font-size: 14px;
      line-height: 1.3;
      margin-top: 5px;
      //Ref: https://stackoverflow.com/a/32585024/8527342
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }

  &--receipt-container {
    background-color: $light-grey;
    border-radius: 8px;
    height: 74px;
    padding: 20px;
  }

  &--receipt-thumbnail-container {
    background-color: $light-grey;
    border-radius: 8px;
    height: 74px;
    min-width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--with-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--receipt-icon {
    height: 35px;
    width: 35px;
    stroke: $black-light;

    &__pdf {
      stroke: none;
      color: $black-light;
    }
  }

  &--receipt-thumbnail {
    height: 74px;
    margin-left: auto;
    margin-right: auto;
  }

  &--category-vendor-project-container {
    padding: 3px 20px 4px 11px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    &__align-vertical-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__error {
      color: $red;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.3;
    }
  }

  &--category-icon-container {
    width: 100%;
  }

  &--category {
    color: $black;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--policy-violated-icon {
    margin-left: 10px;
    color: $red;
    font-size: 20px;
  }

  &--edit-text {
    color: $blue-black;
    font-size: 14px;
    line-height: 1.3;
    white-space: nowrap;
    margin-top: 4px;
  }

  &--vendor {
    color: $blue-black;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;

    &__not-filled {
      color: $black-light;
    }
  }

  &--project {
    color: $blue-black;
    font-size: 14px;
    margin-top: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    line-height: 1.2;

    &__not-filled {
      color: $black-light;
    }
  }

  &--currency-amount-container {
    width: 100%;
    white-space: nowrap;
  }

  &--currency {
    color: $black-light;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    margin-right: 0;
  }

  &--amount {
    color: $black;
    font-size: 20px;
    line-height: 1.3;
    margin-right: 6px;
    font-weight: 500;
  }

  &--icon {
    vertical-align: text-bottom;
    height: 20px;
    width: 20px;
    font-size: 20px;
    color: $black;
  }

  &--exchange-rate {
    color: $black-light;
    font-size: 12px;
    line-height: 1.25;
    margin-top: 2px;
    white-space: nowrap;
  }

  &--critical-policy-violatios {
    color: $red;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.3;
    background-color: $red-1;
    padding: 2px 3px;
    border-radius: 3px;
    margin-top: 6px;
    min-width: 117px;
    white-space: nowrap;
  }

  &--state-container {
    margin-top: 6px;
    width: 100%;
    white-space: nowrap;
    &__center {
      position: relative;
      top: 25%;
    }
  }

  &--state {
    font-size: 12px;
    line-height: 1.25;
    color: $pure-white;
    background-color: $highlight-black;
    border-radius: 16px;
    padding: 4px 24px;
  }

  &--spinner-icon {
    color: $brand-primary;
  }

  &--spinner-subheader {
    font-size: 8px;
  }

  &--spinner-placeholder {
    text-align: center;
    padding: 4px;
  }
}
