<div *ngIf="showDt" class="expenses-card--date" [ngClass]="{ 'expenses-card--date__from-reports': isFromReports }">
  <ng-container *ngIf="{ isConnected: isConnected$ | async } as data">
    <ng-container *ngIf="expense.tx_id && data.isConnected; else isOffline">
      {{ expense.tx_txn_dt || expense.tx_created_at | dateFormat }}
    </ng-container>

    <ng-template #isOffline> Offline Expenses </ng-template>
  </ng-container>
</div>

<div
  class="expenses-card--body"
  [ngClass]="{ 'expenses-card--body__with-border': !showDt }"
  (click)="onGoToTransaction()"
  (tap)="onTapTransaction()"
  (press)="onSetMultiselectMode()"
>
  <div class="expenses-card--divider" *ngIf="!showDt"></div>
  <ng-container *ngIf="expenseFields$ | async as expenseFields">
    <div class="d-flex">
      <div *ngIf="isSelectionModeEnabled" class="expenses-card--checkbox-container">
        <mat-checkbox class="custom-mat-checkbox expenses-card--checkbox" [checked]="isSelected" disabled>
        </mat-checkbox>
      </div>
      <ng-container *ngIf="!receiptThumbnail && !attachmentUploadInProgress">
        <div
          class="expenses-card--receipt-container"
          *ngIf="!isOutboxExpense; else outboxExpenseDisplay"
          (click)="addAttachments($event)"
        >
          <ion-icon
            class="expenses-card--receipt-icon"
            [src]="receiptIcon"
            [ngClass]="{ 'expenses-card--receipt-icon__pdf': receiptIcon === 'assets/svg/pdf.svg' }"
          ></ion-icon>
        </div>
      </ng-container>

      <div
        class="expenses-card--receipt-thumbnail-container expenses-card--with-image"
        [ngStyle]="{
          'background-image': (isScanInProgress ? imageTransperencyOverlay : '') + 'url(' + receiptThumbnail + ')'
        }"
        *ngIf="receiptThumbnail"
      >
        <ion-icon *ngIf="isScanInProgress" class="expenses-card--scanning-icon" src="assets/svg/fy-scan.svg"></ion-icon>
      </div>

      <div
        class="expenses-card--receipt-container expenses-card--with-image"
        *ngIf="attachmentUploadInProgress"
        [ngStyle]="{
          'background-image': inlineReceiptDataUrl && imageTransperencyOverlay + 'url(' + inlineReceiptDataUrl + ')'
        }"
      >
        <div class="expenses-card--spinner-placeholder">
          <ion-spinner class="expenses-card--spinner-icon" icon="circles"></ion-spinner>
        </div>
      </div>

      <ng-template #outboxExpenseDisplay>
        <ng-container *ngIf="isSycing$ | async; else defaultState">
          <div
            class="expenses-card--receipt-container expenses-card--with-image"
            [ngStyle]="{
              'background-image':
                expense.tx_dataUrls.length > 0 &&
                imageTransperencyOverlay + 'url(' + this.expense.tx_dataUrls[0].thumbnail + ')'
            }"
          >
            <div class="expenses-card--spinner-placeholder">
              <ion-spinner class="expenses-card--spinner-icon" icon="circles"></ion-spinner>
            </div>
          </div>
        </ng-container>
        <ng-template #defaultState>
          <div
            class="expenses-card--receipt-container expenses-card--with-image"
            [ngStyle]="{
              'background-image':
                expense.tx_dataUrls.length > 0 &&
                imageTransperencyOverlay + 'url(' + this.expense.tx_dataUrls[0].thumbnail + ')'
            }"
          >
            <ion-icon
              class="expenses-card--receipt-icon"
              *ngIf="!expense.tx_dataUrls?.length"
              [src]="'../../../../assets/svg/fy-expense.svg'"
            ></ion-icon>
          </div>
        </ng-template>
      </ng-template>

      <div class="d-flex expenses-card--deatils-block">
        <ng-container *ngIf="isConnected$ | async; else expenseCardDefaultView">
          <ng-container *ngIf="isSycing$ | async; else expenseCardScanning">
            <div class="expenses-card--scaning-receipt__container">
              <div class="expenses-card--scaning-receipt__header">
                <ng-container *ngIf="category === 'mileage'; else uploadPerDiem"> Syncing Mileage </ng-container>
                <ng-template #uploadPerDiem>
                  <ng-container *ngIf="category === 'per diem'; else uploadDefault"> Syncing Per Diem </ng-container>
                </ng-template>
                <ng-template #uploadDefault>
                  {{ expense.tx_amount || expense.tx_user_amount ? 'Syncing' : 'Uploading' }} receipt...
                </ng-template>
              </div>
              <div class="expenses-card--scaning-receipt__content">
                Your
                <ng-container *ngIf="category === 'mileage' || category === 'per diem'; else receiptContent">
                  {{ category }}
                </ng-container>
                <ng-template #receiptContent> receipt </ng-template>
                will be added shortly.
              </div>
            </div>
          </ng-container>
        </ng-container>

        <ng-template #expenseCardScanning>
          <ng-container *ngIf="!isScanCompleted; else expenseCardDefaultView">
            <ng-container *ngIf="isScanInProgress; else scanFailed">
              <div class="expenses-card--scaning-receipt__container">
                <div class="expenses-card--scaning-receipt__header expenses-card--scaning-receipt__header-scanning">
                  Scanning Receipt...
                </div>
                <div class="expenses-card--scaning-receipt__content">This takes a short while</div>
              </div>
            </ng-container>
            <ng-template #scanFailed>
              <div class="expenses-card--scaning-receipt__container expenses-card--scaning-receipt__container-error">
                <div class="expenses-card--scaning-receipt__header expenses-card--scaning-receipt__header-failed">
                  Scan failed
                </div>
              </div>
              <ng-container *ngIf="expense.isDraft && !isFromViewReports">
                <div class="expenses-card--state-container ion-text-right expenses-card--state-container__center">
                  <span class="expenses-card--state">
                    {{ expense.tx_state | expenseState | titlecase }}
                  </span>
                </div>
              </ng-container>
            </ng-template>
          </ng-container>
        </ng-template>

        <ng-template #expenseCardDefaultView>
          <div *ngIf="!expense.isDraft" class="expenses-card--category-vendor-project-container">
            <div class="d-flex expenses-card--category-icon-container">
              <div
                class="expenses-card--category"
                [ngClass]="{ 'expenses-card--category__small': isSelectionModeEnabled }"
              >
                <ng-container
                  *ngIf="
                    expense?.tx_org_category && expense?.tx_org_category.toLowerCase() !== 'unspecified';
                    else unspecifiedCategory
                  "
                >
                  {{ expense?.tx_org_category }}
                </ng-container>
                <ng-template #unspecifiedCategory> Unspecified Category </ng-template>
              </div>
              <mat-icon
                *ngIf="expense.isCriticalPolicyViolated || expense.isPolicyViolated"
                class="expenses-card--policy-violated-icon"
                >error</mat-icon
              >
            </div>

            <div
              class="expenses-card--vendor"
              [ngClass]="{
                'expenses-card--vendor__not-filled': !expense.vendorDetails,
                'expenses-card--distance-unit': expense.tx_fyle_category === 'Mileage'
              }"
            >
              {{ expense.vendorDetails }}
            </div>

            <div
              class="expenses-card--vendor"
              *ngIf="
                !(isMileageExpense || isPerDiem) &&
                !expense.vendorDetails &&
                expenseFields?.vendor_id[0] &&
                !expenseFields?.vendor_id[0].is_mandatory
              "
            >
              Unspecified {{ expenseFields?.vendor_id[0].field_name }}
            </div>
            <div
              *ngIf="isProjectEnabled$ | async"
              class="expenses-card--project"
              [ngClass]="{ 'expenses-card--project__not-filled': !expense.tx_project_name }"
            >
              <span> Project: </span>
              {{ expense.tx_project_name ? expense.tx_project_name : 'Unspecified' }}
            </div>
          </div>
          <div
            *ngIf="expense.isDraft"
            class="
              expenses-card--category-vendor-project-container
              expenses-card--category-vendor-project-container__align-vertical-center
              expenses-card--category-vendor-project-container__error
            "
          >
            <div>Expense information</div>
            <div>missing</div>
          </div>
          <div class="d-flex">
            <div>
              <div class="expenses-card--currency-amount-container ion-text-right">
                <span class="expenses-card--currency">{{ homeCurrencySymbol }}</span>
                <span class="expenses-card--amount">{{
                  expense.tx_amount || expense?.tx_extracted_data?.amount || 0 | humanizeCurrency: homeCurrency:2:true
                }}</span>
                <mat-icon class="expenses-card--icon" svgIcon="{{ paymentModeIcon }}"></mat-icon>
              </div>

              <div
                *ngIf="expense.tx_orig_currency && expense.tx_orig_amount"
                class="expenses-card--exchange-rate ion-text-right"
              >
                ({{ foreignCurrencySymbol
                }}{{ expense.tx_orig_amount | humanizeCurrency: expense.tx_orig_currency:2:true }} at
                {{ homeCurrencySymbol }}{{ expense.tx_amount / expense.tx_orig_amount | number: '1.0-2' }})
              </div>

              <div *ngIf="expense.isDraft && !isFromViewReports" class="expenses-card--state-container ion-text-right">
                <span class="expenses-card--state">
                  {{ expense.tx_state | expenseState | titlecase }}
                </span>
              </div>

              <div class="expenses-card--critical-policy-violatios" *ngIf="expense.isCriticalPolicyViolated">
                Critical Policy violations
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </ng-container>
</div>
