<div
  *ngIf="expense && showDt"
  class="expenses-card--date"
  [ngClass]="{ 'expenses-card--date__from-reports': isFromReports }"
>
  <ng-container *ngIf="{ isConnected: isConnected$ | async } as data">
    <ng-container *ngIf="expense.tx_id && data.isConnected; else isOffline">
      {{ expense.tx_txn_dt || expense.tx_created_at | dateFormat }}
    </ng-container>

    <ng-template #isOffline> Offline Expenses </ng-template>
  </ng-container>
</div>

<div
  class="expenses-card--body"
  [ngClass]="{ 'expenses-card--body__with-border': !showDt }"
  (click)="onGoToTransaction()"
  (tap)="onTapTransaction()"
  (press)="onSetMultiselectMode()"
>
  <div class="expenses-card--divider" *ngIf="!showDt"></div>
  <ng-container>
    <div class="d-flex">
      <div *ngIf="isSelectionModeEnabled" class="expenses-card--checkbox-container">
        <mat-checkbox class="custom-mat-checkbox expenses-card--checkbox" [checked]="isSelected" disabled>
        </mat-checkbox>
      </div>
      <ng-container *ngIf="!isReceiptPresent && !attachmentUploadInProgress">
        <div
          class="expenses-card--receipt-container"
          *ngIf="!isOutboxExpense; else outboxExpenseDisplay"
          (click)="addAttachments($event)"
        >
          <input
            *ngIf="isIos"
            type="file"
            id="ios-file-upload"
            #fileUpload
            accept="application/pdf,image/*"
            class="d-none"
          />
          <ng-container *ngIf="isIconReceipt; else imageReceipt">
            <ion-icon
              class="expenses-card--receipt-icon"
              [src]="receiptIcon"
              [ngClass]="{
                'expenses-card--receipt-icon__pdf': receiptIcon === 'assets/svg/pdf.svg',
                'expenses-card--receipt-icon__image': receiptIcon === 'assets/svg/list-plus.svg'
              }"
            ></ion-icon>
          </ng-container>
          <ng-template #imageReceipt>
            <img class="expenses-card--receipt-icon" [src]="expense.logo" alt="receiptIcon" />
          </ng-template>
        </div>
      </ng-container>

      <div
        class="expenses-card--receipt-image-container expenses-card--with-image"
        [ngStyle]="{
          'background-image': isScanInProgress ? imageTransperencyOverlay : ''
        }"
        *ngIf="isReceiptPresent"
      >
        <img class="expenses-card--receipt-image" [src]="'../../../../assets/images/pdf-receipt-placeholder.png'" />
        <ion-icon *ngIf="isScanInProgress" class="expenses-card--scanning-icon" src="assets/svg/fy-scan.svg"></ion-icon>
      </div>

      <div
        class="expenses-card--receipt-container expenses-card--with-image"
        *ngIf="attachmentUploadInProgress"
        [ngStyle]="{
          'background-image':
            inlineReceiptDataUrl &&
            imageTransperencyOverlay + 'url(' + '../../../../assets/images/pdf-receipt-placeholder.png' + ')'
        }"
      >
        <div class="expenses-card--spinner-placeholder">
          <ion-spinner class="expenses-card--spinner-icon" icon="circles"></ion-spinner>
        </div>
      </div>

      <ng-template #outboxExpenseDisplay>
        <ng-container *ngIf="isSycing$ | async; else defaultState">
          <div
            class="expenses-card--receipt-container expenses-card--with-image"
            [ngStyle]="{
              'background-image':
                expense.tx_dataUrls?.length > 0 &&
                imageTransperencyOverlay + 'url(' + '../../../../assets/images/pdf-receipt-placeholder.png' + ')'
            }"
          >
            <div class="expenses-card--spinner-placeholder">
              <ion-spinner class="expenses-card--spinner-icon" icon="circles"></ion-spinner>
            </div>
          </div>
        </ng-container>
        <ng-template #defaultState>
          <div
            class="expenses-card--receipt-container expenses-card--with-image"
            [ngStyle]="{
              'background-image':
                expense.tx_dataUrls?.length > 0 &&
                imageTransperencyOverlay + 'url(' + '../../../../assets/images/pdf-receipt-placeholder.png' + ')'
            }"
          >
            <ion-icon
              class="expenses-card--receipt-icon"
              *ngIf="!expense.tx_dataUrls?.length"
              [src]="'../../../../assets/svg/fy-expense.svg'"
            ></ion-icon>
          </div>
        </ng-template>
      </ng-template>

      <div class="d-flex expenses-card--deatils-block">
        <ng-container *ngIf="isConnected$ | async; else expenseCardDefaultView">
          <ng-container *ngIf="isSycing$ | async; else expenseCardScanning">
            <div class="expenses-card--scaning-receipt__container">
              <div class="expenses-card--scaning-receipt__header">
                <ng-container *ngIf="category === 'mileage'; else uploadPerDiem"> Syncing Mileage </ng-container>
                <ng-template #uploadPerDiem>
                  <ng-container *ngIf="category === 'per diem'; else uploadDefault"> Syncing Per Diem </ng-container>
                </ng-template>
                <ng-template #uploadDefault>
                  {{ expense.tx_amount || expense.tx_user_amount ? 'Syncing' : 'Uploading' }} receipt...
                </ng-template>
              </div>
              <div class="expenses-card--scaning-receipt__content">
                Your
                <ng-container *ngIf="category === 'mileage' || category === 'per diem'; else receiptContent">
                  {{ category }}
                </ng-container>
                <ng-template #receiptContent> receipt </ng-template>
                will be added shortly.
              </div>
            </div>
          </ng-container>
        </ng-container>

        <ng-template #expenseCardScanning>
          <ng-container *ngIf="!isScanCompleted; else expenseCardDefaultView">
            <ng-container *ngIf="isScanInProgress; else scanFailed">
              <div class="expenses-card--scaning-receipt__container">
                <div class="expenses-card--scaning-receipt__header expenses-card--scaning-receipt__header-scanning">
                  Scanning Receipt...
                </div>
                <div class="expenses-card--scaning-receipt__content">This takes a short while</div>
              </div>
            </ng-container>
            <ng-template #scanFailed>
              <div class="expenses-card--scaning-receipt__container expenses-card--scaning-receipt__container-error">
                <div class="expenses-card--scaning-receipt__header expenses-card--scaning-receipt__header-failed">
                  Scan failed
                </div>
              </div>
              <div *ngIf="expense.isDraft && !isFromViewReports">
                <div
                  class="expenses-card--state-container expenses-card--state-container__center state-pill state-{{
                    expense.tx_state | expenseState | lowercase
                  }}"
                >
                  <span>
                    {{ expense.tx_state | expenseState | titlecase }}
                  </span>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </ng-template>

        <ng-template #expenseCardDefaultView>
          <div *ngIf="!expense.isDraft" class="expenses-card--category-vendor-project-container">
            <div class="d-flex expenses-card--category-icon-container">
              <div
                class="expenses-card--category"
                [ngClass]="{ 'expenses-card--category__small': isSelectionModeEnabled }"
              >
                <ng-container
                  *ngIf="
                    expense?.tx_org_category && expense?.tx_org_category.toLowerCase() !== 'unspecified';
                    else unspecifiedCategory
                  "
                >
                  {{ expense?.tx_org_category }}
                </ng-container>
                <ng-template #unspecifiedCategory> Unspecified Category </ng-template>
              </div>
              <div class="expenses-card--icons">
                <mat-icon
                  *ngIf="expense.isCriticalPolicyViolated || expense.isPolicyViolated"
                  class="expenses-card--icons__policy-violated-icon"
                  >error</mat-icon
                >
                <mat-icon
                  *ngIf="expense.tx_is_split_expense"
                  class="expenses-card--icons__split-icon"
                  svgIcon="split-new"
                ></mat-icon>
              </div>
            </div>

            <div
              class="expenses-card--vendor"
              [ngClass]="{
                'expenses-card--vendor__not-filled': !expense.vendorDetails,
                'expenses-card--distance-unit': expense.tx_fyle_category === 'Mileage'
              }"
            >
              {{ expense.vendorDetails }}
            </div>
            <div
              *ngIf="expenseFields && isProjectEnabled$ | async"
              class="expenses-card--project"
              [ngClass]="{ 'expenses-card--project__not-filled': !expense.tx_project_name }"
            >
              <div *ngIf="expense?.tx_project_name?.length > 0">
                <span class="text-capitalize"> {{ expenseFields?.project_id[0]?.field_name }}: </span>
                {{ expense?.tx_project_name ? expense?.tx_project_name : 'Unspecified' }}
              </div>
            </div>
          </div>
          <div
            *ngIf="expense.isDraft"
            class="expenses-card--category-vendor-project-container expenses-card--category-vendor-project-container__align-vertical-center expenses-card--category-vendor-project-container__error"
          >
            <div>Expense information</div>
            <div>missing</div>
            {{ expense.tx_vendor }} - {{ expense.logo }}
          </div>
          <div class="expenses-card--default-view-container">
            <div class="expenses-card--currency-amount-container ion-text-right">
              <span class="expenses-card--currency">
                {{ (expense.tx_currency | currencySymbol : 'wide') || (homeCurrency | currencySymbol : 'wide') }}
              </span>

              <span class="expenses-card--amount">
                <ng-container *ngIf="expense.tx_currency">
                  {{ expense.tx_amount | humanizeCurrency : expense.tx_currency : true }}
                </ng-container>
                <ng-container *ngIf="!expense.tx_currency">
                  {{ expense.tx_amount | humanizeCurrency : homeCurrency : true }}
                </ng-container>
              </span>
              <mat-icon *ngIf="showPaymentModeIcon" class="expenses-card--icon" svgIcon="fy-reimbursable"></mat-icon>
            </div>

            <div
              *ngIf="expense.tx_orig_currency && expense.tx_orig_amount"
              class="expenses-card--exchange-rate ion-text-right"
            >
              ({{ expense.tx_orig_amount | humanizeCurrency : expense.tx_orig_currency }} at
              {{ expense.tx_amount / expense.tx_orig_amount | currency : expense.tx_currency : 'code' }})
            </div>

            <div
              *ngIf="expense.isDraft && !isFromViewReports"
              class="expenses-card--state-container state-pill state-{{ expense.tx_state | expenseState }}"
            >
              <span>
                {{ expense.tx_state | expenseState | titlecase }}
              </span>
            </div>

            <div class="expenses-card--critical-policy-violatios" *ngIf="expense.isCriticalPolicyViolated">
              Critical Policy violations
            </div>
          </div>
        </ng-template>
      </div>
      <div *ngIf="isDismissable" (click)="dismiss($event)">
        <ion-icon class="expenses-card--dismiss" [src]="'assets/svg/fy-close.svg'" slot="icon-only"></ion-icon>
      </div>
    </div>
  </ng-container>
</div>
