.fy-select-project {
  border: none;
  width: 100%;
  &--label-content {
    margin: 0 8px 0 0;
    min-width: 145px;
    font-size: 16px;
    color: #ababab;
    font-weight: 500;
    line-height: 1.5;
    white-space: nowrap;
    &__invalid {
      color: red;
    }
  }

  &--label {
    display: flex;
    align-items: center;
  }
}
