<div class="currency-component">
  <div
    class="currency-component--currency-block clearfix"
    *ngIf="extnInternal.tx_orig_amount && extnInternal.tx_orig_currency; else plainAmount"
  >
    <div class="currency-component--currency-input">
      <input
        name="currency"
        type="text"
        class="currency-component--currency-input-currency"
        [(ngModel)]="extnInternal.tx_orig_currency"
        placeholder="Currency"
        [disabled]="true"
        readonly
      />
    </div>
    <div class="currency-component--amount-input">
      <input
        inputmode="decimal"
        type="number"
        class="currency-component--amount-input-amount"
        [(ngModel)]="extnInternal.tx_orig_amount"
        name="amount"
        placeholder="Amount"
        [disabled]="true"
      />
    </div>
  </div>

  <ng-template #plainAmount>
    <div class="currency-component--currency-block clearfix">
      <div class="currency-component--currency-input">
        <input
          name="currency"
          type="text"
          class="currency-component--currency-input-currency"
          [(ngModel)]="extnInternal.tx_currency"
          placeholder="Currency"
          [disabled]="true"
          readonly
        />
      </div>
      <div class="currency-component--amount-input">
        <input
          inputmode="decimal"
          type="number"
          class="currency-component--amount-input-amount"
          [(ngModel)]="extnInternal.tx_amount"
          name="amount"
          placeholder="Amount"
          [disabled]="true"
        />
      </div>
    </div>
  </ng-template>

  <ng-container *ngIf="showExchangeRate$ | async">
    <ng-container *ngIf="homeCurrency$ | async as homeCurrency">
      <ng-container *ngIf="calculatedExchangeRate$ | async as calculatedExchangeRate">
        <ng-container *ngIf="amountConvertedToHomeCurrency$ | async as amountConvertedToHomeCurrency">
          <div class="currency-component--conversion">
            <div class="currency-component--converted-amount">
              {{ extnInternal.tx_currency }} {{ amountConvertedToHomeCurrency | number: '1.0-2' }}
            </div>
            <div class="currency-component--exchange-rate">
              at {{ calculatedExchangeRate | number: '1.0-7' }} {{ extnInternal.tx_currency }} /
              {{ extnInternal.tx_orig_currency }}
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
