<div class="currency-component">
  <div class="currency-component--currency-block clearfix" ng-if="vm.isHomeCurrency">
    <div class="currency-component--currency-input">
      <input name="currency" type="text" class="currency-component--currency-input-currency" [(ngModel)]="currencyObj.tx_currency" placeholder="Currency" ng-required="options.required" [disabled]="options.disabled" on-selection="vm.onSelectCurrency(currency)" currency-list="vm.currencyList" ng-if="vm.currencyList" readonly>
    </div>
    <div class="currency-component--amount-input">
      <input type="number" fy-decimal-keypad class="currency-component--amount-input-amount" [(ngModel)]="currencyObj.tx_amount" name="amount" ng-min="vm.minFylingValue" placeholder="Amount" ng-required="options.required" [disabled]="options.disabled">
    </div>
  </div>
  
  <div class="currency-component--currency-block clearfix" *ngIf="false">
    <div class="currency-component--currency-input">
      <input type="text" class="currency-component--currency-input-currency" [(ngModel)]="currencyObj.tx_orig_currency" placeholder="Currency" ng-required="options.required" [disabled]="options.disabled" on-selection="vm.onSelectCurrency(currency)" currency-list="vm.currencyList" ng-if="vm.currencyList" readonly>
    </div>
    <div class="fy-amount-input">
      <input type="number" fy-decimal-keypad class="currency-component--amount-input-amount" [(ngModel)]="currencyObj.tx_orig_amount" name="amount" ng-min="vm.minFylingValue" placeholder="Amount" ng-required="options.required" [disabled]="options.disabled" ng-change="vm.onChangeAmount()">
    </div>
  </div>

  <!-- TODO: need to update this -->
  <div *ngIf="false" class="fy-exchange-rate-block" ng-click="vm.openCurrencyPopupModal()">
    <p class="info-block m-0">
      <span class="block"><span ng-bind="currencyObj.tx_currency"></span> <span ng-bind="currencyObj.tx_amount"></span></span>
      <span class="block info">at <span ng-bind="vm.exchangeRate"></span> <span ng-bind="currencyObj.tx_currency"></span> <span>/</span> <span ng-bind="currencyObj.tx_orig_currency"></span></span>
    </p>
    <i class="icon ion-information-circled" ng-if="!options.disabled"></i>
  </div>
</div>