$gray-dark: #464d57;
$danger: #f00;
$trips_pulled_back_color: #979797;
$trips_pending_approval_color: #1ab6bb;
$trips_pending_booking_color: #97b74f;
$trips_booked_color: #3f8b5e;
$trips_pending_cancellation_color: #dd693f;
$trips_cancelled_color: #d0021b;
$trips_pending_closure_color: #4195b7;
$trips_closed_color: #3375ad;
$trips_draft_color: $gray-dark;
$trips_approved_color: #3c763d;
$trips_reject_color: $danger;
$trips_inquiry_color: #7e57c2;
$text-light: #ababab;

.trip-card {
  margin: 6px;

  &--header {
    margin: 0 16px;
    color: $text-light;
    font-size: 16px;
  }

  &--body {
    margin: 4px 16px 16px 16px;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    display: flex;
  }

  &--cities {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--cities-container {
    border-left: 2px dotted #3aa82a;
    padding-left: 4px;
    &-city {
      white-space: nowrap;
      &::before {
        content: '∙';
        font-size: 48px;
        position: absolute;
        left: -20px;
        top: 2px;
        color: red;
      }

      &:last-child {
        position: relative;
        top: 8px;
        left: 8px;
      }

      &:first-child {
        position: relative;
        top: -12px;
        left: 8px;
      }
    }

    &-count {
      background: white;
      margin-left: -8px;
    }
  }

  &--pill {
    padding: 0 4px;
    border-radius: 4px;
    display: inline-block;
    color: white;
    font-weight: 500;

    &__draft {
      background: $trips_draft_color;
    }

    &__pendingApproval {
      background: $trips_pending_approval_color;
    }

    &__approved {
      background: $trips_approved_color;
    }

    &__closed {
      background: $trips_closed_color;
    }

    &__rejected {
      background: $trips_reject_color;
    }

    &__pulledBack {
      background: $trips_pulled_back_color;
    }

    &__pendingBooking {
      background: $trips_pending_booking_color;
    }

    &__booked {
      background: $trips_booked_color;
    }

    &__pendingCancellation {
      background: $trips_pending_cancellation_color;
    }

    &__cancelled {
      background: $trips_cancelled_color;
    }

    &__pendingClosure {
      background: $trips_pending_closure_color;
    }

    &__inquiry {
      background: $trips_inquiry_color;
    }
  }

  &--duration {
    color: $text-light;
    font-size: 14px;
  }

  &--trip-type {
    color: $text-light;
    margin-bottom: 12px;
  }
}
