@use '../../../../theme/colors.scss';

.mobile-number-card {
  &__container {
    background-color: colors.$pure-white;
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 16px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    gap: 27px;
    font-weight: 500;
    color: colors.$pure-black;
  }

  &__add-btn {
    font-size: 14px;
    color: colors.$brand-primary;
    font-weight: 500;
    white-space: nowrap;
  }

  &__description {
    margin-top: 6px;
    font-size: 14px;
    color: colors.$dark-grey;
    line-height: 1.3;
    font-weight: 400;
  }

  &__status {
    &__label {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      font-size: 14px;
      font-weight: 400;
      color: colors.$black-light;
    }

    &__icon-container {
      display: flex;
      align-items: center;
      margin-top: 4px;
    }

    &__icon {
      border-radius: 100%;
      height: 8px;
      width: 8px;
      margin-right: 6px;
      flex-shrink: 0;
      background-color: colors.$green;

      &__text {
        font-weight: 500;
      }
    }
  }

  &__divider {
    border-bottom: 1px solid colors.$border-tertiary;
    margin-top: 16px;
  }

  &__mobile {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;

    &__number-container {
      margin-top: 4px;
      font-size: 18px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: colors.$black;
    }

    &__delete-icon {
      width: 24px;
      height: 24px;
      color: colors.$blue-black;
    }

    &__edit-icon {
      @extend .mobile-number-card__mobile__delete-icon;
      margin-right: 16px;
    }
  }
}
