<ng-container>
  <div class="mobile-number-card__container">
    <div>
      <div (click)="clickedOnAdd()" class="mobile-number-card__title">
        <div>
          <div>{{ 'mobileNumberCard.title' | transloco }}</div>
          <div class="mobile-number-card__description">
            {{ 'mobileNumberCard.description' | transloco }}
          </div>
        </div>
        @if (!mobileNumber) {
          <span class="mobile-number-card__add-btn">{{
            'mobileNumberCard.addButton' | transloco
          }}</span>
        }
      </div>

      @if (mobileNumber) {
        <div class="mobile-number-card__divider"></div>
        <div class="mobile-number-card__mobile">
          <span class="mobile-number-card__mobile__text">{{ 'mobileNumberCard.mobileNumberLabel' | transloco }}</span>
          <div class="mobile-number-card__mobile__number-container">
            <span>
              {{ mobileNumber }}
            </span>
            <span>
              <ion-icon
                (click)="editMobileNumber()"
                src="../../../../assets/svg/edit.svg"
                slot="icon-only"
                class="fy-icon mobile-number-card__mobile__edit-icon"
              ></ion-icon>
              <ion-icon
                (click)="deleteMobileNumber()"
                src="../../../../assets/svg/bin.svg"
                slot="icon-only"
                class="fy-icon mobile-number-card__mobile__delete-icon"
              ></ion-icon>
            </span>
          </div>
        </div>
      }
    </div>
  </div>
</ng-container>
