<ion-header mode="md">
  <ion-toolbar
    mode="md"
    class="receipt-preview__toolbar"
    [ngClass]="{ 'receipt-preview__toolbar--no-index': base64ImagesWithSource.length === 1 }"
  >
    <ion-title [ngClass]="{ 'receipt-preview__title--with-delete': base64ImagesWithSource.length > 1 }">
      <div class="text-center receipt-preview__title">Receipt Preview</div>
      <div *ngIf="base64ImagesWithSource.length > 1" class="receipt-preview__sub-title text-center">
        {{ activeIndex + 1 }}/{{ base64ImagesWithSource.length }}
      </div>
    </ion-title>
    <ion-buttons class="receipt-preview__btn" slot="start">
      <ion-button (click)="closeModal()">
        <mat-icon class="fy-icon-close" svgIcon="cross"></mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons class="receipt-preview__btn" slot="end">
      <ion-button class="receipt-preview__btn--crop" (click)="openCropReceiptModal()">
        <ion-icon src="../../../../assets/svg/crop.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="base64ImagesWithSource.length > 1" (click)="deleteReceipt()">
        <mat-icon class="fy-icon-close receipt-preview__btn--delete" svgIcon="bin"></mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper
    #swiper
    class="full-height ion-slides"
    [centeredSlides]="true"
    [pagination]="false"
    (activeIndexChange)="ionSlideDidChange()"
  >
    <ng-template *ngFor="let base64ImageWithSource of base64ImagesWithSource; index as i" swiperSlide>
      <pinch-zoom class="receipt-preview__image-container">
        <img [src]="base64ImageWithSource.base64Image" />
      </pinch-zoom>
    </ng-template>
  </swiper>

  <div class="receipt-preview__controls" *ngIf="base64ImagesWithSource.length > 1">
    <div
      *ngIf="activeIndex > 0"
      class="receipt-preview__controls__btn receipt-preview__controls__btn--back"
      (click)="goToPrevSlide()"
    >
      <mat-icon class="receipt-preview__controls__btn__icon"> arrow_back_ios</mat-icon>
    </div>
    <div
      class="receipt-preview__controls__btn receipt-preview__controls__btn--forward"
      *ngIf="activeIndex < base64ImagesWithSource.length - 1"
      (click)="goToNextSlide()"
    >
      <mat-icon class="receipt-preview__controls__btn__icon">arrow_forward_ios</mat-icon>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar mode="md" class="pb-0">
    <div class="receipt-preview__cta-container">
      <ng-container *ngIf="mode === 'single' && base64ImagesWithSource.length === 1; else bulkMode">
        <button type="button" class="btn-secondary" (click)="retake()">Retake</button>
      </ng-container>
      <ng-template #bulkMode>
        <button *ngIf="base64ImagesWithSource.length < 20" type="button" class="btn-secondary" (click)="addMore()">
          Add More
        </button>
      </ng-template>
      <button type="submit" class="btn-primary" (click)="saveReceipt()">Finish</button>
    </div>
  </ion-toolbar>
</ion-footer>
