@import '../../../../../theme/colors.scss';

.receipt-preview {
  &__toolbar {
    border-bottom: 1px solid $grey-lighter;
    margin-top: 16px;
    padding-bottom: 16px;
    line-height: 1.3;

    &--no-index {
      --min-height: 0;
    }
  }

  &__title {
    font-size: 20px;
    color: $black;

    &--with-delete {
      padding-left: 40px;
    }
  }

  &__sub-title {
    font-size: 12px;
    color: $black-light;
    margin-top: 8px;
  }

  &__btn {
    margin-bottom: auto;
    min-width: 40px;

    &--delete {
      stroke: $black-light;
    }

    &--crop {
      color: $black-light;
    }

    &--rotate {
      color: $black-light;
    }
  }

  &__controls {
    position: relative;
    z-index: 99;

    &__btn {
      position: fixed;
      top: calc(50% - 36px);
      padding: 20px;

      &--back {
        left: 20px;
        padding-left: 0;
      }

      &--forward {
        right: 20px;
        padding-right: 0;
      }

      &__icon {
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        border-radius: 50%;
        font-size: 18px;
        padding: 12px;
        height: 40px;
        width: 40px;
        color: $pure-white;
      }
    }
  }

  &__image-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin: 16px;
    background-color: white !important;
    z-index: 12;

    .receipt-preview__image--arrow-anticlockwise {
      transform: rotate(-90deg);
      transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .receipt-preview__image--arrow-clockwise {
      transform: rotate(90deg);
      transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__cta-container {
    display: flex;
    justify-content: space-between;
    padding: 14px 16px;
    bottom: 0;
    width: 100%;
    background-color: $pure-white;
    box-shadow: 0 -2px 12px $pink-shadow;
    z-index: 999;
  }
}
