@import '../../../theme/colors';

.tasks {
  &--toolbar {
    border-bottom: 1px solid $grey-lightest;
  }

  &--body {
    --background: #{$white};
  }

  &--zero-state {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }
}
