<ion-header>
  <ion-toolbar class="draft-advance-summary--header">
    <ion-title>Review</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <mat-icon>close</mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="draft-advance-summary--container">
    <div class="draft-advance-summary--warning-text">
      <span
        >This action will save a draft advance request and will not be submitted to your approvers directly.
        <strong> You need to explicitly submit a draft advance request. </strong></span
      >
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="fy-footer-cta-container">
    <ion-button class="fy-footer-cta fy-footer-cta--primary" (click)="createAdvanceRequest()"> Finish </ion-button>
  </ion-toolbar>
</ion-footer>
