<ion-header class="fy-header" mode="md">
  <ion-toolbar mode="md" class="fy-header--toolbar">
    <ion-buttons mode="md" slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="fy-header--title"> Merge duplicates </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (fg) {
    <form #formContainer [formGroup]="fg" class="merge-expenses--form">
      <div class="merge-expenses--internal-block">
        @if (expenseOptions$ | async; as expenseOptions) {
          <app-fy-select
            [disabled]="disableFormElements || disableExpenseToKeep"
            [label]="'Expense to Keep'"
            [selectModalHeader]="'Expense to keep'"
            [mandatory]="true"
            [nullOption]="false"
            [options]="expenseOptions"
            [enableSearch]="false"
            formControlName="target_expense_id"
            [touchedInParent]="fg.controls.target_expense_id.touched"
            [validInParent]="fg.controls.target_expense_id.valid"
          >
          </app-fy-select>
        }
      </div>
      @if (fg.controls.target_expense_id.touched && fg.controls.target_expense_id.invalid) {
        <div class="merge-expenses--error">Please select a valid expense</div>
      }
      @if (expenseToKeepInfoText) {
        <app-fy-alert-info [message]="expenseToKeepInfoText" [type]="'information'"> </app-fy-alert-info>
      }
      @if (genericFieldsOptions$ | async; as genericFieldsOptions) {
        @if (projectDependentFieldsMapping$ | async; as projectDependentFieldsMapping) {
          @if (costCenterDependentFieldsMapping$ | async; as costCenterDependentFieldsMapping) {
            <app-generic-fields-form
              formControlName="genericFields"
              [amountOptionsData]="genericFieldsOptions.amountOptionsData"
              [receiptOptions]="receiptOptions"
              [attachments]="attachments"
              [dateOfSpendOptionsData]="genericFieldsOptions.dateOfSpendOptionsData"
              [paymentModeOptionsData]="genericFieldsOptions.paymentModeOptionsData"
              [CCCTxns]="CCCTxns"
              [projectOptionsData]="genericFieldsOptions.projectOptionsData"
              [showBillable]="showBillable"
              [billableOptionsData]="genericFieldsOptions.billableOptionsData"
              [vendorOptionsData]="genericFieldsOptions.vendorOptionsData"
              [categoryOptionsData]="genericFieldsOptions.categoryOptionsData"
              [taxGroupOptionsData]="genericFieldsOptions.taxGroupOptionsData"
              [taxAmountOptionsData]="genericFieldsOptions.taxAmountOptionsData"
              [constCenterOptionsData]="genericFieldsOptions.constCenterOptionsData"
              [purposeOptionsData]="genericFieldsOptions.purposeOptionsData"
              [categoryDependentTemplate]="categoryDependentFields"
              [disableFormElements]="disableFormElements"
              [projectDependentFieldsMapping]="projectDependentFieldsMapping"
              [costCenterDependentFieldsMapping]="costCenterDependentFieldsMapping"
              (fieldsTouched)="onGenericFieldsTouched($event)"
              (categoryChanged)="onCategoryChanged($event)"
              (receiptChanged)="onReceiptChanged($event)"
              (paymentModeChanged)="onPaymentModeChanged()"
            ></app-generic-fields-form>
          }
        }
      }
      <ng-template #categoryDependentFields>
        @if (systemCategories?.includes(selectedCategoryName)) {
          @if (categoryDependentFieldsOptions$ | async; as categoryDependentFieldsOptions) {
            <app-category-dependent-fields-form
              formControlName="categoryDependent"
              [location1OptionsData]="categoryDependentFieldsOptions.location1OptionsData"
              [location2OptionsData]="categoryDependentFieldsOptions.location2OptionsData"
              [onwardDateOptionsData]="categoryDependentFieldsOptions.onwardDateOptionsData"
              [returnDateOptionsData]="categoryDependentFieldsOptions.returnDateOptionsData"
              [flightJourneyTravelClassOptionsData]="categoryDependentFieldsOptions.flightJourneyTravelClassOptionsData"
              [flightReturnTravelClassOptionsData]="categoryDependentFieldsOptions.flightReturnTravelClassOptionsData"
              [trainTravelClassOptionsData]="categoryDependentFieldsOptions.trainTravelClassOptionsData"
              [busTravelClassOptionsData]="categoryDependentFieldsOptions.busTravelClassOptionsData"
              [distanceOptionsData]="categoryDependentFieldsOptions.distanceOptionsData"
              [distanceUnitOptionsData]="categoryDependentFieldsOptions.distanceUnitOptionsData"
              [disableFormElements]="disableFormElements"
              (fieldsTouched)="onCategoryDependentFieldsTouched($event)"
            ></app-category-dependent-fields-form>
          }
        }
      </ng-template>
      @if (customInputs$ | async; as customInputs) {
        <app-custom-inputs-fields-form
          formControlName="custom_inputs"
          [disableFormElements]="disableFormElements"
          [customInputs]="customInputs"
          [combinedCustomProperties]="combinedCustomProperties"
        ></app-custom-inputs-fields-form>
      }
    </form>
  }
</ion-content>

@if (fg) {
  <ion-footer class="merge-expenses--footer-container">
    <ion-toolbar mode="md">
      <div class="merge-expenses--footer-toolbar">
        <ion-buttons>
          <ion-button
            [disabled]="isMerging"
            [loadingText]="'Merging'"
            [loading]="isMerging"
            appFormButtonValidation
            class="btn-primary"
            (click)="mergeExpense()"
          >
            Save
          </ion-button>
        </ion-buttons>
      </div>
    </ion-toolbar>
  </ion-footer>
}
