<ion-header class="fy-header" mode="md">
  <ion-toolbar mode="md" class="fy-header--toolbar">
    <ion-buttons mode="md" slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="fy-header--title"> Merge Duplicates {{disableFormElements}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="fg">
    <form #formContainer [formGroup]="fg" class="merge-expenses--form">
      <div class="merge-expenses--internal-block">
        <ng-container *ngIf="expenseOptions$|async as expenseOptions">
          <app-fy-select
            [disabled]="disableFormElements || disableExpenseToKeep"
            [label]="'Expense to Keep'"
            [selectModalHeader]="'Expense to Keep'"
            [mandatory]="true"
            [nullOption]="false"
            [options]="expenseOptions"
            [enableSearch]="false"
            formControlName="target_txn_id"
          >
          </app-fy-select>
        </ng-container>
      </div>
      <div *ngIf="fg.controls.target_txn_id.touched && !fg.controls.target_txn_id.valid" class="merge-expenses--error">
        Please select a valid expense
      </div>

      <app-fy-alert-info *ngIf="expenseToKeepInfoText" [message]="expenseToKeepInfoText" [type]="'information'">
      </app-fy-alert-info>

      <app-generic-fields-form
        [genericFieldsFormGroup]="fg.get('genericFields')"
        [amountOptionsData$]="amountOptionsData$"
        [receiptOptions$]="receiptOptions$"
        [attachments$]="attachments$"
        [dateOfSpendOptionsData$]="dateOfSpendOptionsData$"
        [paymentModeOptionsData$]="paymentModeOptionsData$"
        [CCCTxn$]="CCCTxn$"
        [projectOptionsData$]="projectOptionsData$"
        [billableOptionsData$]="billableOptionsData$"
        [vendorOptionsData$]="vendorOptionsData$"
        [categoryOptionsData$]="categoryOptionsData$"
        [taxGroupOptionsData$]="taxGroupOptionsData$"
        [taxAmountOptionsData$]="taxAmountOptionsData$"
        [constCenterOptionsData$]="constCenterOptionsData$"
        [purposeOptionsData$]="purposeOptionsData$"
        [categoryDependentTemplate]="categoryDependentFields"
        [disableFormElements]="disableFormElements"
      ></app-generic-fields-form>

      <ng-template #categoryDependentFields>
        <ng-container *ngIf="['Bus', 'Flight', 'Hotel', 'Train'].includes(selectedCategoryName)">
          <app-category-dependent-fields-form
            [categoryDependentFormGroup]="fg.get('categoryDependent')"
            [location1OptionsData$]="location1OptionsData$"
            [location2OptionsData$]="location2OptionsData$"
            [onwardDateOptionsData$]="onwardDateOptionsData$"
            [returnDateOptionsData$]="returnDateOptionsData$"
            [flightJourneyTravelClassOptionsData$]="flightJourneyTravelClassOptionsData$"
            [flightReturnTravelClassOptionsData$]="flightReturnTravelClassOptionsData$"
            [trainTravelClassOptionsData$]="trainTravelClassOptionsData$"
            [busTravelClassOptionsData$]="busTravelClassOptionsData$"
            [distanceOptionsData$]="distanceOptionsData$"
            [distanceUnitOptionsData$]="distanceUnitOptionsData$"
            [disableFormElements]="disableFormElements"
          ></app-category-dependent-fields-form>
        </ng-container>
      </ng-template>

      <app-custom-inputs-fields-form
        [disableFormElements]="disableFormElements"
        [customInputs$]="customInputs$"
        [combinedCustomProperties]="combinedCustomProperties"
      ></app-custom-inputs-fields-form>
    </form>
  </ng-container>
</ion-content>

<ng-container *ngIf="fg">
  <ion-footer class="merge-expenses--footer-container">
    <ion-toolbar mode="md">
      <div class="merge-expenses--footer-toolbar">
        <ion-buttons>
          <ion-button
            [disabled]="isMerging"
            [loadingText]="'Merging'"
            [loading]="isMerging"
            appFormButtonValidation
            class="btn-primary"
            (click)="mergeExpense()"
          >
            Save
          </ion-button>
        </ion-buttons>
      </div>
    </ion-toolbar>
  </ion-footer>
</ng-container>
