<ion-header mode="md">
  <ion-toolbar mode="md" class="corporate-card-expenses--toolbar-header">
    <ion-buttons *ngIf="!navigateBack" mode="md" slot="start">
      <app-fy-menu-icon></app-fy-menu-icon>
    </ion-buttons>
    <ion-buttons *ngIf="navigateBack" mode="md" slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title class="page-title">
      <ng-container> Card Transactions </ng-container>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar mode="md">
    <div class="corporate-card-expenses--state">
      <div
        matRipple
        class="corporate-card-expenses--state-pill corporate-card-expenses--state-pill__left"
        [ngClass]="{'corporate-card-expenses--state-pill__selected': baseState === 'unclassified'}"
        (click)="setState('unclassified')"
      >
        Unclassified
        <span> ({{unclassifiedExpensesCountHeader$|async}}) </span>
      </div>
      <div
        matRipple
        class="corporate-card-expenses--state-pill corporate-card-expenses--state-pill__right"
        [ngClass]="{'corporate-card-expenses--state-pill__selected': baseState === 'classified'}"
        (click)="setState('classified')"
      >
        Classified
        <span> ({{classifiedExpensesCountHeader$|async}}) </span>
      </div>
    </div>
  </ion-toolbar>

  <ion-toolbar mode="md">
    <div class="corporate-card-expenses--toolbar">
      <div class="expense-report-search">
        <mat-form-field class="mat-form-field-no-padding corporate-card-expenses--simple-search" appearance="outline">
          <div class="corporate-card-expenses--simple-search-block">
            <mat-icon matPrefix svgIcon="search" class="corporate-card-expenses--simple-search-icon"></mat-icon>
            <input
              #simpleSearchInput
              matInput
              placeholder="Search"
              class="corporate-card-expenses--simple-search-input smartlook-show"
              [(ngModel)]="simpleSearchText"
            />
            <button
              mat-button
              *ngIf="simpleSearchText"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              class="corporate-card-expenses--simple-search-close"
              (click)="clearText()"
            >
              <mat-icon class="corporate-card-expenses--simple-search-icon">close</mat-icon>
            </button>
          </div>
        </mat-form-field>
      </div>
      <div>
        <ion-buttons mode="md" slot="end">
          <button mat-icon-button class="corporate-card-expenses--filter-button" (click)="openSort()">
            <mat-icon
              class="corporate-card-expenses--filter-button-icon"
              *ngIf="filters?.sortDir === 'asc'"
              svgIcon="fy-sort-ascending"
            ></mat-icon>
            <mat-icon
              class="corporate-card-expenses--filter-button-icon"
              *ngIf="filters?.sortDir === 'desc' || true && filters?.sortDir !== 'asc'"
              svgIcon="fy-sort-descending"
            ></mat-icon>
          </button>
          <button
            mat-icon-button
            class="corporate-card-expenses--filter-button"
            [ngClass]="{'corporate-card-expenses--filter-button__applied': filters?.state || filters?.date}"
            (click)="openFilters()"
          >
            <mat-icon class="corporate-card-expenses--filter-button-icon" svgIcon="fy-filter"></mat-icon>
          </button>
        </ion-buttons>
      </div>
    </div>
    <div class="corporate-card-expenses--filters" *ngIf="filters?.state || filters?.date">
      <div>
        Filtered by
        <span [ngSwitch]="filters?.date">
          <span *ngSwitchCase="'ALL'">All</span>
          <span *ngSwitchCase="'THISMONTH'">This Month</span>
          <span *ngSwitchCase="'LASTMONTH'">Last Month</span>
          <span *ngSwitchCase="'CUSTOMDATE'">Custom Date</span>
          <span *ngSwitchDefault></span>
        </span>
      </div>
      <mat-icon (click)="clearFilters()"> cancel </mat-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!(filters?.state || filters?.date)">
    <div *ngIf="(count$ | async) === 0" class="corporate-card-expenses--zero-state">
      <app-fy-zero-state
        [image]="'../../../assets/images/zero-states/expenses.svg'"
        [header]="'Looks like you\'ve got no card transactions right now!'"
      ></app-fy-zero-state>
    </div>
  </div>

  <div *ngIf="(filters?.state || filters?.date)">
    <div *ngIf="(count$ | async) === 0" class="corporate-card-expenses--zero-state">
      <app-fy-zero-state
        [image]="'../../../assets/images/zero-states/expenses.svg'"
        [header]="'No card transactions found for this selected filter'"
      ></app-fy-zero-state>
    </div>
  </div>

  <div *ngFor="let cardTransaction of cardTransactions$ | async as list; let i = index">
    <app-corporate-card-expense-card
      [baseState]="baseState"
      [corporateCardExpense]="cardTransaction"
      [prevExpense]="list[i-1]"
      [dateComparatorProp]="'txn_dt'"
      (goToTransaction)="goToTransaction($event)"
    >
    </app-corporate-card-expense-card>
  </div>

  <ion-infinite-scroll *ngIf="isInfiniteScrollRequired$ | async" threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
