<ion-header mode="md">
  <ion-toolbar mode="md">
    <ion-title mode="md">
      Currency
    </ion-title>
    <ion-buttons mode="md" slot="end">
      <ion-button (click)="onDoneClick()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="exchange-rate-modal">
    <form [formGroup]="fg">
      <div class="exchange-rate-modal--form-control">
        <div class="exchange-rate-modal--label">
          {{newCurrency}}
        </div>
        <input formControlName="newCurrencyAmount" class="exchange-rate-modal--input" inputmode="decimal" type="number" matInput placeholder="e.g. 9.99">
      </div>
      <div class="exchange-rate-modal--form-control">
        <div class="exchange-rate-modal--label">
          Rate
        </div>
        <input formControlName="exchangeRate" class="exchange-rate-modal--input" inputmode="decimal" type="number" matInput placeholder="e.g. 9.99">
      </div>
      <div class="exchange-rate-modal--form-control">
        <div class="exchange-rate-modal--label">
          {{currentCurrency}}
        </div>
        <input formControlName="homeCurrencyAmount" class="exchange-rate-modal--input" inputmode="decimal" type="number" matInput placeholder="e.g. 9.99">
      </div>
    </form>
  </div>
  <div class="exchange-rate-modal--description">
    {{newCurrency}} {{fg.controls.newCurrencyAmount.value}} will be converted to {{currentCurrency}}
    {{fg.controls.homeCurrencyAmount.value}} at {{fg.controls.exchangeRate.value}} {{currentCurrency}} / {{newCurrency}}
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar mode="md">
    <div class="exchange-rate-modal--cta-container">
      <ion-button class="exchange-rate-modal--save" [disabled]="!fg.valid" fill="solid" color="fyle-primary" (click)="save()">
        Save
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
