<div class="get-started-popup--container" *ngIf="gettingStartedImagesAndInfos$ | async as gettingStartedImagesAndInfos">
  <swiper #swiper class="get-started-popup--swiper" [pagination]="true">
    <ng-template *ngFor="let gettingStartedImagesAndInfo of gettingStartedImagesAndInfos" swiperSlide>
      <div>
        <div class="banner-image">
          <img [src]="gettingStartedImagesAndInfo.src" class="get-started-popup--image" />
        </div>
        <div>
          <div class="get-started-popup--heading text-center">{{ gettingStartedImagesAndInfo.heading }}</div>
          <div class="get-started-popup--info text-center">{{ gettingStartedImagesAndInfo.info }}</div>
          <button class="get-started-popup--button" (click)="close()">LET'S DO THIS!</button>
        </div>
      </div>
    </ng-template>
  </swiper>
</div>
