.get-started-popup {
  &--container {
    width: 280px;
  }

  &--heading {
    font-size: 18px;
    display: block;
    line-height: 1.5;
    margin: 40px 10px 5px;
  }

  &--info {
    font-size: 16px;
    margin: 0 10px 10px;
    line-height: 1.5;
    color: #4a4a4a;
  }

  &--image {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }

  &--button {
    background-color: #ff3366;
    color: #fff;
    margin: 30px auto 10px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 4px;
    margin: 15px auto 20px;
    height: 40px;
    display: block;
  }
}
