@import '../../../../theme/colors.scss';

.fy-select {
  &--label {
    width: 100%;
    background-color: inherit;
    font-weight: 400;
  }

  &--label-content {
    margin: 0 8px 0 0;
    max-width: 90%;
    min-width: 120px;
    font-size: 12px;
    color: var(--secondary-text);
    line-height: 16px;
    white-space: nowrap;
  }

  &--disabled {
    background: var(--background-secondary);
  }

  &--input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px solid var(--border-color);
  }

  &--input {
    font-size: 14px;
    line-height: 18px;
    color: var(--primary-text);
    border: none;
    width: 100%;
    padding: 0;
  }

  &--input-invalid {
    border-bottom: 1px solid var(--error-color);
  }

  &--mandatory {
    color: var(--info-color);
    font-size: 14px;
    font-weight: 400;
  }

  &--icon {
    color: var(--icon-color);
  }

  &--input-disabled {
    opacity: 0.5;
  }
}
