@use '../../../../theme/colors.scss';

.header {
  border-radius: 10px;
}

.cc-expense-merchant-info-modal {
  position: relative;
  height: auto;
  min-height: auto;

  &__toolbar-title {
    color: colors.$black;
    font-size: 18px;
    line-height: normal;
    font-weight: 500;
  }

  &__toolbar-close-btn {
    position: absolute;
  }

  &__body {
    font-size: 14px;
    color: colors.$black;
    padding: 12px 16px 20px 16px;
  }
}
