<ion-content class="capture-receipt--camera-preview">
  <div id="cameraPreview"></div>

  <div *ngIf="modeChanged" class="capture-receipt--switch-mode-info text-center">
    <p class="capture-receipt--switch-mode-text">{{ isBulkMode ? 'Bulk Mode' : 'Single Mode'}}</p>
  </div>
  
  <div class="capture-receipt--close-flash-container">
    <div class="capture-receipt--close-icon-block" (click)="close()">
      <mat-icon class="capture-receipt--close-icon" svgIcon="close"></mat-icon>
    </div>
    <div class="capture-receipt--flash-icon-block">
      <mat-icon class="capture-receipt--flash-icon" svgIcon="close"></mat-icon>
    </div>
  </div>

  <div class="capture-receipt--camera-pointer-container">
    <mat-icon class="capture-receipt--camera-pointer-icon" svgIcon="camera-pointer"></mat-icon>
  </div>

  <div class="capture-receipt--single-bulk-gallery-container">
    <div class="capture-receipt--gallery-icon-block text-center">
      <mat-icon class="capture-receipt--gallery-icon" svgIcon="gallery"></mat-icon>
      <div class="text-center capture-receipt--gallery-icon-text">Gallery</div>
    </div>
    <div class="capture-receipt--capture-icon-block text-center">
      <mat-icon class="capture-receipt--capture-icon" svgIcon="capture" (click)="onCapture()"></mat-icon>
      <div class="text-center capture-receipt--capture-icon-text">{{ isBulkMode ? 'Bulk Mode' : 'Single Mode'}}</div>
    </div>
    <div class="capture-receipt--bulk-mode-icon-block text-center" (click)="switchMode()">
      <ng-container *ngIf="captureCount == 0">
        <mat-icon class="capture-receipt--bulk-mode-icon" svgIcon="{{isBulkMode ? 'single-mode' : 'bulk-mode'}}"></mat-icon>
        <div class="text-center capture-receipt--bulk-icon-text">{{ !isBulkMode ? 'Bulk Mode' : 'Single Mode'}}</div>
      </ng-container>
      <ng-container *ngIf="captureCount > 0">
        <div class="capture-receipt--thumbnail-container" (click)="review()">
          <ion-img class="capture-receipt--image-thumbnail" [src]="lastImage"></ion-img>
          <div class="text-center capture-receipt--bulk-icon-text">Review</div>
        </div>
      </ng-container>
    </div>
  </div>
</ion-content>