@import "../../../theme/colors.scss";

.capture-receipt {
  &--camera-preview{
    --background: transparent;
  }

  &--close-flash-container {
    position: fixed;
    top: 53px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &--close-icon {
    height: 42px;
    width: 42px;
  }

  &--flash-icon {
    height: 42px;
    width: 42px;
  }

  &--camera-pointer-container {
    position: fixed;
    top: 146px;
    left: 18px;
  }

  &--camera-pointer-icon {
    width: 339px;
    height: 483px;
  }


  &--switch-mode-info {
    background: #0000004D;
    width: 179px;
    height: 65px;
    position: absolute;
    bottom: 50%;
    left: 30%;
    color: $pure-white;
    font-size: 20px;
    padding-top: 20px;
  }



  &--single-bulk-gallery-container {
    position: fixed;
    bottom: 53px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &--gallery-icon-block {
    margin-top: auto;
  }

  &--gallery-icon {
    height: 52px;
    width: 52px;
  }

  &--gallery-icon-text {
    color: #fff;
    margin-top: 8px;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.3px;
  }

  &--capture-icon {
    height: 68px;
    width: 68px;
  }

  &--capture-icon-text {
    color: #fff;
    margin-top: 22px;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.3px;
    font-weight: 500;
  }

  &--bulk-mode-icon-block{
    margin-top: auto;
  }

  &--bulk-mode-icon {
    height: 52px;
    width: 52px;
  }

  &--bulk-icon-text {
    color: #fff;
    margin-top: 8px;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.3px;
  }
}



  