<ion-content
  class="capture-receipt--camera-preview"
  [ngClass]="{'capture-receipt--camera-preview__is-active': isCameraShown}"
>
  <div id="cameraPreview"></div>
  <div *ngIf="hasModeChanged" class="capture-receipt--switch-mode-info text-center">
    <div class="capture-receipt--switch-mode-text">{{ isBulkMode ? 'Bulk Mode' : 'Single Mode'}}</div>
  </div>

  <div class="capture-receipt--close-flash-container">
    <div class="capture-receipt--close-icon-block" (click)="close()">
      <img class="capture-receipt--close-icon" src="../../../assets/images/close.png" />
    </div>
    <div class="capture-receipt--flash-icon-block" *ngIf="flashMode" (click)="toggleFlashMode()">
      <mat-icon
        class="capture-receipt--flash-icon"
        svgIcon="{{(flashMode === 'on') ? 'flash-on' : 'flash-off'}}"
      ></mat-icon>
    </div>
  </div>

  <div class="capture-receipt--camera-pointer-container">
    <div class="capture-receipt--camera-pointer-container__common capture-receipt--camera-pointer-container__top">
      <img class="capture-receipt--camera-pointer-icon__top-left" src="../../../assets/images/pointer-top-left.png" />
      <img class="capture-receipt--camera-pointer-icon__top-right" src="../../../assets/images/pointer-top-right.png" />
    </div>

    <div class="capture-receipt--camera-pointer-container__common capture-receipt--camera-pointer-container__bottom">
      <img
        class="capture-receipt--camera-pointer-icon__bottom-left"
        src="../../../assets/images/pointer-bottom-left.png"
      />
      <img
        class="capture-receipt--camera-pointer-icon__bottom-right"
        src="../../../assets/images/pointer-bottom-right.png"
      />
    </div>
  </div>

  <div
    class="capture-receipt--single-bulk-gallery-container"
    [ngClass]="{'capture-receipt--single-bulk-gallery-container__offline': isOffline$|async}"
  >
    <div class="capture-receipt--gallery-icon-block text-center">
      <img
        class="capture-receipt--gallery-icon"
        src="../../../../assets/images/gallery.png"
        alt="Gallery"
        (click)="galleryUpload()"
      />
      <div class="text-center capture-receipt--footer-text capture-receipt--gallery-icon-text">Gallery</div>
    </div>
    <div class="capture-receipt--capture-icon-block text-center">
      <img
        class="capture-receipt--capture-icon"
        src="../../../../assets/images/capture.png"
        alt="Capture"
        (click)="onCapture()"
      />
      <div class="text-center capture-receipt--footer-text capture-receipt--capture-icon-text">
        {{ isBulkMode ? 'Bulk Mode' : 'Single Mode'}}
      </div>
    </div>
    <div class="capture-receipt--bulk-mode-icon-block text-center">
      <ng-container *ngIf="captureCount === 0">
        <div (click)="switchMode()">
          <img
            class="capture-receipt--bulk-mode-icon"
            [src]="isBulkMode ? '../../../../assets/images/single-mode.png' : '../../../../assets/images/bulk-mode.png'"
            alt="Mode"
          />
          <div class="text-center capture-receipt--footer-text capture-receipt--bulk-icon-text">
            {{ !isBulkMode ? 'Bulk Mode' : 'Single Mode'}}
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="captureCount > 0">
        <div class="capture-receipt--thumbnail-container" (click)="review()">
          <div class="capture-receipt--image-count text-center">{{base64ImagesWithSource.length}}</div>
          <div class="capture-receipt--image-thumbnail">
            <ion-img [src]="lastImage"></ion-img>
          </div>

          <div class="text-center capture-receipt--footer-text capture-receipt--bulk-icon-text">Review</div>
        </div>
      </ng-container>
    </div>
  </div>
</ion-content>
