.toast-message {

  &--container {
    justify-content: space-between;
  }
  
  &--left-icon {
    font-size: 20px;
    margin-right: 10px;
  }

  &--redirection {
    margin-left: 19px;
    margin-left: 20px;
    white-space: nowrap;
  }

  &--right-icon {
    font-size: 20px;
  }
}