<div class="toast-message--container d-flex">
  <div matSnackBarLabel class="d-flex">
    @if (data.icon) {
      <mat-icon
        class="toast-message--left-icon icon--toast-danger"
        svgIcon="{{ data.icon }}"
      ></mat-icon>
    }
    <span class="toast-message--body" [innerHTML]="data.message"></span>
  </div>

  <div matSnackBarActions class="d-flex ion-text-right">
    @if (data.redirectionText) {
      <span matSnackBarAction class="toast-message--redirection ion-text-right" (click)="actionEvent()">{{
        data.redirectionText
      }}</span>
    }
    @if (data.showCloseButton) {
      <mat-icon matSnackBarAction class="toast-message--right-icon ion-text-right" (click)="closeEvent()"
        >close</mat-icon
        >
      }
    </div>
  </div>
