<div class="toast-message--container type-{{ data.messageType }} d-flex">
  <div matSnackBarLabel class="d-flex">
    @if (data.icon) {
      <div class="icon-container type-{{ data.messageType }}">
        <mat-icon class="toast-message--left-icon" svgIcon="{{ data.icon }}"></mat-icon>
      </div>
    }
    <div class="toast-message--body" [innerHTML]="data.message"></div>
  </div>

  <div matSnackBarActions class="d-flex ion-text-right">
    @if (data.redirectionText) {
      <span matSnackBarAction class="toast-message--redirection ion-text-right" (click)="actionEvent()">{{
        data.redirectionText
      }}</span>
    }
    @if (data.showCloseButton) {
      <mat-icon matSnackBarAction class="toast-message--right-icon ion-text-right" (click)="closeEvent()"
        >close</mat-icon
      >
    }
  </div>
</div>
