.sort-filter {
  &--head {
    margin: 12px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--header-text {
    color: #ababab;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
  }

  &--reset {
    color:#1978f7;
    font-size: 16px;
  }

  &--body {
    margin: 0 12px 12px;
    padding: 0 12px 12px;
  }

  &--radio-group {
    display: flex;
    flex-direction: column;
  }

  &--radio-btn {
    padding: 12px 0;
  }

  &--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 48px;
    text-align: center;
    background-color: #f8f8f8;
  }

  &--custom-date {
    margin-left: 32px;
  }

  &--cancel {
    color: #6a6a6a;
    flex-grow: 1;
    width: 100%;
  }

  &--save {
    color: #ff3366;
    border-left: 2px solid #e0e0e0;
    flex-grow: 1;
    width: 100%;
  }
}
