@import '../../../../theme/colors.scss';

.notifications {
  &--toolbar {
    box-shadow: 0 0 8px $black-shadow;
  }

  &--toolbar-title {
    color: $black;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    padding: 18px 0 18px 14px;
  }

  &--content-container {
    --background: #{$pure-white};
  }

  &--container {
    margin: 16px;
    background: $pure-white;
  }

  &--card {
    display: flex;
    align-items: center;
    padding: 16px;
    margin-bottom: 16px;
    background: $pure-white;
    justify-content: space-between;
    border: 1px solid $grey;
    border-radius: 8px;

    &--title {
      font-size: 16px;
      font-weight: 500;
      color: $blue-black;
    }
  }

  &--preferences-container {
    padding: 16px;
    background: $pure-white;
    border: 1px solid $grey;
    border-radius: 8px 8px 0 0;

    &--title {
      font-size: 16px;
      font-weight: 500;
      color: $blue-black;
    }

    &--description {
      font-size: 12px;
      font-weight: 400;
      color: $black-light;
    }
  }

  &--preferences-form {
    padding: 20px 16px;
    background: $pure-white;
    border: 1px solid $grey;
    border-top: none;
    border-radius: 0 0 8px 8px;

    &--radio-button {
      font-size: 14px;
      font-weight: 400;
      color: $blue-black;
      display: flex;
      align-items: center;
      gap: 8px;
      padding-bottom: 12px;

      &:last-child {
        padding-bottom: 0;
      }
    }

    ion-icon {
      font-size: 24px;
    }
  }

  &--navigate-icon {
    height: 16px;
    color: $blue-black;
  }
}
