<ion-header mode="md" class="ion-no-border">
  <ion-toolbar class="notifications--toolbar">
    <ion-buttons mode="md" slot="start">
      <ion-button (click)="goBack()" data-testid="back-button">
        <mat-icon>keyboard_backspace</mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="notifications--toolbar-title" mode="md">Manage notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="notifications--content-container">
  <ng-container *ngIf="isNotificationsDisabled">
    <div class="notifications--zero-state-container" data-testid="zero-state">
      <img class="notifications--zero-state-img" src="../../../../assets/images/zero-states/notifications.png" />
      <div class="notifications--zero-state-subheading">
        <div>Your admin has disabled</div>
        <div>notifications for your organization.</div>
        <div>Contact them for any queries.</div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!isNotificationsDisabled">
    <div class="notifications--container">
      <div
        class="notifications--card"
        matRipple
        *ngIf="expenseNotificationsConfig?.notifications?.length > 0"
        (click)="openNotificationModal(expenseNotificationsConfig)"
      >
        <div class="notifications--card--title">{{ expenseNotificationsConfig.title }}</div>
        <ion-icon
          class="notifications--navigate-icon"
          src="../../../assets/svg/arrow-right.svg"
          slot="icon-only"
        ></ion-icon>
      </div>

      <div
        class="notifications--card"
        matRipple
        *ngIf="expenseReportNotificationsConfig?.notifications?.length > 0"
        (click)="openNotificationModal(expenseReportNotificationsConfig)"
      >
        <div class="notifications--card--title">{{ expenseReportNotificationsConfig.title }}</div>
        <ion-icon
          class="notifications--navigate-icon"
          src="../../../assets/svg/arrow-right.svg"
          slot="icon-only"
        ></ion-icon>
      </div>

      <div
        class="notifications--card"
        matRipple
        *ngIf="isAdvancesEnabled && advanceNotificationsConfig?.notifications?.length > 0"
        (click)="openNotificationModal(advanceNotificationsConfig)"
      >
        <div class="notifications--card--title">{{ advanceNotificationsConfig.title }}</div>
        <ion-icon
          class="notifications--navigate-icon"
          src="../../../assets/svg/arrow-right.svg"
          slot="icon-only"
        ></ion-icon>
      </div>

      <div *ngIf="isDelegateePresent$ | async">
        <div class="notifications--preferences-container">
          <div class="notifications--preferences-container--title">Notification preferences</div>
          <div class="notifications--preferences-container--description">
            Select the option for which you'd like to receive notifications
          </div>
        </div>
        <div class="notifications--preferences-form">
          <div
            class="notifications--preferences-form--radio-button"
            mode="md"
            *ngFor="let option of delegateNotificationOptions"
            button
            (click)="selectPreference(option.value)"
          >
            <ng-container *ngIf="selectedPreference === option.value; else uncheckedRadioBtn">
              <ion-icon
                class="notifications--radio"
                size="medium"
                src="../../../assets/svg/radio-circle-fill.svg"
              ></ion-icon>
            </ng-container>
            <ng-template #uncheckedRadioBtn>
              <ion-icon
                class="notifications--radio"
                size="medium"
                src="../../../assets/svg/radio-circle-outline.svg"
              ></ion-icon>
            </ng-template>
            {{ option.label }}
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ion-content>
