.my-expenses {
  &--toolbar-header {
    border-bottom: 1px solid #e6e6e6;
  }

  &--toolbar {
    align-items: center;
    display: inline-flex;
    margin: 8px 16px;
    width: 90%;
  }

  &--title {
    font-size: 24px;
    font-weight: 700;
    padding-left: 0px;
    line-height: 2;
  }

  &--state {
    display: flex;
    justify-content: center;
    margin-top: 8px;
  }

  &--stats {
    color: black;
    position: relative;
    top: 8px;
  }

  &--amount {
    font-size: 24px;
    font-weight: 500;
  }

  &--homeCurrency {
    font-size: 18px;
    font-weight: 500;
  }

  &--count {
    font-size: 16px;
    font-weight: 500;
    color: #ababab;
    margin-bottom: 12px;
  }

  &--cta-container {
    justify-content: space-between;
    display: flex;
  }

  &--state-pill {
    width: 47%;
    border: 1px solid #0077ee;
    padding: 8px;
    text-align: center;
    color: #0077ee;
    white-space: nowrap;
    &__left {
      border-radius: 4px 0 0 4px;
    }

    &__right {
      border-radius: 0 4px 4px 0;
    }

    &__selected {
      background-color: #0077ee;
      color: white;
    }
  }

  &--simple-search {
    width: 100%;
    font-size: 14px;

    &-icon {
      width: 14px;
      font-size: 18px;
      margin-right: 6px;
      color: #aaa;
    }

    &-close {
      margin: -10px;
      font-size: 18px;
    }
  }

  &--simple-search-block {
    display: flex;
    vertical-align: baseline;
  }

  &--footer-container {
    background: white;
    padding: 16px;
  }

  &--filters {
    margin: 0 8px;
    padding: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 4px;
    background-color: #5c98e5;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--filter-button {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 4px;
    margin-left: 9px;

    &-icon {
      fill: #1978f7;
    }

    &__applied {
      ::after {
        content: "•";
        font-size: 48px;
        position: absolute;
        top: -8px;
        color: #f36;
      }
    }
  }

  &--primary-cta {
    height: 48px;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 8px;
    width: 100%;
  }

  &--offline-header {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1;
    font-weight: 500;
    padding: 0 12px;
  }

  &--offline-sub-header {
    color: #4a4a4a;
    line-height: 1.5;
    font-size: 12px;
    padding: 0 12px;
  }

  &--offline-message {
    padding: 8px 0;
  }

  &--syncing {
    display: flex;
    color: #f36;
    margin: 0 0 8px;
    padding: 0 12px;
  }

  &--syncing-image {

    width: 36px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;

  }

  &--syncing-icon {
    height: 8px;
    top: 7px;
    position: relative;
    left: 4px;
  }

  &--zero-state {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    text-align: center;

    &-img {
      margin: 32px;
    }

    &-header {
      margin: 12px;
      font-size: 16px;
      display: block;
      margin-bottom: 16px;
      color: #4a4a4a;
      line-height: 1.5;
      font-weight: 500;
    }

    &-subheader {
      color: #ababab;
      display: block;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      margin-bottom: 24px;
      padding: 0 8px;
    }

    &-action-button-container {
      margin-top: auto;
    }

    &-action-button {
      padding: 24px 16px;
      border-radius: 6px;
      color: #f36;
      font-size: 18px;
      font-weight: 500;
      width: 275px;
      margin: 0 auto 20px;
      position: relative;
      background: white;
      border: 1px solid #f36;

      &:after,
      &:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: white;
        border-width: 20px;
        margin-left: -20px;
      }
      &:before {
        border-color: rgba(255, 51, 102, 0);
        border-top-color: #f36;
        border-width: 21px;
        margin-left: -21px;
      }
    }
  }

  &--needs-receipt {
    &-header {
      color: #4a4a4a;
      font-size: 20px;
      padding-bottom: 12px;
      font-weight: 500;
    }

    &-sub-header {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.43;
      color: #ababab;
      margin-bottom: 16px;
    }
  }
}

