<ion-header>
  <ion-toolbar mode="md" class="my-expenses--toolbar-header">
    <ion-buttons mode="md" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My Expenses
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <div class="my-expenses--state">
      <div matRipple class="my-expenses--state-pill my-expenses--state-pill__left"
        [ngClass]="{'my-expenses--state-pill__selected': this.baseState === 'all'}" (click)="setState('all')">
        All Expenses
        <span *ngIf="allExpensesCount$|async as allExpensesCount">
          ({{allExpensesCount}})
        </span>
      </div>
      <div matRipple class="my-expenses--state-pill my-expenses--state-pill__right"
        [ngClass]="{'my-expenses--state-pill__selected': this.baseState === 'draft'}" (click)="setState('draft')">
        Draft Expenses
        <span *ngIf="draftExpensesCount$|async as draftExpensesCount">
          ({{draftExpensesCount}})
        </span>
      </div>
    </div>
  </ion-toolbar>
  <ion-toolbar>
    <div class="my-expenses--toolbar">
      <mat-form-field class="mat-form-field-no-padding my-expenses--simple-search" appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input #simpleSearchInput matInput placeholder="Search">
      </mat-form-field>
      <ion-buttons mode="md" slot="end">
        <button mat-icon-button class="my-expenses--filter-button" (click)="openFilters()">
          <mat-icon>
            filter_list
          </mat-icon>
        </button>
        <button mat-icon-button class="my-expenses--filter-button" (click)="openSort()">
          <mat-icon>
            sort
          </mat-icon>
        </button>
      </ion-buttons>
    </div>
    <div class="my-expenses--filters" *ngIf="filters?.state || filters?.date">
      <div>Filters are applied</div>
      <mat-icon (click)="clearFilters()">
        cancel
      </mat-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="(count$ | async) === 0" class="my-expenses--zero-state">
    <img class="my-expenses--zero-state-img" src="../../../assets/images/zero-states/expenses.svg"
      alt="Create First Expenses">
    <div *ngIf="!(filters?.state || filters?.date)" class="my-expenses--zero-state-header">
      This is the home to all your Expenses
    </div>
    <div *ngIf="!(filters?.state || filters?.date)" class="my-expenses--zero-state-subheader">
      Create your first expense to see how it looks
    </div>
    <div *ngIf="!(filters?.state || filters?.date)" class="my-expenses--zero-state-action-button-container">
      <div class="my-expenses--zero-state-action-button">Create Expense</div>
    </div>

    <div *ngIf="(filters?.state || filters?.date)" class="my-expenses--zero-state-header">
      You dont have any expenses for the selected filter(s)
    </div>
  </div>
  <div *ngIf="pendingTransactions.length > 0">
    <span>
      <div class="my-expenses--offline-header">
        Offline Expenses
      </div>
      <div class="my-expenses--offline-sub-header">
        Expenses willl be synced when connected to the internet
      </div>
    </span>
    <span>
      
    </span>
  </div>
  <div *ngFor="let expense of pendingTransactions as list; let i = index">
    <app-my-expenses-card [expense]="expense" [prevExpense]="list[i-1]" [dateComparatorProp]="'tx_txn_dt'"
      [skipDate]="true" (deleteTransaction)="onDeleteExpenseClick($event)"
      (addTransactionToNewReport)="onAddTransactionToNewReport($event)"
      (addTransactionToReport)="onAddTransactionToReport($event)">
    </app-my-expenses-card>
  </div>

  <div *ngFor="let expense of myExpenses$ | async as list; let i = index">
    <!-- <app-my-expenses-card [erpt]="erpt" [prevDate]="list[i-1]?.rp_created_at" (gotoReport)="onReportClick($event)"
      (deleteReport)="onDeleteReportClick($event)" (viewComments)="onViewCommentsClick($event)"></app-my-expenses-card> -->
    <app-my-expenses-card [expense]="expense" [prevExpense]="list[i-1]" [dateComparatorProp]="'tx_txn_dt'"
      (deleteTransaction)="onDeleteExpenseClick($event)"
      (addTransactionToNewReport)="onAddTransactionToNewReport($event)"
      (addTransactionToReport)="onAddTransactionToReport($event)">
    </app-my-expenses-card>
  </div>

  <ion-infinite-scroll *ngIf="isInfiniteScrollRequired$ | async" threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="this.baseState === 'all'">
    <div class="my-expenses--stats">
      <div class="my-expenses--amount" *ngIf="expensesAmountStats$|async as expensesAmountStats">
        <span class="my-expenses--homeCurrency">{{homeCurrency$ | async}}</span> {{expensesAmountStats}}
      </div>
      <div class="my-expenses--count" *ngIf="allExpensesCount$|async as allExpensesCount">
        across {{allExpensesCount}} unreported expenses
      </div>
    </div>
  </ion-toolbar>
  <ion-toolbar *ngIf="this.baseState === 'all'">
    <ion-button class="my-expenses--primary-cta flat-button" fill="solid" color="fyle-primary" expand="block"
      (click)="addNewExpense()">
      ADD NEW EXPENSE
    </ion-button>
  </ion-toolbar>
  <ion-toolbar *ngIf="this.baseState === 'draft'">
    <ion-button class="my-expenses--primary-cta flat-button" fill="solid" color="fyle-primary" expand="block">
      START REVIEW
    </ion-button>
  </ion-toolbar>
</ion-footer>