<app-fy-header
  [currentState]="headerState"
  [navigateBack]="navigateBack"
  [title]="'Personal Cards'"
  (simpleSearchCancel)="onSimpleSearchCancel()"
  (multiselectBack)="switchSelectionMode()"
>
  <ng-container base>
    <ion-buttons mode="md" slot="end">
      <ion-button class="personal-cards--header-btn" (click)="linkAccount()">
        <ion-icon slot="icon-only" src="../../../assets/svg/fy-plus.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ng-container>
  <ng-container personalCardContent *ngIf="!isLoading">
    <ion-toolbar>
      <ion-segment
        class="personal-cards-segment-block"
        (ionChange)="segmentChanged($event)"
        value="{{selectedTrasactionType}}"
      >
        <ion-segment-button value="INITIALIZED" class="personal-cards--segment-block__btn text-capitalize">
          Transactions
        </ion-segment-button>
        <ion-segment-button value="MATCHED" class="personal-cards--segment-block__btn"> Created </ion-segment-button>
        <ion-segment-button value="HIDDEN" class="personal-cards--segment-block__btn"> Hidden </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ng-container>
</app-fy-header>

<ion-content class="personal-cards--content">
  <ng-container *ngIf="isLoading">
    <div class="ion-padding">
      <ion-skeleton-text class="personal-cards--bank-account-shimmer" animated></ion-skeleton-text>
    </div>
  </ng-container>
  <ng-container *ngIf="((linkedAccountsCount$ | async) === 0) && (isConnected$|async)">
    <div class="personal-cards--zero-state">
      <app-fy-zero-state
        class="stats--zero-state"
        image="../../../../assets/images/no-card.svg"
        message="Paying your work bills using your personal card? View your transactions here by linking your account."
        [unscaledImage]="true"
        [useNewStyling]="true"
      ></app-fy-zero-state>
      <button type="submit" class="personal-cards--link-card-button text-center" (click)="linkAccount()">
        Link your card
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="((linkedAccountsCount$ | async) > 0) && (isConnected$|async)">
    <ng-container *ngIf="linkedAccounts$ | async as linkedAccounts">
      <app-bank-account-cards
        *ngIf="!isLoading"
        [linkedAccounts]="linkedAccounts"
        (deleted)="onDeleted()"
        (changed)="onCardChanged($event)"
      ></app-bank-account-cards>
    </ng-container>
    <div class="personal-cards--actions-header">
      <button
        type="submit"
        class="personal-cards--fetch-button text-center personal-cards--actions-header__right"
        (click)="fetchNewTransactions()"
      >
        <ng-container *ngIf="!isfetching"> Fetch Transactions </ng-container>
        <ng-container *ngIf="isfetching">
          Fetching <ion-spinner name="crescent" class="personal-cards--fetching-spinner"></ion-spinner>
        </ng-container>
      </button>
    </div>

    <ng-container *ngIf="selectionMode">
      <ion-item class="personal-cards--select-all-container">
        <mat-checkbox class="custom-mat-checkbox" [(ngModel)]="selectAll" (ngModelChange)="onSelectAll($event)">
          Select All
        </mat-checkbox>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="isCardsLoaded">
      <ng-container>
        <div
          class="personal-cards--zero-state personal-cards--transactions-zero-state"
          *ngIf="((transactionsCount$ | async) === 0) && !isTrasactionsLoading"
        >
          <app-fy-zero-state
            class="stats--zero-state"
            image="../../../../assets/images/no-transactions.svg"
            header="No Transactions Found!"
            message="Looks like you have no transactions"
            [unscaledImage]="true"
            [useNewStyling]="true"
          ></app-fy-zero-state>
        </div>
        <ng-container *ngIf="transactions$ | async as transactions">
          <ng-container *ngFor="let transaction of transactions; let i = index">
            <app-personal-card-transaction
              *ngIf="!isTrasactionsLoading"
              [description]="transaction.btxn_description"
              [amount]="transaction.btxn_amount"
              [currency]="transaction.btxn_currency"
              [type]="transaction.btxn_transaction_type"
              [txnDate]="transaction.btxn_created_at"
              [previousTxnDate]="transactions[i-1]?.btxn_created_at"
              [txnId]="transaction.btxn_id"
              [status]="selectedTrasactionType"
              [isSelectionModeEnabled]="selectionMode"
              [selectedElements]="selectedElements"
              (setMultiselectMode)="switchSelectionMode($event)"
              (cardClickedForSelection)="selectExpense($event)"
            >
            </app-personal-card-transaction>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="((linkedAccountsCount$ | async) !== 0) && isTrasactionsLoading || isLoadingDataInfiniteScroll">
    <app-transactions-shimmer> </app-transactions-shimmer>
  </ng-container>

  <ng-container *ngIf="isConnected$|async">
    <ng-container *ngIf="!isLoadingDataInfiniteScroll && isCardsLoaded">
      <ng-container *ngIf="!selectionMode">
        <ion-infinite-scroll
          (ionInfinite)="loadData($event)"
          *ngIf="isInfiniteScrollRequired$ | async"
          threshold="100px"
        >
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ng-container>
    </ng-container>
  </ng-container>
</ion-content>

<ion-footer *ngIf="!isSearchBarFocused">
  <ng-container *ngIf="!selectionMode">
    <app-fy-footer (homeClicked)="onHomeClicked()" (taskClicked)="onTaskClicked()" (cameraClicked)="onCameraClicked()">
    </app-fy-footer>
  </ng-container>
  <ion-toolbar mode="md" *ngIf="selectionMode">
    <div class="personal-cards--footer-toolbar">
      <ion-buttons>
        <ion-button (click)="switchSelectionMode()" [disabled]="isHiding" class="btn-secondary"> Cancel </ion-button>
        <ion-button
          (click)="hideSelectedTransactions()"
          [disabled]="isHiding"
          [loadingText]="'hiding'"
          [loading]="isHiding"
          appFormButtonValidation
          class="btn-primary"
        >
          Hide
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-footer>
