@import '../../../theme/colors';

.personal-cards {
  &--toolbar-header {
    border-bottom: 1px solid $grey-lightest;
  }

  &--header-btn {
    --padding-start: 8px !important;
    --padding-end: 8px !important;
  }

  &--filter-pills-container {
    display: block;
    min-height: 52px;
  }

  &--toolbar {
    align-items: center;
    display: inline-flex;
    margin: 8px 16px;
    width: 90%;
  }

  &--content {
    --background: #{$pure-white};
    --padding-bottom: 82px;
    border-top: $grey solid 1px;
  }

  &--select-all-container {
    --border-style: none;
  }

  &--state-toolbar {
    margin-bottom: -2px !important;
  }

  &--state {
    display: flex;
    justify-content: center;
    margin: 0 8px;
    border: none;
  }

  &--shimmers {
    overflow-y: scroll;
  }

  &--state-pill {
    width: 47%;
    border: 1px solid $blue;
    padding: 8px;
    text-align: center;
    color: $blue;
    white-space: nowrap;

    &__left {
      border-radius: 4px 0 0 4px;
    }

    &__right {
      border-radius: 0 4px 4px 0;
    }

    &__selected {
      background-color: $blue;
      color: $pure-white;
    }
  }

  &--footer-container {
    background: $pure-white;
    padding: 16px;
  }

  &--offline-header {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1;
    font-weight: 500;
    padding: 0 12px;
  }

  &--offline-sub-header {
    color: $grey-light-2;
    line-height: 1.5;
    font-size: 12px;
    padding: 0 12px;
  }

  &--offline-message {
    padding: 8px 0;
  }

  &--zero-state {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: center;
    text-align: center;

    &-img {
      margin: 0 20px 20px 20px;
    }

    &-header {
      margin: 12px;
      font-size: 18px;
      display: block;
      margin-bottom: 16px;
      color: $dark-blue;
      line-height: 1.5;
      font-weight: normal;
    }

    &-content {
      color: $blue-black;
      font-size: 14px;
      font-weight: normal;
    }

    &-subheader {
      color: $gray-3;
      display: block;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      padding: 0 8px;

      &__title {
        color: $grey-light-2;
        font-weight: 500;
      }
    }
  }

  &--transactions-zero-state {
    height: 50%;
  }

  &--body {
    padding-bottom: 20px;
    background-color: $white;
  }

  &--zero-states-body {
    height: 100%;
  }

  &--footer-toolbar {
    --min-height: 120px;
  }

  &--footer-conatiner {
    display: flex;
    justify-content: space-around;
    padding: 14px 36px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $pure-white;
    box-shadow: 0 -2px 12px $pink-shadow;
    z-index: 999;
  }

  &--cta-button {
    font-weight: 500;
    width: 100%;
  }

  &--secondary-cta {
    height: auto;
    background-color: transparent;
    color: $black;
    font-size: 16px;
    line-height: 1.25;

    &__disabled {
      opacity: 0.2;
    }
  }

  &--primary-cta {
    min-height: 52px;
    background: $pink-gradient-1;
    color: $pure-white;
    font-size: 14px;
    line-height: 1.3;
    border-radius: 4px;
    width: 100%;
  }

  &--link-card-button {
    padding: 11px 16px;
    background: $pink-gradient-1;
    color: $pure-white;
    font-size: 14px;
    line-height: 1.3;
    border-radius: 4px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  &--fetch-button {
    padding: 8px 16px;
    background: $pink-gradient-1;
    color: $pure-white;
    font-size: 12px;
    line-height: 1.3;
    border-radius: 8px;
    width: fit-content;
  }

  &--fetching-spinner {
    height: 14px;
    vertical-align: middle;
    color: $white;
  }

  &--bank-account-shimmer {
    width: 100%;
    height: 100px;
    border-radius: 8px;
  }

  &--segment-block {
    padding-right: 16px;

    &__btn {
      color: $blue-black;
      font-size: 14px;
      font-weight: 500;
      width: 100%;
    }
  }

  &--actions-header {
    display: flex;
    padding: 5px 14px;
    justify-content: flex-end;

    &__left {
      margin-right: auto;
    }
  }

  &--select-all-container {
    --border-style: none;
  }

  &--footer-toolbar {
    padding: 14px 16px;
  }
}
