<ion-header mode="md">
  <mat-icon class="fy-modal-top-bar" svgIcon="fy-rectangle"></mat-icon>
  <ion-toolbar class="text-center policy-violation--toolbar fy-modal-toolbar">
    <ion-title>
      <div class="policy-violation--toolbar__title">Policy Violated</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="policy-violation--body">
    <div class="policy-violation--header">
      This expense falls outside the guidelines of your company’s policy. Please contact your admin for any
      clarifications.
    </div>

    <ul class="policy-violation--list">
      <li *ngFor="let violation of violatedPolicyRules; index as i">
        {{ violation }}
      </li>
    </ul>

    <div class="policy-violation--description">
      {{ policyViolationActionDescription }}
    </div>

    <textarea
      class="policy-violation--textarea"
      placeholder="Please provide an explanation for policy violation"
      [(ngModel)]="newComment"
    ></textarea>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar mode="md">
    <div class="fy-footer-cta-container">
      <ion-button class="fy-footer-cta fy-footer-cta--tertiary-secondary" (click)="closePolicyModal()">
        Cancel
      </ion-button>
      <ion-button class="fy-footer-cta fy-footer-cta--primary" (click)="continueWithPolicyViolation()">
        Continue
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
