<ng-container *ngIf="dependentCustomProperties?.length > 0">
  <div class="view-expense--divider"></div>

  <ion-grid class="view-expense--grid">
    <ion-row>
      <ion-col [size]="costCenterCode ? 6 : 12">
        <ion-grid>
          <ion-row>
            <ion-col class="view-expense--icon-container">
              <div class="view-expense--icon-container__background">
                <ion-icon
                  class="view-expense--icon-container__icon"
                  [ngClass]="{ 'view-expense--icon-container__icon-lg': parentFieldIcon === 'list' }"
                  [src]="'../../../../assets/svg/' + parentFieldIcon + '.svg'"
                ></ion-icon>
              </div>
            </ion-col>
            <ion-col class="view-expense--content-container">
              <div class="view-expense--label">{{ parentFieldName | titlecase }}</div>
              <div class="view-expense--value">{{ parentFieldValue || 'Unspecified' }}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="6" *ngIf="costCenterCode">
        <ion-grid>
          <ion-row>
            <ion-col class="view-expense--icon-container">
              <div class="view-expense--icon-container__background">
                <ion-icon
                  class="view-expense--icon-container__icon"
                  [src]="'../../../../assets/svg/' + parentFieldIcon + '.svg'"
                ></ion-icon>
              </div>
            </ion-col>
            <ion-col class="view-expense--content-container">
              <div class="view-expense--label">Cost Center Code</div>
              <div class="view-expense--value">{{ costCenterCode }}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-container *ngFor="let customProperty of dependentCustomProperties">
    <ion-grid class="view-expense--grid">
      <ion-row>
        <ion-col class="view-expense--icon-container">
          <div class="view-expense--icon-container__background">
            <ion-icon class="view-expense--icon-container__icon-lg" src="../../../../assets/svg/list.svg"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="view-expense--content-container">
          <div class="view-expense--label">{{ customProperty.name }}</div>
          <div class="view-expense--value">{{ customProperty.value }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ng-container>
