<ng-container>
  <div [ngSwitch]="category" class="icon-container">
    <mat-icon *ngSwitchCase="'Train'" class="icon-container--icon" svgIcon="train"></mat-icon>
    <mat-icon *ngSwitchCase="'Utility'" class="icon-container--icon" svgIcon="utility"></mat-icon>
    <mat-icon *ngSwitchCase="'Courier'" class="icon-container--icon" svgIcon="mail"></mat-icon>
    <mat-icon *ngSwitchCase="'Mail'" class="icon-container--icon" svgIcon="mail"></mat-icon>
    <mat-icon *ngSwitchCase="'Entertainment'" class="icon-container--icon" svgIcon="entertainment"></mat-icon>
    <mat-icon *ngSwitchCase="'Lunch'" class="icon-container--icon" svgIcon="food"></mat-icon>
    <mat-icon *ngSwitchCase="'Office Supplies'" class="icon-container--icon" svgIcon="office-supplies"></mat-icon>
    <mat-icon *ngSwitchCase="'Flight'" class="icon-container--icon" svgIcon="flight"></mat-icon>
    <mat-icon *ngSwitchCase="'Airlines'" class="icon-container--icon" svgIcon="flight"></mat-icon>
    <mat-icon *ngSwitchCase="'Bus'" class="icon-container--icon" svgIcon="bus"></mat-icon>
    <mat-icon *ngSwitchCase="'Per Diem'" class="icon-container--icon" svgIcon="fy-receipt"></mat-icon>
    <mat-icon *ngSwitchCase="'Taxi'" class="icon-container--icon" svgIcon="taxi"></mat-icon>
    <mat-icon *ngSwitchCase="'Fuel'" class="icon-container--icon" svgIcon="gas"></mat-icon>
    <mat-icon *ngSwitchCase="'Mobile'" class="icon-container--icon" svgIcon="phone"></mat-icon>
    <mat-icon *ngSwitchCase="'Hotel'" class="icon-container--icon" svgIcon="hotel"></mat-icon>
    <mat-icon *ngSwitchCase="'Lodging'" class="icon-container--icon" svgIcon="hotel"></mat-icon>
    <mat-icon *ngSwitchCase="'Parking'" class="icon-container--icon" svgIcon="parking"></mat-icon>
    <mat-icon *ngSwitchCase="'Mileage'" class="icon-container--icon" svgIcon="mileage"></mat-icon>
    <mat-icon *ngSwitchCase="'Food'" class="icon-container--icon" svgIcon="food"></mat-icon>
    <mat-icon *ngSwitchCase="'Software'" class="icon-container--icon" svgIcon="software"></mat-icon>
    <mat-icon
      *ngSwitchCase="'Professional Services'"
      class="icon-container--icon"
      svgIcon="professional-service"
    ></mat-icon>

    <mat-icon *ngSwitchDefault class="icon-container--icon" svgIcon="fy-receipt"></mat-icon>
  </div>
</ng-container>
