.icon-container {
  &--icon {
    fill: #ababab !important;
    color: #ababab !important;
    height: 46px;
    width: 46px;
  }
}

mat-icon {
  fill: #ababab !important;
  color: #ababab !important;
}