<label class="fy-select-project--label">
  <div class="fy-select-project--label-content" [ngClass]="{'fy-select-project--label-content__invalid': !valid}">
    <span>
      {{label}}
    </span>
    <span *ngIf="mandatory">
      *
    </span>
  </div>
  <input class="fy-select-project" type="text" [ngModel]="displayValue" (blur)="onBlur()" (click)="openModal()">
  <mat-icon class="fy-select-project--icon">
    chevron_right
  </mat-icon>
</label>
<app-fy-select-project-modal *ngIf="display"
        [currentSelection] = "value"
        [cacheName] = "cacheName"
        [selectionElement] = "selectionElement"
        [categoryIds] = "categoryIds"
        [defaultValue] = "defaultValue"
        [recentlyUsed] = "recentlyUsed"
></app-fy-select-project-modal>