.reports-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 4px;
  margin: 16px;
  padding: 16px;

  &__no-top-margin {
    margin-top: 0;
  }

  &--date {
    color: #ababab;
    font-size: 16px;
    margin: 0 16px 10px 16px;
  }

  &--more {
    color: #686872;
    font-size: 34px;
    margin-right: 20px;
  }

  &--main-info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    font-size: 16px;
  }

  &--secondary-info {
    padding: 12px 0;
    color: #ababab;
    font-size: 16px;
  }

  &--policy-violation {
    margin: 0 16px;
    background: #ababab;
    color: #fff;
    font-size: 16px;
    padding: 6px 16px;
    line-height: 1;
    border-radius: 4px 4px 0 0;
  }

  &--currency {
    color: #ababab;
  }

  &--amount {
    font-size: 18px;
    margin-left: 8px;
    font-weight: 700;
    color: #4a4a4a;
  }

  &--purpose {
    line-height: 1.3;
    color: #4a4a4a;
  }

  &--no-transactions {
    color: #ababab;
  }

  &--approved-on {
    color: #ababab;
  }

  &--pill {
    padding: 0 12px;
    display: inline-block;
    color: white;
    border-radius: 4px;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 12px;

    &__fyled {
      background-color: #f90;
    }

    &__draft {
      background-color: #464d57;
    }

    &__reported {
      background-color: #2196f3;
    }

    &__inquiry {
      background-color: #7e57c2;
    }

    &__approved {
      background-color: #66bb6a;
    }

    &__payment_pending {
      background-color: #66bb6a;
    }

    &__payment_processing {
      background-color: #47a447;
    }

    &__paid {
      background-color: #3d8b3d;
    }
  }
}

.reports-card-menu {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 4px;
  min-height: 160px;
  margin: 12px;
  padding: 12px;
  display: flex;
  align-items: stretch;
  &--close {
    width: 30%;
    align-self: center;
    text-align: center;
  }

  &__no-top-margin {
    margin-top: 0;
  }

  &--buttons {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #ececec;
  }

  &--cancel {
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ababab;
  }

  &--action {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 16px;
    &__comments {
      color: #0077ee;
      border-bottom: 1px solid #ececec;
      align-items: center;
    }
    &__delete {
      color: #f00;
    }
    &__disabled {
      opacity: .4;
    }
  }
}
