@import '../../../../theme/colors.scss';

.reports-card {
  padding: 16px;
  background-color: $pure-white;

  &__with-border {
    padding-top: 0;
  }

  &__no-top-margin {
    margin-top: 0;
  }

  &--divider {
    border-bottom: 1px solid $grey-lighter;
    margin-bottom: 16px;
  }

  &--date {
    color: $grey-light;
    font-size: 14px;
    padding: 16px 0 12px 16px;
    background-color: $white;
    font-weight: 500;
  }

  &--more {
    color: #686872;
    font-size: 34px;
    margin-right: 20px;
  }

  &--main-info {
    margin-bottom: 6px;
  }

  &--icon-policy-violation {
    height: 16px;
    width: 18px;
    margin: 0 4px;
  }

  &--secondary-info-block {
    display: flex;
    justify-content: space-between;
  }

  &--purpose-amount-block {
    display: flex;
    justify-content: space-between;
  }

  &--currency {
    color: $black-light;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    margin-right: -2px;
  }

  &--amount {
    color: $black;
    font-size: 20px;
    line-height: 1.3;
    margin-right: 6px;
    font-weight: 500;
  }

  &--purpose {
    line-height: 23px;
    color: $black-2;
    font-size: 18px;
    font-weight: 500;
    max-width: 60%;
  }

  &--no-transactions {
    font-size: 14px;
    line-height: 18px;
    color: $blue-black;
  }

  &--pill {
    color: white;
    border-radius: 16px;
    padding: 2px 16px;
    font-size: 12px;

    &__fyled {
      background-color: #f90;
    }

    &__draft {
      background-color: #464d57;
    }

    &__reported {
      background-color: #2196f3;
    }

    &__sent_back {
      background-color: #da1e28;
    }

    &__approved {
      background-color: #66bb6a;
    }

    &__payment_pending {
      background-color: #66bb6a;
    }

    &__payment_processing {
      background-color: #47a447;
    }

    &__paid {
      background-color: #3d8b3d;
    }
  }
}

.reports-card-menu {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 4px;
  min-height: 160px;
  margin: 16px;
  padding: 12px;
  display: flex;
  align-items: stretch;
  &--close {
    width: 30%;
    align-self: center;
    text-align: center;
  }

  &__no-top-margin {
    margin-top: 0;
  }

  &--buttons {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #ececec;
  }

  &--cancel {
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ababab;
  }

  &--action {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 16px;
    &__comments {
      color: #0077ee;
      border-bottom: 1px solid #ececec;
      align-items: center;
    }
    &__delete {
      color: #f00;
    }
    &__disabled {
      opacity: 0.4;
    }
  }
}
