/* SageUI Font Family Definitions */

@font-face {
  font-family: 'sage-ui';
  src: url('../fonts/sage/SageUI-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
}

@font-face {
  font-family: 'sage-ui';
  src: url('../fonts/sage/SageUI-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
}

@font-face {
  font-family: 'sage-ui';
  src: url('../fonts/sage/SageUI-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
}

/* SageHeadline Font Family Definitions */

@font-face {
  font-family: 'sage-headline';
  src: url('../fonts/sage/SageHeadline-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
}
