$gray: #ccc;
$note-container-color: #f1f1f1;

.support {
  text-align: center;

  &--header {
    position: sticky;
    top: 0;
    display: block;
  }

  &_title {
    font-size: 20px;
    line-height: 24px;
    background-color: white;
    font-weight: bold;
  }

  &--content {
    overflow: scroll;
    margin: 30px;
  }

  &--helpLinkBtn {
    width: 100%;
    font-weight: 400;
    min-height: 40px;
    max-height: 50px;
    background-color: $gray;
    margin: 8px 0 14px 0;
    border-radius: 8px;
    font-size: 16px;
  }

  &--heading {
    line-height: 24px;
    font-weight: bold;
  }

  &--page-divider {
    border-top: 1px solid $gray;
    margin: 20px;
  }

  &--admin-list {
    &-contact-card {
      padding: 16px 10px;
    }
  }

}
