<div class="approve-advance">
  <div class="approve-advance--header">
    <div class="approve-advance--header-text">
      Review
    </div>
    <div class="approve-advance--header-cancel" (click)="cancel()">
      CANCEL
    </div>
  </div>

  <div class="approve-advance--body">
    <div class="approve-advance--card">
      <div class="approve-advance--name-container">Submitted by <span>{{areq.us_full_name}}</span></div>
      <div class="approve-advance--date-container">Submitted on <span>{{areq.areq_created_at | date: 'dd MMM, yyyy'}}</span></div>
    </div>
  </div>

  <div class="approve-advance--buttons">
    <button class="approve-advance--button" mat-flat-button color="primary" (click)="approveAdvanceAfterReview($event)"
    appFormButtonValidation [loading]="approveAdvanceLoading">
      Approve
    </button>
  </div>
</div>