@import '../../../../theme/colors';
$small-screen: 700px;

.popup-alert {
  padding: 24px;

  &--header {
    color: $black;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    padding-bottom: 16px;
  }

  &--body {
    color: $blue-black;
  }

  &--secondary-msg {
    margin-top: 8px;
  }

  &--cta-container {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    &__single-content {
      justify-content: center;
    }
  }

  &--primary-cta-container {
    width: 100%;
    padding-top: 16px;
  }

  &--cta-button {
    font-weight: 500;
    &__disabled {
      opacity: 0.2;
    }
  }

  &--secondary-cta {
    height: auto;
    background-color: transparent;
    color: $black;
    font-size: 14px;
    line-height: 1.3;
    min-width: 40%;
  }

  &--primary-cta {
    min-height: 35px;
    background: $pink-gradient;
    color: $pure-white;
    font-size: 12px;
    line-height: 1.25;
    border-radius: 4px;
    padding: 10px 12px;
    min-width: 50%;
    width: 100%;

    &__alert {
      background: $red;
    }
  }

  &--success-tick-container {
    border-radius: 4px;
    background: $success-bg;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--success-tick {
    height: 14px;
    width: 14px;
    fill: $green;
  }

  &--error-tick-container {
    border-radius: 4px;
    background: $pale-pink;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--error-icon {
    height: 14px;
    width: 14px;
    fill: $red;
  }

  &--content-container {
    display: flex;
    padding: 12px;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid $border-tertiary;
    margin-bottom: 16px;
  }

  &--content-header {
    color: $black;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 6px;
  }
}
