<ion-content scroll-y="false" class="no-keyboard-adjust">
  @if (fg) {
    <div class="pending-verification">
      @if (!isInvitationLinkSent) {
        <div class="pending-verification__send-invite">
          <div class="pending-verification__form-container">
            <div class="pending-verification__error-icon-container">
              <ion-icon
                class="pending-verification__error-icon"
                [src]="'/assets/svg/error-outlined.svg'"
                slot="icon-only"
              ></ion-icon>
            </div>
            <div>
              <div class="pending-verification__page-header">
                {{ 'pendingVerification.invitationExpired' | transloco }}
              </div>
              <div class="pending-verification__sub-header">
                {{ 'pendingVerification.enterRegisteredEmailDescription' | transloco }}
              </div>
            </div>
            <form [formGroup]="fg" class="pending-verification__input-container">
              <div class="pending-verification__input-container__label">
                {{ 'pendingVerification.registeredEmailLabel' | transloco }}
              </div>
              <input
                #simpleEmailInput
                matInput
                type="email"
                [placeholder]="'pendingVerification.registeredEmailPlaceholder' | transloco"
                formControlName="email"
                pattern="\S+@\S+\.\S{2,}"
                class="pending-verification__input-container__input"
              />
              @if (fg.controls.email.touched && !fg.controls.email.valid) {
                <div class="pending-verification__error-message">
                  {{ 'pendingVerification.invalidEmailError' | transloco }}
                </div>
              }
            </form>
          </div>
          <div>
            <ion-button
              (click)="resendVerificationLink(fg.controls.email.value)"
              class="btn-primary"
              fill="clear"
              [disabled]="!fg.valid"
              appFormButtonValidation
              [loading]="isLoading"
              [loadingText]="'pendingVerification.sendingInvite' | transloco"
            >
              {{ 'pendingVerification.sendInvite' | transloco }}
            </ion-button>
            <div class="pending-verification__cta-secondary btn-secondary" (click)="onGotoSignInClick()">
              <ion-icon
                class="pending-verification__arrow-icon"
                [src]="'/assets/svg/arrow-left.svg'"
                slot="icon-only"
              ></ion-icon>
              <span class="pending-verification__cta-text">{{ 'pendingVerification.backToSignIn' | transloco }}</span>
            </div>
          </div>
        </div>
      }
      @if (isInvitationLinkSent) {
        <div class="pending-verification__send-invite">
          @if (isInvitationLinkSent) {
            <div class="pending-verification__content-container">
              <div class="pending-verification__success-icon-container">
                <ion-icon
                  class="pending-verification__success-icon"
                  [src]="'/assets/svg/check-circle-outline.svg'"
                  slot="icon-only"
                ></ion-icon>
              </div>
              <section class="pending-verification__text">
                <h1 class="pending-verification__header">{{ 'pendingVerification.invitationLinkSent' | transloco }}</h1>
                <p class="pending-verification__content">
                  {{ 'pendingVerification.invitationLinkSentDescription' | transloco }}
                </p>
              </section>
            </div>
          }
          <div class="pending-verification__cta">
            <ion-button
              (click)="onGotoSignInClick()"
              class="btn-primary"
              fill="clear"
              [attr.aria-label]="'pendingVerification.backToSignInAriaLabel' | transloco"
              role="button"
            >
              <div class="pending-verification__cta-content">
                <ion-icon
                  class="pending-verification__arrow-icon"
                  [src]="'/assets/svg/arrow-left.svg'"
                  slot="icon-only"
                ></ion-icon>
                <span class="pending-verification__cta-text">{{ 'pendingVerification.backToSignIn' | transloco }}</span>
              </div>
            </ion-button>
          </div>
        </div>
      }
    </div>
  }
</ion-content>
