<label class="fy-location--label">
  <div class="fy-location--label-content">
    <span>
      {{label}}
    </span>
    <span *ngIf="mandatory" class="fy-location--mandatory">
      *
    </span>
  </div>
  <div class="fy-location--input-container" [ngClass]="{'fy-location--input-invalid': !valid}">
    <input class="fy-location--input" type="text" [placeholder]="'Select ' + label" [ngModel]="displayValue" (blur)="onBlur()" (click)="openModal()">
    <mat-icon class="fy-location--icon" svgIcon="fy-arrow-down"></mat-icon>
  </div>
  <ng-content></ng-content>
</label>