.fy-location {
  border: none;
  width: 100%;
  font-size: 16px;
  font-weight: 500;

  &--label-content {
    margin: 0 8px 0 0;
    color: #ababab;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    white-space: nowrap;
    min-width: 120px;
    &__invalid {
      color: red;
    }
  }

  &--icon {
    color: #ababab
  }

  &--label {
    display: flex;
    align-items: center;
  }
}
