<ion-content class="no-keyboard-adjust">
  <div class="sort-filter--body">
    <form [formGroup]="fg">
      <div class="sort-filter--header">
        <div class="sort-filter--header-text">
          Sort By
        </div>
        <div class="sort-filter--reset" (click)="reset()">
          Reset
        </div>
      </div>
      <div class="sort-filter--filter">
        <mat-radio-group color="primary" class="sort-filter--radio-group" formControlName="sortParam">
          <mat-radio-button class="sort-filter--radio-btn" value="txn_dt">Date</mat-radio-button>
          <mat-radio-button class="sort-filter--radio-btn" value="amount">Amount</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="sort-filter--header">
        <div class="sort-filter--header-text">
          Order By
        </div>
      </div>
      <div class="sort-filter--filter">
        <mat-radio-group color="primary" class="sort-filter--radio-group" formControlName="sortDir">
          <mat-radio-button class="sort-filter--radio-btn" value="asc">Ascending</mat-radio-button>
          <mat-radio-button class="sort-filter--radio-btn" value="desc">Descending</mat-radio-button>
        </mat-radio-group>
      </div>
    </form>
  </div>
</ion-content>
<ion-footer>
  <div class="sort-filter--footer">
    <div class="sort-filter--cancel" (click)="cancel()">
      Cancel
    </div>
    <button class="sort-filter--save" [disabled]="!fg.valid" mat-button color="primary" (click)="save()">
      Apply
    </button>
  </div>
</ion-footer>
