<ion-header mode="md" class="opt-in--header">
  <ion-toolbar class="text-center opt-in--toolbar fy-modal-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <mat-icon class="fy-icon" svgIcon="arrow-tail-left"></mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-center opt-in--title">
      <mat-icon class="text-center opt-in--title__icon" svgIcon="fyle-logo-dark"></mat-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="opt-in--content no-keyboard-adjust">
  @if (optInFlowState === OptInFlowState.MOBILE_INPUT || optInFlowState === OptInFlowState.OTP_VERIFICATION) {
    <div class="opt-in--container">
      <div class="d-flex mb-16">
        <mat-icon class="fy-icon opt-in--sparkle-icon" svgIcon="sparkle"></mat-icon>
        <span class="opt-in--try-ai-text"> {{ 'fyOptIn.tryAI' | transloco }} </span>
      </div>
      @if (optInFlowState === OptInFlowState.MOBILE_INPUT) {
        <div class="opt-in--description">{{ 'fyOptIn.optInDescription' | transloco }}</div>
        <div class="opt-in--mobile-input-container">
          <div class="opt-in--mobile-input-container__label">
            <span> {{ 'fyOptIn.mobileNumberLabel' | transloco }} </span>
            <span class="opt-in--mobile-input-container__mandatory"> * </span>
          </div>
          <input
            #mobileInput
            matInput
            [(ngModel)]="mobileNumberInputValue"
            class="opt-in--mobile-input-container__input"
            [ngClass]="{ 'opt-in--mobile-input-container__input--error': mobileNumberError?.length }"
            (focus)="onFocus()"
            [placeholder]="'fyOptIn.mobileNumberPlaceholder' | transloco"
            type="tel"
            [maxlength]="15"
            [minlength]="7"
            />
          @if (mobileNumberError?.length) {
            <span class="opt-in--mobile-input-container__error">{{
              mobileNumberError
            }}</span>
          }
        </div>
      }
      @if (optInFlowState === OptInFlowState.OTP_VERIFICATION) {
        <div class="opt-in--description">
          {{ 'fyOptIn.otpDescription' | transloco }} {{ mobileNumberInputValue }}
          <span (click)="goBack()">
            <ion-icon class="opt-in--edit-icon" src="../../../assets/svg/edit.svg"></ion-icon>
          </span>
        </div>
        <div class="opt-in--otp-container">
          <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="otpConfig"></ng-otp-input>
        </div>
        @if (showOtpTimer) {
          <span class="opt-in--otp-container__label__otp-timer">
            {{ 'fyOptIn.resendCodeIn' | transloco }}
            <span class="opt-in--otp-container__label__otp-timer--timer"> 0:{{ otpTimer | number : '2.0' }} </span>
            <span class="opt-in--otp-container__label__attempts">
              ({{ otpAttemptsLeft }} {{ 'fyOptIn.attemptsLeft' | transloco }})
            </span>
          </span>
        } @else {
          @if (!disableResendOtp) {
            <button
              class="opt-in--otp-container__label__resend"
              (click)="resendOtp('CLICK')"
              appFormButtonValidation
              buttonType="secondary"
              [loading]="sendCodeLoading"
              [loadingText]="'fyOptIn.sendingCode' | transloco"
              >
              {{ 'fyOptIn.resendCode' | transloco }}
            </button>
            <span class="opt-in--otp-container__label__attempts"
              >({{ otpAttemptsLeft }} {{ 'fyOptIn.attemptsLeft' | transloco }})</span
              >
            }
            @if (disableResendOtp) {
              <div class="opt-in--otp-container__label__resend--disabled-container">
                <span class="opt-in--otp-container__label__resend--disabled"> {{ 'fyOptIn.resendCode' | transloco }} </span>
                <span class="opt-in--otp-container__label__attempts">(0 {{ 'fyOptIn.attemptsLeft' | transloco }})</span>
              </div>
            }
          }
        }
      </div>
    }
    @if (optInFlowState === OptInFlowState.SUCCESS) {
      <div class="opt-in--success">
        <ion-icon
          class="fy-icon opt-in--success__image-container"
          src="../../../assets/svg/check-circle-fill.svg"
        ></ion-icon>
        <div class="opt-in--success__header">{{ 'fyOptIn.successHeader' | transloco }}</div>
        <div class="opt-in--success__description">
          {{ 'fyOptIn.successDescription' | transloco }}
        </div>
      </div>
    }
  </ion-content>

  <ion-footer class="opt-in--footer">
    @if (optInFlowState === OptInFlowState.MOBILE_INPUT) {
      <div class="opt-in--primary-cta">
        <button
          mat-flat-button
          appFormButtonValidation
          class="opt-in--send-code-btn"
          color="primary"
          (click)="saveMobileNumber()"
          [loading]="sendCodeLoading"
          [loadingText]="'fyOptIn.sendCodeLoading' | transloco"
          >
          {{ 'fyOptIn.sendCodeBtn' | transloco }}
          <span>
            <mat-icon class="fy-icon opt-in--send-code-btn__icon" svgIcon="arrow-tail-right"></mat-icon>
          </span>
        </button>
      </div>
    }
    @if (optInFlowState === OptInFlowState.SUCCESS) {
      <div>
        <ion-buttons class="opt-in--success__footer">
          <ion-button class="btn-outline-secondary" (click)="openHelpArticle()">
            <span class="opt-in--success__footer--secondary-cta-text"> {{ 'fyOptIn.readHelpArticle' | transloco }} </span>
            <span>
              <mat-icon class="fy-icon opt-in--success__help-article-icon" svgIcon="open-in-new-tab"></mat-icon>
            </span>
          </ion-button>
          <ion-button class="btn-primary" (click)="onGotItClicked()">
            <span class="opt-in--success__footer--primary-cta-text">{{ 'fyOptIn.gotIt' | transloco }}</span>
          </ion-button>
        </ion-buttons>
      </div>
    }
  </ion-footer>
