@import '../../../../theme/colors';
@import '../../../../assets/styles/fy_select';

.corporate-card {
  width: 100%;
  height: 100%;

  padding: 20px 16px;

  display: flex;
  flex-direction: column;

  border-radius: 16px;
  background: url('../../../../assets/images/corporate-card-bg.png') no-repeat center;
  background-size: cover;

  &__bank-name {
    color: $dark-grey;
    font-size: 14px;
    line-height: 8px;
  }

  &__row {
    @extend %flex-layout-row;
    align-items: center;
  }

  &__logo {
    &--container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    &--default {
      width: 38px;
      height: 26px;
      background-color: $white;
      border: 1px solid $lighter-grey;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      &__icon {
        width: 18px;
        height: 18px;
        color: $grey-light;
      }
    }

    &--amex {
      &__icon {
        width: 22px;
        height: 22px;
      }
    }

    &--visa,
    &--mastercard {
      &__icon {
        width: 44px;
        height: 26px;
      }
    }
  }

  &__number {
    margin-top: 12px;
  }

  &__feed {
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin-top: auto;
    justify-content: space-between;
  }

  &__status {
    display: flex;
    flex-direction: column;
  }

  &__feed-label {
    color: $black-light;
    font-size: 14px;
    line-height: normal;
  }

  &__feed-value {
    font-size: 14px;
    color: $blue-black;
    line-height: 1.16;
  }

  &__feed-live {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__feed-live-dot {
    width: 8px;
    height: 8px;
    background-color: $green;
    border-radius: 50%;
  }

  &__more-options-btn {
    background: transparent;
  }

  &__more-options-btn-icon {
    width: 20px;
    height: 20px;
    color: $dark-grey;
  }
}

.corporate-card-badge-container {
  display: flex;
  align-items: center;
  background-color: $pure-white;
  border: 1px solid $grey-2;
  border-radius: 5px;
  max-height: 20px;
  padding: 4px;
  margin-left: auto;
}

.corporate-card-badge {
  color: $dark-grey;
  text-align: center;
  font-size: 12px;
  line-height: 8px;
}
