@import '../../../../theme/colors.scss';

.policy-violation-details {
  &--toolbar {
    height: 60px;
    margin-top: 4px;
  }

  &--title {
    color: $black-2;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
  }

  &--details-list {
    padding-left: 0;
    list-style-type: disc;
  }

  &--desc {
    font-size: 16px;
    color: $black-light;
    margin: 20px 0;
  }
}
