<ion-header mode="md" >
  <ion-toolbar class="view-advances--toolbar">
    <ion-title mode="md">
      View Advance
    </ion-title>
    <ion-buttons mode="md" slot="end">
      <button mat-icon-button [routerLink]="['/','enterprise','team_advance']">
        <mat-icon>
          close
        </mat-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="advanceRequest$|async as advanceRequest">
    <div class="view-advances--attachment-currency-container">
      <p class="view-advances--content-header">
        Advance Request
      </p>

    </div>

    <div class="view-advances--card">
      <div class="view-advances--element">
        <div class="view-advances--element-label">
          Created On
        </div>
        <div class="view-advances--element-value">
          {{advanceRequest.areq_created_at | date: 'dd, MMM yyyy'}}
        </div>
      </div>

      <div class="view-advances--element">
        <div class="view-advances--element-label">
          State
        </div>
        <div class="view-advances--element-value">
          {{advanceRequest.areq_state}}
        </div>
      </div>

      <div class="view-advances--element">
        <div class="view-advances--element-label">
          Amount
        </div>
        <div class="view-advances--element-value">
          {{advanceRequest.areq_amount | currency: advanceRequest.areq_currency :true}}
        </div>
      </div>

      <div class="view-advances--element">
        <div class="view-advances--element-label">
          Employee
        </div>
        <div class="view-advances--element-value">
          {{advanceRequest.us_full_name}}
        </div>
      </div>

      <div class="view-advances--element">
        <div class="view-advances--element-label">
          Purpose
        </div>
        <div class="view-advances--element-value">
          {{advanceRequest.areq_purpose}}
        </div>
      </div>

      <div class="view-advances--element">
        <div class="view-advances--element-label">
          Description
        </div>
        <div class="view-advances--element-value">
          {{advanceRequest.areq_notes}}
        </div>
      </div>

      <div *ngIf="advanceRequest.project_name" class="view-advances--element">
        <div class="view-advances--element-label">
          Project
        </div>
        <div class="view-advances--element-value">
          {{advanceRequest.project_name}}
        </div>
      </div>

      <div class="view-advances--element">
        <div class="view-advances--element-label">
          Approvers
        </div>
        <div class="view-advances--element-value">
          <div *ngFor="let activeApproval of activeApprovals$ | async as list">
            <span>{{activeApproval.approver_name}}</span>
            <p>({{activeApproval.state | advanceState}})</p>
          </div>
        </div>
      </div>

      <!-- Custom Fields block -->
      <div *ngIf="(advanceRequestCustomFields$|async)?.length > 0">
        <div class="view-advances--element"
          *ngFor="let advanceRequestCustomField of advanceRequestCustomFields$ | async; index as i">
          <div class="view-advances--element-label">
            {{advanceRequestCustomField.name}}
          </div>
          <div class="view-advances--element-value">
            <span
              *ngIf="advanceRequestCustomField.type === 'DATE'">{{advanceRequestCustomField.value | date: 'dd, MMM yyyy'}}</span>
            <span
              *ngIf="advanceRequestCustomField.type === 'BOOLEAN'">{{advanceRequestCustomField.value ? 'Yes' : 'No'}}</span>
            <span
              *ngIf="advanceRequestCustomField.type !== 'BOOLEAN' && advanceRequestCustomField.type !== 'DATE'">{{advanceRequestCustomField.value}}</span>
          </div>
        </div>
      </div>

    </div>
    <ng-container *ngIf="actions$|async as actions">
      <div class="view-advances--card view-advances--card__modified-padding" *ngIf="actions.can_edit">
        <div class="view-advances--common-action-block" (click)=edit()>
          <mat-icon>edit</mat-icon>
          <p>Edit Advance</p>
        </div>
      </div>
    </ng-container>

    <app-fy-apporver [approverList]="advanceRequest.areq_approvers_ids" [id]="advanceRequest.areq_id"
      [from]="'ADVANCE_REQUEST'" [title]="'Add Approvers'" (notify)='onUpdateApprover($event)'>
    </app-fy-apporver>

    <div class="view-advances--card view-advances--card__modified-padding">
      <div class="view-advances--common-action-block">
        <app-comments objectType="advance_requests" [objectId]="advanceRequest.areq_id" mode="edit" text="Comments">
        </app-comments>
      </div>
    </div>

  </div>

</ion-content>

<ion-footer *ngIf="showAdvanceActions$|async">
  <ion-toolbar>
    <ion-button class="view-advances--primary-cta flat-button" fill="solid" color="fyle-primary" expand="block"
      (click)="openAdvanceActionsPopover()">
      Advance Actions
    </ion-button>
  </ion-toolbar>
</ion-footer>