<ion-header>
  <ion-toolbar class="route-selector-modal--toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="route-selector-modal--title" mode="ios"> Route </ion-title>
    <ion-buttons slot="end">
      <ion-button color="fy-primary" class="text-capitalize route-selector-modal--save" (click)="save()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="route-selector-modal--body" [formGroup]="form">
    <div class="route-selector-modal--distance-details">
      Total Distance : {{ distance || '0' }} {{ unit | titlecase }}
    </div>

    <div class="timeline--timeline route-selector-modal--timeline">
      <ng-container formArrayName="mileageLocations">
        <ion-reorder-group disabled="false" (ionItemReorder)="reorderItem($event)">
          <ng-container *ngFor="let control of mileageLocations.controls; index as i; first as isFirst; last as isLast">
            <ion-item class="ion-no-padding ion-margin-top" lines="none">
              <ion-label class="ion-no-margin">
                <ion-row>
                  <ion-col
                    class="ion-no-padding ion-no-margin"
                    [size]="mileageLocations.controls.length > 2 && i > 1 ? 10 : 12"
                  >
                    <app-fy-location
                      class="route-selector-modal--location"
                      [formControlName]="i"
                      [label]="isFirst ? 'Start' : isLast ? 'Destination' : control.value ? 'Stop ' + i : 'Stop ' + i"
                      [mandatory]="mileageConfig.location_mandatory"
                      [hideSuffix]="true"
                      [cacheName]="isFirst ? 'routeFirstElement' : 'routeOtherElements'"
                      [recentLocations]="
                        isFirst
                          ? recentlyUsedMileageLocations?.recent_start_locations
                          : isLast
                          ? recentlyUsedMileageLocations?.recent_end_locations
                          : recentlyUsedMileageLocations?.recent_locations
                      "
                    >
                    </app-fy-location>
                  </ion-col>
                  <ion-col
                    class="ion-no-padding ion-no-margin"
                    [ngClass]="mileageLocations.controls.length > 2 && i > 1 ? '' : 'ion-hide'"
                    size="2"
                  >
                    <span *ngIf="mileageLocations.controls.length > 2 && i > 1">
                      <mat-icon
                        (click)="removeMileageLocation(i)"
                        class="route-selector-modal--remove-stop"
                        svgIcon="fy-delete"
                      >
                      </mat-icon>
                    </span>
                  </ion-col>
                </ion-row>
                <div *ngIf="control.touched && !control.valid" class="route-selector-modal--error">
                  Please select location
                </div>
              </ion-label>
              <ion-reorder class="route-selector-modal--drag-icon" slot="start">
                <ion-icon src="../../../../../assets/svg/fy-draggable-icon.svg"></ion-icon>
              </ion-reorder>
            </ion-item>
          </ng-container>
        </ion-reorder-group>
      </ng-container>
    </div>
    <ion-row class="ion-justify-content-between ion-margin-top">
      <ion-item
        *ngIf="mileageLocations.controls.length !== 10"
        lines="none"
        (click)="addMileageLocation()"
        class="route-selector-modal--add-stop"
      >
        <mat-icon class="add-stop-icon" svgIcon="fy-plus"> </mat-icon>
        <span class="add-stop-text">Add Stop</span>
      </ion-item>
      <div class="route-selector-modal--internal-block" *ngIf="mileageLocations.controls.length < 3">
        <mat-checkbox [disabled]="isAmountDisabled" formControlName="roundTrip">
          <span class="route-selector-modal--checkbox"> Round Trip </span>
        </mat-checkbox>
      </div>
    </ion-row>
    <app-fy-alert-info
      *ngIf="mileageLocations.controls.length === 10"
      [message]="'You can add a maximum of 10 locations'"
      [type]="'information'"
    >
    </app-fy-alert-info>
  </div>
</ion-content>
