@import '../../../../theme/colors.scss';
$advance_draft_color: #464d57;
$advance_pulled_back_color: #979797;
$advance_inquiry_color: #da1e28;
$advance_pending_approval_color: #1ab6bb;
$advance_approved_color: #66bb6a;
$advance_paid_color: darken(#5cb85c, 15%);
$advance_rejected_color: #d50000;

.advance-card {
  padding: 16px;
  background-color: $pure-white;

  &__with-border {
    padding-top: 0;
  }

  &--divider {
    border-bottom: 1px solid $grey-lighter;
    margin-bottom: 16px;
  }

  &--date {
    color: $grey-light;
    padding: 16px 0 12px 16px;
    background-color: $white;
    font-weight: 500;
  }

  &--main-info {
    margin-bottom: 6px;
  }

  &--purpose {
    line-height: 23px;
    color: $black-2;
    font-size: 18px;
    font-weight: 500;
    max-width: 60%;
  }

  &--purpose-amount-block {
    display: flex;
    justify-content: space-between;
  }

  &--currency {
    color: $black-light;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
  }

  &--amount {
    color: $black;
    font-size: 20px;
    line-height: 1.3;
    margin-right: 6px;
    font-weight: 500;
  }

  &--secondary-info-block {
    display: flex;
    justify-content: space-between;
  }

  &--approval {
    margin-bottom: 8px;
  }

  &--pill {
    color: $pure-white;
    font-size: 12px;
    padding: 3px 15px;
    border-radius: 16px;

    &__draft {
      background: $advance_draft_color;
    }

    &__pulledBack {
      background: $advance_pulled_back_color;
    }

    &__inquiry {
      background: $advance_inquiry_color;
    }

    &_sent_back {
      background: $advance_inquiry_color;
    }

    &__pendingApproval {
      background: $advance_pending_approval_color;
    }

    &__approved {
      background: $advance_approved_color;
    }

    &__paid {
      background: $advance_paid_color;
    }

    &__rejected {
      background: $advance_rejected_color;
    }
  }
}
