@import '../../../../theme/colors.scss';
$details-color: #ababab;

.camera-options {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 24px 4px;

  &--element {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 45%;

    &-first {
      border-bottom: 1px solid $grey;
    }
  }

  &--icon-container {
    height: 28px;
    width: 28px;
    vertical-align: middle;

    &--camera {
      stroke: $grey-light;
    }

    &--gallery {
      color: $grey-light;
    }
  }

  &--content {
    font-size: 18px;
    line-height: 1.3;
    color: $black;
    margin-left: 20px;
  }
}
