@use '../../../../theme/colors.scss';
$details-color: var(--secondary-text);

.camera-options {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 24px 4px;

  &--element {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 45%;

    &-first {
      border-bottom: 1px solid var(--border-color);
    }
  }

  &--icon-container {
    height: 28px;
    width: 28px;
    vertical-align: middle;

    &--camera {
      color: var(--secondary-text);
    }

    &--gallery {
      color: var(--secondary-text);
    }
  }

  &--content {
    font-size: 18px;
    line-height: 1.3;
    color: var(--primary-text);
    margin-left: 20px;
  }
}
