<div class="camera-options">
  <div class="camera-options--element" matRipple (click)="getImageFromPicture($event)">
    <div class="camera-options--icon">
      <mat-icon>
        add_a_photo
      </mat-icon>
    </div>
    <div class="camera-options--content">
      Click a Picture
    </div>
  </div>

  <div class="camera-options--element" matRipple (click)="getImageFromImagePicker($event)">
    <div class="camera-options--icon">
      <mat-icon>
        folder
      </mat-icon>
    </div>
    <div class="camera-options--content">
      Choose from Gallery
    </div>
  </div>
  <input type="file" #fileUpload accept="application/pdf,image/*" style="display: none;"/>
</div>