<div class="camera-options">
  <div class="camera-options--element camera-options--element-first" matRipple (click)="getImageFromPicture()">
    <div class="camera-options--icon-container">
      <mat-icon
        class="camera-options--icon-container camera-options--icon-container--camera"
        svgIcon="fy-camera"
      ></mat-icon>
    </div>
    <div class="camera-options--content">Click a Picture</div>
  </div>

  <div class="camera-options--element" matRipple (click)="getImageFromImagePicker()">
    <div class="camera-options--icon-container">
      <mat-icon
        class="camera-options--icon-container camera-options--icon-container--gallery"
        svgIcon="fy-gallery"
      ></mat-icon>
    </div>
    <div class="camera-options--content">Upload from Gallery</div>
  </div>
  <input type="file" #fileUpload accept="application/pdf,image/*" style="display: none" />
</div>
