<ion-header mode="md">
  <ion-toolbar mode="md" class="receipt-preview--toolbar">
    <ion-title>
      <div class="text-center receipt-preview--title">Receipt Preview</div>
      <div class="receipt-preview--sub-title text-center">
        {{ activeIndex + 1 }}/{{ base64ImagesWithSource.length }}
      </div>
    </ion-title>
    <ion-buttons class="receipt-preview--ion-buttons" slot="start">
      <ion-button (click)="close()">
        <mat-icon class="fy-icon-close" svgIcon="fy-close"></mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons class="receipt-preview--ion-buttons" slot="end">
      <ion-button *ngIf="base64ImagesWithSource.length > 1" (click)="delete()">
        <mat-icon class="fy-icon-close receipt-preview--delete-icon" svgIcon="fy-delete"></mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="receipt-preview--content">
    <ion-slides class="ion-slides" #slides [options]="sliderOptions" zoom (ionSlideDidChange)="ionSlideDidChange()">
      <ng-container *ngFor="let base64ImageWithSource of base64ImagesWithSource; index as i">
        <ion-slide>
          <div>
            <pinch-zoom>
              <img class="image receipt-preview--image" [src]="base64ImageWithSource.base64Image" />
            </pinch-zoom>
          </div>
        </ion-slide>
      </ng-container>
    </ion-slides>

    <div class="receipt-preview--controls" *ngIf="base64ImagesWithSource.length > 1">
      <div (click)="goToPrevSlide()">
        <mat-icon class="receipt-preview--go-back text-center" svgIcon="arrow-prev"></mat-icon>
      </div>
      <div (click)="goToNextSlide()">
        <mat-icon class="receipt-preview--go-forward text-center" svgIcon="arrow-next"></mat-icon>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar mode="md" class="receipt-preview--footer">
    <div class="receipt-preview--cta-container">
      <ng-container *ngIf="mode === 'single' && base64ImagesWithSource.length === 1; else bulkMode">
        <button
          type="button"
          class="receipt-preview--cta-button receipt-preview--secondary-cta text-center"
          (click)="retake()"
        >
          Retake
        </button>
      </ng-container>
      <ng-template #bulkMode>
        <button
          *ngIf="base64ImagesWithSource.length < 20"
          type="button"
          class="receipt-preview--cta-button receipt-preview--secondary-cta text-center"
          (click)="addMore()"
        >
          Add More
        </button>
      </ng-template>
      <button
        type="submit"
        class="receipt-preview--cta-button receipt-preview--primary-cta text-center"
        (click)="finish()"
      >
        Finish
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
