@import '../../../../theme/colors.scss';

.receipt-preview {

  &--toolbar {
    border-bottom: 1px solid #dfdfe2;
    margin-top: 16px;
    padding-bottom: 16px;
  }

  &--title {
    font-size: 20px;
    line-height: 26px;
    color: #161528;
  }

  &--sub-title {
    font-size: 12px;
    color: $black-light;
    line-height: 15px;
    margin-top: 8px;
  }

  &--ion-buttons {
    margin-bottom: auto;
  }

  &--controls {
    position: fixed;
    z-index: 99;
    top: 50%;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    width: 100%;
  }

  &--go-back {
    // position: absolute;
    // top: 20vh;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    height: 28px;
    width: 28px;
    color: white;
  }

  &--go-forward {
    // position: absolute;
    // top: 20vh;
    // left: 80vw;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    height: 28px;
    width: 28px;
    color: white;
  }

  &--container {
    height: 80vh;
    width: 90vw;
    background: $pure-white !important;
  }

  &--image {
    // height: 300px;
    // width: 300px;
  }


  &--cta-container {
    display: flex;
    justify-content: space-between;
    padding: 14px 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: $pure-white;
    box-shadow: 0 -2px 12px $pink-shadow;
    z-index: 999;
  }

  &--cta-button {
    font-weight: 500;
    width: 100%;
  }

  &--secondary-cta {
    height: auto;
    background: transparent;
    color: $black;
    font-size: 16px;
    line-height: 20px;
    // min-width: 40%;

    &__disabled {
      opacity: 0.2;
    }
  }

  &--primary-cta {
    min-height: 52px;
    background: $pink-gradient-1;
    color: $pure-white;
    font-size: 14px;
    line-height: 18px;
    border-radius: 4px;
    padding: 10px 12px;
    // min-width: 50%;
    &__disabled {
      opacity: 0.8;
    }
  }
}