$details-color: #ababab;

.popup-internal {
  padding: 20px;

  &--header {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }

  &--redirect {
    text-decoration: none;
  }

  .fy-logo {
    padding: 20px;
  }

  .fy-logo img {
    width: 100px;
  }

  .message,
  .fy-logo {
    text-align: center;
  }

  .fy-error-logo {
    color: red;
  }
}
