$details-color: #ababab;

.popup-internal {
  &--header {
    font-size: 20px;
    letter-spacing: 1.4px;
    padding: 16px;
    font-weight: 500;
  }

  &--primary-cta {
    padding: 16px;
    .mat-button-base {
      width: 100%;
      font-weight: 700;
      min-height: 47px;
    }
  }

  &--redirect {
    text-decoration: none;
  }
}
