@import '../../../../../theme/colors.scss';

.dependent-field {
  &__label {
    width: 100%;
    background-color: inherit;
    font-weight: 400;
  }

  &__label-content {
    margin: 0 8px 0 0;
    max-width: 90%;
    min-width: 120px;
    font-size: 12px;
    color: $black-light;
    line-height: 16px;
    white-space: nowrap;
  }

  &__disabled {
    background: $grey-7;
  }

  &__input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px solid $grey-lighter;
  }

  &__input {
    font-size: 14px;
    line-height: 18px;
    color: $blue-black;
    border: none;
    width: 100%;
    padding: 0;
  }

  &__input-invalid {
    border-bottom: 1px solid $red;
  }

  &__mandatory {
    color: $brand-primary;
    font-size: 14px;
    font-weight: 400;
  }

  &__icon {
    color: $grey-light;
  }

  &__input-disabled {
    opacity: 0.5;
  }

  &__error {
    color: $red;
    font-size: 12px;
    padding-top: 4px;
  }
}
