@use '../../../../../theme/colors.scss';

.dependent-field {
  &__label {
    width: 100%;
    background-color: inherit;
    font-weight: 400;
  }

  &__label-content {
    margin: 0 8px 0 0;
    max-width: 90%;
    min-width: 120px;
    font-size: 12px;
    color: var(--secondary-text);
    line-height: 16px;
    white-space: nowrap;
  }

  &__disabled {
    background: var(--background-secondary);
  }

  &__input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px solid var(--border-color);
  }

  &__input {
    font-size: 14px;
    line-height: 18px;
    color: var(--primary-text);
    border: none;
    width: 100%;
    padding: 0;
  }

  &__input-invalid {
    border-bottom: 1px solid var(--error-color);
  }

  &__mandatory {
    color: colors.$brand-primary;
    font-size: 14px;
    font-weight: 400;
  }

  &__icon {
    color: var(--secondary-text);
  }

  &__input-disabled {
    opacity: 0.5;
  }

  &__error {
    color: var(--error-color);
    font-size: 12px;
    padding-top: 4px;
  }
}
