@import '../../theme/colors.scss';

$sign-in-header: #220033;
$form-header: #000;
$form-subheader: #4a4a4a;
$password-icon: #b9beba;
$secondary-cta-border: #e0e0e0;
$label-font-color: #5a5d72;
$input-label-color: #414562;
$astrick-red: #ff3366;
$hide-fill: #a9acbc;
$signin-divider: rgba(0, 0, 0, 0.1);
$btn-google-border: #8c8fa6;
$warning-fg: rgba(253, 209, 58, 0.12);
$warning-message-bg: rgba(253, 209, 58, 0.03);
$btn-info-bc: rgba(0, 98, 255, 0.04);
$info-message-bg: rgba(0, 98, 255, 0.02);

.action-wrapper {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 20px;
  height: 20px;
  float: right;
}

.input-label {
  font-size: 14px;
  color: $input-label-color;
  padding: 10px 0 0 0;
  float: left;
}

.input-label-container {
  display: inline;
  padding-bottom: 4px;
}

.astrick-color {
  color: $astrick-red;
  font-size: 24px;
  padding: 8px 0 0 4px;
  float: left;
}

.forgot-password {
  padding-top: 10px;
  margin: 0;
}

.forgot-password a {
  text-decoration: none;
  color: #5a5d72;
  font-weight: 400px;
}

.signin-divider {
  height: 12px;
  border-bottom: 1px solid $signin-divider;
  margin: 10px 0 20px 0;
  text-align: center;
}

.signin-divider-text {
  font-size: 16px;
  color: $hide-fill;
  background-color: #ffffff;
  padding: 0 10px;
  text-align: center;
}

.btn-login-google {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $btn-google-border;
  background-color: #ffffff;
  font-size: 14px;
  width: 100%;
  font-weight: 700;
  min-height: 47px;
  letter-spacing: 1.6px;
  border-radius: 4px;

  .text-label {
    padding: 16px 0 16px 8px;
    color: $input-label-color;
  }

  .icon-container {
    border-radius: 4px 0 0 4px;
    margin: 0;
  }

  .icon-google {
    width: 24px;
    height: 24px;
  }
}

.demo {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  margin: 20px 0px 0px 0px;
}

.warning-err-header {
  color: #2c304e;
  font-size: 14px;
  margin: 0 0 4px 0;
  font-weight: 500;
}

.warning-icon {
  color: #e1af05;
  font-size: 18px;
  border-radius: 2px;
}

.error-icon {
  color: red;
  font-size: 18px;
}

.footer {
  position: absolute;
  color: #5a5d72;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  bottom: 40px;

  @media screen and (max-height: 750px) {
    position: unset;
  }
}

.info-message-box {
  border: 1px solid $btn-info-bc;
  border-radius: 4px;
  padding: 8px;
  background-color: $info-message-bg;
  margin: 8px 0px;
  color: $input-label-color;
  font-size: 12px;
}

.info-warning-box {
  border: 1px solid $warning-fg;
  border-radius: 8px;
  padding: 8px;
  background-color: $warning-message-bg;
  margin: 0 0 16px 0;
}

.auth {
  &--content-container {
    --keyboard-offset: 0 !important;
  }

  &--logo-container {
    text-align: center;
    padding-bottom: 32px;
  }

  &--page {
    background: linear-gradient(277.33deg, #e1eeff 26.8%, #ffe4fb 97.18%);
    width: 100%;
    min-height: 100vh;
    padding: 16px;

    @media screen and (max-width: 300px) {
      padding: 10px 0;
    }
  }

  &--error {
    color: #f00;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  &--container-jumbotron {
    min-width: 280px;
    min-height: 325px;

    margin-bottom: 24px;
    border-radius: 6px;
    padding: 28px;

    background-color: #ffffff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);

    @media screen and (max-height: 670px) {
      padding-top: 20px;
    }

    @media screen and (max-width: 300px) {
      padding: 20px;
      margin: 0;
    }
  }

  &--form-header {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: $form-header;
    font-weight: 700;
  }

  &--hero-sub-title {
    color: $label-font-color;
    font-size: 12px;
    margin: 10px 0 6px 0;
  }

  &--form-field {
    display: inline;
    position: relative;
    width: 100%;
    margin: 4px 0;
  }

  &--password-label-container {
    display: inline;
    border: 1px solid black;
  }

  &--forgot-password {
    float: right;
  }

  &--primary-cta {
    margin-top: 25px;
    .mat-button-base {
      width: 100%;
      font-weight: 700;
      min-height: 47px;
      background: $pink-gradient;
    }
  }

  &--secondary-cta {
    .mat-button-base {
      width: 100%;
      font-weight: 700;
      min-height: 47px;
      letter-spacing: 1.6px;
      border: 1px solid $secondary-cta-border;
    }
    margin-top: 24px;
  }

  &--change {
    color: #ff3366;
  }

  &--email-frozen-container {
    background: #f5f5f5;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 3px;
    width: 100%;
  }

  &--email-frozen-text {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    font-size: 16px;
    color: #5a5d72;
  }
}
