<div class="otp-popover">
  <div class="otp-popover--header">
    <div class="otp-popover--header-text">
      Enter OTP
    </div>
    <div class="otp-popover--header-cancel" (click)="cancel()">
      Cancel
    </div>
  </div>

  <div class="otp-popover--body">
    <div>
      An OTP was sent to {{phoneNumber}}
    </div>
    <div>
      <mat-form-field class="otp-popover--input mat-form-field-no-padding" appearance="outline">
        <input matInput required [(ngModel)]="otp" type="tel" #otpNumber="ngModel">
      </mat-form-field>
    </div>
  </div>
  <div [class]="otpInfoClass">
    {{otpInfoMessage}}
  </div>

  <div class="otp-popover--buttons">
    <button mat-flat-button color="accent" class="otp-popover--button" (click)="resendOtp($event)"
      [disabled]="!canRequestResendOTP">
      <ng-container *ngIf="canRequestResendOTP; else waitMessage">
        RESEND OTP
      </ng-container>
      <ng-template #waitMessage>
        RESEND OTP - PLEASE WAIT
      </ng-template>
    </button>
  </div>

  <div class="otp-popover--buttons">
    <button mat-flat-button color="primary" class="otp-popover--button"
      [ngClass]="{'otp-popover--primary-disabled': !otpNumber.valid || isApiCallInProgress}" (click)="verifyOtp($event)">
      VERIFY OTP
    </button>
  </div>
</div>
