<ion-header mode="md">
  <mat-icon class="fy-modal-top-bar" svgIcon="fy-rectangle"></mat-icon>
  <ion-toolbar class="view-comment--toolbar fy-modal-toolbar">
    <ion-buttons mode="md" slot="end">
      <ion-button class="view-comment--close" (click)="closeCommentModal()">
        Done
      </ion-button>
    </ion-buttons>
    <ion-title mode="md" class="view-comment--title">
      Comments
      <span>({{totalCommentsCount$|async}})</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="view-comment--container">
  <div *ngFor="let estatus of estatuses$|async as estatuses">
    <ion-grid class="view-comment--card" *ngIf="!(estatus.isBotComment) || showBotComments"
      [ngClass]="{'view-comment--bot-comment': estatus.isBotComment, 'view-comment--self-comment': estatus.isSelfComment}">
      <ion-row>
        <ion-col size="2">
          <span class="view-comment--profile" *ngIf="estatus.us_full_name" [ngClass]="{'view-comment--profile__user-profile': estatus.us_full_name && estatus.isSelfComment}">
            {{estatus.us_full_name | uppercase | initials}}
          </span>
          <span class="view-comment--profile" *ngIf="!estatus.us_full_name">
            <mat-icon svgIcon="fy-bot"></mat-icon>
          </span>
        </ion-col>
        <ion-col size="10">
          <div class="view-comment--name-time-container">
            <span [ngClass]="{'view-comment--commenter-name': estatus.isOthersComment}">{{ estatus.us_full_name ? estatus.us_full_name: 'Fyle Bot'}}</span>
            <p class="view-comment--comment-timestamp">{{estatus.st_created_at | date:'MMM d @ h:mm a' }}</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <p *ngIf="!(estatus.st_comment.indexOf('created') > -1 && estatus.st_comment.indexOf('reversal') > -1)"
            class="view-comment--comment-detail">{{ estatus.st_comment }}</p>
          <p *ngIf="(estatus.st_comment.indexOf('created') > -1 && estatus.st_comment.indexOf('reversal') > -1)"
            class="view-comment--comment-detail">{{ estatus.st_comment }}</p>
          <a *ngIf="(estatus.st_comment.indexOf('created') > -1 && estatus.st_comment.indexOf('reversal') > -1)"
            (click)="openViewExpense()">{{ this.expenseNumber }} </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="view-comment--add-comment-container">
    <ion-toolbar mode="md">
      <div class="view-comment--audit-trails-container">
        <label class="view-comment--showbot-container" (click)="changeBotComments()">
          <ion-checkbox mode="ios" class="view-comment--showbot-checkbox" color="danger" checked="{{showBotComments}}"></ion-checkbox>
          <ion-label class="view-comment--showbot-text">Check Audit Trail</ion-label>
      </label>
      </div>

      <div class="view-comment--type-comment-block" *ngIf="mode === 'edit'">
        <textarea class="view-comment--text-area" rows="1" matInput placeholder="Type in your comment here..."
          [(ngModel)]="newComment"></textarea>
        <mat-icon class="view-comment--send-icon" (click)="addComment()">send</mat-icon>
      </div>
    </ion-toolbar>
  </div>
</ion-footer>
