.view-comment{
  &--toolbar {
    text-align: center;
  }

  &--card {
    margin: 10px;
    margin-right: 24px;
    border-radius: 5px;
    background-color: #E7F2F5;
    color: #666;
  }

  &--title {
    letter-spacing: 0 !important;
    font-size: 16px;
    font-weight: bold;
  }

  &--bot-comment {
    background-color: #ffedf1;
  }

  &--self-comment {
    background-color: #93A8AC;
    margin-left: 24px;
    margin-right: 10px;
    color: #fff;
  }

  &--profile {
    position: absolute;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid #aaa;
    padding: 6px;
    font-size: 20px;
    text-align: center;
    line-height: 1.6;

    &__user-profile {
      border-color: #fff;
      font-size: 18px;
    }
  }

  &--name-time-container{
    left: 5px;
  }

  &--comment-timestamp {
    font-size: 12px;
  }

  &--audit-trails-container {
    padding: 16px;
  }

  &--showbot-container {
    display: flex;
  }

  &--commenter-name {
    color: black;
  }

  &--showbot-checkbox {
    --border-color: #ec3c64;
    height: 30px;
    width: 30px;
  }

  &--showbot-text {
    font-size: 16px;
    margin: 6px 10px;
  }

  &--type-comment-block {
    height: 55px;
    display: flex;
    background-color: #fff;
    border: 1px solid #9E9E9E;
    border-radius: 4px;
    padding: 5px;
  }

  &--text-area {
    width: calc(100% - 40px);
    height: 40px;
    border: none;
  }

  &--send-icon {
    margin-top: 5px;
    font-size: 35px;
    margin-left: 5px;
    color: #4cd964;
    transform: rotate(-40deg);
  }

  &--add-comment-container {
    padding: 10px;
  }

  &--close {
    text-transform: none !important;
  }
}
