<ion-header mode="md">
  <ion-toolbar class="approver-list--toolbar">
    <ion-toolbar mode="md">
      <ion-buttons slot="end">
        <ion-button (click)="closeApproverModal()">
          <mat-icon>close</mat-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Choose Approvers</ion-title>
    </ion-toolbar>
    <ion-toolbar class="approver-list--form-field-container">
      <mat-form-field class="approver-list--form-field mat-form-field-no-padding" appearance="outline">
        <input #searchBar id="approver-list--search-input" matInput placeholder="Search Approvers">
      </mat-form-field>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="approver-list--list-container" *ngFor="let approver of approverList$|async as approverList">
      <div class="approver-list--list-element">
        <label>
          <mat-checkbox color="primary" (change)="onSelectApprover(approver, $event)"></mat-checkbox>
          <span class="approver-list--approver-details">
            {{approver.us.full_name | ellipsis: 16}} ({{approver.us.email | ellipsis: 16}})
          </span>
        </label>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar mode="md">
    <ion-button class="approver-list--save" fill="solid" [disabled]="!(selectedApprovers.length > 0)" color="fyle-primary" expand="full" (click)="saveUpdatedApproveList()">
      Proceed
    </ion-button>
  </ion-toolbar>
</ion-footer>
