.approver-list {
  &--list-container {
    padding: 0 10px;
  }

  &--list-element {
    padding: 18px 0;
    margin: 0 16px;
    border-bottom: 1px solid #e0e0e0;
    color: #ababab;
  }

  &--list-element-label {
    display: flex;
    align-items: center;
  }

  &--approver-details {
    margin-left: 16px;
    font-size: 16px;
    font-weight: 500;
    max-width: 280px;

    &_name {
      display: block;
    }
  }

  &--save {
    margin: 12px;
    --border-radius: 4px;
    height: 48px;
    width: 94%;
  }

  &--all-approvers {
    color: #ababab;
    font-size: 14px;
    font-weight: 700;
    margin: 8px 16px;
    line-height: 1.7;
  }

  &--form-field {
    font-size: 11px;
    width: 90%;
    padding: 4px;
  }

  &--search-icon {
    font-size: 14px;
  }

  &--form-field-container {
    text-align: center;
  }

  &--search-input {
    padding: 0 12px;
    font-size: 16px;
  }
}
