<ion-header mode="md">
  <ion-toolbar class="text-center commute-details--toolbar fy-modal-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <mat-icon class="fy-icon-close" svgIcon="cross"></mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        (click)="save()"
        [loadingText]="'fySelectCommuteDetails.saving' | transloco"
        [loading]="saveCommuteDetailsLoading"
        appFormButtonValidation
        class="commute-details--header-save text-right"
      >
        {{ 'fySelectCommuteDetails.save' | transloco }}
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div>{{ 'fySelectCommuteDetails.title' | transloco }}</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="commute-details--container">
    <div class="commute-details--home-location">
      <div>
        <mat-icon class="home-icon" svgIcon="house-outline"></mat-icon>
      </div>
      <div class="commute-details--location-field">
        <app-fy-location
          [label]="'fySelectCommuteDetails.homeLabel' | transloco"
          class="route-selector--input"
          [formControl]="commuteDetails.controls.homeLocation"
          [mandatory]="true"
          [hideSuffix]="true"
          [placeholder]="'fySelectCommuteDetails.enterLocation' | transloco"
          [disableEnteringManualLocation]="true"
          [touchedInParent]="commuteDetails.controls.homeLocation?.touched"
          [validInParent]="commuteDetails.controls.homeLocation?.valid"
        >
        </app-fy-location>
        <div
          *ngIf="commuteDetails.controls.homeLocation.touched && !commuteDetails.controls.homeLocation.valid"
          class="commute-details--error"
        >
          {{ 'fySelectCommuteDetails.errorSelectHome' | transloco }}
        </div>
      </div>
    </div>
    <div class="commute-details--work-location">
      <div>
        <mat-icon class="work-icon" svgIcon="building"></mat-icon>
      </div>
      <div class="commute-details--location-field">
        <app-fy-location
          [label]="'fySelectCommuteDetails.workLabel' | transloco"
          class="route-selector--input"
          [formControl]="commuteDetails.controls.workLocation"
          [mandatory]="true"
          [hideSuffix]="true"
          [placeholder]="'fySelectCommuteDetails.enterLocation' | transloco"
          [disableEnteringManualLocation]="true"
          [touchedInParent]="commuteDetails.controls.workLocation?.touched"
          [validInParent]="commuteDetails.controls.workLocation?.valid"
        >
        </app-fy-location>
        <div
          *ngIf="commuteDetails.controls.workLocation.touched && !commuteDetails.controls.workLocation.valid"
          class="commute-details--error"
        >
          {{ 'fySelectCommuteDetails.errorSelectWork' | transloco }}
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer> </ion-footer>
