@import '../../../../theme/colors.scss';

.split-expense-policy-violation {
  &--accordion {
    padding: 8px;
    border-bottom: 1px solid $lavender;
    margin-bottom: 8px;
  }

  &--header-slot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
  }

  &--sub-header-slot {
    display: flex;
    justify-content: space-between;
    padding: 0px 14px;
    margin-top: 16px;
  }

  &--placeholder {
    font-size: 12px;
    line-height: 14px;
    color: $grey-light;
  }

  &--value {
    margin-top: 2px;
    font-weight: 500;
  }

  &--content-container {
    margin: 0px -6px;
  }

  &--violations-count {
    padding: 6px 10px;
    gap: 4px;
    height: 32px;
    background: $light-pink;
    border-radius: 36px;
    color: $red;
  }

  &--textarea {
    width: 94%;
    border: 1px solid #a9acbc;
    border-radius: 4px;
    min-height: 76px;
    padding: 8px 12px;
    margin: 0px 14px;
  }

  &--additional-details-header {
    color: $black-light;
    margin: 24px 16px 10px 16px;
  }

  &--additional-details-comment-length {
    float: right;
    color: $text-button-grey;
    font-size: 12px;
  }

  &--disabled {
    opacity: 0.2;
  }

  &--active {
    border-left: 3px solid $brand-primary;
    --background: #{$blue-3};
  }

  &--dropdown-container {
    max-width: 32px;

    &__icon {
      height: 22px;
      width: 22px;
      color: $grey-light;
      vertical-align: text-bottom;
      transform: rotate(180deg);
      transition: 0.3s all ease;

      &--rotate {
        transform: rotate(0deg);
      }
    }
  }

  &--dropdown-items {
    opacity: 1;
    transition: all 0.1s ease-in-out;
  }
}
