<ion-header mode="md">
  <mat-icon class="fy-modal-top-bar" svgIcon="fy-rectangle"></mat-icon>
  <ion-toolbar class="text-center policy-violation--toolbar fy-modal-toolbar">
    <ion-title>
      <div class="split-expense-policy-violation--toolbar__title">Policy Violation Found</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="policyViolations && transactionIDs" class="policy-violation--body">
    <ng-container *ngFor="let transaction of transactionIDs; let i = index">
      <div *ngIf="policyViolations[transaction]?.rules?.length > 0" class="split-expense-policy-violation--accordion">
        <div (click)="toggleExpansion(transaction)">
          <div class="split-expense-policy-violation--header-slot">
            <div class="split-expense-policy-violation--violations-count">
              {{ policyViolations[transaction].rules.length }}
              <span *ngIf="policyViolations[transaction].isCriticalPolicyViolation"> Critical </span>
              Policy Violation<span *ngIf="policyViolations[transaction].rules.length > 1">(s)</span>
            </div>
            <span class="split-expense-policy-violation--dropdown-icon">
              <ion-icon
                class="split-expense-policy-violation--dropdown-container__icon"
                [ngClass]="{
                  'split-expense-policy-violation--dropdown-container__icon--rotate':
                    !policyViolations[transaction].isExpanded
                }"
                [src]="'../../../../assets/svg/fy-arrow-down.svg'"
              ></ion-icon>
            </span>
          </div>
          <div class="split-expense-policy-violation--sub-header-slot">
            <div class="split-expense-policy-violation--split-by-type-container">
              <div class="split-expense-policy-violation--placeholder">
                {{ policyViolations[transaction].type | uppercase }}
              </div>
              <div class="split-expense-policy-violation--value">{{ policyViolations[transaction].name }}</div>
            </div>
            <div class="split-expense-policy-violation--policy-amount-container">
              <div class="split-expense-policy-violation--placeholder">SPLIT AMOUNT</div>
              <div class="split-expense-policy-violation--value text-right">
                {{
                  policyViolations[transaction].amount
                    | currency: policyViolations[transaction].currency : 'symbol-narrow'
                }}
              </div>
            </div>
          </div>
        </div>
        <div class="split-expense-policy-violation--dropdown-items" *ngIf="policyViolations[transaction].isExpanded">
          <ng-container>
            <ng-container *ngIf="!policyViolations[transaction].isCriticalPolicyViolation">
              <div class="split-expense-policy-violation--content-container">
                <app-fy-policy-violation
                  [policyViolationMessages]="policyViolations[transaction].rules"
                  [showHeader]="false"
                  [showCTA]="false"
                  [showComment]="false"
                  [policyAction]="policyViolations[transaction].action.final_desired_state"
                ></app-fy-policy-violation>
                <ng-container>
                  <form [formGroup]="form">
                    <div formArrayName="comments">
                      <div [formGroup]="formComments.controls[i]">
                        <div>
                          <p class="split-expense-policy-violation--additional-details-header">
                            Please provide additional details for approval
                            <span class="split-expense-policy-violation--additional-details-comment-length">
                              {{ form.value.comments[i].comment.length }}
                            </span>
                          </p>
                        </div>
                        <textarea
                          maxlength="500"
                          class="split-expense-policy-violation--textarea"
                          formControlName="comment"
                          placeholder="Enter the details here"
                        ></textarea>
                      </div>
                    </div>
                  </form>
                </ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="policyViolations[transaction].isCriticalPolicyViolation">
              <app-fy-critical-policy-violation
                [criticalViolationMessages]="policyViolations[transaction].rules"
                [showHeader]="false"
                [showCTA]="false"
              ></app-fy-critical-policy-violation>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ion-content>

<ion-footer>
  <ion-toolbar mode="md">
    <div class="fy-footer-cta-container">
      <ion-button class="fy-footer-cta fy-footer-cta--primary" (click)="continue()"> Continue </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
