@use '../../../../theme/colors';

.date-range-modal {
  padding: 20px 0;
  background-color: colors.$pure-white;

  &--title {
    color: colors.$grey;
    font-weight: 500;
    margin-left: 18px;
  }

  &--label {
    color: colors.$black;
    font-size: 18px;
    line-height: 23px;
    margin: 8px 0;
  }

  &--range-picker {
    display: none;
  }
}
