$item-border-color: #e0e0e0;

.add-edit-trip {
  &--toolbar {
    border-bottom: 1px solid $item-border-color;
  }

  &--container {
    padding: 4px 16px;
  }

  &--elements-wrapper {
    margin: 16px 0;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
  }

  &--wrapper-title {
    font-weight: 500;
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
    color: #4a4a4a;
  }

  &--traveller-detail-block {
    margin-top: 10px;
  }

  &--traveller-count-action {
    display: flex;
    justify-content: space-between;
  }

  &--add-traveller {
    padding: 16px 0;
    color: #ff3366;

    &-add-icon {
      font-size: 16px;
      vertical-align: text-top;
      text-align-last: center;
    }
  }

  &--checkbox {
    font-size: 16px;
    color: #ababab;
    font-weight: 500;
  }
  
  &--delete-traveller {
    color: red;
    font-size: 16px;
  }

  &--text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 16px 0;

    &__dynamic {
      padding: 16px 0 16px 16px;
    }
  }

  &--text-label {
    margin: 0 8px 0 0;
    font-size: 16px;
    color: #ababab;
    font-weight: 500;
    line-height: 2;
    white-space: nowrap;
    display: flex;
    min-width: 145px;
    &__invalid {
      color: red;
    }
  }

  &--text-input {
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    height: 24px;
    max-width: calc(100% - 145px);
  }

  &--date-input {
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    height: 24px;
    text-align: right;
  }

  &--element-container {
    padding: 0 16px;
  }

  &--other-element-container {
    padding: 8px;
  }

  &--other-requests {
    border: 1px solid #e5e5e5;
    padding: 16px;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px 0;

    &-checkbox {
      .mat-checkbox-inner-container {
        padding: 16px;
      }
      margin-right: 10px;
    }
  }

  &--cta-block {
    padding: 16px;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.1);
  }

  &--cta-container {
    display: flex;
    justify-content: space-between;

    &-cta {
      height: 48px;
      width: 100%;
      --border-radius: 4px;
    }
  }
}