@import "../../../theme/colors.scss";

.add-edit-trip {
  &--toolbar {
    border-bottom: 1px solid $grey-lighter;
  }

  &--container {
    padding: 4px 16px;
  }

  &--close {
    padding-right: 12px;
  }

  &--elements-wrapper {
    margin: 16px 0;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
  }

  &--wrapper-title {
    font-weight: 500;
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
    color: #4a4a4a;
  }

  &--traveller-detail-block {
    margin-top: 10px;
  }

  &--traveller-count-action {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }

  &--add-traveller {
    padding: 16px 0;
    color: $primary;

    &-add-icon {
      font-size: 16px;
      vertical-align: text-top;
      text-align-last: center;
    }
  }

  &--checkbox {
    font-size: 16px;
    color: #ababab;
    font-weight: 500;
  }
  
  &--delete-traveller {
    color: $red;
    font-size: 16px;
    height: 16px;
    width: 16px;
  }

  &--mandatory-text {
    color: $red;
    font-size: 12px;
  }

  &--text {
    border-bottom: 1px solid $grey-lighter;
    margin: 16px 0;

    &__invalid {
      border-bottom: 1px solid $red;
    }

    &__dynamic {
      padding-top: 16px;
    }
  }

  &--text-label {
    margin: 0 8px 0 0;
    max-width: 90%;
    min-width: 120px;
    font-size: 12px;
    color: $black-light;
    line-height: 16px;
    white-space: nowrap;
    font-weight: 400;

    &__invalid {
      color: $red;
    }
  }

  &--text-input {
    border: 0;
    font-size: 14px;
    font-weight: 400;
    height: 24px;
    line-height: 18px;
    color: $blue-black;
    width: 100%;
    padding: 12px 0;
    margin: 4px 0 !important;
  }

  &--date-input {
    border: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    width: 100%;
    padding: 16px;
    height: 20px;
  }

  &--element-container {
    padding: 0 16px;
  }

  &--other-element-container {
    padding: 8px;
  }

  &--other-requests {
    border: 1px solid #e5e5e5;
    padding: 16px;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px 0;

    &-checkbox {
      .mat-checkbox-inner-container {
        padding: 16px;
      }
      margin-right: 10px;
    }
  }

  &--cta-block {
    padding: 16px;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.1);
  }

  &--cta-container {
    display: flex;
    justify-content: space-between;
    text-transform: inherit;

    &-cta {
      height: 48px;
      width: 100%;
      --border-radius: 4px;
    }
  }
}