@use '../../../../theme/colors.scss';

.create-new-report {
  &--title-container {
    margin-left: -15%;
    color: colors.$black;
    padding: 12px;
  }

  &--title {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
  }

  &--sub-title {
    font-size: 14px;
    margin-top: 4px;
    font-weight: 500;
    color: colors.$blue-black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
  }

  &--amount {
    font-size: 14px;
    margin-top: 4px;
    font-weight: 400;
    color: colors.$blue-black;
  }

  &--body {
    background-color: colors.$grey-4;
    padding-bottom: 200px;
  }

  &--name {
    padding: 20px 12px;
    background-color: colors.$pure-white;
  }

  &--mandatory {
    color: colors.$negative-500;
  }

  &--text {
    border-bottom: 1px solid colors.$grey-lighter;

    &__invalid {
      border-bottom: 1px solid colors.$negative-500;
    }
  }

  &--text-label {
    margin: 0 8px 0 0;
    max-width: 90%;
    min-width: 120px;
    font-size: 12px;
    color: colors.$black-light;
    line-height: 1.35;
    white-space: nowrap;
    font-weight: 400;
  }

  &--text-input {
    border: 0;
    font-size: 14px;
    font-weight: 400;
    height: 18px;
    line-height: 1.3;
    color: colors.$blue-black;
    width: 100%;
    margin: 6px 0;
    padding: 0;
  }

  &--error-message {
    margin-top: 2px;
    color: colors.$negative-500;
  }

  &--heading {
    color: colors.$black-light;
    font-size: 14px;
    padding: 12px;
    background-color: colors.$white;
    font-weight: 500;
  }

  &--select-all-checkbox {
    font-size: 14px;
    padding: 12px;
    background-color: colors.$pure-white;
  }

  &--add-more-container {
    padding: 16px;
    display: flex;
    background-color: colors.$grey-4;
  }

  &--add-more-icon-container {
    color: colors.$brand-primary !important;
  }

  &--add-more-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
  }

  &--add-more-text {
    margin-left: 5px;
    color: colors.$black-light;
    font-weight: 500;
    font-size: 14px;
  }

  &--footer {
    height: 80px;
    padding: 0;
  }

  &--cta-container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 16px;
    bottom: 0;
    width: 100%;
    background-color: colors.$pure-white;
    box-shadow: 0 2px 10px 0 rgba(44, 48, 78, 0.1);
    z-index: 999;
  }

  &--cta-button {
    font-weight: 500;
  }

  &--secondary-cta {
    height: auto;
    background-color: transparent;
    color: colors.$brand-primary;
    font-size: 14px;
    line-height: 1.25;
    flex: auto;
    border-radius: 32px;
    padding: 10px 12px;
    border: 2px solid colors.$brand-primary;

    &__disabled {
      opacity: 0.2;
    }
  }

  &--primary-cta {
    min-height: 52px;
    background: colors.$brand-primary;
    color: colors.$pure-white;
    font-size: 14px;
    line-height: 1.3;
    border-radius: 32px;
    padding: 10px 12px;
    min-width: 50%;
    &__disabled {
      opacity: 0.8;
    }
  }
}
