@import '../../../../theme/colors.scss';

.create-new-report {
  &--title-container {
    margin-left: -15%;
    color: $black;
    padding: 12px;
  }

  &--title {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
  }

  &--sub-title {
    font-size: 14px;
    margin-top: 4px;
    font-weight: 500;
    color: $blue-black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
  }

  &--amount {
    font-size: 14px;
    margin-top: 4px;
    font-weight: 400;
    color: $blue-black;
  }

  &--body {
    background-color: $grey-4;
    padding-bottom: 200px;
  }

  &--name {
    padding: 20px 12px;
    background-color: $pure-white;
  }

  &--mandatory {
    color: $brand-primary;
  }

  &--text {
    border-bottom: 1px solid $grey-lighter;

    &__invalid {
      border-bottom: 1px solid $red-2;
    }
  }

  &--text-label {
    margin: 0 8px 0 0;
    max-width: 90%;
    min-width: 120px;
    font-size: 12px;
    color: $black-light;
    line-height: 1.35;
    white-space: nowrap;
    font-weight: 400;
  }

  &--text-input {
    border: 0;
    font-size: 14px;
    font-weight: 400;
    height: 18px;
    line-height: 1.3;
    color: $blue-black;
    width: 100%;
    margin: 6px 0;
    padding: 0;
  }

  &--error-message {
    margin-top: 2px;
    color: $red;
  }

  &--heading {
    color: $black-light;
    font-size: 14px;
    padding: 12px;
    background-color: $white;
    font-weight: 500;
  }

  &--select-all-checkbox {
    font-size: 14px;
    padding: 12px;
    background-color: $pure-white;
  }

  &--add-more-container {
    padding: 16px;
    display: flex;
    background-color: $grey-4;
  }

  &--add-more-icon-container {
    color: $brand-primary !important;
  }

  &--add-more-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
  }

  &--add-more-text {
    margin-left: 5px;
    color: $black-light;
    font-weight: 500;
    font-size: 14px;
  }

  &--footer {
    height: 80px;
    padding: 0;
  }

  &--cta-container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 16px;
    bottom: 0;
    width: 100%;
    background-color: $pure-white;
    box-shadow: 0 2px 10px 0 rgba(44, 48, 78, 0.1);
    z-index: 999;
  }

  &--cta-button {
    font-weight: 500;
  }

  &--secondary-cta {
    height: auto;
    background-color: transparent;
    color: $black;
    font-size: 14px;
    line-height: 1.25;
    flex: auto;
    border-radius: 4px;
    padding: 10px 12px;
    border: 1px solid $grey;

    &__disabled {
      opacity: 0.2;
    }
  }

  &--primary-cta {
    min-height: 52px;
    background: $pink-gradient;
    color: $pure-white;
    font-size: 14px;
    line-height: 1.3;
    border-radius: 4px;
    padding: 10px 12px;
    min-width: 50%;
    &__disabled {
      opacity: 0.8;
    }
  }
}
