@use '../../../../theme/colors.scss';

.bank-accounts {
  padding: 12px 0;
  height: 140px;
  background-color: colors.$pure-white;

  &--swiper {
    height: 136px;
  }

  &--minimal {
    height: 74px;
  }

  &--single-card {
    height: 125px;
  }
}
