<div
  class="bank-accounts"
  [ngClass]="{ 'bank-accounts--minimal': minimal, 'bank-accounts--single-card': linkedAccounts?.length === 1 }"
>
  @if (linkedAccounts?.length) {
    <div class="swiper bank-accounts--swiper" #swiperContainer>
      <div class="swiper-wrapper">
        @for (linkedAccount of linkedAccounts; track linkedAccount) {
          <div class="swiper-slide">
            <app-bank-account-card [accountDetails]="linkedAccount" [minimal]="minimal" (deleted)="onDeleted()">
            </app-bank-account-card>
          </div>
        }
      </div>
      <div class="swiper-pagination"></div>
    </div>
  }
</div>
