<div *ngIf="showPolicyInfo" class="policy-violation-info--container">
  <div class="policy-violation-info--block">
    <mat-icon class="icon--alert-warning" svgIcon="warning-fill"></mat-icon>
    <div class="policy-violation-info--list-container">
      <ul
        class="policy-violation-info--list"
        [ngClass]="{ 'policy-violation-info--list__no-bullet': !criticalPolicyViolated }"
      >
        <li *ngIf="policyViolations.length >= 1">
          <span class="policy-violation-info--content"
            >Policy <span *ngIf="policyViolations.length === 1">violation</span>
            <span *ngIf="policyViolations.length > 1">violations</span> found.</span
          >
          <span class="policy-violation-info--view-more" (click)="openPolicyViolationDetails()">View details</span>
        </li>
        <li *ngIf="criticalPolicyViolated" class="policy-violation-info--content">
          This expense has a critical policy violation. It cannot be added to a report until resolved.
        </li>
      </ul>
    </div>
  </div>
</div>
