@use '../../../../theme/colors.scss';

.policy-violation-info {
  &--container {
    border-radius: 8px;
    background: colors.$pure-white;
    border: 1px solid colors.$grey-lighter;
    padding: 12px 10px;
    margin: 8px 0;
    position: relative;
  }

  &--block {
    display: flex;
    align-items: center;
  }

  &--list-container {
    width: 100%;
  }

  &--list {
    padding-left: 6px;
    font-size: 12px;
    margin: 0px 0px 0px 0px;
    &__no-bullet {
      list-style-type: none;
      margin: 0px;
    }
  }

  &--content {
    font-size: 12px;
    color: colors.$blue-black;
  }

  &--view-more {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: colors.$brand-primary;
    font-size: 12px;
  }

  &--icons {
    display: flex;
    align-items: center;
    padding-right: 4px;
    gap: 4px;

    &__policy-violated-icon {
      width: 16px;
      height: 16px;
      color: $red;
      font-size: 16px;
    }
  }
}
