@import '../../../../theme/colors.scss';

.policy-violation-info {
  &--container {
    border-radius: 8px;
    background: $pure-white;
    border: 1px solid $grey-lighter;
    padding: 12px 10px;
    margin: 8px 0;
  }

  &--block {
    display: flex;
    align-items: center;
  }

  &--list-container {
    width: 100%;
  }

  &--list {
    margin-left: 16px;
    padding-left: 6px;
    font-size: 12px;
    &__no-bullet {
      list-style-type: none;
      margin: 0px;
    }
  }

  &--content {
    font-size: 12px;
    color: $blue-black;
  }

  &--view-more {
    color: $brand-primary;
    margin-left: 4px;
    font-size: 12px;
  }
}
