@import '../../../../theme/colors.scss';

.policy-violation-info {

  &--container {
    border-radius: 8px;
    background: $pure-white;
    border: 1px solid $grey-lighter;
    padding: 12px 10px;
    margin: 8px 0;
  }

  &--block {
    display: flex;
  }

  &--list {
    margin: 0;
    padding-left: 28px;
    list-style-type: disc;
  }

  &--content {
    font-size: 12px;
    color: $blue-black;
  }

  &--view-more {
    color: $primary;
    margin-left: 4px;
    font-size: 12px;
  }
}
