@use '../../../theme/colors.scss';
$details-color: #ababab;

.camera-options {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 4px;

  &--header-container {
    padding: 0 24px;
    &__header {
      color: colors.$grey-light;
      padding-top: 24px;
      line-height: 1.3;
    }
  }

  &--element {
    padding: 0 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 35%;

    &-first, &-second {
      border-bottom: 1px solid colors.$grey;
    }
  }

  &--icon-container {
    &__icon {
      height: 28px;
      width: 28px;
      vertical-align: middle;

      &--camera {
        color: colors.$grey-light;
      }

      &--gallery {
        color: colors.$grey-light;
      }
    }
  }

  &--content {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 400;
    color: colors.$black;
    margin-left: 20px;
  }
}
