<div *ngIf="isValueList" class="statuses-diff">
  <div class="statuses-diff--expense-issues">
    <span *ngIf="key === 'Please contact your admin to configure the following'"
      >{{ key | snakeCaseToSpaceCase }}
    </span>
    <span *ngIf="key === 'Violating Transactions'" class="statuses-diff--violating-txns">{{
      key | snakeCaseToSpaceCase
    }}</span>
    <span
      *ngIf="key !== 'Please contact your admin to configure the following' && key !== 'Violating Transactions'"
      class="text-capitalize"
      >{{ key | snakeCaseToSpaceCase }}</span
    >
  </div>
  <ul class="statuses-diff--values-list">
    <div *ngFor="let detail of value">
      <li class="text-capitalize">{{ detail }}</li>
    </div>
  </ul>
</div>
<div *ngIf="!isValueList">
  <li class="text-capitalize">
    {{ key === 'vehicle type' ? ('statusesDiff.mileageRateName' | transloco) : key }} : {{ value }}
  </li>
</div>
