<div *ngIf="isValueList" class="statuses-diff">
  <div class="statuses-diff--expense-issues">
      <span *ngIf="key === 'Please contact your admin to configure the following'">{{ key | snakeCaseToSpaceCase }} </span>
      <span *ngIf="key != 'Please contact your admin to configure the following'" class="text-capitalize">{{ key | snakeCaseToSpaceCase }}</span>
  </div>
  <div *ngFor="let value1 of value">
      <li class="text-capitalize">{{ value1 }}</li>
  </div>
</div>
<div *ngIf="!isValueList">
  <li class="text-capitalize">{{ key }} : {{ value }}</li>
</div>