.etxn-card {
  &--date {
    color: #ababab;
    font-size: 16px;
    padding: 8px;
  }

  &--details {
    display: flex;
    padding-left: 8px;
  }

  &--body {
    display: flex;
    align-items: center;
    margin: 0 8px 8px 8px;
    padding: 8px;
  }

  &--icon {
    width: 20%;
    margin: 6px;
  }

  &--non-reimbursable {
    text-decoration: line-through;

    &-amount {
      color: #ababab;
    }
  }

  &--details {
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  &--violation {
    width: 20%;
    text-align: center;
  }

  &--vendor {
    font-size: 16px;
  }

  &--currency {
    color: #ababab;
    font-size: 16px;
  }

  &--amount {
    font-size: 18px;
    font-weight: 700;
    color: #4a4a4a;
    padding-left: 8px; 
  }

  &--category {
    font-size: 16px;
    color: #ababab;
  }

  &--violation {
    color: orange;
  }

  &--distance-unit {
    text-transform: lowercase;
  }
}
