@import "../../../../theme/colors.scss";

.other-details {

  &--container {
    padding: 4px 16px;
  }

  &--elements-wrapper {
    margin: 16px 0;
    border: 1px solid #e5e5e5;
    border-radius: 4px;

    &:last-child {
      margin: 16px 0 76px 0;
    }

  }

  &--element-container {
    padding: 0 16px;
  }

  &--advance-count-action {
    display: flex;
    justify-content: space-between;
  }

  &--delete-traveller {
    color: $red;
    font-size: 16px;
  }

  &--wrapper-title {
    font-weight: 500;
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
    color: #4a4a4a;
  }

  &--text {
    border-bottom: 1px solid $grey-lighter;
    margin: 16px 0;

    &__invalid {
      border-bottom-color: $red !important;
    }
  }

  &--mandatory-text {
    color: $red;
    font-size: 12px;
  }

  &--text-label {
    margin: 0 8px 0 0;
    max-width: 90%;
    min-width: 120px;
    font-size: 12px;
    color: $black-light;
    line-height: 16px;
    white-space: nowrap;
    font-weight: 400;

    &__invalid {
      color: $red;
    }
  }

  &--checkbox {
    font-size: 16px;
    color: #ababab;
    font-weight: 500;
  }

  &--text-input {
    border: 0;
    font-size: 14px;
    font-weight: 400;
    height: 24px;
    line-height: 18px;
    color: $blue-black;
    width: 100%;
    padding: 12px 0;
    margin: 4px 0 !important;
  }

  &--date-input {
    border: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    width: 100%;
    padding: 16px;
    height: 20px;
  }

  &--special-elements {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &--need-checkbox {
    .mat-checkbox-inner-container {
      padding: 16px;
    }
    margin-right: 10px;
  }

  &--cta-block {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  &--cta-container {
    display: flex;
    justify-content: space-between;

    &-cta {
      height: 48px;
      width: 100%;
      margin: 12px;
      --border-radius: 4px;
    }
  }

  &--add-advance {
    padding: 0 10px;
    color: #ff3366;
    margin-bottom: 76px;

    &-add-icon {
      font-size: 16px;
      vertical-align: text-top;
      text-align-last: center;
    }
  }
}
