<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start" mode="md">
      <ion-button (click)="goBack()">
        <mat-icon>keyboard_backspace</mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="md">Request Trip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-tab-group>
    <mat-tab label="TRANSPORTATION"> Transportation </mat-tab>
    <mat-tab label="HOTEL"> Hotel </mat-tab>
    <mat-tab label="ADVANCE"> Advance </mat-tab>
  </mat-tab-group>
</ion-content>
