<ng-container *ngIf="attachments$ | async as attachments">
  <div class="preview-attachments--controls" *ngIf="attachments.length > 1">
    <mat-icon class="preview-attachments--go-back" (click)="goToPrevSlide()"> arrow_back_ios </mat-icon>
    <mat-icon class="preview-attachments--go-forward" (click)="goToNextSlide()"> arrow_forward_ios </mat-icon>
  </div>
</ng-container>

<ion-slides #slides>
  <ng-container *ngIf="attachments$ | async as attachments; else loading">
    <ng-container *ngFor="let attachment of attachments">
      <ion-slide>
        <div class="preview-attachments--container">
          <div *ngIf="attachment?.type !== 'pdf'">
            <img class="preview-attachments--image" [src]="attachment?.url" />
          </div>

          <div class="preview-attachments--image" *ngIf="attachment?.type === 'pdf'">
            <pdf-viewer [page]="1" [src]="attachment?.url" [render-text]="true" [zoom]="zoomScale"></pdf-viewer>

            <div class="preview-attachments--pdf-controls">
              <mat-icon class="preview-attachments--seconady-action-icons" (click)="zoomIn()">add_circle</mat-icon>
              <mat-icon class="preview-attachments--seconady-action-icons" (click)="zoomOut()">remove_circle</mat-icon>
              <mat-icon class="preview-attachments--seconady-action-icons" (click)="resetZoom()">zoom_out_map</mat-icon>
            </div>
          </div>
        </div>
      </ion-slide>
    </ng-container>
  </ng-container>
  <ng-template #loading> Loading attachments.. </ng-template>
</ion-slides>
