.preview-attachments {
  &--container {
    min-height: 30vh;
    min-width: 90vw;
    max-height: 30vh;
    max-width: 90vw;
    border: 1px solid;
    background-color: white !important;
    border-radius: 4px;
    z-index: 12;
  }

  &--controls {
    position: relative;
    z-index: 99;
  }

  &--container {
    min-height: 320px;
    width: 100%;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-top: 8px;
  }

  // &--slider {
  //   margin: 0;
  //   padding: 0;
  //   left: -26px;
  // }

  &--slide {
    width: auto !important;
  }

  &--go-back {
    position: absolute;
    top: 20vh;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    padding: 12px;
    height: 40px;
    width: 40px;
    color: white;
  }

  &--go-forward {
    position: absolute;
    top: 20vh;
    left: 80vw;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    padding: 12px;
    height: 40px;
    width: 40px;
    color: white;
  }

  &--delete {
    padding: 0 8px;
  }

  &--image {
    height: 300px;
    width: 300px;
  }

  &--pdf-controls {
    position: fixed;
    bottom: 0;
    right: 10%;
    z-index: 10;
  }

  &--seconady-action-icons {
    display: block;
    margin-bottom: 8px;
    text-align: center;
    font-size: 24px;
    color: #4a4a4a;
  }
}
