@import '../../../../theme/colors.scss';

.fy-popover {
  &--toolbar {
    border-bottom: 1px solid $grey-lighter;
    margin-bottom: 8px;
    padding-top: 0 !important;

    &__title {
      color: $black;
      padding-left: 15px;
    }

    &__btn {
      font-size: 16px;
      line-height: 1.3;
      color: $primary;
      text-transform: none;
    }
  }

  &--input-container {
    padding: 6px 16px 18px;
    line-height: 1.3;
    font-weight: 400;

    &__label {
      margin: 0 8px 6px 0;
      font-size: 12px;
      color: $black-light;
    }

    &__mandatory {
      color: $primary;
      font-size: 14px;
    }

    &__textarea {
      font-size: 14px;
      color: $black;
      min-height: 60px;
      min-width: 100%;
      max-width: 100%;
      padding: 8px 11px;
      border-radius: 8px;
      border: 1px solid $grey-light;
    }
  }
}
