<ion-header mode="md">
  <ion-toolbar mode="md" class="text-center fy-popover--toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <mat-icon class="fy-icon-close" svgIcon="fy-close"></mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="fy-popover--toolbar__title">{{ title }}</div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="formValue.trim().length === 0" class="fy-popover--toolbar__btn" (click)="submit()">
        Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="fy-popover--input-container">
  <div class="fy-popover--input-container__label">
    <span> {{ formLabel }} </span>
    <span class="fy-popover--input-container__mandatory"> * </span>
  </div>
  <textarea
    placeholder="Type your reason here"
    [(ngModel)]="formValue"
    class="fy-popover--input-container__textarea"
  ></textarea>
</div>
