@import '../../../../theme/colors.scss';

.policy-violation {
  &--toolbar {
    &__title {
      color: $black;
      padding-left: 15px;
    }
  }

  &--body {
    margin: 16px;
  }

  &--header {
    margin-bottom: 10px;
  }

  &--list {
    padding-left: 24px;
    margin: 25px 0;
  }

  &--description {
    margin-bottom: 25px;
    border-radius: 4px;
    padding: 10px;
    background-color: $grey-7;
  }

  &--textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid $grey-light;
    border-radius: 4px;
    min-height: 75px;
    padding: 8px 11px;
  }
}
