.policy-violation {
  &--toolbar {
    border: none;
    --background: #f8f8f8;
    line-height: 1.2;
  }

  &--body {
    margin: 24px;
  }

  &--header {
    margin: 0 0 10px;
  }

  &--list {
    padding-left: 24px;
    margin: 25px 0 25px 0;
  }

  &--description {
    margin-bottom: 25px;
    border-radius: 4px;
    padding: 10px;
    background-color: #eee;
  }

  &--textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #fafafa;
    border-radius: 4px;
    min-height: 75px;
  }

  &--buttons {
    display: flex;
    justify-content: space-around;
  }
}
