<ion-header mode="md">
  <mat-icon class="fy-modal-top-bar" svgIcon="fy-rectangle"></mat-icon>
  <ion-toolbar class="policy-violation--toolbar fy-modal-toolbar">
    <ion-title mode="md">
      Policy Violated
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="policy-violation--body">
    <div class="policy-violation--header">
      This expense falls outside the guidelines of your company’s policy. Please contact your admin for any
      clarifications.
    </div>

    <ul class="policy-violation--list">
      <li *ngFor="let violation of policyViolationMessages">
        {{violation}}
      </li>
    </ul>

    <div class="policy-violation--description">
      {{policyActionDescription}}
    </div>

    <textarea class="policy-violation--textarea" [(ngModel)]="comment"
      placeholder="Please provide an explanation for policy violation"></textarea>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar mode="md">
    <ion-buttons class="policy-violation--buttons">
      <ion-button expand="full" color="medium" (click)="cancel()">
        Cancel
      </ion-button>
      <ion-button expand="full" color="fyle-primary" (click)="continue()">
        Continue
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
