$details-color: #ababab;

.pull-back {
  &--header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
  }

  &--title {
    font-size: 24px;
    font-weight: 700;
  }

  &--cancel {
    color: #0077ee;
    font-weight: 500;
    font-size: 16pxl;
  }

  &--details {
    font-size: 16px;
    padding: 0 16px;
    font-weight: 500;
    color: $details-color;
    margin-bottom: 10px;
  }

  &--form {
    padding: 0 16px;
  }

  &--error-message {
    color: red;
  }

  &--disabled {
    opacity: 0.2;
  }

  &--form-input {
    width: 100%;
  }

  &--redirect {
    text-decoration: none;
  }
}
