<div class="pull-back">
  <div class="pull-back--header">
    <div class="pull-back--title">Pull Back Trip</div>
    <div class="pull-back--cancel" (click)="cancel()">Cancel</div>
  </div>

  <div class="pull-back--details">Pulling back your trip request will allow you to edit and re-submit the request.</div>
  <div class="pull-back--form">
    <mat-form-field appearance="outline" class="pull-back--form-input mat-form-field-no-padding">
      <textarea rows="3" matInput placeholder="Enter reason" [(ngModel)]="reason"></textarea>
    </mat-form-field>

    <div *ngIf="showError" class="pull-back--error-message">Please enter a reason.</div>
  </div>
  <ion-footer>
    <ion-toolbar mode="md">
      <div class="fy-footer-cta-container">
        <ion-button
          class="fy-footer-cta fy-footer-cta--primary"
          (click)="pullBackTrip()"
          [disabled]="reason.trim().length === 0"
        >
          Pull Back Trip
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-footer>
</div>
