<div class="dashboard-opt-in--container">
  <div class="dashboard-opt-in__skip">
    <span class="dashboard-opt-in__skip--text" (click)="skip()">Skip</span>
  </div>
  <div (click)="optInClick()">
    <div class="dashboard-opt-in__demo-container">
      <img
        class="dashboard-opt-in__demo"
        src="../../../../assets/images/promote-opt-in.gif"
        alt="Opt in to text receipts"
      />
    </div>
    <div class="content-center dashboard-opt-in__try-ai-text-container">
      <mat-icon class="fy-icon" svgIcon="sparkle"></mat-icon>
      <span class="dashboard-opt-in__try-ai-text"> Try AI </span>
    </div>
    <div class="dashboard-opt-in__description">
      Text receipts for <span class="dashboard-opt-in__instant-text-decoration">instant</span>
      <span class="dashboard-opt-in__underline"></span> expense submission
    </div>
    <div class="content-center">
      <button class="dashboard-opt-in__opt-in-btn">
        <mat-icon class="fy-icon dashboard-opt-in__arrow-icon" svgIcon="arrow-tail-right"></mat-icon>
      </button>
    </div>
  </div>
</div>
