<div class="dashboard-opt-in--container">
  <div class="dashboard-opt-in__skip">
    <span class="dashboard-opt-in__skip--text" (click)="skip()">{{ 'dashboardOptIn.skip' | transloco }}</span>
  </div>
  <div (click)="optInClick()">
    <div class="dashboard-opt-in__demo-container">
      <img
        class="dashboard-opt-in__demo"
        src="../../../../assets/images/promote-opt-in.gif"
        [alt]="'dashboardOptIn.altOptInToTextReceipts' | transloco"
      />
    </div>
    <div class="content-center dashboard-opt-in__try-ai-text-container">
      <mat-icon class="fy-icon" svgIcon="sparkle"></mat-icon>
      <span class="dashboard-opt-in__try-ai-text"> {{ 'dashboardOptIn.tryAI' | transloco }} </span>
    </div>
    <div class="dashboard-opt-in__description" [innerHTML]="'dashboardOptIn.description' | transloco"></div>
    <div class="content-center">
      <button class="dashboard-opt-in__opt-in-btn">
        <mat-icon class="fy-icon dashboard-opt-in__arrow-icon" svgIcon="arrow-tail-right"></mat-icon>
      </button>
    </div>
  </div>
</div>
