<ion-header mode="md">
  <ion-toolbar class="view-expense--toolbar">
    <ion-buttons *ngIf="this.reportId" mode="md" slot="start">
      <ion-button (click)="goBack()">
        <ion-icon class="icon--navigate" [src]="'../../../../assets/svg/navigate-left.svg'" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title
      mode="md"
      class="page-title"
      [ngClass]="{'view-expense--title': numEtxnsInReport > 1, 'view-expense--title-sm': isDeviceWidthSmall}"
      >View Expense
      <p class="view-expense--subtitle" *ngIf="numEtxnsInReport > 1">
        Showing {{ activeEtxnIdx + 1 }} of {{ numEtxnsInReport }} expenses
      </p>
    </ion-title>
    <ion-buttons class="view-expense--header-btn-container" slot="end">
      <ion-button class="view-expense--header-btn-container__btn" (click)="openCommentsModal()">
        <ion-icon [src]="'../../../assets/svg/fy-chat-2.svg'" slot="icon-only"></ion-icon>
      </ion-button>

      <ng-container *ngIf="canFlagOrUnflag$|async">
        <ion-button
          class="view-expense--header-btn-container__btn"
          (click)="flagUnflagExpense()"
          [ngClass]="isExpenseFlagged ? 'icon--flagged' : 'icon--unflagged'"
        >
          <ion-icon [src]="'../../../assets/svg/fy-flag-2.svg'" slot="icon-only"></ion-icon>
        </ion-button>
      </ng-container>

      <ng-container *ngIf="canDelete$|async">
        <ion-button class="view-expense--header-btn-container__btn" (click)="removeExpenseFromReport()">
          <ion-icon [src]="'../../../assets/svg/fy-delete.svg'" slot="icon-only"></ion-icon>
        </ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="view-expense--container" *ngIf="etxn$|async as etxn">
    <ng-container *ngIf="etxn.tx_policy_flag">
      <ng-container *ngIf="policyDetails">
        <app-fy-policy-violation-info
          [policyDetails]="policyDetails"
          [criticalPolicyViolated]="isCriticalPolicyViolated$|async"
        ></app-fy-policy-violation-info>
      </ng-container>
    </ng-container>

    <div class="view-expense--policy-container" *ngIf="(isAmountCapped$|async) && !(isCriticalPolicyViolated$|async)">
      <span class="info-text m-0">
        Claimed amount {{ etxn.tx_user_amount | currency:etxn.tx_currency: 'symbol-narrow' }} was capped to {{
        etxn.tx_amount | currency:etxn.tx_currency: 'symbol-narrow'}} due to policy.
      </span>
    </div>

    <div class="view-expense--attachment-currency-block">
      <ng-container *ngIf="attachments$|async as attachments">
        <div *ngIf="!attachments.length" class="view-expense--receipt-icon-container">
          <div class="view-expense--receipt-icon-container__image">
            <mat-icon class="view-expense--receipt-icon-container__icon" svgIcon="no-attachment"></mat-icon>
          </div>
        </div>
      </ng-container>
      <div class="view-expense--amount-container">
        <div class="view-expense--amount-container__currency-block">
          <div class="view-expense--label">
            Currency
            <span class="view-expense--mandatory"> * </span>
          </div>
          <div class="view-expense--value">{{etxn.tx_orig_currency || etxn.tx_currency}}</div>
        </div>
        <div class="view-expense--amount-container__amount-block">
          <div class="view-expense--label">
            Amount
            <span class="view-expense--mandatory"> * </span>
          </div>
          <div class="view-expense--amount-container__amount-block__amount">
            {{etxn.tx_orig_amount || etxn.tx_amount}}
          </div>
        </div>
      </div>
    </div>

    <div
      *ngIf="etxn.tx_orig_currency && (etxn.tx_orig_currency !== etxn.tx_currency)"
      class="view-expense--exchange-rate-container"
    >
      <mat-icon class="view-expense--exchange-rate-container__icon" svgIcon="fy-info"></mat-icon>
      <div class="view-expense--exchange-rate-container__message">
        <strong>{{etxn.tx_currency}} {{etxn.tx_amount | number: '1.0-2'}}</strong>
        at {{exchangeRate | number: '1.0-6'}} {{etxn.tx_currency}} / {{etxn.tx_orig_currency}}
      </div>
    </div>

    <ng-container *ngIf="attachments$|async as attachments">
      <app-receipt-preview-thumbnail
        *ngIf="attachments.length > 0"
        [attachments]="attachments"
        (viewAttachments)="viewAttachments()"
        [canEdit]="false"
      >
      </app-receipt-preview-thumbnail>
    </ng-container>

    <div class="view-expense--primary-block">
      <ion-grid class="view-expense--grid">
        <ion-row>
          <ion-col>
            <div class="view-expense--internal-block">
              <div class="view-expense--label">
                Date of Spend
                <span class="view-expense--mandatory"> * </span>
              </div>
              <div class="view-expense--value view-expense--date">
                {{ etxn.tx_txn_dt | date: 'MMM dd, yyyy' }}
                <ion-icon
                  class="view-expense--date__icon"
                  src="../../../assets/svg/fy-calendar.svg"
                  slot="icon-only"
                ></ion-icon>
              </div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="view-expense--label">
              Payment Mode
              <span class="view-expense--mandatory"> * </span>
            </div>
            <div class="view-expense--value" [ngClass]="{'view-expense--value-sm': isDeviceWidthSmall}">
              {{paymentMode}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="isCCCTransaction" class="view-expense--primary-block">
      <div class="view-expense--label">Card Transaction</div>

      <div
        *ngIf="matchingCCCTransaction$ | async as matchingCCCTransaction; else NoMatchingTxn"
        class="view-expense--value view-expense--matching-txn"
      >
        <mat-icon svgIcon="fy-corporate-card" class="view-expense--card-txn-container__icon"></mat-icon>
        <div class="view-expense--matching-txn__content">
          <span class="text-capitalize"
            >{{ (matchingCCCTransaction.vendor || matchingCCCTransaction.description) | ellipsis:20}},
          </span>
          <span>{{ matchingCCCTransaction.txn_dt | date: 'MMM dd, yyyy'}} - </span>
          <span>{{ matchingCCCTransaction.amount | currency: matchingCCCTransaction.currency: 'symbol-narrow'}}</span>
        </div>
      </div>
      <ng-template #NoMatchingTxn>
        <div class="view-expense--card-txn-container">
          <mat-icon svgIcon="fy-corporate-card" class="view-expense--card-txn-container__icon"></mat-icon>
          <div>No matching card transaction</div>
        </div>
      </ng-template>
    </div>

    <div *ngIf="orgSettings?.projects?.enabled && etxn.tx_project_id" class="view-expense--primary-block">
      <div class="view-expense--primary-block">
        <div class="view-expense--label">Project</div>
        <div class="view-expense--project">
          <div class="view-expense--value">{{ etxn.tx_project_name || 'No Project Added' }}</div>
          <div class="view-expense--checkbox-container">
            <ng-container *ngIf="etxn.tx_billable; else uncheckedIcon">
              <ion-icon
                class="view-expense--checkbox-container__icon"
                src="../../../assets/svg/fy-checkbox-checked.svg"
              ></ion-icon>
            </ng-container>
            <ng-template #uncheckedIcon>
              <ion-icon
                class="view-expense--checkbox-container__icon"
                src="../../../assets/svg/fy-checkbox-unchecked.svg"
              ></ion-icon>
            </ng-template>
            <span>Billable</span>
          </div>
        </div>
      </div>
    </div>

    <div class="view-expense--primary-block">
      <div class="view-expense--label">
        Category
        <span class="view-expense--mandatory"> * </span>
      </div>
      <div class="view-expense--value">{{ etxn.tx_categoryDisplayName || 'Not Added' }}</div>
    </div>

    <div *ngIf="etxn.tg_name" class="view-expense--primary-block">
      <div class="view-expense--label">Tax Group</div>
      <div class="view-expense--value">{{ etxn.tg_name || 'Not Added' }}</div>
    </div>

    <div
      *ngIf="orgSettings?.tax_settings?.enabled && orgSettings?.tax_settings?.name"
      class="view-expense--primary-block"
    >
      <div class="view-expense--label">{{orgSettings.tax_settings.name}}</div>
      <div class="view-expense--value">
        {{ (etxn.tx_tax | currency:etxn.tx_currency: 'symbol-narrow') || 'Not Added' }}
      </div>
    </div>

    <ng-container *ngIf="etxn.tx_fyle_category === 'Taxi' && etxn.tx_distance">
      <div class="view-expense--primary-block">
        <div class="view-expense--label">Distance</div>
        <div class="view-expense--value">{{ etxn.tx_distance }}</div>
      </div>
      <div *ngIf="etxn.tx_distance_unit" class="view-expense--primary-block">
        <div class="view-expense--label">Unit</div>
        <div class="view-expense--value">{{ etxn.tx_distance_unit }}</div>
      </div>
    </ng-container>

    <ng-container *ngIf="['Bus', 'Flight', 'Train'].includes(etxn.tx_fyle_category)">
      <div *ngIf="etxn.tx_locations && etxn.tx_locations.length" class="view-expense--primary-block">
        <ion-grid class="view-expense--grid">
          <ion-row>
            <ion-col *ngIf="etxn.tx_locations[0]?.display" [size]="etxn.tx_locations[1]?.display ? '6': '12'">
              <div [ngClass]="{'view-expense--internal-block': etxn.tx_locations[1]?.display}">
                <div class="view-expense--label">From</div>
                <div class="view-expense--value view-expense--location">{{ etxn.tx_locations[0].display }}</div>
              </div>
            </ion-col>
            <ion-col size="6" *ngIf="etxn.tx_locations[1]?.display">
              <div class="view-expense--label">To</div>
              <div class="view-expense--value view-expense--location">{{ etxn.tx_locations[1].display }}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div *ngIf="etxn.tx_from_dt" class="view-expense--primary-block">
        <ion-grid class="view-expense--grid">
          <ion-row>
            <ion-col>
              <div [ngClass]="{'view-expense--internal-block': etxn.tx_to_dt}">
                <div class="view-expense--label">Onward Date</div>
                <div class="view-expense--value view-expense--date">
                  {{ etxn.tx_from_dt | date: 'MMM dd, yyyy' }}
                  <ion-icon
                    class="view-expense--date__icon"
                    src="../../../assets/svg/fy-calendar.svg"
                    slot="icon-only"
                  ></ion-icon>
                </div>
              </div>
            </ion-col>
            <ion-col size="6" *ngIf="etxn.tx_to_dt">
              <div class="view-expense--label">Return date</div>
              <div class="view-expense--value view-expense--date">
                {{ etxn.tx_to_dt | date: 'MMM dd, yyyy' }}
                <ion-icon
                  class="view-expense--date__icon"
                  src="../../../assets/svg/fy-calendar.svg"
                  slot="icon-only"
                ></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ng-container *ngIf="['Train', 'Bus'].includes(etxn.tx_fyle_category)">
        <div *ngIf="etxn.tx_train_travel_class || etxn.tx_bus_travel_class" class="view-expense--primary-block">
          <div class="view-expense--label">Travel Class</div>
          <div class="view-expense--value">{{ etxn.tx_train_travel_class || etxn.tx_bus_travel_class }}</div>
        </div>
      </ng-container>

      <div
        *ngIf="etxn.tx_fyle_category === 'Flight' && etxn.tx_flight_journey_travel_class"
        class="view-expense--primary-block"
      >
        <ion-grid class="view-expense--grid">
          <ion-row>
            <ion-col>
              <div [ngClass]="{'view-expense--internal-block': etxn.tx_flight_return_travel_class}">
                <div class="view-expense--label">Onward Class</div>
                <div class="view-expense--value">{{ etxn.tx_flight_journey_travel_class }}</div>
              </div>
            </ion-col>
            <ion-col size="6" *ngIf="etxn.tx_flight_return_travel_class">
              <div class="view-expense--label">Return Class</div>
              <div class="view-expense--value">{{ etxn.tx_flight_return_travel_class }}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ng-container>

    <ng-container
      *ngIf="etxn.tx_fyle_category === 'Hotel' && (etxn?.tx_locations[0]?.display || etxn.tx_from_dt || etxn.tx_to_dt)"
    >
      <div *ngIf="etxn.tx_locations[0]?.display" class="view-expense--primary-block">
        <div class="view-expense--label">City</div>
        <div class="view-expense--value">{{ etxn.tx_locations[0]?.display }}</div>
      </div>
      <div class="view-expense--primary-block">
        <ion-grid class="view-expense--grid">
          <ion-row>
            <ion-col *ngIf="etxn.tx_from_dt">
              <div [ngClass]="{'view-expense--internal-block': etxn.tx_to_dt}">
                <div class="view-expense--label">Check In</div>
                <div class="view-expense--value">{{ etxn.tx_from_dt | date: 'MMM dd, yyyy' }}</div>
              </div>
            </ion-col>
            <ion-col size="6" *ngIf="etxn.tx_to_dt">
              <div class="view-expense--label">Check Out</div>
              <div class="view-expense--value">{{ etxn.tx_to_dt | date: 'MMM dd, yyyy' }}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="view-expense--checkbox-container">
        <ng-container *ngIf="etxn.tx_hotel_is_breakfast_provided; else uncheckedIcon">
          <ion-icon
            class="view-expense--checkbox-container__icon-primary"
            src="../../../assets/svg/fy-checkbox-checked.svg"
          ></ion-icon>
        </ng-container>
        <ng-template #uncheckedIcon>
          <ion-icon
            class="view-expense--checkbox-container__icon-primary"
            src="../../../assets/svg/fy-checkbox-unchecked.svg"
          ></ion-icon>
        </ng-template>
        <span class="view-expense--label">Breakfast Provided</span>
      </div>
    </ng-container>

    <div class="view-expense--primary-block">
      <div class="view-expense--label">Merchant</div>
      <div class="view-expense--value">{{ etxn.tx_vendor || 'Not Added' }}</div>
    </div>

    <div *ngIf="orgSettings?.cost_centers?.enabled && etxn.tx_cost_center_id" class="view-expense--primary-block">
      <div class="view-expense--label">Cost Center</div>
      <div class="view-expense--value">{{ etxn.tx_cost_center_name }}</div>
    </div>

    <div class="view-expense--primary-block">
      <div class="view-expense--label">Purpose</div>
      <div class="view-expense--value">{{ etxn.tx_purpose || 'Not Added' }}</div>
    </div>

    <ng-container *ngIf="etxn.tx_custom_properties">
      <div *ngFor="let customProperty of etxn.tx_custom_properties" class="view-expense--primary-block">
        <div class="view-expense--label">{{customProperty.name}}</div>
        <div class="view-expense--value">{{ getDisplayValue(customProperty) }}</div>
      </div>
    </ng-container>
  </div>
</ion-content>

<ion-footer class="view-expense--footer-container" *ngIf="numEtxnsInReport > 1">
  <ion-toolbar mode="md" class="view-expense--footer-container__footer">
    <ion-buttons>
      <ion-button
        class="btn-secondary view-expense--footer-container__footer__btn"
        (click)="goToPrev()"
        [disabled]="activeEtxnIdx === 0"
      >
        <ion-icon
          class="icon--navigate view-expense--footer-container__footer__icon"
          src="../../../assets/svg/navigate-left.svg"
        ></ion-icon>
        Previous
      </ion-button>
      <ion-button class="btn-secondary" (click)="goToNext()" [disabled]="activeEtxnIdx === numEtxnsInReport - 1">
        Next
        <ion-icon
          class="icon--navigate view-expense--footer-container__footer__icon"
          src="../../../assets/svg/navigate-right.svg"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
