.view-expense {
  
  &--toolbar {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  &--container {
    padding: 0 16px;
  }

  &--policy-container {
    border-radius: 6px;
    background: #f2f2f2;
    padding: 8px 16px;
    margin: 8px 0;
    font-size: 14px;
    color: #4a4a4a;
  
    &-warning-icon {
      font-size: 18px;
      padding-top: 2px;
      vertical-align: middle !important;
      color: #ababab;
    }
  }

  &--attachment-currency-block {
    margin: 24px 0;
    width: 100%;
    display: flex;
  }

  &--no-attachment {
    text-align: center;
    display: block;
    line-height: 88px;
  }

  &--attachment-block {
    width: 72px;
    height: 88px;
    border-radius: 6px;
    background: #d8d8d8;
    color: #ababab;
    font-size: 14px;
    font-weight: 500;
    float: left;
    position: relative;
    margin-right: 16px;
  }

  &--receipt {
    padding: 14px 10px 0 10px;
  }

  &--receipt-count {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 0, 51, 0.4);
    color: #fff;
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    border-radius: 6px;

    &-number {
      display: inline-block;
      vertical-align: middle;
      margin-top: 20px;
      line-height: 1;
      margin-left: -4px;
    }
  }

  &--currency-block {
    width: calc(100% - 88px);
    height: 100%;
    float: right;
    position: relative;
  }

  &--element-block {
    margin-bottom: 16px;
    padding: 0 16px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
  }

  &--element {
    padding: 16px 0;
    background: #fff;
    border: 0;
    line-height: 1;
    display: flex;
    border-bottom: 1px solid #e0e0e0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  &--element-label {
    min-width: 120px;
    max-width: 30%;
    margin: 0 8px 0 0;
    font-size: 16px;
    color: #ababab;
    font-weight: 500;
    line-height: 1.5;
  }

  &--element-value {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
  }

  &--card {
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
  }

  &--card-action {
    display: flex;
    align-items: center;
  }

  &--card-action-icon {
    color: #ababab;
    margin-right: 12px;
  }

  &--card-action-text {
    &__comment {
      color: #0077ee;
    }
    &__delete {
      color: #f00;
    }
  }
}