@use '../../../../theme/colors.scss';

.policy-violation-rule {
  &--container {
    padding: 16px;
    border-radius: 3px;
    margin-bottom: 12px;

    &__normal-violation {
      background-color: colors.$floral-white;
      border: 1px solid colors.$pale-orange;
    }

    &__critical-violation {
      background-color: colors.$snow-white;
      border: 1px solid colors.$pale-pink;
    }
  }
}
