<div class="employee-details-card">
  <div
    class="employee-details-card__top-section"
    [ngClass]="{ 'employee-details-card__mobile-number-not-visible': !isMobileNumberSectionVisible }"
    >
    <ion-grid class="employee-details-card__grid">
      <ion-row>
        <ion-col class="employee-details-card__icon-container">
          <div class="employee-details-card__icon-container__text smartlook-hide">
            {{ eou.us.full_name | initials | uppercase }}
          </div>
        </ion-col>
        <ion-col class="employee-details-card__content-container smartlook-hide">
          <div class="employee-details-card__header">
            {{ eou.us.full_name }}
          </div>
          <div>
            {{ eou.us.email }}
          </div>
          @if (eou.ou.employee_id) {
            <div class="employee-details-card__employee-id">
              {{ 'employeeDetailsCard.employeeId' | transloco }} {{ eou.ou.employee_id }}
            </div>
          }
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
