@import '../../../../theme/colors.scss';

.employee-details-card {
  color: $pure-white;
  line-height: 1.3;
  padding: 16px 16px 0;

  &__top-section {
    background: url('../../../../assets/images/employee-card-bg.png') no-repeat bottom;
    height: 120px;
    background-size: 100% 100%;
    box-shadow: 0px 4px 4px 0px rgba(225, 225, 225, 0.25);
    padding: 24px 16px;
    border-radius: 8px 8px 0 0;
  }

  &__grid {
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 0;
  }

  &__bottom-section {
    background: $pure-white;
    padding: 16px;
    border-radius: 0 0 8px 8px;
    color: $black;

    &__add-number {
      color: $black-light;
      font-weight: 500;
    }

    &__edit-number {
      display: flex;
      justify-content: space-between;
    }

    &__number-container {
      padding-top: 4px;
      white-space: nowrap;
    }

    &__number {
      font-size: 16px;
      font-weight: 500;
    }

    &__icon-edit {
      height: 18px;
      width: 18px;
      vertical-align: middle;
      padding: 0 4px 6px;
      color: $brand-primary;
    }

    &__status {
      margin: auto 0;
      font-weight: 500;
      color: $blue-black;
      display: flex;
      align-items: center;

      &__icon {
        border-radius: 100%;
        background-color: $red;
        height: 8px;
        width: 8px;
        margin-right: 6px;

        &--verified {
          @extend .employee-details-card__bottom-section__status__icon;
          background-color: $green;
        }
      }
    }

    &__verify {
      color: $brand-primary;
      font-size: 16px;
      font-weight: 500;
      padding-left: 8px;
      border-left: 1px solid $grey;
      margin-left: 8px;
    }

    &__icon {
      height: 18px;
      width: 18px;
      vertical-align: middle;
      padding: 0 4px 4px 0;
      color: $brand-primary;
    }
  }

  &__icon-container {
    flex: 0 0 55px;
    max-height: 54px;
    background: url('../../../../assets/images/fy-profile-gradient.svg') no-repeat bottom;

    &__text {
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }

  &__content-container {
    padding-left: 16px;
    width: calc(100% - 55px);
  }

  &__header {
    font-size: 18px;
    padding-top: 4px;
    font-weight: 500;
  }

  &__employee-id {
    padding-top: 4px;
  }
}
