@import '../../../../theme/colors.scss';

.employee-details-card {
  color: $pure-white;
  font-size: 16px;
  line-height: 1.3;

  &__background {
    background: url('../../../../assets/images/employee-card-bg.png') no-repeat bottom;
    height: 164px;
    background-size: 100% 100%;
    box-shadow: 0px 4px 4px 0px rgba(225, 225, 225, 0.25);
    padding: 24px 16px;
  }

  &__grid {
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 0;
  }

  &__icon-container {
    flex: 0 0 55px;
    max-height: 55px;
    background: url('../../../../assets/images/fy-profile-gradient.svg') no-repeat bottom;

    &__text {
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }

  &__content-container {
    padding-left: 16px;
    width: calc(100% - 55px);
  }

  &__header {
    font-size: 20px;
    font-weight: 500;
  }

  &__details-container {
    padding-top: 24px;
  }

  &__label {
    font-size: 12px;
    color: $grey-light;
  }

  &__value {
    padding-top: 6px;
  }

  &__mobile-container {
    padding-right: 8px;
  }

  &__mobile {
    max-width: calc(100% - 24px);
    padding-right: 4px;

    &__icon {
      height: 18px;
      width: 18px;
    }

    &__icon-lg {
      height: 20px;
      width: 20px;
    }
  }
}
