<div class="employee-details-card">
  <div class="employee-details-card__top-section">
    <ion-grid class="employee-details-card__grid">
      <ion-row>
        <ion-col class="employee-details-card__icon-container">
          <div class="employee-details-card__icon-container__text">
            {{ eou.us.full_name | initials | uppercase }}
          </div>
        </ion-col>
        <ion-col class="employee-details-card__content-container">
          <div class="employee-details-card__header">
            {{ eou.us.full_name }}
          </div>
          <div>
            {{ eou.us.email }}
          </div>
          <ng-container *ngIf="eou.ou.employee_id?.length">
            <div class="employee-details-card__employee-id">Employee ID - {{ eou.ou.employee_id }}</div>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="employee-details-card__bottom-section">
    <ng-container *ngIf="eou.ou.mobile?.length; else addMobileNumber">
      <div class="employee-details-card__bottom-section__edit-number">
        <div>
          <div>Mobile Number</div>
          <div (click)="onUpdateMobileNumber(eou)" class="employee-details-card__bottom-section__number-container">
            <span class="employee-details-card__bottom-section__number">
              {{ eou.ou.mobile }}
            </span>
            <ion-icon
              src="../../../../assets/svg/edit.svg"
              slot="icon-only"
              class="employee-details-card__bottom-section__icon-edit"
            ></ion-icon>
          </div>
        </div>
        <div class="employee-details-card__bottom-section__status-container">
          <div class="employee-details-card__bottom-section__status">
            <div
              class="employee-details-card__bottom-section__status__icon"
              [ngClass]="{ 'employee-details-card__bottom-section__status__icon--verified': eou.ou.mobile_verified }"
            ></div>
            <div class="text-ellipsis">{{ eou.ou.mobile_verified ? 'Verified' : 'Not Verified' }}</div>
            <div
              *ngIf="!eou.ou.mobile_verified"
              class="employee-details-card__bottom-section__verify"
              [ngClass]="{
                'employee-details-card__bottom-section__verify--disabled': !eou.ou.mobile_verification_attempts_left
              }"
              (click)="onVerifyMobileNumber(eou)"
            >
              Verify
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #addMobileNumber>
      <div (click)="onUpdateMobileNumber(eou)">
        <ion-icon src="../../../../assets/svg/plus.svg" class="employee-details-card__bottom-section__icon"></ion-icon>
        <span class="employee-details-card__bottom-section__add-number"> Add Mobile Number </span>
      </div>
    </ng-template>
  </div>
</div>
