<ion-header mode="md">
  <mat-icon class="fy-modal-top-bar" svgIcon="notch"></mat-icon>
  <ion-toolbar mode="md" class="text-center fy-modal-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <mat-icon class="fy-icon-close" svgIcon="cross"></mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-title [class.long-title]="isLongTitle">
      {{ title }}
    </ion-title>
    <ion-buttons slot="end" class="email-notifications--end-buttons">
      <div class="email-notifications--saved-text">{{ saveText }}</div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="email-notifications--container">
    @if (isPushPermissionDenied) {
      <app-fy-alert-info
        class="email-notifications--push-alert"
        [message]="'emailNotifications.pushNotificationsTurnedOff' | transloco"
        [type]="'warning'"
        [showActionButton]="true"
        [actionButtonContent]="'Go to Settings'"
        (actionClick)="openDeviceSettings()"
      >
      </app-fy-alert-info>
    }
    <div class="table-header email-notifications--flex-row">
      <div class="email-notifications--event-name">
        Events
      </div>
      <div class="email-notifications--checkbox-col">
        <span class="email-notifications--checkbox-label">Email</span>
      </div>
      @if (showMobilePushColumn) {
        <div class="email-notifications--checkbox-mobile-container">
          <span class="email-notifications--checkbox-label">Mobile push</span>
        </div>
      }
    </div>
    <div>
      <div class="email-notifications--flex-row">
        <div class="email-notifications--event-name email-notifications--select-all-row">
          Select all
        </div>
        <div class="email-notifications--checkbox-col">
          <mat-checkbox [(ngModel)]="selectAll" (ngModelChange)="toggleAllNotifications($event, 'email')">
          </mat-checkbox>
        </div>
        @if (showMobilePushColumn) {
          <div class="email-notifications--checkbox-mobile-container">
            <mat-checkbox [(ngModel)]="selectAllPush" (ngModelChange)="toggleAllNotifications($event, 'push')">
            </mat-checkbox>
          </div>
        }
      </div>
      @for (notification of notifications; track notification) {
        <div class="email-notifications--flex-row">
          <div class="email-notifications--event-name">
            {{ notification.event }}
          </div>
          <div class="email-notifications--checkbox-col">
            <mat-checkbox [ngModel]="notification.email" (ngModelChange)="toggleNotification(notification, 'email')">
            </mat-checkbox>
          </div>
          @if (showMobilePushColumn) {
            <div class="email-notifications--checkbox-mobile-container">
              <mat-checkbox
                [ngModel]="notification.push ?? true"
                (ngModelChange)="toggleNotification(notification, 'push')"
              >
              </mat-checkbox>
            </div>
          }
        </div>
      }
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar mode="md">
    <div class="fy-footer-cta-container">
      <ion-button
        class="btn-primary"
        (click)="saveChanges()"
        [disabled]="!hasChanges"
      >
        {{ 'emailNotifications.saveChanges' | transloco }}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
