@use '../../../../theme/colors.scss';

.email-notifications {

  &--saved-text {
    font-size: 12px;
    font-weight: 500;
    color: colors.$blue-black;
    margin-right: 16px;
    margin-bottom: -6px;
    min-width: 40px;
  }

  &--end-buttons {
    min-width: 70px;
    display: flex;
    justify-content: flex-end;
  }

  &--flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 24px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: colors.$blue-black;
  }

  &--event-name {
    width: 60%;
  }

  &--select-all-row {
    font-weight: 500;
  }

  &--event-name-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-top: 1px solid colors.$border-grey-secondary;
    border-right: 1px solid colors.$border-grey-secondary;
    border-bottom: 1px solid colors.$border-grey-secondary;
    background: colors.$navy-50;
  }

  &--checkbox-col {
    margin-left: 6px;
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-start;

    .email-notifications--checkbox-label {
      font-weight: 500;
      white-space: nowrap;
    }
  }

  &--checkbox-col-mobile {
    justify-content: flex-end;
    padding: 12px 24px;
    height: 58px;
    border-left: 1px solid colors.$border-grey-secondary;
  }

  &--checkbox-mobile-container {
    padding: 12px 18px;
  }

  &--checkbox-col-email {
    justify-content: flex-end;
    padding: 12px 24px;
    height: 58px;
    border-left: 1px solid colors.$border-grey-secondary;
  }

  &--checkbox-col-events {
    justify-content: flex-end;
    width: 60%;
    padding: 12px 24px;
    height: 58px;
    border-left: 1px solid colors.$border-grey-secondary;
  }

  &--footer {
    padding: 16px 16px 24px;
  }

  &--save-button {
    width: 100%;
  }
}

.email-notifications--container {
  // Row borders and alternating background colors
  > div:last-child > .email-notifications--flex-row {
    border-bottom: 1px solid colors.$border-tertiary;
    background: colors.$pure-white;

    &:nth-child(even) {
      background: colors.$background-lightest;
    }
  }
}

.btn-primary {
  color: colors.$pure-white !important;
}

.table-header {
  border: 1px solid colors.$border-grey-secondary;
  background: colors.$navy-50;
  height: 58px;
  display: flex;
  align-items: center;
  align-self: stretch;
  font-weight: 500;
}

.table-header .email-notifications--checkbox-col,
.table-header .email-notifications--checkbox-mobile-container {
  border-left: 1px solid colors.$border-grey-secondary;
}

.email-notifications--checkbox-mobile-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

ion-title {
  font-size: 16px;
  margin-left: 28px;
}

.long-title {
  margin-left: 24px;
}
