@use '../../../../theme/colors.scss';

.email-notifications {

  &--saved-text {
    font-size: 12px;
    font-weight: 500;
    color: colors.$blue-black;
    margin-right: 16px;
    margin-bottom: -6px;
    min-width: 40px;
  }

  &--end-buttons {
    min-width: 70px;
    display: flex;
    justify-content: flex-end;
  }

  &--flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 24px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: colors.$blue-black;
    border-left: 1px solid colors.$border-grey-secondary;
    border-right: 1px solid colors.$border-grey-secondary;
    border-bottom: 1px solid colors.$border-tertiary;
  }

  &--event-name {
    width: 50%;
  }

  &--select-all-row {
    font-weight: 500;
  }

  &--event-name-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-top: 1px solid colors.$border-grey-secondary;
    border-right: 1px solid colors.$border-grey-secondary;
    border-bottom: 1px solid colors.$border-grey-secondary;
    background: colors.$navy-50;
  }

  &--checkbox-col {
    margin-left: 6px;
    width: 20%;
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-start;
  }

  &--checkbox-col-mobile {
    justify-content: flex-end;
    padding: 12px 24px;
    height: 58px;
    width: 30%;
    border-left: 1px solid colors.$border-grey-secondary;
  }

  &--checkbox-mobile-container {
    padding: 12px 24px;
  }

  &--checkbox-col-email {
    justify-content: flex-end;
    padding: 12px 24px;
    height: 58px;
    border-left: 1px solid colors.$border-grey-secondary;
  }

  &--checkbox-col-events {
    justify-content: flex-end;
    width: 50%;
    padding: 12px 24px;
    height: 58px;
    border-left: 1px solid colors.$border-grey-secondary;
  }

  &--footer {
    padding: 16px 16px 24px;
  }

  &--save-button {
    width: 100%;
  }
}

.email-notifications--container {
  // Row borders and alternating background colors
  > div:last-child > .email-notifications--flex-row {
    background: colors.$background-lightest;

    &:nth-child(even) {
      background: colors.$pure-white;
    }
  }
}

.email-notifications--header-divider {
  width: 1px;
  height: 58px;
  background: colors.$border-grey-secondary;
}

.email-notifications--header-email-select-all {
  align-items: center;
  gap: 8px;
  width: 20%;
  padding: 18px;
}

.email-notifications {
  display: flex;
  align-items: start;
  margin: 16px;
  padding: 8px 12px;
  border-radius: 8px;
  background: colors.$warning-lighter;
  color: colors.$blue-black;

  &__icon {
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: colors.$dark-yellow;
    height: 20px;
    width: 20px;
  }

  &__message {
    flex: 1;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25;
  }

  &__cta {
    margin-left: 4px;
    border: none;
    background: none;
    padding: 0;
    color: colors.$blue-black;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
  }
}
.btn-primary {
  --background: colors.$brand-primary !important;
}

.table-header {
  border: 1px solid colors.$border-grey-secondary;
  background: colors.$navy-50;
  height: 58px;
  display: flex;
  align-items: center;
  align-self: stretch;
  font-weight: 500;
}

.email-notifications--checkbox-mobile-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

ion-title {
  font-size: 16px;
  margin-left: 28px;
}

.long-title {
  margin-left: 24px;
}
