@use '../../../../theme/colors.scss';

.email-notifications {
  &--container {
    margin: 16px;
  }

  &--saved-text {
    font-size: 12px;
    font-weight: 500;
    color: colors.$blue-black;
    margin-right: 16px;
    margin-bottom: -6px;
    min-width: 40px;
  }

  &--end-buttons {
    min-width: 70px;
    display: flex;
    justify-content: flex-end;
  }

  &--flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 24px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: colors.$blue-black;
  }

  &--event-name {
    flex: 1 1 auto;
    min-width: 0;
    max-width: 75%;
  }

  &--checkbox-col {
    margin-left: 6px;
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-start;

    .email-notifications--checkbox-label {
      font-weight: 500;
      white-space: nowrap;
    }
  }

  &--checkbox-col-mobile {
    justify-content: flex-end;
  }
}

.table-header {
  border-top: 1px solid colors.$border-grey-secondary;
  border-right: 1px solid colors.$border-grey-secondary;
  border-bottom: 1px solid colors.$border-grey-secondary;
  background: colors.$navy-50;
  display: flex;
  padding: 1px 24px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  font-weight: 500;
}

.email-notifications--select-all-row {
  display: flex;
  height: 40px;
  padding: 4px 24px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1px;
  align-self: stretch;
}

ion-title {
  font-size: 16px;
  margin-left: 28px;
}

.long-title {
  margin-left: 24px;
}
