@import '../../../../../theme/colors.scss';

.critical-policy-violation-message {
  &--container {
    padding: 16px;
    border-radius: 3px;
    background: $snow-white;
    border: 1px solid $pale-pink;
    margin-bottom: 12px;
    overflow-wrap: anywhere;
  }
}
