<div class="pull-back">
  <div class="pull-back--header">
    <div class="pull-back--title">Pull Back Advance?</div>
    <div class="pull-back--cancel" (click)="cancel()">Cancel</div>
  </div>

  <div class="pull-back--details">
    Pulling back your advance request will allow you to edit and re-submit the request.
  </div>
  <div class="pull-back--form">
    <mat-form-field appearance="outline" class="pull-back--form-input mat-form-field-no-padding">
      <textarea rows="3" matInput placeholder="Enter reason" [(ngModel)]="reason"></textarea>
    </mat-form-field>
  </div>
  <div class="pull-back--primary-cta">
    <button [disabled]="reason.trim().length === 0" mat-flat-button color="primary" (click)="pullBackAdvanceRequest()">
      PULL BACK
    </button>
  </div>
</div>
