.alert {
  padding: 8px 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  border-radius: 4px;
  color: #5a5d72;
  border: 1px solid;
  display: flex;
  &__warning {
    background-color: #fdd13a08;
    border-color: #fdd13a1f;
  }

  &__info {
    background-color: rgba(0, 98, 255, 0.02);
    border-color: rgba(0, 98, 255, 0.039);
  }

  &--icon {
    margin-right: 12px;
    font-size: 18px;

    &__warning {
      color: #e1af05;
    }

    &__info {
      color: #5c98e5;
    }
  }
}
