<ion-header mode="md">
  <ion-toolbar class="notifications--toolbar">
    <ion-buttons mode="md" slot="start">
      <ion-button (click)="goBack()">
        <mat-icon>keyboard_backspace</mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="notifications--title" mode="md">Email notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="notifications--container">
    <div class="notifications--notif-setting-header">Set notifications you want to receive</div>

    <form [formGroup]="notificationForm">
      @if (isDelegateePresent$|async) {
      <h2>Delegatee notification</h2>
      <mat-form-field>
        <mat-select formControlName="notifyOption" (selectionChange)="updateDelegateeNotifyPreference($event)">
          @for (option of delegationOptions; track option) {
          <mat-option [value]="option"> {{option}} </mat-option>
          }
        </mat-select>
      </mat-form-field>
      }

      <div>
        @if (notificationEvents$|async ; as notificationEvents) {
        <div>
          @for (feature of notificationEvents['features']|keyvalue; track feature; let i = $index; let $first = $first)
          {
          <div>
            <ion-grid fixed>
              <ion-row>
                <ion-col>
                  <div><strong>{{ feature.value.textLabel }}</strong></div>
                </ion-col>
                @if ($first) {
                <ion-col size="2">
                  <mat-checkbox
                    [checked]="isAllSelected.emailEvents"
                    (change)="toggleAllSelected('email')"
                  ></mat-checkbox>
                </ion-col>
                }
              </ion-row>
            </ion-grid>
            @for (event of notifEvents; track event; let i = $index; let odd = $odd) {
            <div>
              @if (event.feature === feature.key) {
              <ion-grid fixed>
                <ion-row [ngClass]="{'notifications--odd': odd}" class="notifications--features-list-row">
                  <ion-col>
                    <div class="notifications--event-label">{{ event.textLabel }}</div>
                  </ion-col>
                  <ion-col size="2">
                    <div formArrayName="emailEvents">
                      <mat-checkbox formControlName="{{i}}"></mat-checkbox>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
              }
            </div>
            }
          </div>
          }
        </div>
        }
      </div>
    </form>
  </div>
</ion-content>
<ng-container>
  <ion-footer>
    <ion-toolbar class="fy-footer-cta-container" mode="md">
      <ion-button
        class="fy-footer-cta fy-footer-cta--primary"
        appFormButtonValidation
        [loading]="saveNotifLoading"
        [loadingText]="'SAVING'"
        (click)="saveNotificationSettings()"
      >
        Save
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ng-container>
