<ion-header mode="md">
  <ion-toolbar class="notifications--toolbar">
    <ion-buttons mode="md" slot="start">
      <ion-button (click)="goBack()">
        <mat-icon>keyboard_backspace</mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="notifications--title" mode="md">Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="notifications--container">
    <div class="notifications--notif-setting-header">Set notifications you want to receive</div>

    <form [formGroup]="notificationForm">
      <ng-container *ngIf="isDelegateePresent$|async">
        <h2>Delegatee Notification</h2>
        <mat-form-field>
          <mat-select formControlName="notifyOption" (selectionChange)="updateDelegateeNotifyPreference()">
            <mat-option *ngFor="let option of delegationOptions" [value]="option"> {{option}} </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <div>
        <div *ngIf="notificationEvents$|async  as notificationEvents">
          <div *ngFor="let feature of notificationEvents['features']|keyvalue; index as i;first as $first;">
            <ion-grid fixed>
              <ion-row>
                <ion-col>
                  <div><strong>{{ feature.value.textLabel }}</strong></div>
                </ion-col>
                <ion-col size="2" *ngIf="$first && (orgUserSettings$|async)?.notification_settings?.push.enabled">
                  <mat-checkbox
                    [checked]="isAllSelected.pushEvents"
                    (change)="toggleAllSelected('push')"
                  ></mat-checkbox>
                  <mat-icon svgIcon="fy-iphone" class="notifications--notif-type-icon"></mat-icon>
                </ion-col>
                <ion-col size="2" *ngIf="$first">
                  <mat-checkbox
                    [checked]="isAllSelected.emailEvents"
                    (change)="toggleAllSelected('email')"
                  ></mat-checkbox>
                  <mat-icon svgIcon="fy-email" class="notifications--notif-type-icon"></mat-icon>
                </ion-col>
              </ion-row>
            </ion-grid>

            <div *ngFor="let event of notifEvents; index as i;let odd=odd;">
              <ion-grid fixed *ngIf="event.feature === feature.key">
                <ion-row [ngClass]="{'notifications--odd': odd}" class="notifications--features-list-row">
                  <ion-col>
                    <div class="notifications--event-label">{{ event.textLabel }}</div>
                  </ion-col>
                  <ion-col size="2" *ngIf="(orgUserSettings$|async)?.notification_settings?.push.enabled">
                    <div formArrayName="pushEvents">
                      <mat-checkbox formControlName="{{i}}"></mat-checkbox>
                    </div>
                  </ion-col>
                  <ion-col size="2">
                    <div formArrayName="emailEvents">
                      <mat-checkbox formControlName="{{i}}"></mat-checkbox>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ion-content>
<ng-container>
  <ion-footer>
    <ion-toolbar class="fy-footer-cta-container" mode="md">
      <ion-button
        class="fy-footer-cta fy-footer-cta--primary"
        appFormButtonValidation
        [loading]="saveNotifLoading"
        [loadingText]="'SAVING'"
        (click)="saveNotificationSettings()"
      >
        Save
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ng-container>
