<ion-header mode="md">
  <mat-icon class="fy-modal-top-bar" svgIcon="notch"></mat-icon>
  <ion-toolbar mode="md" class="fy-modal-toolbar">
    <ion-title>
      <div class="selection-modal--title">
        {{ selectModalHeader }}
      </div>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onDoneClick()">
        <mat-icon class="fy-icon-close" svgIcon="cross"></mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  @if (enableSearch) {
    <ion-toolbar class="text-center">
      <mat-form-field appearance="outline" class="selection-modal--form-field mat-form-field-no-padding">
        <mat-icon class="selection-modal--search-icon" matPrefix svgIcon="search"></mat-icon>
        <input
          #searchBar
          [(ngModel)]="value"
          class="selection-modal--search-input smartlook-show"
          id="election-modal--search-input"
          matInput
          [placeholder]="placeholder || ('fySelectModal.search' | transloco)"
        />
        @if (value) {
          <button
            (click)="clearValue()"
            [attr.aria-label]="'fySelectModal.clear' | transloco"
            mat-icon-button
            matSuffix
          >
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
    </ion-toolbar>
  }
</ion-header>

<ion-content>
  <div class="selection-modal--container">
    @if (filteredOptions$ | async; as filteredOptions) {
      @if (filteredOptions.length === 0) {
        <div>
          <app-fy-zero-state
            [header]="'fySelectModal.noResultsHeader' | transloco: { label: label }"
            [submessage]="'fySelectModal.noResultsSubmessage' | transloco: { label: label }"
            [image]="'../../../../assets/images/zero-states/search.png'"
            [unscaledImage]="true"
            [useNewStyling]="true"
          ></app-fy-zero-state>
        </div>
      }
    }

    @if (customInput && (filteredOptions$ | async)?.length > 0) {
      <div class="selection-modal--single-element-block">
        @for (filteredListItem of filteredOptions$ | async; track filteredListItem) {
          @if (!filteredListItem.value && filteredListItem?.label?.length > 0) {
            <div (click)="onElementSelect(filteredListItem)" class="selection-modal--list-element" matRipple>
              <ng-template #defaultSelectionElementFiltered let-label="label" let-selected="selected">
                <div class="selection-modal--label">
                  <app-fy-highlight-text [fullText]="label" [queryText]="value"> </app-fy-highlight-text>
                </div>
                @if (selected) {
                  <mat-icon class="selection-modal--check"> check </mat-icon>
                }
              </ng-template>
              <ng-container
                *ngTemplateOutlet="
                  selectionElement ? selectionElement : defaultSelectionElementFiltered;
                  context: filteredListItem
                "
              >
              </ng-container>
            </div>
          }
        }
      </div>
    }

    @if (cacheName && (recentrecentlyUsedItems$ | async)?.length > 0) {
      <div class="selection-modal--recently-used-block">
        @for (recentrecentlyUsedItem of recentrecentlyUsedItems$ | async; track recentrecentlyUsedItem) {
          <div (click)="onElementSelect(recentrecentlyUsedItem)" class="selection-modal--list-element" matRipple>
            <ng-template #defaultSelectionElementRecentlyUsed let-label="label" let-selected="selected">
              <div class="selection-modal--recently-used-item-content">
                <mat-icon class="selection-modal--recently-used-icon" svgIcon="clock"></mat-icon>
                <span class="selection-modal--label">
                  <app-fy-highlight-text [fullText]="label" [queryText]="value"> </app-fy-highlight-text>
                </span>
              </div>
              @if (selected) {
                <mat-icon class="selection-modal--check"> check </mat-icon>
              }
            </ng-template>
            <ng-container
              *ngTemplateOutlet="
                selectionElement ? selectionElement : defaultSelectionElementRecentlyUsed;
                context: recentrecentlyUsedItem
              "
            >
            </ng-container>
          </div>
        }
      </div>
    }

    @if ((filteredOptions$ | async)?.length > 0 && !customInput) {
      <div>
        @for (filteredListItem of filteredOptions$ | async; track filteredListItem) {
          @if (filteredListItem?.label?.length > 0) {
            <div (click)="onElementSelect(filteredListItem)" class="selection-modal--list-element" matRipple>
              <ng-template #defaultSelectionElement let-label="label" let-selected="selected">
                <div class="selection-modal--label">
                  <app-fy-highlight-text [fullText]="label" [queryText]="value"> </app-fy-highlight-text>
                </div>
                @if (selected) {
                  <mat-icon class="selection-modal--check"> check </mat-icon>
                }
              </ng-template>
              <ng-container
                *ngTemplateOutlet="
                  selectionElement ? selectionElement : defaultSelectionElement;
                  context: filteredListItem
                "
              >
              </ng-container>
            </div>
          }
        }
      </div>
    }
  </div>
</ion-content>

@if (showSaveButton) {
  <ion-footer>
    <ion-toolbar>
      <div class="selection-modal--cta-container">
        <ion-button
          (click)="saveToCacheAndUse()"
          class="selection-modal--primary-cta"
          shape="round"
          color="fyle-primary"
          fill="solid"
        >
          {{ 'fySelectModal.save' | transloco }}
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-footer>
}
