$header-border: #ddd;
$header-input: #f8f8f8;
$sub-title: #ababab;
$list-element-color: #333;

.selection-modal {
  color: black;
  &--list-element {
    padding: 14px;
    border-bottom: 1px solid $header-border;
    font-size: 16px;
    color: $list-element-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--title {
    padding: 24px 0;
    font-size: 24px;
    font-weight: 600;
    height: 100%;
    line-height: 1.3;
  }

  &--header {
    margin: 0;
    padding: 10px 15px;
    font-size: 14px;
    border-bottom: 1px solid $header-border;
    color: $sub-title;
  }

  &--search-input {
    padding: 0 12px;
    font-size: 16px;
  }

  &--form-field {
    font-size: 11px;
    width: 94%;
    padding: 4px;
    .mat-form-field-wrapper {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px !important;
    }
  }

  &--search-icon {
    font-size: 14px;
  }

  &--form-field-container {
    text-align: center;
  }

  &--container {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
  }

  &--recently-used-block {
    margin-bottom: 20px;
  }

  &--single-element-block {
    margin-bottom: 20px;
  }

  &--sub-title {
    color: #ababab;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 14px;
    border-bottom: 1px solid #ddd;
  }

  &--cta-container {
    margin: 12px;
  }

  &--primary-cta {
    width: 100%;
    height: 48px;
    --border-radius: 4px !important;
  }
}
