$sign-up-header: #220033;
$form-header: #000;
$form-subheader: #4a4a4a;
$password-icon: #b9beba;
$secondary-cta-border: #e0e0e0;
$flash-yellow: #fde081;
$error: #f00;
$offline-title: #4a4a4a;
$offline-sub-title: #ababab;

.sign-up {
  &--header {
    min-height: 50vh;
  }

  &--header-container {
    min-height: 50vh;
    background-color: $sign-up-header;
    color: white;
  }

  &--form-field-error {
    color: $error;
  }

  &--header-element {
    font-size: 32px;
    font-weight: 700;
    padding: 8px;
  }

  &--flash {
    color: $flash-yellow;
    padding: 0 8px;
    position: relative;
    top: 4px;
  }

  &--header-logo {
    max-width: 100px;
  }

  &--form {
    padding: 24px;
  }

  &--form-field {
    font-size: 16px;
    width: 100%;
  }

  &--form-header {
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 8px;
    color: $form-header;
    font-weight: 700;
  }

  &--form-subheader {
    font-size: 16px;
    color: $form-subheader;
    margin-top: 8px;
    margin-bottom: 24px;
  }

  &--primary-cta {
    margin-top: 12px;
    .mat-button-base {
      width: 100%;
      font-weight: 700;
      min-height: 47px;
    }
  }

  &--password-visibility-icon {
    color: $password-icon;
  }

  &--secondary-cta {
    .mat-button-base {
      width: 100%;
      font-weight: 700;
      min-height: 47px;
      letter-spacing: 1.6px;
      border: 1px solid $secondary-cta-border;
    }
    margin-top: 24px;
  }

  &--redirect {
    margin: 16px;
    text-align: center;
    font-size: 16px;
    color: #ababab;

    a {
      text-decoration: none;
    }
  }

  &--edit-email {
    text-align: end;
  }

  &--business-email {
    color: $error;
    padding: 4px;
  }
}

.sign-up-offline {
  text-align: center;
  padding: 18px;
  &--image {
    max-width: 125px;
  }
  &--title {
    font-size: 16px;
    display: block;
    margin-bottom: 16px;
    color: $offline-title;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 16px;
  }
  &--sub-title {
    color: $offline-sub-title;
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 24px;
    padding: 0 8px;
  }
}
