<ion-content>
  <ion-grid class="sign-up--header-container">
    <ion-row class="sign-up--header ion-align-items-center">
      <ion-col class="sign-up--header-sub-container">
        <div class="sign-up--header-element">
          Spend. Fyle it.
        </div>
        <div class="sign-up--header-element">
          Get Paid, Faster<ion-icon class="sign-up--flash" name="flash"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="sign-up--form" *ngIf="isConnected$|async">
    <div class="sign-up--form-header">
      Get Started
    </div>
    <div class="sign-up--form-subheader">
      We just need your work email address.
    </div>
    <mat-form-field class="sign-up--form-field mat-form-field-no-padding" appearance="outline" *ngIf="!emailSet">
      <input pattern="\S+@\S+\.\S{2,}" [(ngModel)]="userEmail" (keyup)="onEmailChange($event)" type="email" matInput placeholder="Work Email" required #emailInput="ngModel">
    </mat-form-field>
    <div class="sign-up--form-field-error" *ngIf="emailInputElement?.control?.touched && !emailInputElement?.control?.valid && !emailInputElement?.control?.value">
      Please enter an email
    </div>
    <div class="sign-up--form-field-error" *ngIf="emailInputElement?.control?.touched && !emailInputElement?.control?.valid && emailInputElement?.control?.value">
      Please enter a valid email
    </div>
    <div class="ion-text-center sign-up--business-email" *ngIf="isFreeDomainEmail">
      Please use your business email to signup
    </div>
    <div class="sign-up--primary-cta">
      <button [disabled]="isFreeDomainEmail" mat-flat-button color="primary" (click)="signUpUser()"
        appFormButtonValidation [loadingText]="'SIGNING UP'" [loading]="signupLoader">
        SIGN UP
      </button>
    </div>
    <div class="sign-up--redirect">
      Already on Fyle?
      <a id="sign-up--redirect-sign-in" [routerLink]="['/', 'auth', 'sign_in']">Sign In</a>
    </div>
  </div>
  <div class="sign-up-offline" *ngIf="!(isConnected$|async)">
    <img class="sign-up-offline--image" alt="offline-zer-state" src="../../../assets/images/zero-states/offline.svg">
    <div class="sign-up-offline--title">
      Looks like you are offline
    </div>
    <div class="sign-up-offline--sub-title">
      You need to be connected to Internet to be able to login to the app. Please check if your Internet
      connection is working.
    </div>
  </div>
</ion-content>
