@use '../../../../../assets/styles/fy_select';
@use '../../../../../theme/colors.scss';

.selection-modal {
  color: black;
  &--list-element {
    padding: 18px 0;
    margin: 0 16px;
    // border-color-font
    @extend %fy-select-list-element-default-border-color-font;
    display: flex;
    align-items: flex-start;
    &__current-location {
      align-items: center;
    }

    &__default {
      border-top: 1px solid #ddd;
    }
  }

  &--current-location-getter,
  &--error-lookup {
    margin: 16px;
  }

  &--simple-search {
    width: 100%;
    font-size: 14px;
    padding-right: 12px;
    margin: 12px 0;

    &-icon {
      font-size: 18px;
      margin-right: 8px;
      color: colors.$black-light;
    }

    &-close {
      margin: -12px;
      font-size: 18px;
      height: auto;
    }
  }

  &--simple-search-input {
    margin-right: 12px;
  }

  &--list-element-icon {
    min-width: 24px;
    margin-right: 12px;
    color: colors.$black;
  }

  &--title {
    @extend %fy-select-title;
  }

  &--header {
    @extend %fy-select-header;
  }

  &--search-input {
    @extend %fy-select-search-input;
  }

  &--form-field {
    @extend %fy-select-mat-form-field;
    .mat-form-field-wrapper {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px !important;
    }
  }

  &--location-main-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: colors.$black;
    white-space: nowrap;
    max-width: 288px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &--location-description {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: colors.$grey-light;
  }

  &--search-icon {
    font-size: 14px;
  }

  &--form-field-container {
    text-align: center;
    margin-bottom: 0;
    border-bottom: 1px solid colors.$border-grey;
    margin-top: calc(env(safe-area-inset-top));
    mat-form-field {
      ::ng-deep .mat-form-field-outline {
        color: colors.$black-light !important;
      }
    }
  }

  &--spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &--primary-cta {
    height: 48px;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    --border-radius: 32px;
    width: 100%;
    margin: 12px;
  }

  &--autocomplete-loader {
    @extend %autocomplete-loader;
    margin-top: 2px;
  }

  &--cta-button {
    color: colors.$brand-primary;
  }

  &--back-btn {
    --color: #{colors.$black};
  }
}
