@import '../../../../../assets/styles/fy_select';

.selection-modal {
  color: black;
  &--list-element {
    padding: 18px 0;
    margin: 0 16px;
    // border-color-font
    @extend %fy-select-list-element-default-border-color-font;
    display: flex;
    align-items: center;
    &__default {
      border-top: 1px solid #ddd;
    }
  }

  &--error-lookup {
    color: #4a4a4a;
    font-size: 16px;
    line-height: 1.5;
    padding: 16px;
    border-bottom: 1px solid #ddd;
  }

  &--list-element-icon {
    margin-right: 12px;
  }

  &--title {
    @extend %fy-select-title;
  }

  &--header {
    @extend %fy-select-header;
  }

  &--search-input {
    @extend %fy-select-search-input;
  }

  &--form-field {
    @extend %fy-select-mat-form-field;
    .mat-form-field-wrapper {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px !important;
    }
  }

  &--search-icon {
    font-size: 14px;
  }

  &--form-field-container {
    text-align: center;
  }

  &--spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &--primary-cta {
    height: 48px;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    --border-radius: 8px;
    width: 100%;
    margin: 12px;
  }

  &--autocomplete-loader {
    @extend %autocomplete-loader;
  }
}
