<ion-header mode="md">
  <mat-icon class="fy-modal-top-bar" svgIcon="fy-rectangle"></mat-icon>
  <ion-toolbar mode="md" class="fy-modal-toolbar">
    <ion-title>
      <div class="selection-modal--title">
        Select Location
      </div>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onDoneClick()">
        <mat-icon class="fy-icon-close" svgIcon="fy-close"></mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="selection-modal--form-field-container">
    <mat-form-field class="selection-modal--form-field mat-form-field-no-padding" appearance="none">
      <input #searchBar id="selection-modal--search-input" class="selection-modal--search-input" matInput placeholder="Search" [(ngModel)]="value">
      <mat-icon *ngIf="loader" class="selection-modal--autocomplete-loader" svgIcon="fy-spinner-circle" matSuffix></mat-icon>
      <button mat-button *ngIf="!loader && value" matSuffix mat-icon-button aria-label="Clear" (click)="clearValue()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="header" class="selection-modal--header">
    {{header | lowercase}}
  </div>
  <div class="selection-modal--error-lookup" *ngIf="lookupFailed">
    Couldn't get current location. Please enter manually.
  </div>
  <div matRipple class="selection-modal--list-element selection-modal--list-element__default" (click)="getCurrentLocation()">
    <mat-icon class="selection-modal--list-element-icon">
      my_location
    </mat-icon>
    <div>
      Select Current Location
    </div>
  </div>
  <ng-container *ngIf="loader">
    <div class="selection-modal--spinner">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-container>
  <div matRipple class="selection-modal--list-element" *ngFor="let filteredListItem of filteredList$ | async as list"
    (click)="onElementSelect(filteredListItem)">
    <mat-icon class="selection-modal--list-element-icon">
      place
    </mat-icon>
    <div>
      <app-fy-highlight-text
        [fullText]="filteredListItem.description"
        [queryText]="value">
      </app-fy-highlight-text>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar mode="md">
    <ion-buttons>
      <ion-button (click)="deleteLocation()" class="selection-modal--primary-cta" fill="solid" color="fyle-primary">
        Remove Selected Location
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
