<ion-header mode="md">
  <ion-toolbar class="selection-modal--form-field-container fy-modal-toolbar">
    <ion-buttons mode="md" slot="start">
      <ion-button mode="md" (click)="close()">
        <ion-icon [src]="'../../../../../assets/svg/arrow-left.svg'" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <mat-form-field
      appearance="outline"
      class="mat-form-field-no-padding selection-modal--simple-search selection-modal--simple-search-container"
      >
      <input
        #searchBar
        [(ngModel)]="value"
        class="selection-modal--simple-search-input smartlook-show"
        matInput
        [placeholder]="'fyLocationModal.search' | transloco"
        />
      @if (loader) {
        <mat-icon class="selection-modal--autocomplete-loader" svgIcon="loader" matSuffix> </mat-icon>
      }
      @if (!loader && value) {
        <button
          (click)="clearValue()"
          [attr.aria-label]="'fyLocationModal.clear' | transloco"
          class="selection-modal--simple-search-close"
          mat-icon-button
          matSuffix
          >
          <mat-icon class="selection-modal--simple-search-icon" svgIcon="clear"></mat-icon>
        </button>
      }
    </mat-form-field>
    @if (!disableEnteringManualLocation) {
      <ion-buttons mode="md" slot="end">
        <ion-button
          color="fy-primary"
          class="text-capitalize selection-modal--cta-button"
          mode="md"
          (click)="onDoneClick()"
          >
          {{ 'fyLocationModal.save' | transloco }}
        </ion-button>
      </ion-buttons>
    }
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (header) {
    <div class="selection-modal--header">
      {{ header | lowercase }}
    </div>
  }
  @if (!isDeviceLocationEnabled) {
    <div class="selection-modal--current-location-getter">
      <app-fy-alert-info
        [message]="'fyLocationModal.enableLocationFromSettings' | transloco"
        [type]="'information'"
        [showActionButton]="true"
        (actionClick)="askForEnableLocationSettings()"
        [actionButtonContent]="'fyLocationModal.enable' | transloco"
        >
      </app-fy-alert-info>
    </div>
  }
  @if (lookupFailed) {
    <div class="selection-modal--error-lookup">
      <app-fy-alert-info [message]="'fyLocationModal.locationError' | transloco" [type]="'warning'"></app-fy-alert-info>
    </div>
  }
  @if (loader) {
    <div class="selection-modal--spinner">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  }
  <div
    matRipple
    class="selection-modal--list-element"
    *ngFor="let filteredListItem of recentItemsFilteredList$ | async as list"
    (click)="onRecentItemSelect(filteredListItem.display)"
    >
    <mat-icon class="selection-modal--list-element-icon" svgIcon="clock"> </mat-icon>
    <div>
      <div class="selection-modal--location-main-text">
        {{ filteredListItem.display }}
      </div>
      <div class="selection-modal--location-description">
        {{ filteredListItem.display }}
      </div>
    </div>
  </div>
  <div
    matRipple
    class="selection-modal--list-element"
    *ngFor="let filteredListItem of filteredList$ | async as list"
    (click)="onElementSelect(filteredListItem)"
    >
    <mat-icon class="selection-modal--list-element-icon" svgIcon="location"> </mat-icon>
    <div>
      @if (filteredListItem.structured_formatting?.main_text) {
        <div class="selection-modal--location-main-text">
          {{ filteredListItem.structured_formatting?.main_text || filteredListItem.description }}
        </div>
      }
      <div class="selection-modal--location-description">
        {{ filteredListItem.description }}
      </div>
    </div>
  </div>
  @if (!loader && isDeviceLocationEnabled) {
    <div
      matRipple
      class="selection-modal--list-element selection-modal--list-element__current-location"
      (click)="getCurrentLocation()"
      >
      <mat-icon class="selection-modal--list-element-icon" svgIcon="location"> </mat-icon>
      <div class="selection-modal--location-main-text">{{ 'fyLocationModal.useCurrentLocation' | transloco }}</div>
    </div>
  }
</ion-content>
