@use '../../../../../theme/colors.scss';

.audit-history {
  padding: 0 22px 12px 30px;

  &--block {
    padding-bottom: 20px;
    border-left: 2px dashed colors.$border-grey-secondary;
    color: colors.$gray-25;

    &:last-child {
      border-left: 0;
      margin: -6px 0 0 2px;
    }

    &:only-child {
      margin-top: 0;
    }
  }

  &--icon {
    height: 38px;
    width: 36px;
    margin: 0 16px 0 -18px;
    padding: 10px;
    background-color: colors.$pure-white;
    color: colors.$black;
    border: 1px solid colors.$border-grey-secondary;
    border-radius: 50%;
  }

  &--timestamp {
    margin: -20px 0 16px 30px;
    color: colors.$sage-text-tertiary;
    font-size: 12px;
  }

  &--comment-block {
    margin-left: 30px;
    line-height: 18px;
  }

  &--category {
    font-weight: 500;
    margin-left: -6px;
    vertical-align: top;
  }

  &--details {
    margin-top: 14px;
  }

  &--diff-list {
    padding-left: 14px;
    margin: 0;
  }

  &--diff {
    margin-left: 12px;
  }

  &--error {
    color: colors.$negative-400;
  }

  &--neutral {
    color: colors.$gray-25;
  }
}
