@import '../../../../../theme/colors.scss';

.audit-history {
  padding: 0 22px 12px 30px;

  &--block {
    padding-bottom: 24px;
    border-left: 2px solid $lighter-grey;

    &:last-child {
      border-left: 0;
      margin: -6px 0 0 2px;
    }

    &:only-child {
      margin-top: 0;
    }
  }

  &--icon {
    height: 20px;
    width: 20px;
    margin: 0 16px 0 -12px;
    background-color: $pure-white;
    color: $black;
  }

  &--circle {
    height: 10px;
    width: 10px;
    margin: 0 20px 0 -6px;
    background-color: transparent;
    color: $pure-white;
  }

  &--timestamp {
    margin: 0 0 8px 20px;
    color: rgba(44, 48, 78, 0.7);
  }

  &--comment-block {
    margin-left: 20px;
    line-height: 18px;
  }

  &--category {
    font-weight: 500;
    margin-left: -4px;
    vertical-align: top;
  }

  &--details {
    margin-top: 14px;
  }

  &--diff-list {
    padding-left: 14px;
    margin: 0;
  }

  &--diff {
    margin-left: 12px;
  }
}
