<div class="audit-history">
  <div>
    <div *ngFor="let estatus of estatuses" class="audit-history--block">
      <div>
        <mat-icon
          class="audit-history--icon"
          [svgIcon]="estatus.st.icon"
          *ngIf="!estatus.us_full_name"
          [ngClass]="{
            'audit-history--circle': estatus.st.icon === 'circle',
            'icon--alert-warning': estatus.st.icon === 'danger',
            'icon--flagged': estatus.st.category === 'Flagged',
            'icon--unflagged': estatus.st.category === 'Unflagged'
          }"
        ></mat-icon>
        <span class="text-capitalize audit-history--category">{{ estatus.st.category }}</span>
        <div class="audit-history--timestamp">
          <span>{{ estatus.st_created_at | date: 'MMM d, yyyy h:mm a' }}</span>
        </div>
      </div>

      <div id="{{ estatus.st_id }}" class="audit-history--comment-block">
        <span *ngIf="estatus.st.category !== 'Expense Issues'" class="comment-text">{{ estatus.st_comment }}</span>
        <div class="audit-history--details" *ngIf="estatus.has_details">
          <span
            *ngIf="
              estatus.st.category !== 'Expense Issues' &&
              estatus.st.category !== 'Failed to run policies' &&
              estatus.st.category !== 'Card Transaction Matched' &&
              estatus.st.category !== 'Expense automatically merged' &&
              estatus.st.category !== 'Expense merged by user'
            "
            >Details:
          </span>
          <span *ngIf="estatus.st.category === 'Card Transaction Matched'">Card Transaction Details: </span>
          <span
            *ngIf="
              estatus.st.category === 'Expense automatically merged' || estatus.st.category === 'Expense merged by user'
            "
            >Details of the merged expense:
          </span>
          <ul class="audit-history--diff-list">
            <div *ngFor="let item of estatus.st_diff | keyvalue" class="audit-history--diff">
              <app-statuses-diff [key]="item.key" [value]="item.value"></app-statuses-diff>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
