@import '../../../theme/colors';

.potential-duplicates {
  &--body {
    background: $white;
    height: 100%;
  }

  &--navigation {
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;

    &-button {
      color: $brand-primary;
      font-size: 16px;
      padding: 10px;
      width: 20%;
      text-align: center;
      font-weight: 500;
    }

    &-count {
      color: $pure-black;
      padding: 10px;
      font-size: 16px;
      font-weight: 500;
    }
  }

  &--container {
    height: 88%;
    width: 93%;
    margin: 10px auto 20px auto;
    background: $off-white;
    border: 1px solid $grey;
    box-sizing: border-box;
    border-radius: 15px;
    align-content: center;
    border-radius: 20px;
  }

  &--header {
    font-size: 18px;
    line-height: 23px;
    color: $pure-black;
    text-align: center;
    padding: 10px;
  }

  &--divider {
    height: 1px;
    background-color: $grey;
  }

  &--footer {
    display: flex;
    justify-content: space-around;
  }

  &--footer-container {
    &::before {
      content: none;
    }
  }

  &--footer-toolbar {
    padding: 14px 16px;
  }

  &--primary-cta,
  &--secondary-cta {
    height: 48px;
    font-size: 14px;
    text-transform: inherit;
    font-weight: 600;
    border-radius: 8px;
    width: 100%;
    margin: 12px 0;
    --border-radius: 4px !important;

    &:first-child {
      margin-right: 4px;
    }

    &:last-child {
      margin-left: 4px;
    }
  }

  &--secondary-cta {
    margin: 0;
    border-radius: 0;
    &__border {
      border-right: 1px solid $grey;
    }
  }

  &--secondary-cta-text {
    min-width: 80px;
  }

  &--secondary-cta-icon {
    &__left {
      margin-right: 18px;
    }

    &__right {
      margin-left: 18px;
    }
  }
}
