@import '../../../theme/colors.scss';

$reported-color: #4798ff;
$approved-color: #67bc53;
$paid-color: #64b5a6;
$fyled-color: #f90;
$sent-back-color: #da1e28;

.view-reports {
  &--toolbar {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  &--btn-container {
    &__btn {
      color: $black-light;
    }
  }

  &--container {
    --background: #{$white};
  }

  &--body {
    margin: 16px;
  }

  &--card {
    background: url('../../../assets/images/card.png') no-repeat bottom;
    background-size: 100% 100%;
    margin: 12px 0;
    padding: 16px;
    border-radius: 16px;
    height: 140px;
    position: relative;
  }

  &--zero-state-header {
    font-size: 16px;
    margin-bottom: 16px;
    color: #4a4a4a;
    line-height: 1.5;
    font-weight: 500;
    margin-top: 8px;
  }

  &--zero-state-sub-header {
    color: #ababab;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 24px;
    padding: 0 8px;
  }

  &--card-header {
    display: flex;
    font-size: 16px;
    color: #4a4a4a;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 8px;
    margin-bottom: 8px;

    &__icon {
      padding-left: 6px;
    }
  }

  &--card-body {
    font-size: 16px;
    color: #ababab;
    font-weight: 300;
    margin-bottom: 16px;
    line-height: 1;
    &__highlight {
      color: #67bc53;
    }
  }

  &--approval-state {
    &__reported {
      color: $reported-color;
    }
    &__fyled {
      color: $fyled-color;
    }
    &_sent_back {
      color: $sent-back-color;
    }
    &__approved {
      color: $approved-color;
    }
    &__paid {
      color: $paid-color;
    }
  }

  &--report-state-pill {
    margin-top: 2px;
    color: $pure-white;
    padding: 1px 16px;
    border-radius: 16px;
    font-size: 12px;
    float: right;

    &__fyled {
      background-color: #f90;
    }

    &__draft {
      background-color: #464d57;
    }

    &__reported {
      background-color: #2196f3;
    }

    &__sent_back {
      background-color: #da1e28;
    }

    &__approved {
      background-color: #66bb6a;
    }

    &__payment_pending {
      background-color: #66bb6a;
    }

    &__payment_processing {
      background-color: #47a447;
    }

    &__paid {
      background-color: #3d8b3d;
    }
  }

  &--count {
    font-size: 16px;
    color: #ababab;
    font-weight: 300;
    line-height: 1;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  &--view-hide-btn {
    font-size: 16px;
    color: #0077ee;
    margin: 16px 0 0;
  }

  &--primary-cta {
    margin: 12px;
    height: 48px;
  }

  &--edit {
    color: #0077ee;
    font-size: 16px;
    font-weight: normal;
  }

  &--purpose-amount-block {
    display: flex;
    justify-content: space-between;
    color: $pure-white;

    &__purpose {
      font-size: 14px;
      line-height: 18px;
      font-weight: 500;
      max-width: 60%;
    }

    &__amount {
      font-size: 20px;
      font-weight: 500;
    }
  }

  &--date-info-block {
    top: 20%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 88%;
  }

  &--submitted-date {
    font-weight: 500;
    padding: 0 16px;

    &__text {
      color: $light-grey;
    }

    &__date {
      color: $pure-white;
    }
  }

  &--segment-block-container {
    --border-width: 0 !important;
    margin-top: 20px;

    &__segment.ios {
      margin: 12px auto;
    }

    &__segment.md {
      padding: 0 16px 8px;
    }

    &__btn {
      color: $blue-black;
      font-size: 14px;
      font-weight: 500;
      width: 100%;
    }
  }

  &--view-info {
    display: flex;
    float: right;
    padding: 1px 4px;
    font-size: 12px;
    font-weight: 400;
    color: $light-grey;

    &__icon {
      height: 18px;
      width: 18px;
      padding: 1px;
      vertical-align: middle;
    }

    &__content {
      padding-left: 2px;
    }
  }

  &--approvers-section {
    background-color: $pure-white;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(22, 21, 40, 0.08);
    margin-top: -10%;
    font-size: 12px;
    font-weight: 500;
  }

  &--approvers {
    color: $black-light;
    padding: 18px 12px 0;
  }

  &--approvers-list {
    display: flex;
    justify-content: space-between;
    padding: 6px 12px;
  }

  &--approver-state-section {
    display: flex;
    align-items: center;
  }

  &--approver-state-pill {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin-right: 4px;

    &__approval_pending {
      background-color: #f90;
    }

    &__approval_done {
      background-color: #66bb6a;
    }

    &__approval_disabled {
      background-color: #ababab;
    }
  }
}
