.view-attachments {
  &--container {
    height: 80vh;
    width: 90vw;
    margin: 16px;
    border: 1px solid;
    background-color: white !important;
    border-radius: 4px;
    z-index: 12;
  }

  &--controls {
    position: relative;
    z-index: 99;
  }

  &--go-back {
    position: absolute;
    top: 34vh;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    padding: 12px;
    height: 40px;
    width: 40px;
    color: white;
  }

  &--go-forward {
    position: absolute;
    top: 34vh;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    padding: 12px;
    height: 40px;
    width: 40px;
    color: white;
  }

  &--cta-container {
    margin: 12px;
  }

  &--delete {
    height: 48px;
    --border-radius: 4px !important;
    width: 100%;
    margin: 0;
  }

  &--pdf-controls {
    position: fixed;
    bottom: 5%;
    right: 10%;
    z-index: 10;
  }

  &--seconady-action-icons {
    display: block;
    margin-bottom: 16px;
    text-align: center;
    font-size: 32px;
    color: #4a4a4a;
  }

}
