@import '../../../../theme/colors.scss';

.view-attachments {
  &--toolbar {
    border-bottom: 1px solid $grey-lighter;
    margin-top: 16px;
    padding-bottom: 16px;
  }

  &--title-container {
    padding-right: 64px;
  }

  &--title {
    font-size: 20px;
    line-height: 1.3;
    color: $black;
  }

  &--sub-title {
    font-size: 12px;
    color: $black-light;
    line-height: 1.25;
    margin-top: 8px;
  }

  &--ion-buttons {
    margin-bottom: auto;
    min-width: 40px;

    &__delete {
      width: 24px;
      height: 24px;
    }
  }

  &--container {
    height: 80vh;
    width: 90vw;
    margin: 16px 16px 4px;
    background-color: white !important;
    z-index: 12;
  }

  &--controls {
    position: relative;
    z-index: 99;
  }

  &--go-back {
    position: fixed;
    top: 50vh;
    left: 20px;
    padding: 20px 20px 20px 0;
    &__btn {
      background-color: rgba(0, 0, 0, 0.5);
      text-align: center;
      border-radius: 50%;
      font-size: 18px;
      padding: 12px;
      height: 40px;
      width: 40px;
      color: white;
    }
  }

  &--go-forward {
    position: fixed;
    top: 50vh;
    right: 20px;
    padding: 20px 0px 20px 20px;
    &__btn {
      background-color: rgba(0, 0, 0, 0.5);
      text-align: center;
      border-radius: 50%;
      font-size: 18px;
      padding: 12px;
      height: 40px;
      width: 40px;
      color: white;
    }
  }

  &--pdf-controls {
    position: fixed;
    bottom: 5%;
    right: 10%;
    z-index: 10;
  }

  &--seconady-action-icons {
    display: block;
    margin-bottom: 16px;
    text-align: center;
    font-size: 32px;
    color: #4a4a4a;
  }

  &--footer-container {
    height: 12px;
    width: 100%;
  }
}
