<ion-header mode="md">
  <ion-toolbar mode="md" class="view-attachments--toolbar">
    <ion-title [ngClass]="{ 'view-attachments--title-container': !canEdit }">
      <div class="text-center view-attachments--title">Receipt Preview</div>
      <div class="view-attachments--sub-title text-center">{{ activeIndex + 1 }}/{{ attachments.length }}</div>
    </ion-title>
    <ion-buttons class="view-attachments--ion-buttons" slot="start">
      <ion-button (click)="onDoneClick()">
        <mat-icon class="fy-icon-close" svgIcon="fy-close"></mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="canEdit" class="view-attachments--ion-buttons" slot="end">
      <ion-button (click)="deleteAttachment()">
        <mat-icon class="view-attachments--ion-buttons__delete" svgIcon="fy-delete"></mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="view-attachments--controls" *ngIf="attachments.length > 1">
    <div *ngIf="activeIndex !== 0" class="view-attachments--go-back" (click)="goToPrevSlide()">
      <mat-icon class="view-attachments--go-back__btn"> arrow_back_ios </mat-icon>
    </div>
    <div *ngIf="activeIndex !== attachments.length - 1" class="view-attachments--go-forward" (click)="goToNextSlide()">
      <mat-icon class="view-attachments--go-forward__btn"> arrow_forward_ios </mat-icon>
    </div>
  </div>
  <ion-slides
    #slides
    [options]="sliderOptions"
    zoom
    (ionSlidesDidLoad)="getActiveIndex()"
    (ionSlideDidChange)="getActiveIndex()"
  >
    <ng-container *ngFor="let attachment of attachments">
      <ion-slide>
        <div>
          <pinch-zoom *ngIf="attachment?.type !== 'pdf'" class="view-attachments--container">
            <img [src]="attachment?.url" />
          </pinch-zoom>

          <div class="view-attachments--container" *ngIf="attachment?.type === 'pdf'">
            <pdf-viewer [page]="1" [src]="attachment?.url" [render-text]="true" [zoom]="zoomScale"></pdf-viewer>

            <div class="view-attachments--pdf-controls">
              <mat-icon class="view-attachments--seconady-action-icons" (click)="zoomIn()">add_circle</mat-icon>
              <mat-icon class="view-attachments--seconady-action-icons" (click)="zoomOut()">remove_circle</mat-icon>
              <mat-icon class="view-attachments--seconady-action-icons" (click)="resetZoom()">zoom_out_map</mat-icon>
            </div>
          </div>
        </div>
      </ion-slide>
    </ng-container>
  </ion-slides>
</ion-content>

<ion-footer class="view-attachments--footer-container"></ion-footer>
