<ion-header mode="md" >
  <ion-toolbar mode="md">
    <ion-title>
      Receipt Preview
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDoneClick()">
        <mat-icon>close</mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="view-attachments--controls" *ngIf="attachments.length > 1">
    <mat-icon class="view-attachments--go-back" (click)="goToPrevSlide()">
      arrow_back_ios
    </mat-icon>
    <mat-icon class="view-attachments--go-forward" (click)="goToNextSlide()">
      arrow_forward_ios
    </mat-icon>
  </div>
  <ion-slides #slides [options]="sliderOptions" zoom>
    <ng-container *ngFor="let attachment of attachments">
      <ion-slide>
        <div>
          <pinch-zoom *ngIf="attachment?.type !== 'pdf'" class="view-attachments--container">
            <img [src]="attachment?.url" />
          </pinch-zoom>

          <div class="view-attachments--container" *ngIf="attachment?.type === 'pdf'">
            <pdf-viewer [page]="1" [src]="attachment?.url" [render-text]="true" [zoom]="zoomScale"></pdf-viewer>

            <div class="view-attachments--pdf-controls">
              <mat-icon class="view-attachments--seconady-action-icons" (click)="zoomIn()">add_circle</mat-icon>
              <mat-icon class="view-attachments--seconady-action-icons" (click)="zoomOut()">remove_circle</mat-icon>
              <mat-icon class="view-attachments--seconady-action-icons" (click)="resetZoom()">zoom_out_map</mat-icon>
            </div>
          </div>
        </div>
      </ion-slide>
    </ng-container>
  </ion-slides>
</ion-content>

<ion-footer *ngIf="canEdit">
  <ion-toolbar mode="md">
    <div class="view-attachments--cta-container">
      <ion-button class="view-attachments--delete" fill="solid" color="fyle-primary"
      (click)="deleteAttachment()">
        Delete attachment
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
