<!-- <div>
  <span>
    {{uploadedTitle}}
  </span>
  <span>
    We will match the receipts to existing expenses by the end of the day. You can add the unmatched receipts as new expenses later.
  </span>
</div> -->



<div class="gallery-upload-success">
  <div class="gallery-upload-success--header">
    {{uploadedTitle}}
  </div>

  <div class="gallery-upload-success--body">
    <div class="gallery-upload-success--info">
      We will match the receipts to existing expenses by the end of the day. You can add the unmatched receipts as new expenses later.
    </div>
  </div>

  <div class="gallery-upload-success--footer">
    <ion-button class="gallery-upload-success--primary-cta" fill="solid" color="fyle-primary" (click)="done()">
      DONE
    </ion-button>
  </div>

</div>
