<div class="gallery-upload-success">
  <div class="gallery-upload-success--header">
    {{ uploadedTitle }}
  </div>

  <div class="gallery-upload-success--body">
    <div class="gallery-upload-success--info">
      Data from the uploaded receipts will be automatically extracted by the end of the day.
    </div>
  </div>

  <div class="gallery-upload-success--footer">
    <ion-button class="gallery-upload-success--primary-cta" fill="solid" color="fyle-primary" (click)="done()">
      DONE
    </ion-button>
  </div>
</div>
