<ion-header>
  <ion-toolbar class="transportation-requests--toolbar">
    <ion-title>
      Transportation Requests
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let eTransportationRequest of transportationRequests">
    <div class="transportation-requests--card">
      <div class="transportation-requests--header" (click)="eTransportationRequest.isOpened = !eTransportationRequest.isOpened" matRipple>
        <span>{{eTransportationRequest.tr.transport_mode}} from {{eTransportationRequest.tr.from_city.city}} to
          {{eTransportationRequest.tr.to_city.city}}</span>
        <span>on {{eTransportationRequest.tr.onward_dt | date: 'MMMM dd, yyyy'}}</span>
      </div>
      <div *ngIf="eTransportationRequest.isOpened">
        <div class="transportation-requests--element">
          <div class="transportation-requests--element-label">ID</div>
          <div class="transportation-requests--element-value">
            {{eTransportationRequest.tr.request_number || '-'}}
          </div>
        </div>

        <div class="transportation-requests--element">
          <div class="transportation-requests--element-label">Status</div>
          <div class="transportation-requests--element-value">
            {{eTransportationRequest.internalStateDisplayName || '-'}}
          </div>
        </div>

        <div class="transportation-requests--element">
          <div class="transportation-requests--element-label">Travel Date</div>
          <div class="transportation-requests--element-value">
            {{(eTransportationRequest.tr.onward_dt | date: 'MMMM dd, yyyy') || '-'}}
          </div>
        </div>

        <div class="transportation-requests--element">
          <div class="transportation-requests--element-label">Preferred timing</div>
          <div class="transportation-requests--element-value">
            {{eTransportationRequest.tr.preferred_timing_formatted || '-'}}
          </div>
        </div>

        <div class="transportation-requests--element">
          <div class="transportation-requests--element-label">Budget</div>
          <td *ngIf="eTransportationRequest.tr.currency && eTransportationRequest.tr.amount">
            <div class="transportation-requests--element-label">
              {{eTransportationRequest.tr.currency}}
            </div>
            <div>
              {{eTransportationRequest.tr.amount}}
            </div>
          </td>
          <td *ngIf="!eTransportationRequest.tr.currency || !eTransportationRequest.tr.amount">
            -
          </td>
        </div>

        <div class="transportation-requests--element">
          <div class="transportation-requests--element-label">Notes</div>
          <div>
            {{eTransportationRequest.tr.notes || '-'}}
          </div>
        </div>

        <div class="transportation-requests--element">
          <div class="transportation-requests--element-label">Booking Number</div>
          <div>
            {{eTransportationRequest.tb.booking_number || '-'}}
          </div>
        </div>

        <div class="transportation-requests--element">
          <div class="transportation-requests--element-label">Cancellation Number</div>
          <div>
            {{eTransportationRequest.tr.cancellation_number || '-'}}
          </div>
        </div>

        <div class="transportation-requests--element">
          <div class="transportation-requests--element-label">Booking Expense</div>
          <div>
            {{eTransportationRequest.tb.transaction_number || '-'}}
          </div>
        </div>

        <div class="transportation-requests--element">
          <div class="transportation-requests--element-label">Cancellation Expense</div>
          <div>
            {{eTransportationRequest.tc.transaction_number || '-'}}
          </div>
        </div>

        <div class="transportation-requests--element"
          *ngFor="let customField of eTransportationRequest.tr.custom_field_values">
          <div class="transportation-requests--element-label">
            {{customField.name}}
          </div>

          <div *ngIf="customField.type === 'DATE'">
            {{customField.value | date: 'dd, MMM yyyy'}}
          </div>
          <div *ngIf="customField.type === 'BOOLEAN'">
            {{customField.value ? 'Yes' : 'No'}}
          </div>
          <div *ngIf="customField.type !== 'BOOLEAN' && customField.type !== 'DATE'">
            {{customField?.value?.display || customField.value || '-'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>