<div [ngClass]="{ 'spent-cards': spentCards?.length > 1, 'spent-card': spentCards?.length === 1 }">
  <swiper
    #swiper
    class="spent-cards--swiper"
    *ngIf="spentCards"
    [slidesPerView]="1.2"
    [spaceBetween]="1"
    [centeredSlides]="true"
    [pagination]="pagination"
  >
    <ng-template *ngFor="let cardDetail of spentCards" swiperSlide>
      <app-card-detail [cardDetail]="cardDetail" [homeCurrency]="homeCurrency" [currencySymbol]="currencySymbol">
      </app-card-detail>
    </ng-template>
    <ng-template swiperSlide>
      <div class="spent-cards--add-card" data-testid="add-card">
        <app-add-card [showZeroStateMessage]="false"></app-add-card>
      </div>
    </ng-template>
  </swiper>
</div>
