<div class="spent-cards">
  <swiper
    #swiper
    class="spent-cards__swiper"
    *ngIf="cardDetails"
    [slidesPerView]="1.1"
    [spaceBetween]="16"
    [pagination]="pagination"
    [centeredSlides]="cardDetails.length === 1 && !showAddCardSlide"
  >
    <ng-template *ngFor="let cardDetail of cardDetails" swiperSlide>
      <app-card-detail [cardDetail]="cardDetail" [homeCurrency]="homeCurrency" [currencySymbol]="currencySymbol">
      </app-card-detail>
    </ng-template>
    <ng-template *ngIf="showAddCardSlide" swiperSlide>
      <div class="spent-cards__add-card" data-testid="add-card">
        <app-add-card [showZeroStateMessage]="false" (addCardClick)="addCardClick.emit()"></app-add-card>
      </div>
    </ng-template>
  </swiper>
</div>
