@import '../../../theme/colors.scss';

.my-create-report {
  &--header {
    background-color: $pure-white;
    // height: 80px !important;
    border-bottom: 1px solid $grey-lighter;

    &-closebutton {
      height: 65px;
    }
  }

  &--title-container {
    color: $black;
    font-weight: 500;
    margin-left: -10%;
  }

  &--title {
    font-size: 20px;
    line-height: 1.28;
  }

  &--sub-title {
    font-size: 14px;
    line-height: 1.28;
    margin-top: 4px;
  }

  &--container {
    padding: 16px;
  }

  &--mandatory {
    color: $primary;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
  }

  &--report-card {
    margin-bottom: 20px;
    border-bottom: 1px solid $grey-lighter;
  }

  &--report-title {
    color: $black-light;
    font-size: 12px;
    display: contents;
  }

  &--report-name {
    width: 100%;
    font-size: 14px;
    color: $blue-black;
    border: 0;
    padding: 6px 0;
  }

  &--expense-date {
    color: #ababab;
    font-size: 16px;
  }

  &--item-card {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1) !important;
    border-radius: 4px;
    margin-bottom: 24px;
    border: 1px solid $pure-white;
    min-height: 100px;
    padding: 10px;
  }

  &--item-card-selected {
    border: 1px solid #0077ee;
  }

  &--item-card-checkbox {
    margin: 18px;
  }

  &--item-card-currency {
    color: #ababab;
  }

  &--item-card-amount {
    font-size: 18px;
    margin-left: 8px;
    font-weight: 700;
    color: #666;
  }

  &--item-card-vendor {
    font-size: 16px;
    color: #666;
  }

  &--item-card-category {
    color: #ababab;
    font-size: 16px;
  }

  &--footer {
    padding: 10px 8px 14px 8px;
  }

  &--footer-currency {
    font-size: 16px;
    color: #000;
    font-weight: 500;
  }

  &--footer-amount {
    font-size: 24px;
    color: #000;
    font-weight: 500;
  }

  &--footer-summary {
    font-size: 16px;
    font-weight: 500;
    color: #ababab;
  }

  &--primary-cta {
    height: 48px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    --border-radius: 4px !important;
    margin: 0 4px;
    width: 100%;
  }

  &--secondary-action {
    text-align: right;
    color: #0077ee;
    font-size: 16px;
    margin-top: 8px;
  }

  &--select-trip {
    padding: 16px 0;
  }

  &--text-trip {
    width: 100%;
    font-size: 14px;
    color: #4a4a4a;
    border: 0;

    &::placeholder {
      color: #ababab;
    }
  }

  &--error-message {
    color: red;
  }

  &--non-reimbursable {
    text-decoration: line-through;
    color: #ababab;
  }

  &--zero-state {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    text-align: center;

    &-img {
      margin: 32px;
    }

    &-header {
      font-size: 16px;
      display: block;
      margin-bottom: 16px;
      color: #4a4a4a;
      line-height: 1.5;
      font-weight: 500;
    }
  }

  &--heading {
    color: $grey-light;
    font-size: 14px;
    padding: 16px 16px;
    background-color: $white;
    font-weight: 500;
  }

  &--select-all-checkbox {
    font-size: 14px;
    padding: 16px 16px;
    background-color: $pure-white;
  }

  &--add-more-container {
    padding: 16px;
    display: flex;
    background-color: $grey-4;
  }

  &--add-more-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
  }

  &--add-more-text {
    margin-left: 5px;
    color: $black-light;
    font-weight: 500;
    font-size: 14px;
  }
}
