$item-border-color: #e0e0e0;
$background-color: #fff;

.my-create-report {
  &--header {
    background-color: $background-color;
    // height: 80px !important;
    border-bottom: 1px solid $item-border-color;

    &-closebutton {
      height: 65px;
    }

    &-title {
      color: #4a4a4a;
      font-size: 20px;
      font-weight: 700;
    }
  }

  &--container {
    padding: 16px;
  }

  &--report-card {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1) !important;
    border-radius: 4px;
    margin-bottom: 24px;
    border: 1px solid $background-color;
    padding: 10px;
  }

  &--report-title {
    color: #ababab;
    font-size: 16px;
  }

  &--report-name {
    width: 100%;
    font-size: 20px;
    color: #4a4a4a;
    border: 0;

    &::placeholder {
      color: #ababab;
    }
  }

  &--expense-date {
    color: #ababab;
    font-size: 16px;
  }

  &--item-card {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1) !important;
    border-radius: 4px;
    margin-bottom: 24px;
    border: 1px solid $background-color;
    min-height: 100px;
    padding: 10px;
  }

  &--item-card-selected {
    border: 1px solid #0077ee;
  }

  &--item-card-checkbox {
    margin: 18px;
  }

  &--item-card-currency {
    color: #ababab;
  }

  &--item-card-amount {
    font-size: 18px;
    margin-left: 8px;
    font-weight: 700;
    color: #666;
  }

  &--item-card-vendor {
    font-size: 16px;
    color: #666;
  }

  &--item-card-category {
    color: #ababab;
    font-size: 16px;
  }

  &--footer {
    padding: 10px 8px 14px 8px;
  }

  &--footer-currency {
    font-size: 16px;
    color: #000;
    font-weight: 500;
  }

  &--footer-amount {
    font-size: 24px;
    color: #000;
    font-weight: 500;
  }

  &--footer-summary {
    font-size: 16px;
    font-weight: 500;
    color: #ababab;
  }

  &--primary-cta {
    height: 48px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    --border-radius: 4px !important;
    margin: 0 4px;
    width: 100%;
  }

  &--secondary-action {
    text-align: right;
    color: #0077ee;
    font-size: 16px;
    margin-top: 8px;
  }

  &--select-trip {
    padding: 16px 0;
  }

  &--text-trip {
    width: 100%;
    font-size: 14px;
    color: #4a4a4a;
    border: 0;

    &::placeholder {
      color: #ababab;
    }
  }

  &--error-message {
    color: red;
  }

  &--non-reimbursable {
    text-decoration: line-through;
    color: #ababab;
  }

  &--zero-state {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    text-align: center;

    &-img {
      margin: 32px;
    }

    &-header {
      font-size: 16px;
      display: block;
      margin-bottom: 16px;
      color: #4a4a4a;
      line-height: 1.5;
      font-weight: 500;
    }
  }
}
