@import '../../../theme/colors.scss';

.my-create-report {
  &--header {
    background-color: $pure-white;
    border-bottom: 1px solid $grey-lighter;

    &-closebutton {
      height: 65px;
    }
  }

  &--title-container {
    color: $black;
    font-weight: 500;
    margin-left: -10%;
    padding: 12px;
  }

  &--title {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
  }

  &--sub-title {
    margin-top: 4px;
    font-weight: 500;
    color: $blue-black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
  }

  &--amount {
    font-size: 14px;
    margin-top: 2px;
    font-weight: 400;
    color: $blue-black;
  }

  &--mandatory {
    color: $brand-primary;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
  }

  &--report-card {
    border-bottom: 1px solid $grey-lighter;
    margin: 16px 16px 2px;
  }

  &--report-title {
    color: $black-light;
    font-size: 12px;
    display: contents;
  }

  &--report-name {
    width: 100%;
    font-size: 14px;
    color: $blue-black;
    border: 0;
    padding: 6px 0;
  }

  &--error-message {
    font-size: 12px;
    margin: 0 16px;
    color: $red;
  }

  &--zero-state {
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
    text-align: center;
    justify-content: center;

    &-img {
      margin: 32px;
    }

    &-header {
      font-size: 14px;
      display: block;
      margin-bottom: 16px;
      color: $blue-black;
      line-height: 1.5;
      font-weight: 500;
    }
  }

  &--heading {
    color: $black-light;
    font-size: 14px;
    padding: 16px 16px;
    background-color: $white;
    font-weight: 500;
  }

  &--select-all-checkbox {
    font-size: 14px;
    padding: 16px 16px;
    background-color: $pure-white;
  }
}
