<ion-content scroll-y="false" class="no-keyboard-adjust">
  <div class="new-password">
    <div>
      <ion-icon
        class="fy-icon new-password__back-icon"
        src="../../../assets/svg/arrow-tail-left.svg"
        (click)="redirectToSignIn()"
      ></ion-icon>
      <div>
        <div class="new-password__form-header">{{ 'newPassword.resetPassword' | transloco }}</div>
        <div>
          @if (fg) {
            <form [formGroup]="fg">
              <div class="new-password__input-container">
                <div
                  class="new-password__text new-password__text-block"
                  [ngClass]="{
                    'new-password__text__password-focus':
                      focusOnPassword && !(fg.controls.password.touched && !fg.controls.password.valid),
                    'new-password__text__invalid': fg.controls.password.touched && !fg.controls.password.valid,
                  }"
                >
                  <div class="new-password__text-label">{{ 'newPassword.newPasswordLabel' | transloco }}</div>
                  <div class="new-password__password-container">
                    <input
                      [placeholder]="'newPassword.newPasswordPlaceholder' | transloco"
                      [required]="true"
                      [type]="hide ? 'password' : 'text'"
                      class="new-password__text-input smartlook-show"
                      formControlName="password"
                      (focus)="setPasswordTooltip(true)"
                      (blur)="setPasswordTooltip(false)"
                    />
                    <div class="new-password__password-icon-container" matSuffix (click)="hide = !hide">
                      <ion-icon
                        class="fy-icon new-password__password-icon"
                        src="{{ hide ? '/assets/svg/eye-slash.svg' : '/assets/svg/eye.svg' }}"
                      ></ion-icon>
                    </div>
                  </div>
                  @if (showPasswordTooltip) {
                    <app-password-check-tooltip
                      [password]="fg.controls.password.value"
                      (isPasswordValid)="onPasswordValid($event)"
                    ></app-password-check-tooltip>
                  }
                </div>
                @if (
                  fg.controls.password.touched && fg.controls.password.invalid && fg.controls.password.errors.required
                ) {
                  <div class="new-password__error">{{ 'newPassword.passwordCannotBeEmpty' | transloco }}</div>
                }
                @if (
                  fg.controls.password.touched &&
                  fg.controls.password.invalid &&
                  fg.controls.password.errors.invalidPassword &&
                  !fg.controls.password.errors.required
                ) {
                  <div class="new-password__error">{{ 'newPassword.pleaseEnterValidPassword' | transloco }}</div>
                }
              </div>
              <div class="new-password__input-container">
                <div
                  class="new-password__text new-password__text-block"
                  [ngClass]="{
                    'new-password__text__password-focus':
                      focusOnConfirmPassword &&
                      !(fg.controls.confirmPassword.touched && !fg.controls.confirmPassword.valid),
                    'new-password__text__invalid':
                      fg.controls.confirmPassword.touched && !fg.controls.confirmPassword.valid,
                  }"
                >
                  <div class="new-password__text-label">{{ 'newPassword.confirmNewPasswordLabel' | transloco }}</div>
                  <div class="new-password__password-container">
                    <input
                      [placeholder]="'newPassword.confirmNewPasswordPlaceholder' | transloco"
                      [required]="true"
                      [type]="hideConfirmPassword ? 'password' : 'text'"
                      class="new-password__text-input smartlook-show"
                      formControlName="confirmPassword"
                      (focus)="focusOnConfirmPassword = true"
                      (blur)="focusOnConfirmPassword = false"
                    />
                    <div
                      class="new-password__password-icon-container"
                      matSuffix
                      (click)="hideConfirmPassword = !hideConfirmPassword"
                    >
                      <ion-icon
                        class="fy-icon new-password__password-icon"
                        src="{{ hideConfirmPassword ? '/assets/svg/eye-slash.svg' : '/assets/svg/eye.svg' }}"
                      ></ion-icon>
                    </div>
                  </div>
                </div>
                @if (
                  fg.controls.confirmPassword.touched &&
                  fg.controls.confirmPassword.invalid &&
                  fg.controls.confirmPassword.errors.required
                ) {
                  <div class="new-password__error">{{ 'newPassword.passwordCannotBeEmpty' | transloco }}</div>
                }
                @if (
                  fg.controls.confirmPassword.touched &&
                  fg.controls.confirmPassword.invalid &&
                  fg.controls.confirmPassword.errors.passwordMismatch &&
                  !fg.controls.confirmPassword.errors.required
                ) {
                  <div class="new-password__error">{{ 'newPassword.passwordsDoNotMatch' | transloco }}</div>
                }
              </div>
            </form>
          }
        </div>
      </div>
    </div>
    @if (fg) {
      <div>
        <ion-button
          (click)="changePassword()"
          class="btn-primary"
          fill="clear"
          [disabled]="!fg.valid"
          appFormButtonValidation
          [loading]="isLoading"
          [loadingText]="'newPassword.resetting' | transloco"
        >
          {{ 'newPassword.resetPasswordButton' | transloco }}
        </ion-button>
        <div class="new-password__cta-secondary btn-secondary" (click)="redirectToSignIn()">
          <ion-icon class="new-password__arrow-icon" [src]="'/assets/svg/arrow-left.svg'" slot="icon-only"></ion-icon>
          <span>{{ 'newPassword.backToSignIn' | transloco }}</span>
        </div>
      </div>
    }
  </div>
</ion-content>
