<ion-content class="auth--content-container">
  <ion-row class="auth--page ion-justify-content-center ion-align-items-center">
    <ion-col size="12" style="padding: 0; margin: 0">
      <div class="auth--logo-container">
        <app-new-header></app-new-header>
      </div>
      <div class="auth--container-jumbotron">
        <div class="auth--form">
          <div class="auth--form-header">Reset Password</div>
          <p class="auth--hero-sub-title">Enter the new password below.</p>
          <div class="new-password--password-rules">
            <div>
              <span>
                <ion-icon
                  *ngIf="lengthValidationDisplay$|async"
                  class="new-password--validation new-password--validation__correct"
                  name="checkmark-outline"
                ></ion-icon>
                <ion-icon
                  *ngIf="!(lengthValidationDisplay$|async)"
                  class="new-password--validation new-password--validation__incorrect"
                  name="close-outline"
                ></ion-icon>
              </span>
              <span> Is between 12 to 32 characters </span>
            </div>
            <div>
              <span>
                <ion-icon
                  *ngIf="uppercaseValidationDisplay$|async"
                  class="new-password--validation new-password--validation__correct"
                  name="checkmark-outline"
                ></ion-icon>
                <ion-icon
                  *ngIf="!(uppercaseValidationDisplay$|async)"
                  class="new-password--validation new-password--validation__incorrect"
                  name="close-outline"
                ></ion-icon>
              </span>
              <span> Contains atleast 1 uppercase character </span>
            </div>
            <div>
              <span>
                <ion-icon
                  *ngIf="lowercaseValidationDisplay$|async"
                  class="new-password--validation new-password--validation__correct"
                  name="checkmark-outline"
                ></ion-icon>
                <ion-icon
                  *ngIf="!(lowercaseValidationDisplay$|async)"
                  class="new-password--validation new-password--validation__incorrect"
                  name="close-outline"
                ></ion-icon>
              </span>
              <span> Contains atleast 1 lowercase character </span>
            </div>
            <div>
              <span>
                <ion-icon
                  *ngIf="numberValidationDisplay$|async"
                  class="new-password--validation new-password--validation__correct"
                  name="checkmark-outline"
                ></ion-icon>
                <ion-icon
                  *ngIf="!(numberValidationDisplay$|async)"
                  class="new-password--validation new-password--validation__incorrect"
                  name="close-outline"
                ></ion-icon>
              </span>
              <span> Contains atleast 1 number </span>
            </div>
            <div>
              <span>
                <ion-icon
                  *ngIf="specialCharValidationDisplay$|async"
                  class="new-password--validation new-password--validation__correct"
                  name="checkmark-outline"
                ></ion-icon>
                <ion-icon
                  *ngIf="!(specialCharValidationDisplay$|async)"
                  class="new-password--validation new-password--validation__incorrect"
                  name="close-outline"
                ></ion-icon>
              </span>
              <span> Contains atleast 1 special character </span>
            </div>
          </div>
          <form [formGroup]="fg">
            <div style="padding-bottom: 10px">
              <ion-col size="12">
                <div class="input-label">Enter new password</div>
                <div class="astrick-color">*</div>
              </ion-col>
            </div>
            <mat-form-field class="new-password--form-field mat-form-field-no-padding" appearance="outline">
              <input
                formControlName="password"
                type="password"
                matInput
                [type]="hidePassword ? 'text': 'password'"
                placeholder="minimum 12 chars"
              />
              <div class="action-wrapper" *ngIf="fg.controls.password.valid">
                <span class="action-text">
                  <img
                    class="new-password--header-logo"
                    src="../../../assets/svg/green-check.svg"
                    alt="fyle-green-check"
                  />
                </span>
              </div>
              <mat-icon
                matSuffix
                class="new-password--password-visibility-icon"
                color="accent"
                (click)="hidePassword = !hidePassword"
              >
                {{hidePassword ? 'visibility_off' : 'visibility'}}
              </mat-icon>
            </mat-form-field>
            <div style="padding-bottom: 10px">
              <ion-col size="12">
                <div class="input-label">Re-enter new password</div>
                <div class="astrick-color">*</div>
              </ion-col>
            </div>
            <mat-form-field class="new-password--form-field mat-form-field-no-padding" appearance="outline">
              <input
                formControlName="confirmPassword"
                type="password"
                matInput
                (change)="checkConfirmPassword()"
                [type]="hideConfirmPassword ? 'text': 'password'"
                placeholder="minimum 12 chars"
              />
              <div
                class="action-wrapper"
                *ngIf="fg.controls.confirmPassword.valid && fg.controls.confirmPassword.value === fg.controls.password.value"
              >
                <span class="action-text">
                  <img
                    class="new-password--header-logo"
                    src="../../../assets/svg/green-check.svg"
                    alt="fyle-green-check"
                  />
                </span>
              </div>
              <div matSuffix>
                <mat-icon
                  class="error-icon"
                  *ngIf="!(confirmPasswordIsSame$|async) && fg.controls.confirmPassword.touched && fg.controls.confirmPassword.value.length > 0 && fg.controls.confirmPassword.value !== fg.controls.password.value"
                  >error</mat-icon
                >
                <mat-icon
                  class="new-password--password-visibility-icon"
                  color="accent"
                  (click)="hideConfirmPassword = !hideConfirmPassword"
                >
                  {{hideConfirmPassword ? 'visibility_off' : 'visibility'}}
                </mat-icon>
              </div>
            </mat-form-field>
            <div
              class="confirm-password-error"
              *ngIf="!(confirmPasswordIsSame$|async) && fg.controls.confirmPassword.touched && fg.controls.confirmPassword.value.length > 0 && fg.controls.confirmPassword.value !== fg.controls.password.value"
            >
              The re-entered password does not match.
            </div>
          </form>
        </div>
        <div class="auth--primary-cta">
          <button
            id="auth--continue"
            mat-flat-button
            color="primary"
            appFormButtonValidation
            (click)="changePassword()"
          >
            Set Password
          </button>
        </div>
        <div style="text-align: center; margin-top: 20px" [routerLink]="['/', 'auth', 'sign_in']">
          <p style="display: inline-block">&#60;</p>
          <div style="display: inline-block; margin-left: 3px">Back to sign in</div>
        </div>
      </div>
    </ion-col>
    <ion-footer class="footer">
      <div>Never lose track</div>
    </ion-footer>
  </ion-row>
</ion-content>
