@import '../auth.scss';

$new-password-header: #220033;
$form-header: #000;
$form-subheader: #4a4a4a;
$password-icon: #b9beba;
$secondary-cta-border: #e0e0e0;
$flash-yellow: #fde081;
$error: #f00;
$offline-title: #4a4a4a;
$offline-sub-title: #ababab;

.auth {
  &--form-header {
    font-weight: 500;
  }
}

.error-icon {
  display: inline-block !important;
}

.confirm-password-error,
.error-icon {
  color: $error;
}

.new-password {
  &--password-visibility-icon {
    display: inline-block !important;
  }

  &--header {
    min-height: 140px;
  }

  &--header-logo {
    max-width: 100px;
  }

  &--form {
    padding: 24px;
  }

  &--form-field {
    width: 100%;
  }

  &--primary-cta {
    margin-top: 12px;
    .mat-button-base {
      width: 100%;
      font-weight: 700;
      min-height: 47px;
    }
  }

  &--password-rules {
    color: #414562;
    padding: 14px 0;
  }

  &--validation {
    vertical-align: middle;
    font-size: 16px;

    &__correct {
      color: green;
    }

    &__incorrect {
      color: red;
    }
  }
}
