@import '../../../theme/colors.scss';

.new-password {
  display: flex;
  flex-direction: column;
  padding: 24px 20px 44px 20px;
  margin-top: 18px;
  height: 100%;
  justify-content: space-between;

  &__password-container {
    display: flex;
  }

  &__input-container {
    margin-bottom: 24px;
  }

  &__error {
    color: $red;
    font-size: 12px;
    display: flex;
    align-items: center;
  }

  &__text {
    border-bottom: 1px solid $grey-lighter;

    &__invalid {
      border-bottom: 1px solid $red;
    }

    &__password-focus {
      border-bottom: 1px solid $black;
    }
  }

  &__mandatory {
    color: $brand-primary;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
  }

  &__text-label {
    margin: 0 8px 0 0;
    max-width: 90%;
    min-width: 120px;
    font-size: 12px;
    color: $black-light;
    line-height: 16px;
    white-space: nowrap;
    font-weight: 400;
  }

  &__text-input {
    border: 0;
    font-size: 14px;
    font-weight: 400;
    height: 18px;
    line-height: 18px;
    color: $blue-black;
    width: 100%;
    margin: 6px 0;
    padding: 0;
  }

  &__password-icon {
    width: 20px;
    height: 20px;
    fill: $black-light;
  }

  &__password-icon-container {
    display: flex;
    align-items: center;
  }

  &__form-header {
    font-size: 20px;
    position: relative;
    margin-bottom: 24px;
    color: $black;
    font-weight: 500;
  }

  &__save {
    width: 100%;
    &__disabled {
      opacity: 0.2;
    }
  }

  &__back-icon {
    margin-bottom: 16px;
    width: 28px;
    height: 28px;
  }

  &__cta-text {
    font-size: 14px;
    font-weight: 500;
  }

  &__arrow-icon {
    fill: $pure-white;
    margin-right: 6px;
  }

  &__cta-secondary {
    display: flex;
    padding-top: 18px;
    align-items: center;
    justify-content: center;
    color: $blue-black;
    flex-direction: row;
  }
}
