$new-password-header: #220033;
$form-header: #000;
$form-subheader: #4a4a4a;
$password-icon: #b9beba;
$secondary-cta-border: #e0e0e0;
$flash-yellow: #fde081;
$error: #f00;
$offline-title: #4a4a4a;
$offline-sub-title: #ababab;

.new-password {
  &--header {
    min-height: 140px;
  }

  &--header-container {
    min-height: 140px;
    background-color: $new-password-header;
  }

  &--header-logo-container {
    text-align: center;
  }

  &--header-logo {
    max-width: 100px;
  }

  &--form {
    padding: 24px;
  }

  &--form-field {
    width: 100%;
  }

  &--form-header {
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 8px;
    color: $form-header;
    font-weight: 700;
  }

  &--form-subheader {
    font-size: 16px;
    color: $form-subheader;
    margin-top: 8px;
    margin-bottom: 24px;
  }

  &--primary-cta {
    margin-top: 12px;
    .mat-mdc-button-base {
      width: 100%;
      font-weight: 700;
      min-height: 47px;
    }
  }

  &--password-rules {
    padding: 14px 0;
  }

  &--save {
    width: 100%;
    &__disabled {
      opacity: 0.2;
    }
  }

  &--validation {
    vertical-align: middle;
    font-size: 16px;

    &__correct {
      color: green;
    }

    &__incorrect {
      color: red;
    }
  }
}
