<ion-content>
  <ion-grid class="new-password--header-container">
    <ion-row class="new-password--header ion-align-items-center">
      <ion-col class="new-password--header-logo-container">
        <img class="new-password--header-logo" src="../../../assets/svg/logo-white.svg" alt="fyle-logo" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="new-password--form">
    <div class="new-password--form-header">Reset password</div>
    <div class="new-password--password-rules">
      <div>
        <span>
          <ion-icon
            *ngIf="lengthValidationDisplay$|async"
            class="new-password--validation new-password--validation__correct"
            data-testid="lengthValidation_correct"
            name="checkmark-outline"
          ></ion-icon>
          <ion-icon
            *ngIf="!(lengthValidationDisplay$|async)"
            class="new-password--validation new-password--validation__incorrect"
            data-testid="lengthValidation_incorrect"
            name="close-outline"
          ></ion-icon>
        </span>
        <span> Is between 12 to 32 characters </span>
      </div>
      <div>
        <span>
          <ion-icon
            *ngIf="uppercaseValidationDisplay$|async"
            class="new-password--validation new-password--validation__correct"
            data-testid="uppercaseValidation_correct"
            name="checkmark-outline"
          ></ion-icon>
          <ion-icon
            *ngIf="!(uppercaseValidationDisplay$|async)"
            class="new-password--validation new-password--validation__incorrect"
            data-testid="uppercaseValidation_incorrect"
            name="close-outline"
          ></ion-icon>
        </span>
        <span> Contains atleast 1 uppercase character </span>
      </div>
      <div>
        <span>
          <ion-icon
            *ngIf="lowercaseValidationDisplay$|async"
            class="new-password--validation new-password--validation__correct"
            data-testid="lowercaseValidation_correct"
            name="checkmark-outline"
          ></ion-icon>
          <ion-icon
            *ngIf="!(lowercaseValidationDisplay$|async)"
            class="new-password--validation new-password--validation__incorrect"
            data-testid="lowercaseValidation_incorrect"
            name="close-outline"
          ></ion-icon>
        </span>
        <span> Contains atleast 1 lowercase character </span>
      </div>
      <div>
        <span>
          <ion-icon
            *ngIf="numberValidationDisplay$|async"
            class="new-password--validation new-password--validation__correct"
            data-testid="numberValidation_correct"
            name="checkmark-outline"
          ></ion-icon>
          <ion-icon
            *ngIf="!(numberValidationDisplay$|async)"
            class="new-password--validation new-password--validation__incorrect"
            data-testid="numberValidation_correct"
            name="close-outline"
          ></ion-icon>
        </span>
        <span> Contains atleast 1 number </span>
      </div>
      <div>
        <span>
          <ion-icon
            *ngIf="specialCharValidationDisplay$|async"
            class="new-password--validation new-password--validation__correct"
            data-testid="specialcharValidation_correct"
            name="checkmark-outline"
          ></ion-icon>
          <ion-icon
            *ngIf="!(specialCharValidationDisplay$|async)"
            class="new-password--validation new-password--validation__incorrect"
            data-testid="specialcharValidation_incorrect"
            name="close-outline"
          ></ion-icon>
        </span>
        <span> Contains atleast 1 special character </span>
      </div>
    </div>
    <div class="new-password--form-subheader">Please enter a new password</div>
    <form [formGroup]="fg">
      <mat-form-field class="new-password--form-field mat-form-field-no-padding" appearance="outline">
        <input
          formControlName="password"
          type="password"
          matInput
          [type]="hide ? 'text': 'password'"
          placeholder="minimum 12 chars"
        />
        <mat-icon class="new-password--password-visibility-icon" color="accent" matSuffix (click)="hide = !hide">
          {{hide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </mat-form-field>
    </form>
    <div class="new-password--primary-cta">
      <button
        id="new-password--btn-sign-in"
        [disabled]="!fg.valid"
        mat-flat-button
        color="primary"
        (click)="changePassword()"
      >
        CHANGE PASSWORD
      </button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar mode="md">
    <ion-button fill="clear" expand="full" [routerLink]="['/','auth','sign_in']" routerLinkActive="router-link-active">
      Back to Sign in
    </ion-button>
  </ion-toolbar>
</ion-footer>
