@import '../../../../../assets/styles/fy_select';
@import '../../../../../theme/colors.scss';

ion-toolbar {
  padding-left: 0 !important;
  padding-right: 0 !important;

  mat-form-field {
    @extend %fy-select-mat-form-field-chip;
  }
}

.selection-modal {
  color: black;
  &--list-element {
    padding: 18px 0;
    margin: 0 16px;
    // border-color-font
    @extend %fy-select-list-element-default-border-color-font;
    // list-item-layout
    @extend %fy-select-list-element-layout;
  }

  &--title {
    @extend %fy-select-title;
    margin-left: 4%;
  }

  &--header {
    @extend %fy-select-header;
  }

  &--search-input {
    @extend %fy-select-search-input;
  }

  &--search-icon {
    @extend %fy-select-search-icon;
    display: flex;
    align-items: center;
    height: 16px;
    width: 16px;
    margin-left: 8px;
  }

  &--container {
    display: flex;
    flex-direction: column;
  }

  &--recently-used-block {
    margin-bottom: 20px;
  }

  &--sub-title {
    color: #ababab;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 14px;
    border-bottom: 1px solid #ddd;
  }

  &--cta {
    @extend %fy-select-cta;
  }

  &--form-input {
    font-size: 14px;
    color: $black-2;
    margin-left: 6px !important;
  }

  &--selected-count {
    font-size: 14px;
    color: $grey-light;
    text-align: left;
    margin: 0 16px 10px;
  }

  &--toolbar {
    box-shadow: 0px 4px 4px rgba(215, 215, 215, 0.2);
  }
}
