@import '../../../../../assets/styles/fy_select';

.selection-modal {
  color: black;
  &--list-element {
    padding: 18px 0;
    margin: 0 16px;
    // border-color-font
    @extend %fy-select-list-element-default-border-color-font;
    // list-item-layout
    @extend %fy-select-list-element-layout;
  }

  &--title {
    @extend %fy-select-title;
  }

  &--header {
    @extend %fy-select-header;
  }

  &--search-input {
    @extend %fy-select-search-input;
  }

  &--form-field {
    @extend %fy-select-mat-form-field;
    .mat-form-field-wrapper {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px !important;
    }
  }

  &--search-icon {
    font-size: 14px;
  }

  &--form-field-container {
    text-align: center;
  }

  &--container {
    display: flex;
    flex-direction: column;
  }

  &--recently-used-block {
    margin-bottom: 20px;
  }

  &--sub-title {
    color: #ababab;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 14px;
    border-bottom: 1px solid #ddd;
  }

  &--cta-container {
    padding: 16px;
  }

  &--cta {
    height: 48px;
    width: 100%;
  }
}
