@import '../../../../../assets/styles/fy_select';
@import '../../../../../theme/colors.scss';

.selection-modal {
  color: black;
  &--list-element {
    padding: 18px 0;
    margin: 0 16px;
    // border-color-font
    @extend %fy-select-list-element-default-border-color-font;
    // list-item-layout
    @extend %fy-select-list-element-layout;
  }

  &--title {
    @extend %fy-select-title;
    margin-left: 4%;
  }

  &--header {
    @extend %fy-select-header;
  }

  &--search-input {
    @extend %fy-select-search-input;
  }

  &--form-field {
    @extend %fy-select-mat-form-field;
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
    .mat-form-field-wrapper {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px !important;
    }
  }

  &--search-icon {
    @extend %fy-select-search-icon;
    margin-top: -8px;
  }

  &--container {
    display: flex;
    flex-direction: column;
  }

  &--recently-used-block {
    margin-bottom: 20px;
  }

  &--sub-title {
    color: #ababab;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 14px;
    border-bottom: 1px solid #ddd;
  }

  &--cta {
    @extend %fy-select-cta;
  }

  &--form-container {
    display: flex;
    border: 1px solid $grey-lighter;
    border-radius: 4px;
    margin: 8px 16px;
    font-size: 12px;
    padding: 4px;

    &__chips {
      padding: 3px 4px 3px 8px;
    }
  }

  &--form-input {
    margin-top: -4px !important;
    font-size: 14px;
    color: $black-2;
    margin-left: 6px !important;

    &__chips {
      margin-top: 4px !important;
    }
  }

  &--selected-count {
    color: $grey-light;
    text-align: left;
    margin: 0 16px 10px;
  }

  &--toolbar {
    box-shadow: 0px 4px 4px rgba(215, 215, 215, 0.2);
  }
}
