<ion-header mode="md" >
  <ion-toolbar mode="md">
    <ion-title>
      <h1 class="selection-modal--title">
        Select Items
      </h1>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDoneClick()">
        <mat-icon>close</mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="selection-modal--form-field-container">
    <mat-form-field class="selection-modal--form-field mat-form-field-no-padding" appearance="outline">
      <input #searchBar id="selection-modal--search-input" matInput placeholder="Search">
    </mat-form-field>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="selection-modal--container">
    <mat-checkbox color="primary" class="selection-modal--list-element" *ngFor="let filteredListItem of filteredOptions$ | async as list" [(ngModel)]="filteredListItem.selected" (ngModelChange)="onElementSelected(filteredListItem)">
      {{filteredListItem.label}}
    </mat-checkbox>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar mode="md">
    <div class="selection-modal--cta-container">
      <ion-button fill="solid" class="selection-modal--cta" color="fyle-primary" expand="block" (click)="useSelected()">
        USE SELECTED
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
