@use '../../../../theme/colors.scss';

$advance_pending_approval_color: #1ab6bb;

.summary-tile {
  &--card-container {
    padding: 14px 16px;
    margin-top: 16px;
    border-radius: 16px;
    background-color: colors.$background;
    width: 100%;
    color: colors.$black-light;

    &__block {
      width: 100%;
    }

    &__category {
      color: colors.$black;
      font-size: 14px;
      font-weight: 500;
    }

    &__purpose {
      color: colors.$black;
      font-size: 14px;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__merchant {
      padding-top: 2px;
      font-size: 14px;
      color: colors.$dark-grey;
    }

    &__project {
      font-size: 14px;
      color: colors.$dark-grey;
    }

    &__icon {
      vertical-align: text-bottom;
      color: colors.$black;
      height: 16px;
      width: 16px;
    }

    &__amount_container {
      margin-top: 10px;
    }

    &__amount {
      font-size: 16px;
      font-weight: 500;
      color: colors.$black;
    }

    &__exchange-rate {
      color: colors.$black-light;
    }

    &__state-pill {
      display: inline-block;
      white-space: nowrap;
    }
  }

  &--approval-container {
    box-shadow: 0px 4px 4px rgb(22 21 40 / 8%);
    border-radius: 16px;
    margin-top: -40px;
  }

  &--approval-state-block {
    padding: 36px 6px 16px 6px;
  }

  &--approval-state-block-header {
    padding: 18px 10px 0;
    display: flex;
  }

  &--approver-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 35%;
    font-weight: 500;
  }

  &--approval-state {
    &__submitted {
      color: colors.$submitted-color;
    }
    &__complete {
      color: colors.$fyled-color;
    }
    &_sent_back {
      color: colors.$sent-back-color;
    }
    &__approval {
      background: $advance_pending_approval_color;
    }
    &__approved {
      color: colors.$approved-color;
    }
    &__paid {
      color: colors.$paid-color;
    }
  }

  &--approvers {
    color: colors.$black-light;
    padding-right: 10px;
    width: min-content;
  }

  &--approvers-list {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px 0;
  }

  &--approver-state-section {
    display: flex;
    align-items: center;
    font-weight: 500;

    &__date {
      margin: 0 4px;
      font-size: 10px;
      color: colors.$black-light;
    }
  }

  &--approver-state-pill {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin-right: 4px;

    &__approval_pending {
      background-color: colors.$fyled-color;
    }

    &__approval_done {
      background-color: colors.$approved-color;
    }

    &__approval_disabled {
      background-color: colors.$gray-3;
    }

    &__approval_rejected {
      background-color: colors.$rejected-color;
    }
  }
}
