<div class="summary-tile--card-container">
  <div class="d-flex">
    <div class="summary-tile--card-container__block">
      <div *ngIf="purpose" class="summary-tile--card-container__purpose">
        {{ purpose | ellipsis: 25 }}
      </div>
    </div>
    <div class="ion-text-right summary-tile--card-container__block">
      <div>
        <span *ngIf="currency">{{ currency }}</span>
        <span class="summary-tile--card-container__amount">
          {{ amount | humanizeCurrency: currency:true }}
        </span>
      </div>
      <div
        class="summary-tile--card-container__state-pill summary-tile--card-container__state-pill__{{
          status | lowercase
        }}"
      >
        {{ status | snakeCaseToSpaceCase | titlecase }}
      </div>
    </div>
  </div>
</div>
