<div class="save-approver">
  <div>
    <ion-header mode="md" >
      <ion-toolbar class="save-approver--header">
        <ion-buttons mode="md" slot="end" class="save-approver--close-button" (click)="closeConfirmationPopover()">
          Cancel
        </ion-buttons>
        <ion-title mode="md">
          Choose Approver
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div class="save-approver--container">
        <div class="--title">
          Approver(s) to be added:
        </div>
        <div class="save-approver--approver-list">
          <div *ngFor="let approver of selectedApprovers" class="save-approver--approver-email">
            <span>{{approver | ellipsis:30}}</span>
          </div>
        </div>
        <div>
          <textarea class="save-approver--message-box" [(ngModel)]="confirmationMessage" placeholder="Enter reason for adding approvers.*"></textarea>
        </div>
      </div>

      <div class="save-approver--cta-block">
        <div class="save-approver--cta-container">
          <ion-button class="save-approver--cta-container-cta" [disabled]="!(confirmationMessage.length > 0)" fill="solid" color="fyle-primary" expand="block" type="button" (click)="saveUpdatedApproveList()">Save</ion-button>
        </div>
      </div>
    </ion-content>
  </div>
</div>
