<div class="camera-options">
  <div class="camera-options--header-container">
    <div class="camera-options--header-container__header">ADD MORE USING</div>
  </div>
  <div class="camera-options--element camera-options--element-first" matRipple (click)="getImageFromPicture()">
    <div class="camera-options--icon-container">
      <mat-icon
        class="camera-options--icon-container__icon camera-options--icon-container__icon--camera"
        svgIcon="fy-camera"
      ></mat-icon>
    </div>
    <div class="camera-options--content">Click a Picture</div>
  </div>
  <div class="camera-options--element" data-testid="add-button" matRipple (click)="getImageFromImagePicker()">
    <div class="camera-options--icon-container">
      <mat-icon
        class="camera-options--icon-container__icon camera-options--icon-container__icon--gallery"
        svgIcon="fy-gallery"
      ></mat-icon>
    </div>
    <div class="camera-options--content">Upload from Gallery</div>
  </div>
  <input type="file" #fileUpload accept="application/pdf,image/*" class="d-none" />
</div>
