$details-color: #ababab;

.camera-options {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 16px;

  &--element {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 45%;
    font-size: 18px;
    font-weight: 500;

    &-first {
      border-bottom: 1px solid #dddddd;
    }
  }

  &--icon {
    margin: 0 12px;
  }

  &--content {
    margin-left: 12px;
  }
}
