.report-list {
  &--container {
    padding: 24px 16px;
  }

  &--header {
    font-size: 14px;
    line-height: 17.92px;;
    font-weight: 400;
    color: #a9acbc;
    margin-bottom: 16px;
  }

  &--list {
    margin-top: 10px;
  }

  &--currency {
    color: #5a5d72;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-right: 2px;
  }

  &--amount {
    color: #161528;
    font-size: 20px;
    line-height: 26px;
  }

  &--purpose {
    font-weight: 400;
    color: #161528;
    font-size: 18px;
    line-height: 23px;
  }

  &--count {
    color: #2c304e;
    font-size: 14px;
    line-height: 18px;
    margin-top: 2px;
  }

  &--divider {
    border-bottom: 1px solid #DFDFE2;
    margin-bottom: 14px;
  }

  &--state {
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    text-align: center;
    background: #464D57;
    border-radius: 16px;
    padding: 4px 17px;
    max-width: 86px;
    margin-left: auto;

    &__reported {
      background: #2896F3;
    }
  }
}
