<ion-header>
  <div class="report-list--header">
    <mat-icon class="fy-modal-top-bar report-list--header--handle-bar-icon" svgIcon="notch"></mat-icon>
    <ion-grid class="report-list--header--top-nav-container">
      <ion-row>
        <ion-col size="1" class="report-list--header--row-icon-container">
          <ion-icon
            (click)="closeAddToReportModal()"
            src="../../../../assets/svg/cross.svg"
            class="report-list--header--row-icon"
          ></ion-icon>
        </ion-col>
        <ion-col size="10" class="report-list--header--title text-center">{{
          'addTxnToReportDialog.title' | transloco
        }}</ion-col>
        <ion-col size="1" class="report-list--header--row-icon-container">
          <ion-icon
            data-testid="addIcon"
            (click)="onClickCreateReportTask()"
            src="../../../../assets/svg/plus-square.svg"
            class="report-list--header--row-icon"
          ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-header>
<div class="fy-modal">
  <div *ngIf="data.openReports.length; else zeroState" class="report-list--container">
    <div class="report-list--list" *ngFor="let report of data.openReports; index as i">
      <div data-testid="report" mat-ripple (click)="addTransactionToReport(report)">
        <div *ngIf="i > 0" class="report-list--divider"></div>
        <ion-grid class="ion-no-padding">
          <ion-row class="report-list--report-card">
            <ion-col size="0.75">
              <mat-icon class="report-list--list-icon" svgIcon="list-new"></mat-icon>
            </ion-col>
            <ion-col size="8.25" class="ion-no-padding">
              <div class="report-list--purpose">{{ report.purpose }}</div>
              <div class="report-list--count">
                {{ report.num_expenses }}
                {{
                  (report.num_expenses === 1 ? 'addTxnToReportDialog.expense' : 'addTxnToReportDialog.expenses')
                    | transloco
                }}
              </div>
              <div class="report-list--currency-amount-container">
                <span class="report-list--currency">{{ reportCurrencySymbol }}</span>
                <span class="report-list--amount">
                  {{ { value: report.amount || 0, currencyCode: report.currency, skipSymbol: true } | exactCurrency }}
                </span>
              </div>
            </ion-col>
            <ion-col size="2.75" class="ion-no-padding ion-text-right">
              <div class="ion-text-right">
                <div class="text-center report-list--state state-pill state-{{ report.state | reportState }}">
                  {{ report.state | reportState | titlecase }}
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
  <ng-template #zeroState>
    <app-fy-zero-state
      image="../../../../../assets/images/zero-states/reports.png"
      [message]="'addTxnToReportDialog.noReports' | transloco"
      [taskImageStyle]="{ 'max-width': '220px', 'max-height': '124px', width: '220px', height: '124px' }"
      [submessage]="'addTxnToReportDialog.createDraftReportCta' | transloco"
    ></app-fy-zero-state>
  </ng-template>
</div>
