<ion-header mode="md">
  <mat-icon class="fy-modal-top-bar" svgIcon="fy-rectangle"></mat-icon>
  <ion-toolbar mode="md" class="fy-modal-toolbar">
    <ion-buttons slot="end">
      <ion-button (click)="closeAddToReportModal()">
        <mat-icon>close</mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span class="report-list--header">
        Select Report
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="report-list--container">
    <div class="report-list--title">All Open Reports</div>

    <div class="report-list--list" *ngFor="let report of approverPendingReports$|async as approverPendingReports">
      <div class="report-list--report-tile" mat-ripple (click)="addTransactionToReport(report.rp_id)">
        <div class="report-list--date-amount-block">
          <div class="report-list--date-amount-block-date">{{ report.rp_created_at|date: 'MMM dd, yyyy' }}</div>
          <div class="report-list--date-amount-block-amount">{{ report.rp_amount | currency: report.rp_currency: 'symbol-narrow' }}</div>
        </div>
        <div class="report-list--purpose">{{report.rp_purpose}} ({{report.rp_state | snakeCaseToSpaceCase | titlecase}})</div>
      </div>
    </div>
  </div>
</ion-content>
