@if (showDt) {
  <div class="personal-card-transaction--date">
    <ng-container>
      {{ transaction.spent_at | dateFormat }}
    </ng-container>
  </div>
} @else {
  <div class="personal-card-transaction--divider"></div>
}

<div class="personal-card-transaction--body d-flex" (tap)="onTapTransaction()" (press)="onSetMultiselectMode()">
  @if (isSelectionModeEnabled) {
    <div class="expenses-card--checkbox-container">
      <mat-checkbox class="custom-mat-checkbox expenses-card--checkbox" [checked]="isSelected" disabled> </mat-checkbox>
    </div>
  }
  <div class="personal-card-transaction--details">
    <!-- List Icon -->
    <mat-icon class="personal-card-transaction--list-icon" svgIcon="list-new"></mat-icon>

    <!-- Txn details -->
    <div class="personal-card-transaction--vendor-amount-container">
      <!-- Vendor -->
      <div class="personal-card-transaction--vendor">
        {{ transaction.description }}
      </div>

      <!-- Amount -->
      <div class="personal-card-transaction--currency-amount-container">
        <span
          class="personal-card-transaction--currency"
          [ngClass]="{ ' personal-card-transaction--green': transaction.transactionType === 'credit' }"
          >{{ currency }}
        </span>
        <span
          class="personal-card-transaction--amount"
          [ngClass]="{ 'personal-card-transaction--green': transaction.transactionType === 'credit' }"
        >
          {{ { value: transaction.amount, currencyCode: currency, skipSymbol: true } | exactCurrency }}
        </span>
        <span
          class="personal-card-transaction--type"
          [ngClass]="{ ' personal-card-transaction--green': transaction.transactionType === 'credit' }"
        >
          @if (transaction.transactionType === 'debit') {
            {{ 'personalCardTransaction.debit' | transloco }}
          }
          @if (transaction.transactionType === 'credit') {
            {{ 'personalCardTransaction.credit' | transloco }}
          }
        </span>
      </div>

      <!-- Buttons -->
      <div class="personal-card-transaction--button">
        @if (status === 'INITIALIZED' || status === 'HIDDEN') {
          {{ 'personalCardTransaction.createExpense' | transloco }}
        }
        @if (status === 'MATCHED') {
          {{ 'personalCardTransaction.viewExpense' | transloco }}
        }
        @if (!isMatchedCountLoading) {
          <ion-icon [src]="'assets/svg/arrow-right.svg'" class="personal-card-transaction--icon" slot="icon-only">
          </ion-icon>
        }
        @if (isMatchedCountLoading) {
          <ion-spinner name="crescent" class="personal-card-transaction--icon"></ion-spinner>
        }
      </div>
    </div>
  </div>
</div>
