@import '../../../../theme/colors';

.personal-card-transaction {
  &--date {
    color: $grey-light;
    font-size: 14px;
    padding: 16px 0 12px 16px;
    font-weight: 500;

    &__from-reports {
      background-color: $pure-white;
    }
  }

  &--body {
    background-color: $pure-white;
    min-height: 99px;
    padding: 25px 16px;
  }

  &--deatils-block {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--checkbox-container {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 16px;
  }

  &--checkbox {
    width: 20px;
    height: 20px;
  }

  &--divider {
    border-bottom: 1px solid $grey-lighter;
    margin: 0px 16px;
  }

  &--details {
    flex-grow: 3;
    margin: 2px 25px 0px 0px;
    overflow: hidden;
  }

  &--vendor {
    color: $black;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--button {
    color: $text-button-grey;
    font-size: 14px;
    line-height: 18px;
    margin-top: 6px;

    &__not-filled {
      color: $black-light;
    }
  }

  &--currency-amount-container {
    white-space: nowrap;
    flex-grow: 1;
  }

  &--currency {
    color: $black-light;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-right: 2px;
  }

  &--amount {
    color: $black;
    font-size: 20px;
    line-height: 26px;
    margin-right: 2px;
    font-weight: 500;
  }

  &--type {
    color: $grey-light;
    font-size: 12px;
    line-height: 1.3;
    margin-right: 15px;
    font-weight: 400;
  }

  &--icon {
    vertical-align: middle;
    height: 12px;
    margin-top: -1px;
  }

  &--exchange-rate {
    color: $black-light;
    font-size: 12px;
    line-height: 1.25;
    margin-top: 2px;
    white-space: nowrap;
  }

  &--green {
    color: $green;
  }
}
