@import '../../../../theme/colors';

.personal-card-transaction {
  &--date {
    color: $black-light;
    font-size: 14px;
    padding: 24px 16px 16px 16px;
    font-weight: 500;
    background-color: $white;
  }

  &--body {
    background-color: $pure-white;
    min-height: 99px;
    padding: 12px;
  }

  &--deatils-block {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--checkbox-container {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 16px;
  }

  &--checkbox {
    width: 20px;
    height: 20px;
  }

  &--divider {
    border-bottom: 1px solid $grey-lighter;
    margin: 0px 16px;
  }

  &--details {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    flex-grow: 3;
    margin: 2px 25px 0px 0px;
    overflow: hidden;
  }

  &--list-icon {
    width: 16px;
    height: 16px;
    padding-top: 2px;
    color: $black-light;
  }

  &--vendor-amount-container {
    max-width: 90%;
  }

  &--vendor {
    color: $black;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--button {
    color: $brand-primary;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    line-height: normal;

    &__not-filled {
      color: $black-light;
    }
  }

  &--currency-amount-container {
    white-space: nowrap;
    flex-grow: 1;
    margin: 6px 0;
  }

  &--currency {
    color: $black;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    margin-right: 0;
  }

  &--amount {
    color: $black;
    font-size: 16px;
    line-height: 1.3;
    margin-right: 2px;
    font-weight: 500;
  }

  &--type {
    color: $black-light;
    font-size: 10px;
    line-height: 1.3;
    margin-right: 15px;
    font-weight: 400;
  }

  &--icon {
    vertical-align: middle;
    height: 12px;
    margin-top: -1px;
    color: $brand-primary;
  }

  &--exchange-rate {
    color: $black-light;
    font-size: 12px;
    line-height: 1.25;
    margin-top: 2px;
    white-space: nowrap;
  }

  &--green {
    color: $green;
  }
}
