@import '../../../../theme/colors.scss';

.update-mobile-number {
  &--toolbar {
    &__title {
      color: $black;
      margin-left: 20px;
    }

    &__btn {
      font-size: 16px;
      line-height: 1.3;
      color: $brand-primary;
      text-transform: none;
      background: transparent;
      margin-right: 4px;
      min-width: 36px;
    }
  }

  &--input-container {
    padding: 16px 16px 36px;

    &__label {
      margin-right: 8px;
      font-size: 12px;
      color: $black-light;
      line-height: 1.3;
      font-weight: 400;
    }

    &__mandatory {
      color: $red;
    }

    &__input {
      border: 0;
      border-radius: 0;
      font-weight: 400;
      line-height: 1.3;
      color: $blue-black;
      width: 100%;
      padding: 6px 0;
      border-bottom: 1px solid $grey-lighter;

      &__error {
        border-bottom: 1px solid $red;
      }
    }

    &__input:focus {
      border-bottom: 1px solid $blue-black;
    }

    &__error {
      color: $red;
      font-size: 12px;
    }
  }
}
