<div class="card-added">
  <div class="card-added__header">
    <ion-icon class="card-added__tick-icon" src="../../../../assets/svg/check-circle-outline.svg"></ion-icon>
    <span class="card-added__heading">{{ 'cardAdded.cardAdded' | transloco }}</span>
  </div>

  <div class="card-added__expenses-info-container">
    <div class="card-added__expenses-info-icon-container">
      <ion-icon class="card-added__expenses-info-icon" src="../../../../assets/svg/list.svg"></ion-icon>
    </div>
    <span class="card-added__expenses-info-content">{{ 'cardAdded.viewExpensesInfo' | transloco }}</span>
  </div>

  <div class="card-added__debit-card-info" [innerHTML]="'cardAdded.debitCardNote' | transloco"></div>

  <div class="card-added__footer">
    <button class="card-added__got-it-cta" (click)="closeModal()" data-testid="got-it-button">
      {{ 'cardAdded.gotIt' | transloco }}
    </button>
  </div>
</div>
