<div class="card-added">
  <div class="card-added__header">
    <ion-icon class="card-added__tick-icon" src="../../../../assets/svg/tick-circle-outline.svg"></ion-icon>
    <span class="card-added__heading">Card Added</span>
  </div>

  <div class="card-added__expenses-info-container">
    <div class="card-added__expenses-info-icon-container">
      <ion-icon class="card-added__expenses-info-icon" src="../../../../assets/svg/expense.svg"></ion-icon>
    </div>
    <span class="card-added__expenses-info-content">View your corporate card expenses on the Expenses page.</span>
  </div>

  <div class="card-added__debit-card-info">
    <b>Note on Debit Cards:</b> If you have enrolled a debit card please note that not all transactions with your
    enrolled debit card may be eligible for expense tracking including PIN-based purchases. Do not use a Personal
    Identification Number (PIN) when paying for your purchase if you want the transaction to be available under this
    service.
  </div>

  <div class="card-added__footer">
    <button class="card-added__got-it-cta" (click)="closeModal()">Got it</button>
  </div>
</div>
