@import '../../../../theme/colors.scss';

.card-added {
  padding: 24px;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-bottom: 16px;
    border-bottom: 1px solid $lighter-grey;
  }

  &__tick-icon {
    width: 48px;
    height: 48px;
    color: $green;
  }

  &__heading {
    font-size: 18px;
    font-weight: 500;
  }

  &__expenses-info-container {
    padding-block: 16px;
    border-bottom: 1px solid $lighter-grey;
    display: flex;
    gap: 16px;
  }

  &__expenses-info-icon-container {
    background-color: $off-white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &__expenses-info-icon {
    width: 14px;
    height: 14px;
    color: $dark-grey;
  }

  &__expenses-info-content {
    color: $blue-black;
    font-size: 14px;
  }

  &__debit-card-info {
    margin-block: 16px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid $grey;
    line-height: 1.5;
    color: $black-light;
    font-size: 10px;
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

  &__got-it-cta {
    padding: 12px 16px;
    min-width: 100px;
    min-height: 40px;
    background: $pink-gradient;
    color: $pure-white;
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
  }
}
