<div *ngIf="isCCCEnabled$ | async" class="card-stats">
  <ng-container *ngIf="cardDetails$ | async as cardDetails">
    <ng-container *ngIf="cardDetails?.length > 0">
      <div class="card-stats__header">CARD SPEND</div>
      <app-spent-cards
        [cardDetails]="cardDetails"
        [homeCurrency]="homeCurrency$ | async"
        [currencySymbol]="currencySymbol$ | async"
      ></app-spent-cards>
    </ng-container>

    <!-- Show add card empty state when the user doesn't have any cards, and has visa / mastercard rtf enabled to allow adding cards -->
    <ng-container *ngIf="cardDetails?.length === 0 && (canAddCorporateCards$ | async)">
      <div class="card-stats__header">CARD SPEND</div>
      <div class="card-stats__zero-state">
        <app-add-card [showZeroStateMessage]="true"></app-add-card>
      </div>
    </ng-container>
  </ng-container>
</div>
