<ng-container *ngIf="isConnected$ | async">
  <div *ngIf="isCCCEnabled$ | async" class="card-stats">
    <ng-container *ngIf="cardDetails$ | async as cardDetails">
      <ng-container *ngIf="cardDetails?.length">
        <div class="card-stats__header">CARD SPEND</div>
        <ng-container *ngIf="(isVirtualCardsEnabled$ | async) === false">
          <app-spent-cards
            [cardDetails]="cardDetails"
            [homeCurrency]="homeCurrency$ | async"
            [currencySymbol]="currencySymbol$ | async"
            [showAddCardSlide]="canAddCorporateCards$ | async"
            (addCardClick)="openAddCorporateCardPopover()"
          ></app-spent-cards>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="(isVirtualCardsEnabled$ | async) === true">
        <ng-container *ngIf="virtualCardDetails$ | async as cardDetails">
          <app-spent-cards
            [cardDetails]="cardDetails"
            [homeCurrency]="homeCurrency$ | async"
            [currencySymbol]="currencySymbol$ | async"
            [showAddCardSlide]="canAddCorporateCards$ | async"
            (addCardClick)="openAddCorporateCardPopover()"
          ></app-spent-cards>
        </ng-container>
      </ng-container>

      <!-- Show add card empty state when the user doesn't have any cards, and has visa / mastercard rtf enabled to allow adding cards -->
      <ng-container *ngIf="cardDetails?.length === 0 && (canAddCorporateCards$ | async)">
        <div class="card-stats__header">CARD SPEND</div>
        <div class="card-stats__zero-state">
          <app-add-card [showZeroStateMessage]="true" (addCardClick)="openAddCorporateCardPopover()"></app-add-card>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
