@import '../../../../theme/colors.scss';

.card-stats {
  margin-bottom: 50%;

  &__header {
    font-size: 14px;
    line-height: 18px;
    color: $grey-light;
    font-weight: 500;
    margin: 16px 16px 0 16px;
  }

  &__zero-state {
    height: 358px;
    margin-top: 18px;
    padding-inline: 16px;
    padding-bottom: 8px;
  }
}
