@import '../../../../../theme/colors.scss';

.policy-violation-action {
  &--container {
    padding: 16px;
    border: 1px solid $alice-blue;
    &__multiple-actions {
      border-radius: 4px 4px 0px 0px;
    }
    &__single-action {
      border-radius: 4px;
    }
  }

  &--icon {
    position: relative;
    float: left;
    margin-top: 2px;
    width: 16px;
  }

  &--message {
    margin-left: 24px;
  }
}
