@import '../../../../theme/colors';

.zero-state {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &--image {
    margin: 12px;
    max-height: 128px;
    max-width: 128px;
    &__unscaled {
      max-height: initial;
      max-width: initial;
    }
  }

  &--header {
    font-size: 16px;
    display: block;
    margin-bottom: 16px;
    color: #4a4a4a;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
    &__new {
      font-size: 18px;
      line-height: 28px;
      color: $dark-blue;
    }
  }

  &--description {
    color: #ababab;
    display: flex;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 24px;
    padding: 0 8px;
    text-align: center;

    &__new {
      font-size: 14px;
      line-height: 20px;
      color: $blue-black;
      font-weight: 400;
      padding: 0 24px;
    }
  }

  :host ::ng-deep &--icon {
    height: 20px;
    width: 18px;
    padding: 0 4px;
  }
}
