@use '../../../../theme/colors.scss';

.card-nickname {
  opacity: 0.7;
  font-size: 12px;
}

.card-number {
  display: flex;
  align-items: center;

  &__masked-digits {
    margin-top: 4px;
    display: flex;
    gap: 4px;

    &__asterisk {
      font-size: 16px;
      line-height: 16px;
    }

    &__fourth-asterisk {
      margin-right: 10px;
    }
  }

  &__unmasked-digits {
    font-size: 16px;
    font-weight: 500;
    color: colors.$blue-black;

    &__with-nickname {
      line-height: 1.25;
    }

    &__without-nickname {
      line-height: 2.5;
    }
  }
}
