$brand-secondary-primary: #220033;
$page-background-color: #f2f2f2;
$gray: #ccc;
$header-background-color: #fff;
$item-border-color: #e0e0e0;
$menu-botton-color: #000;

.help {
  &--header {
    background-color: $header-background-color;
    border-bottom: 1px solid $item-border-color;
  }

  &--title {
    padding: 24px 16px;
    font-size: 24px;
    height: 100%;
    line-height: 1.3;
    color: $menu-botton-color;
    padding-left: 64px;
    text-align: left;
  }

  &--header_menubutton {
    color: $menu-botton-color;
  }

  &--container {
    --background: #f2f2f2;
  }

  &--btn-container {
    margin: 30px;

    &-help-button {
      width: 100%;
      font-weight: 400;
      min-height: 40px;
      max-height: 50px;
      background-color: $gray;
      margin: 8px 0 15px 0;
      border-radius: 8px;
      font-size: 16px;
    }
  }

}
