$brand-secondary-primary: #220033;
$page-bg: #f2f2f2;
$white: #fff;
$gray: #ccc;

.header-container {
	--background: #220033;
	text-align: center;
	color: white;
}

.help-content {
	--background: #f2f2f2;

	&--helper-buttons {
		padding: 30px;

		&--btn-help {
			width: 100%;
			font-weight: 400;
			height: 50px;
      background-color: $gray;
			margin: 8px 0 15px 0;
			border-radius: 8px;
			font-size: 16px;
			
			&--with-margin {
				margin-bottom: 24px;
			}
		}
	}

	&--divider-title {
		position: relative;
		margin-left: 20px;

		&--sub {
			padding-right: 10px;
			font-size: 22px;
		}

		&--divider {
			margin-top: -12px;
			margin-left: 60px;
			width: 100%;
			height: inherit;
			border-top: 1px solid black;
		}
	}

	&--help-cards-container {
		text-align: center;
		padding-top: 10px;
		margin: 30px 20px;

		&--help-card {
			background-color: white;
			padding: 15px;
			margin-bottom: 20px;
			height: 120px;
			border-radius: 8px;

			&--title {
				display: flex;
				align-items: center;
				font-size: 18px;
				height: 50px;
				text-align: center;
				justify-content: center;
				line-height: 1.2;
				border-bottom: 1px solid #ccc;
				margin-bottom: 10px;
			}

			&--sub-title {
				font-size: 14px;
				height: 20px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}
}