@import '../../../theme/colors.scss';

$background-color: #fff;

.split-expense {
  &--header {
    background-color: $background-color;
    // height: 80px !important;
    border-bottom: 1px solid $grey-lighter;
    // &-toolbar {
    //   border-bottom: 1px solid $grey-lighter;
    // }

    &-closebutton {
      height: 60px;
    }

    &-block {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    &-title {
      color: $black-2;
      font-size: 20px;
      font-weight: 500;
      margin: 0 auto;
    }

    &-save {
      --color: $brand-primary;
      color: $brand-primary;
      width: 66px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      text-transform: none;
      margin: 0;
    }
  }

  &--top-bar {
    background-color: $pure-white;
    padding: 16px 16px 8px 16px;
    gap: 10px;
  }

  &--container {
    padding: 0 16px 16px;
    margin-top: -12px;
  }

  &--date-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
  }

  &--main-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
  }

  &--internal-block {
    padding: 14px 0;
    background: $pure-white;
    border: 0;
    line-height: 1;
    height: 80px;
    position: relative;

    &:only-child {
      width: 100%;
      flex-grow: 1;
    }

    &:not(:only-child) {
      width: 48%;
      flex-grow: 0;
    }
  }

  &--internal-block-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &--error {
    color: $red;
    line-height: 16px;
    font-size: 12px;
  }

  &--card {
    padding: 16px;
    margin-top: 18px;
    border-radius: 8px;
    border: 1px solid $border-tertiary;
    box-shadow: 0 0 4px 2px $shadow-xs;
  }

  &--card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &--card-header-left-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  &--icon-container {
    padding: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $off-white;
  }

  &--index {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }

  &--split-count-icon {
    width: 20px;
    height: 20px;
  }

  &--remove-icon {
    background: none;
    color: $red;
    height: 20px;
    width: 20px;
  }

  &--amount-percentage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 24px;
  }

  &--percentage {
    margin-left: 16px;
  }

  &--amount-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &--item {
    width: 100%;
    padding: 6px 0;
    background: $pure-white;
    border: 0;
    border-bottom: 1px solid $grey-lighter;
    line-height: 16px;
  }

  &--label {
    width: 100%;
    margin-right: 2px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $black-light;
  }

  &--invalid {
    border-bottom: 1px solid $red;
  }

  &--input {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    height: 24px;
    border: 0;
    color: $blue-black;
    padding: 0;
  }

  &--purpose-input {
    border: 0;
    font-size: 14px;
    line-height: 18px;
    border: none;
    width: 100%;
    padding: 0;
    height: 18px;
    margin: 6px 0;
  }

  &--mandatory {
    color: $brand-primary;
    font-size: 14px;
    font-weight: 400;
  }

  &--date {
    width: 100%;
    padding-top: 0;
  }

  &--date-label {
    width: 100%;
    margin: 0 8px 0 0;
    display: contents;
  }

  &--date-input {
    border: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    border: none;
    width: 100%;
    padding: 0;
    height: 18px;
    margin: 6px 0;
  }

  &--date-invalid {
    float: right;
    color: $red;
    border-bottom: 1px solid $red;
  }

  &--date-error {
    width: 50%;
    float: right;
    color: $red;
    font-size: 12px;
    margin: -12px;
  }

  &--more-actions {
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
    gap: 16px;
    box-shadow: 0px 2px 10px 0px $shadow-lg;
  }

  &--add-more,
  &--split-evenly {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    gap: 8px;
  }

  &--add-more-icon,
  &--split-evenly-icon {
    color: $brand-primary;
    width: 16px;
    height: 16px;
  }

  &--add-more-label,
  &--split-evenly-label {
    color: $blue-black;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
  }

  &--amount-block {
    display: flex;
    padding: 12px;
    border-radius: 8px;
    background: $pink-gradient-light-2;

    &__label {
      font-size: 12px;
      line-height: 18px;
      color: $black-light;
      width: 50%;
    }
  }

  &--split-amount {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $blue-black;
  }

  &--remaining-amount {
    text-align: right;
  }

  &--error-message-block {
    color: $blue-black;
    border-radius: 4px;
    background-color: $pale-pink;
    font-size: 12px;
    padding: 8px 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    margin-top: 6px;
    border: 1px solid $red-1;
  }

  &--error-icon {
    margin-right: 12px;
    color: $red;
    height: 18px;
    width: 18px;
  }
}
