@import "../../../theme/colors.scss";

$menu-botton-color: #000;
$background-color: #fff;

.split-expense {
  &--header {
    background-color: $background-color;
    // height: 80px !important;
    border-bottom: 1px solid $grey-lighter;
    // &-toolbar {
    //   border-bottom: 1px solid $grey-lighter;
    // }

    &-closebutton{
      height: 60px;
    }

    &-block {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    &-title {
      color: $black-2;
      font-size: 20px;
      font-weight: 500;
      margin: 0 auto;
    }

    &-save {
      color: $primary;
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      padding-right: 12px;
    }
  }

  &--top-bar {
    padding: 16px 16px 0 16px;
  }

  &--container {
    padding: 0 16px 16px;
    margin-top: -12px;
  }

  &--main-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--internal-block {
    padding: 14px 0;
    background: $pure-white;
    border: 0;
    line-height: 1;
    width: 48%;
    height: 80px;
  }

  &--error {
    color: $red;
    line-height: 16px;
    font-size: 12px;
  }

  &--card {
    padding: 16px;
    margin-top: 24px;
    border-radius: 8px;
    border: 1px solid $grey-lighter;
  }

  &--card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &--index {
    font-size: 14px;
    font-weight: 500;
    color: $grey-light;
    margin: 0 auto 12px;
    line-height: 18px;
  }

  &--remove {
    margin-left: 43%;
  }

  &--remove-icon {
    background: none;
    height: 18px;
    width: 18px;
  }

  &--amount-percentage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &--percentage {
    margin-left: 16px;
  }

  &--item {
    width: 100%;
    padding: 6px 0;
    background: $pure-white;
    border: 0;
    border-bottom: 1px solid $grey-lighter;
    line-height: 16px;
  }

  &--label {
    width: 100%;
    margin-right: 2px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $black-light;
  }

  &--invalid {
    border-bottom: 1px solid $red;
  }

  &--input {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    height: 24px;
    border: 0;
    color: $blue-black;
    padding: 0;
  }

  &--mandatory {
    color: $primary;
    font-size: 14px;
    font-weight: 400;
  }

  &--date {
    width: 100%;
    padding-top: 0;
  }

  &--date-label {
    width: 100%;
    margin: 0 8px 0 0;
    display: contents;
  }

  &--date-input {
    border: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    border: none;
    width: 100%;
    padding: 0;
    height: 18px;
    margin: 6px 0;
  }

  &--date-invalid {
    float: right;
    color: $red;
    border-bottom: 1px solid $red;
  }

  &--date-error {
    width: 50%;
    float: right;
    color: $red;
    font-size: 12px;
    margin: -12px;
  }

  &--add-more {
    display: flex;
    align-items: center;
    margin: 36px 0;
  }

  &--add-more-icon {
    margin-right: 8px;
  }

  &--add-more-label {
    color: $black-light;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
  }

  &--primary-cta {
    width: 100%;
    height:48px;
    --border-width: 1px;
  }

  &--amount-block {
    display: flex;
    border-bottom: 1px solid $grey-lighter;
    padding: 22px 0 20px 0;

    &__label {
      font-size: 12px;
      line-height: 16px;
      color: $black-light;
      font-weight: 400;
      width: 50%;
    }
  }

  &--split-amount {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: $blue-black;
  }

  &--limit {
    padding: 16px;
    margin-bottom: 16px;
  }

  &--error-message-block {
    width: 100%;
    color: $pure-white;
    padding: 16px;
    display: flex;
    align-items: center;
    height: 44px;
  }

  &--error-message {
    margin: 0 !important;
  }

  &--error-container {
    display: flex;
    background-color: $red;
    margin: 16px;
    border-radius: 8px;
  }

  &--error-icon {
    margin-right: 10px;
  }

  &--footer {
    background-color: $pure-white;
  }
}
