<ion-header class="ion-no-border">
  <div class="split-expense--header">
    <ion-toolbar class="ion-no-border split-expense--header-toolbar">
      <ion-buttons mode="md" slot="end">
        <ion-button class="split-expense--header-closebutton" (click)="goBack()" [disabled]="saveSplitExpenseLoading">
          <mat-icon>close</mat-icon>
        </ion-button>
      </ion-buttons>

      <ion-title class="split-expense--header-title" mode="md">Split Expense</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="split-expense--container">

    <p class="split-expense--message">You are splitting across {{ splitType }}. <span *ngIf="currency && amount">The splits must total upto {{ currency }} {{ amount  }}.</span></p>
    <p class="split-expense--warning">Splitting an expense cannot be undone</p>


    <div class="split-expense--card" *ngFor="let splitExpenseForm of splitExpensesFormArray.controls; index as i">

      <div class="split-expense--card-header">
        <p class="split-expense--index">Split {{ i + 1 }}</p>
        <button type="button" class="split-expense--remove-card-button" *ngIf="splitExpensesFormArray.controls.length > 2" (click)="remove(i)">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <ng-container [formGroup]="splitExpenseForm">
        <div class="split-expense--amount-percentage">
          <div class="split-expense--item">
            <span class="split-expense--label" [ngClass]="{'split-expense--label-invalid': splitExpenseForm.controls.amount.touched && !splitExpenseForm.controls.amount.valid || (splitExpenseForm.controls.amount.value < 0 && !(isCorporateCardsEnabled$|async))}">{{currency}}</span>
            <span class="split-expense--mandatory">*</span>
            <input inputmode="decimal" [min]="(isCorporateCardsEnabled$|async) ? null : 0.01" type="number" class="split-expense--input" formControlName="amount" (ngModelChange)="onChangeAmount(splitExpenseForm, i)">
          </div>

          <div class="split-expense--item split-expense--percentage">
            <span class="split-expense--label">%</span>
            <input inputmode="decimal" type="number" class="split-expense--input" formControlName="percentage" [min]="0.01" (ngModelChange)="onChangePercentage(splitExpenseForm, i)">
          </div>
        </div>

        <div class="split-expense--main-block">
          <div class="split-expense--internal-block" *ngIf="splitType === 'categories'">
            <div *ngIf="categories$|async as categories">
              <app-fy-select 
                [label]="'Category'"
                formControlName="category" 
                [options]="categories"
                [mandatory]="true"
                [cacheName]="'splitExpenseCategoryCache'">
              </app-fy-select>
            </div>
          </div>

          <div class="split-expense--internal-block" *ngIf="splitType === 'projects'">
            <app-fy-select-project 
              [label]="'Project'"
              formControlName="project"
              [mandatory]="true"
              [cacheName]="'splitExpenseProjectCache'">
            </app-fy-select-project>
          </div>

          <div class="split-expense--internal-block" *ngIf="splitType === 'cost centers'">
            <div *ngIf="costCenters$|async as costCenters">
              <app-fy-select 
                [label]="'Cost Centers'"
                formControlName="cost_center" 
                [options]="costCenters"
                [mandatory]="true"
                [cacheName]="'splitExpenseCostCenterCache'">
              </app-fy-select>
            </div>
          </div>

          <div class="split-expense--item split-expense--date" [ngClass]="{'split-expense--date-invalid': splitExpenseForm.controls.txn_dt.touched && !splitExpenseForm.controls.txn_dt.valid}">
            <div class="split-expense--label split-expense--date-label">Date </div>
            <span class="split-expense--mandatory">*</span>
            <input appFormatDate class="split-expense--input split-expense--date-input date-input__format" type="date" formControlName="txn_dt" [min]="minDate" [max]="maxDate">
          </div>
        </div>

        <div class="split-expense--date-error" *ngIf="splitExpenseForm.controls.txn_dt.touched && !splitExpenseForm.controls.txn_dt.valid">
          Please select a valid date
        </div>

        <div class="split-expense--label-invalid" *ngIf="splitExpenseForm.controls.amount.value < 0 && !(isCorporateCardsEnabled$|async)"></div>
      </ng-container>
    </div>

    <div class="split-expense--add-more" *ngIf="splitExpensesFormArray.controls.length < 10">
      <button type="button" class="split-expense--add-more-button" (click)="add()">
        <mat-icon class="split-expense--add-more-icon">add</mat-icon>
      </button>
      <p class="text-center split-expense--add-more-label">Split More</p>
    </div>

  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar mode="md">
    <div class="split-expense--error-message-block" *ngIf="showErrorBlock">
      <p class="split-expense--error-message">{{errorMessage}}</p>
    </div>

    <div class="split-expense--sub-footer" *ngIf="amount">
      <div class="split-expense--sub-footer__total">Total:
        <span class="split-expense--split-amount">{{ currency }} {{totalSplitAmount}}/{{amount}}</span>
      </div>
      <div class="split-expense--sub-footer__remaining">Remaining:
        <span class="split-expense--split-amount">{{ currency }} {{ remainingAmount }}</span>
      </div>
    </div>

    <div class="split-expense--cta-container">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button class="split-expense--primary-cta" fill="outline" color="fyle-primary" (click)="goBack()"
              [disabled]="saveSplitExpenseLoading">
              CANCEL
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button class="split-expense--primary-cta" fill="solid" color="fyle-primary" (click)="save()"
            appFormButtonValidation [loading]="saveSplitExpenseLoading" [loadingText]="'SPLITTING'">
              SPLIT
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </ion-toolbar>
</ion-footer>
