@import "../../../theme/colors.scss";

$menu-botton-color: #000;
$background-color: #fff;

.split-expense {
  &--header {
    background-color: $background-color;
    // height: 80px !important;
    border-bottom: 1px solid $grey-lighter;
    // &-toolbar {
    //   border-bottom: 1px solid $grey-lighter;
    // }

    &-closebutton{
      height: 65px;
    }

    &-title {
      color: #4a4a4a;
      font-size: 20px;
      font-weight: 700;
    }
  }

  &--container {
    padding: 0 16px 16px;
  }

  &--main-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--internal-block {
    padding: 16px 0;
    background: #fff;
    border: 0;
    line-height: 1;
    width: 50%;
  }

  &--message {
    font-size: 16px;
    color: #ababab;
  }

  &--warning {
    margin-top: 16px;
    border-radius: 4px;
    padding: 8px 16px;
    background-color: #fff9e9;
    color: #7b7b7b;
  }

  &--card {
    padding: 16px;
    margin-top: 24px;
    border-radius: 8px;
    border: 1px solid $grey-lighter;
  }

  &--card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &--index {
    font-size: 16px;
    font-weight: 500;
    color: #4a4a4a;
  }

  &--remove-card-button {
    transition: opacity 0.1s;
    padding: 0 6px;
    min-width: initial;
    border-color: transparent;
    background: none;
    color: #444;
  }

  &--amount-percentage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &--percentage {
    margin-left: 16px;
  }

  &--item {
    width: 100%;
    padding: 6px 0;
    background: #fff;
    border: 0;
    border-bottom: 1px solid $grey-lighter;
    line-height: 16px;
  }

  &--label {
    width: 100%;
    margin-right: 2px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #5A5D72;
  }

  &--invalid {
    border-bottom: 1px solid $red;
  }

  &--input {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    height: 24px;
    border: 0;
    color: $blue-black;
    padding: 0;
  }

  &--mandatory {
    color: $primary;
    font-size: 14px;
    font-weight: 400;
  }

  &--date {
    width: 50%;
    padding: 2px 0;
    margin-left: 16px;
  }

  &--date-label {
    width: 100%;
    margin-bottom: 4px;
    display: contents;
  }

  &--date-input {
    width: 100%;
    height: 32px;
  }

  &--date-invalid {
    float: right;
    color: $red;
    border-bottom: 1px solid $red;
  }

  &--date-error {
    width: 50%;
    float: right;
    color: $red;
    font-size: 12px;
    margin: -12px;
  }

  &--add-more {
    justify-content: center;
    margin-top: 16px;
    border-radius: 6px;
    box-shadow: 0 5px 28px -15px #838fa1 !important;
    display: flex;
    flex-direction: column;
  }

  &--add-more-button {
    padding: 0 6px 10px 6px;
    min-width: inherit;
    border-color: transparent;
    background: none;
    color: $primary;
    &:focus {
      outline: 0;
    }
  }

  &--add-more-icon {
    font-size: 30px;
    font-weight: 600;
  }

  &--add-more-label {
    color: #3a94f6;
    font-size: 16px;
    text-align: center !important;
  }

  &--primary-cta {
    width: 100%;
    height:48px;
    --border-width: 1px;
  }

  &--sub-footer {
    display: flex;
    padding-top: 10px;
    padding-bottom: 5px;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.1) !important;
    border-top: 1px solid #e8e8e8;
    &__total {
      width: 47%;
      margin-left: 15px;
      color: #4a4a4a;
      font-weight: 500;
    }

    &__remaining {
      text-align: right;
      width: 45%;
      color: #4a4a4a;
      font-weight: 500;
    }
  }

  &--split-amount {
    color: #ababab;
    font-weight: normal;
  }

  &--cta-container {
    border-top: 1px solid #e8e8e8;
    background-color: #fff;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.1) !important;
  }

  &--error-message-block {
    width: 100%;
    bottom: 80px;
    left: 0;
    background: rgba(221, 0, 0, 0.7);
    color: #fff;
    padding: 16px;
  }

  &--error-message {
    font-size: 16px;
    margin: 0 !important;
  }
}
