$title: #161528;
$header: #A9ACBC;
$background-color: #fafafa;

$toolbar-border-color: #e6e6e6;

$card-background: #FFFFFF;
$card-amount: #161528;
$card-title: #2C304E;

$badge-background: #ffffff66;
$badge-value: #fff;
$badge-highlight-black: #464D57;
$badge-highlight-green: #66BB6A;
$badge-highlight-blue: #5C98E5;
$badge-name: #2C304E;

$footer-background: #fff;
$footer-primary-cta-shadow: #d7d7d799;
$footer-primary-button-gradient: linear-gradient(137.88deg, #FF3366 14.22%, #FE5196 85.5%);
$footer-primary-button-container: #fe4c8e94;
