$black: #161528 !default;
$black-light: #5a5d72 !default;
$black-2: #161528 !default;
$grey-light: #a9acbc !default;
$white: #fafafa !default;
$grey-lightest: #e6e6e6 !default;
$pure-white: #fff !default;
$blue-black: #2c304e !default;
$translucent-white: #ffffff66 !default;
$translucent-grey: #dfdfe280 !default;
$highlight-black: #464d57 !default;
$highlight-green: #66bb6a !default;
$highlight-blue: #5c98e5 !default;
$pink-shadow: #d7d7d799 !default;
$brand-primary: #f36 !default;
$brand-primary-light: #fe5196 !default;
$pink: #fe4c8e !default;
$primary: #f36 !default;
$primary-shadow: #fe4c8e94 !default;
$grey-lighter: #dfdfe2 !default;


$pink-gradient: linear-gradient(137.88deg, $brand-primary 14.22%, $brand-primary-light 85.5%);
