$black: #161528 !default;
$black-2: #161528 !default;
$black-3: #0000004d !default;
$black-4: rgba(0, 0, 0, 0.3) !default;
$black-light: #5a5d72 !default;
$translucent-black: rgba(0, 0, 0, 0.2) !default;
$pure-black: #000 !default;

$grey: #dfdfe2 !default;
$grey-2: rgba(223, 223, 226, 0.7) !default;
$gray-3: #ababab !default;
$grey-4: #f9f9f9;
$grey-5: #e5e5e5;
$grey-6: #e0e0e0 !default;
$grey-7: #eeeeee !default;
$grey-8: #666 !default;
$grey-9: #fafcff !default;
$grey-light: #a9acbc !default;
$grey-light-2: #4a4a4a !default;
$grey-lighter: #dfdfe2 !default;
$grey-lightest: #e6e6e6 !default;
$light-grey: #f2f2f2 !default;
$lighter-grey: #ececec !default;
$dark-grey: #414562 !default;
$outline-grey: #eaeaeb !default;
$border-grey: #dfdfe2d7 !default;
$border-translucent-grey: #dfdfe24d !default;
$translucent-grey: #dfdfe280 !default;
$transparent-grey: rgba(255, 255, 255, 0.12) !default;
$transparent-pearl-grey: rgba(215, 215, 215, 0.5) !default;

$white: #fafafa !default;
$pure-white: #fff !default;
$translucent-white: #ffffff66 !default;
$translucent-white-2: #ffffff99 !default;
$off-white: #f5f5f5 !default;

$highlight-black: #464d57 !default;
$highlight-green: #66bb6a !default;
$highlight-blue: #5c98e5 !default;

$pink-shadow: #d7d7d799 !default;
$black-shadow: rgba(0, 0, 0, 0.1) !default;

$brand-primary: #ff3366 !default;
$brand-primary-light: #fe5196 !default;

$pink: #fe4c8e !default;

$primary-shadow: #fe4c8e94 !default;

$green: #24a148 !default;
$green-1: #24a148 !default;

$blue: #0077ee !default;
$blue-1: #2896f3 !default;
$blue-2: #ebf3fc !default;
$blue-3: #252841 !default;
$blue-black: #2c304e !default;
$light-blue: #f7f7fb !default;
$dark-blue: #1c1f36 !default;

$alice-blue: #eff5fc !default;
$pale-orange: #ffefb7 !default;
$floral-white: #fffcf5 !default;

$lavender: #f0f0f2 !default;

$snow-white: #fef6f6 !default;
$pale-pink: #fbe8e9 !default;

$red: #da1e28 !default;
$red-1: #da1e2817 !default;
$red-2: #b8141d;

$dark-yellow: #e1af05 !default;

$light-purple: #fbf7f9 !default;

$purple-gradient: linear-gradient(97.33deg, #e1eeff 26.8%, #ffe4fb 97.18%);

$pink-gradient: linear-gradient(162.38deg, $brand-primary 3.01%, $brand-primary-light 111.5%);
$pink-gradient-2: linear-gradient(97.33deg, #e1eeff 26.8%, #ffe4fb 97.18%);
$pink-gradient-3: linear-gradient(97.33deg, #ffe4fb 26.8%, #e1eeff 97.18%);
$pink-gradient-light: linear-gradient(90deg, #ff758c 0%, #ff7eb3 100%);

$light-pink: #fff2f3 !default;

$text-button-grey: #8c8fa6;

$reported-color: #4798ff;
$approved-color: #67bc53;
$paid-color: #3d8b3d;
$fyled-color: #f90;
$sent-back-color: #da1e28;

$ccc-bank-name: #c4cae8;
$rejected-color: #d50000;

// State Specific Map
$states: (
  'draft': $highlight-black,
  'incomplete': #da1e28,
  'complete': $fyled-color,
  'reported': #2196f3,
  'inquiry': #da1e28,
  'sent_back': #da1e28,
  'auto_flagged': darken(#4a90e2, 20%),
  'rejected': $rejected-color,
  'approved': $highlight-green,
  'payment_pending': $highlight-green,
  'payment_processing': darken(#5cb85c, 8%),
  'paid': darken(#5cb85c, 15%),
  'disabled': $grey-8,
  //state pill in advance requests
  'pending': #2196f3,
  'issued': #3d8b3d,
  //adding new states for advance colors
  'pendingApproval': #1ab6bb,
  'cancelled': #d0021b,
  'closed': #3375ad,
  'pulledBack': #34495e,
  'pulled': #34495e,
);

$fdl-state-bg-map: (
  'draft': #ebedef,
  'incomplete': #fce9ea,
  'complete': #f4edff,
  'reported': #eef1fe,
  'sent_back': #fce9ea,
  'approved': #e7f3f4,
  'payment_pending': #e7f3f4,
  'payment_processing': #e7f3f4,
  'pending': #e7f3f4,
  'paid': #eef8f2,
  'pendingApproval': #e7f3f4,
  'pendingClosure': #e7f3f4,
  'inquiry': #fce9ea,
  'closed': #e7f3f4,
  'rejected': #fce9ea,
  'booked': #eef8f2,
  'pulledBack': #ebedef,
  'pulled': #ebedef,
  'disabled': #ebedef,
);

$fdl-state-color-map: (
  'draft': #34495e,
  'incomplete': #da1e28,
  'complete': #8e46ff,
  'reported': #556ef2,
  'sent_back': #da1e28,
  'approved': #077e8c,
  'payment_pending': #077e8c,
  'payment_processing': #077e8c,
  'pending': #077e8c,
  'paid': #55b07d,
  'pendingApproval': #077e8c,
  'pendingClosure': #077e8c,
  'inquiry': #da1e28,
  'closed': #077e8c,
  'rejected': #da1e28,
  'booked': #55b07d,
  'pulledBack': #34495e,
  'pulled': #34495e,
  'disabled': #34495e,
);

$fdl-state-border-color-map: (
  'draft': #c6ccd2,
  'incomplete': #f5c0c3,
  'complete': #dbc5ff,
  'reported': #d9def8,
  'sent_back': #f5c0c3,
  'approved': #c9e1e4,
  'payment_pending': #c9e1e4,
  'payment_processing': #c9e1e4,
  'pending': #c9e1e4,
  'paid': #d9ebe1,
  'pendingApproval': #c9e1e4,
  'pendingClosure': #c9e1e4,
  'inquiry': #f5c0c3,
  'closed': #c9e1e4,
  'rejected': #f5c0c3,
  'booked': #d9ebe1,
  'pulledBack': #c6ccd2,
  'pulled': #c6ccd2,
  'disabled': #c6ccd2,
);
