$white: #fff;
$fyled-pill: #f90;
$draft-pill: #464d57;
$reported-pill: #2196f3;
$approved-pill: #66bb6a;
$payment-processing-pill: #47a447;
$paid-pill: #3d8b3d;
$light-grey-border: #cccdd7;

.ccc-classified-actions {
  &--toolbar {
    border-bottom: 1px solid #e0e0e0;
  }

  &--card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 4px;
    padding: 24px;
  }

  &--currency {
    color: #ababab;
    font-size: 20px;
  }

  &--amount {
    font-size: 20px;
    margin-left: 8px;
    font-weight: 500;
    color: #4a4a4a;
  }

  &--vendor {
    padding-top: 4px;
    color: #ababab;
    font-size: 14px;
  }

  &--date {
    padding-top: 4px;
    color: #4a4a4a;
  }

  &--action {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 22px 16px;
    color: #5a5d72;
    margin: 0 12px;
    justify-content: space-between;
  }

  &--classify-container {
    margin: 16px 8px 12px 8px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    padding: 16px 18px 12px 18px;
  }

  &--classify-container-header {
    font-size: 12px;
    color: #797980;
  }

  &--classify-container-shimmers {
    display: flex;
    justify-content: space-between;
  }

  &--classify-container-shimmer {
    padding-top: 14px;
    height: 24px;
    &__small {
      width: 48px;
    }

    &__medium {
      width: 60px;
    }

    &__large {
      width: 148px;
    }
  }

  &--classify-details {
    display: flex;
    padding-top: 14px;
    padding-bottom: 12px;
    color: #5a5d72;
    &-date {
      min-width: 60px;
      padding-right: 16px;
    }

    &-amount {
      min-width: 90px;
      padding-right: 16px;
    }
  }

  &--header {
    font-size: 14px;
    font-weight: 700;
    line-height: 2.7;
  }

  &--body {
    margin: 18px;
    border: 1px solid #f7f7f7;
    border-radius: 4px;
    padding: 18px;
  }

  &--container {
    border: 1px solid #f7f7f7;
    border-radius: 4px;
    padding: 18px;
    background: #f7f7f7;
  }

  &--input-container {
    display: flex;
    align-items: center;
    padding: 12px 0;
  }

  &--input-container-title {
    min-width: 120px;
    color: #4a4a4a;
  }

  &--input-container-value {
    color: #4a4a4a;
    font-weight: 500;
  }

  &--input-container-shimmers {
    margin-right: 12px;
    height: 14px;
  }

  &--input-container-shimmers-right {
    margin-right: 36px;
    height: 14px;
  }

  &--pill {
    font-size: 12px;
    display: inline-block;
    color: $white;
    border-radius: 4px;
    padding: 2px 5px;

    &__fyled {
      background-color: $fyled-pill;
    }

    &__incomplete {
      background-color: $draft-pill;
    }

    &__reported {
      background-color: $reported-pill;
    }

    &__approved {
      background-color: $approved-pill;
    }

    &__payment_pending {
      background-color: $approved-pill;
    }

    &__payment_processing {
      background-color: $payment-processing-pill;
    }

    &__paid {
      background-color: $paid-pill;
    }
  }

  &--button {
    width: 140px;
    height: 40px;
  }

  &--footer {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #abababab;
    padding: 12px;
  }

  &--primary-cta {
    height: 48px;
    font-size: 14px;
    font-weight: 700;
    margin: 14px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid $light-grey-border;
  }

  &--action-internal {
    display: flex;
    align-items: center;
  }

  &--action-btn {
    color: #f36;
    font-weight: 500;
  }

  &--alert-container {
    margin: 0 16px;
  }
}
