<ion-header mode="md">
  <ion-toolbar class="ccc-classified-actions--toolbar">
    <ion-buttons mode="md" slot="end">
      <ion-button
        [routerLink]="['/','enterprise','corporate_card_expenses', {pageState: 'classified'}]"
        routerLinkActive="router-link-active"
      >
        <mat-icon>close</mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="md" class="page-title"> Transaction Details </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="cccExpense$|async as cccExpense">
    <div class="ccc-classified-actions--card">
      <div>
        <span class="ccc-classified-actions--currency"> {{cccExpense.currency}} </span>
        <span class="ccc-classified-actions--amount"> {{cccExpense.amount}} </span>
      </div>
      <div class="ccc-classified-actions--date">{{cccExpense.txn_dt | date: 'MMM dd, YYYY'}}</div>
      <div class="ccc-classified-actions--vendor">
        <ng-container *ngIf="cccExpense.vendor; else description"> {{cccExpense.vendor | ellipsis:25}} </ng-container>
        <ng-template #description>
          <ng-container *ngIf="cccExpense.description" ; else unspecified>
            {{cccExpense.description | ellipsis:25}}
          </ng-container>
          <ng-template #unspecified> {{ 'Unspecified vendor /Description' }} </ng-template>
        </ng-template>
      </div>
    </div>

    <ng-container *ngIf="isCCCMatched$|async as isCCCMatched; else cccIsNotMatched">
      <ng-container *ngIf="canUnmatch$|async; else cannotUnmatch">
        <div class="ccc-classified-actions--alert-container">
          <app-fy-alert-info
            [message]="'This is a matched transaction. Click on unmatch to remove the classification'"
            [type]="'information'"
          ></app-fy-alert-info>
        </div>
      </ng-container>
      <ng-template #cannotUnmatch>
        <div class="ccc-classified-actions--alert-container">
          <app-fy-alert-info
            [message]="'This is a matched transaction and has been reconciled.'"
            class="ccc-classified-actions--alert-container"
            [type]="'information'"
          ></app-fy-alert-info>
        </div>
      </ng-template>
    </ng-container>
    <ng-template #cccIsNotMatched>
      <div class="ccc-classified-actions--alert-container" *ngIf="canUnmarkPersonal$|async">
        <app-fy-alert-info
          [message]="'This is marked as a personal transaction. Click unmark to revert the classification'"
          class="ccc-classified-actions--alert-container"
          [type]="'information'"
        ></app-fy-alert-info>
      </div>
      <div class="ccc-classified-actions--alert-container" *ngIf="(collectedBack$|async) && !cccExpense.personal">
        <app-fy-alert-info
          [message]="'This transaction has been collected back.'"
          class="ccc-classified-actions--alert-container"
          [type]="'information'"
        ></app-fy-alert-info>
      </div>
      <div class="ccc-classified-actions--alert-container" *ngIf="(collectedBack$|async) && cccExpense.personal">
        <app-fy-alert-info
          [message]="'This is a personal transaction and has been collected back.'"
          class="ccc-classified-actions--alert-container"
          [type]="'information'"
        ></app-fy-alert-info>
      </div>
      <div class="ccc-classified-actions--alert-container" *ngIf="canUndoDismissal$|async">
        <app-fy-alert-info
          [message]="'This is a dismissed transaction. Click undo to revert the classification'"
          class="ccc-classified-actions--alert-container"
          [type]="'information'"
        ></app-fy-alert-info>
      </div>
      <div class="ccc-classified-actions--alert-container" *ngIf="cccExpense.reversed">
        <app-fy-alert-info
          [message]="'This transaction has been reversed completely.'"
          class="ccc-classified-actions--alert-container"
          [type]="'information'"
        ></app-fy-alert-info>
      </div>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="cccExpense$|async as cccExpense">
    <ng-container *ngIf="isCCCMatched$|async">
      <div
        *ngFor="let txn of cccExpense.txn_details;let i = index;"
        [ngClass]="{'no-unmatch' : !(canUnmatch$|async)}"
        class="ccc-classified-actions--body"
      >
        <div class="ccc-classified-actions--matched-expenses">
          <div *ngIf="cccExpense.txn_details.length === 1" class="ccc-classified-actions--header">Expense Details</div>
          <div *ngIf="cccExpense.txn_details.length > 1" class="ccc-classified-actions--header">
            Split Expense {{i + 1}}
          </div>
          <div class="ccc-classified-actions--container">
            <div class="ccc-classified-actions--input-container">
              <div class="ccc-classified-actions--input-container-title">Expense ID</div>
              <div class="ccc-classified-actions--input-container-value">{{txn.expense_number}}</div>
            </div>
            <div class="ccc-classified-actions--input-container">
              <div class="ccc-classified-actions--input-container-title">Spend Date</div>
              <div class="ccc-classified-actions--input-container-value">{{txn.txn_dt | date: 'MMM dd, YYYY'}}</div>
            </div>
            <div class="ccc-classified-actions--input-container">
              <div class="ccc-classified-actions--input-container-title">Amount</div>
              <div class="ccc-classified-actions--input-container-value">
                {{txn.amount | currency: txn.currency: 'symbol-narrow'}}
              </div>
            </div>
            <div class="ccc-classified-actions--input-container">
              <div class="ccc-classified-actions--input-container-title">Purpose</div>
              <div *ngIf="txn.purpose" class="ccc-classified-actions--input-container-value">
                {{txn.purpose | ellipsis:20}}
              </div>
              <div *ngIf="!txn.purpose" class="ccc-classified-actions--input-container-value">-</div>
            </div>
            <div class="ccc-classified-actions--input-container">
              <div class="ccc-classified-actions--input-container-title">Category</div>
              <div *ngIf="txn.category" class="ccc-classified-actions--input-container-value">
                {{txn.category | ellipsis:20}}
              </div>
              <div *ngIf="!txn.category" class="ccc-classified-actions--input-container-value">-</div>
            </div>
            <div class="ccc-classified-actions--input-container">
              <div class="ccc-classified-actions--input-container-title">Merchant</div>
              <div *ngIf="txn.vendor_name" class="ccc-classified-actions--input-container-value">
                {{txn.vendor_name | ellipsis:20}}
              </div>
              <div *ngIf="!txn.vendor_name" class="ccc-classified-actions--input-container-value">-</div>
            </div>
            <div class="ccc-classified-actions--input-container">
              <div class="ccc-classified-actions--input-container-title">Receipt</div>
              <div *ngIf="txn.num_files > 0" class="ccc-classified-actions--input-container-value">
                <span class="receipt-attached-text">Attached</span>
              </div>
              <div *ngIf="txn.num_files === 0" class="ccc-classified-actions--input-container-value">
                <span class="receipt-attached-text">-</span>
              </div>
            </div>
            <div class="ccc-classified-actions--input-container">
              <div class="ccc-classified-actions--input-container-title">Status</div>
              <div class="state-pill state-{{txn.state | expenseState}}">
                {{txn.state | expenseState | snakeCaseToSpaceCase | uppercase}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="cccExpense$|async as cccExpense">
    <div
      (click)="unmarkExpense(cccExpense)"
      *ngIf="canUnmarkPersonal$|async"
      class="ccc-classified-actions--action"
      matRipple
    >
      <div class="ccc-classified-actions--action-internal">
        <mat-icon svgIcon="fy-individual"></mat-icon>
        <span>Marked as Personal</span>
      </div>

      <div class="ccc-classified-actions--action-btn">Unmark</div>
    </div>

    <div
      (click)="undoDismissal(cccExpense)"
      *ngIf="canUndoDismissal$|async"
      class="ccc-classified-actions--action"
      matRipple
    >
      <div class="ccc-classified-actions--action-internal">
        <mat-icon svgIcon="fy-dismiss"></mat-icon>
        <div>Dismissed Transaction</div>
      </div>

      <div class="ccc-classified-actions--action-btn">Undo</div>
    </div>
  </ng-container>
</ion-content>

<ng-container *ngIf="cccExpense$|async as cccExpense">
  <ion-footer *ngIf="canUnmatch$|async">
    <ion-toolbar mode="md">
      <ion-buttons>
        <ion-button
          class="ccc-classified-actions--primary-cta text-capitalize"
          mode="md"
          (click)="unmatchExpense(cccExpense)"
        >
          Unmatch
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ng-container>
