@import '../../../../theme/colors.scss';

.review-footer {
  &--toolbar {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  &--footer {
    display: flex;
    justify-content: space-around;
  }

  &--footer-container {
    &::before {
      content: none;
    }
  }

  &--footer-toolbar {
    padding: 0 12px;
    &__shadow {
      box-shadow: 0px -2px 40px rgba(215, 215, 215, 0.4);
    }

    &__spacing {
      padding: 0 32px;
    }
  }
}
