.review-footer {
  &--toolbar {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  &--footer {
    display: flex;
    justify-content: space-around;
  }

  &--footer-container {
    &::before {
      content: none;
    }
  }

  &--footer-toolbar {
    padding: 0 12px;
    &__shadow {
      box-shadow: 0px -2px 40px rgba(215, 215, 215, 0.4);
    }

    &__spacing {
      padding: 0 32px;
    }
  }

  &--primary-cta,
  &--secondary-cta {
    height: 48px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;
    width: 100%;
    margin: 12px 0;
    --border-radius: 4px !important;

    &:first-child {
      margin-right: 4px;
    }

    &:last-child {
      margin-left: 4px;
    }
  }

  &--secondary-cta {
    margin: 0;
    border-radius: 0;
    &__border {
      border-right: 1px solid $grey;
    }
  }

  &--secondary-cta-text {
    min-width: 80px;
  }

  &--secondary-cta-icon {
    &__left {
      margin-right: 18px;
    }

    &__right {
      margin-left: 18px;
    }
  }
}
