<ion-footer mode="md" class="review-footer--footer-container">
  <ion-toolbar mode="md" class="review-footer--footer-toolbar__shadow review-footer--footer-toolbar__spacing">
    <div class="fy-footer-cta-container">
      <ion-button
        *ngIf="activeIndex !== 0 && reviewList?.length > 0"
        (click)="onSaveAndGoToPrev()"
        [loadingText]="'Saving'"
        [loading]="saveAndPrevLoader"
        appFormButtonValidation
        class="fy-footer-cta fy-footer-cta--tertiary-secondary"
      >
        Save and Previous
      </ion-button>
      <ion-button
        (click)="onSaveAndGoToNext()"
        [loadingText]="'Saving'"
        [loading]="saveAndNextLoader"
        appFormButtonValidation
        class="fy-footer-cta fy-footer-cta--primary"
      >
        {{ reviewList.length > 0 && !(activeIndex === reviewList.length - 1) ? 'Save and Next' : 'Save' }}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
