@import '../../../../../theme/colors';

.personal-card {
  &--header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  &--card-details {
    position: relative;
    min-height: 85px;
    width: 100%;
    background: url('../../../../../assets/images/personal-card-bg.png') no-repeat bottom;
    background-size: 100% 100%;
    box-shadow: 3px 10px 8px $transparent-pearl-grey;
    border-radius: 8px;
    z-index: 999;
  }

  &--header-minimal {
    display: flex;
    flex-direction: row;
  }

  &--card-details-minimal {
    position: relative;
    min-height: 35px;
    width: 100%;
    background: url('../../../../../assets/images/personal-card-bg.png') no-repeat bottom;
    background-size: 100% 100%;
    box-shadow: 0px 2px 8px $transparent-pearl-grey;
    border-radius: 8px;
    z-index: 999;
  }

  &--account-info-minimal {
    font-size: 12px;
    color: $pure-white;
    padding-top: 10px;
    text-align: initial;
  }

  &--bank-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: $pure-white;
    padding: 6px;
    flex-flow: wrap;
  }

  &--account-info {
    font-size: 12px;
    color: $pure-white;
    padding-top: 0;
    text-align: initial;

    &__type {
      background: $transparent-grey;
      height: 20px;
      line-height: 16px;
      border-radius: 4px;
      padding: 2px;
    }

    &__mask {
      margin-left: 6px;
      line-height: 14px;
    }
  }

  &--container {
    padding: 8px 3px 12px 6px;
  }

  &--block {
    margin-bottom: 6px;
  }

  &--sync-detail {
    color: $pure-white;
    font-size: 12px;
    letter-spacing: 0.0016em;
    line-height: 14px;
    padding: 0 16px 12px;
  }

  &--action-icon {
    font-size: 24px;
    margin-top: 4px 4px 0 0;
    color: $pure-white;
  }
}
