@use '../../../../theme/colors.scss';

.fy-currency {
  &--label {
    width: 100%;
    margin-right: 2px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: colors.$black-light;
    margin-bottom: 0;
  }

  &--input {
    font-size: 14px;
    line-height: 18px;
    color: colors.$blue-black;
    border: none;
    width: 100%;
    height: 24px;
    margin: 4px 0;
    padding: 0;
  }

  &--input-invalid {
    border-bottom: 1px solid colors.$negative-500;
  }

  &--mandatory {
    color: colors.$negative-500;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
  }

  &--input-container {
    border-bottom: 1px solid colors.$grey-lighter;
    display: flex;
    flex-direction: column;
    min-height: 32px;
  }

  &--form {
    display: flex;
    align-items: flex-start;
    min-height: 70px;
    gap: 0;
  }

  &--input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &--amount {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    margin-top: 0;
  }

  &--currency-block {
    margin-right: 8px;
    width: 50%;
  }

  &--amount-block {
    margin-left: 8px;
    width: 50%;
  }

  &__auto-coded {
    display: flex;
    align-items: center;
    height: 12px;
    font-size: 12px;
    margin-top: 5px;
    color: colors.$black-light;
  }

  &__auto-coded-icon {
    width: 15px;
    margin-right: 4px;
  }

  &__invalid {
    border-bottom: 1px solid colors.$negative-500;
  }

  &--exchange-rate-container {
    display: flex;
    align-items: center;
    height: 42px;
    border: 1px solid colors.$grey-lighter;
    border-radius: 8px;
    padding: 8px;
    margin-top: 16px;
  }

  &--exchange-rate-container.expanded {
    margin: 20px 0 0 -29%;
  }

  &--exchange-rate-icon {
    color: colors.$highlight-blue;
    margin-right: 10px;
  }

  &--exchange-rate-message {
    width: 100%;
    color: colors.$blue-black;
    font-size: 12px;
    line-height: 16px;
  }

  &--exchange-rate-modify {
    color: colors.$brand-primary;
    font-size: 12px;
    background-color: colors.$pure-white;
    font-weight: 500;
  }
}
