<div class="fy-currency">
  <form [formGroup]="fg" class="fy-currency--form">
    <div class="fy-currency--input-wrapper fy-currency--currency-block">
      <div class="fy-currency--input-container">
        <div class="fy-currency--label">
          {{ 'fyCurrency.currency' | transloco }}
          <span class="fy-currency--mandatory"> * </span>
        </div>
        <input
          class="fy-currency--input smartlook-show"
          (click)="openCurrencyModal()"
          formControlName="currency"
          (blur)="onBlur()"
        />
      </div>
      @if (currencyAutoCodeMessage) {
        <div class="fy-currency__auto-coded">
          <mat-icon class="fy-currency__auto-coded-icon" svgIcon="ai-auto-coded"></mat-icon>
          {{ currencyAutoCodeMessage }}
        </div>
      }
    </div>
    <div class="fy-currency--input-wrapper fy-currency--amount-block">
      <div class="fy-currency--input-container" [ngClass]="{ 'fy-currency__invalid': !valid }">
        <div class="fy-currency--label">
          {{ 'fyCurrency.amount' | transloco }}
          <span class="fy-currency--mandatory"> * </span>
        </div>
        <app-fy-number
          [placeholder]="'fyCurrency.amountPlaceholder' | transloco"
          formControlName="amount"
          [isAmount]="true"
        >
        </app-fy-number>
      </div>
      @if (amountAutoCodeMessage) {
        <div class="fy-currency__auto-coded">
          <mat-icon class="fy-currency__auto-coded-icon" svgIcon="ai-auto-coded"></mat-icon>
          {{ amountAutoCodeMessage }}
        </div>
      }
    </div>
  </form>
</div>
@if (value?.currency && value?.orig_currency) {
  <div class="fy-currency--exchange-rate-container" [ngClass]="{ expanded: expanded }">
    <mat-icon class="fy-currency--exchange-rate-icon" svgIcon="subtle-alert-info"></mat-icon>
    <div class="fy-currency--exchange-rate-message">
      <strong>{{ value.amount | currency: value.currency : 'code' }}</strong>
      {{
        'fyCurrency.exchangeRateInfo'
          | transloco
            : {
                exchangeRate: (exchangeRate | number: '1.0-6'),
                currency: value.currency,
                origCurrency: value.orig_currency,
              }
      }}
    </div>
    <button class="fy-currency--exchange-rate-modify" (click)="setExchangeRate()">
      {{ 'fyCurrency.modifyButton' | transloco }}
    </button>
  </div>
}
