<div class="fy-currency">
  <form [formGroup]="fg" class="fy-currency--form">
    <div class="fy-currency--input-container fy-currency--currency-block">
      <div class="fy-currency--label">
        Currency
        <span class="fy-currency--mandatory"> * </span>
      </div>
      <input
        class="fy-currency--input smartlook-show"
        (click)="openCurrencyModal()"
        formControlName="currency"
        (blur)="onBlur()"
      />
    </div>
    <div class="fy-currency--input-container fy-currency--amount-block" [ngClass]="{ 'fy-currency__invalid': !valid }">
      <div class="fy-currency--label">
        Amount
        <span class="fy-currency--mandatory"> * </span>
      </div>
      <app-fy-number placeholder="00.00" formControlName="amount" [isAmount]="true"> </app-fy-number>
    </div>
  </form>
</div>
<ng-container *ngIf="value?.currency && value?.orig_currency">
  <div class="fy-currency--exchange-rate-container" [ngClass]="{ expanded: expanded }">
    <mat-icon class="fy-currency--exchange-rate-icon" svgIcon="fy-info"></mat-icon>
    <div class="fy-currency--exchange-rate-message">
      <strong>{{ value.amount | currency : value.currency : 'code' }}</strong>
      at {{ exchangeRate | number : '1.0-6' }} {{ value.currency }} / {{ value.orig_currency }}
    </div>
    <button class="fy-currency--exchange-rate-modify" (click)="setExchangeRate()">Modify</button>
  </div>
</ng-container>
