<div class="match-expense-popover">
  <div class="match-expense-popover--header">Confirm Matching Expense</div>
  <div class="match-expense-popover--body">
    <ng-container *ngIf="matchedExpense$ | async as txn; else shimmers">
      <div class="match-expense-popover--container">
        <div class="match-expense-popover--input-container">
          <div class="match-expense-popover--input-container-title">Expense ID</div>
          <div class="match-expense-popover--input-container-value">
            {{ txn.tx_expense_number }}
          </div>
        </div>
        <div class="match-expense-popover--input-container">
          <div class="match-expense-popover--input-container-title">Spend Date</div>
          <div class="match-expense-popover--input-container-value">
            {{ txn.tx_txn_dt | date: 'MMM dd, yyyy' }}
          </div>
        </div>
        <div class="match-expense-popover--input-container">
          <div class="match-expense-popover--input-container-title">Amount</div>
          <div class="match-expense-popover--input-container-value">
            {{ txn.tx_amount | currency: txn.tx_currency:'symbol-narrow' }}
          </div>
        </div>
        <div class="match-expense-popover--input-container">
          <div class="match-expense-popover--input-container-title">Purpose</div>
          <div *ngIf="txn.tx_purpose" class="match-expense-popover--input-container-value">
            {{ txn.tx_purpose | ellipsis: 20 }}
          </div>
          <div *ngIf="!txn.tx_purpose" class="match-expense-popover--input-container-value">-</div>
        </div>
        <div class="match-expense-popover--input-container">
          <div class="match-expense-popover--input-container-title">Category</div>
          <div *ngIf="txn.tx_org_category" class="match-expense-popover--input-container-value">
            {{ txn.tx_org_category | ellipsis: 20 }}
          </div>
          <div *ngIf="!txn.tx_org_category" class="match-expense-popover--input-container-value">-</div>
        </div>
        <div class="match-expense-popover--input-container">
          <div class="match-expense-popover--input-container-title">Merchant</div>
          <div *ngIf="txn.tx_vendor" class="match-expense-popover--input-container-value">
            {{ txn.tx_vendor | ellipsis: 20 }}
          </div>
          <div *ngIf="!txn.tx_vendor" class="match-expense-popover--input-container-value">-</div>
        </div>
        <div class="match-expense-popover--input-container">
          <div class="match-expense-popover--input-container-title">Receipt</div>
          <div *ngIf="txn.tx_num_files > 0" class="match-expense-popover--input-container-value">
            <span class="receipt-attached-text">Attached</span>
          </div>
          <div *ngIf="txn.tx_num_files === 0" class="match-expense-popover--input-container-value">
            <span class="receipt-attached-text">-</span>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- shimmers -->
    <ng-template #shimmers>
      <div class="match-expense-popover--container">
        <div class="match-expense-popover--input-container">
          <ion-skeleton-text class="match-expense-popover--input-container-shimmers"></ion-skeleton-text>
          <ion-skeleton-text class="match-expense-popover--input-container-shimmers"></ion-skeleton-text>
        </div>
        <div class="match-expense-popover--input-container">
          <ion-skeleton-text class="match-expense-popover--input-container-shimmers"></ion-skeleton-text>
          <ion-skeleton-text class="match-expense-popover--input-container-shimmers-right"></ion-skeleton-text>
        </div>
        <div class="match-expense-popover--input-container">
          <ion-skeleton-text class="match-expense-popover--input-container-shimmers"></ion-skeleton-text>
          <ion-skeleton-text class="match-expense-popover--input-container-shimmers"></ion-skeleton-text>
        </div>
        <div class="match-expense-popover--input-container">
          <ion-skeleton-text class="match-expense-popover--input-container-shimmers"></ion-skeleton-text>
          <ion-skeleton-text class="match-expense-popover--input-container-shimmers"></ion-skeleton-text>
        </div>
        <div class="match-expense-popover--input-container">
          <ion-skeleton-text class="match-expense-popover--input-container-shimmers"></ion-skeleton-text>
          <ion-skeleton-text class="match-expense-popover--input-container-shimmers"></ion-skeleton-text>
        </div>
        <div class="match-expense-popover--input-container">
          <ion-skeleton-text class="match-expense-popover--input-container-shimmers"></ion-skeleton-text>
          <ion-skeleton-text class="match-expense-popover--input-container-shimmers-right"></ion-skeleton-text>
        </div>
        <div class="match-expense-popover--input-container">
          <ion-skeleton-text class="match-expense-popover--input-container-shimmers"></ion-skeleton-text>
          <ion-skeleton-text class="match-expense-popover--input-container-shimmers"></ion-skeleton-text>
        </div>
      </div>
    </ng-template>
  </div>

  <!-- action buttons -->
  <div class="match-expense-popover--footer">
    <button class="match-expense-popover--button" mat-flat-button color="accent" (click)="closeMatchExpensePopover()">
      Cancel
    </button>
    <button
      class="match-expense-popover--button"
      mat-flat-button
      color="primary"
      (click)="matchExpense()"
      type="submit"
    >
      Confirm Match
    </button>
  </div>
</div>
