.match-expense-popover {
  &--header {
    padding-left: 24px;
    font-size: 18px;
    font-weight: 700;
    line-height: 2.7;
    border-bottom: 1px solid #abababab;
  }

  &--body {

  }

  &--container {
    margin: 18px;
    border: 1px solid #F7F7F7;
    background: #F7F7F7;
    border-radius: 4px;
    padding: 18px;
  }

  &--input-container {
    display: flex;
    align-items: center;
    padding: 12px 0;
  }

  &--input-container-title {
    min-width: 120px;
    color: #4a4a4a;
  }

  &--input-container-value {
    color: #4a4a4a;
  }

  &--input-container-shimmers {
    margin-right: 12px;
    height: 14px;
  }

  &--input-container-shimmers-right {
    margin-right: 36px;
    height: 14px;
  }

  &--button {
    width: 140px;
    height: 40px;
  }

  &--footer {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #abababab;
    padding: 12px;
  }
}


