<ion-header>
  <ion-toolbar class="view-mileage--toolbar">
    <ion-buttons mode="md" slot="end">
      <ion-button>
        <mat-icon>close</mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="md">View Mileage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="view-mileage--container" *ngIf="extendedMileage$|async as extendedMileage">
    <div class="view-mileage--mileage-amount-rate-block">
      <div class="view-mileage--amount-currency-block">
        <p class="view-mileage--amount-header">Amount</p>
        <p class="view-mileage--amount-currency">{{extendedMileage.tx_amount | currency:extendedMileage.tx_currency}}</p>
      </div>
      <div class="view-mileage--rate-block text-right">
        <p class="view-mileage--rate-header text-capitalize">Rate / <span>{{extendedMileage.tx_distance_unit}}</span></p>
        <p class="view-mileage--rate">{{extendedMileage.tx_mileage_rate | currency:extendedMileage.tx_currency}}</p>
      </div>
    </div>

    <div class="view-mileage--info-card">
      <div class="view-mileage--element" *ngIf="orgSettings$|async as orgSettings">
        <div class="view-mileage--element-label">Type</div>
        <div class="view-mileage--element-value">
          <!-- Todo: Fix all vehicle icon later -->
          <ion-icon class="view-mileage--vehicle-icon" name="bicycle" [ngClass]="{ 'selected' : extendedMileage.tx_mileage_vehicle_type === 'two_wheeler'}" *ngIf="orgSettings.mileage.two_wheeler || extendedMileage.tx_mileage_vehicle_type === 'two_wheeler'"></ion-icon>    
          <ion-icon class="view-mileage--vehicle-icon" name="car" [ngClass]="{ 'selected' : extendedMileage.tx_mileage_vehicle_type === 'four_wheeler'}" *ngIf="orgSettings.mileage.four_wheeler || extendedMileage.tx_mileage_vehicle_type === 'four_wheeler'"></ion-icon>
          <ion-icon class="view-mileage--vehicle-icon" name="car" [ngClass]="{ 'selected' : extendedMileage.tx_mileage_vehicle_type === 'four_wheeler1'}" *ngIf="orgSettings.mileage.four_wheeler1 || extendedMileage.tx_mileage_vehicle_type === 'four_wheeler1'"></ion-icon>
        </div>
      </div>

      <div class="view-mileage--element">
        <div class="view-mileage--element-label">Date</div>
        <div class="view-mileage--element-value">{{extendedMileage.tx_txn_dt | date: 'dd, MMM yyyy'}}</div>
      </div>

      <div class="view-mileage--element" *ngFor="let mileageLocation of extendedMileage.tx_locations; index as i">
        <div class="view-mileage--element-label" *ngIf="extendedMileage.tx_locations.length === 2">{{i === 0 ? 'From' : 'To'}}</div>
        <div class="view-mileage--element-label" *ngIf="extendedMileage.tx_locations.length > 2 && extendedMileage.tx_locations.length !== (i + 1)">{{i === 0 ? 'Start' : 'Stop ' + i}}</div>
        <div class="view-mileage--element-label" *ngIf="extendedMileage.tx_locations.length > 2 && extendedMileage.tx_locations.length === (i + 1)">End</div>

        <div class="view-mileage--element-value">
          {{mileageLocation.display || '-'}}
        </div>
      </div>

      <div class="view-mileage--element">
        <div class="view-mileage--element-label">Round Trip</div>
        <div class="view-mileage--element-value">{{extendedMileage.tx_mileage_is_round_trip ? 'Yes' : 'No'}}</div>
      </div>

      <div class="view-mileage--element">
        <div class="view-mileage--element-label">Distance <span class="small text-capitalize">({{extendedMileage.tx_distance_unit}})</span></div>
        <div class="view-mileage--element-value">{{extendedMileage.tx_distance}}</div>
      </div>

      <div class="view-mileage--element">
        <div class="view-mileage--element-label">Purpose</div>
        <div class="view-mileage--element-value">{{extendedMileage.tx_purpose}}</div>
      </div>

      <div class="view-mileage--element" *ngIf="extendedMileage.tx_org_category !== extendedMileage.tx_sub_category">
        <div class="view-mileage--element-label">Sub Category <span>*</span></div>
        <div class="view-mileage--element-value">{{extendedMileage.tx_sub_category}}</div>
      </div>

      <div class="view-mileage--element" *ngIf="extendedMileage.tx_project_id">
        <div class="view-mileage--element-label">Project</div>
        <div class="view-mileage--element-value">{{extendedMileage.tx_project_name}}</div>
      </div>

      <div class="view-mileage--element" *ngIf="extendedMileage.tx_project_id">
        <div class="view-mileage--element-label">Billable</div>
        <div class="view-mileage--element-value">{{extendedMileage.tx_billable ? 'Yes' : 'No'}}</div>
      </div>

      <div class="view-mileage--element" *ngIf="extendedMileage.tx_cost_center_id">
        <div class="view-mileage--element-label">Cost Center</div>
        <div class="view-mileage--element-value">{{extendedMileage.tx_cost_center_name}}</div>
      </div>

      <div *ngIf="(mileageCustomFields$|async)?.length > 0">
        <div class="view-mileage--element" *ngFor="let mileageCustomField of mileageCustomFields$ | async; index as i">
          <div class="view-mileage--element-label">{{mileageCustomField.name}}</div>
          <div class="view-mileage--element-value">{{getDisplayValue(mileageCustomField)}}</div>
        </div>
      </div>

    </div>

    <!-- Todo: comment copmponnet -->
    <div class="view-mileage--info-card">
      <div class="view-mileage--common-action-block">
        <mat-icon>chat</mat-icon>
        <p>Comment</p>
      </div>
    </div>

  </div>
</ion-content>
