.view-mileage {
  
  &--container {
    padding: 5px 16px 0 16px;
  }

  &--policy-info-container {
    border-radius: 6px;
    background: #f2f2f2;
    padding: 8px 16px;
    margin-bottom: 16px;
    color: #4a4a4a;
  }

  &--policy-info-text {
    font-size: 14px;
    color: #4a4a4a;
  }

  &--policy-warning-icon {
    font-size: 18px;
    padding-top: 2px;
    vertical-align: middle !important;
    color: #ababab;
  }

  &--mileage-amount-rate-block {
    background: #f2f2f2;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
  }

  &--amount-currency-block {
    width: calc(100% - 100px);
    padding-right: 16px;
    border-right: 1px solid #e0e0e0;
  }

  &--rate-block{
    width: 100px;
    padding-left: 16px;
    float: left;
  }

  &--amount-header {
    color: #ababab;
    margin: 0 !important;
  }

  &--amount-currency {
    font-size: 24px;
    color: #4a4a4a;
    font-weight: 500;
    margin: 10px 0 0 0;
  }

  &--rate-header {
    color: #ababab;
    margin-bottom: 5px;
  }

  &--rate {
    font-size: 16px;
    color: #ababab;
    margin-bottom: 0;
  }

  &--info-card{
    padding: 12px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  &--element {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;

    &:last-child { 
      border-bottom: 0;
    }

  }

  &--element-label {
    min-width: 120px;
    max-width: 30%;
    margin: 0 8px 0 0;
    font-size: 16px;
    color: #ababab;
    font-weight: 500;
    line-height: 1.5;
  }

  &--element-value {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
  }

  &--vehicle-icon {
    margin-right: 24px;
    font-size: 24px;
    color: #ababab;

    &.selected{
      color: #FF3366;
    }
  }

  &--common-action-block {
    display: flex;
    padding: 4px 0;
    
    p {
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      margin: 0 0 0 16px;
      color: #0077ee;
    }

    mat-icon {
      font-size: 24px;
      color: #ababab;
      display: inline-block;
      vertical-align: middle;
    }
  }
}