.report-summary {
  &--header {
    display: flex;
  }

  &--title{
    font-weight: 700;
    font-size: 24px;
    color: #000;
  }

  &--back {
    text-align: right;
    color: #0077ee;
  }

  &--container {
    padding: 16px;
  }

  &--card {
    border: 1px solid #e5e5e5;
    padding: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1) !important;
    border-radius: 4px;
  }

  &--currency {
    color: #ababab;
    font-size: 16px;
  }

  &--amount {
    color: #000;
    font-size: 20px;
  }

  &--purpose {
    color: #4a4a4a;
    font-size: 16px;
  }

  &--info-text {
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
    font-size: 16px;
    color: #ababab;
  }

  &--warning-text {
    background-color: rgba(255, 153, 0, 0.25);
    padding: 8px 16px;
    color: #ff9900;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 16px;
  }

  &--footer {
    padding: 16px;
    padding-top: 5px;
  }

  &--primary-cta {
    height: 48px;
    width: 100%;
  }
}