<ion-header mode="md">
  <ion-toolbar mode="md">
    <ion-buttons mode="md" slot="end">
      <ion-button class="action--cancel" (click)="close()"> Cancel </ion-button>
    </ion-buttons>
    <ion-title *ngIf="type === 'SEND_BACK'" class="action--title">Send Back Trip</ion-title>
    <ion-title *ngIf="type === 'REJECT'" class="action--title">Reject Trip Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="action--action-container">
    <div *ngIf="type === 'SEND_BACK'">
      <p class="action--message">Please mention the reason for sending back the trip request.</p>
      <textarea class="action--message-box" [(ngModel)]="message" placeholder="Enter Reason"></textarea>
    </div>

    <div *ngIf="type === 'REJECT'">
      <p class="action--message">Please mention the reason for sending back the trip request.</p>
      <textarea class="action--message-box" [(ngModel)]="message" placeholder="Enter Reason"></textarea>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar mode="md">
    <div class="fy-footer-cta-container">
      <ion-button
        class="fy-footer-cta fy-footer-cta--primary"
        [disabled]="message.trim().length === 0"
        (click)="action()"
      >
        {{ type === 'SEND_BACK' ? 'Send Back' : 'Reject Trip' }}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
