.action {
  &--title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
  }

  &--action-container {
    padding: 0 16px;
  }

  &--message {
    color: #ababab;
    font-weight: 500;
    font-size: 16px;
  }

  &--message-box {
    border-radius: 4px;
    height: 60px;
    width: 100%;
  }

  &--cancel {
    color: #0077ee;
  }
}
