$details-color: #ababab;

.submit-report {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  &--header {
    padding: 0px 24px;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
  }

  &--header-text {
    font-size: 24px;
    font-weight: 700;
  }

  &--header-cancel {
    color: #0077ee;
    font-weight: 400;
    font-size: 16px;
  }

  &--body {
    height: 100%;
    color: #ababab;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding: 8px 24px;
  }

  &--buttons {
    display: flex;
    justify-content: center;
    font-weight: 700;
  }

  &--button {
    width: 100%;
    height: 48px;
    margin: 4px 24px;
    margin-bottom: 12px;
  }

  &--primary-cta {
    padding: 16px;
    height: 48px;

    .mat-button-base {
      width: 100%;
      font-weight: 700;
      min-height: 47px;
    }
  }

  &--redirect {
    text-decoration: none;
  }

  &--expense-card {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e5e5;
    padding: 12px;
  }

  &--expense-card-currency {
    color: #ababab;
    font-size: 16px;
  }

  &--expense-card-amount {
    color: #000;
    font-size: 20px;
    font-weight: 400;
  }

  &--expense-card-purpose {
    line-height: 1.5;
    color: #4a4a4a;
    margin: 4px 0;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #efefef;
    padding-bottom: 8px;
    font-weight: 400;
  }

  &--expense-card-count {
    font-size: 16px;
    color: #ababab;
    line-height: 1.5;
  }

  &--approver-notif {
    background-color: rgba(255, 153, 0, 0.25);
    color: #ff9900;
    font-size: 16px;
    padding: 8px 16px;
    margin-top: 16px;
    border-radius: 4px;
  }

  &--violations {
    background-color: rgba(255, 153, 0, 0.25);
    color: #ff9900;
    font-size: 16px;
    padding: 8px 16px;
    margin-top: 16px;
    border-radius: 4px;
  }
}
