.view-per-diem {

  &--toolbar {
    border-bottom: 1px solid #e0e0e0;
  }

  &--container {
    padding: 5px 16px 0 16px;
  }

  &--policy-info-container {
    border-radius: 6px;
    background: #f2f2f2;
    padding: 8px 16px;
    margin-bottom: 16px;
    color: #4a4a4a;
  }

  &--policy-info-text {
    font-size: 14px;
    color: #4a4a4a;
  }

  &--policy-warning-icon {
    font-size: 18px;
    padding-top: 2px;
    vertical-align: middle !important;
    color: #ababab;
  }

  &--amount-currency-block{
    box-shadow: none !important;
    padding: 16px 0;
    height: auto;
    background: #f2f2f2;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    display: flex;
    margin-bottom: 10px;
  }

  &--currency-block {
    float: left;
    width: 70px;
    font-size: 16px;
    padding: 8px 0;
    font-weight: 500;
    color: #4a4a4a;
  }

  &--currency {
    font-size: 16px;
    font-weight: 500;
    color: #4a4a4a;
    width: 100%;
    padding: 12px 16px;
    line-height: 1.5;
    height: auto;
    text-align: center;
    letter-spacing: 1px;
    border: 0;
  }

  &--amount-block {
    float: left;
    width: calc(100% - 70px);
    padding: 8px 0;
    border-left: 1px solid #e0e0e0;
  }

  &--amount {
    width: 100%;
    padding: 6px 16px;
    line-height: 1;
    height: auto;
    font-size: 24px;
    font-weight: 500;
    border: 0;
  }

  &--info-card {
    padding: 0 16px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  &--element {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    padding: 16px 0;

    &:last-child {
      border-bottom: 0;
    }
  }

  &--element-label {
    min-width: 120px;
    max-width: 30%;
    margin: 0 8px 0 0;
    font-size: 16px;
    color: #ababab;
    font-weight: 500;
    line-height: 1.5;
  }

  &--element-value {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #444444;

    &-date {
      color: #ababab;
    }
  }

  &--common-action-block {
    display: flex;
    padding: 16px 0;

    p {
      display: inline-block;
      vertical-align: center;
      font-size: 16px;
      margin: 0 0 0 16px;
      color: #0077ee;
    }

    mat-icon {
      font-size: 24px;
      color: #ababab;
      display: inline-block;
      vertical-align: center;
    }
  }

  &--conversion {
    border: 1px solid #e0e0e0;
    background-color: #f2f2f2;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  &--conversion-amount {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    color: #4a4a4a;
    width: calc(100% - 60px);
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding: 8px 8px 0 16px;
  }

  &--conversion-rate {
    color: #ababab;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    width: calc(100% - 60px);
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding: 0 8px 8px 16px;
  }

}
