@import '../../../../theme/colors';

.fy-filters {
  &--header {
    border-bottom: 1px solid rgba(223, 223, 226, 0.7);
  }

  &--title {
    line-height: 26px;
    color: $black;
    font-weight: 400;
  }

  &--clear-all {
    text-transform: capitalize;
    color: $primary;
    font-size: 16px;
    line-height: 20px;
  }

  &--grid {
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 0;
    height: 100%;
  }

  &--row {
    height: 100%;
  }

  &--filter-item {
    --padding-start: 0;
    --inner-padding-start: 16px;
    --inner-padding-top: 13px;
    --inner-padding-bottom: 14px;
    --background: #fafafa;

    &__active {
      --background: #fff;
    }
  }

  &--checkbox, &--radio {
    font-size: 16px;
    margin-right: 16px;
  }

  &--filter-option {
    --inner-padding-top: 25px;
    --inner-padding-bottom: 24px;
    --background: #fff;
    font-size: 14px;
    line-height: 18px;
    color: #2C304E;
  }

  &--filter-item-label {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 18px;
    color: #161528;
  }

  &--filter-col {
    background-color: #fafafa;
  }

  &--custom-date-filters {
    padding: 16px;
  }

  &--footer-toolbar {
    display: flex;
    justify-content: center;
    padding: 14px;
  }

  &--save {
    width: 160px;
    height: 60px;
    background: linear-gradient(162.38deg, #FF3366 3.01%, #FE5196 111.5%);
    border-radius: 4px;
    padding: 16px 24px;
    font-size: 14px;
    line-height: 18px;
    color: $pure-white;
    text-align: center;
    --ion-color-base: none;
    --box-shadow: none;
  }

  &--cancel {
    width: 160px;
    height: 60px;
    border-radius: 4px;
    padding: 16px 24px;
    font-size: 14px;
    line-height: 18px;
    --color: #161528;
    text-align: center;
  }
}
