.fy-filters {
  &--grid {
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 0;
    height: 100%;
  }

  &--row {
    height: 100%;
  }

  &--filter-item {
    --padding-start: 0;
    --inner-padding-start: 16px;
    --background: #fafafa;
    &__active {
      --background: #fff;
    }
  }

  &--filter-item-label {
    display: flex;
    justify-content: space-between;
  }

  &--filter-col {
    background-color: #fafafa;
  }

  &--custom-date-filters {
    padding: 16px;
  }


}
