<ion-header class="fy-filters--header" mode="md">
  <ion-toolbar mode="md">
    <ion-buttons mode="md" slot="start">
      <ion-button mode="md" (click)="cancel()">
        <ion-icon [src]="'../../../../assets/svg/arrow-left.svg'" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="fy-filters--title" mode="md"> {{ 'fyFilters.title' | transloco }} </ion-title>
    @if (getNoOfFilters()) {
      <ion-buttons mode="md" slot="end">
        <ion-button class="fy-filters--clear-all" mode="md" color="fy-primary" (click)="clearAll()">
          {{ 'fyFilters.clearAll' | transloco }}
        </ion-button>
      </ion-buttons>
    }
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="fy-filters--grid">
    <ion-row class="fy-filters--row">
      <ion-col size="6" class="fy-filters--filter-col">
        @for (filterDefinition of filterOptions; track filterDefinition) {
          <ion-item
            mode="md"
            class="fy-filters--filter-item"
            [ngClass]="{ 'fy-filters--filter-item__active': activeFilter.name === filterDefinition.name }"
            button
            (click)="onFilterClick(filterDefinition)"
          >
            <ion-label>
              <div class="fy-filters--filter-item-label">
                <div>
                  {{ filterDefinition.name }}
                </div>
                <div>
                  @if (
                    filterDefinition.optionType === FilterOptionType.singleselect &&
                    currentFilterValueMap[filterDefinition.name]
                  ) {
                    1
                  }
                  @if (
                    filterDefinition.optionType === FilterOptionType.date &&
                    currentFilterValueMap[filterDefinition.name]
                  ) {
                    1
                  }
                  @if (
                    filterDefinition.optionType === FilterOptionType.multiselect &&
                    currentFilterValueMap[filterDefinition.name]?.length
                  ) {
                    {{ currentFilterValueMap[filterDefinition.name]?.length }}
                  }
                </div>
              </div>
            </ion-label>
          </ion-item>
        }
      </ion-col>

      <ion-col size="6">
        @if (activeFilter.optionType === FilterOptionType.multiselect) {
          @if ((simplifyReportsSettings$ | async) !== null && (nonReimbursableOrg$ | async) !== null) {
            @for (option of activeFilter.options; track option) {
              <ion-item
                class="fy-filters--filter-option"
                mode="md"
                button
                (click)="switchFilter(activeFilter, option)"
                [id]="getOptionElementId(activeFilter.name, option.value)"
              >
                @if (currentFilterValueMap[activeFilter.name]?.includes(option.value)) {
                  <ion-icon class="fy-filters--checkbox" src="../../../../assets/svg/check-square-fill.svg"></ion-icon>
                } @else {
                  <ion-icon class="fy-filters--checkbox" src="../../../../assets/svg/square-outline.svg"></ion-icon>
                }
                {{ option.label }}
              </ion-item>
            }
          } @else {
            @for (option of activeFilter.options; track option) {
              <ion-item class="fy-filters--filter-option">
                <ion-skeleton-text
                  class="fy-filters--skeleton-loader fy-filters--skeleton-loader__width-large"
                  animated
                ></ion-skeleton-text>
              </ion-item>
            }
          }
        }

        @if (activeFilter.optionType === FilterOptionType.singleselect) {
          @for (option of activeFilter.options; track option) {
            <ion-item class="fy-filters--filter-option" mode="md" button (click)="switchFilter(activeFilter, option)">
              @if (currentFilterValueMap[activeFilter.name] === option.value) {
                <ion-icon class="fy-filters--radio" src="../../../../assets/svg/radio-circle-fill.svg"></ion-icon>
              } @else {
                <ion-icon class="fy-filters--radio" src="../../../../assets/svg/radio-circle-outline.svg"></ion-icon>
              }
              {{ option.label }}
            </ion-item>
          }
        }

        @if (activeFilter.optionType === FilterOptionType.date) {
          @for (option of activeFilter.options; track option) {
            <ion-item class="fy-filters--filter-option" mode="md" button (click)="switchFilter(activeFilter, option)">
              @if (currentFilterValueMap[activeFilter.name] === option.value) {
                <ion-icon class="fy-filters--radio" src="../../../../assets/svg/radio-circle-fill.svg"></ion-icon>
              } @else {
                <ion-icon class="fy-filters--radio" src="../../../../assets/svg/radio-circle-outline.svg"></ion-icon>
              }
              {{ option.label }}
            </ion-item>
          }
          @if (currentFilterValueMap[activeFilter.name] === 'custom') {
            <div class="fy-filters--custom-date-filters">
              <mat-form-field>
                <mat-label>{{ 'fyFilters.startDate' | transloco }}</mat-label>
                <input
                  class="smartlook-show"
                  matInput
                  [(ngModel)]="startDate"
                  (ngModelChange)="onDateChange()"
                  [matDatepicker]="picker1"
                />
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{ 'fyFilters.endDate' | transloco }}</mat-label>
                <input
                  class="smartlook-show"
                  matInput
                  [(ngModel)]="endDate"
                  (ngModelChange)="onDateChange()"
                  [matDatepicker]="picker2"
                />
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
          }
        }
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar class="fy-filters--footer">
    <div class="fy-footer-cta-container">
      <ion-button class="fy-footer-cta fy-footer-cta--tertiary-secondary" (click)="cancel()" fill="clear">
        {{ 'fyFilters.cancel' | transloco }}
      </ion-button>
      <ion-button class="fy-footer-cta fy-footer-cta--primary" (click)="save()">
        {{ 'fyFilters.save' | transloco }}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
