@import '../../../../theme/colors.scss';

.crop-receipt {
  &__toolbar {
    border-bottom: 1px solid $grey-lighter;
    margin-top: 16px;
    padding-bottom: 16px;
    --min-height: 0;
  }

  &__title {
    font-size: 20px;
    color: $black;
    padding-right: 44px;
  }

  &__content {
    height: 100%;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
  }

  &__cropper {
    --cropper-overlay-color: #{$white};
  }

  &__cta-container {
    display: flex;
    justify-content: space-between;
    padding: 14px 16px;
    bottom: 0;
    width: 100%;
    background-color: $pure-white;
    box-shadow: 0 -2px 12px $pink-shadow;
    z-index: 999;
  }
}
