<ion-header mode="md" >
  <ion-toolbar mode="md" class="trip-request--header">
    <ion-buttons slot="end" mode="md">
      <ion-button mode="md" class="trip-request--header_close-button" [routerLink]="['/','enterprise','team_trips']"
        routerLinkActive="router-link-active">
        <mat-icon>close</mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="md" class="page-title">View Trip Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="transformedTripRequests$|async as tripRequest">
    <div *ngIf="tripExtraInfo$| async as tripExtraInfo">
      <div class="trip-request--content-header">
        Trip Information
      </div>
      <div class="trip-request--card">
        <div class="trip-request--element">
          <div class="trip-request--element-label">
            ID
          </div>
          <div class="trip-request--element-value">
            {{tripRequest.trp_request_number}}
          </div>
        </div>
        <div class="trip-request--element">
          <div class="trip-request--element-label">
            State
          </div>
          <div class="trip-request--element-value">
            {{tripRequest.trp_state}}
            <!--TODO: Add proper formatting -->
          </div>
        </div>
        <div class="trip-request--element">
          <div class="trip-request--element-label">
            Submitted By
          </div>
          <div class="trip-request--element-value">
            {{tripExtraInfo.submittedBy.fullName}}
          </div>
        </div>
        <div class="trip-request--element">
          <div class="trip-request--element-label">
            Travellers
          </div>
          <div class="trip-request--element-value">
            {{tripExtraInfo.travellers}}
          </div>
        </div>
        <div class="trip-request--element">
          <div class="trip-request--element-label">
            Start Date
          </div>
          <div class="trip-request--element-value">
            {{tripRequest.trp_start_date | date: 'dd, MMM yyyy'}}
          </div>
        </div>
        <div class="trip-request--element">
          <div class="trip-request--element-label">
            End Date
          </div>
          <div class="trip-request--element-value">
            {{tripRequest.trp_end_date | date: 'dd, MMM yyyy'}}
          </div>
        </div>
        <div class="trip-request--element">
          <div class="trip-request--element-label">
            Approvals
          </div>
          <div class="trip-request--element-value">
            <span *ngFor="let activeApproval of activeApprovals$ | async as list">
              <span>
                {{activeApproval.approver_name}}
              </span>

              <span>
                ({{activeApproval.state}})
              </span>

            </span>
          </div>
        </div>
        <div class="trip-request--element">
          <div class="trip-request--element-label">
            Trip Type
          </div>
          <div class="trip-request--element-value">
            {{tripRequest.trp_trip_type}}
          </div>
        </div>
        <div class="trip-request--element">
          <div class="trip-request--element-label">
            Locations
          </div>
          <div class="trip-request--element-value">
            {{tripExtraInfo.tripLocations.join(', ')}}
          </div>
        </div>
        <div class="trip-request--element">
          <div class="trip-request--element-label">
            Purpose
          </div>
          <div class="trip-request--element-value">
            {{tripRequest.trp_purpose}}
          </div>
        </div>
        <div class="trip-request--element">
          <div class="trip-request--element-label">
            Project
          </div>
          <div class="trip-request--element-value">
            {{tripExtraInfo.projectName}}
          </div>
        </div>
        <div class="trip-request--element">
          <div class="trip-request--element-label">
            Notes
          </div>
          <div class="trip-request--element-value">
            {{tripRequest.trp_notes}}
          </div>
        </div>
      </div>

      <div class="trip-request--content-header">
        Additional Information
      </div>
      <div class="trip-request--card">
        <div *ngFor="let customField of tripRequest.custom_field_values" class="trip-request--element">
          <div class="trip-request--element-label">
            {{customField.name}}
          </div>
          <div *ngIf="customField.type === 'DATE'" class="trip-request--element-value">
            {{customField.value | date: 'dd, MMM yyyy'}}
          </div>
          <div *ngIf="customField.type === 'BOOLEAN'" class="trip-request--element-value">
            {{customField.value ? 'Yes' : 'No'}}
          </div>
          <div *ngIf="customField.type !== 'BOOLEAN' && customField.type !== 'DATE'">
            {{customField?.value?.display || customField.value || '-'}}
          </div>

        </div>
      </div>
      <ng-container *ngIf="transportationRequests$|async as transportationRequests">
        <ng-container *ngIf="transportationRequests.length">
          <div class="trip-request--card" matRipple>
            <div class="trip-request--element trip-request--element__single"
              (click)="openTransportationRequests(transportationRequests)">
              <div class="trip-request--element-label">
                Transportation
              </div>
              <div class="trip-request--element-value">
                {{transportationRequests.length}} Request
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="hotelRequests$|async as hotelRequests">
        <ng-container *ngIf="hotelRequests.length">
          <div class="trip-request--card" matRipple>
            <div class="trip-request--element trip-request--element__single" (click)="openHotelRequests(hotelRequests)">
              <div class="trip-request--element-label">
                Hotel
              </div>
              <div class="trip-request--element-value">
                {{hotelRequests.length}} Request
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="transformedAdvanceRequests$|async as advanceRequests">
        <ng-container *ngIf="advanceRequests.length">
          <div class="trip-request--card" matRipple>
            <div class="trip-request--element trip-request--element__single"
              (click)="openAdvanceRequests(advanceRequests)">
              <div class="trip-request--element-label">
                Advance
              </div>
              <div class="trip-request--element-value">
                {{advanceRequests.length}} Request
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>


      <ng-container *ngIf="activeApprovals$ | async as activeApprovals">
          <app-fy-apporver 
          [approverList]="getApproverEmails(activeApprovals)" 
          [id]="tripRequest.trp_id"
          [from]="'TRIP_REQUEST'" 
          [title]="'Add Approvers'" 
          (notify)='onUpdateApprover($event)'>
        </app-fy-apporver>
      </ng-container>

      <div class="trip-request--card">
        <div class="trip-request--card-action">
          <app-comments objectType="trip_requests" [objectId]="tripRequest.trp_id" mode="edit" text="Comments">
          </app-comments>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer *ngIf="canDoAction$|async">
  <ion-toolbar mode="md">
    <ion-button (click)="openActionBlock()" class="trip-request--primary-cta flat-button" fill="solid"
      color="fyle-primary" expand="block">
      Trip Action
    </ion-button>
  </ion-toolbar>
</ion-footer>
