<ion-header mode="md">
  <ion-toolbar mode="md" class="trip-request--header">
    <ion-buttons slot="end" mode="md">
      <ion-button
        mode="md"
        class="trip-request--header_close-button"
        [routerLink]="['/','enterprise','team_trips']"
        routerLinkActive="router-link-active"
      >
        <mat-icon>close</mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="md" class="page-title">View Trip Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="transformedTripRequests$|async as tripRequest">
    <div *ngIf="tripExtraInfo$| async as tripExtraInfo">
      <div class="trip-request--content-header">Trip Information</div>
      <div class="trip-request--card">
        <div class="trip-request--element">
          <div class="trip-request--element-label">ID</div>
          <div class="trip-request--element-value">{{tripRequest.trp_request_number}}</div>
        </div>
        <div class="trip-request--element">
          <div class="trip-request--element-label">State</div>
          <div class="trip-request--element-value text-capitalize">
            {{tripRequest.internalStateDisplayName | snakeCaseToSpaceCase | lowercase}}
          </div>
        </div>
        <div class="trip-request--element">
          <div class="trip-request--element-label">Submitted By</div>
          <div class="trip-request--element-value">{{tripExtraInfo.submittedBy.fullName}}</div>
        </div>
        <div class="trip-request--element">
          <div class="trip-request--element-label">Travellers</div>
          <div class="trip-request--element-value">{{tripExtraInfo.travellers}}</div>
        </div>
        <div class="trip-request--element">
          <div class="trip-request--element-label">Start Date</div>
          <div class="trip-request--element-value">{{tripRequest.trp_start_date | date: 'MMM dd, yyyy'}}</div>
        </div>
        <div class="trip-request--element">
          <div class="trip-request--element-label">End Date</div>
          <div class="trip-request--element-value">{{tripRequest.trp_end_date | date: 'MMM dd, yyyy'}}</div>
        </div>
        <div class="trip-request--element">
          <div class="trip-request--element-label">Approvals</div>
          <div class="trip-request--element-value">
            <div *ngFor="let activeApproval of activeApprovals$ | async as list">
              <span> {{activeApproval.approver_name}} </span>
              <span class="text-capitalize"> ({{ activeApproval.state | tripState }}) </span>
            </div>
          </div>
        </div>
        <div class="trip-request--element">
          <div class="trip-request--element-label">Trip Type</div>
          <div class="trip-request--element-value text-capitalize">
            {{tripRequest.trp_trip_type | snakeCaseToSpaceCase | lowercase}}
          </div>
        </div>
        <div class="trip-request--element">
          <div class="trip-request--element-label">Locations</div>
          <div class="trip-request--element-value">{{tripExtraInfo.tripLocations.join(', ')}}</div>
        </div>
        <div class="trip-request--element">
          <div class="trip-request--element-label">Purpose</div>
          <div class="trip-request--element-value">{{tripRequest.trp_purpose}}</div>
        </div>
        <div class="trip-request--element">
          <div class="trip-request--element-label">Project</div>
          <div class="trip-request--element-value">{{tripExtraInfo.projectName}}</div>
        </div>
        <div class="trip-request--element">
          <div class="trip-request--element-label">Notes</div>
          <div class="trip-request--element-value">{{tripRequest.trp_notes}}</div>
        </div>
      </div>

      <ng-container *ngIf="tripRequest.custom_field_values.length > 0">
        <div class="trip-request--content-header">Additional Information</div>
        <div class="trip-request--card">
          <div *ngFor="let customField of tripRequest.custom_field_values" class="trip-request--element">
            <div class="trip-request--element-label">{{customField.name}}</div>
            <div *ngIf="customField.type === 'DATE'" class="trip-request--element-value">
              {{customField.value | date: 'MMM dd, yyyy'}}
            </div>
            <div *ngIf="customField.type === 'BOOLEAN'" class="trip-request--element-value">
              {{customField.value ? 'Yes' : 'No'}}
            </div>
            <div *ngIf="customField.type !== 'BOOLEAN' && customField.type !== 'DATE'">
              {{customField?.value?.display || customField.value || '-'}}
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="transportationRequests$|async as transportationRequests">
        <ng-container *ngIf="transportationRequests.length">
          <div class="trip-request--card" matRipple>
            <div class="trip-request--element trip-request--element__single" (click)="openTransportationRequests()">
              <div class="trip-request--element-label">Transportation</div>
              <div class="trip-request--element-value">{{transportationRequests.length}} Request</div>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="hotelRequests$|async as hotelRequests">
        <ng-container *ngIf="hotelRequests.length">
          <div class="trip-request--card" matRipple>
            <div class="trip-request--element trip-request--element__single" (click)="openHotelRequests()">
              <div class="trip-request--element-label">Hotel</div>
              <div class="trip-request--element-value">{{hotelRequests.length}} Request</div>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="transformedAdvanceRequests$|async as advanceRequests">
        <ng-container *ngIf="advanceRequests.length">
          <div class="trip-request--card" matRipple>
            <div class="trip-request--element trip-request--element__single" (click)="openAdvanceRequests()">
              <div class="trip-request--element-label">Advance</div>
              <div class="trip-request--element-value">{{advanceRequests.length}} Request</div>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="activeApprovals$|async as activeApprovals">
        <ng-container *ngIf="actions$|async as actions">
          <div class="trip-request--card_external-component" *ngIf="actions.can_add_approver">
            <app-fy-approver
              [approverEmailsList]="getApproverEmails(activeApprovals)"
              [id]="tripRequest.trp_id"
              [ownerEmail]="tripRequest.us_email"
              [type]="'TRIP_REQUEST'"
              (notify)="onUpdateApprover($event)"
            >
            </app-fy-approver>
          </div>
        </ng-container>
      </ng-container>

      <div class="trip-request--card">
        <div class="trip-request--card-action">
          <div class="trip-request--element trip-request--element_action">
            <app-comments-history
              objectType="trip_requests"
              [objectId]="tripRequest.trp_id"
              text="Comments"
            ></app-comments-history>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer *ngIf="canDoAction$|async">
  <ion-toolbar class="fy-footer-cta-container" mode="md">
    <ion-button (click)="openActionBlock()" class="fy-footer-cta fy-footer-cta--primary" [disabled]="actionsLoading">
      Trip Actions
    </ion-button>
  </ion-toolbar>
</ion-footer>
