@use '../../../../theme/colors.scss';

.suggested-duplicates {
  &--toolbar {
    &__title {
      color: var(--primary-text);
      padding-left: 15px;
    }
  }

  &--header {
    font-size: 18px;
    line-height: 23px;
    color: var(--primary-text);
    padding: 10px;
  }

  &--divider {
    height: 1px;
    background-color: var(--border-color);
  }

  &--container {
    height: 88%;
    width: 93%;
    margin: 10px auto 20px auto;
    background: var(--background-card);
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    border-radius: 16px;
    align-content: center;
    border-radius: 20px;
    overflow-y: scroll;
  }
}
