<ion-header mode="md">
  <mat-icon class="fy-modal-top-bar" svgIcon="notch"></mat-icon>
</ion-header>

<ion-content>
  <div class="suggested-duplicates--body">
    <div class="suggested-duplicates--container">
      <div class="suggested-duplicates--header text-center">
        {{ duplicateExpenses.length }} {{ 'suggestedDuplicates.expensesFor' | transloco }}
        {{ duplicateExpenses[0]?.amount | currency: duplicateExpenses[0]?.currency : 'symbol-narrow' }}
      </div>
      @for (expense of duplicateExpenses; track expense.id; let i = $index) {
        <app-expense-card-v2
          [previousExpenseTxnDate]="duplicateExpenses[i - 1]?.spent_at"
          [previousExpenseCreatedAt]="duplicateExpenses[i - 1]?.created_at"
          [expense]="expense"
        >
        </app-expense-card-v2>
      }
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar mode="md">
    <div class="fy-footer-cta-container">
      <ion-button class="fy-footer-cta fy-footer-cta--tertiary-secondary" (click)="dismissAll()">
        {{ 'suggestedDuplicates.dismissAll' | transloco }}
      </ion-button>
      <ion-button class="fy-footer-cta fy-footer-cta--primary" (click)="mergeExpenses()">
        {{ 'suggestedDuplicates.merge' | transloco }}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
