@import '../../../../theme/colors.scss';

.suggested-duplicates {
  &--toolbar {
    &__title {
      color: $black;
      padding-left: 15px;
    }
  }

  &--header {
    font-size: 18px;
    line-height: 23px;
    color: $pure-black;
    padding: 10px;
  }

  &--divider {
    height: 1px;
    background-color: $grey;
  }
  &--container {
    height: 88%;
    width: 93%;
    margin: 10px auto 20px auto;
    background: $off-white;
    border: 1px solid $grey;
    box-sizing: border-box;
    border-radius: 16px;
    align-content: center;
    border-radius: 20px;
    overflow-y: scroll;
  }
}
