<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list>
        <!-- <ion-list-header>Inbox</ion-list-header>
        <ion-note>hi@ionicframework.com</ion-note> -->

        <ion-menu-toggle auto-hide="false">
          <ion-item [routerLink]="['/', 'auth', 'switch-org', {choose:true}]" routerLinkActive="router-link-active">
            <ion-icon slot="start" name="star"></ion-icon>
            <ion-label>Switch Org</ion-label>
          </ion-item>

          <ion-item [routerLink]="['/', 'post_verification', 'setup_account']" routerLinkActive="router-link-active">
            <ion-icon slot="start" name="star"></ion-icon>
            <ion-label>Post Verification Setup</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>