<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list>
        <!-- <ion-list-header>Inbox</ion-list-header>
        <ion-note>hi@ionicframework.com</ion-note> -->

        <ion-menu-toggle auto-hide="false">
          <ion-item [routerLink]="['/routePath']" routerLinkActive="router-link-active" >
            <ion-icon slot="start" name="star"></ion-icon>
            <ion-label>Estar 
              <span>{{test}}</span>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>