$header-background: #464d57;

.app-version {
  &--header {
    height: 45px;
    text-align: center;
    font-size: 18px;
    padding-top: 12px;
    background-color: #464d57;
  }

  &--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
  }

  &--message {
    padding: 12px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }
}
