.search-filter {
  &--head {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
  }

  &--title {
    font-size: 18px;
    color: #4a4a4a;
    font-weight: 500;
  }

  &--header {
    color: #ababab;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
  }

  &--body {
    max-height: 70vh;
    padding: 0 12px 12px;
    margin: 0 12px 12px;
  }

  &--reset {
    color:#1978f7;
    font-size: 16px;
  }

  &--radio-group {
    display: flex;
    flex-direction: column;
  }

  &--radio-btn {
    padding: 12px 0;
  }

  &--footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #F8F8F8;
  }

  &--custom-date {
    margin-left: 32px;
  }

  &--cancel {
    color: #6a6a6a;
    flex-grow: 1;
    padding: 4px;
  }

  &--save {
    color: #ff3366;
    border-left: 2px solid #e0e0e0;
    flex-grow: 1;
    padding: 4px;
  }
}
