<ion-header mode="md">
  <ion-toolbar class="view-mileage--toolbar">
    <ion-buttons *ngIf="this.reportId" mode="md" slot="start">
      <ion-button (click)="goBack()">
        <ion-icon [src]="'../../../../assets/svg/arrow-left.svg'" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title
      mode="md"
      class="page-title"
      [ngClass]="{'view-mileage--title': reportExpenseCount > 1, 'pl-0': isDeviceWidthSmall}"
    >
      View Mileage
      <p class="view-mileage--subtitle" *ngIf="reportExpenseCount > 1">
        Showing {{ activeExpenseIndex + 1 }} of {{ reportExpenseCount }} expenses
      </p>
    </ion-title>
    <ion-buttons class="view-mileage--header-btn-container" slot="end">
      <ion-button class="view-mileage--header-btn-container__btn" (click)="openCommentsModal()">
        <ion-icon [src]="'../../../assets/svg/chat.svg'" slot="icon-only"></ion-icon>
      </ion-button>

      <ng-container *ngIf="view === ExpenseView.team && canFlagOrUnflag$|async">
        <ng-container *ngIf="mileageExpense$|async as expense">
          <ion-button
            class="view-mileage--header-btn-container__btn"
            (click)="flagUnflagExpense(expense.is_manually_flagged)"
            [ngClass]="expense.is_manually_flagged ? 'icon--flagged' : 'icon--unflagged'"
          >
            <ion-icon [src]="'../../../assets/svg/fy-flag-2.svg'" slot="icon-only"></ion-icon>
          </ion-button>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="view === ExpenseView.team && canDelete$|async">
        <ion-button class="view-mileage--header-btn-container__btn" (click)="removeExpenseFromReport()">
          <ion-icon [src]="'../../../assets/svg/fy-delete.svg'" slot="icon-only"></ion-icon>
        </ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="mileageExpense$|async as expense" class="view-mileage--container">
    <ng-container *ngIf="expense.is_policy_flagged">
      <ng-container *ngIf="policyDetails">
        <app-fy-policy-violation-info
          [policyDetails]="policyDetails"
          [criticalPolicyViolated]="isCriticalPolicyViolated$|async"
        ></app-fy-policy-violation-info>
      </ng-container>
    </ng-container>

    <div class="view-mileage--policy-container" *ngIf="(isAmountCapped$|async) && !(isCriticalPolicyViolated$|async)">
      <span class="info-text m-0">
        Claimed amount {{ expense.claim_amount | currency:expense.currency: 'symbol-narrow' }} was capped to {{
        expense.amount | currency:expense.currency: 'symbol-narrow'}} due to policy.
      </span>
    </div>

    <div class="d-flex view-mileage--card-container">
      <div class="view-mileage--card-container__block">
        <div class="view-mileage--card-container__category">Mileage</div>
        <div class="view-mileage--card-container__merchant">
          {{expense.distance || 0}} {{expense.distance_unit | titlecase}}
        </div>
        <div *ngIf="isProjectShown" class="view-mileage--card-container__project">
          {{ projectFieldName | titlecase }} : {{ expense.project?.name || '-' }}
        </div>
      </div>
      <div class="ion-text-right view-mileage--card-container__block">
        <div>
          <span>{{ expenseCurrencySymbol }}</span>
          <span class="view-mileage--card-container__amount">
            {{ expense.amount || 0 | humanizeCurrency: expense.currency:true }}
          </span>
          <ion-icon
            class="view-mileage--card-container__icon"
            [src]="'../../../assets/svg/' + paymentModeIcon + '.svg'"
          ></ion-icon>
        </div>

        <div
          class="view-mileage--card-container__state-pill ion-text-right"
          [ngClass]="{'view-mileage--card-container__state-pill--with-project': isProjectShown}"
        >
          <div class="state-pill state-{{expense.state | expenseState}}">
            {{ expense.state | expenseState : isNewReportsFlowEnabled | snakeCaseToSpaceCase | titlecase }}
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="expense.locations.length > 0">
      <ng-container *ngIf="mapAttachment$|async as mapAttachment">
        <app-receipt-preview-thumbnail
          [attachments]="[mapAttachment]"
          (viewAttachments)="viewAttachment()"
          [canEdit]="false"
          [isMileageExpense]="true"
        >
        </app-receipt-preview-thumbnail>
      </ng-container>

      <div class="view-mileage--route-block">
        <div
          *ngFor="let control of expense.locations; index as i; first as isFirst; last as isLast"
          class="view-mileage--route-block__div"
        >
          <div>
            <ion-icon
              slot="icon-only"
              [src]="'../../../assets/svg/' + (isFirst ? 'radio-circle-outline' : 'rectangle') + '.svg'"
              class="view-mileage--route-block__icon"
              [ngClass]="{'view-mileage--route-block__icon-filled': isFirst || isLast }"
            ></ion-icon>
            <span class="view-mileage--label">{{ isFirst ? 'Start' : isLast ? 'End' : 'Stop ' + i }}</span>
            <div class="view-mileage--value view-mileage--route-block__value pt-0">{{ control.display }}</div>
          </div>
        </div>
      </div>

      <ion-grid *ngIf="expense.mileage_is_round_trip" class="view-mileage--grid">
        <ion-row>
          <ion-col class="view-mileage--icon-container">
            <div class="view-mileage--icon-container__background">
              <ion-icon class="view-mileage--icon-container__icon" src="../../../assets/svg/return-home.svg"></ion-icon>
            </div>
          </ion-col>
          <ion-col class="view-mileage--content-container">
            <div class="view-mileage--label">Round Trip</div>
            <div class="view-mileage--value">{{ expense.mileage_is_round_trip ? 'Yes' : 'No' }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="view-mileage--divider"></div>
    </ng-container>

    <ion-grid class="view-mileage--grid">
      <ion-row>
        <ion-col class="view-mileage--icon-container">
          <div class="view-mileage--icon-container__background">
            <ion-icon class="view-mileage--icon-container__icon" src="../../../assets/svg/fy-report.svg"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="view-mileage--content-container">
          <div class="view-mileage--label">Report Name</div>
          <div class="view-mileage--value">{{ expense.report?.title }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="view === ExpenseView.team" class="view-mileage--grid">
      <ion-row>
        <ion-col class="view-mileage--icon-container">
          <div class="view-mileage--icon-container__background">
            <ion-icon class="view-mileage--icon-container__icon" src="../../../assets/svg/profile.svg"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="view-mileage--content-container">
          <div class="view-mileage--label">Employee</div>
          <div class="view-mileage--value">{{ expense.user.full_name }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="view-mileage--grid">
      <ion-row>
        <ion-col class="view-mileage--icon-container">
          <div class="view-mileage--icon-container__background">
            <ion-icon class="view-mileage--icon-container__icon-lg" src="../../../assets/svg/list.svg"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="view-mileage--content-container">
          <div class="view-mileage--label">Expense ID</div>
          <div class="view-mileage--value">{{ expense.seq_num }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="view-mileage--divider"></div>

    <ion-grid class="view-mileage--grid">
      <ion-row>
        <ion-col size="6">
          <ion-grid>
            <ion-row>
              <ion-col class="view-mileage--icon-container">
                <div class="view-mileage--icon-container__background">
                  <ion-icon
                    class="view-mileage--icon-container__icon-stroke-lg"
                    src="../../../assets/svg/fy-calendar.svg"
                  ></ion-icon>
                </div>
              </ion-col>
              <ion-col class="view-mileage--content-container">
                <div class="view-mileage--label">Created Date</div>
                <div class="view-mileage--value">{{ expense.created_at | date: 'MMM dd, YYYY' }}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col *ngIf="expense.spent_at">
          <ion-grid>
            <ion-row>
              <ion-col class="view-mileage--icon-container">
                <div class="view-mileage--icon-container__background">
                  <ion-icon
                    class="view-mileage--icon-container__icon-stroke-lg"
                    src="../../../assets/svg/fy-calendar.svg"
                  ></ion-icon>
                </div>
              </ion-col>
              <ion-col class="view-mileage--content-container">
                <div class="view-mileage--label">Spend Date</div>
                <div class="view-mileage--value">{{ expense.spent_at | date: 'MMM dd, YYYY' }}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="view-mileage--grid">
      <ion-row>
        <ion-col class="view-mileage--icon-container">
          <div class="view-mileage--icon-container__background">
            <ion-icon
              class="view-mileage--icon-container__icon-lg"
              [src]="'../../../assets/svg/' + (paymentModeIcon === 'fy-matched' ? 'fy-unmatched' : paymentModeIcon) + '.svg'"
            ></ion-icon>
          </div>
        </ion-col>
        <ion-col class="view-mileage--content-container">
          <div class="view-mileage--label">Payment Mode</div>
          <div class="view-mileage--value">{{ paymentMode }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="expense.purpose" class="view-mileage--grid">
      <ion-row>
        <ion-col class="view-mileage--icon-container">
          <div class="view-mileage--icon-container__background">
            <ion-icon class="view-mileage--icon-container__icon-lg" src="../../../assets/svg/list.svg"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="view-mileage--content-container">
          <div class="view-mileage--label">Purpose</div>
          <div class="view-mileage--value">{{ expense.purpose }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="view-mileage--grid">
      <ion-row>
        <ion-col
          *ngIf="expense.category && expense.category.name && expense.category.sub_category && (expense.category.name !== expense.category.sub_category)"
          size="6"
        >
          <ion-grid>
            <ion-row>
              <ion-col class="view-mileage--icon-container">
                <div class="view-mileage--icon-container__background">
                  <ion-icon class="view-mileage--icon-container__icon" src="../../../assets/svg/tag.svg"></ion-icon>
                </div>
              </ion-col>
              <ion-col class="view-mileage--content-container">
                <div class="view-mileage--label">Subcategory</div>
                <div class="view-mileage--value">{{ expense.category.sub_category }}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="mileageRate$ | async as mileageRate" class="view-mileage--grid">
      <ion-row>
        <ion-col>
          <ion-grid>
            <ion-row>
              <ion-col class="view-mileage--icon-container">
                <div class="view-mileage--icon-container__background">
                  <ion-icon
                    class="view-mileage--icon-container__icon"
                    [src]="'../../../assets/svg/' + vehicleType + '.svg'"
                  ></ion-icon>
                </div>
              </ion-col>
              <ion-col class="view-mileage--content-container">
                <div class="view-mileage--label">Mileage Rate</div>
                <div class="view-mileage--value">
                  {{ mileageRate.vehicle_type | mileageRateName }} ({{ mileageRate.rate | currency:expense.currency:
                  'symbol-narrow'}} / {{ mileageRate.unit | titlecase}})
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="expense.distance || expense.mileage_calculated_distance" class="view-mileage--grid">
      <ion-row>
        <ion-col *ngIf="expense.distance" size="6">
          <ion-grid>
            <ion-row>
              <ion-col class="view-mileage--icon-container">
                <div class="view-mileage--icon-container__background">
                  <ion-icon class="view-mileage--icon-container__icon-lg" src="../../../assets/svg/list.svg"></ion-icon>
                </div>
              </ion-col>
              <ion-col class="view-mileage--content-container">
                <div class="view-mileage--label">Claimed Distance</div>
                <div class="view-mileage--value">{{expense.distance}} {{expense.distance_unit | titlecase}}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col *ngIf="expense.mileage_calculated_distance">
          <ion-grid>
            <ion-row>
              <ion-col class="view-mileage--icon-container">
                <div class="view-mileage--icon-container__background">
                  <ion-icon class="view-mileage--icon-container__icon-lg" src="../../../assets/svg/list.svg"></ion-icon>
                </div>
              </ion-col>
              <ion-col class="view-mileage--content-container">
                <div class="view-mileage--label">Calculated Distance</div>
                <div class="view-mileage--value">
                  {{expense.mileage_calculated_distance}} {{expense.distance_unit | titlecase}}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="expense.mileage_calculated_amount" class="view-mileage--grid">
      <ion-row>
        <ion-col size="6">
          <ion-grid>
            <ion-row>
              <ion-col class="view-mileage--icon-container">
                <div class="view-mileage--icon-container__background">
                  <ion-icon
                    class="view-mileage--icon-container__icon-lg"
                    [src]="'../../../assets/svg/' + paymentModeIcon + '.svg'"
                  ></ion-icon>
                </div>
              </ion-col>
              <ion-col class="view-mileage--content-container">
                <div class="view-mileage--label">Calculated Amount</div>
                <div class="view-mileage--value">
                  {{expense.mileage_calculated_amount | currency:expense.currency: 'symbol-narrow'}}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ng-container *ngIf="{ costCenterDependentCustomProperties: costCenterDependentCustomProperties$ | async} as data">
      <ng-container *ngIf="!data.costCenterDependentCustomProperties?.length">
        <ion-grid *ngIf="orgSettings?.cost_centers?.enabled && expense.cost_center_id" class="view-mileage--grid">
          <ion-row>
            <ion-col size="6">
              <ion-grid>
                <ion-row>
                  <ion-col class="view-mileage--icon-container">
                    <div class="view-mileage--icon-container__background">
                      <ion-icon
                        class="view-mileage--icon-container__icon"
                        src="../../../assets/svg/building.svg"
                      ></ion-icon>
                    </div>
                  </ion-col>
                  <ion-col class="view-mileage--content-container">
                    <div class="view-mileage--label">Cost Center</div>
                    <div class="view-mileage--value">{{ expense.cost_center?.name }}</div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col size="6" *ngIf="expense.cost_center?.code">
              <ion-grid>
                <ion-row>
                  <ion-col class="view-mileage--icon-container">
                    <div class="view-mileage--icon-container__background">
                      <ion-icon
                        class="view-mileage--icon-container__icon"
                        src="../../../assets/svg/building.svg"
                      ></ion-icon>
                    </div>
                  </ion-col>
                  <ion-col class="view-mileage--content-container">
                    <div class="view-mileage--label">Cost Center Code</div>
                    <div class="view-mileage--value">{{ expense.cost_center?.code }}</div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
    </ng-container>

    <!-- Project dependent fields -->
    <ng-container *ngIf="projectDependentCustomProperties$ | async as projectDependentCustomProperties">
      <ng-container *ngIf="expenseFields$ | async as expenseFields">
        <ng-container *ngIf="expenseFields?.project_id?.length">
          <app-view-dependent-fields
            parentFieldType="PROJECT"
            [parentFieldName]="expenseFields.project_id[0]?.field_name"
            [parentFieldValue]="expense.project?.name"
            [dependentCustomProperties]="projectDependentCustomProperties"
          ></app-view-dependent-fields>
        </ng-container>
      </ng-container>
    </ng-container>

    <!-- Cost center dependent fields -->
    <ng-container *ngIf="costCenterDependentCustomProperties$ | async as costCenterDependentCustomProperties">
      <ng-container *ngIf="expenseFields$ | async as expenseFields">
        <ng-container *ngIf="expenseFields?.cost_center_id?.length">
          <app-view-dependent-fields
            parentFieldType="COST_CENTER"
            [parentFieldName]="expenseFields.cost_center_id[0]?.field_name"
            [parentFieldValue]="expense.cost_center?.name"
            [costCenterCode]="expense.cost_center?.code"
            [dependentCustomProperties]="costCenterDependentCustomProperties"
          ></app-view-dependent-fields>
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="mileageCustomFields$|async as customProperties">
      <ng-container *ngIf="customProperties?.length > 0">
        <div class="view-mileage--divider"></div>
        <ion-grid *ngFor="let customProperty of customProperties" class="view-mileage--grid">
          <ion-row>
            <ion-col class="view-mileage--icon-container">
              <div class="view-mileage--icon-container__background">
                <ion-icon class="view-mileage--icon-container__icon-lg" src="../../../assets/svg/list.svg"></ion-icon>
              </div>
            </ion-col>
            <ion-col class="view-mileage--content-container">
              <div class="view-mileage--label">{{customProperty.name}}</div>
              <div class="view-mileage--value">{{ customProperty.displayValue }}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
    </ng-container>
  </div>
</ion-content>

<!-- TODO: Rename etxn terminology to expense in navigation footer component -->
<app-navigation-footer
  *ngIf="reportExpenseCount > 1"
  [activeExpenseIndex]="activeExpenseIndex"
  [reportExpenseCount]="reportExpenseCount"
></app-navigation-footer>
