<ion-header mode="md">
  <mat-icon class="fy-modal-top-bar" svgIcon="notch"></mat-icon>
  <ion-toolbar mode="md" class="fy-modal-toolbar">
    <ion-buttons mode="md" slot="start">
      <ion-button (click)="onDoneClick()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="exchange-rate-header-block">
      <div class="exchange-rate-title" mode="md">{{ 'fyCurrencyExchangeRate.title' | transloco }}</div>
      <button class="exchange-rate-save text-right" [disabled]="!fg.valid" (click)="save()">
        {{ 'fyCurrencyExchangeRate.save' | transloco }}
      </button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="exchange-rate-container">
  <div class="exchange-rate-modal">
    <form [formGroup]="fg">
      <div class="exchange-rate-modal--form-control">
        <div class="exchange-rate-modal--label">
          {{ 'fyCurrencyExchangeRate.expenseAmountInCurrencyLabel' | transloco: { currency: newCurrency } }}
        </div>
        <app-fy-number
          [placeholder]="'fyCurrencyExchangeRate.placeholderAmount' | transloco"
          formControlName="newCurrencyAmount"
        >
        </app-fy-number>
      </div>
      <div class="exchange-rate-modal--form-control">
        <div class="exchange-rate-modal--label">
          {{ 'fyCurrencyExchangeRate.exchangeRateLabel' | transloco: { newCurrency: newCurrency } }}
          <span class="exchange-rate-value">{{ fg.controls.exchangeRate.value }}</span> {{ currentCurrency }}
        </div>
        <app-fy-number
          [placeholder]="'fyCurrencyExchangeRate.placeholderAmount' | transloco"
          formControlName="exchangeRate"
        >
        </app-fy-number>
      </div>
      <div class="exchange-rate-modal--form-control">
        <div class="exchange-rate-modal--label">
          {{ 'fyCurrencyExchangeRate.expenseAmountInCurrencyLabel' | transloco: { currency: currentCurrency } }}
        </div>
        <app-fy-number
          [placeholder]="'fyCurrencyExchangeRate.placeholderAmount' | transloco"
          formControlName="homeCurrencyAmount"
        >
        </app-fy-number>
      </div>
    </form>
  </div>
  <div class="exchange-rate-info">
    <app-fy-alert-info
      [message]="
        'fyCurrencyExchangeRate.conversionMessage'
          | transloco
            : {
                newCurrency: newCurrency,
                newCurrencyAmount: fg.controls.newCurrencyAmount.value,
                currentCurrency: currentCurrency,
                homeCurrencyAmount: fg.controls.homeCurrencyAmount.value,
                exchangeRate: fg.controls.exchangeRate.value,
              }
      "
      [type]="'information'"
    ></app-fy-alert-info>
  </div>
</ion-content>
