@import '../../../../../theme/colors.scss';

.exchange-rate-modal {
  padding: 16px 16px 8px 16px;

  &--label {
    font-size: 12px;
    line-height: 1.5;
    color: $black-light;
  }

  &--input {
    color: $blue-black;
    margin: 6px 0;
  }

  &--form-control {
    margin-bottom: 20px;
    border-bottom: 1px solid $grey-lighter;
  }
}

.exchange-rate-title {
  line-height: 26px;
  font-size: 20px;
  font-weight: 500;
  color: $black-2;
  margin: 0 auto;
  text-align: center;
}

.exchange-rate-info {
  padding: 0 16px;
}

.exchange-rate-save {
  color: $brand-primary;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  padding-right: 12px;
  background-color: $pure-white;
}

.exchange-rate-header-block {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.exchange-rate-container {
  --overflow: hidden;
}

.exchange-rate-value {
  border-bottom: 1px solid $grey-lighter;
}
