<ion-header mode="md">
  <ion-toolbar [ngClass]="{ 'save-trip--header': saveMode === 'DRAFT' }">
    <ion-buttons *ngIf="saveMode === 'DRAFT'" mode="md" slot="end" class="save-trip--close-button" (click)="close()">
      Back
    </ion-buttons>
    <ion-buttons
      *ngIf="saveMode === 'SUBMIT' || saveMode === 'CLOSE'"
      mode="md"
      slot="end"
      class="save-trip--close-button"
      (click)="close()"
    >
      CANCEL
    </ion-buttons>
    <ion-title mode="md" class="save-trip--title">
      <span *ngIf="saveMode === 'DRAFT'">Review</span>
      <span *ngIf="saveMode === 'SUBMIT'">Missing Request</span>
      <span *ngIf="saveMode === 'CLOSE'">Discard Request</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="save-trip--warning-box" *ngIf="saveMode === 'DRAFT'">
    <p>
      This action will save a draft trip request and will not be submitted to your approvers directly.
      <strong> You need to explicitly submit a draft trip request. </strong>
    </p>
  </div>

  <div *ngIf="saveMode === 'SUBMIT'" class="save-trip--pending-request-block">
    <div class="save-trip--missing-request">Following requests are missing. Are you sure you want to submit?</div>
    <div>
      <ul class="save-trip--request-list">
        <li *ngIf="!otherRequests[0]?.hotel">Hotel Request</li>
        <li *ngIf="!otherRequests[1]?.transportation">Transportation Request</li>
      </ul>
    </div>
  </div>

  <div *ngIf="saveMode === 'CLOSE'" class="save-trip--pending-request-block">
    <div class="save-trip--missing-request">Unsaved changes will be discarded. Are you sure you want to go back?</div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="fy-footer-cta-container">
    <ion-button
      class="fy-footer-cta fy-footer-cta--primary"
      type="button"
      (click)="saveAsDraft()"
      *ngIf="saveMode === 'DRAFT'"
    >
      Finish
    </ion-button>
    <ion-button
      class="fy-footer-cta fy-footer-cta--primary"
      type="button"
      (click)="saveAsDraft()"
      *ngIf="saveMode === 'SUBMIT'"
    >
      Continue
    </ion-button>
    <ion-button
      class="fy-footer-cta fy-footer-cta--primary"
      type="button"
      (click)="saveAsDraft()"
      *ngIf="saveMode === 'CLOSE'"
    >
      Discard
    </ion-button>
  </ion-toolbar>
</ion-footer>
