<ion-header>
  <mat-icon *ngIf="!platform.is('android')" class="fy-modal-top-bar" svgIcon="fy-rectangle"></mat-icon>
  <ion-toolbar class="view-comment--toolbar fy-modal-toolbar">
    <ion-buttons slot="start" (click)="closeCommentModal()">
      <mat-icon class="fy-icon-close view-comment--btn-close" svgIcon="fy-close"></mat-icon>
    </ion-buttons>
    <ion-segment class="segment-block" (ionChange)="segmentChanged($event)" value="comments">
      <ion-segment-button value="comments" class="view-comment--btn-segment">
        Comments
      </ion-segment-button>
      <ion-segment-button value="history" class="view-comment--btn-segment">
        History
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content (swipe)="swipeRightToHistory($event)" class="view-comment--container" *ngIf="isCommentsView && userComments && userComments.length > 0">
  <div *ngFor="let estatus of userComments">
    <div *ngIf="estatus.show_dt">
      <div class="view-comment--date text-center">{{estatus.st_created_at | date:'MMM d, yyyy' }}</div>
    </div>
    <div class="view-comment--block" *ngIf="estatus.isSelfComment" [ngClass]="{'view-comment--no-date': !(estatus.show_dt)}">
      <ion-grid class="view-comment--card view-comment--self-comment text-right">
        <ion-row>
          <ion-col size="12">
            <div class="view-comment--name-container">{{ estatus.us_full_name }}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div *ngIf="!(estatus.st_comment.indexOf('created') > -1 && estatus.st_comment.indexOf('reversal') > -1)"
              class="view-comment--comment-detail">{{ estatus.st_comment }}</div>
            <div *ngIf="(estatus.st_comment.indexOf('created') > -1 && estatus.st_comment.indexOf('reversal') > -1)"
              class="view-comment--comment-detail">{{ estatus.st_comment }}</div>
            <a *ngIf="(estatus.st_comment.indexOf('created') > -1 && estatus.st_comment.indexOf('reversal') > -1)"
              (click)="openViewExpense()">{{ this.expenseNumber }} </a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="view-comment--comment-timestamp">{{estatus.st_created_at | date:'h:mm a' }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="view-comment--profile view-comment--self-profile">
        <mat-icon svgIcon="profile" class="view-comment--profile-icon"></mat-icon>
      </div>
    </div>
    <div class="view-comment--block" *ngIf="!estatus.isSelfComment" [ngClass]="{'view-comment--no-date': !(estatus.show_dt)}">
      <div class="view-comment--profile view-comment--others-profile">
        <mat-icon svgIcon="profile" class="view-comment--profile-icon"></mat-icon>
      </div>
      <ion-grid class="view-comment--card view-comment--others-comment text-left">
        <ion-row>
          <ion-col size="12">
            <div class="view-comment--name-container">{{ estatus.us_full_name }}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div *ngIf="!(estatus.st_comment.indexOf('created') > -1 && estatus.st_comment.indexOf('reversal') > -1)"
              class="view-comment--comment-detail">{{ estatus.st_comment }}</div>
            <div *ngIf="(estatus.st_comment.indexOf('created') > -1 && estatus.st_comment.indexOf('reversal') > -1)"
              class="view-comment--comment-detail">{{ estatus.st_comment }}</div>
            <a *ngIf="(estatus.st_comment.indexOf('created') > -1 && estatus.st_comment.indexOf('reversal') > -1)"
              (click)="openViewExpense()">{{ this.expenseNumber }} </a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="view-comment--comment-timestamp">{{estatus.st_created_at | date:'h:mm a' }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-content (swipe)="swipeRightToHistory($event)" class="view-comment--zero-state-block" *ngIf="isCommentsView && (userComments && userComments.length === 0)">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <img class="view-comment--zero-state" src="../../../assets/images/zero-states/comments.svg">
      </ion-col>
      <ion-col size="12">
        <div class="text-center view-comment--zero-state-content">Need to clarify something?</div>
      </ion-col>
      <ion-col size="12">
        <div class="text-center view-comment--zero-state-content">Post a comment.</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="isCommentsView && !userComments">
  <div class="view-comment--spinner">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ion-content>

<ion-content *ngIf="!isCommentsView" (swipe)="swipeLeftToComments($event)">
  <app-audit-history [estatuses]="systemEstatuses"></app-audit-history>
</ion-content>

<ion-footer class="ion-no-border" *ngIf="isCommentsView">
  <div class="view-comment--add-comment-container">
    <ion-toolbar mode="md">
      <div class="view-comment--type-comment-block">
        <textarea class="view-comment--text-area" rows="1" matInput placeholder="Type your comment here..."
          [(ngModel)]="newComment"></textarea>
        <mat-icon class="view-comment--send-icon" (click)="addComment()" svgIcon="send"></mat-icon>
      </div>
    </ion-toolbar>
  </div>
</ion-footer>
