@use '../../../../theme/colors.scss';

.transaction-status {
  &__container {
    display: flex;
    align-items: center;
  }

  &__status-indicator {
    width: 2px;
    height: 14px;
    border-radius: 1px;
    margin-right: 6px;

    &.posted {
      background-color: colors.$green;
    }

    &.pending {
      background-color: colors.$red;
    }
  }

  &__status-value-container {
    display: flex;
    align-items: center;
  }

  &__status-label {
    color: colors.$black-light;
    font-size: 12px;
    margin-bottom: 2px;
  }

  &__status-value {
    color: colors.$blue-black;
    font-weight: 500;
    margin-left: 6px;
    margin-right: 2px;
    line-height: 1.4;
    font-size: 12px;
  }

  &__info-icon {
    color: colors.$blue-black;
    width: 16px;
    height: 16px;
  }
}
