@import '../../../../theme/colors';
$small-screen: 700px;

.critical-policy-violation {
  padding: 10px 15px 0 15px;

  &--header {
    color: $black;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    padding: 14px 0;
  }

  &--info {
    color: $blue-black;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 18px;
  }

  &--body {
    background: $white-1;
    border: 1px solid $grey-1;
    box-sizing: border-box;
    border-radius: 8px;
    max-height: 40vh;
      @media (max-height: $small-screen) {
        max-height: 27vh;
      }
    overflow-y: auto;
    padding: 11px 8px;
    display: flex;
  }

  &--error-icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
    margin-right: 8px;
  }

  &--list {
    margin-left: 10px;

    &__elements {
      font-size: 12px;
      line-height: 20px;
      align-items: center;
      color: $blue-black;
    }
  }

  &--cta {
    margin-bottom: 5px;
  }

  &--secondary-cta {
    height: 100%;
    width: 90%;
    background: transparent;
    color: $black;
    font-size: 14px;
    line-height: 18px;
  }

  &--primary-cta {
    min-height: 35px;
    width: 90%;
    background: $pink-gradient-1;
    color: $white-1;
    font-size: 12px;
    line-height: 15px;
    border-radius: 4px;
  }

  &--alert-info {
    margin: 10px 0 5px;
  }
}
