@if (showHeader()) {
  <div>
    @if (showDragBar()) {
      <mat-icon class="fy-modal-top-bar" svgIcon="notch"></mat-icon>
    }
    <div class="text-center critical-policy-violation--toolbar fy-modal-toolbar">
      <div>
        <div class="critical-policy-violation--toolbar__title">
          @if (showCloseIcon()) {
            <span class="critical-policy-violation--toolbar__close-icon" slot="start">
              <mat-icon (click)="cancel()" class="fy-icon-close" svgIcon="cross"></mat-icon>
            </span>
          }
          {{ 'fyCriticalPolicyViolation.expenseBlocked' | transloco }}
        </div>
      </div>
    </div>
  </div>
}

@if (!isSplitBlocked()) {
  <div class="critical-policy-violation--content-section">
    <div class="critical-policy-violation--content">
      <div class="critical-policy-violation--info">
        {{ 'fyCriticalPolicyViolation.cannotReportWarning' | transloco }}
      </div>
      <div class="inner-content">
        @if (criticalViolationMessages) {
          @for (violation of criticalViolationMessages; track violation) {
            <app-policy-violation-rule [message]="violation" [violationType]="'critical'"></app-policy-violation-rule>
          }
          @if (isReceiptMissing()) {
            <app-fy-alert-info
              type="information"
              [message]="'fyCriticalPolicyViolation.splitIncompleteMissingReceipt' | transloco"
            ></app-fy-alert-info>
          }
        }
      </div>
    </div>
  </div>
}

@if (isSplitBlocked()) {
  <div class="critical-policy-violation--content-section">
    @if (isSplitMissingFields()) {
      <div class="critical-policy-violation--content-split-info">
        <app-fy-alert-info
          type="danger"
          [message]="'fyCriticalPolicyViolation.splitIncomplete' | transloco"
        ></app-fy-alert-info>
      </div>
      <div class="critical-policy-violation--content-split-info">
        <app-fy-alert-info
          type="information"
          [message]="'fyCriticalPolicyViolation.removeAndSplit' | transloco"
        ></app-fy-alert-info>
      </div>
    } @else {
      <div class="critical-policy-violation--content-split-info">
        <app-fy-alert-info
          type="danger"
          [message]="'fyCriticalPolicyViolation.splitBlocked' | transloco"
        ></app-fy-alert-info>
      </div>
      <div class="critical-policy-violation--content-split-info">
        <app-fy-alert-info
          type="information"
          [message]="'fyCriticalPolicyViolation.removeAndSplit' | transloco"
        ></app-fy-alert-info>
      </div>
    }
  </div>
}

@if (showCTA) {
  <ion-footer>
    <ion-toolbar mode="md">
      <div class="fy-footer-cta-container">
        <ion-button class="fy-footer-cta fy-footer-cta--tertiary-secondary" (click)="cancel()">
          {{ 'fyCriticalPolicyViolation.cancel' | transloco }}
        </ion-button>
        <ion-button class="fy-footer-cta fy-footer-cta--primary" (click)="continue()">
          {{ 'fyCriticalPolicyViolation.continue' | transloco }}
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-footer>
}
