@use '../../../../theme/colors';
$small-screen: 700px;

.critical-policy-violation {
  &--toolbar {
    &__title {
      color: colors.$black;
      margin: 20px;
      font-size: 20px;
      font-weight: 500;
    }
    &__close-icon {
      margin-top: 2px;
      position: absolute;
      left: 4%;
    }
  }

  &--content-section {
    height: 100%;
    overflow-y: scroll;
  }

  &--content {
    padding: 16px;
  }

  &--content-split-info {
    width: 95%;
    margin: 10px auto;
  }

  &--header {
    color: colors.$black;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    padding: 14px 0;
  }

  &--info {
    color: colors.$blue-black;
    font-size: 14px;
    line-height: 17.92px;
    padding-bottom: 18px;
    font-weight: 400;
  }

  &--container {
    margin-left: 8px;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    color: colors.$blue-black;
  }

  &--list {
    margin-left: 8px;

    &__elements {
      margin-left: 8px;
    }
  }
}
