<!-- <div class="critical-policy-violation"> -->

<ion-header mode="md">
  <mat-icon class="fy-modal-top-bar" svgIcon="fy-rectangle"></mat-icon>
  <ion-toolbar class="text-center critical-policy-violation--toolbar fy-modal-toolbar">
    <ion-title>
      <div class="critical-policy-violation--toolbar__title">Expense Blocked</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="critical-policy-violation--content">
    <div class="critical-policy-violation--info">You cannot report this expense due to the following violation(s):</div>

    <ng-container *ngIf="criticalViolationMessages">
      <ng-container *ngFor="let violation of criticalViolationMessages">
        <app-fy-critical-policy-violation-message [message]="violation"></app-fy-critical-policy-violation-message>
      </ng-container>
    </ng-container>

    <!-- <div class="critical-policy-violation--body">
        <mat-icon class="critical-policy-violation--error-icon">error</mat-icon>
    
        <div class="critical-policy-violation--container">
          <ng-container *ngIf="criticalViolationMessages.length === 1">
            <span class="critical-policy-violation--list__element">{{ criticalViolationMessages[0] }}</span>
          </ng-container>
          <ul *ngIf="criticalViolationMessages.length !== 1" class="critical-policy-violation--list m-0 p-0">
            <ng-container *ngFor="let criticalViolationMessage of criticalViolationMessages">
              <li class="critical-policy-violation--list__elements">
                {{ criticalViolationMessage }}
              </li>
            </ng-container>
          </ul>
        </div> -->
    <!-- </div> -->
  </div>
</ion-content>

<ion-footer class="critical-policy-violation--footer">
  <!-- <div class="critical-policy-violation--alert-info">
      <app-fy-alert-info
        [type]="'information'"
        [message]="'An expense with a critical policy violation cannot be added to any report.'"
      >
      </app-fy-alert-info>
    </div> -->

  <div class="critical-policy-violation--cta-container">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6" class="ion-no-padding">
          <button
            type="button"
            class="critical-policy-violation--cta-button critical-policy-violation--secondary-cta text-center"
            (click)="cancel()"
          >
            Cancel
          </button>
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
          <button
            type="submit"
            class="critical-policy-violation--cta-button critical-policy-violation--primary-cta text-center"
            (click)="continue()"
          >
            Continue
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-footer>
<!-- </div> -->
