@import '../../../../theme/colors';
$small-screen: 700px;

.critical-policy-violation {
  &--toolbar {
    &__title {
      color: $black;
      margin: 20px;
      font-size: 20px;
      font-weight: 500;
    }
    &__close-icon {
      margin-top: 2px;
      position: absolute;
      left: 4%;
    }
  }

  &--content-section {
    height: 100%;
    overflow-y: scroll;
  }

  &--content {
    padding: 16px;
  }

  &--content-split-info {
    width: 95%;
    margin: 10px auto;
  }

  &--header {
    color: $black;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    padding: 14px 0;
  }

  &--info {
    color: $blue-black;
    font-size: 14px;
    line-height: 17.92px;
    padding-bottom: 18px;
    font-weight: 500;
  }

  &--body {
    background: $pure-white;
    border: 1px solid $grey-lighter;
    box-sizing: border-box;
    border-radius: 8px;
    max-height: 40vh;
    @media (max-height: $small-screen) {
      max-height: 27vh;
    }
    overflow-y: auto;
    padding: 12px 8px;
    display: flex;
  }

  &--error-icon {
    color: $red;
    font-size: 20px;
    width: 20px;
    height: 20px;
  }

  &--container {
    margin-left: 8px;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    color: $blue-black;
  }

  &--list {
    margin-left: 8px;

    &__elements {
      margin-left: 8px;
    }
  }

  &--cta-container {
    margin: 18px 0;
  }

  &--cta-button {
    font-weight: 500;
    width: 90%;
  }

  &--secondary-cta {
    height: 100%;
    background: transparent;
    color: $black;
    font-size: 14px;
    line-height: 18px;
  }

  &--primary-cta {
    min-height: 35px;
    background: $pink-gradient;
    color: $pure-white;
    font-size: 12px;
    line-height: 15px;
    border-radius: 4px;
  }

  &--alert-info {
    margin-top: 10px;
    font-size: 12px;
    line-height: 15px;
  }
}
