<ion-content class="auth--content-container">
  <ion-row class="auth--page ion-justify-content-center ion-align-items-center">
    <ion-col size="12" style="padding: 0; margin: 0">
      <div class="auth--logo-container">
        <app-new-header></app-new-header>
      </div>
      <div class="auth--container-jumbotron">
        <div class="auth--form" *ngIf="currentPageState === pageStates.notSent">
          <div class="auth--form-header">Forgot Password</div>
          <p class="auth--hero-sub-title">Please enter your credentials to access your account</p>
          <form [formGroup]="fg" class="auth--form">
            <div style="padding-bottom: 10px">
              <ion-col size="12">
                <div class="input-label">Work Email</div>
                <div class="astrick-color">*</div>
              </ion-col>
            </div>
            <mat-form-field
              class="signin-signup-fields auth--form-field mat-form-field-no-padding"
              appearance="outline"
            >
              <input
                id="auth--email"
                name="email"
                formControlName="email"
                type="email"
                matInput
                placeholder="Enter your business email here"
              />
              <div class="action-wrapper" *ngIf="fg.controls.email.valid">
                <span class="action-text">
                  <img
                    class="new-password--header-logo"
                    src="../../../assets/svg/green-check.svg"
                    alt="fyle-green-check"
                  />
                </span>
              </div>
            </mat-form-field>
            <div
              class="auth--error"
              *ngIf="fg.controls.email.touched && !fg.controls.email.valid && !fg.controls.email.value"
            >
              Please enter an email.
            </div>
            <div
              class="auth--error"
              *ngIf="fg.controls.email.touched && !fg.controls.email.valid && fg.controls.email.value"
            >
              Please enter a valid email.
            </div>
          </form>
        </div>
        <div *ngIf="currentPageState === pageStates.success">
          <ion-icon class="resend-email-logo" src="../../../assets/svg/fy-reset-email.svg"></ion-icon>
        </div>
        <div class="resend-email-content" *ngIf="currentPageState === pageStates.success">
          <div class="reset-message-header">Check Your Mail</div>
          <div *ngIf="!sentLinkAgain" class="reset-message-subheader">
            We have sent a reset link on your email address,
          </div>
          <div *ngIf="sentLinkAgain" class="reset-message-subheader">
            If there's a Fyle account linked to this email address, we'll send over instructions to reset your password.
          </div>
          <div class="reset-email">{{fg.controls.email.value}}</div>
          <div *ngIf="!sentLinkAgain" class="reset-link-container">
            <div>Didn't receive link ?</div>
            <div class="reset-link" (click)="sentLinkAgain = true">Resend link</div>
          </div>
        </div>
        <div class="signin-divider text-center">
          <span class="signin-divider-text text-center text-capitalize"> OR </span>
        </div>
        <div class="auth--primary-cta">
          <button
            *ngIf="currentPageState === pageStates.notSent"
            id="auth--continue"
            mat-flat-button
            color="primary"
            appFormButtonValidation
            [loading]="isLoading"
            (click)="sendResetLink()"
          >
            Request Reset Link
          </button>
          <button
            *ngIf="currentPageState === pageStates.success"
            id="auth--continue"
            mat-flat-button
            color="primary"
            appFormButtonValidation
            [routerLink]="['/', 'auth', 'sign_in']"
          >
            Sign In
          </button>
        </div>
        <div
          *ngIf="currentPageState === pageStates.notSent"
          style="text-align: center; margin-top: 20px"
          [routerLink]="['/', 'auth', 'sign_in']"
        >
          <p style="display: inline-block">&#60;</p>
          <div style="display: inline-block; margin-left: 3px">Back to sign in</div>
        </div>
      </div>
    </ion-col>
    <ion-footer class="footer">
      <div>Never lose track</div>
    </ion-footer>
  </ion-row>
</ion-content>
