<ion-content scroll-y="false" class="no-keyboard-adjust">
  <div class="forgot-password">
    <div class="forgot-password__form-container" *ngIf="currentPageState === PageState.notSent">
      <div>
        <ion-icon
          class="fy-icon forgot-password__back-icon"
          src="/assets/svg/arrow-tail-left.svg"
          (click)="onGotoSignInClick()"
        ></ion-icon>
        <div>
          <ng-container *ngIf="isTmpPwdExpired">
            <div class="forgot-password__pwd-expired-container">
              <ion-icon class="fy-icon forgot-password__warning-icon" [src]="'/assets/svg/warning-outline.svg'">
              </ion-icon>
              <div class="forgot-password__pwd-expired-page-header">Your password has expired</div>
            </div>
          </ng-container>
          <ng-container *ngIf="!isTmpPwdExpired">
            <div class="forgot-password__page-header">Forgot password</div>
          </ng-container>
        </div>
        <div class="forgot-password__sub-header">
          Please enter your registered email address to receive instructions for resetting your password
        </div>
        <form [formGroup]="fg" class="forgot-password__input-container">
          <div class="forgot-password__input-container__label">Registered email</div>
          <input
            #simpleEmailInput
            matInput
            type="email"
            placeholder="Email ID"
            formControlName="email"
            pattern="\S+@\S+\.\S{2,}"
            class="forgot-password__input-container__input"
          />
          <div class="forgot-password__error-message" *ngIf="fg.controls.email.touched && !fg.controls.email.valid">
            Enter an email address.
          </div>
        </form>
      </div>
      <div>
        <ion-button
          (click)="sendResetLink(fg.controls.email.value)"
          class="btn-primary"
          fill="clear"
          [disabled]="!fg.valid"
          appFormButtonValidation
          [loadingText]="'Requesting'"
          [loading]="isLoading"
        >
          Request reset link
        </ion-button>
      </div>
    </div>
    <div class="forgot-password__success-message" *ngIf="currentPageState === PageState.success">
      <div class="forgot-password__content-container">
        <div class="forgot-password__success-icon-container">
          <ion-icon
            class="forgot-password__success-icon"
            [src]="'/assets/svg/check-circle-outline.svg'"
            slot="icon-only"
          ></ion-icon>
        </div>
        <section class="forgot-password__text">
          <h1 class="forgot-password__header">Check your email</h1>
          <p class="forgot-password__content">
            We've sent password recovery instructions to
            <span class="forgot-password__content__reset-email">{{resetEmail}}</span>
          </p>
        </section>
        <section class="forgot-password__resend-text" *ngIf="!isEmailSentOnce">
          Didn’t receive the email?
          <span class="forgot-password__resend-text__resend-link" (click)="sendResetLink(resetEmail)" *ngIf="!isLoading"
            >Resend</span
          >
          <ion-spinner
            *ngIf="isLoading"
            class="forgot-password__resend-text__spinner-icon"
            icon="circles"
          ></ion-spinner>
        </section>
      </div>
      <div class="forgot-password__cta">
        <ion-button
          (click)="onGotoSignInClick()"
          class="btn-primary"
          fill="clear"
          aria-label="Navigate back to sign in page"
          role="button"
        >
          <div class="forgot-password__cta-content">
            <ion-icon
              class="forgot-password__arrow-icon"
              [src]="'/assets/svg/arrow-left.svg'"
              slot="icon-only"
            ></ion-icon>
            <span class="forgot-password__cta-text">Back to sign in</span>
          </div>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
