@import '../../../theme/colors.scss';

.forgot-password {
  height: 100%;
  margin-top: 18px;
  padding-bottom: 20px;

  &__form-container {
    display: flex;
    flex-direction: column;
    padding: 24px 20px;
    justify-content: space-between;
    height: 100%;
  }

  &__page-header {
    font-size: 20px;
    margin: 0 0 10px;
    position: relative;
    margin-bottom: 6px;
    font-weight: 500;
  }

  &__disabled {
    opacity: 0.2;
  }

  &__sub-header {
    font-size: 14px;
    margin: 0 0 10px;
    position: relative;
    margin-bottom: 24px;
    color: $black-light;
  }

  &__error-message {
    color: $red;
    display: flex;
    align-items: center;
  }

  &__input-container {
    &__label {
      margin: 0 8px 0 0;
      font-size: 12px;
      color: $black-light;
      line-height: 1.3;
      font-weight: 400;
    }

    &__input {
      border: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.3;
      color: $blue-black;
      width: 100%;
      padding: 6px 0;
      border-bottom: 1px solid $grey-lighter;
    }

    &__input:focus {
      border-bottom: 1px solid $blue-black;
    }
  }

  &__content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
  }

  &__arrow-icon {
    fill: $pure-white;
    margin-right: 8px;
  }

  &__cta-text {
    font-size: 14px;
    font-weight: 500;
  }

  &__cta {
    margin: 0 20px 24px 20px;
  }

  &__cta-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__success-message {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__success-icon-container {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background: $success-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
  }

  &__success-icon {
    width: 45px;
    height: 45px;
    fill: $green;
  }

  &__text {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: column;
  }

  &__header {
    color: $black;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 26px;
    margin: 0;
  }

  &__resend-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $black-light;
    font-weight: 500;
    gap: 2px;

    &__resend-link {
      color: $brand-primary;
    }

    &__spinner-icon {
      color: $brand-primary;
      height: 12px;
    }
  }

  &__content {
    color: $black-light;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    height: 36px;
    width: 274px;

    &__reset-email {
      font-weight: 500;
    }
  }

  &__back-icon {
    margin-bottom: 16px;
    width: 28px;
    height: 28px;
  }

  &__pwd-expired-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin: 0 0 6px;
  }

  &__pwd_expired-page-header {
    font-size: 20px;
    margin: 0;
    position: relative;
    font-weight: 500;
  }

  &__warning-icon {
    width: 20px;
    height: 20px;
    color: $dark-yellow;
    background-color: $warning-lighter;
    border-radius: 4px;
    padding: 6px;
  }
}
