@import '../auth.scss';

.icon--navigate {
  font-size: 10px !important;
}

.resend-email-logo {
  // min-height: 300px;
  font-size: 200px;
  width: 100%;
  // padding: 80px 0 28px 0;
}

.resend-email-content {
  text-align: center;
}

.reset-message-header {
  font-weight: 500;
  font-size: 24px;
  color: #2c304e;
  padding-bottom: 10px;
}

.reset-email {
  font-weight: bold;
}

.reset-message-subheader {
  padding-top: 10px;
}

.reset-link-container {
  padding-top: 15px;
}

.reset-link-container div {
  display: inline-block;
  padding: 0 2px;
}

.reset-link {
  color: $astrick-red;
}

.auth {
  &--form-header {
    font-weight: 500;
  }

  &--container-jumbotron {
    padding: 32px;
    min-height: 300px;
  }
}
