.view-trip {
  &--toolbar {
    border-bottom: 1px solid #e0e0e0;
  }

  &--header {
    margin: 12px 16px;
  }

  &--edit {
    color: #0077ee;
    font-size: 14px;
    font-weight: 400;
  }

  &--card {
    padding: 0 16px;
    margin: 16px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
  }

  &--card-action {
    padding: 16px 0;
    display: flex;
    align-items: center;
  }

  &--card-action-icon {
    color: #ababab;
    margin-right: 12px;
  }

  &--card-action-text {
    font-size: 16px;

    &__comment {
      color: #0077ee;
    }
    &__delete {
      color: #f00;
    }
  }

  &--element {
    display: flex;
    // margin: 12px;
    border-bottom: 1px solid #e0e0e0;
    padding: 16px 0;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }

    &:first-child {
      margin-top: 0;
    }

    &__single {
      border-bottom: none;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &--element-label {
    min-width: 120px;
    max-width: 30%;
    margin: 0 8px 0 0;
    font-size: 16px;
    color: #ababab;
    font-weight: 500;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--element-value {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #444444;
  }
}
