@import '../../../../../theme/colors';

.stats {
  &--expenses-amount-currency {
    font-size: 12px;
    line-height: 15px;
    color: $black-light;
  }

  &--ccc-card-details {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    height: 145px;
    width: calc(100% - 24px);
    border-radius: 16px;
    box-shadow: 0px 12px 20px -10px rgba($dark-grey, 0.24);
    z-index: 999;
  }

  &--ccc-virtual-card-details {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: fit-content;
  }

  &--ccc-stats {
    padding: 64px 32px 32px 32px;
    background: $pure-white;
    border-radius: 16px;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
    bottom: 54px;
    box-shadow: 0px -2px 40px 0px $transparent-pearl-grey;
  }

  &--ccc-classified-stats {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;

    &__margin-top {
      margin-top: 24px;
    }
  }

  &--ccc-classified-count,
  &--ccc-classified-amount {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: $black;
  }

  &--ccc-stats-title {
    font-size: 16px;
    line-height: 20px;
    color: $black-2;
  }

  &--ccc-stats-divider {
    border-bottom: 1px solid $grey-lighter;
    margin-top: 24px;
  }
}
