<div class="stats--ccc-card-details" [ngClass]="{ 'stats--ccc-virtual-card-details': cardDetail.card.virtual_card_id }">
  @if (!cardDetail.card.virtual_card_id) {
  <app-corporate-card [card]="cardDetail.card" [hideOptionsMenu]="true"></app-corporate-card>
  } @if (cardDetail.card.virtual_card_id) {
  <app-virtual-card
    [cardStatus]="cardDetail.card.virtual_card_state"
    [cardNumber]="cardDetail.virtualCardDetail?.full_card_number"
    [expiry]="cardDetail.virtualCardDetail?.expiry_date"
    [availableAmount]="cardDetail.virtualCardDetail?.current_amount"
    [cardNickname]="cardDetail.virtualCardDetail?.nick_name"
    [cvv]="cardDetail.virtualCardDetail?.cvv"
  ></app-virtual-card>
  }
</div>
<div class="stats--ccc-stats">
  <div>
    <div (click)="goToExpensesPage('incompleteExpenses', cardDetail)">
      <div class="stats--ccc-classified-stats">
        <div class="stats--ccc-classified-count">
          {{ cardDetail.stats.totalDraftTxns }}
        </div>
        <div class="stats--ccc-classified-amount">
          <span class="stats--expenses-amount-currency">
            {{ currencySymbol }}
          </span>
          @if ( !isSmallScreen && cardDetail.stats.totalDraftValue > -1000000000 && cardDetail.stats.totalDraftValue <
          1000000000) {
          {{
            { value: cardDetail.stats.totalDraftValue, currencyCode: homeCurrency, skipSymbol: true } | exactCurrency
          }}
          } @else {
          {{ cardDetail.stats.totalDraftValue | humanizeCurrency : homeCurrency : true }}
          }
        </div>
      </div>
      <div class="stats--ccc-stats-title">
        Incomplete card {{ cardDetail.stats.totalDraftTxns <= 1 ? 'expense' : 'expenses' }}
      </div>
    </div>

    <hr class="stats--ccc-stats-divider" />
    <div (click)="goToExpensesPage('completeExpenses', cardDetail)">
      <div class="stats--ccc-classified-stats stats--ccc-classified-stats__margin-top">
        <div class="stats--ccc-classified-count">
          {{ cardDetail.stats.totalCompleteTxns }}
        </div>
        <div class="stats--ccc-classified-amount">
          <span class="stats--expenses-amount-currency">
            {{ currencySymbol }}
          </span>
          @if ( !isSmallScreen && cardDetail.stats.totalCompleteExpensesValue > -1000000000 &&
          cardDetail.stats.totalCompleteExpensesValue < 1000000000) {
          {{
            { value: cardDetail.stats.totalCompleteExpensesValue, currencyCode: homeCurrency, skipSymbol: true }
              | exactCurrency
          }}
          } @else {
          {{ cardDetail.stats.totalCompleteExpensesValue | humanizeCurrency : homeCurrency : true }}
          }
        </div>
      </div>
      <div class="stats--ccc-stats-title">
        Complete card {{ cardDetail.stats.totalCompleteTxns <= 1 ? 'expense' : 'expenses' }}
      </div>
    </div>
  </div>
</div>
