<div class="stats--ccc-card-details">
  <app-corporate-card
    *ngIf="!cardDetail.card.virtual_card_id"
    [card]="cardDetail.card"
    [hideOptionsMenu]="true"
  ></app-corporate-card>
  <app-virtual-card
    *ngIf="showVirtualCard"
    [cardStatus]="cardDetail.card.virtual_card_state"
    [cardNumber]="cardDetail.virtualCardDetail?.full_card_number"
    [expiry]="cardDetail.virtualCardDetail?.expiry_date"
    [availableAmount]="cardDetail.virtualCardDetail?.current_amount"
    [cardNickname]="cardDetail.virtualCardDetail?.nick_name"
  ></app-virtual-card>
</div>
<div class="stats--ccc-stats" [ngClass]="{ 'stats--virtual-card-stats': cardDetail.card.virtual_card_id }">
  <div>
    <div (click)="goToExpensesPage('incompleteExpenses', cardDetail)">
      <div class="stats--ccc-classified-stats">
        <div class="stats--ccc-classified-count">
          {{ cardDetail.stats.totalDraftTxns }}
        </div>
        <div class="stats--ccc-classified-amount">
          <span class="stats--expenses-amount-currency">
            {{ currencySymbol }}
          </span>
          {{ cardDetail.stats.totalDraftValue | humanizeCurrency : homeCurrency : true }}
        </div>
      </div>
      <div class="stats--ccc-stats-title">
        Incomplete Card {{ cardDetail.stats.totalDraftTxns === 1 ? 'Expense' : 'Expenses' }}
      </div>
    </div>

    <hr class="stats--ccc-stats-divider" />
    <div (click)="goToExpensesPage('totalExpenses', cardDetail)">
      <div class="stats--ccc-classified-stats stats--ccc-classified-stats__margin-top">
        <div class="stats--ccc-classified-count">
          {{ cardDetail.stats.totalTxnsCount }}
        </div>
        <div class="stats--ccc-classified-amount">
          <span class="stats--expenses-amount-currency">
            {{ currencySymbol }}
          </span>
          {{ cardDetail.stats.totalAmountValue | humanizeCurrency : homeCurrency : true }}
        </div>
      </div>
      <div class="stats--ccc-stats-title">
        Total {{ cardDetail.stats.totalTxnsCount === 1 ? 'Expense' : 'Expenses' }}
      </div>
    </div>
  </div>
</div>
