<app-camera-preview
  #cameraPreview
  [isBulkMode]="isBulkMode"
  [isOffline]="isOffline$ | async"
  [allowGalleryUploads]="allowGalleryUploads"
  [allowBulkFyle]="allowBulkFyle"
  [lastCapturedReceipt]="lastCapturedReceipt"
  [noOfReceipts]="noOfReceipts"
  [isBulkModePromptShown]="isBulkModePromptShown"
  (toggleFlashMode)="onToggleFlashMode($event)"
  (galleryUpload)="onGalleryUpload()"
  (switchMode)="onSwitchMode()"
  (receiptPreview)="openReceiptPreviewModal()"
  (dismissCameraPreview)="onDismissCameraPreview()"
  (captureReceipt)="onCaptureReceipt()"
  (permissionDenied)="showPermissionDeniedPopover($event)"
></app-camera-preview>
