<app-camera-preview
  #cameraPreview
  [isBulkMode]="isBulkMode"
  [isOffline]="isOffline$ | async"
  [allowGalleryUploads]="allowGalleryUploads"
  [allowBulkFyle]="allowBulkFyle"
  [lastCapturedReceipt]="lastImage"
  [noOfReceipts]="captureCount"
  (toggleFlashMode)="onToggleFlashMode()"
  (galleryUpload)="onGalleryUpload()"
  (switchMode)="onSwitchMode()"
  (receiptPreview)="openReceiptPreviewModal()"
  (dismissCameraPreview)="onDismissCameraPreview()"
  (captureReceipt)="onCaptureReceipt()"
></app-camera-preview>
