<div class="fy-footer">
  <div class="fy-footer--buttons">
    <div class="fy-footer--button" expand="full" (click)="onHomeClick()">
      <mat-icon *ngIf="activeState === FooterState.HOME" svgIcon="fy-home-solid"></mat-icon>
      <mat-icon *ngIf="activeState !== FooterState.HOME" svgIcon="fy-home"></mat-icon>
      Home
    </div>
    <div class="fy-footer--primary-button-container" (click)="onCameraClick()">
      <ion-icon class="fy-footer--icon fy-footer--primary-icon" name="camera"></ion-icon>
    </div>
    <div class="fy-footer--button fy-footer--button__disabled" expand="full" (click)="onTasksClick()">
      <mat-icon *ngIf="activeState === FooterState.TASKS" svgIcon="fy-notification-solid"></mat-icon>
      <mat-icon *ngIf="activeState !== FooterState.TASKS" svgIcon="fy-notification"></mat-icon>
      Tasks
    </div>
  </div>
</div>
