@import '../../../../theme/colors';

.fy-footer {
  &--button {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    justify-content: center;
    color: $black;
    &__inactive {
      color: $grey-light;
    }

    &__disabled {
      opacity: 0.4;
    }

    &__disabled {
      opacity: 0.2;
    }
  }

  &--buttons {
    display: flex;
    justify-content: space-around;
    min-height: 60px;
    max-height: 80px;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: $pure-white;
    box-shadow: 0 -2px 12px $pink-shadow;
    z-index: 999;
    &__message-gap {
      margin-bottom: 36px;
    }
  }

  &--icon {
    width: 24px;
    height: 24px;
    fill: $black-2;
    &__primary {
      fill: $pure-white;
      height: 36px;
      width: 36px;
      position: relative;
      top: 1px;
      left: 0;
    }
  }

  &--icon-pill {
    position: absolute;
    background-color: $brand-primary;
    color: $pure-white;
    line-height: 8px;
    top: 4px;
    margin-left: 14px;
    font-size: 75%;
    font-weight: 700;
    text-align: center;
    padding: 4px;
    border-radius: 20px;
    white-space: nowrap;
    min-width: 16px;
  }

  &--primary-button-container {
    padding: 18px 21px;
    border-radius: 50%;
    position: relative;
    top: -44px;
    max-height: 77px;
    min-height: 77px;
    min-width: 77px;
    max-width: 77px;
    line-height: 1.2;
    background: $pink-gradient;
    box-shadow: 0 4px 30px $primary-shadow;
  }

  &--primary-icon {
    color: $pure-white;
  }
}
