@import '../../../../theme/colors';

.fy-footer {
  &--button {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    justify-content: center;
    color: var(--primary-text);
    overflow: hidden;
    &__inactive {
      color: var(--secondary-text);
    }

    &__disabled {
      opacity: 0.4;
    }

    &__disabled {
      opacity: 0.2;
    }

    &__tabs {
      width: 100%;
    }
  }

  &--buttons {
    display: flex;
    justify-content: space-around;
    min-height: 60px;
    max-height: 80px;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--background-card);
    box-shadow: 0 -2px 12px $pink-shadow;
    z-index: 999;
    &__message-gap {
      margin-bottom: 36px;
    }
  }

  &--icon {
    width: 20px;
    height: 20px;
    fill: var(--primary-text);
    &__primary {
      fill: $pure-white;
      height: 28px;
      width: 28px;
      position: relative;
      top: 1px;
      left: 0;
    }
  }

  &--icon-pill {
    position: absolute;
    background-color: $brand-primary;
    color: $pure-white;
    line-height: 8px;
    top: 4px;
    margin-left: 14px;
    font-size: 75%;
    font-weight: 700;
    text-align: center;
    padding: 4px;
    border-radius: 20px;
    white-space: nowrap;
    min-width: 16px;
  }

  &--primary-button-container {
    padding: 18px;
    border-radius: 50%;
    position: relative;
    top: -24px;
    max-height: 77px;
    min-height: 77px;
    min-width: 77px;
    max-width: 77px;
    line-height: 1.2;
    background: $pink-gradient;
    border: 6px solid var(--background-card);
  }

  &--primary-icon {
    color: $pure-white;
  }
}

.tab-button-expenses {
  width: 85%;
}

.tab-button-reports {
  width: 85%;
}
