@import '../../../../theme/colors';

.fy-footer {
  &--button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    justify-content: space-around;
    &__disabled {
      opacity: .4;
    }
  }
  &--buttons {
    display: flex;
    justify-content: space-around;
    min-height: 60px;
    padding: 8px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: $footer-background;
    box-shadow: 0px -2px 12px $footer-primary-cta-shadow;
  }

  &--icon {
    width: 24px;
    height: 24px;
  }

  &--primary-button-container {
    padding: 18px 21px;
    border-radius: 50%;
    position: relative;
    top: -28px;
    line-height: 1.2;
    background: $footer-primary-button-gradient;
    box-shadow: 0px 4px 30px $footer-primary-button-container;
  }

  &--primary-icon {
    color: #fff;
  }
}
