@use '../../../../theme/colors';

.expenses-card {
  &--date {
    color: colors.$dark-grey;
    font-size: 12px;
  }

  &--body {
    min-height: 92px;
    padding: 12px;
    background: colors.$pure-white;
    position: relative;
  }

  &--deatils-block {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--receipt-container {
    background-color: colors.$light-grey;
    border-radius: 8px;
    height: 72px;
    max-width: 56px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  &--receipt-image-container {
    background-color: colors.$light-grey;
    border-radius: 8px;
    height: 72px;
    max-width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--receipt-image {
    height: auto;
    width: 56px;
  }

  &--with-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--receipt-icon {
    height: 28px;
    width: 28px;
    stroke: colors.$black-light;

    &__pdf {
      stroke: none;
      color: colors.$black-light;
    }
  }

  &--receipt-thumbnail {
    height: 74px;
    margin-left: auto;
    margin-right: auto;
  }

  &--vertical-dotted-border {
    border-left: 2px dashed colors.$border-tertiary;
    height: 90%;
    margin: 0 8px;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 68px;
    transform: translate(-50%, -50%);
  }

  &--category-vendor-project-container {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 16px;

    &__align-vertical-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__error {
      color: colors.$red;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.3;
    }
  }

  &--category-icon-container {
    width: 100%;
  }

  &--category {
    color: colors.$black;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--vendor {
    color: colors.$blue-black;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;

    &__not-filled {
      color: colors.$black-light;
    }
  }

  &--currency-amount-container {
    display: flex;
    align-items: center;
    margin-top: 4px;
  }

  &--currency {
    color: colors.$black;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    margin-right: 1px;
  }

  &--amount {
    color: colors.$black;
    font-size: 16px;
    line-height: 1.3;
    margin-right: 6px;
    font-weight: 500;
  }

  &--icon {
    vertical-align: baseline;
    height: 13px;
    width: 13px;
    color: colors.$brand-primary;
  }
}
