<div class="expenses-card--body">
  <div class="d-flex">
    <ng-container *ngIf="!isReceiptPresent">
      <div class="expenses-card--receipt-container">
        <ion-icon
          class="expenses-card--receipt-icon expenses-card--receipt-icon__pdf"
          [src]="'assets/svg/no-attachment.svg'"
        ></ion-icon>
      </div>
    </ng-container>

    <div *ngIf="isReceiptPresent" class="expenses-card--receipt-image-container expenses-card--with-image">
      <img class="expenses-card--receipt-image" [src]="'../../../../assets/images/pdf-receipt-placeholder.png'" />
    </div>
    <div class="d-flex expenses-card--deatils-block">
      <div class="expenses-card--category-vendor-project-container">
        <div class="d-flex expenses-card--category-icon-container">
          <div class="expenses-card--category">
            {{ expense.purpose }} <ng-container *ngIf="!expense.purpose"> Unspecified </ng-container>
          </div>
        </div>

        <div>
          {{ expense.vendor }}
        </div>

        <div>
          {{ expense.txn_dt | date : 'MMM dd, YYYY' }}
        </div>
      </div>

      <div class="d-flex">
        <div>
          <div class="expenses-card--currency-amount-container ion-text-right">
            <span class="expenses-card--currency">{{ expense.currency | currencySymbol }}</span>
            <span class="expenses-card--amount"> {{ expense.amount }}</span>

            <span>
              <ion-icon [src]="'assets/svg/arrow.svg'" class="expenses-card--icon" slot="icon-only"> </ion-icon>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
