@import '../../../../theme/colors';

.expenses-card {
  &--date {
    color: $grey-light;
    font-size: 14px;
    padding: 16px 0 12px 16px;
    background-color: $white;
    font-weight: 500;
  }

  &--body {
    min-height: 92px;
    padding: 16px;
  }

  &--deatils-block {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--receipt-container {
    background-color: $light-grey;
    border-radius: 8px;
    height: 65px;
    padding: 15px;
  }

  &--receipt-thumbnail-container {
    background-color: $light-grey;
    border-radius: 8px;
    height: 64px;
    min-width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--with-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--receipt-icon {
    height: 35px;
    width: 35px;
    stroke: $black-light;

    &__pdf {
      stroke: none;
      color: $black-light;
    }
  }

  &--receipt-thumbnail {
    height: 74px;
    margin-left: auto;
    margin-right: auto;
  }

  &--category-vendor-project-container {
    padding: 3px 20px 4px 11px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    &__align-vertical-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__error {
      color: $red;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.3;
    }
  }

  &--category-icon-container {
    width: 100%;
  }

  &--category {
    color: $black;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--vendor {
    color: $blue-black;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;

    &__not-filled {
      color: $black-light;
    }
  }

  &--currency-amount-container {
    width: 100%;
    white-space: nowrap;
  }

  &--currency {
    color: $black-light;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    margin-right: -2px;
    vertical-align: initial;
  }

  &--amount {
    color: $black;
    font-size: 20px;
    line-height: 1.3;
    margin-right: 6px;
    font-weight: 500;
  }

  &--icon {
    vertical-align: baseline;
    height: 13px;
    width: 13px;
  }
}
