@import '../../../theme/colors.scss';
@import '../../../theme/forms.scss';

.add-edit-expense {
  &--toolbar {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    &__review {
      min-height: 80px;
    }

    &__title {
      font-size: 20px;
      text-align: center;
    }
  }

  &--header-btn-container {
    margin-right: 10px;
    &__btn {
      --padding-start: 8px !important;
      --padding-end: 8px !important;
      width: auto !important;
      color: $black-light;
    }
  }

  &--header-button {
    --padding-start: 8px !important;
    --padding-end: 8px !important;
    width: auto !important;
  }

  &--title {
    &__review {
      text-align: center;
      padding-inline-end: 0;
      position: relative;
      line-height: 26px;
      color: $black;
      font-weight: 400;
      top: 12px;
      height: 64px;
    }
  }

  &--sub-header {
    color: #ababab;
    font-size: 14px;
    font-weight: 400;
  }

  &--footer {
    display: flex;
    justify-content: space-around;
  }

  &--footer-box {
    box-shadow: 0px -2px 40px rgba(215, 215, 215, 0.4);
  }

  &--footer-container {
    &::before {
      content: none;
    }
  }

  &--footer-toolbar {
    padding: 14px 16px;
    box-shadow: 0px -2px 40px rgba(215, 215, 215, 0.4);
    &__shadow {
      box-shadow: 0px -2px 40px rgba(215, 215, 215, 0.4);
    }
    &__offline {
      padding-bottom: 36px;
    }
  }

  &--primary-cta,
  &--secondary-cta {
    height: 48px;
    font-size: 14px;
    text-transform: inherit;
    font-weight: 600;
    border-radius: 8px;
    width: 100%;
    margin: 12px 0;
    --border-radius: 4px !important;

    &:first-child {
      margin-right: 4px;
    }

    &:last-child {
      margin-left: 4px;
    }
  }

  &--secondary-cta {
    margin: 0;
    border-radius: 0;
    &__border {
      border-right: 1px solid $grey;
    }
  }

  &--secondary-cta-text {
    min-width: 80px;
  }

  &--secondary-cta-icon {
    &__left {
      margin-right: 18px;
    }

    &__right {
      margin-left: 18px;
    }
  }

  &--receipt-currency {
    display: flex;
    align-items: center;
  }

  &--receipt {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    color: #ababab;
    margin-left: 0;
    margin-top: 12px;
    margin-right: 12px;
    height: 64px;
  }

  &--receipt-image {
    background-color: $light-grey;
    min-width: 64px;
    min-height: 64px;
    max-width: 64px;
    max-height: 88px;
    border-radius: 16px;
    position: relative;
  }

  &--receipt-background {
    position: absolute;
    top: 24%;
    left: 16px;
    font-size: 64px;
    height: 36px;
    width: 34px;
    background-color: $light-grey;
    border-radius: 16px;
  }

  &--receipt-text {
    position: relative;
    padding-top: 10px;
    padding-bottom: 6px;
    &__count {
      color: $blue-black;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      padding-top: 24px;
    }
  }

  &--receipt-image-icon {
    height: 32px;
    width: 31px;
    margin: 16px;
  }

  &--receipt-add-more-icon {
    top: 2%;
    left: 4%;
    font-size: 24px;
  }

  &--spinner-icon {
    margin-top: 12px;
    color: #f36;
  }

  &--currency {
    margin: 12px 0 0 0;
  }

  &--form {
    padding: 0 16px;
  }

  &--alert-offline {
    padding-top: 10px;
  }

  &--alert-split {
    margin: 8px 0;
  }

  &--date {
    border-bottom: 1px solid $grey-lighter;

    &__invalid {
      border-bottom: 1px solid $red;
    }
  }

  &--date-label {
    margin: 0 8px 0 0;
    max-width: 90%;
    min-width: 120px;
    font-size: 12px;
    color: $black-light;
    line-height: 16px;
    white-space: nowrap;
    font-weight: 400;
  }

  &--date-input {
    border: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    border: none;
    width: 100%;
    padding: 0;
    height: 18px;
    margin: 6px 0;
  }

  &--text {
    border-bottom: 1px solid $grey-lighter;

    &__invalid {
      border-bottom: 1px solid $red;
    }
  }

  &--text-label {
    margin: 0 8px 0 0;
    max-width: 90%;
    min-width: 120px;
    font-size: 12px;
    color: $black-light;
    line-height: 16px;
    white-space: nowrap;
    font-weight: 400;
  }

  &--text-input {
    border: 0;
    font-size: 14px;
    font-weight: 400;
    height: 18px;
    line-height: 18px;
    color: $blue-black;
    width: 100%;
    margin: 6px 0;
    padding: 0;
  }

  &--checkbox {
    font-size: 14px;
    color: $blue-black;
    font-weight: 400;
  }

  &--project-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--no-project {
    margin-right: 0 !important;
  }

  &--project-block {
    flex-grow: 1;
    margin-right: 26px;
    margin-top: -12px;
  }

  &--primary-block {
    margin: 16px 0;
  }

  &--internal-block {
    padding: 6px 0;
    background: #fff;
    line-height: 1;
    margin-bottom: 12px;
    &__margin {
      margin-right: 12px;
    }
    &__invalid {
      margin-bottom: 0px;
    }
  }

  &--split-expense-container {
    display: flex;
    flex-direction: row;
    background-color: $pure-white;
    padding: 0;
  }

  &--split-expense-title {
    font-size: 12px;
    font-weight: 500;
    color: $black-2;
    margin-bottom: 20px;
    border: 1px solid $grey-light;
    border-radius: 4px;
    padding: 10px 20px;
    width: max-content;
  }

  &--split-expense-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 12px;
  }

  &--split-info-container {
    display: flex;
    margin-left: 20px;

    &__with-border {
      margin: 8px 0px;
      border: 1px solid $grey-lighter;
      margin-left: 0;
      border-radius: 4px;
      padding: 8px;
    }
  }

  &--split-info-icon {
    color: $highlight-blue;
    margin-right: 10px;
  }

  &--split-info-message {
    width: 100%;
    color: $blue-black;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.16px;
  }

  &--comment {
    border-radius: 4px;
    border: 1px solid $grey-lighter;
    padding: 12px;
    margin-bottom: 10px;
  }

  &--delete {
    display: flex;
    align-items: center;
    padding: 12px;
    border: 1px solid $grey-lighter;
    border-radius: 4px;
  }

  &--delete-icon {
    font-size: 24px;
    color: #ababab;
  }

  &--delete-msg {
    font-size: 16px;
    margin: 4px 0 0 16px;
    color: #f00;
  }

  &--duplicates-box {
    background-color: #f3f5f8;
    border: 0;
    padding: 0;
  }

  &--duplicate-header {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--duplicate-info {
    display: flex;
    font-weight: 500;
  }

  &--duplicate-warning-icon {
    color: #ffb25c;
    margin-right: 5px;
  }

  &--duplicate-cta {
    color: #387ef5;
    text-decoration: underline;
    font-weight: bold;
  }

  &--duplicate-sub-box {
    padding: 8px;
  }

  &--duplicate-reason {
    padding: 8px;
  }

  &--duplicate-reason-select {
    padding: 8px;
  }

  &--receipt-currency-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }

  &--receipt-image-subheader {
    font-size: 8px;
  }

  &--review-nav {
    position: sticky;
    top: 30vh;
    z-index: 9999;
  }

  &--review-go-left {
    position: absolute;
    float: left;
    width: 45px;
    height: 76px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    padding-right: 18px;

    background-color: #999;
    opacity: 0.8;
    &__disabled {
      opacity: 0.2;
    }

    &:focus {
      outline: none;
    }
  }

  &--review-go-right {
    position: absolute;
    right: 0;
    float: right;
    width: 45px;
    height: 76px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;

    padding-left: 18px;

    background-color: #999;
    opacity: 0.8;
    &__disabled {
      opacity: 0.2;
    }

    &:focus {
      outline: none;
    }
  }

  &--error-message-block {
    position: sticky;
    width: 100%;
    bottom: 0;
    background: rgba(221, 0, 0, 0.7);
    color: #fff;
    padding: 16px;
  }

  &--duplicate-pointer-container {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
  }

  &--duplicate-pointer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    bottom: 0;
    width: 100%;
  }

  &--duplicate-pointer-text {
    border-radius: 6px;
    background: #f2f2f2;
    padding: 8px 16px;
    margin-bottom: 16px;
    padding: 12px 16px;
    width: 96%;
    margin-bottom: 12px;
    color: #4a4a4a;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0 2px 4px 0 rgba(#838383, 0.75);
    text-align: center;
  }

  &--duplicate-pointer-icon {
    border-radius: 50%;
    background: #f2f2f2;
    padding: 8px 16px;
    margin-bottom: 16px;
    padding: 12px 16px;
    margin-bottom: 12px;
    color: #4a4a4a;
    font-size: 16px;
    top: -10px;
    box-shadow: 0 2px 4px 0 rgba(131, 131, 131, 0.75);
  }

  &--duplicate-pointer-icon-internal {
    height: auto;
    width: auto;
    position: relative;
    top: 4px;
    font-size: 20px;
  }

  &--payment-mode-header {
    font-size: 14px;
    color: $blue-black;
  }

  &--payment-mode-section {
    font-size: 12px;
    color: $black-light;
    margin-top: 4px;
  }

  &--check {
    color: $brand-primary;
    font-size: 20px;
  }

  &--error {
    color: $red;
  }

  &--card-header {
    color: $black-light;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.36px;
  }

  &--card-txn-container {
    border: 1px solid $grey-lighter;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    color: $grey-light;
    align-items: center;
    margin-top: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.36px;
  }

  &--icon-corporate-card {
    height: 24px;
    width: 28px;
    margin-right: 8px;
  }

  &--loading-suggestions {
    display: flex;
    flex-grow: 1;
  }

  &--matching-card {
    border-bottom: 1px solid $grey-lighter;
    display: flex;
    padding: 4px 0;
    justify-content: space-between;
    font-size: 14px;
    color: $blue-black;
  }

  &--icon-loading {
    width: 24px;
    margin-right: 8px;
    height: 24px;
    border-radius: 4px;
  }

  &--text-loading {
    border-radius: 4px;
    height: 24px;
  }

  &--matching-content {
    flex: 80;
    line-height: 24px;
  }

  &--no-matching-card {
    border-bottom: none;
  }

  &--card-arrow {
    color: $grey-light;
  }

  &--error {
    color: $red;
    line-height: 16px;
    font-size: 12px;
  }

  &--amount-error {
    color: $red;
    font-size: 12px;
    margin: -8px 0 0 33%;
  }

  &--orig-amount-error {
    margin: -68px 4px 48px 33%;
  }

  &--mandatory {
    color: $brand-primary;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
  }

  &--ccc-expense {
    pointer-events: none;
    color: $grey-light;
  }

  &--text-block {
    margin-bottom: 12px;
  }

  &--cost-center-alert {
    margin-top: 8px;
    display: block;
  }

  &--card-container {
    background: $pink-gradient-2;
    padding: 16px;
    margin: 12px 0;
    border-radius: 8px;

    &__label {
      color: $black-light;
      font-size: 12px;
      margin-bottom: 6px;
    }

    &__value {
      color: $blue-black;
      font-weight: 500;
    }

    &__txn-type {
      font-size: 12px;
      margin-left: 4px;
    }

    &__credit {
      color: $green;
      font-weight: 500;
    }
  }

  &--icon-dots {
    height: 10px;
    width: 10px;
  }

  &__skeleton-loader {
    background: $off-white;
    border-radius: 4px;
    height: 16px;

    &--title {
      @extend .add-edit-expense__skeleton-loader;
      width: 30%;
      margin-bottom: 8px;
    }
  }

  &--date-error,
  &--travel-text-error,
  &--distance-error {
    color: $red;
    line-height: 16px;
    font-size: 12px;
    margin-top: 6px;
  }

  &--travel-select-error,
  &--distance-unit-error {
    color: $red;
    line-height: 16px;
    font-size: 12px;
  }
}
