<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="mode">
      <div *ngIf="mode === 'add'">
        Add Expense
      </div>
      <div *ngIf="mode === 'edit'">
        {{title}} Expense
      </div>
    </ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar *ngIf="reviewList.length > 0">
    <ion-title>
      <div>
        {{ activeIndex + 1 }} of {{ reviewList.length }} expense{{reviewList.length > 1 ? 's' : ''}}
      </div>
    </ion-title>
    <ion-buttons slot="md">
      <ion-button mode="md">
        <mat-icon>close</mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar> -->
  <!-- <ion-toolbar *ngIf="reviewList.length > 1 && showNavigationPanel">
    <div>
      <div>
        <button [disabled]="activeIndex === 0" (click)="goToPreviousExpense()">
          <mat-icon>
            chevron-left
          </mat-icon>
        </button>
      </div>
      <div>
        <button [disabled]="activeIndex === reviewList.length - 1" (click)="goToNextExpense()">
          <i></i>
          <mat-icon>
            chevron-right
          </mat-icon>
        </button>
      </div>
    </div>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <form [formGroup]="fg">
    <!-- <div (click)="showDuplicates()" *ngIf="duplicates && duplicates.length > 0 && scrollToDuplicates">
      <div>
        Possible Duplicates Detected !
      </div>
      <div>
        <mat-icon>
          chevron-down
        </mat-icon>
      </div>
    </div> -->

    <div>
      <!-- <div *ngIf="instaFyleCancelled">
        Instafyle is taking longer than expected due to a bad network, please add the details manually
      </div> -->

      <!-- <div (click)="scrollTo('comments')" *ngIf="etxn.tx.policy_flag && comments">
        TODO - add comments support
        <enterprise-fy-policy-violation-info estatuses="comments"></enterprise-fy-policy-violation-info>
      </div> -->

      <!-- <div *ngIf="isAmountCapped">
        <div *ngIf="isCriticalPolicyViolated">
          This expense has violated a critical policy. You cannot create a report with this expense.</div>
        <div *ngIf="!isCriticalPolicyViolated">Claimed amount <div>{{etxn.tx.user_amount}}</div> was capped to <div>
            {{etxn.tx.amount}}</div>
          due to policy <div *ngIf="isAmountDisabled">and cannot be edited.</div>
        </div>
      </div> -->

      <div>
        <!-- <div *ngIf="reviewList.length > 0 && showAttachmentPreview">
          Preview Attachment Component
          <preview-attachments txn-id="{{ etxn.tx.id }}"></preview-attachments>
        </div> -->
        <!-- <div *ngIf="!reviewList.length > 0 || !showAttachmentPreview">
          <div *ngIf="attachmentUploadInProgress">
            <ion-spinner icon="circles"></ion-spinner>
            <div>
              Uploading
            </div>
          </div>

          <div (click)="addAttachments($event)" *ngIf="(etxn.tx.num_files === 0 && !attachmentUploadInProgress)">
            <div>
              Add Receipt
            </div>
            <mat-icon>
              plus
            </mat-icon>
          </div>

          <div (click)="viewAttachments($event)" *ngIf="etxn.tx.num_files > 0 && !attachmentUploadInProgress">
            <mat-icon>
              attachment
            </mat-icon>
            <div>
              {{etxn.tx.num_files}}
            </div>
            <mat-icon (click)="addAttachments($event)">
              add-attachment
            </mat-icon>
          </div>
        </div> -->

        <div>
          <!-- Add currency support -->
          <span *ngIf="etxn$|async as etxn">
            <span *ngIf="homeCurrency$|async as homeCurrency">
              <app-fy-currency formControlName="currencyObj" [txnDt]="etxn?.tx?.txn_dt" [homeCurrency]="homeCurrency"></app-fy-currency>
            </span>
          </span>


          <!-- <i ></i> -->
          <mat-icon>
            review
          </mat-icon>
        </div>
      </div>

      <!-- <div *ngIf="isSplitExpenseAllowed && !(reviewList && reviewList.length > 1) && !isOffline">
        <div (click)="splitExpense($event)">
          <mat-icon>
            split-expense
          </mat-icon>
          <div>
            Split Expense
          </div>
        </div>
      </div> -->

      <div>
        <!-- <div *ngIf="accounts.length > 1">
          <div>
            {{etxn.tx.source_account_id ? 'Payment Mode' : 'Select Payment Mode'}}
            <div>*</div>
          </div>
          Add payment mode support
          <enterprise-expense-payment-mode name="paymentMode" 
            list="accounts" on-selection="selectPaymentMode(item)" title="Choose Payment Mode" sub-title="Payment Mode"
            readonly="readonly" required [disabled]="isCreatedFromCCC || !canEditCCCMatchedSplitExpense">
          </enterprise-expense-payment-mode>
        </div> -->

        <!-- <enterprise-alert *ngIf="isBalanceAvailableInAnyAdvanceAccount && !isCreatedFromCCC" type="information"
          message="'You have outstanding balance in your advance account(s)'"></enterprise-alert> -->

        <!-- <div *ngIf="isCCCAccountSelected && !isCreatedFromCCC">
          <div (click)="openMatchingTransactions()">
            <div>
              <mat-icon>card</mat-icon>
              <div>
                Found {{matchingCCCTransactions.length}}
                matching transaction(s)
              </div>
            </div>
          </div>
        </div> -->

        <!-- <enterprise-alert
          *ngIf="isCCCAccountSelected && !selectedCCCTransaction && canChangeMatchingCCCTransaction && !isTransactionInReport"
          type="warning"
          message="'Expense will be saved as a draft. Kindly ensure that it is matched with an appropriate card transaction later, although we will attempt to auto-match it for you.'">
        </enterprise-alert> -->

        <!-- <div *ngIf="isProjectsEnabled && !isOffline && ((isIndividualProjectsEnabled && allowedProjectIds.length > 0) || !isIndividualProjectsEnabled)">
          <div>{{etxn.tx.project_id ? 'Project' : 'Select Project'}} <div *ngIf="mandatoryExpenseFields.project">*</div>
          </div>
          <input type="text" name="project" 
            ng-required="mandatoryExpenseFields.project" on-selection="selectProject" selected-item="project"
            org-id="orgId" allowed-projects="allowedProjectIds"
            is-individual-projects-enabled="isIndividualProjectsEnabled" enterprise-fy-projects-autocomplete
            readonly="readonly">
        </div> -->

        <!-- <div *ngIf="categories.length && !(isProjectsEnabled && isOffline)">
          <div>
            {{etxn.tx.org_category_id ? 'Category' : 'Select Category'}}
            <div *ngIf="mandatoryExpenseFields.category">*</div>
          </div>
          <enterprise-fy-select *ngIf="isCategoriesListPresent" name="category" selected-item="category"
            display="displayName" list="categories" filter-items="categoryIds" on-selection="selectCategory(item)"
            ng-required="mandatoryExpenseFields.category" title="Choose Category" sub-title="Categories"
            readonly="readonly" cache-name="recentCategoryList">
          </enterprise-fy-select>
        </div> -->

        <!-- <div *ngIf="txnFields.txn_dt.can_view">
          <div>*
          </div>
        </div>
        <input type="date" name="date" ng-focus="toggleNavigationPanel(false)" ng-blur="toggleNavigationPanel(true)"
          ng-change="onChangeTxnDate()" min="{{minDate}}" max="{{maxDate}}" [disabled]="!txnFields.txn_dt.can_edit"
          ng-required="txnFields.txn_dt.mandatory">
        <i class="icon ion-ios-bolt icon-user-review" ng-if="vm.isUserReviewNeededForDate"></i> -->
      </div>

      <!-- <div *ngIf="txnFields.vendor_id.can_view">
        <div>
          {{ etxn.tx.vendor ? txnFields.vendor_id.title : 'Select ' + txnFields.vendor_id.title }}
          <div *ngIf="txnFields.vendor_id.mandatory">*</div>
        </div>
        <input type="text" name="merchant" ng-model="etxn.tx.vendor" on-selection="onVendorSelection(item)"
          ng-required="txnFields.vendor_id.mandatory" enterprise-fy-vendor-autocomplete readonly="readonly"
          [disabled]="!txnFields.vendor_id.can_edit">
        <enterprise-fy-select name="merchant" selected-item="etxn.tx.vendor" list="txnFields.vendor_id.values"
          title="Choose Merchant" on-selection="onVendorSelection(item)" simple="true"
          hide-none="{{txnFields.vendor_id.mandatory === true ? 'true' : 'false'}}"
          ng-required="txnFields.vendor_id.mandatory" [disabled]="!txnFields.vendor_id.can_edit" readonly="readonly">
        </enterprise-fy-select>
      </div> -->

      <!-- <div *ngIf="invalidVendor">
        <div>{{ txnFields.vendor_id.title }} cannot be greater than 250 characters</div>
      </div> -->

      <!-- <div *ngIf="txnFields.purpose.can_view">
        <div>
          {{ etxn.tx.purpose ? txnFields.purpose.title : 'Enter ' + txnFields.purpose.title }}
          <div *ngIf="txnFields.purpose.mandatory">*</div>
        </div>
        <input type="text" name="purpose" ng-model="etxn.tx.purpose" on-selection="onPurposeSelection(item)"
          ng-required="txnFields.purpose.mandatory" enterprise-fy-input cache-name="recentPurposeList"
          title="Enter {{txnFields.purpose.title}}" sub-title="Enter {{txnFields.purpose.title}}" readonly
          [disabled]="!txnFields.purpose.can_edit">
        <enterprise-fy-select name="purpose" selected-item="etxn.tx.purpose" list="txnFields.purpose.values"
          on-selection="onPurposeSelection(item)" simple="true"
          hide-none="{{txnFields.purpose.mandatory === true ? 'true' : 'false'}}"
          ng-required="txnFields.purpose.mandatory" cache-name="recentPurposeList"
          title="Enter {{txnFields.purpose.title}}" sub-title="Enter {{txnFields.purpose.title}}"
          [disabled]="!txnFields.purpose.can_edit" readonly="readonly"></enterprise-fy-select>
      </div> -->

      <!-- Hide is offline/ critical policy violation/ draft expense/ only expense in the report(canAddToReport)-->
      <!-- <div (click)="openAddExpenseToReportModal($event)"
        *ngIf="!isDraftExpense && !isOffline && canAddToReport && !isCriticalPolicyViolated && etxn.tx.state !== 'DRAFT'">
        <div>{{etxn.tx.report_id ? 'Report' : 'Add to Report'}}</div>
        <input *ngIf="report" type="text" name="report">
      </div> -->

      <!-- <div
        *ngIf="!isDraftExpense && !isOffline && !canAddToReport && !isCriticalPolicyViolated && etxn.tx.state !== 'DRAFT' && !(reviewList && reviewList.length > 1)">
        <ion-checkbox name="addToNewReport">Add to
          new report</ion-checkbox>
      </div> -->
    </div>

    <!-- <div *ngIf="!showSelectedTransaction && selectedCCCTransaction">
      <div>
        <div>
          <div>
            <mat-icon>
              food
            </mat-icon>
          </div>
          <div>Matched to a transaction from card ending with {{ cardEndingDigits }}</div>
        </div>
      </div>
    </div> -->

    <!-- <div>
      <div>
        <div>
          <mat-icon>
            food
          </mat-icon>
          <div> Selected a transaction from card ending with {{ cardEndingDigits }}</div>
        </div>
      </div>
    </div> -->

    <!-- <div *ngIf="mode === 'add' && taxSettings.enabled && taxSettings.groups.length > 0">
      <div>
        <div>
          {{tax.name ? (taxSettings.name || 'Tax Group') : ('Select ' + (taxSettings.name || 'Tax Group'))}}
        </div>
        <enterprise-fy-select name="tax" on-selection="selectTax(item)" compare-with="percentage"
          title="Enter {{taxSettings.name}}" sub-title="{{taxSettings.name}}"></enterprise-fy-select>
      </div>

      <div>
        <div></div>
        <input type="number" fy-decimal-keypad name="taxName" ng-focus="toggleNavigationPanel(false)"
          ng-blur="toggleNavigationPanel(true)">
      </div>
    </div> -->

    <!-- <div>
      <div
        *ngIf="txnFields.location1.can_view && txnFields.location1.mandatory && canSeeAdditionalFields && !(isProjectsEnabled && isOffline)">
        <div>
          {{etxn.tx.locations[0].display ? txnFields.location1.title : 'Select ' + txnFields.location1.title }}
          <div>
            *
          </div>
        </div>
        <input type="text" name="location1" location="etxn.tx.locations[0]" ng-model="etxn.tx.locations[0].display"
          required [disabled]="!txnFields.location1.can_edit" enterprise-fy-location-autocomplete readonly>
      </div>

      <div
        *ngIf="txnFields.location2.can_view && txnFields.location2.mandatory && canSeeAdditionalFields && !(isProjectsEnabled && isOffline)">
        <div>
          {{etxn.tx.locations[1].display ? txnFields.location2.title : 'Select ' + txnFields.location2.title }}
          <div>*</div>
        </div>
        <input type="text" name="location2" location="etxn.tx.locations[1]" ng-model="etxn.tx.locations[1].display"
          required [disabled]="!txnFields.location2.can_edit" enterprise-fy-location-autocomplete readonly>
      </div>

      <div
        *ngIf="txnFields.from_dt.can_view && txnFields.from_dt.mandatory && canSeeAdditionalFields && !(isProjectsEnabled && isOffline)">
        <div>
          {{etxn.tx.from_dt ? txnFields.from_dt.title : 'Select ' + txnFields.from_dt.title}}
          <div>*</div>
        </div>
        <input type="date" name="fromDt" ng-blur="toggleNavigationPanel(true)" ng-model="etxn.tx.from_dt"
          ng-change="onFromDateChange()" required [disabled]="!txnFields.from_dt.can_edit">
      </div>

      <div
        *ngIf="txnFields.to_dt.can_view && txnFields.to_dt.mandatory && canSeeAdditionalFields && !(isProjectsEnabled && isOffline)">
        <div>
          {{etxn.tx.to_dt ? txnFields.to_dt.title : 'Select ' + txnFields.to_dt.title}}
          <div>*</div>
        </div>
        <input type="date" name="toDt" ng-blur="toggleNavigationPanel(true)" ng-model="etxn.tx.to_dt"
          ng-change="onToDateChange()" required [disabled]="!txnFields.to_dt.can_edit">
      </div>

      <div
        *ngIf="txnFields.flight_journey_travel_class.can_view && txnFields.flight_journey_travel_class.mandatory && canSeeAdditionalFields && !(isProjectsEnabled && isOffline)">
        <div>
          {{etxn.tx.flight_journey_travel_class ? txnFields.flight_journey_travel_class.title : 'Select ' + txnFields.flight_journey_travel_class.title}}
          <div>*</div>
        </div>
        <enterprise-fy-select name="flightOnwardClass" selected-item="etxn.tx.flight_journey_travel_class"
          list="txnFields.flight_journey_travel_class.values" hide-none="true" required
          title="Choose {{txnFields.flight_journey_travel_class.title}} Class" sub-title="Onward Travel Classes"
          [disabled]="!txnFields.flight_journey_travel_class.can_edit">
        </enterprise-fy-select>
      </div> -->

    <!-- <div
        *ngIf="txnFields.flight_return_travel_class.can_view && txnFields.flight_return_travel_class.mandatory && canSeeAdditionalFields && !(isProjectsEnabled && isOffline)">
        <div>
          {{etxn.tx.flight_return_travel_class ? txnFields.flight_return_travel_class.title : 'Select ' + txnFields.flight_return_travel_class.title}}
          <div>*</div>
        </div>
        <enterprise-fy-select name="flightReturnClass" selected-item="etxn.tx.flight_return_travel_class"
          list="txnFields.flight_return_travel_class.values" hide-none="true" required
          title="Choose {{txnFields.flight_return_travel_class.title}}" sub-title="Return Travel Classes"
          [disabled]="!txnFields.flight_return_travel_class.can_edit">
        </enterprise-fy-select>
      </div> -->

    <!-- <div
        *ngIf="txnFields.train_travel_class.can_view && txnFields.train_travel_class.mandatory && canSeeAdditionalFields && !(isProjectsEnabled && isOffline)">
        <div>
          {{etxn.tx.train_travel_class ? txnFields.train_travel_class.title : 'Enter ' + txnFields.train_travel_class.title}}
          <div>*</div>
        </div>
        <input type="text" *ngIf="txnFields.train_travel_class.type === 'TEXT'" name="trainTravelClass"
          ng-model="etxn.tx.train_travel_class" required [disabled]="!txnFields.train_travel_class.can_edit">
        <enterprise-fy-select *ngIf="txnFields.train_travel_class.type === 'SELECT'" name="trainTravelClass"
          list="txnFields.train_travel_class.values" hide-none="true" required
          [disabled]="!txnFields.train_travel_class.can_edit"></enterprise-fy-select>
      </div> -->

    <!-- <div
        *ngIf="txnFields.bus_travel_class.can_view && txnFields.bus_travel_class.mandatory && canSeeAdditionalFields && !(isProjectsEnabled && isOffline)">
        <div>
          {{etxn.tx.bus_travel_class ? txnFields.bus_travel_class.title : 'Enter ' + txnFields.bus_travel_class.title}}
          <div>*</div>
        </div>
        <input type="text" *ngIf="txnFields.bus_travel_class.type === 'TEXT'" name="busTravelClass"
          ng-model="etxn.tx.bus_travel_class" required [disabled]="!txnFields.bus_travel_class.can_edit">
        <enterprise-fy-select *ngIf="txnFields.bus_travel_class.type === 'SELECT'" name="busTravelClass"
          list="txnFields.bus_travel_class.values" hide-none="true" required
          [disabled]="!txnFields.bus_travel_class.can_edit"></enterprise-fy-select>
      </div> -->

    <!-- <div *ngIf="transaction.fyle_category === 'Hotel'">
        <ion-checkbox name="isBreakFastProvided" ng-model="etxn.tx.hotel_is_breakfast_provided">Breakfast Provided
        </ion-checkbox>
      </div> -->

    <!-- <div *ngIf="txnFields.distance.can_view && txnFields.distance.mandatory && category.fyle_category === 'Taxi'">
        <div>
          <div>
            {{etxn.tx.distance ? txnFields.distance.title : 'Enter ' + txnFields.distance.title}}
            <div>*</div>
          </div>
          <input type="number" fy-decimal-keypad ng-focus="toggleNavigationPanel(false)"
            ng-blur="toggleNavigationPanel(true)" ng-model="etxn.tx.distance" required
            [disabled]="!txnFields.distance.can_edit">
        </div>

        <div>
          <div>
            {{etxn.tx.distance_unit ? txnFields.distance_unit.title : 'Select ' + txnFields.distance_unit.title}}
            <div>*</div>
          </div>
          <enterprise-fy-select name="taxiDistanceUnit" selected-item="etxn.tx.distance_unit"
            list="txnFields.distance_unit.values"
            hide-none="{{txnFields.distance_unit.mandatory === true ? 'true' : 'false'}}" required title="Choose Unit"
            sub-title="Units"></enterprise-fy-select>
        </div>
      </div>
    </div> -->

    <!-- <div>
      <div>
        <div>
          <div>{{prop.value ? (prop.name) : prop.name}}</div>
          <div *ngIf="prop.mandatory">*</div>
        </div>

        <input type="text" name="{{prop.name}}" ng-blur="toggleNavigationPanel(true)" ng-model="prop.value"
          *ngIf="prop.type === 'TEXT'" ng-required="prop.mandatory">

        <input type="number" fy-decimal-keypad name="{{prop.name}}" ng-focus="toggleNavigationPanel(false)"
          ng-blur="toggleNavigationPanel(true)" ng-model="prop.value" *ngIf="prop.type === 'NUMBER'"
          ng-required="prop.mandatory">

        <ion-checkbox name="{{prop.name}}" *ngIf="prop.type === 'BOOLEAN'">{{prop.name}}</ion-checkbox>

        <input type="text" name="{{prop.name}}" ng-focus="toggleNavigationPanel(false)"
          ng-blur="toggleNavigationPanel(true)" ng-model="prop.value.display" ng-required="prop.mandatory"
          *ngIf="prop.type === 'LOCATION'" enterprise-fy-location-autocomplete readonly>

        <enterprise-fy-select name="{{prop.name}}" list="prop.options"
          on-selection="selectSimpleCustomField(item, prop)" *ngIf="prop.type === 'SELECT'" simple="true"
          ng-required="prop.mandatory" title="Choose {{prop.name}}" sub-title="{{prop.name}}">
        </enterprise-fy-select>

        <enterprise-fy-multiselect name="{{prop.name}}" list="prop.options"
          on-selection="selectMultipleCustomField(item, prop)"
          *ngIf="prop.type === 'MULTI_SELECT' && prop.options.length > 0" simple="true" ng-required="prop.mandatory"
          title="Choose {{prop.name}}s" sub-title="{{prop.name}}"></enterprise-fy-multiselect>

        <input type="date" name="{{prop.name}}" ng-blur="toggleNavigationPanel(true)" ng-model="prop.value"
          *ngIf="prop.type === 'DATE'" ng-required="prop.mandatory">

        <enterprise-fy-userlist name="{{prop.name}}" list="prop.options"
          on-selection="selectMultipleCustomFieldUserList(item, prop)"
          *ngIf="prop.type === 'USER_LIST' && prop.options.length > 0" ng-required="prop.mandatory"
          title="Choose {{prop.name}}s" sub-title="{{prop.name}}"></enterprise-fy-userlist>
      </div>
    </div> -->

    <!-- <div>
      <div>
        <ion-checkbox name="billable">Billable
        </ion-checkbox>
      </div>

      <div *ngIf="costCenters.length > 0 && txnFields.cost_center_id.can_view">
        <div>
          {{ etxn.tx.cost_center_id ? txnFields.cost_center_id.title : 'Enter ' + txnFields.cost_center_id.title }}
          <div *ngIf="txnFields.cost_center_id.mandatory">*</div>
        </div>
        <enterprise-fy-select name="costCenter" on-selection="selectCostCenter(item)"
          ng-required="txnFields.cost_center_id.mandatory" title="Select {{ txnFields.cost_center_id.title }}"
          cache-name="recentCostCenterList">
        </enterprise-fy-select>
      </div>
    </div> -->
    <!-- <enterprise-alert *ngIf="isNotReimbursable" type="information"
      message="'This expense will not be reimbursed as it has already been paid by your company.'">
    </enterprise-alert> -->

    <!-- <div *ngIf="etxn && etxn.tx.creator_id === 'SYSTEM_CORPORATE_CARD' && selectedCCCTransaction">
      <div>
        <div>
          <div>
            <mat-icon>food</mat-icon>
          </div>
          <div>Automatically created from your company's card feed</div>
        </div>
      </div>
    </div> -->

    <!-- <div>
      <div>
        <div>
          <div>
            <mat-icon>food</mat-icon>
          </div>
          <div>Expense created due to reversal of card transaction.</div>
        </div>
      </div>
    </div> -->

    <!-- <div id="duplicate-detection">
      <enterprise-duplicate-detection reason="etxn.tx.user_reason_for_duplicate_expenses" duplicates="duplicates"
        transaction-id="etxn.tx.id">
      </enterprise-duplicate-detection>
    </div> -->

    <!-- <div id="comments">
      <enterprise-fy-comments object-id="{{ etxn.tx.id }}" mode="{{mode}}" text="Comments" show-comments-count="false"
        dont-load-comments="true" estatuses="comments"></enterprise-fy-comments>
    </div> -->

    <!-- <div *ngIf="etxn && !etxn.tx.report_id && mode === 'edit' && etxn.tx.user_can_delete">
      <div>
        <mat-icon>
          food
        </mat-icon>
        <div>Delete Expense</div>
      </div>
    </div> -->

    <!-- <enterprise-alert
      *ngIf="!isOffline && mandatoryExpenseFields.project && isProjectsEnabled && (isIndividualProjectsEnabled && allowedProjectIds.length === 0)"
      type="warning"
      message="'There are no projects assigned to you, so this expense will be saved as a draft. Please contact admin for further help.'">
    </enterprise-alert> -->

    <!-- <div>
      <div>Please fill all required fields to proceed.</div>
    </div>
    <div>
      <div>Corporate card transaction cannot be unmatched since the report is already
        submitted.
      </div>
    </div>
    <div>
      <div>Card transaction cannot be unmatched as one of the associated split expenses is
        already submitted in a report.</div>
    </div>
    <div>
      <div>Only PDF, JPEG, PNG file upload are supported.</div>
    </div>
    <div>
      <div>Expense greater than balance in selected Payment Mode. Please choose a different
        Payment Mode.</div>
    </div> -->

    <!-- <div>
      <div>
        <button type="submit"
          critical-promise="criticalPromise">{{reviewList.length > 0 && !(activeIndex === reviewList.length - 1) ? 'Save and Next' : 'Save'}}</button>

      </div>
      disabling add and new when add to new report is selected
      <div>
        <button type="submit" critical-promise="criticalPromise">Save & New</button>
      </div>
    </div> -->
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        Save
      </ion-button>
      <ion-button>
        Save & New
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>