@import "../../../theme/colors.scss";

.add-edit-expense {
  &--toolbar {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  &--sub-header {
    color: #ababab;
    font-size: 14px;
    font-weight: 400;
  }

  &--footer {
    display: flex;
    justify-content: space-around;
  }

  &--footer-toolbar {
    padding: 14px 16px 14px 16px;
  }

  &--primary-cta {
    height: 48px;
    font-size: 14px;
    text-transform: inherit;
    font-weight: 600;
    border-radius: 8px;
    width: 100%;
    margin: 12px 0;
    --border-radius: 4px !important;

    &:first-child {
      margin-right: 4px;
    }

    &:last-child {
      margin-left: 4px;
    }
  }

  &--receipt-currency {
    display: flex;
    align-items: center;
  }

  &--receipt {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    color: #ababab;
    margin-left: 0;
    margin-top: 12px;
    margin-right: 12px;
  }

  &--receipt-image {
    background-color: #d8d8d8;
    min-width: 64px;
    min-height: 76px;
    max-width: 64px;
    max-height: 88px;
    border-radius: 4px;
    position: relative;
  }

  &--receipt-background {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 64px;
    height: auto;
    width: auto;
    background-color: rgba(34, 0, 51, 0.4);
    color: black;
    padding: 7px 0px 16px 0px;
    border-radius: 4px;
  }

  &--receipt-text {
    position: relative;
    padding-top: 20px;
    padding-bottom: 6px;
    &__count {
      color: #fff;
      font-size: 42px;
      font-weight: 400;
      text-align: center;
      padding-top: 32px;
      padding-bottom: 10px;
    }
  }

  &--receipt-image-icon {
    color: #f36;
    font-size: 40px;
    position: relative;
    left: -8px;
  }

  &--spinner-icon {
    margin-top: 12px;
    color: #f36;
  }

  &--currency {
    margin: 12px 0 0 0;
  }

  &--form {
    padding: 0 16px;
  }

  &--date {
    border-bottom: 1px solid $grey-lighter;
  }

  &--date-label {
    margin: 0 8px 0 0;
    max-width: 90%;
    min-width: 120px;
    font-size: 12px;
    color: $black-light;
    line-height: 16px;
    white-space: nowrap;
    font-weight: 400;
  }

  &--date-input {
    border: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    border: none;
    width: 100%;
    padding: 0;
    height: 18px;
    margin: 6px 0;
  }

  &--text {
    border-bottom: 1px solid $grey-lighter;

    &__invalid {
      border-bottom: 1px solid $red;
    }
  }

  &--text-label {
    margin: 0 8px 0 0;
    max-width: 90%;
    min-width: 120px;
    font-size: 12px;
    color: $black-light;
    line-height: 16px;
    white-space: nowrap;
    font-weight: 400;
  }

  &--text-input {
    border: 0;
    font-size: 14px;
    font-weight: 400;
    height: 18px;
    line-height: 18px;
    color: $blue-black;
    width: 100%;
    margin: 6px 0;
    padding: 0;
  }

  &--checkbox {
    font-size: 14px;
    color: $blue-black;
    font-weight: 400;
  }

  &--project-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--no-project {
    margin-right: 0 !important;
  }

  &--project-block {
    flex-grow: 1;
    margin-right: 26px;
  }

  &--primary-block {
    margin: 16px 0;
  }

  &--internal-block {
    padding: 8px 0;
    background: #fff;
    line-height: 1;
    margin-bottom: 12px;
  }

  &--split-expense-container {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    background-color: $pure-white;
  }

  &--split-expense-title {
    font-size: 12px;
    font-weight: 500;
    color: $black-2;
    margin: 12px 0;
    border: 1px solid $grey-light;
    border-radius: 4px;
    padding: 10px 20px;
    width: max-content;
  }

  &--split-expense-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  &--split-info-container {
    display: flex;
    margin-left: 20px;
  }

  &--split-info-icon {
    margin-right: 10px;
  }

  &--split-info-message {
    width: 100%;
    color: $blue-black;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .16px;
  }

  &--comment {
    border-radius: 4px;
    border: 1px solid $grey-lighter;
    padding: 12px;
    margin-bottom: 10px;
  }

  &--delete {
    display: flex;
    align-items: center;
    padding: 12px;
    border: 1px solid $grey-lighter;
    border-radius: 4px;
  }

  &--delete-icon {
    font-size: 24px;
    color: #ababab;
  }

  &--delete-msg {
    font-size: 16px;
    margin: 4px 0 0 16px;
    color: #f00;
  }

  &--duplicates-box {
    background-color: #f3f5f8;
    border: 0;
    padding: 0;
  }

  &--duplicate-header {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--duplicate-info {
    display: flex;
    font-weight: 500;
  }

  &--duplicate-warning-icon {
    color: #ffb25c;
    margin-right: 5px;
  }

  &--duplicate-cta {
    color: #387ef5;
    text-decoration: underline;
    font-weight: bold;
  }

  &--duplicate-sub-box {
    padding: 8px;
  }

  &--duplicate-reason {
    padding: 8px;
  }

  &--duplicate-reason-select {
    padding: 8px;
  }

  &--critical-policy {
    border-radius: 6px;
    background: #f2f2f2;
    padding: 8px 16px;
    margin: 8px 0;
  }

  &--receipt-currency-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }

  &--receipt-image-subheader {
    font-size: 8px;
  }

  &--review-nav {
    position: sticky;
    top: 30vh;
    z-index: 9999;
  }

  &--review-go-left {
    position: absolute;
    float: left;
    width: 45px;
    height: 76px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    padding-right: 18px;

    background-color: #999;
    opacity: 0.8;
    &__disabled {
      opacity: 0.2;
    }

    &:focus {
      outline: none;
    }
  }

  &--review-go-right {
    position: absolute;
    right: 0;
    float: right;
    width: 45px;
    height: 76px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;

    padding-left: 18px;

    background-color: #999;
    opacity: 0.8;
    &__disabled {
      opacity: 0.2;
    }

    &:focus {
      outline: none;
    }
  }

  &--error-message-block {
    position: sticky;
    width: 100%;
    bottom: 0;
    background: rgba(221, 0, 0, 0.7);
    color: #fff;
    padding: 16px;
  }

  &--duplicate-pointer-container {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
  }

  &--duplicate-pointer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    bottom: 0;
    width: 100%;
  }

  &--duplicate-pointer-text {
    border-radius: 6px;
    background: #f2f2f2;
    padding: 8px 16px;
    margin-bottom: 16px;
    padding: 12px 16px;
    width: 96%;
    margin-bottom: 12px;
    color: #4a4a4a;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0 2px 4px 0 rgba(#838383, 0.75);
    text-align: center;
  }

  &--duplicate-pointer-icon {
    border-radius: 50%;
    background: #f2f2f2;
    padding: 8px 16px;
    margin-bottom: 16px;
    padding: 12px 16px;
    margin-bottom: 12px;
    color: #4a4a4a;
    font-size: 16px;
    top: -10px;
    box-shadow: 0 2px 4px 0 rgba(131, 131, 131, 0.75);
  }

  &--duplicate-pointer-icon-internal {
    height: auto;
    width: auto;
    position: relative;
    top: 4px;
    font-size: 20px;
  }

  &--payment-mode-header {
    font-weight: 500;
    font-size: 16px;
    color: #4a4a4a;
  }

  &--payment-mode-purpose {
    font-size: 14px;
    color: #4a4a4a;
  }

  &--payment-mode-type {
    color: #ababab;
    font-size: 12px;
  }

  &--error {
    color: $red;
  }

  &--card-header {
    color: $black-light;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.36px;
  }

  &--card-txn-container {
    border: 1px solid $grey-lighter;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    color: $grey-light;
    align-items: center;
    margin-top: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.36px;
  }

  &--icon-corporate-card {
    height: 24px;
    width: 28px;
    margin-right: 8px;
  }

  &--loading-suggestions {
    display: flex;
    flex-grow: 1;
  }

  &--matching-card {
    border-bottom: 1px solid $grey-lighter;
    display: flex;
    padding: 4px 0;
    justify-content: space-between;
    font-size: 14px;
    color: $blue-black;
  }

  &--icon-loading {
    width: 24px;
    margin-right: 8px;
    height: 24px;
    border-radius: 4px;
  }

  &--text-loading {
    border-radius: 4px;
    height: 24px;
  }

  &--matching-content {
    flex: 80;
    line-height: 24px;
  }

  &--no-matching-card {
    border-bottom: none;
  }

  &--card-arrow {
    color: $grey-light;
  }

  &--error {
    color: $red;
    line-height: 16px;
    margin-top: -12px;
    font-size: 12px;
  }

  &--amount-error {
    color: $red;
    font-size: 12px;
  }

  &--mandatory {
    color: $primary;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
  }

  &--ccc-expense {
    pointer-events: none;
    color: $grey-light;
  }

  &--text-block {
    margin-bottom: 12px;
  }
}
