<ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<div class="task-list">
  @if (filterPills?.length) {
    <div class="task-list--filter-pills-container">
      <app-fy-filter-pills
        class="task-list--filter-pills"
        (filterClose)="onFilterClose($event)"
        (filterClicked)="onFilterClick($event)"
        (clearAll)="onFilterPillsClearAll()"
        [filterPills]="filterPills"
        >
      </app-fy-filter-pills>
    </div>
  }
  @if (isConnected$ | async) {
    @if (tasks$ | async; as tasks) {
      @if (showReportAutoSubmissionInfoCard) {
        <div [ngClass]="{ 'task-card': tasks.length }">
          <div class="task-card__container" [ngClass]="{ 'task-card__container--divider': tasks.length }">
            <app-auto-submission-info-card
              [autoSubmissionReportDate]="autoSubmissionReportDate$ | async"
              (cardClicked)="autoSubmissionInfoCardClicked(true)"
            ></app-auto-submission-info-card>
          </div>
        </div>
      }
      @if (tasks.length > 0) {
        @for (task of tasks; track task) {
          <app-tasks-card
            [task]="task"
            [autoSubmissionReportDate]="autoSubmissionReportDate$ | async"
            (ctaClicked)="onTaskClicked($event, task)"
            (infoCardClicked)="autoSubmissionInfoCardClicked(false)"
          ></app-tasks-card>
        }
      } @else {
        <ion-grid class="tasks--container" [ngClass]="{ 'tasks--zero-state': showReportAutoSubmissionInfoCard }">
          <ion-row class="tasks--container-row">
            <ion-col size="12" class="ion-align-self-center">
              @if (!filterPills?.length) {
                <app-fy-zero-state
                  [useNewStyling]="true"
                  image="../../../../assets/images/zero-states/tasks.png"
                  [message]="'tasks.noTasks' | transloco"
                ></app-fy-zero-state>
              }
              @if (filterPills?.length) {
                <app-fy-zero-state
                  [unscaledImage]="true"
                  [useNewStyling]="true"
                  image="../../../../assets/images/zero-states/tasks.png"
                  [message]="'tasks.noTasksFiltered' | transloco"
                  [submessage]="'tasks.matchingFilters' | transloco"
                ></app-fy-zero-state>
              }
            </ion-col>
          </ion-row>
        </ion-grid>
      }
    } @else {
      @for (skele of [1, 2, 3]; track skele) {
        <div class="task-skeleton">
          <div class="task-skeleton--card">
            <ion-grid>
              <ion-row>
                <ion-col size="1" class="task-skeleton--icon-col">
                  <ion-row>
                    <ion-col class="task-skeleton--icon-col">
                      <ion-skeleton-text animated class="task-skeleton--icon"></ion-skeleton-text>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="11">
                  <ion-row class="ion-justify-content-between">
                    <ion-col size="3" class="task-skeleton--count">
                      <ion-skeleton-text class="task-skeleton-text" animated></ion-skeleton-text>
                    </ion-col>
                    <ion-col size="5" class="ion-text-end task-skeleton--amount">
                      <ion-skeleton-text class="task-skeleton-text" animated></ion-skeleton-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="task-skeleton--header">
                      <ion-skeleton-text class="task-skeleton-text" animated></ion-skeleton-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="task-skeleton--subheader">
                      <ion-skeleton-text class="task-skeleton-text" animated></ion-skeleton-text>
                    </ion-col>
                  </ion-row>
                  <ion-row class="ion-justify-content-between">
                    @for (cta of [1, 2]; track cta) {
                      <ion-col size="6" class="task-skeleton--cta">
                        <ion-skeleton-text class="task-skeleton-text" animated></ion-skeleton-text>
                      </ion-col>
                    }
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      }
    }
  }

</div>
