@import '../../../../theme/colors';

.tasks {
  &--toolbar {
    border-bottom: 1px solid $grey-lightest;
  }

  &--body {
    --background: #{$white};
  }

  &--zero-state {
    position: relative;
    margin-top: 80px;
  }

  &--container {
    height: calc(100vh - 124px);
  }

  &--container-row {
    height: 100%;
  }
}
