@import '../../../../theme/colors';

.tasks {
  &--toolbar {
    border-bottom: 1px solid $grey-lightest;
  }

  &--body {
    --background: #{$white};
  }

  &--zero-state {
    height: calc(100vh - 400px) !important;
  }

  &--container {
    height: calc(100vh - 124px);
  }

  &--container-row {
    height: 100%;
  }
}

.task-card {
  background-color: $pure-white;

  &__container {
    margin: 0 16px;

    &--divider {
      border-bottom: 1px solid $grey;
    }
  }
}

.task-list {
  margin-bottom: 38px;

  &--filter-pills {
    position: fixed;
    width: 100%;
    background-color: $white;
    z-index: 99;
  }

  &--filter-pills-container {
    display: block;
    min-height: 52px;
  }
}

.task-skeleton {
  background-color: $pure-white;
  &--icon {
    height: 24px;
    width: 24px;
  }

  &--icon-col {
    padding-left: 0;
  }

  &--card {
    border-bottom: 1px solid $grey-lighter;
    margin: 0 16px;
  }

  &--count {
    .task-skeleton-text {
      width: 24px;
      height: 24px;
    }
    line-height: 28px;
  }

  &--amount {
    .task-skeleton-text {
      margin-left: auto;
      line-height: 28px;
      height: 24px;
      width: 48px;
    }
  }

  &--header {
    .task-skeleton-text {
      height: 18px;
      line-height: 23px;
    }
  }

  &--subheader {
    .task-skeleton-text {
      height: 16px;
      line-height: 20px;
    }
  }

  &--cta {
    .task-skeleton-text {
      height: 14px;
      line-height: 20px;
    }
  }
}
