@use '../../../../theme/colors.scss';

.fy-select {
  &--label {
    width: 100%;
    background-color: inherit;
    font-weight: 400;
  }

  &--label-content {
    margin: 0 8px 0 0;
    max-width: 90%;
    min-width: 120px;
    font-size: 12px;
    color: colors.$black-light;
    line-height: 16px;
    white-space: nowrap;
  }

  &--input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px solid colors.$grey-lighter;
    background: colors.$grey-7;
  }

  &--input {
    font-size: 14px;
    line-height: 18px;
    color: colors.$blue-black;
    border: none;
    width: 100%;
    padding: 0;
    opacity: 0.5;
  }

  &--mandatory {
    color: colors.$brand-primary;
    font-size: 14px;
    font-weight: 400;
  }

  &--icon {
    color: colors.$grey-light;
    opacity: 0.5;
  }
}
