<ion-header mode="md">
  <mat-icon class="fy-modal-top-bar" svgIcon="fy-rectangle"></mat-icon>
  <ion-toolbar mode="md" class="text-center fy-modal-toolbar flag-expense--toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <mat-icon class="fy-icon-close" svgIcon="fy-close"></mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="flag-expense--toolbar__title">{{ title }} Expense</div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        [disabled]="!message?.trim().length"
        class="flag-expense--toolbar__btn-flagUnflag"
        (click)="flagUnflag()"
      >
        {{ title }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="flag-expense--input-container">
  <div class="flag-expense--input-container__label">
    <span> Reason for {{ title | lowercase }}ing expense </span>
    <span class="flag-expense--input-container__mandatory"> * </span>
  </div>
  <textarea
    placeholder="Type your reason here"
    [(ngModel)]="message"
    class="flag-expense--input-container__textarea"
  ></textarea>
</div>
