$shadow: #d8d8d8;
$cta-icon-color: #e40566d9;

.dashboard-footer {
  &--block {
    border: 1px solid $shadow;
    width: calc(100% - 5px);
    margin-left: 2px;
    padding: 8px 2px 2px;
    border-radius: 4px;
  }

  &--icon-card {
    width: 24px;
    height: 24px;
    fill: $cta-icon-color;
  }

  &--icon-text{
    font-size: 10px;
    white-space: nowrap;
  }

  &--grid {
    padding: 0px !important;
  }

  &--col {
    padding: 4px 0 !important;
  }

  &--row {
    margin: 5px;
  }
}

.unit-action {
  margin: 0 36px;
  width: auto;
  .dashboard-footer {
    &--block-internal {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 6px;
    }

    &--icon-card {
      height: 22px;
      width: 22px;
      margin-right: 12px;
      top: 2px;
      position: relative;
    }

    &--icon-text {
      font-size: 12px;
    }
  }
}
