<ion-grid class="dashboard-footer--grid" *ngIf="gridSize && gridSize > 0">
  <ion-row class="dashboard-footer--row">
    <ng-container *ngIf="ctaList.length === 1; else normalCtas">
      <ion-col class="dashboard-footer--col" size="{{gridSize}}">
        <div class="dashboard-footer--block-container">
          <div class="dashboard-footer--block" [ngClass]="'unit-action'">
            <div class="dashboard-footer--block-internal" (click)="actionFn(ctaList[0])">
              <div class="text-center">
                <mat-icon class="text-center dashboard-footer--icon-card" svgIcon="{{ctaList[0]?.icon}}"></mat-icon>
              </div>
              <div class="dashboard-footer--icon-text text-center">{{ctaList[0]?.name}}</div>
            </div>
          </div>
        </div>
      </ion-col>
    </ng-container>
    <ng-template #normalCtas>
      <ion-col class="dashboard-footer--col" *ngFor="let item of ctaList; index as $index;" size="{{gridSize}}">
        <div class="dashboard-footer--block-container">
          <div class="dashboard-footer--block" [ngClass]="item.cssClass">
            <div class="dashboard-footer--block-internal" (click)="actionFn(item)"> <!-- //for click -->
              <div class="text-center">
                <mat-icon class="text-center dashboard-footer--icon-card" svgIcon="{{item.icon}}"></mat-icon>
              </div>
              <div class="dashboard-footer--icon-text text-center">{{item.name}}</div>
            </div>
          </div>
        </div>
      </ion-col>
    </ng-template>
  </ion-row>
</ion-grid>
