<ion-grid class="dashboard-footer--grid" *ngIf="this.gridSize && this.gridSize > 0">
  <ion-row>
    <ion-col class="dashboard-footer--col" *ngFor="let item of this.ctaList; index as $index;" size="{{this.gridSize}}">
      <div class="dashboard-footer--block">
        <div (click)="this.actionFn(item)"> <!-- //for click -->
          <div class="text-center">
            <mat-icon class="text-center dashboard-footer--icon-card" svgIcon="{{item.icon}}"></mat-icon>
          </div>
          <div class="dashboard-footer--icon-text text-center">{{item.name}}</div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>