<ion-content>
  <div class="sort-filter--body">
    <form [formGroup]="fg">
      <div class="sort-filter--header">
        Sort By
      </div>
      <div class="sort-filter--filter">
        <mat-radio-group color="primary" class="sort-filter--radio-group" formControlName="sortParam">
          <mat-radio-button class="sort-filter--radio-btn" value="tx_txn_dt">Date</mat-radio-button>
          <mat-radio-button class="sort-filter--radio-btn" value="tx_amount">Amount</mat-radio-button>
          <mat-radio-button class="sort-filter--radio-btn" value="tx_org_category">Category</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="sort-filter--header">
        Order By
      </div>
      <div class="sort-filter--filter">
        <mat-radio-group color="primary" class="sort-filter--radio-group" formControlName="sortDir">
          <mat-radio-button class="sort-filter--radio-btn" value="asc">Ascending</mat-radio-button>
          <mat-radio-button class="sort-filter--radio-btn" value="desc">Descending</mat-radio-button>
        </mat-radio-group>
      </div>
    </form>
  </div>
</ion-content>
<ion-footer>
  <div class="sort-filter--footer">
    <div class="sort-filter--cancel" (click)="cancel()">
      Cancel
    </div>
    <div class="sort-filter--save">
      <button [disabled]="!fg.valid" mat-button color="primary" (click)="save()">
        Save
      </button>
    </div>
  </div>
</ion-footer>