$sign-in-header: #220033;
$form-header: #000;
$form-subheader: #4a4a4a;

.request-invitation {
  &--header {
    min-height: 124px;
  }

  &--header-container {
    min-height: 124px;
    background-color: $sign-in-header;
  }

  &--header-logo-container {
    text-align: center;
  }

  &--header-logo {
    max-width: 100px;
  }

  &--form {
    padding: 24px;
  }

  &--form-field {
    width: 100%;
  }

  &--form-header {
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 8px;
    color: $form-header;
    font-weight: 500;
    line-height: 24px;
  }

  &--form-subheader {
    font-size: 16px;
    color: $form-subheader;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  &--primary-cta {
    .mat-button-base {
      width: 100%;
      font-weight: 700;
      min-height: 47px;
    }
  }
}
