@import '../../../../theme/colors.scss';

.fy-number {
  &--input {
    border: 0;
    font-size: 14px;
    font-weight: 400;
    height: 24px;
    line-height: 18px;
    color: $blue-black;
    width: 100%;
    margin: 6px 0;
    padding: 0;
  }
}
