<ng-container *ngIf="isIos && isAmount && isNegativeExpensePluginEnabled; else inputWithPlugin">
  <input
    class="fy-number--input smartlook-show"
    [min]="min"
    [disabled]="disabled"
    [formControl]="fc"
    [placeholder]="placeholder || ''"
    (blur)="(onBlur)"
    type="number"
    inputmode="decimal"
    (keyup)="handleNegativeExpenseChange($event)"
  />
</ng-container>

<ng-template #inputWithPlugin>
  <ng-container *ngIf="isIos && isKeyboardPluginEnabled; else inputWithoutPlugin">
    <input
      class="fy-number--input smartlook-show"
      [min]="min"
      [disabled]="disabled"
      [formControl]="fc"
      [placeholder]="placeholder || ''"
      (blur)="(onBlur)"
      type="number"
      inputmode="decimal"
      (keyup)="handleChange($event)"
    />
  </ng-container>
</ng-template>

<ng-template #inputWithoutPlugin>
  <input
    class="fy-number--input smartlook-show"
    [min]="min"
    [disabled]="disabled"
    [formControl]="fc"
    [placeholder]="placeholder || ''"
    (blur)="(onBlur)"
    type="number"
    inputmode="decimal"
  />
</ng-template>
