@import '../../../../theme/colors';

.stat-badge {
  display: flex;
  background-color: $badge-background;
  border-radius: 8px;
  min-height: 64px;
  display: flex;
  align-items: center;

  &--count {
    min-width: 30px;
    text-align: center;
    line-height: 2.1;
    height: 30px;
    border-radius: 50%;
    color: $badge-value;
    margin-left: 16px;
    margin-right: 8px;
    font-weight: 500;
    &__black {
      background-color: $badge-highlight-black;
    }

    &__green {
      background-color: $badge-highlight-green;
    }

    &__blue {
      background-color: $badge-highlight-blue;
    }
  }

  &--amount {
    font-weight: 500;
  }

  &--details {
    width: 64%;
  }

  &--name {
    font-size: 14px;
    line-height: 18px;
    color: $badge-name;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
}
