.stat-badge {
  display: flex;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  min-height: 64px;
  display: flex;
  align-items: center;

  &--count {
    min-width: 30px;
    text-align: center;
    line-height: 2.1;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    margin-left: 16px;
    margin-right: 8px;
    font-weight: 500;
    &__black {
      background-color: #464D57;
    }

    &__green {
      background-color: #66BB6A;
    }

    &__blue {
      background-color: #5C98E5;
    }
  }

  &--amount {
    font-weight: 500;
  }

  &--details {
    width: 64%;
  }

  &--name {
    font-size: 14px;
    line-height: 18px;
    color: #2C304E;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
}
