<div class="stat-badge" matRipple (click)="onBadgeClicked()">
  <div class="stat-badge--container">
    <ion-grid class="stat-badge--grid">
      <ion-row class="stat-badge--grid-row">
        <ion-col class="stat-badge--count-col">
          @if (!loading && reportState) {
            <div>
              @if (!loading) {
                <div
                  [ngClass]="'stat-badge--count stat-badge--count__' + reportState.toString().toLowerCase()"
                  >
                  {{ count }}
                </div>
              }
            </div>
          }
          @if (!loading && expenseState) {
            <div>
              @if (!loading) {
                <div
                  [ngClass]="'stat-badge--count stat-badge--count__' + expenseState.toString().toLowerCase()"
                  >
                  {{ count }}
                </div>
              }
            </div>
          }
          @if (loading) {
            <div class="stat-badge--count-loader">
              <ion-skeleton-text animated></ion-skeleton-text>
            </div>
          }
        </ion-col>
        <ion-col class="stat-badge--grid-outer-col">
          <ion-grid class="stat-badge--grid">
            <ion-row>
              <ion-col class="stat-badge--grid-col">
                @if (!loading) {
                  <div class="stat-badge--name">
                    {{ name }}
                  </div>
                }
                @if (loading) {
                  <div>
                    <ion-skeleton-text
                      class="stat-badge--skeleton-loader stat-badge--skeleton-loader__width-large"
                      animated
                    ></ion-skeleton-text>
                  </div>
                }
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="stat-badge--grid-col">
                @if (!loading) {
                  <div class="stat-badge--amount">
                    {{ currencySymbol
                    }}@if (shouldDisplayExact) {
                    {{
                    { value: value, currencyCode: currency, skipSymbol: true } | exactCurrency
                    }}
                  } @else {
                    {{ value | humanizeCurrency : currency : true }}
                  }
                </div>
              }
              @if (loading) {
                <div>
                  <ion-skeleton-text
                    class="stat-badge--skeleton-loader stat-badge--skeleton-loader__width-medium"
                    animated
                  ></ion-skeleton-text>
                </div>
              }
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</div>
