@use '../../../../theme/colors.scss';
@use 'sass:map';

.stat-badge {
  background-color: var(--background-card);
  border-radius: 8px;
  border: 1px solid var(--border-color);

  &--container {
    padding: 10px 16px;
  }

  &--grid {
    --ion-grid-padding: 0;
  }

  &--grid-col {
    --ion-grid-column-padding: 0;
  }

  &--currency {
    font-size: 12px;
    line-height: 15px;
    color: var(--secondary-text);
  }

  &--grid-outer-col {
    --ion-grid-column-padding: 0px;
    padding-left: 8px;
  }

  &--count-col {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    min-width: 30px;
    max-width: 30px;
  }

  &--count {
    min-width: 30px;
    min-height: 30px;
    max-height: 30px;
    max-width: 30px;
    text-align: center;
    line-height: 2.2;
    height: 32px;
    border-radius: 50%;
    color: colors.$pure-white;
    font-weight: 500;

    &__draft {
      background-color: map.get(colors.$fdl-state-bg-map, 'draft');
      color: map.get(colors.$fdl-state-color-map, 'draft');
    }

    &__incomplete_expense {
      background-color: map.get(colors.$fdl-state-bg-map, 'incomplete');
      color: map.get(colors.$fdl-state-color-map, 'incomplete');
    }

    &__incomplete,
    &__approver_pending,
    &__unapproved_team_reports {
      background-color: map.get(colors.$fdl-state-bg-map, 'submitted');
      color: map.get(colors.$fdl-state-color-map, 'submitted');
    }

    &__complete {
      background-color: map.get(colors.$fdl-state-bg-map, 'complete');
      color: map.get(colors.$fdl-state-color-map, 'complete');
    }

    &__approved,
    &__payment_pending,
    &__payment_processing {
      background-color: map.get(colors.$fdl-state-bg-map, 'approved');
      color: map.get(colors.$fdl-state-color-map, 'approved');
    }
  }

  &--count-loader {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }

  &--skeleton-loader {
    height: 12px;
    &__width-medium {
      width: 66%;
    }

    &__width-large {
      width: 80%;
    }
  }

  &--amount {
    font-weight: 500;
    font-size: 16px;
    color: var(--primary-text);
  }

  &--name {
    font-size: 14px;
    line-height: 18px;
    color: var(--primary-text);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
}
