@import '../../../../theme/colors.scss';
@import '../../../../theme/forms.scss';

.merge-expenses {
  &--internal-block {
    padding: 6px 0;
    background: $pure-white;
    line-height: 1;
    margin-bottom: 12px;
    &__margin {
      margin-right: 12px;
    }
  }

  &--error {
    color: $red;
    line-height: 16px;
    margin-top: -12px;
    font-size: 12px;
  }

  &--mandatory {
    color: $brand-primary;
    display: inline-block;
  }

  &--text-block {
    margin-bottom: 12px;
  }

  &--disabled {
    background: $grey-7;
  }
}
