<ng-container *ngIf="combinedCustomProperties">
  <ng-container *ngFor="let customField of customFields">
    <form [formGroup]="customField.control">
      <div class="merge-expenses--internal-block" *ngIf="combinedCustomProperties[customField.name]?.options">
        <app-fy-select
          [enableSearch]="false"
          [label]="customField.name"
          [nullOption]="false"
          [nullOption]="combinedCustomProperties[customField.name]?.options?.length === 1"
          [disabled]="
            disableFormElements ||
            combinedCustomProperties[customField.name]?.areSameValues ||
            combinedCustomProperties[customField.name]?.options?.length === 0
          "
          [options]="combinedCustomProperties[customField.name]?.options"
          [selectModalHeader]="'Select'"
          formControlName="value"
          [touchedInParent]="customField.control.controls.value.touched"
          [validInParent]="customField.control.controls.value.valid"
        >
        </app-fy-select>
      </div>
    </form>
  </ng-container>
</ng-container>
