<ion-header class="fy-header" mode="md">
  <ng-container *ngIf="currentState === HeaderState.base">
    <ion-toolbar mode="md" class="fy-header--toolbar">
      <ion-buttons *ngIf="!navigateBack" mode="md" slot="start">
        <app-fy-menu-icon></app-fy-menu-icon>
      </ion-buttons>
      <ion-buttons *ngIf="navigateBack" mode="md" slot="start">
        <ion-back-button mode="md"></ion-back-button>
      </ion-buttons>
      <ion-title mode="md" class="fy-header--title">
        {{ title }}
      </ion-title>
      <ng-content select="[base]"></ng-content>
    </ion-toolbar>
    <ng-content select="[personalCardContent]"></ng-content>
  </ng-container>

  <ng-container *ngIf="currentState === HeaderState.simpleSearch">
    <ion-toolbar class="fy-header--toolbar" mode="md">
      <ion-buttons mode="md" slot="start">
        <app-fy-menu-icon></app-fy-menu-icon>
      </ion-buttons>
      <ng-content select="[simpleSearch]"></ng-content>
      <ion-buttons mode="md" slot="end">
        <ion-button class="fy-header--simple-search-cancel" (click)="onSimpleSearchCancel()"> Cancel </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ng-container>

  <ng-container *ngIf="currentState === HeaderState.multiselect">
    <ion-toolbar mode="md" class="fy-header--toolbar">
      <ion-buttons mode="md" slot="start">
        <ion-button (click)="onMultiselectBack()">
          <ion-icon [src]="'../../../../assets/svg/arrow-left.svg'" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ng-content select="[multiselect]"></ng-content>
    </ion-toolbar>
    <ion-toolbar class="fy-header--toolbar_hide">
      <ng-content select="[multiselectSelectAll]"></ng-content>
    </ion-toolbar>
  </ng-container>
</ion-header>
