<ion-header mode="md" >
  <ion-toolbar mode="md">
    <ion-title>
      <div class="selection-modal--title">
        Select Items
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDoneClick()">
        <mat-icon>close</mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="selection-modal--form-field-container">
    <mat-form-field class="selection-modal--form-field mat-form-field-no-padding" appearance="outline">
      <input #searchBar [(ngModel)]="value" class="selection-modal--search-input" id="election-modal--search-input"
             matInput placeholder="{{placeholder || 'Search'}}">
      <button (click)="clearValue()" *ngIf="value" aria-label="Clear" mat-button mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="selection-modal--container">
    <mat-checkbox color="primary" class="selection-modal--list-element" *ngFor="let filteredListItem of filteredOptions$ | async as list" [(ngModel)]="filteredListItem.selected" (ngModelChange)="onElementSelected(filteredListItem)">
      <span class="selection-modal--approver-details">{{filteredListItem.label}}</span>
    </mat-checkbox>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar mode="md">
    <ion-button class="selection-modal--primary-cta" fill="solid" color="fyle-primary" expand="block" (click)="useSelected()">
      USE SELECTED
    </ion-button>
  </ion-toolbar>
</ion-footer>
