<ion-header mode="md" >
  <ion-toolbar mode="md">
    <ion-title>
      <div class="selection-modal--title">
        Select Items
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDoneClick()">
        <mat-icon>close</mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="selection-modal--form-field-container">
    <mat-form-field class="selection-modal--form-field mat-form-field-no-padding" appearance="outline">
      <input #searchBar [(ngModel)]="value" class="selection-modal--search-input" id="election-modal--search-input"
             matInput placeholder="{{placeholder || 'Search'}}">
      <button (click)="clearValue()" *ngIf="value" aria-label="Clear" mat-button mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="selection-modal--list-container" *ngFor="let filteredListItem of filteredOptions$ | async as list">
      <div class="selection-modal--list-element">
        <label class="selection-modal--list-element-label">
          <mat-checkbox color="primary" [checked]="filteredListItem.is_selected" (change)="onSelect(filteredListItem, $event)"></mat-checkbox>
          <span class="selection-modal--approver-details">
            <span class="selection-modal--approver-details_name">{{filteredListItem.us_full_name}}</span>
            <span>{{filteredListItem.us_email}}</span>
          </span>
        </label>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar mode="md">
    <ion-button class="selection-modal--primary-cta" fill="solid" color="fyle-primary" expand="block" (click)="useSelected()">
      USE SELECTED
    </ion-button>
  </ion-toolbar>
</ion-footer>
