@import '../../../../../assets/styles/fy_select';

$red: #f00;
$list-element-color: #333;

ion-toolbar {
  padding-left: 0 !important;
  padding-right: 0 !important;

  mat-form-field {
    @extend %fy-select-mat-form-field-chip;
  }
}

.selection-modal {
  color: black;

  &--list-container {
    padding: 0 10px;
  }

  &--list-element {
    padding: 18px 0;
    margin: 0 16px;
    border-bottom: 1px solid #e0e0e0;
    color: $list-element-color;
  }

  &--list-element-label {
    display: flex;
    align-items: center;
  }

  &--approver-details {
    margin-left: 16px;
    font-size: 16px;
    font-weight: 500;
    max-width: 280px;

    &_name {
      display: block;
    }
  }

  &--title {
    @extend %fy-select-title;
    margin-left: 4%;
  }

  &--header {
    @extend %fy-select-header;
  }

  &--search-input {
    @extend %fy-select-search-input;
  }

  &--search-icon {
    @extend %fy-select-search-icon;
    display: flex;
    align-items: center;
    height: 16px;
    width: 16px;
    margin-left: 8px;
  }

  &--container {
    @extend %flex-layout-column;
  }

  &--cta {
    @extend %fy-select-cta;
  }

  &--add-item-block {
    @extend %flex-layout-row;
    align-items: center;
  }

  &--add-item-icon {
    min-height: 22px;
    min-width: 22px;
    margin-right: 10px;
  }

  &--new-item-name {
    word-break: break-all;
  }

  &--autocomplete-loader {
    @extend %autocomplete-loader;
  }
  &--spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &--form-input {
    font-size: 14px;
    color: $black-2;
    margin-left: 6px !important;
  }

  &--selected-count {
    font-size: 14px;
    color: $grey-light;
    text-align: left;
    margin: 0 16px 10px;
  }

  &--toolbar {
    box-shadow: 0px 4px 4px rgba(215, 215, 215, 0.2);
  }
}
