<ion-header mode="md">
  <mat-icon class="fy-modal-top-bar" svgIcon="fy-rectangle"></mat-icon>
  <ion-toolbar mode="md" class="fy-modal-toolbar">
    <ion-title>
      <div class="selection-modal--title">Select Items</div>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onDoneClick()">
        <mat-icon class="fy-icon-close" svgIcon="fy-close"></mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="selection-modal--cta" (click)="useSelected()"> Done </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="text-center" [ngClass]="{ 'selection-modal--toolbar': currentSelections?.length > 0 }">
    <mat-form-field
      class="selection-modal--form-container mat-form-field-no-padding"
      [ngClass]="{ 'selection-modal--form-container__chips': currentSelections?.length > 0 }"
    >
      <mat-chip-list #chipList aria-label="Multi select">
        <mat-chip
          *ngFor="let item of currentSelections"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="removeChip(item)"
        >
          {{ item }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <mat-icon
          *ngIf="!(currentSelections?.length > 0)"
          class="selection-modal--search-icon"
          matPrefix
          svgIcon="fy-search"
        ></mat-icon>
        <input
          #searchBar
          [(ngModel)]="value"
          class="selection-modal--form-input smartlook-show"
          [ngClass]="{ 'selection-modal--form-input__chips': currentSelections?.length > 0 }"
          matInput
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addChip($event)"
          [placeholder]="!(currentSelections?.length > 0) ? 'Search' : ''"
        />
        <mat-icon
          *ngIf="isLoading && value"
          class="selection-modal--autocomplete-loader"
          svgIcon="fy-spinner-circle"
          matSuffix
        ></mat-icon>
      </mat-chip-list>
    </mat-form-field>
    <div class="selection-modal--selected-count" *ngIf="currentSelections?.length > 0">
      {{ currentSelections.length }} selected
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="isLoading">
    <div class="selection-modal--spinner">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-container>
  <div>
    <div class="selection-modal--list-container" *ngFor="let newlyAddedItem of newlyAddedItems$ | async as list">
      <div class="selection-modal--list-element">
        <label class="selection-modal--list-element-label">
          <mat-checkbox
            *ngIf="!newlyAddedItem.isNew"
            [checked]="selectedItemDict[newlyAddedItem.us_email]"
            (change)="onSelect(newlyAddedItem, $event)"
          ></mat-checkbox>
          <span *ngIf="!newlyAddedItem.isNew" class="selection-modal--approver-details">
            <span>{{ newlyAddedItem.us_email }}</span>
          </span>
          <div
            class="selection-modal--add-item-block"
            *ngIf="newlyAddedItem.isNew && value && value.length > 0"
            (click)="onAddNew()"
          >
            <mat-icon class="selection-modal--add-item-icon"> add_circle_outline </mat-icon>
            <span
              >Add "<span class="selection-modal--new-item-name"
                ><strong>{{ value }}</strong></span
              >"</span
            >
          </div>
        </label>
      </div>
    </div>

    <div class="selection-modal--list-container" *ngFor="let filteredListItem of filteredOptions$ | async as list">
      <div class="selection-modal--list-element">
        <label class="selection-modal--list-element-label">
          <mat-checkbox
            [checked]="selectedItemDict[filteredListItem.us_email]"
            (change)="onSelect(filteredListItem, $event)"
          ></mat-checkbox>
          <span class="selection-modal--approver-details">
            <span class="selection-modal--approver-details_name">{{ filteredListItem.us_full_name }}</span>
            <span>{{ filteredListItem.us_email }}</span>
          </span>
        </label>
      </div>
    </div>
  </div>
</ion-content>
