@import '../../../../../assets/styles/fy_select';

$red: #f00;
$list-element-color: #333;

.selection-modal {
  color: black;

  &--list-container {
    padding: 0 10px;
  }

  &--list-element {
    padding: 18px 0;
    margin: 0 16px;
    border-bottom: 1px solid #e0e0e0;
    color: $list-element-color;
  }

  &--list-element-label {
    display: flex;
    align-items: center;
  }

  &--approver-details {
    margin-left: 16px;
    font-size: 16px;
    font-weight: 500;
    max-width: 280px;

    &_name {
      display: block;
    }
  }

  &--title {
    @extend %fy-select-title;
  }

  &--header {
    @extend %fy-select-header;
  }

  &--search-input {
    @extend %fy-select-search-input;
  }

  &--form-field {
    @extend %fy-select-mat-form-field;
    .mat-form-field-wrapper {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px !important;
    }
  }

  &--search-icon {
    font-size: 14px;
  }

  &--form-field-container {
    text-align: center;
  }

  &--container {
    @extend %flex-layout-column;
  }

  &--primary-cta {
    min-height: 48px;
    margin: 12px;
  }

  &--add-item-block {
    @extend %flex-layout-row;
    align-items: center;
  }

  &--add-item-icon {
    min-height: 22px;
    min-width: 22px;
    margin-right: 10px;
  }

  &--new-item-name {
    word-break: break-all;
  }

  &--autocomplete-loader {
    @extend %autocomplete-loader;
  }
  &--spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}
