$white: #fff;
$black: #000;
.camera-overlay {
  &--camera-preview {
    --background: transparent;
  }

  &--action-container {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 120px;
    width: 100%;
    display: inline-block;
    padding: 30px 0;
    background-color: $black !important;
    z-index: 999;
  }

  &--preview-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $black;
    z-index: 99;
  }

  &--preview-receipt {
    width: 85%;
    height: 75%;
    margin: 50px 7.5%;
    border: 5px solid $white;
  }

  &--camera-single {
    position: fixed;
    bottom: 50px;
    fill: $white;
    z-index: 999;
    left: 30px;

    &.active {
      fill: #ff3366;
    }
  }

  &--camera-bulk {
    position: fixed;
    bottom: 50px;
    fill: $white;
    z-index: 999;
    left: 70px;

    &.active {
      fill: #ff3366;
    }
  }

  &--camera-gallery {
    color: $white;
    position: absolute;
    font-size: 30px;
    left: 108px;
    bottom: 53px;
    z-index: 999;
  }

  &--capture-container {
    height: 60px;
    width: 60px;
    bottom: 5%;
    position: fixed;
    border-radius: 50%;
    border: 3px solid $white;
    left: 43%;
    z-index: 999;
  }

  &--capture-btn {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin: 3px;
  }

  &--flash-active {
    bottom: 55px;
    right: 110px;
    position: fixed;
    width: 18px;
    height: 18px;
    color: $white;
    font-size: 25px;
    z-index: 999;
  }

  &--finish {
    right: 30px;
    position: fixed;
    margin: 15px 0 15px 15px;
    color: $white;
    bottom: 35px;
    font-size: 16px;
    z-index: 999;
  }

  &--retake-btn {
    color: $white;
    font-size: 18px;
  }

  &--continue-btn {
    color: $white;
    text-align: right;
    font-size: 18px;
  }

  &--image-thumbnail {
    bottom: 35px;
    width: 50px;
    height: 50px;
    position: fixed;
    left: 30px;
    border: 1px solid $white;
  }

  &--image-count {
    border-radius: 50%;
    background-color: #ff3366;
    color: white;
    width: 22px;
    height: 22px;
    margin: 0;
    left: 65px;
    text-align: center;
    bottom: 70px;
    z-index: 1;
    position: fixed;
    border: 1px solid $white;
  }

  &--intro-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
  }

  &--intro-img {
    width: 100%;
    min-width: 300px;
    max-width: 450px;
    border-radius: 4px;
  }

  &--intro-text {
    font-weight: 500;
    font-size: 16px;
    margin: 10px;
    text-align: center;
    color: $white;
    text-shadow: 0px 0px 4px $black;
  }

  &--switch-mode-info {
    background-color: rgba(0, 0, 0, 0.5);
    width: 170px;
    height: 100px;
    position: absolute;
    bottom: 50%;
    left: 30%;
    color: $white;
    font-size: 18px;
    text-align: center;
    padding-top: 40px;
    font-weight: 500;
  }
}
