<ion-header mode="md">
  <ion-toolbar class="add-edit-mileage--toolbar">
    <ion-buttons *ngIf="navigateBack" mode="md" slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="mode" class="page-title" mode="md">
      <div *ngIf="mode === 'add'">
        Add Mileage
      </div>
      <div *ngIf="mode === 'edit'">
        <div>
          {{title}} Mileage
        </div>
        <div *ngIf="reviewList?.length" class="add-edit-mileage--sub-header">
          {{ +activeIndex + 1 }} of {{ reviewList?.length }} expense{{reviewList?.length > 1 ? 's' : ''}}
        </div>
      </div>
    </ion-title>
    <ion-buttons *ngIf="!navigateBack" slot="end">
      <ion-button (click)="goBack()" mode="md">
        <mat-icon slot="icon-only">close</mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div *ngIf="reviewList?.length" class="add-edit-mileage--review-nav">
      <button (click)="goToPrev()" [disabled]="+activeIndex === 0" [ngClass]="{'add-edit-mileage--review-go-left__disabled': +activeIndex === 0}"
              class="add-edit-mileage--review-go-left">
        <mat-icon>
          keyboard_arrow_left
        </mat-icon>
      </button>
      <button (click)="goToNext()" [disabled]="+activeIndex === reviewList?.length - 1"
              [ngClass]="{'add-edit-mileage--review-go-right__disabled': +activeIndex === reviewList?.length - 1}"
              class="add-edit-mileage--review-go-right">
        <mat-icon>
          keyboard_arrow_right
        </mat-icon>
      </button>
    </div>
    <div class="add-edit-mileage--duplicate-pointer-container">
      <div (click)="showDuplicates()" *ngIf="pointToDuplicates" class="add-edit-mileage--duplicate-pointer">
        <div class="add-edit-mileage--duplicate-pointer-text">
          Possible Duplicates Detected !
        </div>
        <div class="add-edit-mileage--duplicate-pointer-icon">
          <mat-icon class="add-edit-mileage--duplicate-pointer-icon-internal">
            expand_more
          </mat-icon>
        </div>
      </div>
    </div>
    <ng-container *ngIf="etxn$|async as etxn">
      <ng-container *ngIf="fg">
        <form #formContainer [formGroup]="fg" class="add-edit-mileage--form">
          <ng-container *ngIf="etxn.tx.policy_flag && mode === 'edit'">
            <ng-container *ngIf="comments$|async as comments">
              <app-fy-policy-violation-info [estatuses]="comments" (click)="scrollCommentsIntoView()"></app-fy-policy-violation-info>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="isAmountCapped$|async">
            <div class="add-edit-mileage--critical-policy">
              <ng-container *ngIf="isCriticalPolicyViolated$|async;else justAmountCapped">
                This mileage has violated a critical policy. You cannot create a report with this mileage.
              </ng-container>
              <ng-template #justAmountCapped>
                Claimed amount {{etxn.tx.user_amount | currency: etxn.tx.currency: 'symbol-narrow'}} was capped
                to {{etxn.tx.amount | currency: etxn.tx.currency: 'symbol-narrow'}} due to policy <span
                *ngIf="isAmountDisabled$|async"> and cannot be edited.</span>
              </ng-template>
            </div>
          </ng-container>

          <ng-container *ngIf="homeCurrency$|async as homeCurrency">
            <div class="add-edit-mileage--amount-box">
              <div class="add-edit-mileage--amount">
                <p class="mb-0">Amount</p>
                <p class="add-edit-mileage--amount-value mb-0">
                  {{amount$|async | currency: homeCurrency: 'symbol-narrow'}}
                </p>
              </div>
              <div class="add-edit-mileage--rate">
                <p class="mb-0">
                  Rate /
                  <ng-container *ngIf="etxn.tx.distance_unit; else defaultDistanceUnit">
                    <span class="text-capitalize">{{ etxn.tx.distance_unit }}</span>
                  </ng-container>

                  <ng-template #defaultDistanceUnit>
                    <ng-container *ngIf="mileageConfig$|async as mileageConfig">
                      <span class="text-capitalize">{{ mileageConfig.unit }}</span>
                    </ng-container>
                  </ng-template>
                </p>
                <p class="add-edit-mileage--rate-value mb-0 text-right">
                  {{rate$|async | currency: homeCurrency: 'symbol-narrow'}}
                </p>
              </div>
            </div>
          </ng-container>

          <div class="add-edit-mileage--primary-block">
            <ng-container *ngIf="mileageConfig$|async as mileageConfig">
              <div class="add-edit-mileage--internal-block">
                <app-fy-select-vehicle [isAmountDisabled]="(isAmountDisabled$|async)" [mandatory]="true"
                                       [mileageConfig]="mileageConfig"
                                       formControlName="mileage_vehicle_type"></app-fy-select-vehicle>
              </div>
            </ng-container>

            <ng-container *ngIf="txnFields$|async as txnFields">
              <div *ngIf="txnFields?.txn_dt" class="add-edit-mileage--date add-edit-mileage--internal-block" [ngClass]="{'add-edit-mileage--internal-block__invalid': fg.controls.dateOfSpend.touched && !fg.controls.dateOfSpend.valid}">
                <div class="add-edit-mileage--date-label">
                  {{txnFields?.txn_dt?.field_name ? txnFields?.txn_dt?.field_name : 'Start Date'}}
                  <span class="add-edit-mileage--mandatory" *ngIf="txnFields?.txn_dt?.is_mandatory">*</span>
                </div>
                <input appFormatDate (keydown)="$event.preventDefault()" [max]="maxDate" [min]="minDate" class="add-edit-mileage--date-input date-input__format" [name]="txnFields?.txn_dt?.field_name" 
                       formControlName="dateOfSpend" type="date" [placeholder]="'Select ' + txnFields?.txn_dt?.field_name ? txnFields?.txn_dt?.field_name : 'Start Date'">
              </div>
              <div *ngIf="fg.controls.dateOfSpend.touched && !fg.controls.dateOfSpend.valid" class="add-edit-mileage--error">
                  Please select a valid date.
              </div>
            </ng-container>

            <ng-container *ngIf="mileageConfig$|async as mileageConfig">
              <ng-container formArrayName="mileage_locations">
                <ng-container
                  *ngFor="let control of mileage_locations.controls; index as i; first as isFirst;last as isLast">
                  <div class="add-edit-mileage--internal-block" [ngClass]="{'add-edit-mileage--internal-block__invalid': control.touched && !control.valid, 'add-edit-mileage--location-block': i >= 2}">
                    <app-fy-location class="add-edit-mileage--location"
                      [formControlName]="i"
                      [label]="mileage_locations.controls.length > 2 ? (isFirst ? (control.value ? 'Start' : 'Start Location' ): (isLast ? (control.value ? 'End' : 'End Location'): (control.value ? 'Stop ' + (i) : 'Stop ' + (i) + ' Location'))): (isFirst ? (control.value ? 'Start' : 'From Location'): (control.value ? 'To' :'To Location'))"
                      [mandatory]="mileageConfig.location_mandatory">
                    </app-fy-location>
                    <span *ngIf="i >= 2">
                      <mat-icon (click)="removeMileageLocation(i)" class="add-edit-mileage--remove-stop" svgIcon="fy-delete"></mat-icon>
                    </span>
                  </div>
                  <div *ngIf="control.touched && !control.valid" class="add-edit-mileage--error">
                    Please select location
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
            <div class="add-edit-mileage--internal-block"  *ngIf="mileage_locations.controls.length < 10" >
              <div (click)="addMileageLocation()" class="add-edit-mileage--add-stop">
                <mat-icon>
                  add
                </mat-icon>
                ADD STOP
              </div>
            </div>
            <app-fy-alert *ngIf="mileage_locations.controls.length === 10"
                          [message]="'You can add a maximum of 10 locations'" [type]="'information'">
            </app-fy-alert>


            <ng-container *ngIf="txnFields$|async as txnFields">
              <ng-container *ngIf="txnFields?.distance">
                <div class="add-edit-mileage--text add-edit-mileage--internal-block" [ngClass]="{'add-edit-mileage--text__invalid': fg.controls.distance.touched && !fg.controls.distance.valid}">
                  <div class="add-edit-mileage--text-label">Distance
                    <ng-container *ngIf="etxn.tx.distance_unit; else defaultDistanceUnit">
                      <span class="add-edit-mileage--text-label__unit"> ({{ etxn.tx.distance_unit }})</span>
                    </ng-container>

                    <ng-template #defaultDistanceUnit>
                      <ng-container *ngIf="mileageConfig$|async as mileageConfig">
                        <span class="add-edit-mileage--text-label__unit"> ({{ mileageConfig.unit }})</span>
                      </ng-container>
                    </ng-template>
                    <div class="add-edit-mileage--mandatory" *ngIf="txnFields?.distance?.is_mandatory">
                      *
                    </div>
                  </div>
                  <input [disabled]="(isAmountDisabled$|async) || !txnFields?.distance.canEdit" [min]="0" class="add-edit-mileage--text-input"
                         formControlName="distance" inputmode="decimal"
                         type="number" placeholder="Enter Distance">
                </div>
                <div *ngIf="fg.controls.distance.touched && !fg.controls.distance.valid"
                     class="add-edit-mileage--error add-edit-mileage--distance-error">
                  Please enter the distance
                </div>
              </ng-container>
            </ng-container>

            <div class="add-edit-mileage--internal-block" *ngIf="mileage_locations.controls.length < 3">
              <mat-checkbox [disabled]="(isAmountDisabled$|async) || !fg.controls.distance" 
                            formControlName="round_trip">
                <span class="add-edit-mileage--checkbox">
                  Round Trip
                </span>
              </mat-checkbox>
            </div>

            <ng-container *ngIf="paymentModes$|async as paymentModes">
              <div *ngIf="paymentModes.length > 1"
                   class="add-edit-mileage--payment-modes add-edit-mileage--internal-block" [ngClass]="{'add-edit-mileage--internal-block__invalid': fg.controls.paymentMode.touched && !fg.controls.paymentMode.valid}">
                <app-fy-select
                  [enableSearch]="false"
                  [label]="'Payment Mode'"
                  [mandatory]="true"
                  [nullOption]="false"
                  [options]="paymentModes"
                  [selectModalHeader]="'Choose Payment Mode'"
                  [selectionElement]="paymentMode"
                  formControlName="paymentMode">
                </app-fy-select>
                <ng-template #paymentMode let-label="label" let-paymentMode="value" let-selected="selected">
                  <div>
                    <div class="add-edit-mileage--payment-mode-header">
                      {{label}}
                    </div>
                    <ng-container *ngIf="paymentMode">
                      <ng-container *ngIf="paymentMode.acc.type === 'PERSONAL_ADVANCE_ACCOUNT'">
                        <div class="add-edit-mileage--payment-mode-purpose">
                          {{paymentMode.advance.purpose}}
                        </div>
                      </ng-container>
                      <div *ngIf="paymentMode.acc.isReimbursable" class="add-edit-mileage--payment-mode-type">
                        (Reimbursable)
                      </div>
                      <div *ngIf="!paymentMode.acc.isReimbursable" class="add-edit-mileage--payment-mode-type">
                        (Non Reimbursable)
                      </div>
                    </ng-container>
                  </div>
                  <mat-icon *ngIf="selected">
                    check
                  </mat-icon>
                </ng-template>
              </div>
              <div *ngIf="fg.controls.paymentMode.touched && !fg.controls.paymentMode.valid"
                   class="add-edit-mileage--error">
                Please select payment mode.
              </div>
            </ng-container>

            <ng-container *ngIf="isAdvancesEnabled$">
              <app-fy-alert *ngIf="(isBalanceAvailableInAnyAdvanceAccount$ | async)" [message]="'You have outstanding balance in your advance account(s)'"
                            [type]="'information'"></app-fy-alert>
            </ng-container>


            <ng-container *ngIf="txnFields$|async as txnFields">
              <ng-container *ngIf="txnFields?.purpose">
                <div *ngIf="txnFields.purpose?.type === 'TEXT'"
                     class="add-edit-mileage--text add-edit-mileage--internal-block" [ngClass]="{'add-edit-mileage--text__invalid': fg.controls.purpose.touched && !fg.controls.purpose.valid}">
                  <div class="add-edit-mileage--text-label">
                    <div>
                      {{ txnFields.purpose?.field_name| slice: 0:30 }}
                    </div>
                    <div *ngIf="txnFields.purpose?.is_mandatory">
                      *
                    </div>
                  </div>
                  <input [disabled]="!txnFields.purpose?.canEdit" [placeholder]="'Enter '+ txnFields.purpose?.field_name | slice: 0:30"
                         [required]="txnFields.purpose?.is_mandatory" [title]="'Enter'+txnFields.purpose?.field_name"
                         class="add-edit-mileage--text-input add-edit-mileage--internal-block"
                         formControlName="purpose">
                </div>
                <div *ngIf="txnFields.purpose?.type === 'SELECT'" class="add-edit-mileage--internal-block">
                  <app-fy-select [disabled]="!txnFields.purpose?.canEdit"
                                 [label]="txnFields.purpose?.field_name"
                                 [mandatory]="txnFields.purpose?.is_mandatory"
                                 [options]="txnFields.purpose?.options"
                                 [selectModalHeader]="'Enter ' + txnFields.purpose?.field_name"
                                 formControlName="purpose">
                  </app-fy-select>
                </div>
                <div *ngIf="fg.controls.purpose.touched && !fg.controls.purpose.valid" class="add-edit-mileage--error">
                  Please enter a {{ txnFields.purpose?.field_name }}
                </div>
              </ng-container>
            </ng-container>

            <div class="add-edit-mileage--project-container">
              <ng-container *ngIf="isConnected$|async">
                <ng-container *ngIf="transactionMandatoyFields$|async as transactionMandatoyFields">
                  <ng-container
                    *ngIf="(isProjectsEnabled$|async) && (((isIndividualProjectsEnabled$|async) && (individualProjectIds$|async)?.length > 0) || !(isIndividualProjectsEnabled$|async))">
                    <ng-container *ngIf="projectCategoryIds$|async as projectCategoryIds">
                      <ng-container *ngIf="isProjectVisible$|async"> 
                        <div class="add-edit-mileage--internal-block add-edit-mileage--project-block" [ngClass]="{'add-edit-mileage--no-project': fg.controls.project.touched && !fg.controls.project.valid}">
                          <app-fy-select-project
                            [cacheName]="'mileageProjectCache'"
                            [categoryIds]="projectCategoryIds"
                            [label]="'Project'"
                            [mandatory]="transactionMandatoyFields.project"
                            [defaultValue]="true"
                            [recentlyUsed]="recentProjects"
                            formControlName="project"
                          ></app-fy-select-project>
                        </div>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>

              <div *ngIf="fg.controls.project.value">
                <mat-checkbox formControlName="billable">
                  <span class="add-edit-mileage--checkbox">
                    Billable
                  </span>
                </mat-checkbox>
              </div>
            </div>

            <div *ngIf="fg.controls.project.touched && !fg.controls.project.valid"
                class="add-edit-mileage--error">
              Please select a project.
            </div>

            <ng-container *ngIf="filteredCategories$|async as subCategories">
              <ng-container *ngIf="subCategories.length > 0">
                <div class="add-edit-mileage--internal-block" [ngClass]="{'add-edit-mileage--internal-block__invalid': fg.controls.sub_category.touched && !fg.controls.sub_category.valid}">
                  <app-fy-select [cacheName]="'mileageSubCategoryName'"
                                 [label]="'Sub Category'"
                                 [mandatory]="true"
                                 [options]="subCategories"
                                 [selectModalHeader]="'Choose Sub Category'"
                                 formControlName="sub_category"
                  >

                  </app-fy-select>
                </div>
                <div *ngIf="fg.controls.sub_category.touched && !fg.controls.sub_category.valid"
                     class="add-edit-mileage--error">
                  Please select a Sub Category.
                </div>
              </ng-container>
            </ng-container>


            <ng-container *ngFor="let customInput of this.customInputs$ | async as customInputs">
              <div *ngIf="customInput.type !== 'USER_LIST'" class="add-edit-mileage--internal-block">
                <form [formGroup]="customInput.control">
                  <div *ngIf="customInput.type !== 'BOOLEAN' && customInput.type !== 'SELECT'&&customInput.type !== 'MULTI_SELECT' && customInput.type !== 'USER_LIST' && customInput.type !== 'LOCATION'"
                       class="add-edit-mileage--text" [ngClass]="{'add-edit-mileage--text__invalid': customInput.control.controls.value.touched && !customInput.control.controls.value.valid}">
                    <div class="add-edit-mileage--text-label">
                      {{customInput.name | ellipsis: 30}}
                      <span class="add-edit-mileage--mandatory" *ngIf="customInput.mandatory">
                        *
                      </span>
                    </div>
                    <input *ngIf="customInput.type === 'TEXT'" class="add-edit-mileage--text-input" formControlName="value"
                           type="text" [placeholder]="'Enter ' + customInput.name">

                    <input *ngIf="customInput.type === 'NUMBER'" class="add-edit-mileage--text-input" formControlName="value"
                           inputmode="decimal"  
                           type="number" [placeholder]="'Enter ' + customInput.name">

                    <input appFormatDate *ngIf="customInput.type === 'DATE'" class="add-edit-mileage--date-input date-input__format" formControlName="value"
                           type="date" [placeholder]="'Select ' + customInput.name" [name]="customInput.name">
                  </div>

                  <div *ngIf="customInput.type === 'BOOLEAN'" class="add-edit-mileage--checkbox">
                    <label>
                      <mat-checkbox formControlName="value">
                        {{customInput.name | ellipsis: 35 }}
                        <span class="add-edit-mileage--mandatory" *ngIf="customInput.mandatory">*</span>
                      </mat-checkbox>
                    </label>
                  </div>

                  <div *ngIf="customInput.type === 'LOCATION'">
                    <app-fy-location [label]="customInput.name | ellipsis: 30" [mandatory]="customInput.mandatory"
                                     formControlName="value">
                    </app-fy-location>
                  </div>

                  <div *ngIf="customInput.type === 'SELECT'">
                    <app-fy-select
                      [label]="customInput.name | ellipsis: 30"
                      [mandatory]="customInput.mandatory"
                      [options]="customInput.options"
                      [selectModalHeader]="'Choose '+customInput.name"
                      formControlName="value"
                    >
                    </app-fy-select>
                  </div>

                  <div *ngIf="customInput.type === 'MULTI_SELECT'">
                    <app-fy-multiselect
                      [label]="customInput.name | ellipsis: 30"
                      [mandatory]="customInput.mandatory"
                      [options]="customInput.options"
                      [selectModalHeader]="'Choose '+customInput.name"
                      [subheader]="customInput.name"
                      formControlName="value"
                    >
                    </app-fy-multiselect>
                  </div>
                </form>
              </div>
              <div *ngIf="customInput.control.controls.value.touched && !customInput.control.controls.value.valid"
                   class="add-edit-mileage--error">
                Please enter a {{customInput.name}}
              </div>
            </ng-container>

            <ng-container *ngIf="costCenters$|async as costCenters">
              <ng-container *ngIf="txnFields$|async as txnFields">
                <div *ngIf="costCenters.length > 0 && txnFields?.cost_center_id"
                     class="add-edit-mileage--internal-block" [ngClass]="{'add-edit-mileage--internal-block__invalid': fg.controls.costCenter.touched && !fg.controls.costCenter.valid}">
                  <app-fy-select [cacheName]="'mileageCostCenterCache'"
                                 [label]="txnFields.cost_center_id?.field_name"
                                 [mandatory]="txnFields.cost_center_id.is_mandatory"
                                 [options]="costCenters"
                                 [selectModalHeader]="'Select Cost Center'"
                                 [recentlyUsed]="recentCostCenters"
                                 formControlName="costCenter">
                  </app-fy-select>
                </div>
                <div *ngIf="fg.controls.costCenter.touched && !fg.controls.costCenter.valid"
                     class="add-edit-mileage--error">
                  Please select a Cost Center.
                </div>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="isConnected$|async">
              <!-- Hide is offline/ critical policy violation/ draft mileage/ only mileage in the report(vm.canAddToReport)-->
              <ng-container *ngIf="reports$|async as reports">
                <ng-container *ngIf="!(isCriticalPolicyViolated$|async)">
                  <ng-container *ngIf="etxn.tx.state !== 'DRAFT'">
                    <div class="add-edit-mileage--internal-block">
                      <app-fy-add-to-report *ngIf="reports.length > 0"
                                            [label]="etxn.tx.report_id ? 'Report' : 'Add to Report'"
                                            [options]="reports" formControlName="report"></app-fy-add-to-report>
                      <mat-checkbox *ngIf="reports.length === 0" formControlName="add_to_new_report">
                      <span class="add-edit-mileage--text-label">
                        Add to New Report
                      </span>
                      </mat-checkbox>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="isConnected$|async">
              <ng-container *ngIf="duplicates$|async as duplicates">
                <ng-container *ngIf="duplicates.length > 0">
                  <div #duplicateInputContainer
                       class="add-edit-mileage--duplicates-box add-edit-mileage--primary-block">
                    <div class="add-edit-mileage--duplicate-header">
                      <mat-icon>
                        warning
                      </mat-icon>
                      <div>
                        {{duplicates.length}} Duplicates Detected
                      </div>
                      <div (click)="duplicateBoxOpen = false" *ngIf="duplicateBoxOpen">
                        Collapse
                      </div>
                      <div (click)="duplicateBoxOpen = true" *ngIf="!duplicateBoxOpen">
                        Expand
                      </div>
                    </div>
                    <div *ngIf="duplicateBoxOpen" class="add-edit-mileage--duplicate-sub-box">
                      <div *ngFor="let duplicate of duplicates" class="add-edit-mileage--duplicate-reason">
                        {{duplicate.reason}}
                      </div>
                      <div class="add-edit-mileage--duplicate-reason-select">
                        <app-fy-select
                          [label]="'Reason'"
                          [options]="duplicateDetectionReasons"
                          [selectModalHeader]="'Select Reason'"
                          formControlName="duplicate_detection_reason">
                        </app-fy-select>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>

          <ng-container *ngIf="etxn$|async as etxn">
            <div #comments *ngIf="etxn && mode === 'edit'" class="add-edit-mileage--comment">
              <app-comments [objectId]="etxn.tx.id" mode="edit" objectType="transactions" text="Comments">
              </app-comments>
            </div>


            <ng-container *ngIf="etxn$|async as etxn">
              <div (click)="deleteExpense()"
                   *ngIf="etxn && !etxn.tx.report_id && mode === 'edit' && etxn.tx.user_can_delete" class="add-edit-mileage--delete" matRipple>
                <mat-icon class="add-edit-mileage--delete-icon">
                  delete
                </mat-icon>
                <div class="add-edit-mileage--delete-msg">
                  Delete Expense
                </div>
              </div>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="isConnected$">
            <ng-container *ngIf="transactionMandatoyFields$|async as transactionMandatoyFields">
              <ng-container *ngIf="isProjectsEnabled$|async as isProjectsEnabled">
                <ng-container *ngIf="isIndividualProjectsEnabled$|async as isIndividualProjectsEnabled">
                  <ng-container *ngIf="individualProjectIds$|async as individualProjectIds">

                    <app-fy-alert
                      *ngIf="transactionMandatoyFields.project && individualProjectIds.length === 0"
                      [type]="'warning'"
                      [message]="'There are no projects assigned to you, so this expense will be saved as a draft. Please contact admin for further help.'">
                    </app-fy-alert>

                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </form>
      </ng-container>
      <div *ngIf="invalidPaymentMode" class="add-edit-mileage--error-message-block">
        Expense greater than balance in selected Payment Mode. Please choose a different Payment Mode.
      </div>
    </ng-container>
  </div>
</ion-content>
<ng-container *ngIf="fg">
  <ion-footer class="cta-footer">
    <ion-toolbar mode="md">
      <div *ngIf="!reviewList" class="add-edit-mileage--cta-container">
        <ion-buttons>
          <ion-button (click)="saveAndNewExpense()" *ngIf="mode === 'add'" [disabled]="fg.controls.add_to_new_report.value || (saveMileageLoader || saveAndNewMileageLoader)"
            class="btn-secondary"
            appFormButtonValidation [loading]="saveAndNewMileageLoader" [loadingText]="'SAVING'">
            Save and new
          </ion-button>
          <ion-button (click)="saveExpense()" class="btn-primary" 
            appFormButtonValidation [loading]="saveMileageLoader" [loadingText]="'SAVING'"
            [disabled]="saveMileageLoader || saveAndNewMileageLoader">
            Save Expense
          </ion-button>
        </ion-buttons>
      </div>

      <div *ngIf="reviewList" class="add-edit-mileage--cta-container">
        <ion-buttons>
          <ion-button (click)="saveExpenseAndGotoNext()" class="btn-primary" 
            appFormButtonValidation [loading]="saveAndNextMileageLoader" [loadingText]="'SAVING'">
            {{ reviewList.length > 0 && !showSaveAndNext ? 'Save and Next' : 'Save' }}
          </ion-button>
        </ion-buttons>
      </div>
    </ion-toolbar>
  </ion-footer>
</ng-container>

