<ion-header mode="md" >
  <ion-toolbar class="add-edit-mileage--toolbar">
    <ion-title mode="md" *ngIf="mode" class="page-title">
      <div *ngIf="mode === 'add'">
        Add Mileage
      </div>
      <div *ngIf="mode === 'edit'">
        <div>
          {{title}} Mileage
        </div>
        <div class="add-edit-mileage--sub-header" *ngIf="reviewList?.length">
          {{ +activeIndex + 1 }} of {{ reviewList?.length }} expense{{reviewList?.length > 1 ? 's' : ''}}
        </div>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button mode="md" (click)="goBack()">
        <mat-icon slot="icon-only">close</mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="add-edit-mileage--review-nav" *ngIf="reviewList?.length">
      <button class="add-edit-mileage--review-go-left" [disabled]="+activeIndex === 0" (click)="goToPrev()"
        [ngClass]="{'add-edit-mileage--review-go-left__disabled': +activeIndex === 0}">
        <mat-icon>
          keyboard_arrow_left
        </mat-icon>
      </button>
      <button class="add-edit-mileage--review-go-right" [disabled]="+activeIndex === reviewList?.length - 1"
        (click)="goToNext()"
        [ngClass]="{'add-edit-mileage--review-go-right__disabled': +activeIndex === reviewList?.length - 1}">
        <mat-icon>
          keyboard_arrow_right
        </mat-icon>
      </button>
    </div>
    <div class="add-edit-mileage--duplicate-pointer-container">
      <div class="add-edit-mileage--duplicate-pointer" (click)="showDuplicates()" *ngIf="pointToDuplicates">
        <div class="add-edit-mileage--duplicate-pointer-text">
          Possible Duplicates Detected !
        </div>
        <div class="add-edit-mileage--duplicate-pointer-icon">
          <mat-icon class="add-edit-mileage--duplicate-pointer-icon-internal">
            expand_more
          </mat-icon>
        </div>
      </div>
    </div>
    <ng-container *ngIf="etxn$|async as etxn">
      <ng-container *ngIf="fg">
        <form [formGroup]="fg" class="add-edit-mileage--form" #formContainer>
          <ng-container *ngIf="mode === 'edit'">
            <ng-container *ngIf="comments$|async as comments">
              <app-fy-policy-violation-info [estatuses]="comments"></app-fy-policy-violation-info>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="isAmountCapped$|async">
            <div class="add-edit-mileage--critical-policy">
              <ng-container *ngIf="isCriticalPolicyViolated$|async;else justAmountCapped">
                This mileage has violated a critical policy. You cannot create a report with this mileage.
              </ng-container>
              <ng-template #justAmountCapped>
                Claimed amount {{etxn.tx.user_amount | currency: etxn.tx.currency}} was capped to {{etxn.tx.amount | currency: etxn.tx.currency}} due to policy <span
                  *ngIf="isAmountDisabled$|async"> and cannot be edited.</span>
              </ng-template>
            </div>
          </ng-container>

          <ng-container *ngIf="homeCurrency$|async as homeCurrency">
            <div class="add-edit-mileage--amount-box">
              <div class="add-edit-mileage--amount">
                <p class="mb-0">Amount</p>
                <p class="add-edit-mileage--amount-value mb-0">
                  {{amount$|async | currency: homeCurrency}}
                </p>
              </div>
              <div class="add-edit-mileage--rate">
                <p class="mb-0">
                  Rate /
                  <ng-container *ngIf="etxn.tx.distance_unit; else defaultDistanceUnit">
                    <span class="text-capitalize">{{ etxn.tx.distance_unit }}</span>
                  </ng-container>

                  <ng-template #defaultDistanceUnit>
                    <ng-container *ngIf="mileageConfig$|async as mileageConfig">
                      <span class="text-capitalize">{{ mileageConfig.unit }}</span>
                    </ng-container>
                  </ng-template>
                </p>
                <p class="add-edit-mileage--rate-value mb-0 text-right">
                  {{rate$|async | currency: homeCurrency}}
                </p>
              </div>
            </div>
          </ng-container>

          <div class="add-edit-mileage--primary-block">
            <ng-container *ngIf="mileageConfig$|async as mileageConfig">
              <div class="add-edit-mileage--internal-block">
                <app-fy-select-vehicle formControlName="mileage_vehicle_type" [mileageConfig]="mileageConfig"
                  [isAmountDisabled]="(isAmountDisabled$|async)" [mandatory]="true"></app-fy-select-vehicle>
              </div>
            </ng-container>

            <ng-container *ngIf="txnFields$|async as txnFields">
              <div class="add-edit-mileage--date add-edit-mileage--internal-block" *ngIf="txnFields?.txn_dt?.canView">
                <div class="add-edit-mileage--date-label"
                  [ngClass]="{'add-edit-mileage--date-label__invalid': fg.controls.dateOfSpend.touched && !fg.controls.dateOfSpend.valid}">
                  Start Date
                  <span ng-if="txnFields?.txn_dt?.mandatory">*</span>
                </div>
                <input class="add-edit-mileage--date-input" matInput type="date" formControlName="dateOfSpend" disabled
                  (keydown)="$event.preventDefault()" [min]="minDate" [max]="maxDate">
              </div>
            </ng-container>

            <ng-container *ngIf="mileageConfig$|async as mileageConfig">
              <ng-container formArrayName="mileage_locations">
                <div class="add-edit-mileage--internal-block"
                  *ngFor="let control of mileage_locations.controls; index as i; first as isFirst;last as isLast">
                  <app-fy-location
                    [label]="mileage_locations.controls.length > 2 ? (isFirst ? (control.value ? 'Start' : 'Start Location' ): (isLast ? (control.value ? 'End' : 'End Location'): (control.value ? 'Stop ' + (i) : 'Select Stop ' + (i) + ' Location'))): (isFirst ? (control.value ? 'Start' : 'Select From Location'): (control.value ? 'End' :'Select To Location'))"
                    [formControlName]="i">
                    <span *ngIf="i >= 2">
                      <mat-icon class="add-edit-mileage--remove-stop" (click)="removeMileageLocation(i)">
                        delete
                      </mat-icon>
                    </span>
                  </app-fy-location>
                </div>
              </ng-container>
            </ng-container>
            <div class="add-edit-mileage--add-stop" (click)="addMileageLocation()"
              *ngIf="mileage_locations.controls.length < 10">
              <mat-icon>
                add
              </mat-icon>
              Add stop
            </div>
            <app-fy-alert *ngIf="mileage_locations.controls.length === 10"
              [message]="'You can add a maximum of 10 locations'" [type]="'information'">
            </app-fy-alert>



            <ng-container *ngIf="txnFields$|async as txnFields">
              <ng-container *ngIf="txnFields?.distance?.canView">
                <div class="add-edit-mileage--text add-edit-mileage--internal-block">
                  <div class="add-edit-mileage--text-label"
                    [ngClass]="{'add-edit-mileage--text-label__invalid': fg.controls.distance.touched && !fg.controls.distance.valid}">
                    {{ fg.controls.distance.value > 0 ? 'Distance ' : 'Enter Distance ' }}
                    <ng-container *ngIf="etxn.tx.distance_unit; else defaultDistanceUnit">
                      <span class="add-edit-mileage--text-label__unit"> ({{ etxn.tx.distance_unit }})</span>
                    </ng-container>

                    <ng-template #defaultDistanceUnit>
                      <ng-container *ngIf="mileageConfig$|async as mileageConfig">
                        <span class="add-edit-mileage--text-label__unit"> ({{ mileageConfig.unit }})</span>
                      </ng-container>
                    </ng-template>
                    <div *ngIf="txnFields?.distance?.mandatory">
                      *
                    </div>
                  </div>
                  <input class="add-edit-mileage--text-input" inputmode="decimal" type="number" formControlName="distance" [min]="0"
                    [disabled]="(isAmountDisabled$|async) || !txnFields?.distance.canEdit">
                </div>
                <div class="add-edit-mileage--error"
                  *ngIf="fg.controls.distance.touched && !fg.controls.distance.valid">
                  Please select {{txnFields?.distance.title  }}
                </div>
              </ng-container>
            </ng-container>

            <div class="add-edit-mileage--internal-block">
              <mat-checkbox color="primary" formControlName="round_trip"
                [disabled]="(isAmountDisabled$|async) || !fg.controls.distance">
                <span class="add-edit-mileage--checkbox">
                  Round Trip
                </span>
              </mat-checkbox>
            </div>

            <ng-container *ngIf="paymentModes$|async as paymentModes">
              <div *ngIf="paymentModes.length > 1"
                class="add-edit-mileage--payment-modes add-edit-mileage--internal-block">
                <app-fy-select
                  [subheader]="'All Payment Modes'"
                  [enableSearch]="false"
                  [mandatory]="true"
                  [label]="fg.value.paymentMode? 'Payment Mode' : 'Select Payment Mode'"
                  [options]="paymentModes"
                  [selectionElement]="paymentMode"
                  [selectModalHeader]="'Choose Payment Mode'"
                  formControlName="paymentMode"
                  [subheader]="'All Payment Modes'"
                  [nullOption]="false">
                </app-fy-select>
                <ng-template #paymentMode let-label="label" let-paymentMode="value" let-selected="selected">
                  <div>
                    <div class="add-edit-mileage--payment-mode-header">
                      {{label}}
                    </div>
                    <ng-container *ngIf="paymentMode">
                      <ng-container *ngIf="paymentMode.acc.type === 'PERSONAL_ADVANCE_ACCOUNT'">
                        <div class="add-edit-mileage--payment-mode-purpose">
                          {{paymentMode.advance.purpose}}
                        </div>
                      </ng-container>
                      <div class="add-edit-mileage--payment-mode-type" *ngIf="paymentMode.acc.isReimbursable">
                        (Reimbursable)
                      </div>
                      <div class="add-edit-mileage--payment-mode-type" *ngIf="!paymentMode.acc.isReimbursable">
                        (Non Reimbursable)
                      </div>
                    </ng-container>
                  </div>
                  <mat-icon *ngIf="selected">
                    check
                  </mat-icon>
                </ng-template>
              </div>
            </ng-container>

            <ng-container *ngIf="isAdvancesEnabled$">
              <app-fy-alert *ngIf="(isBalanceAvailableInAnyAdvanceAccount$ | async)" [type]="'information'"
                [message]="'You have outstanding balance in your advance account(s)'"></app-fy-alert>
            </ng-container>


            <ng-container *ngIf="txnFields$|async as txnFields">
              <ng-container *ngIf="txnFields.purpose?.canView">
                <div *ngIf="txnFields.purpose?.type === 'TEXT'"
                  class="add-edit-mileage--text add-edit-mileage--internal-block">
                  <div class="add-edit-mileage--text-label"
                    [ngClass]="{'add-edit-mileage--text-label__invalid': fg.controls.purpose.touched && !fg.controls.purpose.valid}">
                    <div>
                      {{ fg.value.purpose ? txnFields.purpose?.title : 'Enter ' + txnFields.purpose?.title| slice: 0:15 }}
                    </div>
                    <div *ngIf="txnFields.purpose?.mandatory">
                      *
                    </div>
                  </div>
                  <input class="add-edit-mileage--text-input add-edit-mileage--internal-block" formControlName="purpose"
                    [title]="'Enter'+txnFields.purpose?.title" [required]="txnFields.purpose?.mandatory"
                    [placeholder]="'Enter '+txnFields.purpose?.title | slice: 0:15"
                    [disabled]="!txnFields.purpose?.canEdit">
                </div>
                <div *ngIf="txnFields.purpose?.type === 'SELECT'" class="add-edit-mileage--internal-block">
                  <app-fy-select formControlName="purpose"
                    [options]="txnFields.purpose?.values"
                    [mandatory]="txnFields.purpose?.mandatory"
                    [label]="fg.value.purpose ? txnFields.purpose?.title : 'Enter ' + txnFields.purpose?.title"
                    [disabled]="!txnFields.purpose?.canEdit"
                    [selectModalHeader]="'Enter Purpose'">
                  </app-fy-select>
                </div>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="isConnected$|async">
              <ng-container *ngIf="transactionMandatoyFields$|async as transactionMandatoyFields">
                <ng-container *ngIf="projectCategoryIds$|async as projectCategoryIds">
                  <div class="add-edit-mileage--internal-block">
                    <app-fy-select-project
                      formControlName="project"
                      [label]="fg.value.project ? 'Project' : 'Select Project'"
                      [cacheName]="'mileageProjectCache'"
                      [mandatory]="transactionMandatoyFields.project"
                      [categoryIds]="projectCategoryIds"></app-fy-select-project>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>


            <div class="add-edit-mileage--internal-block" *ngIf="fg.controls.project.value">
              <mat-checkbox color="primary" formControlName="billable">
                <span class="add-edit-mileage--checkbox">
                  Billable
                </span>
              </mat-checkbox>
            </div>


            <ng-container *ngIf="filteredCategories$|async as subCategories">
              <ng-container *ngIf="subCategories.length > 0">
                <div class="add-edit-mileage--internal-block">
                  <app-fy-select formControlName="sub_category"
                    [label]="etxn?.tx?.org_category_id ? 'Sub Category' : 'Select Sub Category'"
                    [mandatory]="true"
                    [cacheName]="'mileageSubCategoryName'"
                    [options]="subCategories"
                    [selectModalHeader]="'Choose Sub Category'">
                  </app-fy-select>
                </div>
                <div class="add-edit-mileage--error"
                  *ngIf="fg.controls.sub_category.touched && !fg.controls.sub_category.valid">
                  Please select a Sub Category.
                </div>
              </ng-container>
            </ng-container>


            <ng-container *ngFor="let customInput of this.customInputs$ | async as customInputs">
              <div *ngIf="customInput.type !== 'USER_LIST'" class="add-edit-mileage--internal-block">
                <form [formGroup]="customInput.control">
                  <div class="add-edit-mileage--text"
                    *ngIf="customInput.type !== 'BOOLEAN' && customInput.type !== 'SELECT'&&customInput.type !== 'MULTI_SELECT' && customInput.type !== 'USER_LIST' && customInput.type !== 'LOCATION'">
                    <div class="add-edit-mileage--text-label"
                      [ngClass]="{'add-edit-mileage--text-label__invalid': customInput.control.controls.value.touched && !customInput.control.controls.value.valid}">
                      {{customInput.name | ellipsis: 20}}
                      <span *ngIf="customInput.mandatory">
                        *
                      </span>
                    </div>
                    <input class="add-edit-mileage--text-input" type="text" formControlName="value"
                      *ngIf="customInput.type === 'TEXT'">

                    <input class="add-edit-mileage--text-input" inputmode="decimal" type="number" formControlName="value"
                      *ngIf="customInput.type === 'NUMBER'">

                    <input class="add-edit-mileage--date-input" *ngIf="customInput.type === 'DATE'" type="date"
                      formControlName="value">
                  </div>

                  <div class="add-edit-mileage--checkbox" *ngIf="customInput.type === 'BOOLEAN'">
                    <label>
                      <mat-checkbox color="primary" formControlName="value">
                        {{customInput.name | ellipsis: 20 }}
                        <span *ngIf="customInput.mandatory">*</span>
                      </mat-checkbox>
                    </label>
                  </div>

                  <div *ngIf="customInput.type === 'LOCATION'">
                    <app-fy-location [mandatory]="customInput.mandatory" [label]="customInput.name"
                      formControlName="value">
                    </app-fy-location>
                  </div>

                  <div *ngIf="customInput.type === 'SELECT'">
                    <app-fy-select [mandatory]="customInput.mandatory" [label]="customInput.name"
                      [options]="customInput.options" formControlName="value">
                    </app-fy-select>
                  </div>

                  <div *ngIf="customInput.type === 'MULTI_SELECT'">
                    <app-fy-multiselect [mandatory]="customInput.mandatory" [label]="customInput.name"
                      [options]="customInput.options" formControlName="value">
                    </app-fy-multiselect>
                  </div>
                </form>
              </div>
            </ng-container>


            <ng-container *ngIf="costCenters$|async as costCenters">
              <ng-container *ngIf="txnFields$|async as txnFields">
                <div class="add-edit-mileage--internal-block"
                  *ngIf="costCenters.length > 0 && txnFields?.cost_center_id?.canView">
                  <app-fy-select formControlName="costCenter"
                    [selectModalHeader]="'Select Cost Center'"
                    [mandatory]="txnFields.cost_center_id.mandatory"
                    [label]="fg.controls.costCenter.value ? 'Cost Center' : 'Select Cost Center'"
                    [cacheName]="'mileageCostCenterCache'"
                    [options]="costCenters">
                  </app-fy-select>
                </div>
                <div class="add-edit-mileage--error"
                  *ngIf="fg.controls.costCenter.touched && !fg.controls.costCenter.valid">
                  Please select a Cost Center.
                </div>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="isConnected$|async">
              <!-- Hide is offline/ critical policy violation/ draft mileage/ only mileage in the report(vm.canAddToReport)-->
              <ng-container *ngIf="reports$|async as reports">
                <div class="add-edit-mileage--internal-block add-edit-mileage--new-report-block">
                  <app-fy-add-to-report *ngIf="reports.length > 0" [label]="etxn.tx.report_id ? 'Report' : 'Add to Report'"
                    formControlName="report" [options]="reports"></app-fy-add-to-report>
                  <mat-checkbox color="primary" *ngIf="reports.length === 0" formControlName="add_to_new_report">
                      <span class="add-edit-mileage--text-label">
                        Add to New Report
                      </span>
                  </mat-checkbox>
                </div>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="isConnected$|async">
              <ng-container *ngIf="duplicates$|async as duplicates">
                <ng-container *ngIf="duplicates.length > 0">
                  <div #duplicateInputContainer
                    class="add-edit-expense--duplicates-box add-edit-expense--primary-block">
                    <div class="add-edit-expense--duplicate-header">
                      <mat-icon>
                        warning
                      </mat-icon>
                      <div>
                        {{duplicates.length}} Duplicates Detected
                      </div>
                      <div *ngIf="duplicateBoxOpen" (click)="duplicateBoxOpen = false">
                        Collapse
                      </div>
                      <div *ngIf="!duplicateBoxOpen" (click)="duplicateBoxOpen = true">
                        Expand
                      </div>
                    </div>
                    <div class="add-edit-expense--duplicate-sub-box" *ngIf="duplicateBoxOpen">
                      <div class="add-edit-expense--duplicate-reason" *ngFor="let duplicate of duplicates">
                        {{duplicate.reason}}
                      </div>
                      <div class="add-edit-expense--duplicate-reason-select">
                        <app-fy-select
                          formControlName="duplicate_detection_reason"
                          [selectModalHeader]="'Select Reason'"
                          [label]="'Select your Reason'"
                          [options]="duplicateDetectionReasons">
                        </app-fy-select>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>

          <ng-container *ngIf="etxn$|async as etxn">
            <div class="add-edit-mileage--comment" *ngIf="etxn && mode === 'edit'">
              <app-comments objectType="transactions" [objectId]="etxn.tx.id" mode="edit" text="Comments">
              </app-comments>
            </div>


            <!-- <app-fy-alert
            *ngIf="!vm.isOffline && vm.mandatorymileageFields.project && vm.isProjectsEnabled && (vm.isIndividualProjectsEnabled && vm.allowedProjectIds.length === 0)"
            type="warning"
            message="'There are no projects assigned to you, so this mileage will be saved as a draft. Please contact admin for further help.'">
          </app-fy-alert> -->



            <ng-container *ngIf="etxn$|async as etxn">
              <div *ngIf="etxn && !etxn.tx.report_id && mode === 'edit' && etxn.tx.user_can_delete"
                class="add-edit-mileage--delete" matRipple (click)="deleteExpense()">
                <mat-icon class="add-edit-mileage--delete-icon">
                  delete
                </mat-icon>
                <div class="add-edit-mileage--delete-msg">
                  Delete Expense
                </div>
              </div>
            </ng-container>
          </ng-container>
        </form>
      </ng-container>
      <div class="add-edit-mileage--error-message-block" *ngIf="invalidPaymentMode">
        Expense greater than balance in selected Payment Mode. Please choose a different Payment Mode.
      </div>
    </ng-container>
  </div>
</ion-content>
<ng-container *ngIf="fg">
  <ion-footer>
    <ion-toolbar mode="md">
      <div class="add-edit-mileage--cta-container" *ngIf="!reviewList">
        <ion-buttons>
          <ion-button (click)="saveExpense()" class="add-edit-mileage--primary-cta" fill="solid" color="fyle-primary">
            Save
          </ion-button>
          <ion-button *ngIf="mode === 'add'" (click)="saveAndNewExpense()" class="add-edit-mileage--primary-cta"
                      fill="solid" color="fyle-primary" [disabled]="fg.controls.add_to_new_report.value">
            Save & New
          </ion-button>
        </ion-buttons>
      </div>

      <div class="add-edit-mileage--cta-container" *ngIf="reviewList">
        <ion-buttons >
          <ion-button (click)="saveExpenseAndGotoNext()" class="add-edit-mileage--primary-cta" fill="solid" color="fyle-primary">
            Save & Next
          </ion-button>
        </ion-buttons>
      </div>
    </ion-toolbar>
  </ion-footer>
</ng-container>

