$header-border: #ddd;
$header-input: #f8f8f8;
$sub-title: #ababab;
$list-element-color: #333;

.selection-modal {
  color: black;
  &--list-element {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1) !important;
    border-radius: 4px;
    margin-bottom: 24px;
    border: 1px solid #fff;
    padding: 16px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  &--list-element-inner-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &--list-element-date {
    color: #ababab;
    font-size: 12px;
    font-weight: 500;
    width: 120px;
  }

  &--list-element-amount {
    font-weight: 700;
    color: #ababab;
  }

  &--list-element-purpose {
    font-size: 16px;
    font-weight: 700;
    white-space: normal;
    color: #666;
  }

  &--title {
    padding: 24px 0;
    font-size: 24px;
    font-weight: 600;
    height: 100%;
    line-height: 1.3;
  }

  &--header {
    margin: 0;
    padding: 10px 15px;
    font-size: 14px;
    border-bottom: 1px solid $header-border;
    color: $sub-title;
  }

  &--search-input {
    padding: 0 12px;
    font-size: 16px;
  }

  &--form-field {
    font-size: 11px;
    width: 94%;
    padding: 4px;
  }

  &--search-icon {
    font-size: 14px;
  }

  &--form-field-container {
    text-align: center;
  }

  &--container {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin-top: 20px;
  }

  &--recently-used-block {
    margin-bottom: 20px;
  }

  &--sub-title {
    color: #ababab;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 14px 10px 0;
  }
}
