@import '../../../../../theme/colors.scss';

.report-list {
  &--container {
    padding: 0 16px;
  }

  &--header {
    font-size: 14px;
    line-height: 1.3;
    color: $grey-light;
    margin-bottom: 24px;
    font-weight: 500;
  }

  &--title {
    padding: 16px 0;
    font-size: 20px;
    font-weight: 400;
    height: 100%;
    line-height: 26px;
    color: $black;
    margin-left: 4px;
  }

  &--add-icon {
    height: 24px;
    width: 24px;
  }

  &--list {
    margin-top: 10px;
  }

  &--currency-amount-container {
    margin-bottom: 4px;
  }

  &--currency {
    color: $black-light;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    margin-right: 2px;
  }

  &--amount {
    color: $black;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 500;
  }

  &--purpose {
    font-weight: 500;
    color: $black;
    font-size: 18px;
    line-height: 1.3;
  }

  &--none {
    margin: 6px 0;
  }

  &--count {
    color: $blue-black;
    line-height: 1.3;
    margin-top: 2px;
  }

  &--divider {
    border-bottom: 1px solid $grey-lighter;
    margin-bottom: 14px;
  }

  &--selected {
    display: flex;
    align-items: center;

    &__icon {
      height: 20px;
      width: 20px;
      margin-left: auto;
      fill: $brand-primary;
    }
  }

  &--state {
    font-size: 12px;
    line-height: 1.25;
    color: $pure-white;
    background-color: $highlight-black;
    border-radius: 16px;
    padding: 4px 17px;
    max-width: 90px;
    margin-left: auto;

    &__reported {
      background-color: $blue-1;
    }

    &__sent_back {
      background-color: $red;
    }
  }

  &--zero-state {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    color: $blue-black;

    &__img {
      margin: 12px;
    }

    &__title {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      padding-bottom: 4px;
    }

    &__subtitle {
      font-size: 14px;
    }

    &__icon {
      height: 16px;
      width: 16px;
      padding: 0 2px;
      vertical-align: text-bottom;
    }
  }
}
