@import '../../../../../assets/styles/fy_select';

$sub-title: #ababab;

.selection-modal {
  color: black;
  &--list-element {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1) !important;
    border-radius: 4px;
    margin-bottom: 24px;
    border: 1px solid #fff;
    padding: 16px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  &--list-element-inner-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &--list-element-date {
    color: #ababab;
    font-size: 12px;
    font-weight: 500;
    width: 120px;
  }

  &--list-element-amount {
    font-weight: 700;
    color: #ababab;
  }

  &--list-element-purpose {
    font-size: 16px;
    font-weight: 700;
    white-space: normal;
    color: #666;
  }

  &--title {
    @extend %fy-select-title;
  }

  &--header {
    @extend %fy-select-header;
  }

  &--search-input {
    @extend %fy-select-search-input;
  }

  &--form-field {
    @extend %fy-select-mat-form-field;
  }

  &--search-icon {
    font-size: 14px;
  }

  &--form-field-container {
    text-align: center;
  }

  &--container {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin-top: 20px;
  }

  &--recently-used-block {
    margin-bottom: 20px;
  }

  &--sub-title {
    color: #ababab;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 14px 10px 0;
  }
}
