<ion-header mode="md">
  <ion-toolbar class="view-advance-request--toolbar">
    <ion-buttons
      mode="md"
      slot="start"
      [ngClass]="{'view-advance-request--header-btn-container__sm': isDeviceWidthSmall}"
    >
      <ion-button [routerLink]="['/','enterprise','my_advances']" routerLinkActive="router-link-active">
        <ion-icon class="fy-icon-close" [src]="'../../../../assets/svg/arrow-left.svg'" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="md" class="page-title" [ngClass]="{'view-advance-request--title-sm': isDeviceWidthSmall}"
      >View Advance Request</ion-title
    >
    <ion-buttons
      class="view-advance-request--header-btn-container"
      [ngClass]="{'view-advance-request--header-btn-container__sm': isDeviceWidthSmall}"
      slot="end"
    >
      <ng-container *ngIf="actions$|async as actions">
        <ion-button *ngIf="actions?.can_edit" class="view-advance-request--header-btn-container__btn" (click)="edit()">
          <ion-icon [src]="'../../../assets/svg/edit.svg'" slot="icon-only"></ion-icon>
        </ion-button>
      </ng-container>
      <ion-button class="view-advance-request--header-btn-container__btn" (click)="openCommentsModal()">
        <ion-icon [src]="'../../../assets/svg/chat.svg'" slot="icon-only"></ion-icon>
      </ion-button>
      <ng-container *ngIf="actions$|async as actions">
        <ion-button
          *ngIf="actions?.can_delete"
          class="view-advance-request--header-btn-container__btn"
          (click)="delete()"
        >
          <ion-icon [src]="'../../../assets/svg/fy-delete.svg'" slot="icon-only"></ion-icon>
        </ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="advanceRequest$|async as advanceRequest">
    <div class="view-advance-request--container">
      <app-summary-tile
        [purpose]="advanceRequest.areq_purpose || '-'"
        [currency]="currencySymbol"
        [amount]="advanceRequest.areq_amount || 0"
        [status]="internalState.name"
        [approvals]="activeApprovals$ | async"
      ></app-summary-tile>

      <div *ngIf="attachedFiles$|async as attachedFiles">
        <div *ngIf="attachedFiles?.length > 0">
          <app-receipt-preview-thumbnail
            [attachments]="attachedFiles"
            (viewAttachments)="viewAttachments(attachedFiles)"
            [canEdit]="false"
          >
          </app-receipt-preview-thumbnail>
        </div>
        <div *ngIf="attachedFiles?.length === 0" class="view-advance-request--content-container">
          <div class="view-advance-request--element">
            <app-fy-statistic
              [icon]="'../../../../assets/svg/attachment-none.svg'"
              [type]="StatisticTypes.STRING"
              [label]="'Receipt'"
              [value]="'Not Attached'"
            ></app-fy-statistic>
          </div>
        </div>
      </div>

      <div>
        <div class="view-advance-request--element">
          <app-fy-statistic
            [icon]="'../../../../assets/svg/wallet.svg'"
            [type]="StatisticTypes.STRING"
            [label]="'Request ID'"
            [value]="advanceRequest.areq_advance_request_number|| '-'"
          ></app-fy-statistic>
        </div>

        <div class="view-advance-request--divider"></div>

        <ion-grid class="view-advance-request--grid">
          <ion-row>
            <ion-col class="p-0" size="6">
              <div class="view-advance-request--element">
                <app-fy-statistic
                  [icon]="'../../../../assets/svg/calendar.svg'"
                  [type]="StatisticTypes.DATE"
                  [label]="'Created On'"
                  [value]="advanceRequest.areq_created_at | date: 'MMM dd, YYYY'"
                ></app-fy-statistic>
              </div>
            </ion-col>
            <ion-col class="p-0" size="6" *ngIf="advanceRequest.areq_approved_at">
              <div class="view-advance-request--element">
                <app-fy-statistic
                  [icon]="'../../../../assets/svg/calendar.svg'"
                  [type]="StatisticTypes.DATE"
                  [label]="'Approved On'"
                  [value]="advanceRequest.areq_approved_at | date: 'MMM dd, YYYY'"
                ></app-fy-statistic>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="view-advance-request--element">
          <app-fy-statistic
            [icon]="'../../../../assets/svg/list.svg'"
            [type]="StatisticTypes.STRING"
            [label]="'Purpose'"
            [value]="advanceRequest.areq_purpose|| '-'"
          ></app-fy-statistic>
        </div>
        <div class="view-advance-request--element">
          <app-fy-statistic
            [icon]="'../../../../assets/svg/list.svg'"
            [type]="StatisticTypes.STRING"
            [label]="projectFieldName | titlecase"
            [value]="(advanceRequest.project_name || '-') | ellipsis: 15"
          ></app-fy-statistic>
        </div>

        <div class="view-advance-request--divider"></div>

        <div class="view-advance-request--element">
          <app-fy-statistic
            [icon]="'../../../../assets/svg/list.svg'"
            [type]="StatisticTypes.STRING"
            [label]="'Additional Notes'"
            [value]="advanceRequest.areq_notes || '-'"
          ></app-fy-statistic>
        </div>

        <!-- Custom Fields block -->

        <ng-container *ngIf="advanceRequestCustomFields$|async as advanceRequestCustomFields">
          <div *ngIf="advanceRequestCustomFields.length > 0">
            <div
              class="view-advance-request--element"
              *ngFor="let advanceRequestCustomField of advanceRequestCustomFields; index as i"
            >
              <div
                *ngIf="advanceRequestCustomField.type === StatisticTypes.DATE.toUpperCase() && advanceRequestCustomField.value"
              >
                <app-fy-statistic
                  [icon]="'../../../../assets/svg/calendar.svg'"
                  [type]="StatisticTypes.DATE"
                  [label]="advanceRequestCustomField.name"
                  [value]="advanceRequestCustomField.value | date: 'MMM dd, YYYY'"
                ></app-fy-statistic>
              </div>
              <div
                *ngIf="advanceRequestCustomField.type === StatisticTypes.DATE.toUpperCase() && !advanceRequestCustomField.value"
              >
                <app-fy-statistic
                  [icon]="'../../../../assets/svg/calendar.svg'"
                  [type]="StatisticTypes.DATE"
                  [label]="advanceRequestCustomField.name"
                  [value]="'-'"
                ></app-fy-statistic>
              </div>
              <div *ngIf="advanceRequestCustomField.type === StatisticTypes.BOOLEAN.toUpperCase()">
                <app-fy-statistic
                  [icon]="'../../../../assets/svg/list.svg'"
                  [type]="StatisticTypes.BOOLEAN"
                  [label]="advanceRequestCustomField.name"
                  [value]="advanceRequestCustomField.value ? 'Yes' : 'No'"
                ></app-fy-statistic>
              </div>
              <div
                *ngIf="advanceRequestCustomField.type !== StatisticTypes.BOOLEAN.toUpperCase() && advanceRequestCustomField.type !== 'DATE'"
              >
                <app-fy-statistic
                  [icon]="'../../../../assets/svg/list.svg'"
                  [type]="StatisticTypes.BOOLEAN"
                  [label]="advanceRequestCustomField.name"
                  [value]="advanceRequestCustomField.value || '-'"
                ></app-fy-statistic>
              </div>
            </div>
          </div>
        </ng-container>

        <div *ngIf="advanceRequest?.areq_advance_id" class="view-advance-request--divider"></div>
      </div>

      <div *ngIf="advanceRequest?.areq_advance_id" class="view-advance-request--view-advance">
        <div class="view-advance-request--icon-container">
          <img class="view-advance-request--icon" [src]="'../../../../assets/svg/open-in-new-tab.svg'" />
        </div>
        <div>
          <a
            class="view-advance-request--anchor"
            [routerLink]="['/', 'enterprise', 'my_view_advance', {id: advanceRequest.areq_advance_id}]"
            >View Advance</a
          >
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ng-container *ngIf="actions$|async as actions">
  <ion-footer *ngIf="actions?.can_pull_back">
    <ion-toolbar class="fy-footer-cta-container" mode="md">
      <ion-button class="fy-footer-cta fy-footer-cta--primary" (click)="pullBack()"> Pull Back </ion-button>
    </ion-toolbar>
  </ion-footer>
</ng-container>
