<ion-header mode="md">
  <ion-toolbar class="view-advance-request--toolbar">
    <ion-buttons
      mode="md"
      slot="start"
      [ngClass]="{'view-advance-request--header-btn-container__sm': isDeviceWidthSmall}"
    >
      <ion-button [routerLink]="['/','enterprise','my_advances']" routerLinkActive="router-link-active">
        <ion-icon class="fy-icon-close" [src]="'../../../../assets/svg/fy-close.svg'" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="md" class="page-title" [ngClass]="{'view-advance-request--title-sm': isDeviceWidthSmall}"
      >View Advance Request</ion-title
    >
    <ion-buttons
      class="view-advance-request--header-btn-container"
      [ngClass]="{'view-advance-request--header-btn-container__sm': isDeviceWidthSmall}"
      slot="end"
    >
      <ion-button class="view-advance-request--header-btn-container__btn" (click)="openCommentsModal()">
        <ion-icon [src]="'../../../assets/svg/fy-chat-2.svg'" slot="icon-only"></ion-icon>
      </ion-button>
      <ng-container *ngIf="actions$|async as actions">
        <ion-button
          *ngIf="actions?.can_delete"
          class="view-advance-request--header-btn-container__btn"
          (click)="delete()"
        >
          <ion-icon [src]="'../../../assets/svg/fy-delete.svg'" slot="icon-only"></ion-icon>
        </ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="advanceRequest$|async as advanceRequest">
    <div class="view-advance-request--attachment-currency-container">
      <div class="view-advance-request--attachment-card text-center">
        <div *ngIf="attachedFiles$|async as attachedFiles">
          <div class="view-advance-request--no-attachment" *ngIf="attachedFiles.length === 0">
            <p class="view-advance-request--add-receipt-text">No Receipts</p>
          </div>
          <div
            class="view-advance-request--attachments"
            *ngIf="attachedFiles.length > 0"
            (click)="viewAttachments(attachedFiles)"
          >
            <img
              *ngIf="attachedFiles[0]?.file_type === 'image'"
              class="view-advance-request--receipt-thumbnails"
              [src]="attachedFiles[0]?.url"
            />
            <div class="view-advance-request--pdf-thumbnails" *ngIf="attachedFiles[0]?.file_type === 'pdf'">
              <img src="assets/images/fy-pdf.svg" alt="" />
            </div>
            <div *ngIf="attachedFiles.length > 1" class="view-advance-request--receipt-count">
              <span class="view-advance-request--additional-icon">
                <mat-icon>add</mat-icon>
              </span>
              <span class="view-advance-request--count">{{attachedFiles.length-1}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="view-advance-request--currency-card">
        <div class="view-advance-request--currency">{{advanceRequest.areq_currency}}</div>
        <input class="view-advance-request--amount" value="{{advanceRequest.areq_amount}}" disabled />
      </div>
    </div>

    <div class="view-advance-request--card">
      <div class="view-advance-request--element">
        <div class="view-advance-request--element-label">Created On</div>
        <div class="view-advance-request--element-value">{{advanceRequest.areq_created_at | date: 'MMM dd, yyyy'}}</div>
      </div>

      <div *ngIf="advanceRequest.areq_approved_at" class="view-advance-request--element">
        <div class="view-advance-request--element-label">Approved On</div>
        <div class="view-advance-request--element-value">
          {{advanceRequest.areq_approved_at | date: 'MMM dd, yyyy'}}
        </div>
      </div>

      <div class="view-advance-request--element">
        <div class="view-advance-request--element-label">Request ID</div>
        <div class="view-advance-request--element-value">{{advanceRequest.areq_advance_request_number|| '-'}}</div>
      </div>

      <div class="view-advance-request--element">
        <div class="view-advance-request--element-label">Purpose</div>
        <div class="view-advance-request--element-value">{{advanceRequest.areq_purpose|| '-'}}</div>
      </div>

      <div *ngIf="advanceRequest.project_name" class="view-advance-request--element">
        <div class="view-advance-request--element-label">Project</div>
        <div class="view-advance-request--element-value">{{advanceRequest.project_name | ellipsis: 15}}</div>
      </div>

      <div class="view-advance-request--element">
        <div class="view-advance-request--element-label">Additional Notes</div>
        <div class="view-advance-request--element-value">{{advanceRequest.areq_notes || '-'}}</div>
      </div>

      <div class="view-advance-request--element">
        <div class="view-advance-request--element-label">Approvers</div>
        <div class="view-advance-request--element-value">
          <div *ngFor="let activeApproval of activeApprovals$ | async as list">
            <div>{{activeApproval.approver_name}}</div>
            <div class="text-capitalize view-advance-request--advance-state">
              {{activeApproval.state | advanceState}}
            </div>
          </div>
        </div>
      </div>

      <!-- Custom Fields block -->
      <div *ngIf="(advanceRequestCustomFields$|async)?.length > 0">
        <div
          class="view-advance-request--element"
          *ngFor="let advanceRequestCustomField of advanceRequestCustomFields$ | async; index as i"
        >
          <div class="view-advance-request--element-label">{{advanceRequestCustomField.name}}</div>
          <div class="view-advance-request--element-value">
            <span *ngIf="advanceRequestCustomField.type === 'DATE' && advanceRequestCustomField.value"
              >{{advanceRequestCustomField.value | date: 'MMM dd, yyyy'}}</span
            >
            <span *ngIf="advanceRequestCustomField.type === 'DATE' && !advanceRequestCustomField.value">-</span>
            <span *ngIf="advanceRequestCustomField.type === 'BOOLEAN'"
              >{{advanceRequestCustomField.value ? 'Yes' : 'No'}}</span
            >
            <span *ngIf="advanceRequestCustomField.type !== 'BOOLEAN' && advanceRequestCustomField.type !== 'DATE'">
              {{advanceRequestCustomField.value || '-'}}
            </span>
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="actions$|async as actions">
      <div class="view-advance-request--card" *ngIf="actions?.can_edit">
        <div class="view-advance-request--common-action-block" (click)="edit()">
          <mat-icon>edit</mat-icon>
          <p class="view-advance-request--common-action-block__comment">Edit Advance</p>
        </div>
      </div>
    </ng-container>

    <div class="view-advance-request--view-advance" *ngIf="advanceRequest.areq_advance_id">
      <a [routerLink]="['/', 'enterprise', 'my_view_advance', {id: advanceRequest.areq_advance_id}]">View Advance</a>
    </div>
  </div>
</ion-content>
<ng-container *ngIf="actions$|async as actions">
  <ion-footer *ngIf="actions?.can_pull_back">
    <ion-toolbar class="fy-footer-cta-container" mode="md">
      <ion-button class="fy-footer-cta fy-footer-cta--primary" (click)="pullBack()"> Pull Back </ion-button>
    </ion-toolbar>
  </ion-footer>
</ng-container>
