.view-advance-request {
  &--card {
    padding: 0 16px;
    margin: 16px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
  }

  &--toolbar {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  &--header-btn-container {
    margin-right: 10px;
    &__btn {
      --padding-start: 8px !important;
      --padding-end: 8px !important;
      width: auto !important;
    }
  }

  &--title-sm {
    padding-left: 0;
    font-size: 17px;
  }

  &--header-btn-container__sm {
    margin: 0 !important;
  }

  &--attachment-currency-container {
    margin: 12px 16px;
    display: flex;
  }

  &--attachment-card {
    width: 72px;
    height: 88px;
    border-radius: 6px;
    background: #d8d8d8;
    color: #ababab;
    font-size: 14px;
    font-weight: 500;
    float: left;
    position: relative;
    margin-right: 16px;
  }

  &--no-attachment {
    width: 100%;
    height: 100%;
  }

  &--attachments {
    width: 100%;
    height: 100%;
  }

  &--receipt-thumbnails {
    width: 72px;
    height: 88px;
    border-radius: 6px;
    border: 1px solid #d8d8d8;
  }

  &--advance-state {
    color: #666;
    font-size: 14px;
  }

  &--pdf-thumbnails {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 6px;
    border: 1px solid #d8d8d8;
  }

  &--receipt-count {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 0, 51, 0.4);
    color: #fff;
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    border-radius: 6px;
  }

  &--count {
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    line-height: 1;
    margin-left: -4px;
  }

  &--add-receipt-text {
    display: inline-block;
    vertical-align: middle;
    margin: 20px 0 0;
  }

  &--currency-card {
    width: calc(100% - 88px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1) !important;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    padding: 20px 0;
    height: 88px;
    display: flex;
  }

  &--currency {
    font-size: 16px;
    font-weight: 500;
    color: #4a4a4a;
    width: 40%;
    padding: 12px 16px;
    line-height: 1.5;
    height: auto;
    text-align: center;
    letter-spacing: 1px;
    border-right: 1px solid #e0e0e0;
  }

  &--amount {
    width: 100%;
    padding: 8px 16px;
    line-height: 1;
    height: auto;
    font-size: 24px;
    font-weight: 500;
    border: 0;
    background: transparent;
  }

  &--element {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    padding: 16px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  &--element-label {
    min-width: 120px;
    max-width: 30%;
    margin: 0 8px 0 0;
    font-size: 16px;
    color: #ababab;
    font-weight: 500;
    line-height: 1.5;
  }

  &--element-value {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #444444;
    overflow: auto;
  }

  &--common-action-block {
    padding: 16px 0;
    display: flex;
    align-items: center;

    p {
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      margin: 0 0 0 16px;
    }

    &__comment {
      color: #0077ee;
    }

    mat-icon {
      font-size: 24px;
      color: #ababab;
      display: inline-block;
      vertical-align: middle;
    }

    &__delete {
      p {
        color: red;
      }
    }
  }

  &--view-advance {
    margin-left: 12px;
    margin-bottom: 12px;
  }
}
