$details-color: #ababab;

.fy-popup {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  &--header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
  }

  &--header-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
  }

  &--header-cancel {
    color: #0077ee;
    font-weight: 400;
  }

  &--body {
    height: 100%;
    color: #ababab;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding: 0 16px;
  }

  &--buttons {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }

  &--button {
    min-height: 45px;
    height: 48px;
    font-size: 16px;
    width: 100%;
  }

  &--primary-cta {
    // padding: 16px;
    .mat-button-base {
      width: 100%;
      font-weight: 700;
      min-height: 47px;
    }
  }

  &--secondary-cta {
    margin-right: 16px;
  }

  &--redirect {
    text-decoration: none;
  }
}
