<div class="fy-popup" [ngClass]="config.cssClass">
  <div class="fy-popup--header">
    <div class="fy-popup--header-text">
      {{ config.header }}
    </div>
    @if (config.showCancelButton) {
      <div class="fy-popup--header-cancel" (click)="cancel()">
        {{ 'fyPopup.cancel' | transloco }}
      </div>
    }
  </div>
  <div class="fy-popup--body">
    <span [innerHTML]="config.message"></span>
  </div>
  <div class="fy-popup--buttons">
    @if (config.secondaryCta) {
      <button
        class="fy-popup--button fy-popup--secondary-cta"
        mat-flat-button
        color="accent"
        (click)="secondaryCtaClicked()"
      >
        {{ config.secondaryCta.text }}
      </button>
    }
    @if (config.primaryCta) {
      <button class="fy-popup--button" mat-flat-button color="primary" (click)="primaryCtaClicked()">
        {{ config.primaryCta.text }}
      </button>
    }
  </div>
</div>
