<div class="fy-popup" [ngClass]="config.cssClass">
  <div class="fy-popup--header">
    <div class="fy-popup--header-text">
      {{ config.header }}
    </div>
    <div class="fy-popup--header-cancel" *ngIf="config.showCancelButton" (click)="cancel()">
      {{ 'fyPopup.cancel' | transloco }}
    </div>
  </div>
  <div class="fy-popup--body">
    <span [innerHTML]="config.message"></span>
  </div>
  <div class="fy-popup--buttons">
    <button
      class="fy-popup--button fy-popup--secondary-cta"
      *ngIf="config.secondaryCta"
      mat-flat-button
      color="accent"
      (click)="secondaryCtaClicked()"
    >
      {{ config.secondaryCta.text }}
    </button>
    <button
      class="fy-popup--button"
      *ngIf="config.primaryCta"
      mat-flat-button
      color="primary"
      (click)="primaryCtaClicked()"
    >
      {{ config.primaryCta.text }}
    </button>
  </div>
</div>
