<ion-header class="ion-no-border">
  <div class="view-trip--header">
    <ion-toolbar>
      <ion-title class="view-trip--title text-capitalize">View Trip Request</ion-title>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/enterprise/team_trips']" routerLinkActive="router-link-active" >
          <ion-icon class="view-trip--close" name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <p style="margin: 8px;">Trip Information</p>
  <div class="view-trip--content">
    <div class="view-trip--field">
      <span class="view-trip--field-name">ID</span>
      <span class="view-trip--field-value">hi</span>
    </div>
    <div class="view-trip--field">
      <span class="view-trip--field-name">State</span>
      <span class="view-trip--field-value">hi</span>
    </div>
    <div class="view-trip--field">
      <span class="view-trip--field-name">Submitted By</span>
      <span class="view-trip--field-value">hi</span>
    </div>
    <div class="view-trip--field">
      <span class="view-trip--field-name">Travellers</span>
      <span class="view-trip--field-value">hi</span>
    </div>
    <div class="view-trip--field">
      <span class="view-trip--field-name">Start Date</span>
      <span class="view-trip--field-value">hi</span>
    </div>
    <div class="view-trip--field">
      <span class="view-trip--field-name">End Date</span>
      <span class="view-trip--field-value">hi</span>
    </div>
    <div class="view-trip--field">
      <span class="view-trip--field-name">Approvals</span>
      <span class="view-trip--field-value">hi</span>
    </div>
    <div class="view-trip--field">
      <span class="view-trip--field-name">Trip Type</span>
      <span class="view-trip--field-value">hi</span>
    </div>
    <div class="view-trip--field">
      <span class="view-trip--field-name">Locations</span>
      <span class="view-trip--field-value">hi</span>
    </div>
    <div class="view-trip--field">
      <span class="view-trip--field-name">Purpose</span>
      <span class="view-trip--field-value">hi</span>
    </div>
    <div class="view-trip--field">
      <span class="view-trip--field-name">Project</span>
      <span class="view-trip--field-value">hi</span>
    </div>
    <div class="view-trip--field">
      <span class="view-trip--field-name">Notes</span>
      <span class="view-trip--field-value">hi</span>
    </div>
    

  </div>
</ion-content>
