<div class="add-more--content">
  <div class="add-more--heading text-uppercase">Add more using</div>

  <div class="add-more--body">
    <ng-container *ngFor="let actionButton of actionButtons; index as i">
      <div *ngIf="i > 0" class="add-more--divider"></div>
      <div class="add-more--container" (click)="ctaClickedEvent(actionButton.mode)">
        <mat-icon
          class="add-more--icon"
          [ngClass]="'add-more--icon__' + actionButton.mode"
          svgIcon="{{ actionButton.icon }}"
        ></mat-icon>
        <div class="add-more--title">
          {{ actionButton.title }}
        </div>
      </div>
    </ng-container>
  </div>
</div>
