<div class="add-more--content">
  <div class="add-more--heading text-uppercase">{{ 'addMorePopup.addMoreUsing' | transloco }}</div>

  <div class="add-more--body">
    @for (actionButton of actionButtons; track actionButton; let i = $index) {
      @if (i > 0) {
        <div class="add-more--divider"></div>
      }
      <div class="add-more--container" (click)="ctaClickedEvent(actionButton.mode)">
        <mat-icon
          class="add-more--icon"
          [ngClass]="'add-more--icon__' + actionButton.mode"
          svgIcon="{{ actionButton.icon }}"
        ></mat-icon>
        <div class="add-more--title">
          {{ actionButton.title }}
        </div>
      </div>
    }
  </div>
</div>
