<div class="add-expense-popover-internal">
  <div class="add-expense-popover-internal--element" matRipple (click)="instafyle($event)">
    <div>
      <img
        class="add-expense-popover-internal--icon"
        src="../../../../assets/svg/insta-fyle.svg"
        [alt]="'addExpensePopover.instafyleAltText' | transloco"
      />
    </div>
    <div class="add-expense-popover-internal--content">
      <div class="add-expense-popover-internal--head">{{ 'addExpensePopover.captureReceipt' | transloco }}</div>
      <div class="add-expense-popover-internal--info">{{ 'addExpensePopover.scanReceiptsInfo' | transloco }}</div>
    </div>
  </div>

  <div class="add-expense-popover-internal--element" matRipple (click)="createExpense($event)">
    <div>
      <img
        class="add-expense-popover-internal--icon"
        src="../../../../assets/svg/create-list.svg"
        [alt]="'addExpensePopover.createExpenseAltText' | transloco"
      />
    </div>
    <div class="add-expense-popover-internal--content">
      <div class="add-expense-popover-internal--head">{{ 'addExpensePopover.addExpense' | transloco }}</div>
      <div class="add-expense-popover-internal--info">{{ 'addExpensePopover.manualEntryInfo' | transloco }}</div>
    </div>
  </div>

  @if (isMileageEnabled) {
    <div class="add-expense-popover-internal--element" matRipple (click)="createMileage($event)">
      <div>
        <img
          class="add-expense-popover-internal--icon"
          src="../../../../assets/svg/create-mileage.svg"
          [alt]="'addExpensePopover.createMileageAltText' | transloco"
        />
      </div>
      <div class="add-expense-popover-internal--content">
        <div class="add-expense-popover-internal--head">{{ 'addExpensePopover.addMileage' | transloco }}</div>
        <div class="add-expense-popover-internal--info">{{ 'addExpensePopover.mileageInfo' | transloco }}</div>
      </div>
    </div>
  }

  @if (isPerDiemEnabled) {
    <div class="add-expense-popover-internal--element" matRipple (click)="createPerDiem($event)">
      <div>
        <img
          class="add-expense-popover-internal--icon"
          src="../../../../assets/svg/create-per-diem.svg"
          [alt]="'addExpensePopover.createPerDiemAltText' | transloco"
        />
      </div>
      <div class="add-expense-popover-internal--content">
        <div class="add-expense-popover-internal--head">{{ 'addExpensePopover.addPerDiem' | transloco }}</div>
        <div class="add-expense-popover-internal--info">{{ 'addExpensePopover.perDiemInfo' | transloco }}</div>
      </div>
    </div>
  }
</div>
