<div>
  <div class="my-expenses-card--date" *ngIf="showDt && !skipDate">
    <div *ngIf="expense.tx_txn_dt">
      {{expense.tx_txn_dt | date: 'EEEE'}} {{expense.tx_txn_dt | date: 'dd MMMM yyyy'}}
    </div>
    <div *ngIf="!expense.tx_txn_dt">
      {{expense.tx_created_at | date: 'EEEE'}} {{expense.tx_created_at | date: 'dd MMMM yyyy'}}
    </div>
  </div>
  <div class="my-expenses-card" [ngClass]="{'my-expenses-card--non-selectable': (selectionMode && ((isDraft && baseState !== 'draft') || isCriticalPolicyViolated))}">
    <div class="my-expenses-card--decorator" *ngIf="expense.tx_state === 'DRAFT'">
      Draft
    </div>
    <div class="my-expenses-card--decorator" *ngIf="expense.tx_user_review_needed && !isDraft">
      Needs Review
    </div>
    <div class="my-expenses-card--decorator my-expenses-card--decorator__policy-violation"
      *ngIf="expense.tx_id && isPolicyViolated && !isCriticalPolicyViolated">
      Policy Violation
    </div>
    <div class="my-expenses-card--decorator my-expenses-card--decorator__critical-policy-violation"
      *ngIf="expense.tx_id && isCriticalPolicyViolated">
      Critical Policy Violation
    </div>

    <div matRipple class="my-expenses-card--body my-expenses-card--body__closed" *ngIf="!actionOpened"
      (click)="onGoToTransaction()"
      [ngClass]="{'my-expenses-card--body__disabled': isDraft && selectionMode && baseState !== 'draft', 'my-expenses-card--body__selected': isSelected}">
      <div class="my-expenses-card--body-internal">
        <div class="my-expenses-card--icon-container" *ngIf="!selectionMode">
          <app-fy-category-icon [category]="expense.tx_org_category"></app-fy-category-icon>
        </div>
        <div class="my-expenses-card--selection-icon" *ngIf="selectionMode && !isSelected">
          <ion-checkbox mode="ios" checked="false" [disabled]="isDraft && selectionMode && baseState !== 'draft'"></ion-checkbox>
        </div>
        <div class="my-expenses-card--selection-icon my-expenses-card--selection-icon__selected"
          *ngIf="selectionMode && isSelected">
          <ion-checkbox mode="ios" checked="true"></ion-checkbox>
        </div>
        <div class="my-expenses-card--details">
          <div class="my-expenses-card--amount-details">
            <div class="my-expenses-card--currency"
              [ngClass]="{'my-expenses-card--non-reimbursable': expense.tx_skip_reimbursement}">
              {{expense.tx_currency || expense?.tx_extracted_data?.currency}}
            </div>
            <div class="my-expenses-card--amount">
              <div *ngIf="amountIsNumber || extractedAmountIsNumber" [ngClass]="{'my-expenses-card--non-reimbursable my-expenses-card--non-reimbursable-amount': expense.tx_skip_reimbursement }">
                {{(expense.tx_amount || expense?.tx_extracted_data?.amount) | number:'1.2-2'}}
              </div>
              <div *ngIf="!amountIsNumber && !extractedAmountIsNumber">
                --
              </div>
              <div *ngIf="!expense.tx_amount && expense?.tx_extracted_data?.amount && !selectionMode">
                <!-- <i class="icon ion-flash icon-flash" (click)="onToggleFlashMode()"></i> -->
                <mat-icon>
                  flash
                </mat-icon>
              </div>
            </div>
          </div>
          <div class="my-expenses-card--conversion"
            *ngIf="expense.tx_orig_currency && expense.tx_orig_amount && !selectionMode" [ngClass]="{'my-expenses-card--non-reimbursable my-expenses-card--non-reimbursable-amount': expense.tx_skip_reimbursement }">
            <strong>({{ expense.tx_orig_amount | currency: expense.tx_orig_currency }} at
            {{ (expense.tx_amount / expense.tx_orig_amount) | currency: expense.tx_currency}})</strong>
          </div>
          <div class="my-expenses-card--vendor" *ngIf="!selectionMode">
            {{vendorDetails}}
          </div>
          <div class="my-expenses-card--category">
            {{expense.tx_org_category === 'Unspecified' && expense?.tx_extracted_data?.category ? expense?.tx_extracted_data?.category : expense.tx_org_category}}
          </div>
        </div>
      </div>

      <div *ngIf="canOpenCard && !selectionMode" (click)="actionOpened = true">
        <mat-icon class="my-expenses-card--more">more_horiz</mat-icon>
      </div>
    </div>

    <div class="my-expenses-card-menu" *ngIf="actionOpened">
      <div class="my-expenses-card-menu--close">
        <div matRipple (click)="actionOpened = false" class="my-expenses-card-menu--cancel">
          <mat-icon>
            close
          </mat-icon>
        </div>
      </div>

      <div class="my-expenses-card-menu--buttons">
        <div matRipple class="my-expenses-card-menu--action my-expenses-card-menu--action__comments"
          (click)="onAddTransactionToReport()"
          [ngClass]="{'my-expenses-card-menu--action__disabled': (isDraft || isCriticalPolicyViolated)}">
          <ng-container *ngIf="addToReportPossible$|async as addToReportPossible">
            <span *ngIf="addToReportPossible">Add to Report</span>
            <span *ngIf="!addToReportPossible">Add to New Report</span>
          </ng-container>
        </div>
        <div matRipple class="my-expenses-card-menu--action my-expenses-card-menu--action__delete"
          [class]="{'my-expenses-card-menu--action__disabled': !expense.tx_user_can_delete}"
          (click)="onDeleteTransaction()">
          <span>Delete</span>
        </div>
      </div>
    </div>
  </div>
</div>
