.advance-action {
  padding: 0 16px;

  &--action {
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;

    &:last-child {
      border: none;
    }
  }

  &--action-head {
    font-size: 18px;
    color: #000;
    line-height: 1.33;
    font-weight: 500;
  }
  &--action-info {
    font-size: 16px;
    color: #ababab;
    line-height: 1.5;
  }
}
