<ion-header mode="md">
  <ion-toolbar class="advance-requests--toolbar">
    <ion-title> Advance Requests </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let advanceRequest of advanceRequests">
    <div class="advance-requests--card">
      <div (click)="advanceRequest.isOpened = !advanceRequest.isOpened" class="advance-requests--header">
        <div class="advance-requests--advance-number">Advance {{ advanceRequest.advance_request_number }}</div>
        <div class="advance-requests--advance-amount">
          <ng-container *ngIf="homeCurrency$ | async as homeCurrency">
            Amount: {{ advanceRequest.amount | currency: homeCurrency:'symbol-narrow' }}
          </ng-container>
        </div>
      </div>
      <div class="advance-requests--content" *ngIf="advanceRequest.isOpened">
        <ng-container *ngIf="homeCurrency$ | async as homeCurrency">
          <div class="advance-requests--element">
            <div class="advance-requests--element-label">Amount</div>
            <div class="advance-requests--element-value">
              <ng-container *ngIf="advanceRequest.amount">
                {{ advanceRequest.amount | currency: homeCurrency:'symbol-narrow' }}
              </ng-container>
              <ng-container *ngIf="!advanceRequest.amount">_</ng-container>
            </div>
          </div>
        </ng-container>

        <div class="advance-requests--element">
          <div class="advance-requests--element-label">Purpose</div>
          <div class="advance-requests--element-value">
            {{ advanceRequest.purpose || '-' }}
          </div>
        </div>

        <div class="advance-requests--element">
          <div class="advance-requests--element-label">Notes</div>
          <div class="advance-requests--element-value">
            {{ advanceRequest.notes || '-' }}
          </div>
        </div>

        <div class="advance-requests--element" *ngFor="let customField of advanceRequest.custom_field_values">
          <div class="advance-requests--element-label">
            {{ customField.name }}
          </div>
          <div
            class="advance-requests--element-value"
            *ngIf="customField.type === 'TEXT' || customField.type === 'SELECT' || customField.type === 'NUMBER'"
          >
            {{ customField.value || '-' }}
          </div>
          <div class="advance-requests--element-value" *ngIf="customField.type === 'BOOLEAN'">
            {{ customField.value ? 'Yes' : 'No' }}
          </div>
          <div
            class="advance-requests--element-value"
            *ngIf="customField.type === 'MULTI_SELECT' || customField.type === 'USER_LIST'"
          >
            {{ customField.value && customField.value.length > 0 ? customField.value.join(', ') : '-' }}
          </div>
          <div class="advance-requests--element-value" *ngIf="customField.type === 'LOCATION'">
            {{ customField.value.display || customField.value || '-' }}
          </div>
          <div class="advance-requests--element-value" *ngIf="customField.type === 'DATE'">
            {{ customField.value ? (customField.value | date: 'MMM dd, yyyy') : '-' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
