<ion-content>
  <div class="invited-user" *ngIf="(isConnected$|async)">
    <div class="invited-user--form-header-container">
      <div class="invited-user--form-header">Setup your account?</div>
      <div class="invited-user--form-sub-header">Set a password and give your account a name</div>
    </div>
    <div>
      <form [formGroup]="fg">
        <div
          [ngClass]="{'invited-user--form-label__invalid': (!fg.controls.fullName.valid && fg.controls.fullName.touched) }"
          class="invited-user--form-label"
        >
          Full Name
        </div>
        <mat-form-field class="mat-form-field-no-padding invited-user--form-field" appearance="outline">
          <input class="smartlook-show" formControlName="fullName" type="text" matInput placeholder="John Doe" />
        </mat-form-field>
        <div
          [ngClass]="{'invited-user--form-label__invalid': (!fg.controls.password.valid && fg.controls.password.touched) }"
          class="invited-user--form-label"
        >
          Password
        </div>
        <mat-form-field class="mat-form-field-no-padding invited-user--form-field" appearance="outline">
          <input
            formControlName="password"
            type="password"
            matInput
            [type]="hide ? 'text': 'password'"
            placeholder="minimum 12 chars"
            class="smartlook-show"
          />
          <div class="invited-user--password-visibility" matSuffix (click)="hide = !hide">
            {{hide ? 'Hide' : 'Show'}}
          </div>
        </mat-form-field>
      </form>
    </div>
    <div class="invited-user--password-rules">
      <div>
        <span>
          <ion-icon
            *ngIf="lengthValidationDisplay$|async"
            class="invited-user--validation__correct"
            name="checkmark-outline"
          ></ion-icon>
          <ion-icon
            *ngIf="!(lengthValidationDisplay$|async)"
            class="invited-user--validation__incorrect"
            name="close-outline"
          ></ion-icon>
        </span>
        <span> Is between 12 to 32 characters </span>
      </div>
      <div>
        <span>
          <ion-icon
            *ngIf="uppercaseValidationDisplay$|async"
            class="invited-user--validation__correct"
            name="checkmark-outline"
          ></ion-icon>
          <ion-icon
            *ngIf="!(uppercaseValidationDisplay$|async)"
            class="invited-user--validation__incorrect"
            name="close-outline"
          ></ion-icon>
        </span>
        <span> Contains atleast 1 uppercase character </span>
      </div>
      <div>
        <span>
          <ion-icon
            *ngIf="lowercaseValidationDisplay$|async"
            class="invited-user--validation__correct"
            name="checkmark-outline"
          ></ion-icon>
          <ion-icon
            *ngIf="!(lowercaseValidationDisplay$|async)"
            class="invited-user--validation__incorrect"
            name="close-outline"
          ></ion-icon>
        </span>
        <span> Contains atleast 1 lowercase character </span>
      </div>
      <div>
        <span>
          <ion-icon
            *ngIf="numberValidationDisplay$|async"
            class="invited-user--validation__correct"
            name="checkmark-outline"
          ></ion-icon>
          <ion-icon
            *ngIf="!(numberValidationDisplay$|async)"
            class="invited-user--validation__incorrect"
            name="close-outline"
          ></ion-icon>
        </span>
        <span> Contains atleast 1 number </span>
      </div>
      <div>
        <span>
          <ion-icon
            *ngIf="specialCharValidationDisplay$|async"
            class="invited-user--validation__correct"
            name="checkmark-outline"
          ></ion-icon>
          <ion-icon
            *ngIf="!(specialCharValidationDisplay$|async)"
            class="invited-user--validation__incorrect"
            name="close-outline"
          ></ion-icon>
        </span>
        <span> Contains atleast 1 special character </span>
      </div>
    </div>
    <div>
      <button
        [ngClass]="{'invited-user--save__disabled': !fg.valid}"
        class="invited-user--save"
        (click)="saveData()"
        mat-flat-button
        color="primary"
      >
        Continue
      </button>
    </div>
  </div>
  <div class="invited-user-offline ion-text-center" *ngIf="!(isConnected$|async)">
    <img
      class="invited-user-offline--image"
      alt="offline-zer-state"
      src="../../../assets/images/zero-states/offline.svg"
    />
    <div class="invited-user-offline--title">Looks like you are offline</div>
    <div class="invited-user-offline--sub-title">
      You need to be connected to Internet to be able to login to the app. Please check if your Internet connection is
      working.
    </div>
  </div>
</ion-content>
