<div class="invited-user" *ngIf="(isConnected$|async)">
  <div>
    <ion-icon
      class="fy-icon back-icon"
      src="../../../assets/svg/arrow-tail-left.svg"
      [routerLink]="['/','auth','sign_in']"
    ></ion-icon>
    <div>
      <div class="invited-user__form-header">Join "{{ orgName }}" on Fyle</div>
      <div>
        <form [formGroup]="fg">
          <div
            class="invited-user__text invited-user__text-block"
            [ngClass]="{'invited-user__text__invalid': fg.controls.fullName.touched && !fg.controls.fullName.valid}"
          >
            <div class="invited-user__text-label">
              Full Name
              <span class="invited-user__mandatory"> * </span>
            </div>
            <input [required]="true" class="invited-user__text-input smartlook-show" formControlName="fullName" />
          </div>
          <div
            class="invited-user__text invited-user__text-block"
            [ngClass]="{'invited-user__text__invalid': fg.controls.password.touched && !fg.controls.password.valid}"
          >
            <div class="invited-user__text-label">
              Password
              <span class="invited-user__mandatory"> * </span>
            </div>
            <div class="invited-user__password-container">
              <input
                placeholder="Enter password"
                [required]="true"
                [type]="hide ? 'text': 'password'"
                class="invited-user__text-input smartlook-show"
                formControlName="password"
                (focus)="setPasswordTooltip(true)"
                (blur)="setPasswordTooltip(false)"
              />
              <div matSuffix (click)="hide = !hide">
                <ion-icon
                  *ngIf="!hide"
                  class="fy-icon invited-user__password-icon"
                  src="../../../assets/svg/eye-slash.svg"
                ></ion-icon>
                <ion-icon
                  *ngIf="hide"
                  class="fy-icon invited-user__password-icon"
                  src="../../../assets/svg/eye.svg"
                ></ion-icon>
              </div>
            </div>
            <app-password-check-tooltip
              *ngIf="showPasswordTooltip"
              [password]="fg.controls.password.value"
            ></app-password-check-tooltip>
          </div>
          <div
            class="invited-user__text invited-user__text-block"
            [ngClass]="{'invited-user__text__invalid': fg.controls.confirmPassword.touched && !fg.controls.confirmPassword.valid}"
          >
            <div class="invited-user__text-label">
              Confirm Password
              <span class="invited-user__mandatory"> * </span>
            </div>
            <div class="invited-user__password-container">
              <input
                placeholder="Re-enter password"
                [required]="true"
                [type]="hideConfirmPassword ? 'text': 'password'"
                class="invited-user__text-input smartlook-show"
                formControlName="confirmPassword"
              />
              <div matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
                <ion-icon
                  *ngIf="!hideConfirmPassword"
                  class="fy-icon invited-user__password-icon"
                  src="../../../assets/svg/eye-slash.svg"
                ></ion-icon>
                <ion-icon
                  *ngIf="hideConfirmPassword"
                  class="fy-icon invited-user__password-icon"
                  src="../../../assets/svg/eye.svg"
                ></ion-icon>
              </div>
            </div>
            <app-password-check-tooltip
              *ngIf="false"
              [password]="fg.controls.password.value"
              (isPasswordValid)="onPasswordValid($event)"
            ></app-password-check-tooltip>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div>
    <button
      [ngClass]="{'invited-user--save__disabled': !fg.valid}"
      class="invited-user--save"
      (click)="saveData()"
      mat-flat-button
      color="primary"
    >
      Join
    </button>
  </div>
</div>
<div class="invited-user-offline ion-text-center" *ngIf="!(isConnected$|async)">
  <img
    class="invited-user-offline--image"
    alt="offline-zer-state"
    src="../../../assets/images/zero-states/offline.svg"
  />
  <div class="invited-user-offline--title">Looks like you are offline</div>
  <div class="invited-user-offline--sub-title">
    You need to be connected to Internet to be able to login to the app. Please check if your Internet connection is
    working.
  </div>
</div>
