$offline-title: #4a4a4a;
$offline-sub-title: #ababab;
$name: #aaa;
$header-text: #aaa;

.invited-user {
  padding: 36px;
  &--full-name {
    font-size: 14px;
    color: $header-text;
    line-height: 1.5;
    margin: 0 0 24px 20px;
  }

  &--form-header-container {
    margin-left: 20px;
  }

  &--form-header {
    font-size: 18px;
    margin: 0 0 10px;
    position: relative;
    &::before {
      color: #f90;
      content: '∙';
      position: absolute;
      font-size: 90px;
      left: -48px;
      top: -4px;
    }
  }

  &--form-sub-header {
    color: $header-text;
    margin: 0 0 10px;
  }

  &--form-label {
    margin-top: 14px;
    margin-left: 20px;
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    width: 100%;
    color: $header-text;
    &::after {
      content: '*';
      position: relative;
      left: -4px;
    }
    &__invalid {
      color: red;
    }
  }

  &--form-field {
    width: 100%;
  }

  &--password-visibility {
    color: $header-text;
    position: relative;
    top: -7px;
  }

  &--password-rules {
    padding: 14px 0;
  }

  &--save {
    width: 100%;
    &__disabled {
      opacity: 0.2;
    }
  }

  &--validation {
    &__correct {
      color: green;
    }

    &__incorrect {
      color: red;
    }
  }
}

.invited-user-offline {
  margin-top: 75px;
  padding: 15px;
  &--image {
    max-width: 125px;
  }
  &--title {
    font-size: 16px;
    display: block;
    margin-bottom: 16px;
    color: $offline-title;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 16px;
  }
  &--sub-title {
    color: $offline-sub-title;
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 24px;
    padding: 0 8px;
  }
}
