@import '../../../../../theme/colors.scss';

.add-approvers-popover {
  &--header {
    padding: 10px 4px;
  }

  &--toolbar {
    padding-bottom: 10px;

    &__title {
      font-size: 20px;
      line-height: 1.3;
      font-weight: 500;
      color: $black;
    }

    &__btn-save {
      font-size: 16px;
      --color: #{$brand-primary};
      text-transform: none;
    }
  }

  &--content-container {
    --keyboard-offset: 0px !important;
  }

  &--content {
    padding: 0 16px 16px;
    font-size: 12px;

    &__div {
      padding: 14px 0;
    }
  }

  &--label {
    width: 100%;
    background-color: inherit;
    font-weight: 400;

    &__content {
      margin-right: 8px;
      max-width: 90%;
      min-width: 120px;
      font-size: 12px;
      color: $black-light;
      line-height: 16px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__mandatory {
      color: $brand-primary;
      font-size: 14px;
      font-weight: 400;
    }
  }

  &--input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px solid $grey-lighter;

    &__input {
      font-size: 14px;
      line-height: 18px;
      color: $blue-black;
      border: none;
      width: 100%;
      padding: 0;
      text-overflow: ellipsis;
    }

    &__chip {
      padding: 2px 8px;
      white-space: nowrap;
      border-radius: 4px;
    }

    &__icon {
      color: $grey-light;
    }
  }

  &--message-box-container {
    padding-top: 6px;

    &__textarea {
      width: 100%;
      height: 60px;
      border: 1px solid $grey;
      color: $blue-black;
      font-size: 14px;
      border-radius: 8px;
      padding: 8px 11px;

      &::placeholder {
        color: $grey-light;
      }
    }
  }
}
