<ion-header mode="ios" class="add-approvers-popover--header">
  <ion-toolbar class="add-approvers-popover--toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="closeAddApproversPopover()">
        <mat-icon class="fy-icon-close" svgIcon="fy-close"></mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="add-approvers-popover--toolbar__title"> Add Approvers </ion-title>
    <ion-buttons slot="end">
      <ion-button
        class="add-approvers-popover--toolbar__btn-save"
        [disabled]="!(selectedApproversList.length && confirmationMessage.trim().length)"
        (click)="saveUpdatedApproversList()"
      >
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="add-approvers-popover--content-container">
  <div class="add-approvers-popover--content">
    <label class="add-approvers-popover--label">
      <div class="add-approvers-popover--label__content">
        <span> Approver(s) to be added </span>
        <span class="add-approvers-popover--label__mandatory"> * </span>
      </div>
      <div class="add-approvers-popover--input-container">
        <input
          class="add-approvers-popover--input-container__input smartlook-show"
          type="text"
          [placeholder]="'Select Approvers'"
          [ngModel]="displayValue"
          (click)="openModal()"
          readonly
        />
        <mat-chip-option
          *ngIf="selectedApproversList && selectedApproversList.length > 3"
          class="add-approvers-popover--input-container__chip"
        >
          +{{ selectedApproversList.length - 3 }} more
        </mat-chip-option>
        <mat-icon class="add-approvers-popover--input-container__icon" svgIcon="arrow-down"></mat-icon>
      </div>
    </label>

    <div class="add-approvers-popover--content__div">
      <label class="add-approvers-popover--label">
        <div class="add-approvers-popover--label__content">
          <span> Reason for adding approver(s) </span>
          <span class="add-approvers-popover--label__mandatory"> * </span>
        </div>
        <div class="add-approvers-popover--message-box-container">
          <textarea
            class="add-approvers-popover--message-box-container__textarea"
            placeholder="Type your reason here"
            [(ngModel)]="confirmationMessage"
          ></textarea>
        </div>
      </label>
    </div>

    <div>
      <app-fy-alert-info
        [message]="
          'You are adding additional approver(s) to the report. Note that the report
        will not be moved to the next stage until all approvers have approved it.'
        "
        [type]="'information'"
      >
      </app-fy-alert-info>
    </div>
  </div>
</ion-content>
