<div class="dismiss-dialog">
  <ion-content>
    <ion-grid class="dismiss-dialog--grid">
      <ion-row>
        <ion-col>
          <div class="dismiss-dialog--header">{{ 'dismissDialog.title' | transloco }}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="dismiss-dialog--body">{{ 'dismissDialog.confirmation' | transloco }}</div>
        </ion-col>
      </ion-row>
      <ion-row class="dismiss-dialog--cta-container">
        <ion-col size="6">
          <div
            [ngClass]="{ 'dismiss-dialog--cancel__disabled': dismissCallInProgress }"
            class="dismiss-dialog--cancel"
            (click)="cancel()"
          >
            {{ 'dismissDialog.cancel' | transloco }}
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="dismiss-dialog--dismiss" (click)="dismiss()" appFormButtonValidation>
            {{ 'dismissDialog.confirm' | transloco }}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>
