<ion-content>
  <ion-grid class="sign-in--header-container">
    <ion-row class="sign-in--header ion-align-items-center">
      <ion-col class="sign-in--header-logo-container">
        <img class="sign-in--header-logo" src="../../../assets/svg/logo-white.svg" alt="fyle-logo">
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-padding">
    <h1>
      Sign In
    </h1>
    <h2>
      Enter your details below
    </h2>
    <form>
      <mat-form-field appearance="outline">
        <input type="email" matInput placeholder="Work Email">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input type="password" matInput placeholder="Password">
      </mat-form-field>
    </form>
  </div>
</ion-content>