<ion-content class="sign-in--content-container">
  <ion-row class="sign-in--page ion-justify-content-center ion-align-items-center">
    <ion-col size="12" style="padding: 0; margin: 0">
      <div class="sign-in--logo-container">
        <app-new-header></app-new-header>
      </div>
      <div class="sign-in--container-jumbotron">
        <div class="sign-in--form">
          <div class="sign-in--form-header">Sign In</div>
          <p class="sign-in--hero-sub-title">Please enter your credentials to access your account</p>
          <form [formGroup]="fg" class="sign-in--form">
            <div
              *ngIf="emailSet && (signInError || errEncountered) && !isLockedEmail"
              class="info-message-box info-warning-box"
            >
              <ion-row *ngIf="emailSet && signInError" class="info-dialog-box">
                <ion-col size="1">
                  <mat-icon class="warning-icon">warning</mat-icon>
                </ion-col>
                <ion-col size="11">
                  <div class="warning-err-header">Account will be locked after 5 unsuccessful attempts</div>
                  <div>Your account will be temporarily locked</div>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="emailSet && errEncountered" class="info-dialog-box">
                <ion-col size="1">
                  <mat-icon class="warning-icon">warning</mat-icon>
                </ion-col>
                <!-- <svg-sprite icon="warning" class="fy-icon fy-info-icon fy-warning"></svg-sprite>  -->
                <ion-col size="11">Something went wrong, please try again later</ion-col>
              </ion-row>
            </div>
            <div *ngIf="emailSet && isLockedEmail" class="info-message-box info-warning-box info-error-box">
              <ion-row class="info-dialog-box">
                <ion-col size="1">
                  <mat-icon class="error-icon">error</mat-icon>
                </ion-col>
                <ion-col size="11">
                  <div class="warning-err-header font-weight-semi-bold">Try logging in after 5 minutes</div>
                  <div>This account is temporarily locked due to multiple unsuccessful login attempts.</div>
                </ion-col>
              </ion-row>
            </div>
            <mat-label class="input-label-container">
              <ion-col size="12">
                <div class="input-label">Work Email</div>
                <div class="astrick-color">*</div>
              </ion-col>
            </mat-label>
            <mat-form-field
              class="signin-signup-fields sign-in--form-field mat-form-field-no-padding"
              appearance="outline"
              *ngIf="!emailSet"
            >
              <input
                id="sign-in--email"
                name="email"
                (keyup.enter)="checkIfEmailExists()"
                formControlName="email"
                type="email"
                matInput
                placeholder="Enter your business email here"
              />
              <div class="action-wrapper" *ngIf="fg.controls.email.valid">
                <span class="action-text">
                  <img
                    class="new-password--header-logo"
                    src="../../../assets/svg/green-check.svg"
                    alt="fyle-green-check"
                  />
                </span>
              </div>
            </mat-form-field>
            <div
              class="sign-in--error"
              *ngIf="fg.controls.email.touched && !fg.controls.email.valid && !fg.controls.email.value"
            >
              Please enter an email.
            </div>
            <div
              class="sign-in--error"
              *ngIf="fg.controls.email.touched && !fg.controls.email.valid && fg.controls.email.value"
            >
              Please enter a valid email.
            </div>
            <div *ngIf="emailSet" class="sign-in--email-frozen-container">
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="8">
                    <div class="sign-in--email-frozen-text" id="sign-in--email-label">{{fg.controls.email.value}}</div>
                  </ion-col>
                  <ion-col size="4" class="sign-in--edit-email">
                    <a id="sign-in--change" (click)="emailSet = false"> Change </a>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <mat-label *ngIf="emailSet" class="p-0 m-0 input-label-container">
              <div class="input-label">Password</div>
              <div class="astrick-color">*</div>
              <div class="forgot-password">
                <a [routerLink]="['/','auth','reset_password', {email:fg.controls.email.value}]">Forgot Password ?</a>
              </div>
            </mat-label>
            <mat-form-field
              class="signin-signup-fields sign-in--form-field mat-form-field-no-padding"
              appearance="outline"
              *ngIf="emailSet"
            >
              <input
                id="sign-in--password"
                (keyup.enter)="signInUser()"
                [disabled]="passwordLoading"
                formControlName="password"
                [type]="hide ? 'password': 'text'"
                matInput
                placeholder="Password"
              />
              <mat-icon class="sign-in--password-visibility-icon" color="accent" matSuffix (click)="hide = !hide">
                {{hide ? 'visibility' : 'visibility_off'}}
              </mat-icon>
            </mat-form-field>
            <div
              class="sign-in--error"
              *ngIf="fg.controls.password.touched && !fg.controls.password.valid && !fg.controls.password.value && emailSet"
            >
              Please enter your password
            </div>
          </form>
        </div>
        <div class="sign-in--primary-cta">
          <button
            id="sign-in--continue"
            *ngIf="!emailSet"
            mat-flat-button
            color="primary"
            (click)="checkIfEmailExists()"
            appFormButtonValidation
            [loading]="emailLoading"
            [loadingText]="'CONTINUING'"
          >
            Next
          </button>
        </div>

        <div class="sign-in--primary-cta">
          <button
            id="sign-in--btn-sign-in"
            *ngIf="emailSet"
            mat-flat-button
            color="primary"
            (click)="signInUser()"
            appFormButtonValidation
            [loading]="passwordLoading"
            [loadingText]="'SIGNING IN'"
          >
            SIGN IN
          </button>
        </div>
        <div class="signin-divider text-center">
          <span class="signin-divider-text text-center text-capitalize"> Or </span>
        </div>
        <div class="sign-in--secondary-cta">
          <button
            layout="row"
            layout-align="center center"
            class="btn btn-login-google p-0"
            ng-click="vm.continueWithGoogle()"
          >
            <div class="icon-container">
              <img
                src=".../../../assets/images/google_logo_36x36.png"
                aria-label="Sign in with Google"
                alt="Google"
                class="icon-google"
              />
            </div>
            <div class="text-label text-capitalize m-0 font-weight-semi-bold">Sign in with Google</div>
          </button>
        </div>
      </div>
    </ion-col>
    <ion-footer class="footer">
      <div>Never lose track</div>
    </ion-footer>
  </ion-row>
</ion-content>
