@import '../../../theme/colors.scss';

$sign-in-header: #220033;
$form-header: #000;
$form-subheader: #4a4a4a;
$password-icon: #b9beba;
$secondary-cta-border: #e0e0e0;
$label-font-color: #5a5d72;
$input-label-color: #414562;
$asterisk-red: #ff3366;
$hide-fill: #a9acbc;
$signin-divider: #0000001a;
$btn-google-border: #8c8fa6;
$gradient-background: linear-gradient(277.33deg, #e1eeff 26.8%, #ffe4fb 97.18%);
$error: #f00;
$container-shadow: #00000026;

.sign-in {
  &--header-container {
    padding-bottom: 32px;
  }

  &--page {
    background: $gradient-background;
    width: 100%;
    min-height: 100vh;
    padding: 16px;

    @media screen and (min-width: var(--ion-small-device-width)) {
      padding: 10px;
    }
  }

  &--error {
    color: $error;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  &--container-jumbotron {
    min-width: 280px;
    min-height: 325px;

    margin-bottom: 16px;
    border-radius: 6px;
    padding: 28px;

    background-color: var(--ion-color-fyle-primary-contrast);
    box-shadow: 0 5px 10px 0 $container-shadow;
  }

  &--form-header {
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 10px;
    color: $form-header;
    font-weight: 700;
  }

  &--hero-sub-title {
    color: $label-font-color;
    font-size: 12px;
    margin: 10px 0 6px 0;
  }

  &--form-field {
    width: 100%;
  }

  &--primary-cta {
    margin-top: 25px;
    .mat-button-base {
      width: 100%;
      font-weight: 700;
      min-height: 47px;
      background: $pink-gradient;
    }
  }

  &--secondary-cta {
    .mat-button-base {
      width: 100%;
      font-weight: 700;
      min-height: 47px;
      letter-spacing: 1.6px;
      border: 1px solid $secondary-cta-border;
    }
    margin-top: 24px;
  }

  .valid-check-container {
    width: 20px;
    height: 20px;
  }

  .input-label {
    color: $input-label-color;
    padding-top: 8px;
    &::after {
      content: '*';
      position: relative;
      left: 2px;
      top: 2px;
      font-size: 24px;
      color: $asterisk-red;
    }
  }

  .signin-divider {
    height: 12px;
    border-bottom: 1px solid $signin-divider;
    margin: 10px 0 20px 0;
  }

  .signin-divider-text {
    font-size: 16px;
    color: $hide-fill;
    background-color: var(--ion-color-fyle-primary-contrast);
    padding: 0 10px;
  }

  .btn-login-google {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $btn-google-border;
    background-color: var(--ion-color-fyle-primary-contrast);
    width: 100%;
    font-weight: 700;
    height: 47px;
    letter-spacing: 1.6px;
    border-radius: 4px;

    .text-label {
      padding: 16px 0 16px 8px;
      color: $input-label-color;
    }

    .icon-container {
      border-radius: 4px 0 0 4px;
    }

    .icon-google {
      width: 24px;
      height: 24px;
    }
  }

  .footer {
    position: absolute;
    color: $label-font-color;
    font-size: 16px;
    bottom: 50px;

    @media screen and (max-height: var(--ion-small-device-width)) {
      position: unset;
    }
  }
}
