@import '../../../theme/colors.scss';
$sign-in-header: #220033;
$form-header: #000;
$form-subheader: #4a4a4a;
$password-icon: #b9beba;

.sign-in {
  &--page-container {
    --background: none;
    background-image: $pink-gradient-3;
  }

  &--header {
    min-height: 180px;
  }

  &--error {
    color: #f00;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  &--header-container {
    min-height: 180px;
    background-image: $pink-gradient-3;
  }

  &--header-logo-container {
    text-align: center;
  }

  &--header-logo {
    max-width: 100px;
  }

  &--form {
    padding: 40px 24px;
    margin: 16px;
    background-color: $white;
    border-radius: 8px;
  }

  &--form-field {
    width: 100%;
  }

  &--form-header {
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 8px;
    color: $form-header;
    font-weight: 700;
  }

  &--form-subheader {
    font-size: 16px;
    color: $form-subheader;
    margin-top: 8px;
    margin-bottom: 24px;
  }

  &--primary-cta {
    margin-top: 12px;
    .mat-mdc-button-base {
      width: 100%;
      font-weight: 700;
      min-height: 47px;
    }
  }

  &--password-visibility-icon {
    color: $password-icon;
  }

  &--secondary-cta {
    .mat-mdc-button-base {
      width: 100%;
      font-weight: 700;
      min-height: 47px;
      letter-spacing: 1.6px;
      border: 1px solid $grey-light;
      background-color: $white;
    }
    margin-top: 24px;
    &-btn {
      display: inline-block;
      &-logo {
        width: 10%;
        min-width: 28px;
        max-width: 34px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  &--redirect {
    margin: 16px;
    text-align: center;
    font-size: 16px;
    color: #ababab;
    a {
      text-decoration: none;
    }
  }

  &--edit-email {
    text-align: end;
  }

  &--email-frozen-text {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 16px;
  }
}
