@use '../../../theme/colors.scss';

.sign-in {
  &__video-container {
    position: relative;
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: colors.$background;
    border-radius: 20px;
    &__video {
      width: auto;
      height: 100%;
    }
  }

  &__page-header {
    font-size: 20px;
    margin: 0 0 10px;
    position: relative;
    margin-bottom: 6px;
    font-weight: 500;
  }

  &__back-icon {
    margin-bottom: 16px;
    width: 28px;
    height: 28px;
  }

  &__sub-header {
    font-size: 14px;
    margin: 0 0 10px;
    position: relative;
    margin-bottom: 32px;
    color: colors.$black-light;
    line-height: 1.28;
  }

  &__select-sign-in {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px 20px 0 20px;
  }

  &__cta-container {
    margin-top: 24px;
    position: relative;
    height: 144px;
    margin-bottom: 24px;
  }

  &__divider-container {
    display: flex;
    gap: 16px;
    margin: 12px 0;
    height: 20px;
    align-items: center;
    color: colors.$black;
  }

  &__divider {
    height: 1px;
    background-color: colors.$border-tertiary;
    width: 100%;
  }

  &__enter-email {
    height: 96vh;
    margin-top: 18px;
    padding: 20px;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__input-container {
      &__label {
        margin: 0 8px 0 0;
        font-size: 12px;
        color: colors.$black-light;
        line-height: 1.3;
        font-weight: 400;
      }

      &__input {
        border: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3;
        color: colors.$blue-black;
        width: 100%;
        padding: 6px 0;
        border-bottom: 1px solid colors.$grey-lighter;
        -webkit-border-radius: 0px;
        -webkit-appearance: none;
        border-radius: 0;
      }

      &__input:focus {
        border-bottom: 1px solid colors.$blue-black;
      }
    }

    &__error-message {
      color: colors.$negative-500;
    }

    &__disabled {
      opacity: 0.2;
    }
  }

  &__enter-password {
    height: 96vh;
    margin-top: 18px;
    padding: 20px;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__forgot-password {
      line-height: 1.5;
      float: right;
      margin-top: 1px;
    }

    &__forgot-password_button {
      font-weight: 500;
      background: colors.$pure-white;
      color: colors.$black-light;
      font-size: 12px;
    }

    &__disabled-email {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.3;
      color: colors.$blue-black;
      padding-top: 4px;
      margin-bottom: 24px;
      display: flex;
      align-items: center;
    }

    &__email-edit {
      fill: colors.$black-light;
      height: 20px;
      width: 20px;
      margin-left: 8px;
    }

    &__password-icon {
      width: 20px;
      height: 20px;
      fill: colors.$black-light;
    }

    &__password-icon-container {
      display: flex;
      align-items: center;
    }

    &__text-input {
      border: 0;
      font-size: 14px;
      font-weight: 400;
      height: 18px;
      line-height: 18px;
      color: colors.$blue-black;
      width: 100%;
      margin: 6px 0;
      padding: 0;
    }

    &__text {
      border-bottom: 1px solid colors.$grey-lighter;

      &__invalid {
        border-bottom: 1px solid colors.$negative-500;
      }

      &__password-focus {
        border-bottom: 1px solid colors.$black;
      }
    }

    &__password-container {
      display: flex;
    }

    &__text-label {
      margin: 0 8px 0 0;
      max-width: 90%;
      min-width: 120px;
      font-size: 12px;
      color: colors.$black-light;
      line-height: 16px;
      white-space: nowrap;
      font-weight: 400;
    }

    &__input-container {
      &__label {
        margin: 0 8px 0 0;
        font-size: 12px;
        color: colors.$black-light;
        line-height: 1.3;
        font-weight: 400;
      }

      &__input {
        border: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3;
        color: colors.$blue-black;
        width: 100%;
        padding: 6px 0;
        border-bottom: 1px solid colors.$grey-lighter;
      }

      &__input:focus {
        border-bottom: 1px solid colors.$blue-black;
      }
    }

    &__error-message {
      color: colors.$negative-500;
    }

    &__disabled {
      opacity: 0.2;
    }

    &__sub-header {
      font-size: 14px;
      margin: 0 0 10px;
      position: relative;
      margin-bottom: 32px;
      color: colors.$black-light;
      line-height: 1.28;
    }
  }

  &__secondary-cta {
    background-color: colors.$pure-white;
    &__btn {
      display: flex;
      height: 50px;
      padding: 12px 16px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      border-radius: 32px;
      border: 1px solid colors.$grey;
      background: colors.$pure-white;
      color: colors.$black;
      color: var(--buttons-secondary-outline-btn-outline-secondary-text-color, #2c304e);
      text-align: center;

      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      width: 100%;
      &__logo {
        height: 24px;
        width: 24px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
      }
    }
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
