<div *ngIf="transactionDetails" class="card-transaction">
  <div class="card-transaction--header">Card Transaction</div>
  <div class="card-transaction--matching-card">
    <mat-icon svgIcon="card" class="card-transaction--icon-corporate-card"></mat-icon>
    <div class="card-transaction--matching-content card-transaction--ccc-expense">
      <span class="text-capitalize"
        >{{ transactionDetails.vendor || transactionDetails.description | ellipsis : 20 }},
      </span>
      <span>{{ transactionDetails.txn_dt | date : 'MMM dd, YYYY' }} - </span>
      <span>{{ transactionDetails.amount | currency : transactionDetails.currency : 'symbol-narrow' }}</span>
    </div>
  </div>
</div>
