@import '../../../../../theme/colors.scss';

.task {
  background-color: $pure-white;
  &--icon {
    font-size: 24px;
    &__warning {
      font-size: 28px;
      position: relative;
      color: $grey-light;
      top: -2px;
      left: -5px;
    }

    &__expense {
      stroke: $grey-light;
      font-size: 32px;
      position: relative;
      top: -6px;
      left: -8px;
    }

    &__advance {
      color: $grey-light;
      position: relative;
      top: -6px;
      left: -8px;
      height: 32px;
      width: 32px;
    }

    &__mobile {
      color: $grey-light;
      position: relative;
      bottom: 4px;
      right: 6px;
      height: 28px;
      width: 28px;
    }
  }

  &--row {
    padding: 14px 0;
  }

  &--cta-row {
    padding-top: 17px;

    &-icon {
      fill: $black;
    }
  }

  &--amount-currency {
    font-size: 14px;
    line-height: 20px;
    color: $black-light;
  }

  &--icon-col {
    padding-left: 0;
  }

  &--header-col {
    padding-top: 0;
  }

  &--card {
    border-bottom: 1px solid $grey-lighter;
    margin: 0 16px;
  }

  &--count {
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    color: $dark-blue;
  }

  &--amount {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: $dark-blue;
  }

  &--header {
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    color: $dark-blue;
    padding-top: 4px;
  }

  &--subheader {
    font-size: 16px;
    line-height: 20px;
    color: $blue-black;
  }

  &--cta {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: $brand-primary;
    white-space: nowrap;
  }
}
