@import '../../../../../theme/colors.scss';

.task {
  background-color: $pure-white;
  &--icon {
    font-size: 20px;
    padding-top: 4px;
    color: $blue-black;
  }

  &--row {
    padding: 14px 0;
  }

  &--cta-row {
    padding-top: 11px;
    max-width: fit-content;
    display: flex;

    &-icon {
      color: $black;
      font-size: 14px;
      padding: 0;
    }

    &-icon-container {
      padding: 3px 0 0 2px;
    }
  }

  &--amount-currency {
    font-size: 14px;
    line-height: 20px;
    color: $black-light;
  }

  &--icon-col {
    padding-left: 0;
  }

  &--header-col {
    padding: 0;
  }

  &--card {
    border-bottom: 1px solid $grey-lighter;
    margin: 0 16px;
  }

  &--count {
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    color: $dark-blue;
  }

  &--amount {
    font-size: 14px;
    line-height: 28px;
    padding: 0;
    color: $dark-blue;
    display: flex;
    align-items: center;
    gap: 2px;
  }

  &--header {
    font-size: 14px;
    line-height: 23px;
    font-weight: 500;
    color: $blue-black;
    padding: 6px 0 0 0;
  }

  &--subheader {
    font-size: 14px;
    line-height: 20px;
    color: $blue-black;
    padding: 0;
  }

  &--cta {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: $blue-black;
    white-space: nowrap;
    padding: 0;
  }
}
