<div class="task" matRipple>
  <div class="task--card">
    <ion-grid>
      <ion-row class="task--row" (click)="taskCtaClicked(task)" [ngClass]="{ 'pb-0': showReportAutoSubmissionInfo }">
        <ion-col size="1" class="task--icon-col">
          <ion-row>
            <ion-col class="task--icon-col">
              <ion-icon
                class="task--icon"
                [ngClass]="{
                  'task--icon__warning': task.icon === 'warning-outline',
                  'task--icon__expense': task.icon === 'fy-expense',
                  'task--icon__advance': task.icon === 'wallet',
                  'task--icon__mobile': task.icon === 'phone'
                }"
                [src]="'../../../../../assets/svg/' + task.icon + '.svg'"
              ></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="11">
          <ion-row class="ion-justify-content-between">
            <ion-col [size]="task.hideAmount ? 12 : 8" class="task--header-col">
              <div class="task--header">
                {{ task.header }}
              </div>
            </ion-col>
            <ion-col *ngIf="!task.hideAmount" size="4" class="ion-text-end task--amount task--header-col">
              <span class="task--amount-currency">
                {{ currencySymbol$ | async }}
              </span>
              {{ task.amount }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="task--subheader">
              {{ task.subheader }}
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between task--cta-row">
            <ion-col size="11" *ngFor="let cta of task.ctas" class="task--cta">
              {{ cta.content }}
            </ion-col>
            <ion-col size="1">
              <div>
                <ion-icon class="task--cta-row-icon" src="../../../../../assets/svg/right-arrow.svg"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ng-container *ngIf="showReportAutoSubmissionInfo">
        <ion-row>
          <ion-col class="ion-col-no-padding">
            <app-auto-submission-info-card
              [autoSubmissionReportDate]="autoSubmissionReportDate"
              (cardClicked)="onInfoCardClicked()"
            >
            </app-auto-submission-info-card>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>
  </div>
</div>
