@import '../../../../../theme/colors.scss';

.sidemenu-header {
  &__toolbar {
    --background: #{$black};
  }

  &__grid {
    margin-top: 36px;
    padding: 0 8px 36px 24px;
    line-height: 1.3;
    border-bottom: 1px solid $border-translucent-grey;
  }

  &__icon-container {
    flex: 0 0 55px;
    height: 55px;
    background: url('../../../../../assets/images/fy-profile-gradient.svg') no-repeat bottom;

    &__text {
      font-weight: 500;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }

  &__content-container {
    padding-left: 8px;
    width: calc(100% - 56px);

    &__title {
      font-size: 18px;
      font-weight: 500;
      padding: 4px 0;
    }

    &__sub-title {
      color: $grey-light;
      padding-left: 2px;
    }

    &__icon {
      height: 16px;
      min-width: 18px;
    }
  }
}
