@use '../../../../../theme/colors.scss';

.info-card {
  padding: 16px 0;

  &__container {
    background: colors.$grey-9;
    border: 1px solid colors.$alice-blue;
    border-radius: 16px;
    color: colors.$text-black;
    padding: 12px 16px;
  }

  &__date {
    border-bottom: 1px solid colors.$grey;
    color: colors.$text-black;
    font-size: 18px;
    font-weight: 500;
    padding: 4px 0 12px;
  }

  &__sub-header {
    padding-top: 8px;
  }

  &__detailed {
    display: flex;
    align-items: flex-start;
  }

  &__icon {
    color: colors.$info-500;
    height: 20px;
    margin-right: 8px;
    min-width: 20px;
    width: 20px;
  }

  &__content {
    flex: 1;
  }

  &__title {
    color: colors.$text-black;
    font-weight: 500;
    margin-bottom: 4px;
  }

  &__list {
    margin: 0;
    padding-left: 16px;

    li {
      line-height: 18px;
      margin-bottom: 4px;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}
