@use '../../../../../theme/colors.scss';

.info-card {
  padding: 16px 0;

  &__container {
    background: var(--background-secondary);
    border: 1px solid var(--border-color);
    border-radius: 16px;
    color: var(--secondary-text);
    padding: 12px 16px;
  }

  &__date {
    border-bottom: 1px solid var(--border-color);
    color: var(--primary-text);
    font-size: 18px;
    font-weight: 500;
    padding: 4px 0 12px;
  }

  &__sub-header {
    padding-top: 8px;
  }
}
