@import '../../../../theme/colors.scss';

$message: #2c304e;
$container-border: #dfdfe2;

.alert-info-container {
  border: 1px solid $container-border;
  border-radius: 8px;
  padding: 12px 8px;
  display: flex;

  &--icon {
    height: 20px;
    width: 20px;
    margin-right: 8px;
    min-width: 20px;
    color: $highlight-blue;
  }

  &--message {
    color: $message;
    font-weight: 400;
    width: 100%;
  }

  &--button {
    font-size: 12px;
    line-height: 15px;
    color: $brand-primary;
    --padding-top: 0;
    height: 12px;
  }
}
