<ion-header mode="md">
  <ion-toolbar mode="md">
    <mat-form-field class="select-currency-modal--form-field mat-form-field-no-padding" appearance="outline">
      <span class="material-icons select-currency-modal--search-icon" matPrefix>
        search
      </span>
      <input #searchBar id="select-currency-modal--search-input" class="select-currency-modal--search-input" matInput placeholder="Search">
    </mat-form-field>
    <ion-buttons slot="end">
      <ion-button (click)="onDoneClick()">
        Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="select-currency-modal--header">
    All Currencies
  </div>
  <div matRipple class="select-currency-modal--currency-element" [attr.id]="'currency'+currency.shortCode"
    *ngFor="let currency of filteredCurrencies$ | async as list" (click)="onCurrencySelect(currency)">
    {{currency.shortCode}} - {{currency.longName}}
  </div>
</ion-content>
