@import '../../../../theme/colors';

.expenses-card {
  &--date {
    color: $black-light;
    font-size: 14px;
    padding: 24px 0 16px 12px;
    background-color: $white;
    font-weight: 500;

    &__from-reports {
      background-color: $white;
    }
  }

  &--body {
    background-color: $pure-white;
    min-height: 106px;
    padding: 12px;
    margin-bottom: 6px;
    position: relative;
  }

  &--deatils-block {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--missing-info-text {
    color: $dark-grey;
    font-size: 12px;
    font-weight: 400;

    &__item {
      gap: 4px;
    }
  }

  &--vertical-dotted-border {
    border-left: 2px dashed $border-tertiary;
    height: 90%;
    margin: 0 8px;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 68px;
    transform: translate(-50%, -50%);

    &__shift {
      left: 96px;
    }
  }

  &--checkbox-container {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 8px;
  }

  &--checkbox {
    width: 20px;
    height: 20px;
  }

  &--edit-icon {
    stroke: $brand-primary;
    font-size: 16px;
  }

  &--scanning-icon {
    font-size: 24px;
    color: $green;
  }

  &--scaning-receipt {
    &__container {
      padding: 3px 11px 0 11px;
      overflow: hidden;
      width: 100%;
      &-error {
        display: flex;
        align-items: center;
        padding-top: 0;
      }
    }

    &__header {
      color: $black;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.3;
      white-space: nowrap;
      margin-left: 6px;
      &-scanning {
        color: $green;
      }

      &-failed {
        color: $red;
      }

      &-scanning {
        display: flex;
        align-items: center;
      }
    }

    &__content {
      color: $blue-black;
      font-size: 14px;
      line-height: 1.3;
      margin-top: 5px;
      //Ref: https://stackoverflow.com/a/32585024/8527342
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      margin-left: 6px;
    }
  }

  &--receipt-container {
    background-color: $light-grey;
    border-radius: 8px;
    padding: 20px;
    height: 72px;
    width: 56px;
    justify-content: center;
    align-items: center;
  }

  &--receipt-image-container {
    background-color: $light-grey;
    border-radius: 8px;
    height: 72px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--receipt-image {
    height: auto;
    max-width: 56px;
  }

  &--with-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 56px;
  }

  &--receipt-icon {
    height: 20px;
    width: 20px;
    color: $black-light;

    &__pdf {
      stroke: none;
      color: $black-light;
    }

    &__image {
      stroke: none;
    }
  }

  &--receipt-thumbnail {
    height: 72px;
    margin-left: auto;
    margin-right: auto;
  }

  &--category-vendor-project-container {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    margin-left: 16px;

    &__align-vertical-center {
      display: flex;
      flex-direction: column;
    }

    &__error {
      color: $red;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.3;
    }
  }

  &--category-icon-container {
    width: 100%;
  }

  &--category {
    color: $black;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 4px;
  }

  &--icons {
    display: flex;
    align-items: center;
    padding-right: 4px;
    gap: 4px;

    &__policy-violated-icon {
      width: 16px;
      height: 16px;
      color: $red;
      font-size: 16px;
    }

    &__split-icon {
      width: 16px;
      height: 16px;
      color: $brand-primary-light;
    }

    &__duplicate-icon {
      width: 16px;
      height: 16px;
      color: $dark-yellow;
    }
  }

  &--edit-text {
    color: $blue-black;
    font-size: 14px;
    line-height: 1.3;
    white-space: nowrap;
    margin-top: 4px;
  }

  &--vendor {
    color: $dark-grey;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;

    &__not-filled {
      color: $black-light;
    }
  }

  &--project {
    color: $blue-black;
    font-size: 14px;
    margin-top: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    line-height: 1.2;

    &__not-filled {
      color: $black-light;
    }
  }

  &--default-view-container {
    display: flex;
    flex-direction: column;
  }

  &--currency-amount-exchange-rate-container {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 10px;
    flex-wrap: wrap;
  }

  &--currency-amount-container {
    display: flex;
  }

  &--currency {
    color: $black;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    margin-right: 1px;
  }

  &--amount {
    color: $black;
    font-size: 16px;
    line-height: 1.3;
    margin-right: 2px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
  }

  &--icon {
    vertical-align: text-bottom;
    height: 20px;
    width: 20px;
    font-size: 20px;
    color: $black;
  }

  &--exchange-rate {
    color: $black-light;
    font-size: 14px;
    line-height: 1.25;
    margin-top: 2px;
  }

  &--critical-policy-violations {
    color: $red;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.3;
    background-color: $red-1;
    padding: 2px 3px;
    border-radius: 3px;
    margin-top: 6px;
    white-space: nowrap;
  }

  &--state-container {
    align-self: flex-end;

    &__center {
      position: relative;
      height: 24px;
      top: 30%;
    }
  }

  &--spinner-icon {
    color: $brand-primary;
  }

  &--spinner-subheader {
    font-size: 8px;
  }

  &--spinner-placeholder {
    text-align: center;
    padding: 4px;
  }

  &--dismiss {
    margin: 0 0 0 8px;
    padding: 2px;
  }
}

.icon--alert-warning {
  height: 16px;
  width: 16px;
  position: relative;
  top: 16%;
}
