<ion-content class="promote-opt-in-modal">
  <div class="promote-opt-in-modal__skip" (click)="skip()">Skip</div>
  <div class="promote-opt-in-modal__demo-container">
    <img
      class="promote-opt-in-modal__demo"
      src="../../../../assets/images/promote-opt-in.gif"
      alt="Opt in to text receipts"
    />
  </div>
  <div class="content-center promote-opt-in-modal__try-ai-text-container">
    <mat-icon class="fy-icon" svgIcon="sparkle"></mat-icon>
    <span class="promote-opt-in-modal__try-ai-text"> Try AI </span>
  </div>
  <div class="promote-opt-in-modal__description">
    Text receipts for <span class="promote-opt-in-modal__instant-text-decoration">instant</span>
    <span class="promote-opt-in-modal__underline"></span> expense submission
  </div>
  <div class="content-center">
    <button class="promote-opt-in-modal__opt-in-btn" (click)="optInClick()">
      <mat-icon class="fy-icon promote-opt-in-modal__arrow-icon" svgIcon="arrow-tail-right"></mat-icon>
    </button>
  </div>
</ion-content>
