<ng-container *ngIf="loadDynamicMap">
  <google-map
    *ngIf="directionsResults$ | async as directionsResults"
    (mapClick)="mapClicked($event)"
    [width]="this.mapWidth"
    [height]="this.mapHeight"
    [options]="dynamicMapOptions"
  >
    <map-directions-renderer [directions]="directionsResults"></map-directions-renderer>
  </google-map>
</ng-container>

<ng-container *ngIf="!loadDynamicMap">
  <img
    *ngIf="routeMapImageUrl$ | async as routeMapImageUrl"
    [src]="routeMapImageUrl"
    [style.width]="mapWidth + 'px'"
    [style.height]="mapHeight + 'px'"
  />
</ng-container>

<ng-container *ngIf="showCurrentLocationMap && currentLocation">
  <ng-container *ngIf="loadDynamicMap">
    <google-map
      (mapClick)="mapClicked($event)"
      [width]="this.mapWidth"
      [height]="this.mapHeight"
      [center]="currentLocation"
      [options]="dynamicMapOptions"
    ></google-map>
  </ng-container>

  <ng-container *ngIf="!loadDynamicMap">
    <img [src]="currentLocationMapImageUrl" [style.width]="mapWidth + 'px'" [style.height]="mapHeight + 'px'" />
  </ng-container>
</ng-container>
