@import '../../../../theme/colors';

.filter-pills {
  &--pills {
    display: flex;
    overflow-x: scroll;
    ::-webkit-scrollbar {
      background: transparent;
    }
  }

  &--pill {
    background: $pure-white;
    border: 1px solid $grey;
    border-radius: 16px;
    color: $black-light;
    padding: 8px 8px 8px 16px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 15px;
    margin-right: 8px;
    &__clear-all {
      color: $brand-primary;
      display: inline-block;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &--close-icon {
    font-size: 14px;
    color: $grey;
  }

  &--label {
    font-size: 12px;
    font-weight: 500;
  }

  &--value {
    font-size: 12px;
    font-weight: 400;
    margin-left: 4px;
    margin-right: 4px;
    text-transform: capitalize;
  }
}
