<ion-grid>
  <ion-row>
    <ion-col size="9">
      <div class="filter-pills--pills">
        @for (filterPill of filterPills; track filterPill) {
          <div class="filter-pills--pill" (click)="onFilterClick(filterPill)">
            <span class="filter-pills--label"> {{ filterPill.label }}: </span>
            <span class="filter-pills--value">
              {{ filterPill.value | snakeCaseToSpaceCase | titlecase }}
            </span>
            <ion-icon
              class="filter-pills--close-icon"
              slot="icon-only"
              src="../../../../assets/svg/clear.svg"
              (click)="onFilterClose($event, filterPill)"
            ></ion-icon>
          </div>
        }
      </div>
    </ion-col>
    <ion-col size="3">
      <div class="filter-pills--pill filter-pills--pill__clear-all" (click)="onClearAll()">
        {{ 'fyFilterPills.clearAll' | transloco }}
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
