// TODO: @SahilK-027 to fix this scss as per figma design
@use '../../../../theme/colors.scss';

.dashboard-budgets {
  padding-bottom: 50px;

  &__header {
    font-size: 14px;
    line-height: 18px;
    color: colors.$black-light;
    font-weight: 500;
    margin: 16px;
  }

  .budget-count {
    margin-left: 2px;
  }

  &__shimmers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__card {
      height: 180px;
      width: 280px;
      border-radius: 16px;
      margin-right: 24px;
      margin: 50px 0;
    }

    &__card-lg {
      height: 220px;
      width: 80%;
      border-radius: 16px;
      margin-right: 24px;
      bottom: 50px;
    }
  }

  &__item {
    padding: 16px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fff;
    height: 100%;

    h3 {
      margin: 0 0 8px 0;
      font-size: 18px;
      font-weight: 600;
    }

    p {
      margin: 4px 0;
      font-size: 14px;
      color: #666;
    }
  }

  &__empty {
    padding: 32px;
    text-align: center;
    color: #666;
  }
}
