<ion-header mode="md">
  <ion-toolbar class="ccc-classify-actions--toolbar">
    <ion-buttons mode="md" slot="end">
      <ion-button
        [routerLink]="['/','enterprise','corporate_card_expenses', {pageState: 'unclassified'}]"
        routerLinkActive="router-link-active"
      >
        <mat-icon>close</mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="md" class="page-title"> Classify Transaction </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="cccExpense$|async as cccExpense">
    <div class="ccc-classify-actions--card">
      <div>
        <span class="ccc-classify-actions--currency"> {{cccExpense.currency}} </span>
        <span class="ccc-classify-actions--amount"> {{cccExpense.amount}} </span>
      </div>
      <div class="ccc-classify-actions--date">{{cccExpense.txn_dt | date: 'MMM dd, yyyy'}}</div>
      <div class="ccc-classify-actions--vendor">
        <ng-container *ngIf="cccExpense.vendor; else description"> {{cccExpense.vendor | ellipsis:25}} </ng-container>
        <ng-template #description>
          <ng-container *ngIf="cccExpense.description" ; else unspecified>
            {{cccExpense.description | ellipsis:25}}
          </ng-container>
          <ng-template #unspecified> {{ 'Unspecified vendor /Description' }} </ng-template>
        </ng-template>
      </div>
    </div>

    <div class="ccc-classify-actions--action" (click)="addExpenseManually(cccExpense)" matRipple>
      <mat-icon class="ccc-classify-actions--icon" svgIcon="fy-add-new-expense"></mat-icon>
      <div>Create Expense</div>
    </div>

    <div
      class="ccc-classify-actions--action"
      (click)="openMarkPersonalPopover(cccExpense)"
      *ngIf="cccExpense.amount >= 0"
      matRipple
    >
      <mat-icon class="ccc-classify-actions--icon" svgIcon="fy-individual"></mat-icon>
      <div>Classify as Personal</div>
    </div>
    <div
      class="ccc-classify-actions--action"
      (click)="openDismissalPopover(cccExpense)"
      *ngIf="cccExpense.amount < 0"
      matRipple
    >
      <mat-icon class="ccc-classify-actions--icon" svgIcon="fy-dismiss"></mat-icon>
      <div>Dismiss Transaction</div>
    </div>
  </ng-container>

  <ng-container *ngIf="expenseSuggestions$|async as expenseSuggestions; else loadingSuggestions">
    <div *ngIf="expenseSuggestions.length > 0" class="ccc-classify-actions--classify-container">
      <div class="ccc-classify-actions--classify-container-header">Select a Matching Expense</div>
      <div
        (click)="openMatchExpensePopover(expense)"
        *ngFor="let expense of expenseSuggestions"
        class="ccc-classify-actions--classify-details"
      >
        <div class="ccc-classify-actions--classify-details-date">{{expense.txn_dt | date:'MMM dd, yyyy'}}</div>
        <div class="ccc-classify-actions--classify-details-amount">
          {{expense.amount | currency:expense.currency: 'symbol-narrow'}}
        </div>
        <div class="ccc-classify-actions--classify-details-vendor" *ngIf="expense.vendor">
          {{expense.vendor | ellipsis:20}}
        </div>
        <div class="ccc-classify-actions--classify-details-purpose" *ngIf="expense.purpose && !expense.vendor">
          {{expense.purpose | ellipsis:20}}
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loadingSuggestions>
    <div class="ccc-classify-actions--classify-container">
      <div *ngFor="let n of [1,2,3,4,5]" class="ccc-classify-actions--classify-container-shimmers">
        <ion-skeleton-text
          class="ccc-classify-actions--classify-container-shimmer ccc-classify-actions--classify-container-shimmer__medium"
        ></ion-skeleton-text>
        <ion-skeleton-text
          class="ccc-classify-actions--classify-container-shimmer ccc-classify-actions--classify-container-shimmer__small"
        ></ion-skeleton-text>
        <ion-skeleton-text
          class="ccc-classify-actions--classify-container-shimmer ccc-classify-actions--classify-container-shimmer__large"
        ></ion-skeleton-text>
      </div>
    </div>
  </ng-template>
</ion-content>
