@import '../../../theme/colors';

.my-reports {
  &--toolbar-header {
    border-bottom: 1px solid #e6e6e6;
  }

  &--header-btn {
    --padding-start: 8px !important;
    --padding-end: 8px !important;
  }

  &--toolbar {
    align-items: center;
    display: inline-flex;
    margin: 8px 16px;
    width: 90%;
  }

  &--filter-pills {
    position: fixed;
    width: 100%;
    background-color: $white;
    z-index: 99;
  }

  &--filter-pills-container {
    display: block;
    min-height: 52px;
  }

  &--body {
    padding-bottom: 20px;
    background-color: $white;
  }

  &--zero-state-body {
    height: 100%;
  }

  &--shimmers {
    overflow-y: scroll;
  }

  &--simple-search-container {
    display: flex;
    align-items: center;
    height: 62px;
    padding-left: 12px;
    mat-form-field {
      ::ng-deep .mat-form-field-outline {
        color: $black-light !important;
      }
    }
  }

  &--simple-search {
    width: 100%;
    font-size: 14px;

    &-icon {
      font-size: 18px;
      margin: auto 8px auto 0;
      color: $black-light;
      height: auto;
    }

    &-close {
      margin: -10px;
      font-size: 18px;
    }
  }

  &--simple-search-block {
    display: flex;
    vertical-align: baseline;
  }

  &--content {
    --background: #{$white};
    --padding-bottom: 82px;
  }

  &--zero-state {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
  }
}
