@import '../../../../theme/colors.scss';

.fy-currency {
  &--label {
    width: 100%;
    margin-right: 2px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $black-light;
  }

  &--input {
    font-size: 14px;
    line-height: 18px;
    color: $blue-black;
    border: none;
    width: 100%;
    margin: 6px 0;
    padding-left: 0;
  }

  &--input-invalid {
    border-bottom: 1px solid $red;
  }

  &--mandatory {
    color: $brand-primary;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
  }

  &--input-container {
    border-bottom: 1px solid $grey-lighter;
  }

  &--form {
    display: flex;
    align-items: center;
    height: 70px;
  }

  &--amount {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    margin-top: 0;
  }

  &--currency-block {
    margin-right: 8px;
  }

  &--amount-block {
    margin-left: 8px;
  }

  &__invalid {
    border-bottom: 1px solid $red;
  }

  &--exchange-rate-container {
    display: flex;
    align-items: center;
    height: 42px;
    border: 1px solid $grey-lighter;
    border-radius: 8px;
    padding: 8px;
    margin-top: 16px;
  }

  &--exchange-rate-container.expanded {
    margin: 20px 0 0 -29%;
  }

  &--exchange-rate-icon {
    color: $highlight-blue;
    margin-right: 10px;
  }

  &--exchange-rate-message {
    width: 100%;
    color: $blue-black;
    font-size: 12px;
    line-height: 16px;
  }

  &--exchange-rate-modify {
    color: $brand-primary;
    font-size: 12px;
    background-color: $pure-white;
    font-weight: 500;
  }
}
