.fy-currency {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1) !important;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  padding: 20px 0;
  height: 88px;
  &__invalid {
    border: 1px solid red;
  }
  &--currency {
    font-size: 16px;
    font-weight: 500;
    color: #4a4a4a;
    padding: 12px 16px;
    line-height: 1;
    height: auto;
    text-align: center;
    letter-spacing: 1px;
    border: 0;
    border-right: 1px solid #e0e0e0;
    width: 70px;
    font-size: 16px;
    font-weight: 500;
    color: #4a4a4a;
  }

  &--amount {
    width: calc(100% - 70px);
    padding: 6px 16px;
    line-height: 1;
    height: auto;
    font-size: 24px;
    font-weight: 500;
    border: 0;
  }

  &--exchange-rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f2f2f2;
    border-radius: 4px;
    margin-top: 16px;
    padding: 8px 16px;
  }

  &--exchange-rate-coverted {
  }

  &--exchange-rate-coverted-amount {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    color: #4a4a4a;
  }

  &--exchange-rate-coverted-rate {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    color: #ababab;
  }

  &--exchange-rate-currency-conversion {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    color: #ababab;
  }

  &--modify-exchange-rate-icon {
    color: #07e;
    padding: 16px;
    height: auto;
    width: auto;
  }
}
