<div class="fy-currency" [ngClass]="{'fy-currency__invalid': !valid}">
  <form [formGroup]="fg">
    <input class="fy-currency--currency" (click)="openCurrencyModal()" formControlName="currency" (blur)="onBlur()">
    <input class="fy-currency--amount" formControlName="amount" (blur)="onBlur()">
  </form>
</div>
<ng-container *ngIf="value?.orig_currency">
  <div class="fy-currency--exchange-rate">
    <div>
      <div class="fy-currency--exchange-rate-coverted-amount">
        {{value.currency}} {{ value.amount}}
      </div>
      <div class="fy-currency--exchange-rate-coverted-rate">
        at {{ (value.amount / value.orig_amount) }}
      </div>
      <div class="fy-currency--exchange-rate-currency-conversion">
        {{value.currency}} / {{value.orig_currency}}
      </div>
    </div>
    <div class="fy-currency--modify-exchange-rate" (click)="setExchangeRate()">
      <mat-icon class="fy-currency--modify-exchange-rate-icon">
        info
      </mat-icon>
    </div>
  </div>
</ng-container>