<div class="fy-currency">
  <form [formGroup]="fg" class="fy-currency--form">
    <div class="fy-currency--input-container fy-currency--currency-block">
      <div class="fy-currency--label">
        Currency
        <span class="fy-currency--mandatory"> * </span>
      </div>
      <input class="fy-currency--input" (click)="openCurrencyModal()" formControlName="currency" (blur)="onBlur()" />
    </div>
    <div class="fy-currency--input-container fy-currency--amount-block" [ngClass]="{ 'fy-currency__invalid': !valid }">
      <div class="fy-currency--label">
        Amount
        <span class="fy-currency--mandatory"> * </span>
      </div>
      <input
        class="fy-currency--input fy-currency--amount"
        formControlName="amount"
        (blur)="onBlur()"
        [type]="isIos ? 'text' : 'number'"
        pattern="[0-9]*"
        decimal="true"
        decimal-char="."
        placeholder="00.00"
        [inputmode]="isIos ? 'undefined' : 'decimal'"
      />
    </div>
  </form>
</div>
<ng-container *ngIf="value?.currency && value?.orig_currency">
  <div class="fy-currency--exchange-rate-container" [ngClass]="{ expanded: expanded }">
    <mat-icon class="fy-currency--exchange-rate-icon" svgIcon="fy-info"></mat-icon>
    <div class="fy-currency--exchange-rate-message">
      <strong>{{ value.currency }} {{ value.amount | number: '1.0-2' }}</strong>
      at {{ exchangeRate | number: '1.0-6' }} {{ value.currency }} / {{ value.orig_currency }}
    </div>
    <button class="fy-currency--exchange-rate-modify" (click)="setExchangeRate()">Modify</button>
  </div>
</ng-container>
