<div class="fy-currency" [ngClass]="{'fy-currency__invalid': !valid}">
  <form [formGroup]="fg">
    <input class="fy-currency--currency" (click)="openCurrencyModal()" formControlName="currency" (blur)="onBlur()">
    <input class="fy-currency--amount" formControlName="amount" (blur)="onBlur()" inputmode="decimal" type="number" placeholder="Amount">
  </form>
</div>
<ng-container *ngIf="value?.currency && value?.orig_currency">
  <div class="fy-currency--exchange-rate" [ngClass]="{'fy-currency--exchange-rate__invalid': !valid}">
    <div>
      <div class="fy-currency--exchange-rate-coverted-amount">
        {{ value.currency }}
        <ng-container *ngIf="value.amount">
          {{ value.amount | number: '1.0-2'}}
        </ng-container>
      </div>
      <span class="fy-currency--exchange-rate-coverted-rate">
        at {{ exchangeRate | number: '1.0-6' }}
      </span>
      <span class="fy-currency--exchange-rate-currency-conversion">
        {{value.currency}} / {{value.orig_currency}}
      </span>
    </div>
    <div class="fy-currency--modify-exchange-rate" (click)="setExchangeRate()">
      <mat-icon class="fy-currency--modify-exchange-rate-icon">
        info
      </mat-icon>
    </div>
  </div>
</ng-container>
