<ion-header mode="md">
  <mat-icon class="fy-modal-top-bar" svgIcon="fy-rectangle"></mat-icon>
  <ion-toolbar mode="md" class="fy-modal-toolbar">
    <ion-title>
      <div class="selection-modal--title">
        Select Currency
      </div>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onDoneClick()">
        <mat-icon class="fy-icon-close" svgIcon="fy-close"></mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="selection-modal--form-field-container">
    <mat-form-field class="selection-modal--form-field mat-form-field-no-padding" appearance="none">
      <input #searchBar id="election-modal--search-input" class="selection-modal--search-input" matInput placeholder="Search" [(ngModel)]="value">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clearValue()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="selection-modal--container">
    <ng-container *ngIf="filteredCurrencies$ | async as filteredCurrencies">
      <div *ngIf="filteredCurrencies.length > 0">
        <div class="selection-modal--sub-title">
          All Currencies
        </div>
        <ng-container *ngFor="let currency of filteredCurrencies">
          <div matRipple class="selection-modal--list-element" (click)="onCurrencySelect(currency)">
            <div>
              {{currency.shortCode}} - {{currency.longName}}
            </div>
            <mat-icon *ngIf="currency.shortCode === currentSelection">
              check
            </mat-icon>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ion-content>
