<ion-content>
  <div class="send-email">
    <div>
      <ion-grid class="send-email__header text-center">
        <ion-row class="full-height ion-align-items-center">
          <ion-col>
            <img
              class="send-email__header__logo"
              src="../../../../assets/svg/fyle-logo-light.svg"
              [alt]="'sendEmail.fyleLogoAlt' | transloco"
            />
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="send-email__form" *ngIf="sendEmailPageState === pageStates.notSent">
        <div class="send-email__form__title">{{ title }}</div>
        <div class="send-email__form__content">{{ content }}</div>
        <div *ngIf="subcontent" class="send-email__form__content">{{ subcontent }}</div>
        <form [formGroup]="fg">
          <mat-form-field class="full-width mat-form-field-no-padding" appearance="outline">
            <input
              class="smartlook-show"
              formControlName="email"
              type="email"
              matInput
              [placeholder]="'sendEmail.placeholderWorkEmail' | transloco"
            />
          </mat-form-field>
          <div class="send-email__error-message" *ngIf="fg.controls.email.touched && !fg.controls.email.valid">
            {{ 'sendEmail.invalidEmailError' | transloco }}
          </div>
        </form>
        <div class="send-email__btn">
          <button
            mat-flat-button
            color="primary"
            (click)="onClickSend()"
            appFormButtonValidation
            [loading]="isLoading"
            [loadingText]="'sendEmail.sendingLink' | transloco"
            class="text-uppercase"
          >
            {{ ctaText }}
          </button>
        </div>
      </div>
      <div class="send-email__form" *ngIf="sendEmailPageState === pageStates.success">
        <div class="send-email__form__title">{{ successTitle }}</div>
        <div class="send-email__form__content">
          {{ successContent }}
        </div>
      </div>
      <div class="send-email__form" *ngIf="sendEmailPageState === pageStates.failure">
        <div class="send-email__form__title">{{ 'sendEmail.requestFailedTitle' | transloco }}</div>
        <div class="send-email__form__content">{{ 'sendEmail.requestFailedContent' | transloco }}</div>
      </div>
    </div>
    <ion-toolbar class="send-email__footer" mode="md">
      <ion-button fill="clear" expand="full" [routerLink]="['/', 'auth', 'sign_in']">
        {{ 'sendEmail.backToSignIn' | transloco }}
      </ion-button>
    </ion-toolbar>
  </div>
</ion-content>
