<ion-grid class="expense-preview--body-container">
  <ion-row class="expense-preview--body-container__content">
    <ion-col size="5">
      <div class="expense-preview--body-container__title">
        <ion-skeleton-text class="expense-preview--shimmer"></ion-skeleton-text>
      </div>
    </ion-col>
    <ion-col size="7">
      <div class="expense-preview--body-container__value">
        <ion-skeleton-text class="expense-preview--shimmer"></ion-skeleton-text>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="expense-preview--body-container__content">
    <ion-col size="5">
      <div class="expense-preview--body-container__title">
        <ion-skeleton-text class="expense-preview--shimmer"></ion-skeleton-text>
      </div>
    </ion-col>
    <ion-col size="7">
      <div class="expense-preview--body-container__value">
        <ion-skeleton-text class="expense-preview--shimmer"></ion-skeleton-text>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="expense-preview--body-container__content">
    <ion-col size="5">
      <div class="expense-preview--body-container__title">
        <ion-skeleton-text class="expense-preview--shimmer"></ion-skeleton-text>
      </div>
    </ion-col>
    <ion-col size="7">
      <div class="expense-preview--body-container__value">
        <ion-skeleton-text class="expense-preview--shimmer"></ion-skeleton-text>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="expense-preview--body-container__content">
    <ion-col size="5">
      <div class="expense-preview--body-container__title">
        <ion-skeleton-text class="expense-preview--shimmer"></ion-skeleton-text>
      </div>
    </ion-col>
    <ion-col size="7">
      <div class="expense-preview--body-container__value">
        <ion-skeleton-text class="expense-preview--shimmer"></ion-skeleton-text>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="expense-preview--body-container__content">
    <ion-col size="5">
      <div class="expense-preview--body-container__title">
        <ion-skeleton-text class="expense-preview--shimmer"></ion-skeleton-text>
      </div>
    </ion-col>
    <ion-col size="7">
      <div class="expense-preview--body-container__value">
        <ion-skeleton-text class="expense-preview--shimmer"></ion-skeleton-text>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="expense-preview--body-container__content">
    <ion-col size="5">
      <div class="expense-preview--body-container__title">
        <ion-skeleton-text class="expense-preview--shimmer"></ion-skeleton-text>
      </div>
    </ion-col>
    <ion-col size="7">
      <div class="expense-preview--body-container__value">
        <ion-skeleton-text class="expense-preview--shimmer"></ion-skeleton-text>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="expense-preview--body-container__content">
    <ion-col size="5">
      <div class="expense-preview--body-container__title">
        <ion-skeleton-text class="expense-preview--shimmer"></ion-skeleton-text>
      </div>
    </ion-col>
    <ion-col size="7">
      <div class="expense-preview--body-container__value">
        <ion-skeleton-text class="expense-preview--shimmer"></ion-skeleton-text>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
