<div class="error-internal">
  <div class="error-internal--header" id="sign-up--error-msg">
    {{header}}
  </div>
  <div class="error-internal--details">
    <div *ngIf="status === 409">
      <p> If you already have a Fyle account, please try <a (click)="goSignin()" class="reset-link">logging in</a>.
      </p>
    </div>

    <div *ngIf="status === 400">
      <p>Your company already uses Fyle. You will need to request an <a (click)="requestInvitation()"
          class="reset-link">invitation</a> to join the account </p>
    </div>

    <div *ngIf="status === 500">
      <p> Something terrible has happened. Please send us a note at support@fylehq.com </p>
    </div>
  </div>
  <div class="error-internal--primary-cta">
    <button mat-flat-button color="primary" (click)="tryAgainClicked()">
      TRY AGAIN
    </button>
  </div>
</div>
