@import '../../../../theme/colors.scss';

.loading-screen-container {
  padding: 16px;
  border-bottom: 1px solid $grey-lighter;

  // TODO: Remove `new-loader-enabled` class and update padding of parent class `loading-screen-container` once all list views are updated to the new designs
  &.new-loader-enabled {
    padding: 12px;
  }

  &--checkbox {
    margin-top: 30px;
    height: 20px;
    width: 20px;
    border-radius: 6px;
  }

  &--icon {
    height: 74px;
    width: 72px;
    border-radius: 8px;

    // TODO: Remove `new-loader-enabled` class and update height &width of parent class `--icon` once all list views are updated to the new designs
    &.new-loader-enabled {
      height: 72px;
      width: 56px;
    }
  }

  &--content-block {
    padding: 3px 23px 4px 11px;

    &__header {
      height: 18px;
      border-radius: 2px;
      margin: 4px 12px 20px 0;
      width: 90%;
    }

    &__sub-header {
      height: 10px;
      border-radius: 2px;
      width: 75%;
      margin: 6px 0;
    }
  }

  &--state {
    height: 18px;
    border-radius: 2px;
    margin-left: 24px;
  }
}

ion-col {
  padding: 0;
}
