@use '../../../../theme/colors.scss';

.loading-screen-container {
  padding: 12px;
  border-bottom: 1px solid colors.$grey-lighter;

  &--checkbox {
    margin-top: 30px;
    height: 20px;
    width: 20px;
    border-radius: 6px;
  }

  &--icon {
    height: 72px;
    width: 56px;
    border-radius: 8px;
  }

  &--content-block {
    padding: 3px 23px 4px 11px;

    &__header {
      height: 18px;
      border-radius: 2px;
      margin: 4px 12px 20px 0;
      width: 90%;
    }

    &__sub-header {
      height: 10px;
      border-radius: 2px;
      width: 75%;
      margin: 6px 0;
    }
  }

  &--state {
    height: 18px;
    border-radius: 2px;
    margin-left: 24px;
  }
}

ion-col {
  padding: 0;
}
