.loading-screen-container {
  margin: 0 16px;
  padding: 16px 0;
  border-bottom: 1px solid #DFDFE2;

  &--icon {
    height: 74px;
    max-width: 72px;
    border-radius: 8px;
  }

  &--content-header {
    height: 18px;
    border-radius: 2px;
    margin: 4px 12px 20px 0;
    width: 90%;
  }

  &--content-sub-header {
    height: 10px;
    border-radius: 2px;
    width: 75%;
    margin: 6px 0;
  }

  &--state {
    height: 18px;
    border-radius: 2px;
    margin-left: 24px;
  }
}
