<div class="loading-screen-container" *ngFor="let x of [].constructor(5)">
  <div class="loading-screen-container--icon">
    <ion-skeleton-text animated></ion-skeleton-text>
  </div>
  <div class="loading-screen-container--content">
    <ion-skeleton-text animated class="loading-screen-container--content__header"></ion-skeleton-text>
    <ion-skeleton-text animated class="loading-screen-container--content__sub-header"></ion-skeleton-text>
    <ion-skeleton-text animated class="loading-screen-container--content__sub-header"></ion-skeleton-text>
  </div>
  <div class="loading-screen-container--state">
    <ion-skeleton-text animated></ion-skeleton-text>
  </div>
</div>
