<ion-grid class="loading-screen-container" *ngFor="let row of rows">
  <ion-row>
    <ion-col size="2.65">
      <div class="loading-screen-container--icon">
        <ion-skeleton-text animated></ion-skeleton-text>
      </div>
    </ion-col>
    <ion-col size="6">
      <ion-skeleton-text animated class="loading-screen-container--content-header"></ion-skeleton-text>
      <ion-skeleton-text animated class="loading-screen-container--content-sub-header"></ion-skeleton-text>
      <ion-skeleton-text animated class="loading-screen-container--content-sub-header"></ion-skeleton-text>
    </ion-col>
    <ion-col size="3.35">
      <div class="loading-screen-container--state">
        <ion-skeleton-text animated></ion-skeleton-text>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
