<ion-header mode="md">
  <ion-toolbar class="view-advance--toolbar">
    <ion-buttons mode="md" slot="end">
      <ion-button [routerLink]="['/','enterprise','my_advances']" routerLinkActive="router-link-active">
        <mat-icon>close</mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="md" class="page-title">View Advance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="advance$|async as advance">
    <div class="view-advance--container">
      <div class="view-advance--currency-card">
        <div class="view-advance--currency">{{advance.adv_currency}}</div>
        <div class="view-advance--amount">{{advance.adv_amount }}</div>
      </div>

      <div class="view-advance--card">
        <div class="view-advance--element" *ngIf="advance.areq_approved_at">
          <div class="view-advance--element-label">Approved On</div>
          <div class="view-advance--element-value">{{advance.areq_approved_at | date: 'MMM dd, yyyy'}}</div>
        </div>

        <div class="view-advance--element">
          <div class="view-advance--element-label">Issued On</div>
          <div class="view-advance--element-value">{{advance.adv_issued_at | date: 'MMM dd, yyyy'}}</div>
        </div>

        <div class="view-advance--element">
          <div class="view-advance--element-label">Issued By</div>
          <div class="view-advance--element-value">{{advance.creator_us_full_name || '-'}}</div>
        </div>

        <div class="view-advance--element">
          <div class="view-advance--element-label">Advance Number</div>
          <div class="view-advance--element-value">{{advance.adv_advance_number || '-'}}</div>
        </div>

        <div class="view-advance--element">
          <div class="view-advance--element-label">Payment Mode</div>
          <div class="view-advance--element-value">{{advance.adv_mode || '-'}}</div>
        </div>

        <div class="view-advance--element">
          <div class="view-advance--element-label">Purpose</div>
          <div class="view-advance--element-value">{{advance.adv_purpose || '-'}}</div>
        </div>

        <div class="view-advance--element">
          <div class="view-advance--element-label">{{projectFieldName | titlecase}}</div>
          <div class="view-advance--element-value">{{advance.project_name || '-'}}</div>
        </div>

        <div class="view-advance--element">
          <div class="view-advance--element-label">Additional Notes</div>
          <div class="view-advance--element-value">{{advance.areq_notes || '-'}}</div>
        </div>
      </div>

      <div *ngIf="advance.areq_id" class="view-advance--advance-request-block">
        <a [routerLink]="['/', 'enterprise', 'my_view_advance_request', {id: advance.areq_id}]">
          View Advance Request</a
        >
      </div>
    </div>
  </div>
</ion-content>
