@import '../../../theme/colors.scss';

.view-advance {
  &--container {
    padding: 0px 16px 16px;
  }

  &--currency-card {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1) !important;
    border-radius: 4px;
    border: 1px solid $grey-6;
    padding: 20px 0;
    height: 88px;
    display: flex;
  }

  &--currency {
    font-size: 16px;
    font-weight: 500;
    color: $grey-light-2;
    width: 80px;
    padding: 12px 16px;
    line-height: 1.5;
    height: auto;
    text-align: center;
    letter-spacing: 1px;
    border-right: 1px solid $grey-6;
  }

  &--amount {
    width: 100%;
    padding: 8px 16px;
    line-height: 1.3;
    height: auto;
    font-size: 24px;
    font-weight: 500;
    border: 0;
    background: transparent;
  }

  &--card {
    padding: 12px;
    border: 1px solid $grey-5;
    border-radius: 4px;
    margin-top: 12px;
  }

  &--content-container {
    margin-top: 24px;
  }

  &--content-section {
    border-bottom: 1px solid $grey-6;
    margin-bottom: 6px;
    padding: 8px 0px;
  }

  &--padding-0 {
    padding: 0px;
  }

  &--element {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  &--grid {
    padding: 0px;
    margin-top: -15px;
  }

  &--divider {
    margin: 24px 0px;
    border-bottom: 1px solid $grey-lighter;
  }

  &--element-label {
    min-width: 130px;
    max-width: 30%;
    margin: 0 8px 0 0;
    font-size: 16px;
    color: $gray-3;
    font-weight: 500;
    line-height: 1.5;
  }

  &--element-value {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #444444;
    overflow: hidden;
    white-space: nowrap;
  }

  &--advance-request-block {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }

  &--icon-container {
    background: $off-white;
    border-radius: 22px;
    height: 34px;
    width: 34px;
    display: inline-flex;
    margin-right: 12px;
  }

  &--icon {
    padding: 8px;
    color: $grey-light;
  }

  &--anchor {
    text-decoration: none;
    font-weight: 500;
  }
}
