<ion-header mode="md">
  <ion-toolbar class="view-advance--toolbar">
    <ion-buttons mode="md" slot="start">
      <ion-button [routerLink]="['/', 'enterprise', 'my_advances']" routerLinkActive="router-link-active">
        <img [src]="'../../../../assets/svg/arrow-left.svg'" />
      </ion-button>
    </ion-buttons>
    <ion-title mode="md" class="page-title">View advance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (advance$ | async; as advance) {
    <div class="view-advance--container">
      <app-summary-tile
        [purpose]="advance.adv_purpose || '-'"
        [currency]="currencySymbol"
        [amount]="advance.adv_orig_amount || advance.adv_amount || 0"
        [status]="'Paid'"
      ></app-summary-tile>
      <div class="view-advance--content-container">
        <div class="view-advance--element">
          <app-fy-statistic
            [icon]="'../../../../assets/svg/wallet.svg'"
            [type]="StatisticTypes.STRING"
            [label]="'Advance number'"
            [value]="advance.adv_advance_number || '-'"
          ></app-fy-statistic>
        </div>
        <div class="view-advance--element">
          <app-fy-statistic
            [icon]="'../../../../assets/svg/user-one.svg'"
            [type]="StatisticTypes.STRING"
            [label]="'Issued By'"
            [value]="advance.creator_us_full_name || '-'"
          ></app-fy-statistic>
        </div>
        <div class="view-advance--divider"></div>
        <ion-grid class="view-advance--grid">
          <ion-row>
            <ng-container>
              @if (advance.areq_approved_at) {
                <ion-col class="p-0" size="6">
                  <div class="view-advance--element">
                    <app-fy-statistic
                      [icon]="'../../../../assets/svg/calendar.svg'"
                      [type]="StatisticTypes.DATE"
                      [label]="'Approved date'"
                      [value]="advance.areq_approved_at | date: 'MMM dd, yyyy'"
                    ></app-fy-statistic>
                  </div>
                </ion-col>
              }
              <ion-col class="p-0" size="6">
                <app-fy-statistic
                  [icon]="'../../../../assets/svg/calendar.svg'"
                  [type]="StatisticTypes.DATE"
                  [label]="'Issued date'"
                  [value]="advance.adv_issued_at | date: 'MMM dd, yyyy'"
                ></app-fy-statistic>
              </ion-col>
            </ng-container>
          </ion-row>
        </ion-grid>
        <div class="view-advance--element">
          <app-fy-statistic
            [icon]="'../../../../assets/svg/card.svg'"
            [type]="StatisticTypes.STRING"
            [label]="'Payment mode'"
            [value]="advance.adv_mode || '-'"
          ></app-fy-statistic>
        </div>
        <div class="view-advance--element">
          <app-fy-statistic
            [icon]="'../../../../assets/svg/list.svg'"
            [type]="StatisticTypes.STRING"
            [label]="projectFieldName | titlecase"
            [value]="advance.project_name || '-'"
          ></app-fy-statistic>
        </div>
        <div class="view-advance--divider"></div>
        <!-- In case there is no advance request associated with the advance, there will be no notes -->
        @if (!advance.areq_id) {
          <div class="view-advance--element">
            <app-fy-statistic
              [icon]="'../../../../assets/svg/list.svg'"
              [type]="StatisticTypes.STRING"
              [label]="'Additional notes'"
              [value]="'-'"
            ></app-fy-statistic>
          </div>
        }
        @if (advance.areq_id && advanceRequest$ | async; as advanceRequest) {
          <div class="view-advance--element">
            <app-fy-statistic
              [icon]="'../../../../assets/svg/list.svg'"
              [type]="StatisticTypes.STRING"
              [label]="'Additional notes'"
              [value]="advanceRequest?.areq_notes || '-'"
            ></app-fy-statistic>
          </div>
        }
      </div>
      @if (advance.areq_id) {
        <div class="view-advance--divider"></div>
        <div class="view-advance--advance-request-block">
          <div class="view-advance--icon-container">
            <img class="view-advance--icon" [src]="'../../../../assets/svg/open-in-new-tab.svg'" />
          </div>
          <div>
            <a
              class="view-advance--anchor"
              [routerLink]="['/', 'enterprise', 'my_view_advance_request', { id: advance.areq_id }]"
            >
              View advance request</a
            >
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="view-advance--skeleton-wrapper">
      <!-- Summary Tile Skeleton -->
      <div class="view-advance--skeleton-card">
        <ion-skeleton-text animated class="view-advance--skeleton-purpose"></ion-skeleton-text>
        <ion-skeleton-text animated class="view-advance--skeleton-amount"></ion-skeleton-text>
        <ion-skeleton-text animated class="view-advance--skeleton-status"></ion-skeleton-text>
      </div>
      <!-- Statistic Rows Skeleton -->
      @for (item of [1, 2, 3, 4, 5]; track $index) {
        <div class="view-advance--skeleton-row">
          <ion-skeleton-text animated class="view-advance--skeleton-label"></ion-skeleton-text>
          <ion-skeleton-text animated class="view-advance--skeleton-value"></ion-skeleton-text>
        </div>
      }
      @for (item of [1, 2, 3, 4, 5]; track $index) {
        <div class="view-advance--skeleton-row">
          <ion-skeleton-text animated class="view-advance--skeleton-label"></ion-skeleton-text>
          <ion-skeleton-text animated class="view-advance--skeleton-value"></ion-skeleton-text>
        </div>
      }
    </div>
  }
</ion-content>
