<div class="action-container">
  <div class="action-container--item" mat-ripple *ngIf="actions.can_approve" (click)="approveTrip()">
    <div class="action-container--header">Approve Trip</div>
    <div class="action-container--support-title">Approve the request trip</div>
  </div>
  <div class="action-container--item" mat-ripple *ngIf="actions.can_inquire" (click)="openSendBackRequestPoup()">
    <div class="action-container--header">Send Back Trip</div>
    <div class="action-container--support-title">Send back trip request</div>
  </div>
  <div class="action-container--item" mat-ripple *ngIf="actions.can_reject" (click)="openRejectRequestPoup()">
    <div class="action-container--header">Reject Trip</div>
    <div class="action-container--support-title">Reject this trip request</div>
  </div>
</div>
