<div class="advance-action">
  <div
    class="advance-action--action"
    matRipple
    (click)="openAnotherPopover('approveAdvance')"
    *ngIf="actions.can_approve"
  >
    <div class="advance-action--action-head">{{ 'advanceActions.approveAdvance' | transloco }}</div>
    <div class="advance-action--action-info">{{ 'advanceActions.approveAdvanceInfo' | transloco }}</div>
  </div>

  <div
    class="advance-action--action"
    matRipple
    (click)="openAnotherPopover('sendBackAdvance')"
    *ngIf="actions.can_inquire"
  >
    <div class="advance-action--action-head">{{ 'advanceActions.sendBackAdvance' | transloco }}</div>
    <div class="advance-action--action-info">{{ 'advanceActions.sendBackAdvanceInfo' | transloco }}</div>
  </div>

  <div
    class="advance-action--action"
    matRipple
    (click)="openAnotherPopover('rejectAdvance')"
    *ngIf="actions.can_reject"
  >
    <div class="advance-action--action-head">{{ 'advanceActions.rejectAdvance' | transloco }}</div>
    <div class="advance-action--action-info">{{ 'advanceActions.rejectAdvanceInfo' | transloco }}</div>
  </div>
</div>
