@import '../../../../theme/colors';
// .critical-policy-violation {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   margin: 80px 48px;
//   &--warning-icon {
//     color: #ff9900;
//     font-size: 48px;
//     margin: 18px;
//     height: 40px;
//     width: 40px;
//   }

//   &--header {
//     font-size: 20px;
//     font-weight: bold;
//     line-height: 1.6;
//     color: #ff9900;
//   }

//   &--sub-header {
//     font-size: 16px;
//     line-height: 1.5;
//     color: #ababab;
//   }

//   &--reasons {
//     padding: 16px;
//     margin: 24px 0;
//     border-radius: 6px;
//     background-color: #f2f2f2;
//     width: 100%;
//   }

//   &--content-footer {
//     font-size: 16px;
//     line-height: 1.5;
//     color: #ff9900;
//   }

//   &--buttons {
//     display: flex;
//     justify-content: space-around;
//   }
// }

.critical-policy-violation {
  font-family: Aktiv Grotesk;
  padding: 10px 15px;

  &--header {
    color: $black;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    line-height: 23px;
    padding: 14px 0;
  }

  &--info {
    color: $blue-black;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    padding-bottom: 25px;
  }

  &--block {
    background: $white-1;
    border: 1px solid $grey-1;
    box-sizing: border-box;
    border-radius: 8px;
    max-height: 328px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &--list {
    margin: 0;
    padding: 0;

    &__elements {
      font-size: 12px;
      line-height: 20px;
      align-items: center;
      color: $blue-black;
    }
  }
}
