@import '../../../../theme/colors.scss';

.expense-preview {
  &--toolbar {
    text-align: center;
    margin-bottom: 12px;

    &__title {
      color: $black;
      padding-right: 44px;
    }
  }

  &--body-container {
    padding: 0 16px;
    font-size: 16px;
    line-height: 1.3;
    color: $black-light;

    &__content {
      min-height: 48px;
      border-bottom: 1px solid $grey;
      padding: 12px 0;
    }

    &__title {
      font-weight: 500;
    }

    &__subtitle {
      padding-top: 4px;
      font-size: 12px;
    }

    &__value {
      color: $black;
    }
  }
  &--footer {
    display: flex;
    justify-content: space-around;
  }

  &--footer-container {
    &::before {
      content: none;
    }
  }

  &--footer-toolbar {
    padding: 14px 16px;
    &__shadow {
      box-shadow: 0px -2px 40px rgba(215, 215, 215, 0.4);
    }
    &__offline {
      padding-bottom: 36px;
    }
  }

  &--primary-cta,
  &--secondary-cta {
    height: 48px;
    font-size: 14px;
    text-transform: inherit;
    font-weight: 600;
    border-radius: 8px;
    width: 100%;
    margin: 12px 0;
    --border-radius: 4px !important;

    &:first-child {
      margin-right: 4px;
    }

    &:last-child {
      margin-left: 4px;
    }
  }

  &--secondary-cta {
    margin: 0;
    border-radius: 0;
    &__border {
      border-right: 1px solid $grey;
    }
  }

  &--secondary-cta-text {
    min-width: 80px;
  }

  &--secondary-cta-icon {
    &__left {
      margin-right: 18px;
    }

    &__right {
      margin-left: 18px;
    }
  }
  &--icon {
    height: 18px;
    width: 18px;
    padding: 1px;
    vertical-align: middle;
  }

  &--shimmer {
    width: 100%;
    height: 25px;
    border-radius: 5px;
  }

  &--link {
    color: $highlight-blue;
  }
}
