<ng-container>
  <div class="profile-opt-in-card__container">
    <div>
      <div (click)="!isOptedOutViaSms && clickedOnOptIn()" class="profile-opt-in-card__title-container">
        <div class="profile-opt-in-card__title">
          <span>{{ 'profileOptInCard.title' | transloco }}</span>
          <div class="profile-opt-in-card__description">
            {{ 'profileOptInCard.description' | transloco }}
          </div>
        </div>
        @if (!isUserOptedIn && !isMobileAddedButNotVerified && !isOptedOutViaSms) {
          <span class="profile-opt-in-card__opt-in-btn">{{ 'profileOptInCard.optIn' | transloco }}</span>
        }
      </div>

      <app-fy-alert-info
        *ngIf="isOptedOutViaSms"
        message="Opt-in to receive text message by sending <strong>START</strong> to <strong>302-440-2921</strong>"
        type="warning"
      ></app-fy-alert-info>

      @if (isUserOptedIn || isOptedOutViaSms) {
        <div class="profile-opt-in-card__status__label">
          <span>{{ 'profileOptInCard.status' | transloco }}</span>
          <span
            class="profile-opt-in-card__opt-out-btn"
            [class.profile-opt-in-card__opt-in-btn--disabled]="isOptedOutViaSms"
            [style.pointer-events]="isOptedOutViaSms ? 'none' : 'auto'"
            (click)="!isOptedOutViaSms && clickedOnOptOut()"
          >
            {{ isOptedOutViaSms ? 'profileOptInCard.optIn' : ('profileOptInCard.optOut' | transloco) }}
          </span>
        </div>
        <div class="profile-opt-in-card__status__icon-container">
          <div
            class="profile-opt-in-card__status__icon"
            [class.profile-opt-in-card__status__icon--inactive]="isOptedOutViaSms"
          ></div>
          <div class="profile-opt-in-card__status__text">
            {{ isOptedOutViaSms ? 'profileOptInCard.optedOut' : ('profileOptInCard.optedIn' | transloco) }}
          </div>
        </div>
        <div class="profile-opt-in-card__divider"></div>
        <div class="profile-opt-in-card__mobile">
          <span class="profile-opt-in-card__mobile__text">{{ 'profileOptInCard.mobileNumber' | transloco }}</span>
          <div class="profile-opt-in-card__mobile__number-container">
            <span class="smartlook-hide">
              {{ mobileNumber }}
            </span>
            <ion-icon
              (click)="editMobileNumber()"
              src="../../../../assets/svg/edit.svg"
              slot="icon-only"
              class="fy-icon profile-opt-in-card__mobile__edit-icon"
            ></ion-icon>
          </div>
          @if (!isOptedOutViaSms) {
            <div class="profile-opt-in-card__divider"></div>
            <div class="profile-opt-in-card__usage-description" (click)="copyToClipboard()">
              <div class="profile-opt-in-card__usage-description__text">
                {{ 'profileOptInCard.usageDescription' | transloco }}
              </div>
              <div>
                <ion-icon
                  src="../../../../../assets/svg/duplicate.svg"
                  slot="icon-only"
                  class="fy-icon profile-opt-in-card__copy-icon"
                ></ion-icon>
              </div>
            </div>
          }
        </div>
      }

      @if (isMobileAddedButNotVerified) {
        <div (click)="clickedOnOptIn()">
          <div class="profile-opt-in-card__status__label">
            <span>{{ 'profileOptInCard.status' | transloco }}</span>
            @if (!isInvalidUSNumber) {
              <span class="profile-opt-in-card__opt-in-btn">
                {{ 'profileOptInCard.optIn' | transloco }}
              </span>
            }
          </div>
          <div class="profile-opt-in-card__status__icon-container">
            <div class="profile-opt-in-card__status__icon--inactive"></div>
            <div>{{ 'profileOptInCard.notOptedIn' | transloco }}</div>
          </div>
        </div>
        <div class="profile-opt-in-card__divider"></div>
        <div class="profile-opt-in-card__mobile">
          <span>{{ 'profileOptInCard.mobileNumber' | transloco }}</span>
          <div class="profile-opt-in-card__mobile__number-container">
            <span>
              {{ mobileNumber }}
            </span>
            <ion-icon
              (click)="deleteMobileNumber()"
              src="../../../../assets/svg/bin.svg"
              slot="icon-only"
              class="fy-icon profile-opt-in-card__mobile__delete-icon"
            ></ion-icon>
          </div>
        </div>
        @if (isInvalidUSNumber) {
          <div class="profile-opt-in-card__divider"></div>
          <div>
            <div class="profile-opt-in-card__non-us-number-card" (click)="editMobileNumber()">
              <span> {{ 'profileOptInCard.nonUSNumberInfo' | transloco }} </span>
              <span class="profile-opt-in-card__non-us-number-card__cta">
                {{ 'profileOptInCard.updateAndOptIn' | transloco }}
              </span>
            </div>
          </div>
        }
      }
    </div>
  </div>
</ng-container>
