@import '../../../../theme/colors.scss';
@import '../../../../theme/forms.scss';

.merge-expenses {
  &--internal-block {
    padding: 6px 0;
    background: $pure-white;
    line-height: 1;
    margin-bottom: 12px;
  }
}
