<ion-header>
  <ion-toolbar>
    <ion-buttons mode="md" slot="end">
      <ion-button [routerLink]="['/','enterprise','my_expenses']" routerLinkActive="router-link-active">
        <mat-icon>close</mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="md">View Expense</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <span *ngIf="etxn$ | async as etxn">
    <div class="view-expense--container" *ngIf="(etxn$ | async) && comments">
      <!-- 
        on click scroll to comment section 
      -->
      <div class="fy-info-block" ng-if="etxn.tx_policy_flag && comments">
        <app-policy-violation-info-block [policyData]="comments"></app-policy-violation-info-block>
      </div>
    </div>
  </span>

  <div class="fy-info-block" ng-if="isAmountCapped">
    <p class="info-text m-0" ng-if="vm.isCriticalPolicyViolated">This expense has violated a critical policy. You cannot create a report with this expense.</p>
    <p class="info-text m-0" ng-if="!vm.isCriticalPolicyViolated">Claimed amount <span ng-bind="vm.etxn.tx.user_amount | isoCurrency:vm.etxn.tx.currency"></span> was capped to <span ng-bind="vm.etxn.tx.amount | isoCurrency:vm.etxn.tx.currency"></span> due to policy.</p>
  </div>

</ion-content>
