@import '../../../../../theme/colors.scss';

.policy-violation-message {
  &--container {
    padding: 16px;
    border-radius: 3px;
    background: $floral-white;
    border: 1px solid $pale-orange;
    margin-bottom: 12px;
  }
}
