$toolbar-border: #ababab6b;

.my-trips {
  &--toolbar {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  &--zero-state {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    text-align: center;

    &-img {
      margin: 32px;
    }

    &-header {
      font-size: 16px;
      display: block;
      margin-bottom: 16px;
      color: #4a4a4a;
      line-height: 1.5;
      font-weight: 500;
    }

    &-subheader {
      color: #ababab;
      display: block;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      margin-bottom: 24px;
      padding: 0 8px;
    }

    &-action-button-container {
      margin-top: auto;
    }

    &-action-button {
      padding: 24px 16px;
      border-radius: 6px;
      color: #f36;
      font-size: 18px;
      font-weight: 500;
      width: 275px;
      margin: 0 auto 20px;
      position: relative;
      background: white;
      border: 1px solid #f36;

      &:after,
      &:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: white;
        border-width: 20px;
        margin-left: -20px;
      }
      &:before {
        border-color: rgba(255, 51, 102, 0);
        border-top-color: #f36;
        border-width: 21px;
        margin-left: -21px;
      }
    }
  }
}
