@import '../../../../theme/colors.scss';

.active-org-card {
  background: $pink-gradient-2;
  border-radius: 0 0 20px 20px;
  padding: 20px 16px;
  color: $black;
  line-height: 1.3;
  margin-bottom: 16px;

  &__header {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
  }

  &__icon-container {
    max-width: 60px;
    height: 60px;
    margin-right: 4px;

    &__icon {
      background: url('../../../../assets/svg/active-org-currency.svg') no-repeat;
      height: 100%;
    }

    &__currency {
      height: calc(100% - 10px);
      width: calc(100% - 8px);
      color: $blue-black;
      font-weight: 500;
    }

    &__skeleton-icon {
      height: 100%;
      border-radius: 8px;
      padding: 0 8px 8px 0;
    }
  }

  &__content-container {
    width: calc(100% - 164px);

    &__title {
      font-size: 16px;
      font-weight: 500;
      padding-top: 4px;
    }

    &__sub-title {
      font-size: 12px;
      color: $black-light;
      padding-top: 4px;
    }
  }

  &__pill-container {
    margin-left: 8px;
    max-width: 64px;

    &__pill {
      padding: 4px 12px;
      background-color: $blue-black;
      border-radius: 16px;
      color: $pure-white;
      font-size: 12px;
      margin-top: 12px;
    }
  }
}
