<div class="active-org-card" (click)="switchOrg()">
  <div class="active-org-card__header">{{ 'activeOrgCard.activeOrganization' | transloco }}</div>
  <ion-grid class="ion-grid-no-padding">
    <ion-row>
      <ion-col class="active-org-card__icon-container">
        @if (!isLoading) {
          <div class="active-org-card__icon-container__icon">
            <div class="active-org-card__icon-container__currency content-center">
              {{ org.currency }}
            </div>
          </div>
        } @else {
          <div class="active-org-card__icon-container__skeleton-icon">
            <ion-skeleton-text animated></ion-skeleton-text>
          </div>
        }
      </ion-col>
      <ion-col class="active-org-card__content-container">
        <ion-grid class="ion-grid-no-padding">
          <ion-row>
            <ion-col class="active-org-card__content-container__title smartlook-hide">
              @if (!isLoading) {
                {{ org.name }}
              } @else {
                <ion-skeleton-text animated></ion-skeleton-text>
              }
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="active-org-card__content-container__sub-title">
              @if (!isLoading) {
                {{ org.domain }}
              } @else {
                <ion-skeleton-text animated></ion-skeleton-text>
              }
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      @if (isPrimaryOrg) {
        <ion-col class="active-org-card__pill-container">
          <div class="active-org-card__pill-container__pill">{{ 'activeOrgCard.primaryLabel' | transloco }}</div>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</div>


