@import '../../../theme/colors.scss';

.my-profile {
  &__toolbar {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  &__menubutton {
    color: $pure-black;
  }

  &__content-container {
    background-color: $grey-8;
    padding: 24px 16px;
  }

  &__section-header {
    font-size: 16px;
    color: $black-light;
    padding-bottom: 12px;
    font-weight: 500;
  }

  &__card {
    display: flex;
    align-items: center;
    padding: 20px 16px;
    margin-bottom: 24px;
    background-color: $pure-white;
    justify-content: space-between;
    border-radius: 8px;

    &__title {
      font-size: 18px;
      font-weight: 500;
      color: $black;
    }
  }

  &__navigate-icon {
    height: 16px;
    color: $brand-primary;
  }

  &__preference-container {
    background-color: $pure-white;
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 0 16px;

    &__card {
      &:not(:last-child) {
        border-bottom: 1px solid $grey;
      }
    }
  }

  &__signout-container {
    font-weight: 500;
    color: $brand-primary;

    &__icon {
      height: 18px;
      width: 18px;
      padding-right: 6px;
    }
  }
}
