@import '../../../../theme/colors.scss';

.fy-expansion {
  &--info-message-accordion-group {
    border-radius: 4px;
    border: 1px solid $grey-lighter;
    margin: 0;
    padding: 0;
  }

  &--info-message-accordion {
    ion-item {
      --padding-top: 8px;
      --padding-bottom: 0px;
      --padding-start: 12px;
      --padding-end: 12px;
      --min-height: auto;
      --background: transparent;
      align-items: flex-start;
    }

    ion-item[slot='header'] {
      --inner-padding-end: 0px;
    }

    .info-icon {
      margin-right: 12px;
      color: $highlight-blue;
      font-size: 18px;
      height: 18px;
      width: 18px;
      flex-shrink: 0;
      align-self: flex-start;
    }

    .info-text-container {
      display: flex;
      color: $blue-black;
      font-size: 12px;
      line-height: 18px;
      padding: 0 8px 8px 0;
    }

    &:not(.accordion-expanded) {
      .info-text-container {
        span {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
  }

  &--article-link {
    text-decoration: none;
    font-size: 12px;
    color: $blue-4;
    white-space: nowrap;
  }

  &--link-icon {
    width: 12px;
    height: 12px;

    svg path {
      fill: $blue-4;
    }
  }

  ion-accordion-group.accordion-group-expand-inset {
    > ion-accordion:first-of-type,
    > ion-accordion:last-of-type {
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    > ion-accordion {
      box-shadow: none !important;
    }

    > ion-accordion.accordion-expanding,
    > ion-accordion.accordion-expanded {
      margin-bottom: 0 !important;
    }
  }
}
