<div class="fy-expansion">
  <ion-accordion-group
    class="fy-expansion--info-message-accordion-group"
    expand="inset"
    [multiple]="false"
    animated="false"
  >
    <ion-accordion class="fy-expansion--info-message-accordion" value="info" toggle-icon-slot="end">
      <ion-item slot="header" color="none" lines="none" button="false">
        <div class="info-text-container">
          <mat-icon class="info-icon" svgIcon="info-circle-fill"></mat-icon>
          <span>
            {{ infoMsgContent }}
            @if (showHelpLink) {
              <a (click)="onHelpLinkClick()" class="fy-expansion--article-link" role="button" tabindex="0">
                <span>
                  {{ helpLinkLabel ?? ('fyExpansionInfoMsg.learnMore' | transloco) }}
                  <mat-icon class="fy-expansion--link-icon" svgIcon="open-in-new-tab"></mat-icon>
                </span>
              </a>
            }
          </span>
        </div>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>
</div>
