<ion-header mode="md" [ngClass]="{'d-none': isCameraPreviewStarted}">
  <ion-toolbar mode="md" class="add-edit-advance-request--toolbar">
    <ion-buttons
      mode="md"
      slot="start"
      [ngClass]="{'add-edit-advance-request--header-btn-container-sm': isDeviceWidthSmall}"
    >
      <ion-button (click)="goBack()">
        <ion-icon class="fy-icon-close" [src]="'../../../../assets/svg/fy-close.svg'" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title
      mode="md"
      *ngIf="mode"
      class="page-title"
      [ngClass]="{'add-edit-advance-request--title-sm': isDeviceWidthSmall}"
    >
      <div class="text-center add-edit-advance-request--toolbar__title" *ngIf="mode === 'add'">Request Advance</div>
      <div *ngIf="mode === 'edit'">Edit Advance Request</div>
    </ion-title>

    <ion-buttons
      *ngIf="mode === 'edit'"
      class="add-edit-advance-request--header-btn-container"
      [ngClass]="{'add-edit-advance-request--header-btn-container-sm': isDeviceWidthSmall}"
      slot="end"
    >
      <ion-button class="add-edit-advance-request--header-btn-container__btn" (click)="openCommentsModal()">
        <ion-icon [src]="'../../../assets/svg/fy-chat-2.svg'" slot="icon-only"></ion-icon>
      </ion-button>
      <ng-container *ngIf="actions$|async as actions">
        <ion-button
          *ngIf="actions?.can_delete"
          class="add-edit-advance-request--header-btn-container__btn"
          (click)="delete()"
        >
          <ion-icon [src]="'../../../assets/svg/fy-delete.svg'" slot="icon-only"></ion-icon>
        </ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{'d-none': isCameraPreviewStarted}">
  <form [formGroup]="fg" class="add-edit-advance-request--form" #formContainer>
    <div class="add-edit-advance-request--receipt-currency-container">
      <div *ngIf="dataUrls && dataUrls.length === 0" class="add-edit-advance-request--receipt text-center">
        <div class="add-edit-advance-request--receipt-image" (click)="addAttachments($event)">
          <img class="add-edit-advance-request--receipt-image-icon" src="../../../assets/images/add-to-list.png" />
        </div>
      </div>

      <div *ngIf="extendedAdvanceRequest$|async as extendedAdvanceRequest" class="add-edit-advance-request--currency">
        <ng-container *ngIf="homeCurrency$|async as homeCurrency">
          <app-fy-currency
            formControlName="currencyObj"
            [homeCurrency]="extendedAdvanceRequest.currency"
            [txnDt]="extendedAdvanceRequest?.created_at"
          >
          </app-fy-currency>
          <div
            *ngIf="fg.controls.currencyObj.touched && !fg.controls.currencyObj.valid"
            class="add-edit-advance-request--amount-error"
          >
            Please enter the amount.
          </div>
        </ng-container>
      </div>
    </div>

    <app-receipt-preview-thumbnail
      *ngIf="dataUrls && dataUrls.length > 0"
      [attachments]="dataUrls"
      (addMoreAttachments)="addAttachments($event)"
      (viewAttachments)="viewAttachments()"
      [canEdit]="true"
    >
    </app-receipt-preview-thumbnail>

    <div class="add-edit-advance-request--primary-block">
      <div class="add-edit-advance-request--internal-block">
        <app-fy-select
          formControlName="purpose"
          [mandatory]="true"
          [label]="'Purpose '"
          [cacheName]="'recentPurposeList'"
          [customInput]="true"
          [showSaveButton]="true"
          [selectModalHeader]="'Enter Purpose'"
          [placeholder]="'Enter Purpose'"
        >
        </app-fy-select>
      </div>
      <div
        *ngIf="fg.controls.purpose.touched && !fg.controls.purpose.valid"
        class="add-edit-advance-request--mandatory-text"
      >
        Please enter the purpose.
      </div>

      <ng-container *ngIf="isProjectsVisible$|async">
        <ng-container *ngIf="expenseFields$ | async as expenseFields">
          <div class="add-edit-advance-request--internal-block">
            <app-fy-select-project
              formControlName="project"
              [label]="expenseFields?.project_id[0]?.field_name"
              [placeholder]="expenseFields?.project_id[0]?.placeholder"
              [cacheName]="'advanceProjectCache'"
            ></app-fy-select-project>
          </div>
        </ng-container>
      </ng-container>

      <div class="add-edit-advance-request--text add-edit-advance-request--internal-block">
        <div class="add-edit-advance-request--text-label add-edit-advance-request--additional-notes-label">
          Additional Notes
        </div>
        <input
          class="add-edit-advance-request--text-input add-edit-advance-request--additional-notes-input smartlook-show"
          formControlName="notes"
          placeholder="Enter Additional Notes"
        />
      </div>
    </div>

    <div *ngIf="extendedAdvanceRequest$|async">
      <ng-container *ngIf="customFields$ | async as customFields">
        <div class="add-edit-advance-request--primary-block" *ngIf="customFields.length > 0">
          <ng-container *ngFor="let customInput of customFields; index as i">
            <div class="add-edit-advance-request--custom-field-internal-block">
              <form [formGroup]="customInput.control">
                <div
                  class="add-edit-advance-request--text"
                  [ngClass]="{'add-edit-advance-request--text__invalid': fg.controls.custom_field_values['controls'][i].touched && !fg.controls.custom_field_values['controls'][i].valid}"
                  *ngIf="customInput.type !== 'BOOLEAN' && customInput.type !== 'SELECT' && customInput.type !== 'MULTI_SELECT' && customInput.type !== 'USER_LIST' && customInput.type !== 'LOCATION'"
                >
                  <div class="add-edit-advance-request--text-label">
                    {{customInput.name | ellipsis: 30}}
                    <span class="add-edit-advance-request--mandatory" *ngIf="customInput.mandatory">*</span>
                  </div>
                  <input
                    class="add-edit-advance-request--text-input smartlook-show"
                    type="text"
                    formControlName="value"
                    *ngIf="customInput.type === 'TEXT'"
                    [placeholder]="customInput.placeholder || 'Enter ' + customInput.name | ellipsis: 30"
                  />

                  <app-fy-number
                    *ngIf="customInput.type === 'NUMBER'"
                    [placeholder]="customInput.placeholder || 'Enter ' + customInput.name | ellipsis: 30"
                    formControlName="value"
                  >
                  </app-fy-number>

                  <input
                    appFormatDate
                    class="add-edit-advance-request--date-input date-input__format smartlook-show"
                    *ngIf="customInput.type === 'DATE'"
                    type="date"
                    formControlName="value"
                    [name]="customInput.placeholder || 'Select ' + customInput.name"
                  />
                </div>

                <div class="add-edit-advance-request--checkbox" *ngIf="customInput.type === 'BOOLEAN'">
                  <label>
                    <mat-checkbox formControlName="value"> {{customInput.name | ellipsis: 35 }} </mat-checkbox>
                  </label>
                </div>

                <div *ngIf="customInput.type === 'LOCATION'">
                  <app-fy-location
                    [label]="customInput.name | ellipsis: 30"
                    [mandatory]="customInput.mandatory"
                    formControlName="value"
                    [placeholder]="customInput.placeholder | ellipsis: 30"
                    [touchedInParent]="fg.controls.custom_field_values['controls'][i].touched"
                    [validInParent]="fg.controls.custom_field_values['controls'][i].valid"
                  >
                  </app-fy-location>
                </div>

                <div *ngIf="customInput.type === 'SELECT'">
                  <app-fy-select
                    [label]="customInput.name | ellipsis: 30"
                    [mandatory]="customInput.mandatory"
                    [options]="customInput.options"
                    formControlName="value"
                    [placeholder]="customInput.placeholder | ellipsis: 30"
                  >
                  </app-fy-select>
                </div>

                <div *ngIf="customInput.type === 'MULTI_SELECT'">
                  <app-fy-multiselect
                    [label]="customInput.name | ellipsis: 30"
                    [mandatory]="customInput.mandatory"
                    [options]="customInput.options"
                    formControlName="value"
                    [placeholder]="customInput.placeholder | ellipsis: 30"
                    [touchedInParent]="fg.controls.custom_field_values['controls'][i].touched"
                    [validInParent]="fg.controls.custom_field_values['controls'][i].valid"
                  >
                  </app-fy-multiselect>
                </div>

                <div *ngIf="customInput.type === 'USER_LIST'">
                  <app-fy-userlist
                    [label]="customInput.name | ellipsis: 30"
                    [mandatory]="customInput.mandatory"
                    formControlName="value"
                    [placeholder]="customInput.placeholder | ellipsis: 30"
                  >
                  </app-fy-userlist>
                </div>
              </form>
            </div>
            <div
              *ngIf="fg.controls.custom_field_values['controls'][i].touched && !fg.controls.custom_field_values['controls'][i].valid"
              class="add-edit-advance-request--mandatory-text"
            >
              Please add {{customInput.name}}.
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </form>
</ion-content>

<ion-footer class="cta-footer" [ngClass]="{'d-none': isCameraPreviewStarted}">
  <ion-toolbar mode="md">
    <div class="add-edit-advance-request--cta-container">
      <ion-buttons>
        <ion-button
          class="btn-secondary"
          *ngIf="advanceActions?.can_save"
          (click)="showAdvanceSummaryPopover()"
          appFormButtonValidation
          [loading]="saveDraftAdvanceLoading"
          [loadingText]="'Saving'"
          [disabled]="saveDraftAdvanceLoading || saveAdvanceLoading"
        >
          Save draft
        </ion-button>
        <ion-button
          class="btn-primary"
          *ngIf="advanceActions?.can_submit"
          (click)="save('Submit')"
          appFormButtonValidation
          [loading]="saveAdvanceLoading"
          [disabled]="saveDraftAdvanceLoading || saveAdvanceLoading"
        >
          Submit Request
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-footer>
