@import '../../../theme/colors.scss';

.add-edit-advance-request {
  &--form {
    padding: 0 16px;
  }

  &--toolbar {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  &--header-btn-container {
    margin-right: 10px;
    &__btn {
      --padding-start: 8px !important;
      --padding-end: 8px !important;
      width: auto !important;
    }
  }

  &--title-sm {
    padding-left: 0;
    font-size: 17px;
  }

  &--header-btn-container-sm {
    margin: 0 !important;
  }

  &--receipt-currency {
    display: flex;
    align-items: flex-start;
  }

  &--receipt-container {
    width: 72px;
    height: 88px;
    border-radius: 6px;
    background: #d8d8d8;
    color: #ababab;
    font-size: 14px;
    font-weight: 500;
    float: left;
    position: relative;
    margin: 12px 16px 0 0;
  }

  &--receipt-text {
    margin-top: 20px;
  }

  &--receipt-image-icon {
    font-size: 32px;
    color: $brand-primary;
    position: absolute;
    left: 20px;
    bottom: -8px;
  }

  &--receipt-spinner-icon {
    font-size: 24px;
    bottom: -8px;
    position: relative;
    margin: 10px 0;
    color: #000;
  }

  &--receipt-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 6px;
  }

  &--receipt-count-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 0, 51, 0.4);
    color: #fff;
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    border-radius: 6px;
  }

  &--receipt-count {
    top: 25px;
    left: 25px;
    position: absolute;
  }

  &--currency {
    margin: 12px 0 0 0;
  }

  &--primary-block {
    margin: 16px 0;
    border-radius: 4px;
  }

  &--internal-block {
    padding: 8px 0;
    background: #fff;
    line-height: 1;
    margin-bottom: 12px;

    &__invalid {
      border-color: $red;
    }
  }

  &--custom-field-internal-block {
    padding: 16px 0;
    background: #fff;
    border: 0;
    line-height: 1;
  }

  &--text {
    border-bottom: 1px solid $grey-lighter;

    &__invalid {
      border-bottom: 1px solid $red;
    }
  }

  &--text-label {
    margin: 0 8px 0 0;
    max-width: 90%;
    min-width: 120px;
    font-size: 12px;
    color: $black-light;
    line-height: 16px;
    white-space: nowrap;
    font-weight: 400;
  }

  &--text-input {
    border: 0;
    font-size: 14px;
    font-weight: 400;
    height: 18px;
    line-height: 18px;
    color: $blue-black;
    width: 100%;
    padding: 0;
    margin: 6px 0 !important;
  }

  &--checkbox {
    color: $blue-black;
  }

  &--date-input {
    border: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 0;
    margin: 6px 0;
    height: 18px;
  }

  &--additional-notes-label {
    min-width: 170px;
  }

  &--additional-notes-input {
    max-width: calc(100% - 170px);
  }

  &--mandatory-text {
    color: $red;
    line-height: 16px;
    margin-top: -16px;
    font-size: 12px;
  }

  &--mandatory {
    color: $brand-primary;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
  }

  &--amount-error {
    color: $red;
    font-size: 12px;
    margin: -8px 0 0 44%;
  }

  &--primary-cta {
    height: 48px;
    width: 100%;
    --border-radius: 4px !important;
    text-transform: inherit;
  }

  &--cta-container {
    height: 80px;
    padding: 14px 16px;
    justify-content: space-between;
  }

  &--receipt-currency-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }

  &--receipt {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    color: $gray-3;
    margin: 12px 12px 0 0;
    height: 64px;
  }

  &--receipt-image {
    background-color: $light-grey;
    min-width: 64px;
    min-height: 64px;
    max-width: 64px;
    max-height: 88px;
    border-radius: 16px;
    position: relative;
  }

  &--spinner-icon {
    margin-top: 12px;
    color: $brand-primary;
  }

  &--receipt-image-subheader {
    font-size: 8px;
  }

  &--receipt-image-icon {
    color: $brand-primary;
    height: 36px;
    width: 34px;
    position: relative;
    top: 24%;
    left: 5px;
  }

  &--receipt-background {
    position: absolute;
    top: 24%;
    left: 16px;
    font-size: 64px;
    height: 36px;
    width: 34px;
    background-color: $light-grey;
    border-radius: 16px;
  }

  &--receipt-text {
    position: relative;
    padding-top: 10px;
    padding-bottom: 6px;
    &__count {
      color: $blue-black;
      font-size: 24px;
      font-weight: 400;
      padding-top: 24px;
    }
  }

  &--receipt-add-more-icon {
    top: 2%;
    left: 4%;
    font-size: 24px;
  }
}
