.add-edit-advance-request {
  &--form {
    padding: 0 16px;
  }

  &--toolbar {
    border-bottom: 1px solid #e0e0e0;
  }

  &--actions {
    padding: 0 16px;
  }

  &--receipt-currency {
    display: flex;
    align-items: flex-start;
  }

  &--receipt-container {
    width: 72px;
    height: 88px;
    border-radius: 6px;
    background: #d8d8d8;
    color: #ababab;
    font-size: 14px;
    font-weight: 500;
    float: left;
    position: relative;
    margin: 12px 16px 0 0;

  }

  &--receipt-text {
    margin-top: 20px;
  }

  &--receipt-image-icon {
    font-size: 32px;
    color: #ff3366;
    position: absolute;
    left: 20px;
    bottom: -8px;
  }

  &--receipt-spinner-icon {
    font-size: 24px;
    bottom: -8px;
    position: relative;
    margin: 10px 0;
    color: #000;
  }

  &--receipt-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 6px;
  }

  &--receipt-count-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 0, 51, 0.4);
    color: #fff;
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    border-radius: 6px;
  }

  &--receipt-count {
    top: 25px;
    left: 25px;
    position: absolute;
  }

  &--currency {
    margin: 12px 0;
    width: calc(100% - 88px);
  }

  &--primary-block {
    margin: 16px 0;
    padding: 0 16px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
  }

  &--internal-block {
    padding: 16px 0;
    background: #fff;
    border: 0;
    line-height: 1;
    border-bottom: 1px solid #e0e0e0;
    &:last-child {
      border-bottom: 0;
    }
  }

  &--custom-field-internal-block {
    padding: 16px 0;
    background: #fff;
    border: 0;
    line-height: 1;
    border-bottom: 1px solid #e0e0e0;
    &:last-child {
      border-bottom: 0;
    }
  }

  &--text {
    display: flex;
    align-items: center;
  }

  &--text-label {
    margin: 0 8px 0 0;
    font-size: 16px;
    color: #ababab;
    font-weight: 500;
    line-height: 2;
    white-space: nowrap;
    display: flex;
    min-width: 120px;
    max-width: 120px;
    &__invalid {
      color: red;
    }
  }

  &--text-input {
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    height: 24px;
    max-width: calc(100% - 120px);
  }

  &--checkbox {
    font-size: 16px;
    color: #ababab;
    font-weight: 500;
  }

  &--date-input {
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    height: 24px;
    text-align: right;
    background: transparent;
  }

  &--additional-notes-label {
    min-width: 170px;
  }

  &--additional-notes-input {
    max-width: calc(100% - 170px);
  }

  &--mandatory-text {
    color: #f00;
  }

  &--primary-cta {
    height: 48px;
    width: 100%;
    --border-radius: 4px !important;
  }

  &--common-action-block {
    display: flex;
    padding: 4px 0;
    align-items: center;

    p {
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      margin: 0 0 0 16px;
      color: #0077ee;
    }

    mat-icon {
      font-size: 24px;
      color: #ababab;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &--cta-container {
    height: 80px;
    padding: 16px;
    justify-content: space-between;
  }
}
