<ion-header mode="md">
  <ion-toolbar mode="md" class="fy-modal-toolbar verify-number-popover__toolbar">
    <ion-title class="text-center">
      <div class="verify-number-popover__toolbar__title">{{ 'verifyNumberPopover.title' | transloco }}</div>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon src="../../../../assets/svg/arrow-left.svg" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <button
        class="verify-number-popover__toolbar__btn"
        (click)="verifyOtp()"
        appFormButtonValidation
        buttonType="secondary"
        [loading]="verifyingOtp"
        loadingText=" "
      >
        {{ 'verifyNumberPopover.verifyButton' | transloco }}
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="verify-number-popover__input-container">
  <div class="verify-number-popover__input-container__info-box">
    <app-fy-alert-info type="information" [message]="infoBoxText"></app-fy-alert-info>
  </div>
  <div class="verify-number-popover__input-container__label">
    <div>
      <span> {{ 'verifyNumberPopover.otpLabel' | transloco }} </span>
      <span class="verify-number-popover__input-container__mandatory"> * </span>
    </div>
    <ng-container *ngIf="showOtpTimer; else resendOtpCta">
      <span class="verify-number-popover__input-container__label__otp-timer">
        {{ 'verifyNumberPopover.resendTimerPrefix' | transloco }}
        <span class="verify-number-popover__input-container__label__otp-timer--timer"
          >0:{{ otpTimer | number : '2.0' }}</span
        >
      </span>
    </ng-container>
    <ng-template #resendOtpCta>
      <button
        *ngIf="!disableResendOtp"
        class="verify-number-popover__input-container__label__resend"
        (click)="resendOtp('CLICK')"
        appFormButtonValidation
        buttonType="secondary"
        [loading]="sendingOtp"
        [loadingText]="'verifyNumberPopover.resendButtonLoading' | transloco"
      >
        {{ 'verifyNumberPopover.resendButton' | transloco }}
      </button>
      <!-- TODO: Handle this case in directive and fix it property -->
      <div *ngIf="disableResendOtp" class="verify-number-popover__input-container__label__resend--disabled">
        {{ 'verifyNumberPopover.resendButton' | transloco }}
      </div>
    </ng-template>
  </div>
  <input
    #input
    matInput
    [(ngModel)]="value"
    class="verify-number-popover__input-container__input smartlook-show"
    [placeholder]="'verifyNumberPopover.otpPlaceholder' | transloco"
    type="text"
    inputmode="numeric"
    autocomplete="one-time-code"
    maxlength="6"
    (focus)="onFocus()"
  />
  <span *ngIf="error?.length" class="verify-number-popover__input-container__error">{{ error }}</span>
</div>
