<ion-header mode="md">
  <ion-toolbar class="advance-request--toolbar">
    <ion-buttons mode="md" slot="start">
      <app-fy-menu-icon class="advance-request--menubutton" auto-hide="false"></app-fy-menu-icon>
    </ion-buttons>
    <ion-title mode="md" class="page-title">Team advances</ion-title>
    <ion-buttons mode="md" slot="end">
      <ion-button class="advance-request--header-btn" (click)="openFilters()">
        @if (filterPills?.length) {
          <ion-icon slot="icon-only" src="../../../assets/svg/filter-applied.svg"></ion-icon>
        } @else {
          <ion-icon slot="icon-only" src="../../../assets/svg/filter.svg"></ion-icon>
        }
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="advance-request--content">
  @if (filterPills?.length) {
    <div class="filter-pills-container">
      <app-fy-filter-pills
        class="filter-pills"
        (filterClose)="onFilterClose($event)"
        (filterClicked)="onFilterClick($event)"
        (clearAll)="onFilterPillsClearAll()"
        [filterPills]="filterPills"
      ></app-fy-filter-pills>
    </div>
  }
  @if (isLoading) {
    <app-fy-loading-screen></app-fy-loading-screen>
  }
  @if (count$ | async) {
    <div class="advance-request--body">
      <ion-refresher slot="fixed" (ionRefresh)="changeState($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      @if (!isLoading) {
        @let teamAdvancerequests = teamAdvancerequests$ | async;
        @for (teamAdvancerequest of teamAdvancerequests; track teamAdvancerequest.areq_id; let i = $index) {
          <app-team-adv-card
            [advanceRequest]="teamAdvancerequest"
            [prevDate]="teamAdvancerequests[i - 1]?.areq_created_at"
            (gotoAdvance)="onAdvanceClick($event)"
          >
          </app-team-adv-card>
        }
      }
    </div>
  } @else {
    @if ((teamAdvancerequests$ | async)?.length === 0 && !isLoading) {
      <div class="advance-request--zero-state">
        @if (!(filters?.state || filters?.sortParam || filters?.sortDir)) {
          <app-fy-zero-state
            [unscaledImage]="true"
            [useNewStyling]="true"
            image="../../../assets/svg/zero-states/advances.svg"
            message="Your have no team advances right now"
          ></app-fy-zero-state>
        }
        @if (filters?.state || filters?.sortParam || filters?.sortDir) {
          <app-fy-zero-state
            [unscaledImage]="true"
            [useNewStyling]="true"
            image="../../../assets/svg/zero-states/advances.svg"
            message="Your have no team advances"
            submessage="matching the applied filters"
          ></app-fy-zero-state>
        }
      </div>
    }
  }

  @if (isInfiniteScrollRequired$ | async) {
    <ion-infinite-scroll threshold="100px" (ionInfinite)="changeState($event, true)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  }
</ion-content>

<ion-footer>
  <app-fy-footer
    (homeClicked)="onHomeClicked()"
    (taskClicked)="onTaskClicked()"
    (cameraClicked)="onCameraClicked()"
    [taskCount]="totalTaskCount"
  ></app-fy-footer>
</ion-footer>
