$item-border-color: #e0e0e0;
$background-color: #fff;
$menu-botton-color: #000;
$toolbar-border: #ababab6b;

.advance-request {
  &--toolbar {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  &--header {
    background-color: $background-color;
    border-bottom: 1px solid $item-border-color;
  }

  &--menubutton {
    color: $menu-botton-color;
  }

  &--title {
    line-height: 1.3;
    color: $menu-botton-color;
  }

  &--zero-state {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &--option {
    font-weight: normal;
    color: #0077ee;
    font-size: 16px;
  }

  &--select-state {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 120px;
  }

  &--select-state-checkbox {
    margin-right: 8px;
  }
}
