<ion-header mode="md">
  <ion-toolbar class="advance-request--toolbar">
    <ion-buttons mode="md" slot="start">
      <app-fy-menu-icon class="advance-request--menubutton" auto-hide="false"></app-fy-menu-icon>
    </ion-buttons>
    <ion-title mode="md" class="page-title"> Team Advance Requests </ion-title>
    <ion-buttons mode="md" slot="end">
      <ion-button class="advance-request--header-btn" (click)="openFilters()">
        <ng-container *ngIf="filterPills?.length; else noFilterAppliedIcon">
          <ion-icon slot="icon-only" src="../../../assets/svg/fy-applied-filter.svg"></ion-icon>
        </ng-container>
        <ng-template #noFilterAppliedIcon>
          <ion-icon slot="icon-only" src="../../../assets/svg/fy-unapplied-filter.svg"></ion-icon>
        </ng-template>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="filterPills?.length">
    <div class="filter-pills-container">
      <app-fy-filter-pills
        class="filter-pills"
        (filterClose)="onFilterClose($event)"
        (filterClicked)="onFilterClick($event)"
        (clearAll)="onFilterPillsClearAll()"
        [filterPills]="filterPills"
      ></app-fy-filter-pills>
    </div>
  </ng-container>
  <app-fy-loading-screen *ngIf="isLoading"></app-fy-loading-screen>
  <div *ngIf="count$|async; else zeroState">
    <ion-refresher slot="fixed" (ionRefresh)="changeState($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ng-container *ngIf="!isLoading">
      <div *ngFor="let teamAdvancerequest of teamAdvancerequests$ | async as list; let i=index">
        <app-team-adv-card
          [advanceRequest]="teamAdvancerequest"
          [prevDate]="list[i-1]?.areq_created_at"
          (gotoAdvance)="onAdvanceClick($event)"
        >
        </app-team-adv-card>
      </div>
    </ng-container>
  </div>

  <ng-template #zeroState>
    <div class="advance-request--zero-state" *ngIf="(teamAdvancerequests$ | async)?.length === 0 && !isLoading">
      <app-fy-zero-state
        [unscaledImage]="true"
        [useNewStyling]="true"
        image="../../../assets/images/zero-states/expenses.png"
        header="Nothing here, grab a coffee maybe?"
        message="Advances that need your approval will show up here."
      ></app-fy-zero-state>
    </div>
  </ng-template>

  <ion-infinite-scroll
    *ngIf="isInfiniteScrollRequired$ | async"
    threshold="100px"
    (ionInfinite)="changeState($event, true)"
  >
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <app-fy-footer
    (homeClicked)="onHomeClicked()"
    (taskClicked)="onTaskClicked()"
    (cameraClicked)="onCameraClicked()"
    [taskCount]="totalTaskCount"
  ></app-fy-footer>
</ion-footer>
