$item-border-color: #e0e0e0;
$background-color: #fff;
$menu-botton-color: #000;
$toolbar-border: #ababab6b;

.advance-request {
  &--header {
    background-color: $background-color;
    border-bottom: 1px solid $item-border-color;
  }

  &--menubutton {
    color: $menu-botton-color;
  }

  &--title {
    line-height: 1.3;
    color: $menu-botton-color;
  }
}
