/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "assets/fonts/font.css";
@import "theme/colors";

$header-input-interior: #eeeeee;
$black: #000;

:root {
  --ion-color-fyle-primary: #ff3366;
  --ion-color-fyle-primary-rgb: 255, 51, 102;
  --ion-color-fyle-primary-contrast: #ffffff;
  --ion-color-fyle-primary-contrast-rgb: 255, 255, 255;
  --ion-color-fyle-primary-shade: #e02d5a;
  --ion-color-fyle-primary-tint: #ff4775;
  --ion-font-family: 'aktiv-grotesk', 'Lato', sans-serif;
  --ion-color-fyle-sidenav-bg: #161528;
}

body {
  font-family: "aktiv-grotesk", "Lato", sans-serif !important;
}

.ion-color-fyle-primary {
  --ion-color-base: var(--ion-color-fyle-primary);
  --ion-color-base-rgb: var(--ion-color-fyle-primary-rgb);
  --ion-color-contrast: var(--ion-color-fyle-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fyle-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-fyle-primary-shade);
  --ion-color-tint: var(--ion-color-fyle-primary-tint);
}

input:focus, textarea:focus{
  outline: none !important;
}

.error-popover {
  .popover-wrapper {
    .popover-content {
      top: 72% !important;
      left: 0 !important;
      height: 28%;
      width: 100%;
      border-radius: 0;
    }
  }
}

.dialog-popover {
  .popover-wrapper {
    .popover-content {
      bottom: 0 !important;
      top: auto !important;
      left: 0 !important;
      height: auto;
      width: 100%;
      border-radius: 0;
    }
  }

  .popover-viewport {
    height: 100%;
    &.sc-ion-popover-ios {
      padding-bottom: env(safe-area-inset-bottom);
    }
  }
}

.modal-wrapper {
  &.sc-ion-modal-ios {
    margin-bottom: env(safe-area-inset-bottom);
  }
}

.search-sort-popover {
  .popover-wrapper {
    .popover-content {
      top: 20% !important;
      left: 0 !important;
      height: 80%;
      width: 100%;
      border-radius: 0;
    }
  }
}

.get-started-popup {
  .popover-wrapper {
    .popover-content {
      top: 25% !important;
      left: 15% !important;
      width: 280px;
      background: #fff;
    }
  }
}

.split-expense-popover {
  .popover-wrapper {
    .popover-content {
      top: auto !important;
      left: 0 !important;
      width: 100%;
      bottom: 0;
      background: #fff;
    }
  }
}

.gallery-upload-success-popover {
  .popover-wrapper {
    .popover-content {
      top: 78% !important;
      left: 0 !important;
      height: 22%;
      width: 100%;
      border-radius: 0;
    }
  }

  .popover-viewport {
    height: 100%;
  }
}

.camera-options-popover {
  .popover-wrapper {
    .popover-content {
      top: 85% !important;
      left: 0 !important;
      height: 15%;
      width: 100%;
      border-radius: 0;
    }
  }

  .popover-viewport {
    height: 100%;
  }
}

.switch-org--form-field {
  .mat-form-field-wrapper {
    padding: 0;
  }
}

.delegated--form-field {
  .mat-form-field-wrapper {
    padding: 0;
  }
}

.header-md::after {
  background-image: none;
}

.switch-org--form-field .mat-form-field-wrapper {
  background-color: $header-input-interior;
}

.delegated--form-field .mat-form-field-wrapper {
  background-color: $header-input-interior;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.small {
  font-size: 12px;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.full-width {
  width: 100% !important;
}

.mat-form-field-no-padding {
  .mat-form-field-wrapper {
    padding: 0;
  }
}

.flat-button {
  --box-shadow: none;
}

.highlight-info {
  background-color: rgba(255, 153, 0, 0.25);
  color: #ff9900;
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
}

.ios .trip-card--cities-container-city::before {
  left: -18px !important;
  top: -2px !important;
  font-size: 28px !important;
}

.ios .stats--background {
  min-height: calc(360px + constant(safe-area-inset-top)) !important;
  min-height: calc(360px + env(safe-area-inset-top)) !important;
}

@mixin loader {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.primary-loader {
  @include loader;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #a4a4a4;
}

.secondary-loader {
  @include loader;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #FF3366;
}

.disabled {
  opacity: 0.2;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.page-title {
  font-weight: 700;
  line-height: 1.3;
}

mat-checkbox {
  .mat-checkbox-layout {
    .mat-checkbox-inner-container {
      padding: 8px !important;
    }
  }
}

mat-tab-group {
  .mat-tab-list {
    .mat-tab-labels {
      display: flex;
    }
  }
}

textarea, input {
  background-color: transparent;
}

.signin-signup-fields {
  .mat-form-field-flex {
    padding: 6px 24px !important;
  }
}

.expense-report-search {
  width: 100%;

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding-top: 0 !important;
    padding-bottom: 6px !important;
  }
}

.switch-org-search {
  width: 100%;
  padding: 0 10px;

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding-top: 0 !important;
    padding-bottom: 6px !important;
  }
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.3em 0 1em 0;
}

.selection-modal--form-field {
  .mat-form-field-wrapper {
    border: 1px solid $grey-lighter;
    border-radius: 4px;
    height: 40px;
  }
}

.approver-list--form-field {
  .mat-form-field-wrapper {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px !important;
  }
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: 45%;
  --bullet-background-active: #cbc8c8;
}

.no-keyboard-adjust {
  --keyboard-offset: 0 !important;
}

.mat-radio-button {
  &.mat-radio-checked {
    .mat-radio-outer-circle {
      border-color: #1978f7 !important;
    }

    .mat-radio-label-content {
      color: #f36;
    }
  }
   .mat-radio-inner-circle {
    background-color: #1978f7 !important;
  }

  .mat-ripple-element {
    background-color: #fff !important;
  }
}

.switch-org--form-field, .delegated--form-field {
  .mat-form-field-wrapper {
    border-radius: 4px;
  }

  .mat-form-field-outline-start, .mat-form-field-outline-end {
    border: none !important;
    border-radius: 4px;
  }
}

.ccc-popup {
  .fy-popup {
    &--header {
      border-bottom: 1px solid #D8D8D8;
      height: 64px;
      &-text {
        font-size: 18px !important;
        font-weight: 700 !important;
      }
    }

    &--body {
      color: #4a4a4a !important;
      line-height: 1.5 !important;
      font-size: 14px !important;
      padding: 16px !important;
    }

    &--button {
      text-transform: capitalize !important;
      font-weight: 500 !important;
      height: 40px !important;
      font-size: 14px !important;
    }
  }
}

.other-details--container {
  mat-tab-group {
    .mat-tab-body-content {
      overflow-x: hidden;
    }
  }
}

input[type="date"] {
  -webkit-appearance: none;
  width: 100%;
}

input[type="date"]::after {
  font-family: 'Material Icons';
  content: 'date_range' !important;
  -webkit-font-feature-settings: 'liga';
  margin-left: auto;
  width: auto !important;
}

#fc_frame {
  display: none;
  padding-top: constant(safe-area-inset-top); /*for iOS 11.2 and above*/
  padding-top: env(safe-area-inset-top); /*for iOS 11.1*/
  padding-bottom: constant(safe-area-inset-bottom); /*for iOS 11.2 and above*/
  padding-bottom: env(safe-area-inset-bottom); /*for iOS 11.1*/
}

.button-outline {
  --border-width: 1px;
}
/*
using this class for all input type of date, the input value will be showin in format dd/mm/yyy by default
and hiding the default value and showing the desired formatted value set by format-date.directive -
value set to date-date attribute.
ref - https://stackoverflow.com/a/31162426
*/
.date-input {
  &__format{
    position: relative;
    color: transparent;

    &::before {
      position: absolute;
      left: 4px;
      content: attr(data-date);
      display: inline-block;
      color: $black;
    }

    &::after {
      color: $black;
    }

    &::-webkit-datetime-edit, &::-webkit-inner-spin-button, &::-webkit-clear-button {
      display: none;
    }

    &::-webkit-calendar-picker-indicator {
      position: absolute;
      right: 12px;
    }
  }
}

.fy-action-sheet {
  --background: none;
  .action-sheet-button {
    background: $white;
    min-height: 73px;
    margin-inline-end: 16px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: 16px;
  }

  .action-sheet-icon {
    fill: $grey-light;
    margin-inline-end: 16px;
  }

  .capture-receipt {
    stroke: $grey-light;
  }

  .action-sheet-title {
    background: $white;
    border-radius: 16px 16px 0 0;
    height: 40px;
    padding: 24px 16px 16px 24px;
    font-size: 12px;
    --color: $grey-light;
    color: $grey-light;
    font-weight: 500;
  }

  .action-sheet-button-inner {
    border-bottom: 1px solid $translucent-grey;
  }
}

.dashboard {
  &--tabs {
    .mat-tab-header {
      display: none;
    }
  }
  &--refresher {
    .refresher-refreshing-icon {
      margin-top: 200px !important;
      .spinner-circular {
        --ion-color-primary: #{$primary};
      }
    }
  }
}

.fy-modal {
  .modal-wrapper {
    --border-radius: 16px 16px 0 0 !important;
    max-height: 90%;
    position: absolute;
    top: 10%;
  }

  .modal-shadow{
    display: none;
  }
}

.fy-modal-top-bar {
  width: 52px !important;
  height: 4px !important;
  display: flex !important;
  margin: 16px auto 0 auto;
}

.fy-icon-close {
  height: 20px !important;
  width: 20px !important;
}

.fy-modal-toolbar {
  border-bottom: 1px solid $grey-lighter;
  margin-bottom: 8px;
  padding-top: 0 !important;
}
