/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$header-input-interior: #eeeeee;

:root {
  --ion-color-fyle-primary: #ff3366;
  --ion-color-fyle-primary-rgb: 255, 51, 102;
  --ion-color-fyle-primary-contrast: #ffffff;
  --ion-color-fyle-primary-contrast-rgb: 255, 255, 255;
  --ion-color-fyle-primary-shade: #e02d5a;
  --ion-color-fyle-primary-tint: #ff4775;
}

.ion-color-fyle-primary {
  --ion-color-base: var(--ion-color-fyle-primary);
  --ion-color-base-rgb: var(--ion-color-fyle-primary-rgb);
  --ion-color-contrast: var(--ion-color-fyle-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fyle-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-fyle-primary-shade);
  --ion-color-tint: var(--ion-color-fyle-primary-tint);
}

input:focus, textarea:focus{
  outline: none !important;
}

.error-popover {
  .popover-wrapper {
    .popover-content {
      top: 72% !important;
      left: 0 !important;
      height: 28%;
      width: 100%;
      border-radius: 0;
    }
  }
}

.dialog-popover {
  .popover-wrapper {
    .popover-content {
      bottom: 0 !important;
      top: auto !important;
      left: 0 !important;
      height: auto;
      width: 100%;
      border-radius: 0;
    }
  }

  .popover-viewport {
    height: 100%;
  }
}

.search-sort-popover {
  .popover-wrapper {
    .popover-content {
      top: 20% !important;
      left: 0 !important;
      height: 80%;
      width: 100%;
      border-radius: 0;
    }
  }
}

.split-expense-popover {
  .popover-wrapper {
    .popover-content {
      top: auto !important;
      left: 0 !important;
      width: 100%;
      bottom: 0;
      background: #fff;
    }
  }
}

.camera-options-popover {
  .popover-wrapper {
    .popover-content {
      top: 80% !important;
      left: 0 !important;
      height: 20%;
      width: 100%;
      border-radius: 0;
    }
  }

  .popover-viewport {
    height: 100%;
  }
}

.switch-org--form-field {
  .mat-form-field-wrapper {
    padding: 0;
  }
}

.header-md::after {
  background-image: none;
}

.switch-org--form-field .mat-form-field-wrapper {
  background-color: $header-input-interior;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.small {
  font-size: 12px;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.full-width {
  width: 100% !important;
}

.mat-form-field-no-padding {
  .mat-form-field-wrapper {
    padding: 0;
  }
}

.flat-button {
  --box-shadow: none;
}

.highlight-info {
  background-color: rgba(255, 153, 0, 0.25);
  color: #ff9900;
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
}

.ios .trip-card--cities-container-city::before {
  left: -19px !important;
  top: -2px !important;
  font-size: 28px !important;
}

.page-title {
  font-size: 24px;
  font-weight: 700;
  padding: 0 14px;
  line-height: 3;
}

mat-checkbox {
  .mat-checkbox-layout {
    .mat-checkbox-inner-container {
      padding: 8px !important;
    }
  }
}

mat-tab-group {
  .mat-tab-list {
    .mat-tab-labels {
      display: flex;
    }
  }
}

input[type="date"] {
  background: white;
}

.expense-report-search {
  width: 100%;

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding-top: 0 !important;
    padding-bottom: 6px !important;
  }
}
