<ion-header mode="md">
  <ion-toolbar class="view-expense--toolbar">
    <ion-buttons *ngIf="this.reportId" mode="md" slot="start">
      <ion-button (click)="goBack()">
        <ion-icon [src]="'../../../../assets/svg/arrow-left.svg'" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title
      mode="md"
      class="page-title"
      [ngClass]="{'view-expense--title': reportExpenseCount > 1, 'pl-0': isDeviceWidthSmall}"
      >View Expense
      <p class="view-expense--subtitle" *ngIf="reportExpenseCount > 1">
        Showing {{ activeExpenseIndex + 1 }} of {{ reportExpenseCount }} expenses
      </p>
    </ion-title>
    <ion-buttons class="view-expense--header-btn-container" slot="end">
      <ion-button class="view-expense--header-btn-container__btn" (click)="openCommentsModal()">
        <ion-icon [src]="'../../../assets/svg/fy-chat-2.svg'" slot="icon-only"></ion-icon>
      </ion-button>

      <ng-container *ngIf="view === ExpenseView.team && canFlagOrUnflag$|async">
        <ng-container *ngIf="expense$|async as expense">
          <ion-button
            class="view-expense--header-btn-container__btn"
            (click)="flagUnflagExpense(expense.is_manually_flagged)"
            [ngClass]="expense.is_manually_flagged ? 'icon--flagged' : 'icon--unflagged'"
          >
            <ion-icon [src]="'../../../assets/svg/fy-flag-2.svg'" slot="icon-only"></ion-icon>
          </ion-button>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="view === ExpenseView.team && canDelete$|async">
        <ion-button class="view-expense--header-btn-container__btn" (click)="removeExpenseFromReport()">
          <ion-icon [src]="'../../../assets/svg/fy-delete.svg'" slot="icon-only"></ion-icon>
        </ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!isLoading; else loading">
    <div *ngIf="expense$|async as expense" class="view-expense--container">
      <ng-container *ngIf="expense.is_policy_flagged">
        <ng-container *ngIf="policyDetails">
          <app-fy-policy-violation-info
            [policyDetails]="policyDetails"
            [criticalPolicyViolated]="isCriticalPolicyViolated$|async"
          ></app-fy-policy-violation-info>
        </ng-container>
      </ng-container>

      <div class="view-expense--policy-container" *ngIf="(isAmountCapped$|async) && !(isCriticalPolicyViolated$|async)">
        <span class="info-text m-0">
          Claimed amount {{ expense.claim_amount | currency:expense.currency: 'symbol-narrow' }} was capped to {{
          expense.amount | currency:expense.currency: 'symbol-narrow'}} due to policy.
        </span>
      </div>

      <div *ngIf="isSplitExpense" class="view-expense--alert-split">
        <app-fy-alert-info [message]="'Expense created due to split.'" [type]="'information'"></app-fy-alert-info>
      </div>

      <div class="view-expense--card-container">
        <div class="d-flex">
          <div class="view-expense--card-container__block">
            <div class="view-expense--card-container__category">{{ expense.category.display_name }}</div>
            <div class="view-expense--card-container__merchant">{{ expense.merchant || '-' }}</div>
            <div *ngIf="isProjectShown" class="view-expense--card-container__project">
              {{ projectFieldName | titlecase }}: {{ expense.project?.name || '-' }}
            </div>
            <div *ngIf="isCCCTransaction && cardNumber">Card Number: {{ cardNumber | maskNumber }}</div>
          </div>

          <div class="ion-text-right view-expense--card-container__block">
            <div class="view-expense--card-container__amount-section">
              <span class="view-expense--card-container__currency">{{ expenseCurrencySymbol }}</span>
              <span class="view-expense--card-container__amount">
                {{ expense.amount | humanizeCurrency: expense.currency:true }}
              </span>
              <div *ngIf="isCCCTransaction">
                <div
                  class="view-expense--card-container__txn-type"
                  [ngClass]="{'view-expense--card-container__credit': expense.amount < 0}"
                >
                  {{ expense.amount > 0 ? 'DR' : 'CR' }}
                </div>
              </div>
              <ion-icon
                class="view-expense--card-container__icon"
                [src]="'../../../assets/svg/' + paymentModeIcon + '.svg'"
              ></ion-icon>
            </div>

            <div *ngIf="foreignCurrencySymbol" class="view-expense--card-container__exchange-rate">
              {{ expense.foreign_amount | humanizeCurrency: expense.foreign_currency }} at {{ expense.amount /
              expense.foreign_amount | currency: expense.currency: 'symbol-narrow' }}
            </div>

            <div
              class="view-expense--card-container__state-pill ion-text-right"
              [ngClass]="{'view-expense--card-container__no-exchange': !foreignCurrencySymbol && isProjectShown}"
            >
              <div class="state-pill state-{{expense.state | expenseState}}">
                {{ expense.state | expenseState : isNewReportsFlowEnabled | snakeCaseToSpaceCase | titlecase }}
              </div>
            </div>
          </div>
        </div>

        <ng-container *ngIf="isCCCTransaction && isRTFEnabled">
          <div
            *ngIf="expense.matched_corporate_card_transactions[0]?.status as transactionStatus"
            class="view-expense--card-container__transaction-status"
          >
            <app-transaction-status
              [transactionStatus]="transactionStatus"
              (statusClick)="openTransactionStatusInfoModal($event)"
            ></app-transaction-status>
          </div>
        </ng-container>
      </div>

      <ng-container *ngIf="attachments$|async as attachments">
        <app-receipt-preview-thumbnail
          *ngIf="attachments.length > 0; else noAttachment"
          [attachments]="attachments"
          (viewAttachments)="viewAttachments()"
          [canEdit]="false"
        >
        </app-receipt-preview-thumbnail>
      </ng-container>

      <ng-template #noAttachment>
        <ion-grid class="view-expense--grid">
          <ion-row>
            <ion-col class="view-expense--icon-container">
              <div class="view-expense--icon-container__background">
                <ion-icon
                  class="view-expense--icon-container__icon-lg"
                  src="../../../assets/svg/no-attachment.svg"
                ></ion-icon>
              </div>
            </ion-col>
            <ion-col class="view-expense--content-container">
              <div class="view-expense--label">Receipt</div>
              <div class="view-expense--value">Not Attached</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-template>

      <ion-grid class="view-expense--grid">
        <ion-row>
          <ion-col class="view-expense--icon-container">
            <div class="view-expense--icon-container__background">
              <ion-icon class="view-expense--icon-container__icon" src="../../../assets/svg/fy-report.svg"></ion-icon>
            </div>
          </ion-col>
          <ion-col class="view-expense--content-container">
            <div class="view-expense--label">Report Name</div>
            <div class="view-expense--value">{{ expense.report?.title }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="view === ExpenseView.team" class="view-expense--grid">
        <ion-row>
          <ion-col class="view-expense--icon-container">
            <div class="view-expense--icon-container__background">
              <ion-icon class="view-expense--icon-container__icon" src="../../../assets/svg/profile.svg"></ion-icon>
            </div>
          </ion-col>
          <ion-col class="view-expense--content-container">
            <div class="view-expense--label">Employee</div>
            <div class="view-expense--value">{{ expense.user.full_name }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid class="view-expense--grid">
        <ion-row>
          <ion-col class="view-expense--icon-container">
            <div class="view-expense--icon-container__background">
              <ion-icon class="view-expense--icon-container__icon-lg" src="../../../assets/svg/list.svg"></ion-icon>
            </div>
          </ion-col>
          <ion-col class="view-expense--content-container">
            <div class="view-expense--label">Expense ID</div>
            <div class="view-expense--value">{{ expense.seq_num }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="view-expense--divider"></div>

      <ion-grid class="view-expense--grid">
        <ion-row>
          <ion-col size="6">
            <ion-grid>
              <ion-row>
                <ion-col class="view-expense--icon-container">
                  <div class="view-expense--icon-container__background">
                    <ion-icon
                      class="view-expense--icon-container__icon-stroke-lg"
                      src="../../../assets/svg/fy-calendar.svg"
                    ></ion-icon>
                  </div>
                </ion-col>
                <ion-col class="view-expense--content-container">
                  <div class="view-expense--label">Created Date</div>
                  <div class="view-expense--value">{{ expense.created_at | date: 'MMM dd, YYYY' }}</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col *ngIf="expense.spent_at">
            <ion-grid>
              <ion-row>
                <ion-col class="view-expense--icon-container">
                  <div class="view-expense--icon-container__background">
                    <ion-icon
                      class="view-expense--icon-container__icon-stroke-lg"
                      src="../../../assets/svg/fy-calendar.svg"
                    ></ion-icon>
                  </div>
                </ion-col>
                <ion-col class="view-expense--content-container">
                  <div class="view-expense--label">Spend Date</div>
                  <div class="view-expense--value">{{ expense.spent_at | date: 'MMM dd, YYYY' }}</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid class="view-expense--grid">
        <ion-row>
          <ion-col class="view-expense--icon-container">
            <div class="view-expense--icon-container__background">
              <ion-icon
                class="view-expense--icon-container__icon-lg"
                [src]="'../../../assets/svg/' + (paymentModeIcon === 'fy-matched' ? 'fy-unmatched' : paymentModeIcon) + '.svg'"
              ></ion-icon>
            </div>
          </ion-col>
          <ion-col class="view-expense--content-container">
            <div class="view-expense--label">Payment Mode</div>
            <div class="view-expense--value">{{ paymentMode }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="isCCCTransaction" class="view-expense--grid">
        <ion-row>
          <ion-col class="view-expense--icon-container">
            <div class="view-expense--icon-container__background">
              <ion-icon
                class="view-expense--icon-container__icon-lg"
                src="../../../assets/svg/fy-unmatched.svg"
              ></ion-icon>
            </div>
          </ion-col>
          <ion-col class="view-expense--content-container">
            <div class="view-expense--label">Card Transaction</div>
            <div class="view-expense--value">
              <ng-container
                *ngIf="expense.matched_corporate_card_transactions[0] as matchedTransaction; else NoMatchingTxn"
              >
                {{ (matchedTransaction.description || matchedTransaction.merchant) | ellipsis:20}}
              </ng-container>
              <ng-template #NoMatchingTxn> No matching card transaction </ng-template>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="expense.purpose" class="view-expense--grid">
        <ion-row>
          <ion-col class="view-expense--icon-container">
            <div class="view-expense--icon-container__background">
              <ion-icon class="view-expense--icon-container__icon-lg" src="../../../assets/svg/list.svg"></ion-icon>
            </div>
          </ion-col>
          <ion-col class="view-expense--content-container">
            <div class="view-expense--label">Purpose</div>
            <div class="view-expense--value">{{ expense.purpose }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="expense.tax_group?.name" class="view-expense--grid">
        <ion-row>
          <ion-col class="view-expense--icon-container">
            <div class="view-expense--icon-container__background">
              <ion-icon
                class="view-expense--icon-container__icon-lg"
                src="../../../assets/svg/fy-reimbursable.svg"
              ></ion-icon>
            </div>
          </ion-col>
          <ion-col class="view-expense--content-container">
            <div class="view-expense--label">Tax Group</div>
            <div class="view-expense--value">{{ expense.tax_group?.name }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid
        *ngIf="orgSettings?.tax_settings?.enabled && orgSettings?.tax_settings?.name"
        class="view-expense--grid"
      >
        <ion-row>
          <ion-col class="view-expense--icon-container">
            <div class="view-expense--icon-container__background">
              <ion-icon
                class="view-expense--icon-container__icon-lg"
                src="../../../assets/svg/fy-reimbursable.svg"
              ></ion-icon>
            </div>
          </ion-col>
          <ion-col class="view-expense--content-container">
            <div class="view-expense--label">{{ orgSettings?.tax_settings?.name }}</div>
            <div class="view-expense--value">
              {{ (expense.tax_amount | currency:expense.currency: 'symbol-narrow') || 'Not Added' }}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ng-container
        *ngIf="{ costCenterDependentCustomProperties: costCenterDependentCustomProperties$ | async} as data"
      >
        <ng-container *ngIf="!data.costCenterDependentCustomProperties?.length">
          <ion-grid *ngIf="orgSettings?.cost_centers?.enabled && expense.cost_center_id" class="view-expense--grid">
            <ion-row>
              <ion-col size="6">
                <ion-grid>
                  <ion-row>
                    <ion-col class="view-expense--icon-container">
                      <div class="view-expense--icon-container__background">
                        <ion-icon
                          class="view-expense--icon-container__icon"
                          src="../../../assets/svg/building.svg"
                        ></ion-icon>
                      </div>
                    </ion-col>
                    <ion-col class="view-expense--content-container">
                      <div class="view-expense--label">Cost Center</div>
                      <div class="view-expense--value">{{ expense.cost_center?.name }}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
              <ion-col size="6" *ngIf="expense.cost_center?.code">
                <ion-grid>
                  <ion-row>
                    <ion-col class="view-expense--icon-container">
                      <div class="view-expense--icon-container__background">
                        <ion-icon
                          class="view-expense--icon-container__icon"
                          src="../../../assets/svg/building.svg"
                        ></ion-icon>
                      </div>
                    </ion-col>
                    <ion-col class="view-expense--content-container">
                      <div class="view-expense--label">Cost Center Code</div>
                      <div class="view-expense--value">{{ expense.cost_center?.code }}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="systemCategoriesWithTaxi?.includes(expense.category?.system_category)">
        <div class="view-expense--divider"></div>
        <ng-container *ngIf="expense.category.system_category === 'Taxi'">
          <ion-grid *ngIf="expense.distance" class="view-expense--grid">
            <ion-row>
              <ion-col class="view-expense--icon-container">
                <div class="view-expense--icon-container__background">
                  <ion-icon class="view-expense--icon-container__icon-lg" src="../../../assets/svg/car.svg"></ion-icon>
                </div>
              </ion-col>
              <ion-col class="view-expense--content-container">
                <div class="view-expense--label">Distance</div>
                <div class="view-expense--value">{{ expense.distance }}</div>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid *ngIf="expense.distance_unit" class="view-expense--grid">
            <ion-row>
              <ion-col class="view-expense--icon-container">
                <div class="view-expense--icon-container__background">
                  <ion-icon class="view-expense--icon-container__icon-lg" src="../../../assets/svg/car.svg"></ion-icon>
                </div>
              </ion-col>
              <ion-col class="view-expense--content-container">
                <div class="view-expense--label">Unit</div>
                <div class="view-expense--value">{{ expense.distance_unit | titlecase }}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>

        <ng-container *ngIf="travelSystemCategories?.includes(expense.category?.system_category)">
          <ion-grid *ngIf="expense.locations.length > 0 && expense.locations[0].city" class="view-expense--grid">
            <ion-row>
              <ion-col size="6">
                <ion-grid>
                  <ion-row>
                    <ion-col class="view-expense--icon-container">
                      <div class="view-expense--icon-container__background">
                        <ion-icon
                          class="view-expense--icon-container__icon-lg"
                          src="../../../assets/svg/fy-location.svg"
                        ></ion-icon>
                      </div>
                    </ion-col>
                    <ion-col class="view-expense--content-container">
                      <div class="view-expense--label">From</div>
                      <div class="view-expense--value">{{ expense.locations[0].city }}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
              <ion-col *ngIf="expense.locations[1]?.city" size="6">
                <ion-grid>
                  <ion-row>
                    <ion-col class="view-expense--icon-container">
                      <div class="view-expense--icon-container__background">
                        <ion-icon
                          class="view-expense--icon-container__icon-lg"
                          src="../../../assets/svg/fy-location.svg"
                        ></ion-icon>
                      </div>
                    </ion-col>
                    <ion-col class="view-expense--content-container">
                      <div class="view-expense--label">To</div>
                      <div class="view-expense--value">{{ expense.locations[1].city }}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid *ngIf="expense.started_at" class="view-expense--grid">
            <ion-row>
              <ion-col size="6">
                <ion-grid>
                  <ion-row>
                    <ion-col class="view-expense--icon-container">
                      <div class="view-expense--icon-container__background">
                        <ion-icon
                          class="view-expense--icon-container__icon-stroke-lg"
                          src="../../../assets/svg/fy-calendar.svg"
                        ></ion-icon>
                      </div>
                    </ion-col>
                    <ion-col class="view-expense--content-container">
                      <div class="view-expense--label">Onward Date</div>
                      <div class="view-expense--value">{{ expense.started_at | date: 'MMM dd, YYYY' }}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
              <ion-col *ngIf="expense.ended_at">
                <ion-grid>
                  <ion-row>
                    <ion-col class="view-expense--icon-container">
                      <div class="view-expense--icon-container__background">
                        <ion-icon
                          class="view-expense--icon-container__icon-stroke-lg"
                          src="../../../assets/svg/fy-calendar.svg"
                        ></ion-icon>
                      </div>
                    </ion-col>
                    <ion-col class="view-expense--content-container">
                      <div class="view-expense--label">Return Date</div>
                      <div class="view-expense--value">{{ expense.ended_at | date: 'MMM dd, YYYY' }}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>

        <ng-container *ngIf="['Train', 'Bus'].includes(expense.category?.system_category)">
          <ion-grid *ngIf="expense.travel_classes[0]" class="view-expense--grid">
            <ion-row>
              <ion-col class="view-expense--icon-container">
                <div class="view-expense--icon-container__background">
                  <ion-icon
                    class="view-expense--icon-container__icon-lg"
                    [src]="'../../../assets/svg/fy-' + expense.category.system_category.toLowerCase() + '.svg'"
                  ></ion-icon>
                </div>
              </ion-col>
              <ion-col class="view-expense--content-container">
                <div class="view-expense--label">Travel Class</div>
                <div class="view-expense--value">{{ expense.travel_classes[0] }}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>

        <ng-container
          *ngIf="flightSystemCategories?.includes(expense.category?.system_category) && expense.travel_classes[0]"
        >
          <ion-grid class="view-expense--grid">
            <ion-row>
              <ion-col size="6">
                <ion-grid>
                  <ion-row>
                    <ion-col class="view-expense--icon-container">
                      <div class="view-expense--icon-container__background">
                        <ion-icon
                          class="view-expense--icon-container__icon-stroke-lg"
                          src="../../../assets/svg/fy-calendar.svg"
                        ></ion-icon>
                      </div>
                    </ion-col>
                    <ion-col class="view-expense--content-container">
                      <div class="view-expense--label">Onward Class</div>
                      <div class="view-expense--value">{{ expense.travel_classes[0] }}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
              <ion-col *ngIf="expense.travel_classes[1]">
                <ion-grid>
                  <ion-row>
                    <ion-col class="view-expense--icon-container">
                      <div class="view-expense--icon-container__background">
                        <ion-icon
                          class="view-expense--icon-container__icon-stroke-lg"
                          src="../../../assets/svg/fy-calendar.svg"
                        ></ion-icon>
                      </div>
                    </ion-col>
                    <ion-col class="view-expense--content-container">
                      <div class="view-expense--label">Return Class</div>
                      <div class="view-expense--value">{{ expense.travel_classes[1] }}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>

        <ng-container
          *ngIf="breakfastSystemCategories?.includes(expense.category?.system_category) && (expense.locations[0]?.city || expense.started_at || expense.ended_at)"
        >
          <ion-grid *ngIf="expense.locations[0]?.city" class="view-expense--grid">
            <ion-row>
              <ion-col class="view-expense--icon-container">
                <div class="view-expense--icon-container__background">
                  <ion-icon
                    class="view-expense--icon-container__icon-lg"
                    src="../../../assets/svg/fy-location.svg"
                  ></ion-icon>
                </div>
              </ion-col>
              <ion-col class="view-expense--content-container">
                <div class="view-expense--label">City</div>
                <div class="view-expense--value">{{ expense.locations[0].city }}</div>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid *ngIf="expense.started_at" class="view-expense--grid">
            <ion-row>
              <ion-col size="6">
                <ion-grid>
                  <ion-row>
                    <ion-col class="view-expense--icon-container">
                      <div class="view-expense--icon-container__background">
                        <ion-icon
                          class="view-expense--icon-container__icon-stroke-lg"
                          src="../../../assets/svg/fy-calendar.svg"
                        ></ion-icon>
                      </div>
                    </ion-col>
                    <ion-col class="view-expense--content-container">
                      <div class="view-expense--label">Check In</div>
                      <div class="view-expense--value">{{ expense.started_at | date: 'MMM dd, YYYY' }}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
              <ion-col *ngIf="expense.ended_at">
                <ion-grid>
                  <ion-row>
                    <ion-col class="view-expense--icon-container">
                      <div class="view-expense--icon-container__background">
                        <ion-icon
                          class="view-expense--icon-container__icon-stroke-lg"
                          src="../../../assets/svg/fy-calendar.svg"
                        ></ion-icon>
                      </div>
                    </ion-col>
                    <ion-col class="view-expense--content-container">
                      <div class="view-expense--label">Check Out</div>
                      <div class="view-expense--value">{{ expense.ended_at | date: 'MMM dd, YYYY' }}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid *ngIf="expense.hotel_is_breakfast_provided" class="view-expense--grid">
            <ion-row>
              <ion-col class="view-expense--icon-container">
                <div class="view-expense--icon-container__background">
                  <ion-icon class="view-expense--icon-container__icon-lg" src="../../../assets/svg/list.svg"></ion-icon>
                </div>
              </ion-col>
              <ion-col class="view-expense--content-container">
                <div class="view-expense--label">Breakfast Provided</div>
                <div class="view-expense--value">{{ expense.hotel_is_breakfast_provided ? 'Yes' : 'No' }}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>
      </ng-container>

      <!-- Project dependent fields -->
      <ng-container *ngIf="projectDependentCustomProperties$ | async as projectDependentCustomProperties">
        <ng-container *ngIf="expenseFields$ | async as expenseFields">
          <ng-container *ngIf="expenseFields?.project_id?.length">
            <app-view-dependent-fields
              parentFieldType="PROJECT"
              [parentFieldName]="expenseFields.project_id[0]?.field_name"
              [parentFieldValue]="expense.project?.name"
              [dependentCustomProperties]="projectDependentCustomProperties"
            ></app-view-dependent-fields>
          </ng-container>
        </ng-container>
      </ng-container>

      <!-- Cost center dependent fields -->
      <ng-container *ngIf="costCenterDependentCustomProperties$ | async as costCenterDependentCustomProperties">
        <ng-container *ngIf="expenseFields$ | async as expenseFields">
          <ng-container *ngIf="expenseFields?.cost_center_id?.length">
            <app-view-dependent-fields
              parentFieldType="COST_CENTER"
              [parentFieldName]="expenseFields.cost_center_id[0]?.field_name"
              [parentFieldValue]="expense.cost_center?.name"
              [costCenterCode]="expense.cost_center?.code"
              [dependentCustomProperties]="costCenterDependentCustomProperties"
            ></app-view-dependent-fields>
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="customProperties$|async as customProperties">
        <ng-container *ngIf="customProperties?.length > 0">
          <div class="view-expense--divider"></div>
          <ion-grid *ngFor="let customProperty of customProperties" class="view-expense--grid">
            <ion-row>
              <ion-col class="view-expense--icon-container">
                <div class="view-expense--icon-container__background">
                  <ion-icon class="view-expense--icon-container__icon-lg" src="../../../assets/svg/list.svg"></ion-icon>
                </div>
              </ion-col>
              <ion-col class="view-expense--content-container">
                <div class="view-expense--label">{{customProperty.name}}</div>
                <div class="view-expense--value">{{customProperty.displayValue}}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #loading>
    <app-view-expense-skeleton-loader></app-view-expense-skeleton-loader>
  </ng-template>
</ion-content>

<!-- TODO: Rename etxn terminology to expense in navigation footer component -->
<app-navigation-footer
  *ngIf="reportExpenseCount > 1"
  [activeExpenseIndex]="activeExpenseIndex"
  [reportExpenseCount]="reportExpenseCount"
></app-navigation-footer>
