@use '../../../theme/colors.scss';

.view-expense {
  &--toolbar {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  &--container {
    padding: 0 16px 16px;
  }

  &--title {
    padding: 12px 0 0 12px;
  }

  &--alert-split {
    margin: 8px 0;
  }

  &--subtitle {
    font-size: 12px;
    line-height: 1.2;
    color: colors.$black-light;
    margin-bottom: 10px;
  }

  &--header-btn-container {
    margin-right: 10px;
    &__btn {
      --padding-start: 8px !important;
      --padding-end: 8px !important;
      width: auto !important;
    }
  }

  &--policy-container {
    border-radius: 6px;
    background: colors.$light-grey;
    padding: 8px 16px;
    margin: 8px 0;
    font-size: 14px;
    color: colors.$grey-light-2;
  }

  &--card-container {
    padding: 14px 16px;
    margin-top: 16px;
    border-radius: 16px;
    border: 1px solid colors.$navy-50;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    color: colors.$black-light;

    &__block {
      width: 100%;
    }

    &__merchant_block {
      display: flex;
      gap: 6px;
      padding-top: 12px;
      margin-top: 8px;
      align-items: center;
    }

    &__merchant_label {
      color: colors.$black-light;
      font-size: 12px;
    }

    &__merchant_value {
      display: flex;
      align-items: center;
      gap: 2px;
      color: colors.$blue-black;
      font-weight: 500;
      font-size: 12px;
    }

    &__merchant_info_icon {
      color: colors.$blue-black;
      width: 16px;
      height: 16px;
    }

    &__amount-section {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      align-items: center;
    }

    &__category {
      color: colors.$black;
      font-weight: 500;
    }

    &__merchant {
      font-size: 14px;
      color: colors.$dark-grey;
    }

    &__project {
      padding-top: 8px;
      color: colors.$black-light;
    }

    &__icon {
      vertical-align: text-bottom;
      color: colors.$grey-light;
      height: 18px;
      width: 18px;
    }

    &__currency {
      margin-right: 2px;
    }

    &__amount {
      font-size: 14px;
      font-weight: 500;
      color: colors.$black;
      margin-right: 4px;
    }

    &__txn-type {
      margin-right: 6px;
    }

    &__exchange-rate {
      color: colors.$black-light;
    }

    &__state-pill {
      display: inline-block;
      white-space: nowrap;
    }

    &__credit {
      color: colors.$green;
      font-weight: 500;
    }

    &__transaction-status {
      border-top: 1px solid colors.$navy-50;
      padding-top: 12px;
      margin-top: 12px;
    }
  }

  &--label {
    color: colors.$black-light;
    font-size: 12px;
    line-height: 1.4;
  }

  &--value {
    color: colors.$blue-black;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    padding-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--icon-container {
    flex: 0 0 38px;
    max-height: 38px;

    &__background {
      background-color: colors.$off-white;
      border-radius: 50%;
      height: 100%;
      display: flex;
    }

    &__icon {
      color: colors.$grey-light;
      height: 18px;
      width: 18px;
      margin: auto;
    }

    &__icon-lg {
      color: colors.$grey-light;
      height: 22px;
      width: 22px;
      margin: auto;
    }

    &__icon-stroke-lg {
      stroke: colors.$grey-light;
      height: 22px;
      width: 22px;
      margin: auto;
    }
  }

  &--grid {
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 0;
    margin-top: 16px;
  }

  &--content-container {
    margin-left: 8px;
    width: calc(100% - 46px);
  }

  &--divider {
    margin-top: 16px;
    border-bottom: 1px solid colors.$navy-50;
  }

  &--sparkle-icon {
    width: 12px;
    height: 12px;
    margin: 2px 0px 2px 2px;
    color: colors.$brand-primary;
  }
}
