.shimmer {
  &--section {
    margin-bottom: 30px;
    padding: 12px;
  }

  &--date {
    width: 30%;
    height: 25px;
  }

  &--header {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }

  &--desc {
    width: 100%;
    height: 20px;
  }

  &--amount {
    width: 35%;
    height: 22px;
    margin-bottom: 8px;
  }

  &--sub-header {
    width: 45%;
    height: 20px;
  }
}
