<div class="ion-padding">
  <div class="shimmer--section">
    <ion-skeleton-text class="shimmer--date" animated></ion-skeleton-text>
    <div class="shimmer--header">
      <ion-skeleton-text class="shimmer--desc" animated></ion-skeleton-text>
      <ion-skeleton-text class="shimmer--amount" animated></ion-skeleton-text>
    </div>
    <ion-skeleton-text class="shimmer--sub-header" animated></ion-skeleton-text>
    <div class="shimmer--header">
      <ion-skeleton-text class="shimmer--desc" animated></ion-skeleton-text>
      <ion-skeleton-text class="shimmer--amount" animated></ion-skeleton-text>
    </div>
    <ion-skeleton-text class="shimmer--sub-header" animated></ion-skeleton-text>
    <div class="shimmer--header">
      <ion-skeleton-text class="shimmer--desc" animated></ion-skeleton-text>
      <ion-skeleton-text class="shimmer--amount" animated></ion-skeleton-text>
    </div>
    <ion-skeleton-text class="shimmer--sub-header" animated></ion-skeleton-text>
  </div>
  <div class="shimmer--section">
    <ion-skeleton-text class="shimmer--date" animated></ion-skeleton-text>
    <div class="shimmer--header">
      <ion-skeleton-text class="shimmer--desc" animated></ion-skeleton-text>
      <ion-skeleton-text class="shimmer--amount" animated></ion-skeleton-text>
    </div>
    <ion-skeleton-text class="shimmer--sub-header" animated></ion-skeleton-text>
    <div class="shimmer--header">
      <ion-skeleton-text class="shimmer--desc" animated></ion-skeleton-text>
      <ion-skeleton-text class="shimmer--amount" animated></ion-skeleton-text>
    </div>
    <ion-skeleton-text class="shimmer--sub-header" animated></ion-skeleton-text>
    <div class="shimmer--header">
      <ion-skeleton-text class="shimmer--desc" animated></ion-skeleton-text>
      <ion-skeleton-text class="shimmer--amount" animated></ion-skeleton-text>
    </div>
    <ion-skeleton-text class="shimmer--sub-header" animated></ion-skeleton-text>
  </div>
</div>
