.fy-select {
  border: none;
  width: 100%;
  background-color: inherit;
  font-size: 16px;
  font-weight: 500;

  &--label-content {
    margin: 0 8px 0 0;
    max-width: 170px;
    min-width: 120px;
    font-size: 16px;
    color: #ababab;
    font-weight: 500;
    line-height: 1.5;
    white-space: nowrap;
    display: flex;
    text-overflow: ellipsis;
    overflow: hidden;

    &__invalid {
      color: red;
    }
  }

  &--label {
    display: flex;
    align-items: center;
  }

  &--icon {
    color: #ababab;
  }

  &--input-disabled {
    opacity: 0.5;
  }
}
