<label class="fy-select--label">
  <div class="fy-select--label-content">
    {{label}}
    <span *ngIf="mandatory" class="fy-select--mandatory">
      *
    </span>
  </div>
  <div class="fy-select--input-container" [ngClass]="{'fy-select--input-invalid': !valid}">
    <input class="fy-select--input" type="text" [placeholder]="'Select ' + label" [ngModel]="displayValue" (blur)="onBlur()" (click)="openModal()" [ngClass]="{'fy-select--input-disabled': disabled}" [disabled]="disabled">
    <mat-icon class="fy-select--icon" [ngClass]="{'fy-select--input-disabled': disabled}" svgIcon="fy-arrow-down"></mat-icon>
  </div>
</label>
