@import '../../theme/colors.scss';
$sub-title: #ababab;

// autocomplete loader SCSS and animation
%autocomplete-loader {
  animation: loading-circular 0.5s linear infinite;
  fill: $brand-primary;
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

@keyframes loading-circular {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

// layout classes

%flex-layout-row {
  display: flex;
  flex-direction: row;
}

%flex-layout-column {
  display: flex;
  flex-direction: column;
}

// common styles moved below

%fy-select-list-element-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%fy-select-list-element-default-border-color-font {
  border-bottom: 1px solid $grey-lighter;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

%fy-select-title {
  padding: 16px 0;
  font-size: 20px;
  font-weight: 400;
  height: 100%;
  line-height: 26px;
  color: $black;
  margin-left: -15%;
  text-align: center;
}

%fy-select-search-input {
  padding: 0 12px;
  font-size: 14px;
  line-height: 18px;
  margin-top: -4px;
}

%fy-select-header {
  margin: 0;
  padding: 10px 15px;
  font-size: 14px;
  border-bottom: 1px solid $grey-lighter;
  color: $sub-title;
}

%fy-select-mat-form-field {
  font-size: 11px;
  width: 94%;
  padding: 4px;
}

%fy-select-check {
  color: $brand-primary;
  font-size: 20px;
}

%fy-select-cta {
  --background: #{$pure-white};
  --color: #{$brand-primary};
  --box-shadow: none;
  text-transform: capitalize;
  margin-left: -16%;
  font-size: 16px;
  letter-spacing: 0;
}

%fy-select-search-icon {
  height: 16px;
  width: 16px;
  margin-left: 10px;
}
