<form [formGroup]="genericFieldsFormGroup">
  <div class="merge-expenses--internal-block">
    <app-fy-select
      [enableSearch]="false"
      [label]="'genericFieldsForm.amount' | transloco"
      [mandatory]="false"
      [nullOption]="false"
      [disabled]="disableFormElements || amountOptionsData?.options?.length === 0 || amountOptionsData?.areSameValues"
      [options]="amountOptionsData?.options"
      [selectModalHeader]="'genericFieldsForm.selectAmount' | transloco"
      formControlName="amount"
      [touchedInParent]="genericFieldsFormGroup.controls.amount.touched"
      [validInParent]="genericFieldsFormGroup.controls.amount.valid"
    >
    </app-fy-select>
  </div>
  @if (genericFieldsFormGroup.controls.amount.touched && genericFieldsFormGroup.controls.amount.invalid) {
    <div class="merge-expenses--error">
      {{ 'genericFieldsForm.invalidAmountError' | transloco }}
    </div>
  }

  <div class="merge-expenses--primary-block">
    <ion-grid class="merge-expenses--grid">
      <ion-row>
        <ion-col size="6">
          <div
            [ngClass]="{
              'merge-expenses--internal-block_special': genericFieldsFormGroup.controls.dateOfSpend.value,
            }"
            class="merge-expenses--internal-block merge-expenses--internal-block__margin"
          >
            <app-fy-select
              [enableSearch]="false"
              [label]="'genericFieldsForm.dateOfSpend' | transloco"
              [mandatory]="false"
              [nullOption]="false"
              [disabled]="
                disableFormElements ||
                dateOfSpendOptionsData?.options?.length === 0 ||
                dateOfSpendOptionsData?.areSameValues
              "
              [options]="dateOfSpendOptionsData?.options"
              [selectModalHeader]="'genericFieldsForm.selectSpendDate' | transloco"
              formControlName="dateOfSpend"
              [touchedInParent]="genericFieldsFormGroup.controls.dateOfSpend.touched"
              [validInParent]="genericFieldsFormGroup.controls.dateOfSpend.valid"
            >
            </app-fy-select>
          </div>
        </ion-col>
        <ion-col size="6">
          <div
            [ngClass]="{
              'merge-expenses--internal-block_special': genericFieldsFormGroup.controls.paymentMode.value,
            }"
            class="merge-expenses--internal-block"
          >
            <app-fy-select
              [enableSearch]="false"
              [label]="'genericFieldsForm.paymentMode' | transloco"
              [mandatory]="true"
              [nullOption]="false"
              [disabled]="
                disableFormElements ||
                paymentModeOptionsData?.options?.length === 0 ||
                paymentModeOptionsData?.areSameValues
              "
              [options]="paymentModeOptionsData?.options"
              [selectModalHeader]="'genericFieldsForm.selectPaymentMode' | transloco"
              formControlName="paymentMode"
              [touchedInParent]="genericFieldsFormGroup.controls.paymentMode.touched"
              [validInParent]="genericFieldsFormGroup.controls.paymentMode.valid"
            >
            </app-fy-select>
          </div>

          @if (
            genericFieldsFormGroup.controls.paymentMode.touched && genericFieldsFormGroup.controls.paymentMode.invalid
          ) {
            <div class="merge-expenses--error">
              {{ 'genericFieldsForm.invalidPaymentModeError' | transloco }}
            </div>
          }
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  @if (receiptOptions?.length !== 0) {
    <div class="merge-expenses--internal-block">
      <app-fy-select
        [enableSearch]="false"
        [label]="'genericFieldsForm.receipt' | transloco"
        [disabled]="disableFormElements || receiptOptions?.length === 0"
        [mandatory]="false"
        [nullOption]="false"
        [options]="receiptOptions"
        [selectModalHeader]="'genericFieldsForm.selectReceipt' | transloco"
        formControlName="receipts_from"
        [touchedInParent]="genericFieldsFormGroup.controls.receipts_from.touched"
        [validInParent]="genericFieldsFormGroup.controls.receipts_from.valid"
      >
      </app-fy-select>
    </div>
  }
  @if (receiptOptions?.length === 0) {
    <div class="merge-expenses--internal-block merge-expenses--text">
      <div class="merge-expenses--text-label merge-expenses--text-label__large">
        {{ 'genericFieldsForm.selectReceipt' | transloco }}
      </div>
      <div class="merge-expenses--disabled">
        <input
          [disabled]="disableFormElements || true"
          [placeholder]="'genericFieldsForm.noReceiptPlaceholder' | transloco"
          class="merge-expenses--text-input smartlook-show"
          type="text"
        />
      </div>
    </div>
  }
  @if (attachments?.length > 0) {
    <app-receipt-preview-thumbnail [attachments]="attachments" [canEdit]="false" [hideLabel]="true">
    </app-receipt-preview-thumbnail>
  }
  @for (selectedCCCTransaction of CCCTxns; track selectedCCCTransaction.id) {
    @if (genericFieldsFormGroup.controls.paymentMode.value === 'PERSONAL_CORPORATE_CREDIT_CARD_ACCOUNT') {
      <app-card-transaction-preview [transactionDetails]="selectedCCCTransaction"> </app-card-transaction-preview>
    }
  }
  @if (projectOptionsData?.options?.length !== 0) {
    <div class="merge-expenses--primary-block">
      <ion-grid class="merge-expenses--grid">
        <ion-row>
          <ion-col [size]="!showBillable ? '12.3' : '6'">
            <div
              [ngClass]="{ 'merge-expenses--internal-block_special': genericFieldsFormGroup.controls.project.value }"
              class="merge-expenses--internal-block merge-expenses--internal-block__margin"
            >
              <app-fy-select
                [enableSearch]="false"
                [label]="'genericFieldsForm.project' | transloco"
                [mandatory]="false"
                [nullOption]="false"
                [disabled]="
                  disableFormElements || projectOptionsData?.options?.length === 0 || projectOptionsData?.areSameValues
                "
                [options]="projectOptionsData?.options"
                [selectModalHeader]="'genericFieldsForm.selectProject' | transloco"
                formControlName="project"
                [touchedInParent]="genericFieldsFormGroup.controls.project.touched"
                [validInParent]="genericFieldsFormGroup.controls.project.valid"
              >
              </app-fy-select>
            </div>
          </ion-col>
          @if (showBillable) {
            <ion-col size="6">
              <div
                [ngClass]="{ 'merge-expenses--internal-block_special': genericFieldsFormGroup.controls.billable.value }"
                class="merge-expenses--internal-block"
              >
                <app-fy-select
                  [enableSearch]="false"
                  [label]="'genericFieldsForm.billable' | transloco"
                  [mandatory]="false"
                  [nullOption]="false"
                  [disabled]="
                    disableFormElements ||
                    billableOptionsData?.options?.length === 0 ||
                    billableOptionsData?.areSameValues
                  "
                  [options]="billableOptionsData?.options"
                  [selectModalHeader]="'genericFieldsForm.selectBillable' | transloco"
                  formControlName="billable"
                  [touchedInParent]="genericFieldsFormGroup.controls.billable.touched"
                  [validInParent]="genericFieldsFormGroup.controls.billable.valid"
                >
                </app-fy-select>
              </div>
            </ion-col>
          }
        </ion-row>
      </ion-grid>
    </div>
  }
  @if (projectDependentFields?.length) {
    @for (projectDependentField of projectDependentFields; track projectDependentField.name) {
      @if (projectDependentField.value) {
        <div class="merge-expenses--internal-block">
          <app-fy-select-disabled [label]="projectDependentField.name" [value]="projectDependentField.value">
          </app-fy-select-disabled>
        </div>
      }
    }
  }
  @if (vendorOptionsData?.options.length > 0) {
    <div
      [ngClass]="{ 'merge-expenses--internal-block_special': genericFieldsFormGroup.controls.vendor.value }"
      class="merge-expenses--internal-block"
    >
      <app-fy-select
        [enableSearch]="false"
        [label]="'genericFieldsForm.merchant' | transloco"
        [mandatory]="false"
        [nullOption]="false"
        [disabled]="disableFormElements || vendorOptionsData?.options?.length === 0 || vendorOptionsData?.areSameValues"
        [options]="vendorOptionsData?.options"
        [selectModalHeader]="'genericFieldsForm.selectMerchant' | transloco"
        formControlName="vendor"
        [touchedInParent]="genericFieldsFormGroup.controls.vendor.touched"
        [validInParent]="genericFieldsFormGroup.controls.vendor.valid"
      >
      </app-fy-select>
    </div>
  }

  <div
    [ngClass]="{ 'merge-expenses--internal-block_special': genericFieldsFormGroup.controls.category.value }"
    class="merge-expenses--internal-block"
  >
    <app-fy-select
      [enableSearch]="false"
      [label]="'genericFieldsForm.category' | transloco"
      [mandatory]="false"
      [nullOption]="false"
      [disabled]="
        disableFormElements || categoryOptionsData?.options?.length === 0 || categoryOptionsData?.areSameValues
      "
      [options]="categoryOptionsData?.options"
      [selectModalHeader]="'genericFieldsForm.selectCategory' | transloco"
      formControlName="category"
      [touchedInParent]="genericFieldsFormGroup.controls.category.touched"
      [validInParent]="genericFieldsFormGroup.controls.category.valid"
    >
    </app-fy-select>
  </div>

  <ng-container *ngTemplateOutlet="categoryDependentTemplate"> </ng-container>

  <div
    [ngClass]="{ 'merge-expenses--internal-block_special': genericFieldsFormGroup.controls.tax_group.value }"
    class="merge-expenses--internal-block"
  >
    <app-fy-select
      [enableSearch]="false"
      [label]="'genericFieldsForm.taxGroup' | transloco"
      [mandatory]="false"
      [nullOption]="false"
      [disabled]="
        disableFormElements || taxGroupOptionsData?.options?.length === 0 || taxGroupOptionsData?.areSameValues
      "
      [options]="taxGroupOptionsData?.options"
      [selectModalHeader]="'genericFieldsForm.selectTaxGroup' | transloco"
      formControlName="tax_group"
      [touchedInParent]="genericFieldsFormGroup.controls.tax_group.touched"
      [validInParent]="genericFieldsFormGroup.controls.tax_group.valid"
    >
    </app-fy-select>
  </div>

  <div
    [ngClass]="{ 'merge-expenses--internal-block_special': genericFieldsFormGroup.controls.tax_amount.value }"
    class="merge-expenses--internal-block"
  >
    <app-fy-select
      [enableSearch]="false"
      [label]="'genericFieldsForm.tax' | transloco"
      [mandatory]="false"
      [disabled]="
        disableFormElements || taxAmountOptionsData?.options?.length === 0 || taxAmountOptionsData?.areSameValues
      "
      [nullOption]="false"
      [options]="taxAmountOptionsData?.options"
      [selectModalHeader]="'genericFieldsForm.selectTax' | transloco"
      formControlName="tax_amount"
      [touchedInParent]="genericFieldsFormGroup.controls.tax_amount.touched"
      [validInParent]="genericFieldsFormGroup.controls.tax_amount.valid"
    >
    </app-fy-select>
  </div>

  <div
    [ngClass]="{ 'merge-expenses--internal-block_special': genericFieldsFormGroup.controls.tax_amount.value }"
    class="merge-expenses--internal-block"
  >
    <app-fy-select
      [enableSearch]="false"
      [label]="'genericFieldsForm.costCenter' | transloco"
      [mandatory]="false"
      [nullOption]="false"
      [disabled]="
        disableFormElements || constCenterOptionsData?.options?.length === 0 || constCenterOptionsData?.areSameValues
      "
      [options]="constCenterOptionsData?.options"
      [selectModalHeader]="'genericFieldsForm.selectCostCenter' | transloco"
      formControlName="costCenter"
      [touchedInParent]="genericFieldsFormGroup.controls.costCenter.touched"
      [validInParent]="genericFieldsFormGroup.controls.costCenter.valid"
    >
    </app-fy-select>
  </div>

  @if (costCenterDependentFields?.length) {
    @for (costCenterDependentField of costCenterDependentFields; track costCenterDependentField.name) {
      @if (costCenterDependentField.value) {
        <div class="merge-expenses--internal-block">
          <app-fy-select-disabled [label]="costCenterDependentField.name" [value]="costCenterDependentField.value">
          </app-fy-select-disabled>
        </div>
      }
    }
  }

  <div
    [ngClass]="{ 'merge-expenses--internal-block_special': genericFieldsFormGroup.controls.purpose.value }"
    class="merge-expenses--internal-block"
  >
    <app-fy-select
      [enableSearch]="false"
      [label]="'genericFieldsForm.purpose' | transloco"
      [mandatory]="false"
      [nullOption]="false"
      [disabled]="disableFormElements || purposeOptionsData?.options?.length === 0 || purposeOptionsData?.areSameValues"
      [options]="purposeOptionsData?.options"
      [selectModalHeader]="'genericFieldsForm.selectPurpose' | transloco"
      formControlName="purpose"
      [touchedInParent]="genericFieldsFormGroup.controls.purpose.touched"
      [validInParent]="genericFieldsFormGroup.controls.purpose.valid"
    >
    </app-fy-select>
  </div>
</form>
