<form [formGroup]="genericFieldsFormGroup">
  <div class="merge-expenses--internal-block">
    <app-fy-select
      [enableSearch]="false"
      [label]="'Amount'"
      [mandatory]="false"
      [nullOption]="false"
      [disabled]="disableFormElements || amountOptionsData?.options?.length === 0 || amountOptionsData?.areSameValues"
      [options]="amountOptionsData?.options"
      [selectModalHeader]="'Select amount'"
      formControlName="amount"
      [touchedInParent]="genericFieldsFormGroup.controls.amount.touched"
      [validInParent]="genericFieldsFormGroup.controls.amount.valid"
    >
    </app-fy-select>
  </div>
  <div
    *ngIf="genericFieldsFormGroup.controls.amount.touched && genericFieldsFormGroup.controls.amount.invalid"
    class="merge-expenses--error"
  >
    Please select a valid amount
  </div>

  <div class="merge-expenses--primary-block">
    <ion-grid class="merge-expenses--grid">
      <ion-row>
        <ion-col size="6">
          <div
            [ngClass]="{
              'merge-expenses--internal-block_special': genericFieldsFormGroup.controls.dateOfSpend.value
            }"
            class="merge-expenses--internal-block merge-expenses--internal-block__margin"
          >
            <app-fy-select
              [enableSearch]="false"
              [label]="'Date of Spend'"
              [mandatory]="false"
              [nullOption]="false"
              [disabled]="
                disableFormElements ||
                dateOfSpendOptionsData?.options?.length === 0 ||
                dateOfSpendOptionsData?.areSameValues
              "
              [options]="dateOfSpendOptionsData?.options"
              [selectModalHeader]="'Select spend date'"
              formControlName="dateOfSpend"
              [touchedInParent]="genericFieldsFormGroup.controls.dateOfSpend.touched"
              [validInParent]="genericFieldsFormGroup.controls.dateOfSpend.valid"
            >
            </app-fy-select>
          </div>
        </ion-col>
        <ion-col size="6">
          <div
            [ngClass]="{
              'merge-expenses--internal-block_special': genericFieldsFormGroup.controls.paymentMode.value
            }"
            class="merge-expenses--internal-block"
          >
            <app-fy-select
              [enableSearch]="false"
              [label]="'Payment Mode'"
              [mandatory]="true"
              [nullOption]="false"
              [disabled]="
                disableFormElements ||
                paymentModeOptionsData?.options?.length === 0 ||
                paymentModeOptionsData?.areSameValues
              "
              [options]="paymentModeOptionsData?.options"
              [selectModalHeader]="'Select Payment Mode'"
              formControlName="paymentMode"
              [touchedInParent]="genericFieldsFormGroup.controls.paymentMode.touched"
              [validInParent]="genericFieldsFormGroup.controls.paymentMode.valid"
            >
            </app-fy-select>
          </div>

          <div
            *ngIf="
              genericFieldsFormGroup.controls.paymentMode.touched && genericFieldsFormGroup.controls.paymentMode.invalid
            "
            class="merge-expenses--error"
          >
            Please select a valid payment mode
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="receiptOptions?.length !== 0" class="merge-expenses--internal-block">
    <app-fy-select
      [enableSearch]="false"
      [label]="'Select receipt'"
      [disabled]="disableFormElements || receiptOptions?.length === 0"
      [mandatory]="false"
      [nullOption]="false"
      [options]="receiptOptions"
      [selectModalHeader]="'Select receipt'"
      formControlName="receipt_ids"
      [touchedInParent]="genericFieldsFormGroup.controls.receipt_ids.touched"
      [validInParent]="genericFieldsFormGroup.controls.receipt_ids.valid"
    >
    </app-fy-select>
  </div>

  <div class="merge-expenses--internal-block merge-expenses--text" *ngIf="receiptOptions?.length === 0">
    <div class="merge-expenses--text-label merge-expenses--text-label__large">Select receipt</div>
    <div class="merge-expenses--disabled">
      <input
        [disabled]="disableFormElements || true"
        [placeholder]="'No Receipt'"
        class="merge-expenses--text-input smartlook-show"
        type="text"
      />
    </div>
  </div>

  <app-receipt-preview-thumbnail
    *ngIf="attachments?.length > 0"
    [attachments]="attachments"
    [canEdit]="false"
    [hideLabel]="true"
  >
  </app-receipt-preview-thumbnail>

  <ng-container *ngFor="let selectedCCCTransaction of CCCTxns">
    <ng-container
      *ngIf="genericFieldsFormGroup.controls.paymentMode.value === 'PERSONAL_CORPORATE_CREDIT_CARD_ACCOUNT'"
    >
      <app-card-transaction-preview [transactionDetails]="selectedCCCTransaction"> </app-card-transaction-preview>
    </ng-container>
  </ng-container>

  <div class="merge-expenses--primary-block" *ngIf="projectOptionsData?.options?.length !== 0">
    <ion-grid class="merge-expenses--grid">
      <ion-row>
        <ion-col size="6">
          <div
            [ngClass]="{ 'merge-expenses--internal-block_special': genericFieldsFormGroup.controls.project.value }"
            class="merge-expenses--internal-block merge-expenses--internal-block__margin"
          >
            <app-fy-select
              [enableSearch]="false"
              [label]="'Project'"
              [mandatory]="false"
              [nullOption]="false"
              [disabled]="
                disableFormElements || projectOptionsData?.options?.length === 0 || projectOptionsData?.areSameValues
              "
              [options]="projectOptionsData?.options"
              [selectModalHeader]="'Select project'"
              formControlName="project"
              [touchedInParent]="genericFieldsFormGroup.controls.project.touched"
              [validInParent]="genericFieldsFormGroup.controls.project.valid"
            >
            </app-fy-select>
          </div>
        </ion-col>

        <ion-col size="6">
          <div
            [ngClass]="{ 'merge-expenses--internal-block_special': genericFieldsFormGroup.controls.billable.value }"
            class="merge-expenses--internal-block"
          >
            <app-fy-select
              [enableSearch]="false"
              [label]="'Billable'"
              [mandatory]="false"
              [nullOption]="false"
              [disabled]="
                disableFormElements || billableOptionsData?.options?.length === 0 || billableOptionsData?.areSameValues
              "
              [options]="billableOptionsData?.options"
              [selectModalHeader]="'Select billable'"
              formControlName="billable"
              [touchedInParent]="genericFieldsFormGroup.controls.billable.touched"
              [validInParent]="genericFieldsFormGroup.controls.billable.valid"
            >
            </app-fy-select>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ng-container *ngIf="projectDependentFields?.length">
    <ng-container *ngFor="let projectDependentField of projectDependentFields">
      <div class="merge-expenses--internal-block" *ngIf="projectDependentField.value">
        <app-fy-select-disabled [label]="projectDependentField.name" [value]="projectDependentField.value">
        </app-fy-select-disabled>
      </div>
    </ng-container>
  </ng-container>

  <div
    [ngClass]="{ 'merge-expenses--internal-block_special': genericFieldsFormGroup.controls.vendor.value }"
    class="merge-expenses--internal-block"
    *ngIf="vendorOptionsData?.options.length > 0"
  >
    <app-fy-select
      [enableSearch]="false"
      [label]="'Merchant'"
      [mandatory]="false"
      [nullOption]="false"
      [disabled]="disableFormElements || vendorOptionsData?.options?.length === 0 || vendorOptionsData?.areSameValues"
      [options]="vendorOptionsData?.options"
      [selectModalHeader]="'Select merchant'"
      formControlName="vendor"
      [touchedInParent]="genericFieldsFormGroup.controls.vendor.touched"
      [validInParent]="genericFieldsFormGroup.controls.vendor.valid"
    >
    </app-fy-select>
  </div>

  <div
    [ngClass]="{ 'merge-expenses--internal-block_special': genericFieldsFormGroup.controls.category.value }"
    class="merge-expenses--internal-block"
  >
    <app-fy-select
      [enableSearch]="false"
      [label]="'Category'"
      [mandatory]="false"
      [nullOption]="false"
      [disabled]="
        disableFormElements || categoryOptionsData?.options?.length === 0 || categoryOptionsData?.areSameValues
      "
      [options]="categoryOptionsData?.options"
      [selectModalHeader]="'Select category'"
      formControlName="category"
      [touchedInParent]="genericFieldsFormGroup.controls.category.touched"
      [validInParent]="genericFieldsFormGroup.controls.category.valid"
    >
    </app-fy-select>
  </div>

  <ng-container *ngTemplateOutlet="categoryDependentTemplate"> </ng-container>

  <div
    [ngClass]="{ 'merge-expenses--internal-block_special': genericFieldsFormGroup.controls.tax_group.value }"
    class="merge-expenses--internal-block"
  >
    <app-fy-select
      [enableSearch]="false"
      [label]="'Tax Group'"
      [mandatory]="false"
      [nullOption]="false"
      [disabled]="
        disableFormElements || taxGroupOptionsData?.options?.length === 0 || taxGroupOptionsData?.areSameValues
      "
      [options]="taxGroupOptionsData?.options"
      [selectModalHeader]="'Select Tax Group'"
      formControlName="tax_group"
      [touchedInParent]="genericFieldsFormGroup.controls.tax_group.touched"
      [validInParent]="genericFieldsFormGroup.controls.tax_group.valid"
    >
    </app-fy-select>
  </div>

  <div
    [ngClass]="{ 'merge-expenses--internal-block_special': genericFieldsFormGroup.controls.tax_amount.value }"
    class="merge-expenses--internal-block"
  >
    <app-fy-select
      [enableSearch]="false"
      [label]="'Tax'"
      [mandatory]="false"
      [disabled]="
        disableFormElements || taxAmountOptionsData?.options?.length === 0 || taxAmountOptionsData?.areSameValues
      "
      [nullOption]="false"
      [options]="taxAmountOptionsData?.options"
      [selectModalHeader]="'Select Tax'"
      formControlName="tax_amount"
      [touchedInParent]="genericFieldsFormGroup.controls.tax_amount.touched"
      [validInParent]="genericFieldsFormGroup.controls.tax_amount.valid"
    >
    </app-fy-select>
  </div>

  <div
    [ngClass]="{ 'merge-expenses--internal-block_special': genericFieldsFormGroup.controls.tax_amount.value }"
    class="merge-expenses--internal-block"
  >
    <app-fy-select
      [enableSearch]="false"
      [label]="'Cost center'"
      [mandatory]="false"
      [nullOption]="false"
      [disabled]="
        disableFormElements || constCenterOptionsData?.options?.length === 0 || constCenterOptionsData?.areSameValues
      "
      [options]="constCenterOptionsData?.options"
      [selectModalHeader]="'Select Cost center'"
      formControlName="costCenter"
      [touchedInParent]="genericFieldsFormGroup.controls.costCenter.touched"
      [validInParent]="genericFieldsFormGroup.controls.costCenter.valid"
    >
    </app-fy-select>
  </div>

  <ng-container *ngIf="costCenterDependentFields?.length">
    <ng-container *ngFor="let costCenterDependentField of costCenterDependentFields">
      <div class="merge-expenses--internal-block" *ngIf="costCenterDependentField.value">
        <app-fy-select-disabled [label]="costCenterDependentField.name" [value]="costCenterDependentField.value">
        </app-fy-select-disabled>
      </div>
    </ng-container>
  </ng-container>

  <div
    [ngClass]="{ 'merge-expenses--internal-block_special': genericFieldsFormGroup.controls.purpose.value }"
    class="merge-expenses--internal-block"
  >
    <app-fy-select
      [enableSearch]="false"
      [label]="'Purpose'"
      [mandatory]="false"
      [nullOption]="false"
      [disabled]="disableFormElements || purposeOptionsData?.options?.length === 0 || purposeOptionsData?.areSameValues"
      [options]="purposeOptionsData?.options"
      [selectModalHeader]="'Select Purpose'"
      formControlName="purpose"
      [touchedInParent]="genericFieldsFormGroup.controls.purpose.touched"
      [validInParent]="genericFieldsFormGroup.controls.purpose.valid"
    >
    </app-fy-select>
  </div>
</form>
