$header-background: #f5f5f5;
$header-border: #ddd;
$header-input: #f8f8f8;
$org-thumb: #f8f8f8;
$org-thumb-header: #333;
$org-thumb-text: #666;

.delegated {
  &--form-field {
    font-size: 11px;
    width: 100%;
    padding: 4px 8px 4px 8px;
    background-color: $header-input;
  }

  &--toolbar {
    --background: #f5f5f5;
  }

  &--search-icon {
    font-size: 14px;
    padding-right: 10px;
    color: #aaaaaa;
    font-weight: bolder;
  }

  &--search-input {
    font-size: 14px;

    &::placeholder {
      color: #ababab;
    }
  }

  &--toolbar-header {
    border-bottom: 1px solid #e6e6e6;
  }

  &--org-element {
    padding: 4px;
    border-bottom: 1px solid $header-border;

    &-name {
      font-size: 16px;
      color: $org-thumb-header;
    }

    &-us-details {
      font-size: 12px;
      color: $org-thumb-text;
    }
  }

  &--org-thumb {
    background: $org-thumb;
    border: 1px solid $header-border;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    line-height: 44px;
    text-align: center;
    color: $org-thumb-text;
    font-size: 16px;
    &__no-border {
      border: none;
    }
  }

  &--header-bar {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 0;
    background-color: $header-background;
    border: 1px solid $header-border;
  }
}
