<ion-header mode="md">
  <ion-toolbar mode="md" class="delegated--toolbar mat-form-field-container">
    <mat-form-field class="delegated--form-field" appearance="outline">
      <span class="material-icons delegated--search-icon" matPrefix> search </span>
      <input
        #searchDelegatees
        [(ngModel)]="searchInput"
        class="delegated--search-input smartlook-show"
        matInput
        placeholder="Search Account"
      />
    </mat-form-field>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="delegated--header-bar">Select the account you wish to manage</div>
    <div id="delagated-acc-list">
      <div
        matRipple
        (click)="switchToDelegatee(acc)"
        class="delegated--org-element"
        *ngFor="let acc of delegatedAccList"
      >
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <div class="delegated--org-thumb">{{ acc?.us?.full_name | initials | uppercase }}</div>
            </ion-col>
            <ion-col size="10">
              <div class="delegated--org-element-name">{{acc?.us?.full_name}}</div>
              <div class="delegated--org-element-us-details">{{acc?.us?.email}}</div>
              <div *ngIf="acc?.ou.org_id === currentOrg.id" class="delegated--org-element-us-details">
                {{currentOrg.name}}
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
