<ion-header mode="md" >
  <ion-toolbar mode="md">
    <ion-title>
      <div class="selection-modal--title">
        Choose Project
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDoneClick()">
        <mat-icon>close</mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="selection-modal--form-field-container">
    <mat-form-field class="selection-modal--form-field mat-form-field-no-padding" appearance="outline">
      <input #searchBar id="selection-modal--search-input" class="selection-modal--search-input" matInput placeholder="Search" [(ngModel)]="value">
      <mat-icon *ngIf="isLoading" class="selection-modal--autocomplete-loader" svgIcon="fy-spinner-circle" matSuffix></mat-icon>
      <button (click)="clearValue()" class="selection-modal--clear-button" *ngIf="!isLoading && value" aria-label="Clear" mat-button mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="selection-modal--container">
    <div class="selection-modal--recently-used-block" *ngIf="cacheName && (recentrecentlyUsedItems$|async)?.length > 0">

      <div matRipple class="selection-modal--list-element" *ngFor="let recentrecentlyUsedItem of recentrecentlyUsedItems$ | async as list" (click)="onElementSelect(recentrecentlyUsedItem)">
        <ng-template #defaultSelectionElement  let-label="label" let-selected="selected">
          <div class="selection-modal--recently-used-item-content">
            <mat-icon class="selection-modal--recently-used-icon" svgIcon="fy-recently-used"></mat-icon>
            <span class="selection-modal--label">
              {{label}}
            </span>
          </div>
          <mat-icon *ngIf="selected">
            check
          </mat-icon>
        </ng-template>
        <ng-container *ngTemplateOutlet="selectionElement ? selectionElement: defaultSelectionElement;context:recentrecentlyUsedItem">
        </ng-container>
      </div>
    </div>

    <div matRipple class="selection-modal--list-element"
      *ngFor="let filteredListItem of filteredOptions$ | async as list" (click)="onElementSelect(filteredListItem)">
      <div>
        {{filteredListItem.label}}
      </div>
      <mat-icon *ngIf="filteredListItem.selected">
        check
      </mat-icon>
    </div>
  </div>
</ion-content>
