<ion-header mode="md">
  <mat-icon class="fy-modal-top-bar" svgIcon="notch"></mat-icon>
  <ion-toolbar mode="md" class="fy-modal-toolbar">
    <ion-title>
      <div class="selection-modal--title text-capitalize">
        {{ 'fySelectProjectModal.selectLabel' | transloco : { label: label } }}
      </div>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onDoneClick()">
        <mat-icon class="fy-icon-close" svgIcon="cross"></mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="text-center">
    <mat-form-field class="selection-modal--form-field mat-form-field-no-padding" appearance="outline">
      <mat-icon class="selection-modal--search-icon" matPrefix svgIcon="search"></mat-icon>
      <input
        #searchBar
        id="selection-modal--search-input"
        class="selection-modal--search-input smartlook-show"
        matInput
        [placeholder]="'fySelectProjectModal.searchPlaceholder' | transloco"
        [(ngModel)]="value"
        />
      @if (isLoading) {
        <mat-icon class="selection-modal--autocomplete-loader" svgIcon="loader" matSuffix></mat-icon>
      }
      @if (!isLoading && value) {
        <button
          (click)="clearValue()"
          class="selection-modal--clear-button"
          [attr.aria-label]="'fySelectProjectModal.clearAriaLabel' | transloco"
          mat-icon-button
          matSuffix
          >
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="selection-modal--container">
    @if (cacheName && (recentrecentlyUsedItems$ | async)?.length > 0) {
      <div
        class="selection-modal--recently-used-block"
        >
        @for (recentrecentlyUsedItem of recentrecentlyUsedItems$ | async; track recentrecentlyUsedItem) {
          <div
            matRipple
            class="selection-modal--list-element"
            (click)="onElementSelect(recentrecentlyUsedItem)"
            >
            <ng-template #defaultSelectionElement let-label="label" let-selected="selected">
              <div class="selection-modal--recently-used-item-content">
                <mat-icon class="selection-modal--recently-used-icon" svgIcon="clock"></mat-icon>
                <span class="selection-modal--label">
                  <app-fy-highlight-text [fullText]="label" [queryText]="value"> </app-fy-highlight-text>
                </span>
              </div>
              @if (selected) {
                <mat-icon class="selection-modal--check"> check </mat-icon>
              }
            </ng-template>
            <ng-container
          *ngTemplateOutlet="
            selectionElement ? selectionElement : defaultSelectionElement;
            context: recentrecentlyUsedItem
          "
              >
            </ng-container>
          </div>
        }
      </div>
    }

    @for (filteredListItem of filteredOptions$ | async; track filteredListItem) {
      <div
        matRipple
        class="selection-modal--list-element"
        (click)="onElementSelect(filteredListItem)"
        >
        <app-fy-highlight-text [fullText]="filteredListItem.label" [queryText]="value"> </app-fy-highlight-text>
        @if (filteredListItem.selected) {
          <mat-icon class="selection-modal--check"> check </mat-icon>
        }
      </div>
    }
  </div>
</ion-content>
