$header-border: #ddd;
$header-input: #f8f8f8;
$sub-title: #ababab;
$list-element-color: #333;

.selection-modal {
  color: black;
  &--list-element {
    padding: 14px 0;
    margin: 0 14px;
    border-bottom: 1px solid $header-border;
    font-size: 16px;
    color: $list-element-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--title {
    padding: 24px 0;
    font-size: 24px;
    font-weight: 600;
    height: 100%;
    line-height: 1.3;
  }

  &--clear-button {
    background: transparent;
    color: black;
  }

  &--header {
    margin: 0;
    padding: 10px 15px;
    font-size: 14px;
    border-bottom: 1px solid $header-border;
    color: $sub-title;
  }

  &--search-input {
    padding: 0 12px;
    font-size: 16px;
  }

  &--form-field {
    font-size: 11px;
    width: 94%;
    padding: 4px;
  }

  &--search-icon {
    font-size: 14px;
  }

  &--form-field-container {
    text-align: center;
  }

  &--container {
    display: flex;
    flex-direction: column;
  }

  &--recently-used-block {
    margin-bottom: 20px;
  }

  &--sub-title {
    color: #ababab;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 0;
    margin: 0 14px;
    border-bottom: 1px solid #ddd;
  }

  &--autocomplete-loader {
    animation: loading-circular 0.5s linear infinite;
    fill: #f36;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 2px;
    right: 4px;
  }

  @keyframes loading-circular {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
