<ion-header mode="md">
  <ion-toolbar class="view-team-advance-request--toolbar">
    <ion-buttons
      mode="md"
      slot="start"
      [ngClass]="{'view-team-advance-request--header-btn-container__sm': isDeviceWidthSmall}"
    >
      <ion-button (click)="goToTeamAdvances()">
        <ion-icon class="fy-icon-close" src="../../../../assets/svg/fy-close.svg" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="md" class="page-title" [ngClass]="{'view-team-advance-request--title-sm': isDeviceWidthSmall}">
      View Advance Request
    </ion-title>
    <ion-buttons
      class="view-team-advance-request--header-btn-container"
      [ngClass]="{'view-team-advance-request--header-btn-container__sm': isDeviceWidthSmall}"
      slot="end"
    >
      <ng-container *ngIf="actions$|async as actions">
        <ion-button
          *ngIf="actions?.can_edit"
          class="view-team-advance-request--header-btn-container__btn"
          (click)="edit()"
        >
          <ion-icon [src]="'../../../assets/svg/edit.svg'" slot="icon-only"></ion-icon>
        </ion-button>
      </ng-container>
      <ion-button (click)="openCommentsModal()" class="view-team-advance-request--header-btn-container__btn">
        <ion-icon [src]="'../../../assets/svg/fy-chat-2.svg'" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="advanceRequest$|async as advanceRequest">
    <div class="view-team-advance-request--card">
      <app-summary-tile
        [purpose]="advanceRequest?.areq_purpose || '-'"
        [currency]="advanceRequest?.areq_currency"
        [amount]="advanceRequest?.areq_amount || '0'"
        [status]="advanceRequest?.areq_state | snakeCaseToSpaceCase"
        [approvals]="activeApprovals$ | async"
        [actions]="actions$ | async"
        [id]="advanceRequest?.areq_id"
        [ownerEmail]="advanceRequest?.us_email"
        [approverEmails]="getApproverEmails(activeApprovals$ | async)"
      ></app-summary-tile>
      <div *ngIf="attachedFiles$|async as attachedFiles">
        <div *ngIf="attachedFiles?.length > 0">
          <app-receipt-preview-thumbnail
            [attachments]="attachedFiles"
            (viewAttachments)="viewAttachments(attachedFiles)"
            [canEdit]="false"
          >
          </app-receipt-preview-thumbnail>
        </div>
        <div *ngIf="attachedFiles?.length === 0" class="view-team-advance-request--content-container">
          <div class="view-team-advance-request__element">
            <app-fy-statistic
              icon="../../../../assets/svg/no-attachment.svg"
              [type]="StatisticTypes.STRING"
              [label]="'Receipt'"
              [value]="'Not Attached'"
            ></app-fy-statistic>
          </div>
        </div>
      </div>

      <ion-grid class="view-team-advance-request--grid">
        <ion-row>
          <ion-col class="p-0" size="6">
            <div class="view-team-advance-request__element">
              <app-fy-statistic
                icon="../../../../assets/svg/calendar.svg"
                [type]="StatisticTypes.DATE"
                [label]="'Created On'"
                [value]="advanceRequest?.areq_created_at | date: 'MMM dd, YYYY'"
              ></app-fy-statistic>
            </div>
          </ion-col>
          <ion-col class="p-0" size="6" *ngIf="advanceRequest?.areq_approved_at">
            <div class="view-team-advance-request__element">
              <app-fy-statistic
                icon="../../../../assets/svg/calendar.svg"
                [type]="StatisticTypes.DATE"
                [label]="'Approved On'"
                [value]="advanceRequest?.areq_approved_at | date: 'MMM dd, YYYY'"
              ></app-fy-statistic>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="view-team-advance-request--divider"></div>
      <div class="view-team-advance-request__element">
        <app-fy-statistic
          icon="../../../../assets/svg/profile.svg"
          [type]="StatisticTypes.STRING"
          [label]="'Employee'"
          [value]="advanceRequest?.us_full_name || '-'"
        ></app-fy-statistic>
      </div>

      <div class="view-team-advance-request__element">
        <app-fy-statistic
          icon="../../../../assets/svg/list.svg"
          [type]="StatisticTypes.STRING"
          [label]="'Additional Notes'"
          [value]="advanceRequest?.areq_notes || '-'"
        ></app-fy-statistic>
      </div>
      <div class="view-team-advance-request--divider"></div>
      <!-- Custom Fields block -->

      <ng-container *ngIf="advanceRequestCustomFields$|async as advanceRequestCustomFields">
        <div *ngIf="advanceRequestCustomFields?.length > 0">
          <div
            class="view-team-advance-request__element"
            *ngFor="let advanceRequestCustomField of advanceRequestCustomFields; index as i"
          >
            <div
              *ngIf="advanceRequestCustomField?.type === StatisticTypes.DATE?.toUpperCase() && advanceRequestCustomField.value"
            >
              <app-fy-statistic
                icon="../../../../assets/svg/calendar.svg"
                [type]="StatisticTypes.DATE"
                [label]="advanceRequestCustomField?.name"
                [value]="advanceRequestCustomField?.value | date: 'MMM dd, YYYY'"
              ></app-fy-statistic>
            </div>
            <div
              *ngIf="advanceRequestCustomField?.type === StatisticTypes.DATE?.toUpperCase() && !advanceRequestCustomField.value"
            >
              <app-fy-statistic
                icon="../../../../assets/svg/calendar.svg"
                [type]="StatisticTypes.DATE"
                [label]="advanceRequestCustomField?.name"
                [value]="'-'"
              ></app-fy-statistic>
            </div>
            <div *ngIf="advanceRequestCustomField?.type === StatisticTypes.BOOLEAN?.toUpperCase()">
              <app-fy-statistic
                icon="../../../../assets/svg/list.svg"
                [type]="StatisticTypes.BOOLEAN"
                [label]="advanceRequestCustomField?.name"
                [value]="advanceRequestCustomField?.value ? 'Yes' : 'No'"
              ></app-fy-statistic>
            </div>
            <div
              *ngIf="advanceRequestCustomField?.type !== StatisticTypes.BOOLEAN?.toUpperCase() && advanceRequestCustomField?.type !== 'DATE'"
            >
              <app-fy-statistic
                icon="../../../../assets/svg/list.svg"
                [type]="StatisticTypes.BOOLEAN"
                [label]="advanceRequestCustomField?.name"
                [value]="advanceRequestCustomField?.value || '-'"
              ></app-fy-statistic>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ion-content>

<ion-footer *ngIf="showAdvanceActions$|async">
  <ion-toolbar class="fy-footer-cta-container" mode="md">
    <ion-button class="fy-footer-cta fy-footer-cta--primary" (click)="openActionSheet()"> Advance Actions </ion-button>
  </ion-toolbar>
</ion-footer>
