@import '../../../theme/colors';

.dashboard {
  &--header {
    background: linear-gradient(27.66deg, #E1EEFF 12.53%, #FFE4FB 83.29%);
  }

  &--toolbar {
    border-bottom: 1px solid $grey-lightest;
  }

  &--body {
    --background: #{$white};
  }

  &--tabs {
    .mat-tab-header {
      display: none;
    }
  }
}

.stats {
  &--toolbar {
    --background: none;
  }

  &--title {
    --color: #{$black-2};
  }

  &--action-shortcut-icon {
    font-size: 24px;
  }

  &--action-shortcut {
    padding-right: 12px;
    padding-top: 2px;
  }
}
