@import '../../../theme/colors';

.dashboard {
  &--title {
    padding: 18px 0 18px 12px;
    color: $black;
  }

  &--toolbar {
    border-bottom: 1px solid $grey-lightest;
  }

  &--background-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: $white;
  }

  &--background {
    background: url('../../../assets/images/dashboard-bg.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 170px;
  }

  &--body {
    --background: none;
    --padding-bottom: 82px;
  }

  &--tabs {
    .mat-mdc-tab-header {
      display: none;
    }
  }
}

.tasks {
  &--header-btn {
    --padding-start: 8px !important;
    --padding-end: 8px !important;
  }
}

.stats {
  &--toolbar {
    --background: none;
  }

  &--title {
    --color: #{$black-2};
  }

  &--action-shortcut-icon {
    font-size: 24px;
  }

  &--action-shortcut {
    padding-right: 12px;
    padding-top: 2px;
  }
}
