@import '../../../theme/colors';

.dashboard {
  &--title {
    padding: 18px 0 18px 12px;
    color: $black;
  }

  &--header {
    background: linear-gradient(27.66deg, #e1eeff 12.53%, #ffe4fb 83.29%);
  }

  &--toolbar {
    border-bottom: 1px solid $grey-lightest;
  }

  &--body {
    --background: #{$white};
  }

  &--tabs {
    .mat-mdc-tab-header {
      display: none;
    }
  }
}

.tasks {
  &--header-btn {
    --padding-start: 8px !important;
    --padding-end: 8px !important;
  }
}

.stats {
  &--toolbar {
    --background: none;
  }

  &--title {
    --color: #{$black-2};
  }

  &--action-shortcut-icon {
    font-size: 24px;
  }

  &--action-shortcut {
    padding-right: 12px;
    padding-top: 2px;
  }
}
