<ion-header>
  <div class="dashboard--header">
    <ion-toolbar>

      <ion-buttons *ngIf="!this.isDashboardCardExpanded" slot="start">
        <ion-menu-button class="dashboard--menubutton" auto-hide="false" ></ion-menu-button>
      </ion-buttons>

      <ion-buttons class="dashboard--menubutton" *ngIf="this.isDashboardCardExpanded" (click)="this.backButtonClick()">
        Back <!-- will put icon here later -->
      </ion-buttons>


      <ion-title class="dashboard--title text-capitalize">{{this.pageTitle}}</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
	<div class="dashboard--container">
    <div class="dashboard--card" *ngFor="let item of this.dashboardList; index as $index;">
      <div *ngIf="this.item.isVisible && !this.item.isCollapsed">
        <app-enterprise-dashboard-card [dashboardList]="this.dashboardList" [index]="$index"></app-enterprise-dashboard-card>
      </div>
    </div>
    
  </div>

  
</ion-content>