$item-border-color: #e0e0e0;
$background-color: #fff;
$menu-botton-color: #000;

.dashboard {
  &--header {
    background-color: $background-color;
    height: 80px !important;
    border-bottom: 1px solid $item-border-color;

    &-toolbar {
      border-bottom: 1px solid $item-border-color;
    }
  }

  &--menubutton {
    color: $menu-botton-color;
  }

  &--title {
    line-height: 1.3;
    color: $menu-botton-color;
    text-align: left;
  } 
  
  &--container {
	 margin-top: 0; /*this is for android and web, fix this later for iphone xr*/
  }

  &--footer {
    height: 80px;
    background-color: $background-color;

    &-toolbar {
      border-top: 1px solid $item-border-color;
    }
  }
}