@use '../../../theme/colors.scss';
@use 'sass:map';

.dashboard {
  &--title {
    padding: 18px 0 18px 12px;
    color: colors.$black;
  }

  &--toolbar {
    border-bottom: 1px solid colors.$grey-lightest;
  }

  // requred for page navigation as the page contents are shown/hidden dynamically
  &--background-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: colors.$white;
  }

  &--body {
    --background: none;
    --padding-bottom: 82px;
  }

  &--tabs {
    .mat-mdc-tab-header {
      display: none;
    }
  }

  &--segment {
    ion-segment-button {
      --indicator-color: transparent;
      --color: #{colors.$black-light};
      --color-checked: #{colors.$black-light};
      --background: transparent;
      --background-checked: transparent;
      --border-radius: 0;
      --border-width: 0;
      --border-style: none;
      --padding-start: 0;
      --padding-end: 0;
      --margin-start: 0;
      --margin-end: 16px;
      min-width: auto;
      font-size: 14px;
      font-weight: 500;
      text-transform: capitalize;

      &::part(indicator-background) {
        background: transparent;
      }

      &.segment-button-checked {
        --color: #{colors.$black-light};
        color: colors.$black-light !important;
        margin: 0;
        padding: 0;

        &::part(indicator-background) {
          background: transparent;
        }
      }

      &.segment-button-checked::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: colors.$brand-primary;
      }
    }
  }

  &--greetings-text {
    padding: 8px 16px 4px 16px;
    font-size: 18px;
    font-weight: 500;
    color: colors.$black-light;
  }

  &--pending-tasks-stat {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid colors.$lighter-grey;
    margin: 14px 16px 0 16px;
    background-color: colors.$pure-white;
  }

  &--pending-tasks-stat-container {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    justify-content: space-between;
  }

  &--pending-tasks-stat-content {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &--pending-tasks-stat-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
  }

  &--pending-tasks-stat-icon-pill {
    position: absolute;
    background-color: colors.$stat-badge-blue;
    color: colors.$pure-white;
    line-height: 8px;
    top: -6px;
    margin-left: 10px;
    font-size: 75%;
    font-weight: 700;
    text-align: center;
    padding: 4px;
    border-radius: 20px;
    white-space: nowrap;
    min-width: 16px;
  }

  &--pending-tasks-stat-text {
    font-size: 14px;
    font-weight: 500;
    color: colors.$black-light;
  }

  &--pending-tasks-stat-arrow-button {
    display: flex;
    position: relative;
    color: colors.$black-light;
  }

  &--handwave {
    display: inline-block;
    transform-origin: 70% 70%;
    animation: handwave-animation 2.5s forwards;

    @keyframes handwave-animation {
      0% {
        transform: rotate(0deg);
      }

      10% {
        transform: rotate(14deg);
      }

      20% {
        transform: rotate(-8deg);
      }

      30% {
        transform: rotate(14deg);
      }

      40% {
        transform: rotate(-4deg);
      }

      50% {
        transform: rotate(10deg);
      }

      60% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(0deg);
      }
    }
  }
}

.tasks {
  &--header-btn {
    --padding-start: 8px !important;
    --padding-end: 8px !important;
  }
}

.stats {
  &--toolbar {
    --background: none;
  }

  &--title {
    --color: #{colors.$black-2};
  }

  &--action-shortcut-icon {
    font-size: 24px;
  }

  &--action-shortcut-plus-icon {
    height: 20px;
    width: 20px;
  }

  &--action-shortcut-container {
    padding: 20px;
  }

  &--action-shortcut {
    padding-right: 12px;
    padding-top: 2px;
    display: flex;
    align-items: center;
    color: colors.$brand-primary;
    font-size: 14px;
    font-weight: 500;
    gap: 4px;
    border-radius: 32px;
    padding: 8px 16px;
    border: 2px solid colors.$brand-primary;

    &--skeleton-icon {
      margin-right: 12px;
      width: 24px;
      height: 24px;
      border-radius: 5px;
    }
  }
}
