$offline-title: #4a4a4a;
$offline-sub-title: #ababab;
$name: #aaa;
$header-text: #aaa;
$uncompleted: #f90;
$completed: #25ae88;

.sign-up-details-enterprise {
  padding: 36px;
  &--email {
    font-size: 14px;
    color: $header-text;
    line-height: 1.5;
    margin: 0 0 24px 20px;
  }

  &--form-header-container {
    margin-left: 20px;
  }

  &--form-header {
    font-size: 18px;
    margin: 0 0 10px;
    position: relative;

    &__uncomplete {
      color: #f90 !important;
      position: absolute;
      font-size: 16px;
      height: 14px;
      width: 14px;
      left: -24px;
      top: -2px;
    }

    &__completed {
      color: #25ae88 !important;
      position: absolute;
      font-size: 16px;
      height: 14px;
      width: 14px;
      left: -24px;
      top: -2px;
    }
  }

  &--form-sub-header {
    color: $header-text;
    margin: 0 0 10px;
  }

  &--checkbox {
    display: flex;
    margin: 12px 0;
  }

  &--checkbox-internal {
    height: 22px;
    width: 24px;
    margin-right: 8px;
    &__invalid {
      --border-color: red;
    }
  }

  &--form-label {
    margin-top: 14px;
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    width: 100%;
    color: $header-text;
    &::after {
      content: '*';
      position: relative;
      left: -4px;
    }
    &__invalid {
      color: red;
    }

    &__not_required {
      &::after {
        content: none;
      }
    }
  }

  &--form-field {
    width: 100%;
  }

  &--password-visibility {
    color: $header-text;
    position: relative;
    top: -7px;
  }

  &--error {
    color: #f00;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  &--password-rules {
    padding: 14px 0;
  }

  &--header {
    display: flex;
    align-items: center;
    margin: 24px 20px;
  }

  &--close {
    color: $header-text;
  }

  &--save {
    height: 48px;
    margin-top: 24px;
    width: 100%;

    &__disabled {
      opacity: 0.2;
    }
  }

  &--validation {
    &__correct {
      color: green;
      position: relative;
      top: 2px;
    }

    &__incorrect {
      color: red;
      position: relative;
      top: 2px;
    }
  }

  &--password-visibility {
    color: $header-text;
    position: relative;
    top: -7px;
  }

  &--password-rules {
    padding: 14px 0;
  }
}

.sign-up-details-enterprise-offline {
  margin-top: 75px;
  padding: 15px;
  &--image {
    max-width: 125px;
  }
  &--title {
    font-size: 16px;
    display: block;
    margin-bottom: 16px;
    color: $offline-title;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 16px;
  }
  &--sub-title {
    color: $offline-sub-title;
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 24px;
    padding: 0 8px;
  }
}
