<ion-content>
  <div class="sign-up-details-enterprise" *ngIf="(isConnected$|async)">
    <div class="sign-up-details-enterprise--email">
      {{currentUserEmail}}
    </div>
    <div class="sign-up-details-enterprise--form-header-container">
      <div class="sign-up-details-enterprise--form-header">
        What do you want to use Fyle for?
      </div>
      <div class="sign-up-details-enterprise--form-sub-header">
        Help us choose the correct plan for you
      </div>
    </div>
    <div class="sign-up-details-enterprise--header">
      <div>
        Automate and stream line expense management at my company
      </div>
      <div>
        <mat-icon class="sign-up-details-enterprise--close" aria-hidden="false" aria-label="close"
          [routerLink]="['/','auth','sign-up']" routerLinkActive="router-link-active">close</mat-icon>
      </div>
    </div>
    <div>
      <form [formGroup]="fg">
        <div
          [ngClass]="{'sign-up-details-enterprise--form-label__invalid': (!fg.controls.role.valid && fg.controls.role.touched) }"
          class="sign-up-details-enterprise--form-label">
          What is your role in your company?
        </div>
        <mat-form-field class="mat-form-field-no-padding sign-up-details-enterprise--form-field" appearance="outline"
          (click)="openRoleDialog()">
          <input formControlName="role" type="text" matInput placeholder="Choose your role">
        </mat-form-field>
        <div
          [ngClass]="{'sign-up-details-enterprise--form-label__invalid': (!fg.controls.count.valid && fg.controls.count.touched) }"
          class="sign-up-details-enterprise--form-label">
          How many Employees does your company have?
        </div>
        <mat-form-field class="mat-form-field-no-padding sign-up-details-enterprise--form-field" appearance="outline"
          (click)="openEmployeeCountDialog()">
          <input formControlName="count" placeholder="Choose employee count" matInput>
        </mat-form-field>
      </form>
    </div>
    <div>
      <button [ngClass]="{'sign-up-details-enterprise--save__disabled': !fg.valid}"
        class="sign-up-details-enterprise--save" (click)="continue()" mat-flat-button color="primary">
        Continue
      </button>
    </div>
  </div>
  <div class="sign-up-details-enterprise-offline ion-text-center" *ngIf="!(isConnected$|async)">
    <img class="sign-up-details-enterprise-offline--image" alt="offline-zer-state"
      src="../../../assets/images/zero-states/offline.svg">
    <div class="sign-up-details-enterprise-offline--title">
      Looks like you are offline
    </div>
    <div class="sign-up-details-enterprise-offline--sub-title">
      You need to be connected to Internet to be able to login to the app. Please check if your Internet
      connection is working.
    </div>
  </div>
</ion-content>