<ion-content>
  <div class="sign-up-details-enterprise" *ngIf="(isConnected$|async)">
    <div class="sign-up-details-enterprise--email">
      {{currentUserEmail}}
    </div>
    <div class="sign-up-details-enterprise--form-header-container">
      <div class="sign-up-details-enterprise--form-header">
        <mat-icon *ngIf="currentState === PageStates.secondForm" class="sign-up-details-enterprise--form-header__completed">check_circle</mat-icon>
        <mat-icon *ngIf="currentState !== PageStates.secondForm" class="sign-up-details-enterprise--form-header__uncomplete">fiber_manual_record</mat-icon>
        What do you want to use Fyle for?
      </div>
      <div class="sign-up-details-enterprise--form-header" *ngIf="currentState === PageStates.secondForm">
        <mat-icon *ngIf="currentState === PageStates.secondForm" class="sign-up-details-enterprise--form-header__uncomplete">fiber_manual_record</mat-icon>
        Add your details
      </div>
      <div class="sign-up-details-enterprise--form-sub-header">
        Help us choose the correct plan for you
      </div>
    </div>
    <div *ngIf="currentState === PageStates.firstForm" class="sign-up-details-enterprise--header">
      <div>
        Automate and stream line expense management at my company
      </div>
      <div>
        <mat-icon class="sign-up-details-enterprise--close" aria-hidden="false" aria-label="close"
          [routerLink]="['/','auth','sign_up']" routerLinkActive="router-link-active">close</mat-icon>
      </div>
    </div>
    <div *ngIf="currentState === PageStates.firstForm">
      <form [formGroup]="fg">
        <div
          [ngClass]="{'sign-up-details-enterprise--form-label__invalid': (!fg.controls.role.valid && fg.controls.role.touched) }"
          class="sign-up-details-enterprise--form-label">
          What is your role in your company?
        </div>
        <mat-form-field class="mat-form-field-no-padding sign-up-details-enterprise--form-field" appearance="outline"
          (click)="openRoleDialog()">
          <input formControlName="role" type="text" matInput placeholder="Choose your role">
        </mat-form-field>
        <div class="sign-up-details-enterprise--error" *ngIf="(!fg.controls.role.valid && fg.controls.role.touched)">
          Please enter a title
        </div>
        <div
          [ngClass]="{'sign-up-details-enterprise--form-label__invalid': (!fg.controls.count.valid && fg.controls.count.touched) }"
          class="sign-up-details-enterprise--form-label">
          How many Employees does your company have?
        </div>
        <mat-form-field class="mat-form-field-no-padding sign-up-details-enterprise--form-field" appearance="outline"
          (click)="openEmployeeCountDialog()">
          <input formControlName="count" placeholder="Choose employee count" matInput>
        </mat-form-field>
        <div class="sign-up-details-enterprise--error" *ngIf="(!fg.controls.count.valid && fg.controls.count.touched)">
          Please select the number of employees
        </div>
      </form>
    </div>
    <div *ngIf="currentState === PageStates.secondForm">
      <form [formGroup]="sfg">
        <div
          [ngClass]="{'sign-up-details-enterprise--form-label__invalid': (!sfg.controls.name.valid && sfg.controls.name.touched) }"
          class="sign-up-details-enterprise--form-label">
          Full Name?
        </div>
        <mat-form-field class="mat-form-field-no-padding sign-up-details-enterprise--form-field" appearance="outline">
          <input formControlName="name" type="text" matInput placeholder="John Doe">
        </mat-form-field>
        <div class="sign-up-details-enterprise--error" *ngIf="(!sfg.controls.name.valid && sfg.controls.name.touched)">
          Please enter a name
        </div>
        <div
          [ngClass]="{'sign-up-details-enterprise--form-label__invalid': (!sfg.controls.country.valid && sfg.controls.country.touched) }"
          class="sign-up-details-enterprise--form-label">
          Country
        </div>
        <mat-form-field class="mat-form-field-no-padding sign-up-details-enterprise--form-field" appearance="outline"
          (click)="openCountryDialog()">
          <input formControlName="country" matInput>
        </mat-form-field>
        <div class="sign-up-details-enterprise--error" *ngIf="(!sfg.controls.country.valid && sfg.controls.country.touched)">
          Please select a country.
        </div>
        <div
          [ngClass]="{'sign-up-details-enterprise--form-label__invalid': (!sfg.controls.region.valid && sfg.controls.region.touched) }"
          class="sign-up-details-enterprise--form-label">
          Region
        </div>
        <mat-form-field class="mat-form-field-no-padding sign-up-details-enterprise--form-field" appearance="outline"
          (click)="openRegionDialog()">
          <input formControlName="region" matInput placeholder="Select a region">
        </mat-form-field>
        <div class="sign-up-details-enterprise--error" *ngIf="(!sfg.controls.region.valid && sfg.controls.region.touched)">
          Please select a region.
        </div>
        <div
          [ngClass]="{'sign-up-details-enterprise--form-label__invalid': (!sfg.controls.password.valid && sfg.controls.password.touched) }"
          class="sign-up-details-enterprise--form-label">
          Password
        </div>
        <mat-form-field class="mat-form-field-no-padding sign-up-details-enterprise--form-field" appearance="outline">
          <input formControlName="password" type="password" matInput [type]="hide ? 'password': 'text'"
            placeholder="minimum 12 chars">
          <mat-icon class="sign-up-details-enterprise--password-visibility-icon" color="accent" matSuffix
            (click)="hide = !hide">
            {{hide ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </mat-form-field>
        <div class="sign-up-details-enterprise--error" *ngIf="(!sfg.controls.password.valid && sfg.controls.password.touched)">
          Please enter a password.
        </div>
        <div *ngIf="sfg.controls.password.dirty" class="sign-up-details-enterprise--password-rules">
          <div>
            <span>
              <ion-icon *ngIf="lengthValidationDisplay$|async" class="sign-up-details-enterprise--validation__correct"
                name="checkmark-outline"></ion-icon>
              <ion-icon *ngIf="!(lengthValidationDisplay$|async)"
                class="sign-up-details-enterprise--validation__incorrect" name="close-outline"></ion-icon>
            </span>
            <span>
              Is between 12 to 32 characters
            </span>
          </div>
          <div>
            <span>
              <ion-icon *ngIf="uppercaseValidationDisplay$|async"
                class="sign-up-details-enterprise--validation__correct" name="checkmark-outline"></ion-icon>
              <ion-icon *ngIf="!(uppercaseValidationDisplay$|async)"
                class="sign-up-details-enterprise--validation__incorrect" name="close-outline"></ion-icon>
            </span>
            <span>
              Contains atleast 1 uppercase character
            </span>
          </div>
          <div>
            <span>
              <ion-icon *ngIf="numberValidationDisplay$|async" class="sign-up-details-enterprise--validation__correct"
                name="checkmark-outline"></ion-icon>
              <ion-icon *ngIf="!(numberValidationDisplay$|async)"
                class="sign-up-details-enterprise--validation__incorrect" name="close-outline"></ion-icon>
            </span>
            <span>
              Contains atleast 1 number
            </span>
          </div>
          <div>
            <span>
              <ion-icon *ngIf="specialCharValidationDisplay$|async"
                class="sign-up-details-enterprise--validation__correct" name="checkmark-outline"></ion-icon>
              <ion-icon *ngIf="!(specialCharValidationDisplay$|async)"
                class="sign-up-details-enterprise--validation__incorrect" name="close-outline"></ion-icon>
            </span>
            <span>
              Contains atleast 1 special character
            </span>
          </div>
        </div>

        <div class="sign-up-details-enterprise--form-label sign-up-details-enterprise--form-label__not_required">
          Phone (Optional)
        </div>
        <mat-form-field class="mat-form-field-no-padding sign-up-details-enterprise--form-field" appearance="outline">
          <input formControlName="phone" inputmode="decimal" type="number" matInput placeholder="In case we need to contact you">
        </mat-form-field>
        <div class="sign-up-details-enterprise--form-field sign-up-details-enterprise--checkbox">
          <ion-checkbox class="sign-up-details-enterprise--checkbox-internal" formControlName="tos" color="fyle-primary"
            [ngClass]="{'sign-up-details-enterprise--checkbox-internal__invalid':(!sfg.controls.tos.valid && sfg.controls.tos.touched) }" mode="ios"></ion-checkbox>
          <div>
            I agree to the <a (click)="openLinkInApp('https://www.fylehq.com/privacy/terms-and-conditions')">terms of
              service</a>
            and <a (click)="openLinkInApp('https://www.fylehq.com/privacy/privacy-policy')">privacy
              policy</a>
          </div>
        </div>
        <div class="sign-up-details-enterprise--error" *ngIf="(!sfg.controls.tos.valid && sfg.controls.tos.touched)">
          Please agree.
        </div>
      </form>

    </div>
    <div *ngIf="currentState === PageStates.firstForm">
      <button class="sign-up-details-enterprise--save" (click)="continue()" mat-flat-button color="primary"
        appFormButtonValidation [loading]="preVerificationLoader">
        Continue
      </button>
    </div>

    <div *ngIf="currentState === PageStates.secondForm">
      <button
        class="sign-up-details-enterprise--save" (click)="signUp()" mat-flat-button color="primary"
        appFormButtonValidation [loading]="finalSignupLoading" [loadingText]="'Finishing'">
        Finish
      </button>
    </div>

  </div>
  <div class="sign-up-details-enterprise-offline ion-text-center" *ngIf="!(isConnected$|async)">
    <img class="sign-up-details-enterprise-offline--image" alt="offline-zer-state"
      src="../../../assets/images/zero-states/offline.svg">
    <div class="sign-up-details-enterprise-offline--title">
      Looks like you are offline
    </div>
    <div class="sign-up-details-enterprise-offline--sub-title">
      You need to be connected to Internet to be able to login to the app. Please check if your Internet
      connection is working.
    </div>
  </div>
</ion-content>
