@use '../../../../theme/colors.scss';

$message: #2c304e;

.alert-info-container {
  border-radius: 8px;
  overflow: hidden;
  margin: 8px 0;
  display: flex;

  &--information {
    border: 1px solid colors.$info-500;
  }

  &--warning {
    border: 1px solid colors.$caution-500;
  }

  &--danger {
    border: 1px solid colors.$negative-400;
  }

  &--icon-container {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--information {
      background-color: colors.$info-500;
    }

    &--warning {
      background-color: colors.$caution-500;
    }

    &--danger {
      background-color: colors.$negative-400;
    }

    &--icon {
      height: 16px;
      width: 16px;
      min-width: 16px;
    }
  }

  &--message {
    padding: 8px 12px;
    padding-right: 0;
    display: flex;
    align-items: center;
    color: $message;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
  }

  &--button {
    font-size: 14px;
    line-height: 15px;
    font-weight: 500;
    color: colors.$brand-primary;
  }

  &--button-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
