<div class="alert-info-container">
  <mat-icon *ngIf="type === 'information'" class="alert-info-container--icon" svgIcon="info-circle-fill"></mat-icon>
  <mat-icon
    *ngIf="type === 'warning'"
    class="alert-info-container--icon icon--alert-warning"
    svgIcon="warning-fill"
  ></mat-icon>
  <mat-icon *ngIf="type === 'error'" class="alert-info-container--icon" svgIcon="warning-fill"></mat-icon>
  <mat-icon *ngIf="type === 'danger'" class="alert-info-container--icon--danger" svgIcon="danger-fill"></mat-icon>
  <div class="alert-info-container--message">{{ message }}</div>
  <div *ngIf="showActionButton" class="alert-info-container--button-container">
    <ion-button
      class="text-capitalize alert-info-container--button"
      mode="md"
      fill="clear"
      color="fy-primary"
      (click)="onActionClick()"
    >
      {{ actionButtonContent }}
    </ion-button>
  </div>
</div>
