<div class="alert-info-container alert-info-container--{{ type }}">
  <div class="alert-info-container--icon-container alert-info-container--icon-container--{{ type }}">
    @if (type === 'information') {
      <mat-icon class="alert-info-container--icon-container--icon" svgIcon="alert-info-icon"></mat-icon>
    }
    @if (type === 'warning') {
      <mat-icon class="alert-info-container--icon-container--icon" svgIcon="alert-warning-icon"></mat-icon>
    }
    @if (type === 'danger') {
      <mat-icon class="alert-info-container--icon-container--icon" svgIcon="alert-danger-icon"></mat-icon>
    }
  </div>
  <div class="alert-info-container--message">
    @if (allowHtml) {
      <span [innerHTML]="message"></span>
    } @else {
      {{ message }}
    }
  </div>
  @if (showActionButton) {
    <div class="alert-info-container--button-container">
      <ion-button
        class="text-capitalize alert-info-container--button"
        mode="md"
        fill="clear"
        color="fy-primary"
        (click)="onActionClick()"
      >
        {{ actionButtonContent }}
      </ion-button>
    </div>
  }
</div>
