<div class="alert-info-container alert-info-container--{{ type() + variant() }}">
  <!-- icon -->
  <div class="alert-info-container--icon-container alert-info-container--icon-container--{{ type() + variant() }}">
    <mat-icon class="alert-info-container--icon-container--icon" svgIcon="{{ iconName() }}"></mat-icon>
  </div>

  <!-- message -->
  <div class="alert-info-container--message">
    @if (allowHtml) {
      <span [innerHTML]="message"></span>
    } @else {
      {{ message }}
    }
  </div>

  <!-- button -->
  @if (showActionButton) {
    <div class="alert-info-container--button-container">
      <ion-button
        class="text-capitalize alert-info-container--button"
        mode="md"
        fill="clear"
        color="fy-primary"
        (click)="onActionClick()"
      >
        {{ actionButtonContent }}
      </ion-button>
    </div>
  }
</div>
