<ion-header class="ion-no-border">
  <div class="advance-requests--header">
    <ion-toolbar mode="md">
      <ion-buttons slot="end" mode="md">
        <ion-button mode="md" class="advance-requests--header_close-button" (click)="closeModal()">
          <mat-icon>close</mat-icon>
        </ion-button>
      </ion-buttons>
      <ion-title mode="md" class="advance-requests--header-title text-capitalize">Advance Request</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div *ngFor="let advanceRequest of advanceRequests">
    <div class="advance-requests--card">
      <div (click)="advanceRequest.isOpened = !advanceRequest.isOpened" matRipple class="advance-requests--header">
        <div class="advance-requests--advance-number">Advance {{ advanceRequest.advance_request_number }}</div>
        <div class="advance-requests--advance-amount">
          <ng-container *ngIf="homeCurrency$ | async as homeCurrency">
            Amount: {{ advanceRequest.amount | currency: homeCurrency:'symbol-narrow' }}
          </ng-container>
        </div>
      </div>
      <div class="advance-requests--content" *ngIf="advanceRequest.isOpened">
        <ng-container *ngIf="homeCurrency$ | async as homeCurrency">
          <div class="advance-requests--element">
            <div class="advance-requests--element-label">Amount</div>
            <div class="advance-requests--element-value">
              <ng-container *ngIf="advanceRequest.amount">
                {{ advanceRequest.amount }}
              </ng-container>
              <ng-container *ngIf="!advanceRequest.amount"> - </ng-container>
            </div>
          </div>
        </ng-container>
        <div class="advance-requests--element">
          <div class="advance-requests--element-label">Purpose</div>
          <div class="advance-requests--element-value">
            {{ advanceRequest.purpose || '-' }}
          </div>
        </div>

        <div class="advance-requests--element">
          <div class="advance-requests--element-label">Notes</div>
          <div class="advance-requests--element-value">
            {{ advanceRequest.notes || '-' }}
          </div>
        </div>

        <div class="advance-requests--element" *ngFor="let customField of advanceRequest.custom_field_values">
          <div class="advance-requests--element-label">
            {{ customField.name }}
          </div>
          <div class="advance-requests--element-value" *ngIf="customField.type === 'DATE'">
            {{ customField.value | date: 'MMM dd, yyyy' || '-' }}
          </div>
          <div class="advance-requests--element-value" *ngIf="customField.type === 'BOOLEAN'">
            {{ customField.value ? 'Yes' : 'No' }}
          </div>
          <div
            class="advance-requests--element-value"
            *ngIf="customField.type !== 'BOOLEAN' && customField.type !== 'DATE'"
          >
            {{ customField?.value?.display || customField.value || '-' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
