@import "../../../../theme/colors.scss";

.fy-select-vehicle {
  display: flex;
  align-items: center;
  &--label {
    margin: 0 8px 0 0;
    min-width: 145px;
    font-size: 14px;
    color: $blue-black;
    font-weight: 400;
    line-height: 16px;
    white-space: nowrap;
  }
  &--selectors {
    padding: 0 8px;
    display: flex;
  }
  &--selector {
    padding: 4px 8px;
    font-size: 24px;
    color: #ababab;
    &__selected {
      color: $primary;
    }
  }
  &--mandatory {
    color: $primary;
    font-size: 14px;
    font-weight: 400;
  }
}
