<div class="fy-select-vehicle">
  <div class="fy-select-vehicle--label">
    {{label}}
    <span *ngIf="mandatory" class="fy-select-vehicle--mandatory">
      *
    </span>
  </div>
  <div class="fy-select-vehicle--selectors">
    <div class="fy-select-vehicle--selector"
      [ngClass]="{ 'fy-select-vehicle--selector__selected' : value === 'two_wheeler'}"
      (click)="selectType('two_wheeler')" *ngIf="mileageConfig.two_wheeler || value === 'two_wheeler'">
      <ion-icon name="bicycle"></ion-icon>
    </div>
    <div class="fy-select-vehicle--selector"
      [ngClass]="{ 'fy-select-vehicle--selector__selected' : value === 'four_wheeler'}"
      (click)="selectType('four_wheeler')" *ngIf="mileageConfig.four_wheeler || value === 'four_wheeler'">
      <ion-icon name="car"></ion-icon>
    </div>
    <div class="fy-select-vehicle--selector"
      [ngClass]="{ 'fy-select-vehicle--selector__selected' : value === 'four_wheeler1'}"
      (click)="selectType('four_wheeler1')" *ngIf="mileageConfig.four_wheeler1 || value === 'four_wheeler1'">
      <ion-icon name="car-sport"></ion-icon>
    </div>
  </div>
</div>
