@import '../../../../../theme/colors.scss';

.show-all-approvers-popover {
  &--header {
    padding: 10px 4px;
  }

  &--content-container {
    --keyboard-offset: 0px !important;
    height: 100%;
  }

  &--content {
    padding: 0 16px 16px;
    font-size: 12px;

    &__div {
      padding: 14px 0;
    }
  }

  &--toolbar {
    padding: 0 0 10px;
    --background: #{$pure-white};

    &__title {
      font-size: 20px;
      line-height: 1.3;
      font-weight: 500;
      color: $black;
    }

    &__btn-save {
      font-size: 16px;
      --color: #{$brand-primary};
      text-transform: none;
    }
  }

  &__approver-step-number {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $pure-white;
    border: 1px solid $border-tertiary;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__approver-step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 32px;
    align-items: center;
    margin-right: 16px;
  }

  &__approver-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__approvers-list {
    padding: 16px;
  }

  &__approver-item-line {
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__approver-details {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-grow: 1;
    &__status {
      display: flex;
      align-items: start;
      justify-content: center;
      gap: 6px;
      color: $dark-grey;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: var(--Font-line-height-auto, 18px); /* 150% */
    }
  }

  &__dot {
    border-radius: 50%;
    height: 8px;
    width: 8px;
    margin-top: 6px;
    &__done {
      background-color: $green;
    }
    &__pending {
      background-color: $dark-yellow;
    }
  }

  &__approver-name {
    color: $black;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  &__approver-email {
    color: $dark-grey;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }
}
