<ion-header mode="ios" class="show-all-approvers-popover--header">
  <ion-toolbar class="show-all-approvers-popover--toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="closePopover()">
        <mat-icon class="fy-icon-close" svgIcon="cross"></mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="show-all-approvers-popover--toolbar__title"> All approvers </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false" class="no-keyboard-adjust">
  <div class="show-all-approvers-popover__approvers-list">
    <div class="show-all-approvers-popover__approver-item" *ngFor="let approval of approvals; index as i">
      <div class="show-all-approvers-popover__approver-item-container">
        <div class="show-all-approvers-popover__approver-step">
          <div class="show-all-approvers-popover__approver-step-number">{{ i + 1 }}</div>
          <ion-icon
            *ngIf="i !== approvals.length - 1"
            [src]="'/assets/svg/line-default.svg'"
            slot="icon-only"
          ></ion-icon>
        </div>
        <div class="show-all-approvers-popover__approver-details">
          <div>
            <div class="show-all-approvers-popover__approver-name">
              {{ approval.approver_user.full_name | ellipsis : 25 }}
            </div>
            <div class="show-all-approvers-popover__approver-email">{{ approval.approver_user.email }}</div>
          </div>
          <div class="show-all-approvers-popover__approver-details__status">
            <div
              class="show-all-approvers-popover__dot"
              [ngClass]="{
                'show-all-approvers-popover__dot__done': approval.state === approvalState.APPROVAL_DONE,
                'show-all-approvers-popover__dot__pending': approval.state === approvalState.APPROVAL_PENDING
              }"
            ></div>
            <div
              *ngIf="approval.state === approvalState.APPROVAL_PENDING"
              class="show-all-approvers-popover__approver-state-pending"
            >
              Approval pending
            </div>
            <div
              *ngIf="approval.state === approvalState.APPROVAL_DONE"
              class="show-all-approvers-popover__approver-state-done"
            >
              Approved
            </div>
          </div>
        </div>
      </div>
      <div class="show-all-approvers-popover__approver-item-line">
        <ion-icon *ngIf="i !== approvals.length - 1" [src]="'/assets/svg/line-default.svg'" slot="icon-only"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
