<ion-header mode="md">
  <ion-toolbar mode="md" class="fy-modal-toolbar input-popover--toolbar">
    <ion-title class="text-center">
      <div class="input-popover--toolbar__title">{{ title }}</div>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closePopover()">
        <mat-icon class="fy-icon-close" svgIcon="fy-close"></mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <button
        [disabled]="isRequired && !inputValue?.trim().length"
        class="input-popover--toolbar__btn"
        (click)="saveValue()"
      >
        {{ ctaText }}
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="input-popover--input-container">
  <div class="input-popover--input-container__label">
    <span> {{ inputLabel }} </span>
    <span *ngIf="isRequired" class="input-popover--input-container__mandatory"> * </span>
  </div>
  <input
    #input
    matInput
    [(ngModel)]="inputValue"
    class="input-popover--input-container__input smartlook-show"
    [placeholder]="placeholder?.length ? placeholder : 'Enter ' + inputLabel"
    [type]="inputType"
    [maxlength]="inputType === 'tel' ? 15 : null"
    [minlength]="inputType === 'tel' ? 7 : null"
  />
</div>
