@import '.././../../../theme/colors.scss';

.add-expenses-to-report {
  &--toolbar {
    background-color: $pure-white;
    border-bottom: 1px solid $grey-lighter;
  }

  &--title-container {
    color: $black;
    font-weight: 500;
    margin-left: -10%;
  }

  &--title {
    font-size: 20px;
    line-height: 26px;
  }

  &--close {
    margin-left: 16px;
  }

  &--container {
    padding: 0 16px;
    position: absolute;
    height: 75%;
  }

  &--select-all-checkbox {
    font-size: 14px;
    padding: 16px 16px;
    background-color: $pure-white;
  }

  &--zero-state-header {
    font-size: 14px;
    display: block;
    margin-bottom: 16px;
    color: $blue-black;
    line-height: 1.5;
    font-weight: 500;
    margin-top: 20%;
  }

  &--footer {
    box-shadow: 0px -2px 40px rgba(215, 215, 215, 0.4);
  }
}
