<ion-header>
  <mat-icon class="fy-modal-top-bar" svgIcon="fy-rectangle"></mat-icon>
  <ion-toolbar class="fy-modal-toolbar">
    <ion-title mode="md" class="ion-text-center"> Select Card Transaction </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onDoneClick()">
        <mat-icon class="fy-icon-close" svgIcon="fy-close"></mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="inner-content">
  <ion-item lines="inset" class="match-transaction--item" matRipple (click)="selectNotInList()">
    <ion-label>
      <span class="match-transaction--item-header">None</span>
      <p class="match-transaction--item-content">Expense won't be matched to any transaction yet.</p>
    </ion-label>
    <ion-icon
      class="match-transaction--selected-icon"
      *ngIf="selectedCCCTransaction === null"
      slot="end"
      src="assets/svg/tick.svg"
    ></ion-icon>
  </ion-item>
  <ion-item
    lines="inset"
    class="match-transaction--item"
    matRipple
    *ngFor="let cccExpense of matchingCCCTransactions"
    (click)="selectCCCExpense(cccExpense)"
  >
    <ion-label>
      <div class="match-transaction--item-header">
        <div class="match-transaction--vendor">
          {{ cccExpense.vendor || cccExpense.description | ellipsis: 20 }}
        </div>
        <div class="match-transaction--amount">
          <span class="match-transaction--currency">{{ cccExpense.currency | currencySymbol }}</span
          >{{ cccExpense.amount }}
        </div>
      </div>
      <p class="match-transaction--item-content">{{ cccExpense.txn_dt | date: 'MMM dd, yyyy' }}</p>
    </ion-label>
    <ion-icon
      class="match-transaction--selected-icon"
      *ngIf="selectedCCCTransaction?.id === cccExpense?.id"
      slot="end"
      src="assets/svg/tick.svg"
    ></ion-icon>
  </ion-item>
</div>
