@import '../../../../theme/colors.scss';

.match-transaction {
  &--matched-amount {
    font-weight: 500;
    line-height: 24px;
  }

  &--currency {
    color: $black-light;
    font-size: 14px;
    font-weight: 400;
  }

  &--amount {
    margin-right: 10px;
  }

  &--selected-icon {
    right: 0px;
    position: absolute;
    font-size: 25px;
    margin: -14px 0 0 0;
    stroke: $black;
    width: 24px;
    height: 24px;
  }

  &--item {
    padding-right: 20px;
  }

  &--item-header {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    color: $black;
    font-size: 18px;
    font-weight: 400;
  }

  &--item-content {
    color: $blue-black;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
  }
}
