<ion-grid class="ion-grid-no-padding org-card__container" matRipple (click)="onSelectOrg()">
  <ion-row>
    <ion-col class="org-card__icon-container">
      <div class="org-card__icon-container__icon content-center">
        @if (!isLoading) {
          {{ org.currency }}
        } @else {
          <ion-skeleton-text animated></ion-skeleton-text>
        }
      </div>
    </ion-col>
    <ion-col class="org-card__content-container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="org-card__content-container__title smartlook-hide">
              @if (!isLoading) {
                {{ org.name }}
              } @else {
                <ion-skeleton-text animated></ion-skeleton-text>
              }
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="org-card__content-container__sub-title">
              @if (!isLoading) {
                {{ org.domain }}
              } @else {
                <ion-skeleton-text animated></ion-skeleton-text>
              }
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
    @if (isPrimaryOrg) {
      <ion-col class="org-card__pill-container">
        <div class="org-card__pill-container__pill">{{ 'orgCard.primaryLabel' | transloco }}</div>
      </ion-col>
    }
  </ion-row>
</ion-grid>
