@import '../../../../theme/colors.scss';

.org-card {
  &__container {
    padding: 14px 0 14px 16px;
    margin-bottom: 16px;
    border: 0.5px solid var(--border-color);
    box-shadow: var(--card-shadow, 0px -2px 40px rgba(215, 215, 215, 0.4));
    border-radius: 8px;
    background-color: var(--background-card);
  }

  &__icon-container {
    max-width: 46px;
    margin-right: 12px;

    &__icon {
      border: 1px solid var(--border-color);
      border-radius: 8px;
      height: 46px;
      color: var(--secondary-text);
      font-weight: 500;
      background-color: var(--background-secondary);
    }
  }

  &__content-container {
    width: calc(100% - 158px);
    padding-right: 8px;

    &__title {
      font-size: 16px;
      font-weight: 500;
      color: var(--primary-text);
      padding-top: 2px;
    }

    &__sub-title {
      font-size: 12px;
      color: var(--secondary-text);
      padding-top: 4px;
    }
  }

  &__pill-container {
    max-width: 66px;

    &__pill {
      background: $blue-black;
      border-radius: 16px 0 0 16px;
      color: $pure-white;
      padding: 4px 0 4px 12px;
      font-size: 12px;
    }
  }
}
