<ion-grid class="ion-grid-no-padding org-card__container" matRipple (click)="onClick()">
  <ion-row>
    <ion-col class="org-card__icon-container">
      <div class="org-card__icon-container__icon content-center">
        <ng-container *ngIf="!isLoading; else skeletonText">
          {{ org.currency }}
        </ng-container>
      </div>
    </ion-col>
    <ion-col class="org-card__content-container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="org-card__content-container__title">
              <ng-container *ngIf="!isLoading; else skeletonText">
                {{ org.name }}
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="org-card__content-container__sub-title">
              <ng-container *ngIf="!isLoading; else skeletonText">
                {{ org.domain }}
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
    <ion-col *ngIf="isPrimaryOrg" class="org-card__pill-container">
      <div class="org-card__pill-container__pill">Default</div>
    </ion-col>
  </ion-row>
</ion-grid>

<ng-template #skeletonText>
  <ion-skeleton-text animated></ion-skeleton-text>
</ng-template>
