<ion-grid class="ion-grid-no-padding org-card__container" matRipple (click)="onSelectOrg()">
  <ion-row>
    <ion-col class="org-card__icon-container">
      <div class="org-card__icon-container__icon content-center">
        {{ org.currency }}
      </div>
    </ion-col>
    <ion-col class="org-card__content-container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="org-card__content-container__title">
              {{ org.name }}
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="org-card__content-container__sub-title">
              {{ org.domain }}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
    <ion-col *ngIf="isPrimaryOrg" class="org-card__pill-container">
      <div class="org-card__pill-container__pill">Default Org</div>
    </ion-col>
  </ion-row>
</ion-grid>
