$verify-header: #220033;
$form-header: #000;
$form-subheader: #4a4a4a;
$password-icon: #b9beba;
$secondary-cta-border: #e0e0e0;

.verify {
  &--header {
    min-height: 180px;
  }

  &--header-container {
    min-height: 180px;
    background-color: $verify-header;
  }

  &--header-logo-container {
    text-align: center;
  }

  &--header-logo {
    max-width: 100px;
  }

  &--form {
    padding: 24px;
  }

  &--form-field {
    width: 100%;
  }

  &--form-header {
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 8px;
    color: $form-header;
    font-weight: 700;
  }

  &--form-subheader {
    font-size: 16px;
    color: $form-subheader;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  &--primary-cta {
    .mat-mdc-button-base {
      width: 100%;
      font-weight: 700;
      min-height: 47px;
    }
  }

  &--password-visibility-icon {
    color: $password-icon;
  }

  &--secondary-cta {
    .mat-mdc-button-base {
      width: 100%;
      font-weight: 700;
      min-height: 47px;
      letter-spacing: 1.6px;
      border: 1px solid $secondary-cta-border;
    }
    margin-top: 24px;
  }

  &--redirect {
    margin: 16px;
    text-align: center;
    font-size: 16px;
    a {
      text-decoration: none;
    }
  }

  &--edit-email {
    text-align: end;
  }
}
