@import '../../../theme/colors';
$verify-header: #220033;
$form-header: #000;
$form-subheader: #4a4a4a;
$password-icon: #b9beba;
$secondary-cta-border: #e0e0e0;

@mixin loader {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 0 4px;
  animation: spin 2s linear infinite;
}

.verify {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__verifying-loader {
    @include loader;
    &__icon {
      fill: $brand-primary;
    }
    &__text {
      margin-top: 8px;
      color: $black;
    }
  }
}
