@use '../../../theme/colors';

@mixin loader {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 0 4px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.verify {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__verifying-loader {
    &__icon {
      @include loader;
      fill: colors.$brand-primary;
      height: 40px;
      width: 40px;
    }

    &__text {
      margin-top: 8px;
      color: colors.$black;
    }
  }
}
