name: Appflow

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:

      - name: Send Message to Slack
        uses: archive/github-actions-slack@v2.0.1
        id: notify
        with:
          slack-bot-user-oauth-access-token: ${{ secrets.SLACK_BOT_USER_OAUTH_ACCESS_TOKEN }}
          slack-channel: C029QPGHSQL
          slack-text: ${{github.event.pull_request.user.login}} created PR on "${{ github.repository }}" \r\n PR link ${{github.event.pull_request.html_url}} \r\n \r\n *Description* \r\n ```${{github.event.pull_request.body}}``` Building Android Build for this branch

      - name: Build Android with Appflow
        uses: ionic-team/appflow-build@v1
        with:
          token: ${{ secrets.APPFLOW_TOKEN }}
          app-id: 32316914
          platform: Android
          build-type: debug
          environment: staging
          native-config: staging
          upload-artifact: Android

      - uses: actions/download-artifact@v2
        id: download
        with:
          name: 'Android'
          path: ./

      - name: Rename file
        run: mv *.apk android.apk
      
      - name: Send Message to Slack
        uses: archive/github-actions-slack@v2.0.1
        id: notify2
        with:
          slack-bot-user-oauth-access-token: ${{ secrets.SLACK_BOT_USER_OAUTH_ACCESS_TOKEN }}
          slack-channel: C029QPGHSQL
          slack-text: Android build is successful for PR link ${{github.event.pull_request.html_url}} 

      - name: Upload to slack step
        uses: adrey/slack-file-upload-action@master
        with:
          token: ${{ secrets.SLACK_BOT_USER_OAUTH_ACCESS_TOKEN }}
          path: android.apk
          channel: C029QPGHSQL

      - name: Build iOS on Appflow
        uses: ionic-team/appflow-build@v1
        with:
          token: ${{ secrets.APPFLOW_TOKEN }}
          app-id: 32316914
          platform: iOS
          build-type: development
          certificate: Fyle signing
          environment: staging
          native-config: prod
          upload-artifact: ios

      - uses: actions/download-artifact@v2
        id: ios
        with: 
          name: 'ios'
          path: ./

      - name: Rename file
        run: mv *.ipa ios.ipa
      
      - name: Send Message to Slack
        uses: archive/github-actions-slack@v2.0.1
        id: notify3
        with:
          slack-bot-user-oauth-access-token: ${{ secrets.SLACK_BOT_USER_OAUTH_ACCESS_TOKEN }}
          slack-channel: C029QPGHSQL
          slack-text: iOS build is successful for PR link ${{github.event.pull_request.html_url}} 

      - name: Upload to slack step
        uses: adrey/slack-file-upload-action@master
        with:
          token: ${{ secrets.SLACK_BOT_USER_OAUTH_ACCESS_TOKEN }}
          path: ios.ipa
          channel: C029QPGHSQL         

