name: Pull Request Labeling

on: [pull_request]

jobs:
  size:
    runs-on: ubuntu-latest
    name: Label the PR size
    steps:
      - uses: "pascalgn/size-label-action@v0.5.4"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          sizes: >
            {
              "0": "XS",
              "20": "S",
              "50": "M",
              "250": "L",
              "800": "XL"
            }
