<ion-grid class="ion-no-padding">
  <ion-row class="skeleton-card">
    <ion-col class="skeleton-card__content-container">
      <ion-skeleton-text animated class="skeleton-card__content-container__header"></ion-skeleton-text>
      <ion-skeleton-text animated class="skeleton-card__content-container__sub-header"></ion-skeleton-text>
    </ion-col>
  </ion-row>

  @for (row of rows; track $index; let i = $index) {
    <ion-row class="skeleton-row">
      <ion-col size="auto">
        <div class="skeleton-row__icon">
          <ion-skeleton-text animated></ion-skeleton-text>
        </div>
      </ion-col>
      <ion-col size="auto" class="skeleton-row__content-container">
        <ion-skeleton-text animated class="skeleton-row__content-container__header"></ion-skeleton-text>
        <ion-skeleton-text animated class="skeleton-row__content-container__sub-header"></ion-skeleton-text>
      </ion-col>
    </ion-row>
    @if (i === 2) {
      <ion-row class="skeleton-divider">
        <ion-col></ion-col>
      </ion-row>
    }
  }
</ion-grid>
