<ion-header mode="md" class="ion-no-border">
  <ion-toolbar class="manage-corporate-cards__toolbar">
    <ion-buttons mode="md" slot="start">
      <ion-button (click)="goBack()" data-testid="back-button">
        <mat-icon>keyboard_backspace</mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="manage-corporate-cards__toolbar-title" mode="md">Manage Corporate Cards</ion-title>
  </ion-toolbar>
</ion-header>

<div class="manage-corporate-cards__segment-container">
  <ion-segment (ionChange)="segmentChanged($event)" [value]="segmentValue" class="manage-corporate-cards__segment">
    <ion-segment-button [value]="Segment.CORPORATE_CARDS" class="text-capitalize">Corporate Cards</ion-segment-button>
    <ion-segment-button [value]="Segment.VIRTUAL_CARDS" class="text-capitalize">Virtual Cards</ion-segment-button>
  </ion-segment>
</div>

<ion-content *ngIf="segmentValue === Segment.CORPORATE_CARDS">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="manage-corporate-cards__cards">
    <ng-container *ngIf="corporateCards$ | async as corporateCards; else shimmers">
      <div *ngIf="getCorporateCardsLength(corporateCards); else zeroState" class="manage-corporate-cards__cards-list">
        <div *ngFor="let corporateCard of corporateCards" class="manage-corporate-cards__card">
          <app-corporate-card
            *ngIf="!corporateCard.virtual_card_id"
            [card]="corporateCard"
            [isVisaRTFEnabled]="isVisaRTFEnabled$ | async"
            [isMastercardRTFEnabled]="isMastercardRTFEnabled$ | async"
            (cardOptionsClick)="openCardOptions($event)"
          ></app-corporate-card>
        </div>
      </div>
      <ng-template #zeroState>
        <div class="manage-corporate-cards__zero-state-container" data-testid="zero-state">
          <img class="manage-corporate-cards__zero-state-img" src="../../../../assets/images/cards.svg" />

          <div class="manage-corporate-cards__zero-state-heading">No corporate card added yet!</div>
          <div class="manage-corporate-cards__zero-state-subheading">
            Add Corporate Cards to sync your transactions on Fyle.
          </div>
        </div>
      </ng-template>
    </ng-container>

    <ng-template #shimmers>
      <ion-skeleton-text data-testid="shimmer" animated class="manage-corporate-cards__shimmer"></ion-skeleton-text>
    </ng-template>
  </div>
</ion-content>
<ion-content *ngIf="segmentValue === Segment.VIRTUAL_CARDS">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isVirtualCardsEnabled$ | async" class="manage-corporate-cards__cards manage-corporate-cards__cards-list">
    <ng-container *ngIf="corporateCards$ | async as corporateCards; else shimmers">
      <ng-container *ngIf="virtualCardDetails$ | async as virtualCardDetails; else shimmers">
        <div *ngFor="let corporateCard of corporateCards" class="manage-corporate-cards__card">
          <app-virtual-card
            [cardNumber]="virtualCardDetails[corporateCard.virtual_card_id]?.full_card_number"
            [cvv]="virtualCardDetails[corporateCard.virtual_card_id]?.cvv"
            [expiry]="virtualCardDetails[corporateCard.virtual_card_id]?.expiry_date"
            [cardStatus]="corporateCard.virtual_card_state"
          ></app-virtual-card>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #shimmers>
      <ion-skeleton-text data-testid="shimmer" animated class="manage-corporate-cards__shimmer"></ion-skeleton-text>
    </ng-template>
  </div>
</ion-content>

<ion-footer *ngIf="segmentValue === Segment.CORPORATE_CARDS">
  <ion-toolbar mode="md">
    <div class="manage-corporate-cards__footer-toolbar">
      <ion-button
        data-testid="add-button"
        class="fy-footer-cta fy-footer-cta--primary"
        (click)="openAddCorporateCardPopover()"
        >Add Corporate Card</ion-button
      >
    </div>
  </ion-toolbar>
</ion-footer>
