<ion-header mode="md">
  <ion-toolbar class="manage-corporate-cards--toolbar">
    <ion-buttons mode="md" slot="start">
      <ion-button (click)="goBack()">
        <mat-icon>keyboard_backspace</mat-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="manage-corporate-cards--title" mode="md">Manage Corporate Cards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="manage-corporate-cards__cards">
    <ng-container *ngIf="corporateCards$ | async as corporateCards">
      <div class="manage-corporate-cards__cards-list">
        <app-corporate-card *ngFor="let corporateCard of corporateCards" [card]="corporateCard"></app-corporate-card>
      </div>
    </ng-container>
  </div>
</ion-content>
