@import '../../../../theme/colors';

.corporate-card {
  width: 100%;
  height: 162px;
  padding: 20px 16px;

  display: flex;
  flex-direction: column;

  border-radius: 16px;
  background: url('../../../../assets/images/corporate-card-bg.png');

  &__logo {
    width: 44px;
    height: 26px;
    background-color: $white;
    border: 1px solid $lighter-grey;
    display: flex;
    align-items: center;
    justify-content: center;

    &--visa,
    &--mastercard {
      padding: 2px;

      &__icon {
        width: 100%;
        height: 100%;
      }
    }

    &--default {
      padding: 4px 10px;

      &__icon {
        width: 18px;
        height: 18px;
      }
    }
  }

  &__number {
    margin-top: 12px;
  }

  &__feed {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  &__feed-label {
    color: $black-light;
    font-size: 12px;
    line-height: normal;
  }

  &__feed-value {
    font-size: 12px;
    color: $blue-black;
    line-height: 1.16;
  }

  &__feed-live {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__feed-live-dot {
    width: 8px;
    height: 8px;
    background-color: $green;
    border-radius: 50%;
  }

  &__more-options-btn {
    background: transparent;
  }

  &__more-options-btn-icon {
    width: 20px;
    height: 20px;
  }
}
