<div class="corporate-card">
  <ion-row class="ion-align-items-center">
    <ion-col class="p-0">
      <div *ngIf="!isCardConnectedToRTF" class="corporate-card__logo--default">
        <ion-icon
          src="../../../../assets/svg/card.svg"
          class="corporate-card__logo--default__icon"
          data-testid="default-icon"
        ></ion-icon>
      </div>

      <ng-container *ngIf="isCardConnectedToRTF">
        <ion-icon
          *ngIf="card.is_visa_enrolled"
          src="../../../../assets/svg/visa-logo.svg"
          class="corporate-card__logo--visa__icon"
          data-testid="visa-icon"
        ></ion-icon>
        <ion-icon
          *ngIf="card.is_mastercard_enrolled"
          src="../../../../assets/svg/mastercard-logo.svg"
          class="corporate-card__logo--mastercard__icon"
          data-testid="mastercard-icon"
        ></ion-icon>
      </ng-container>
    </ion-col>

    <ion-col size="auto" class="p-0">
      <button
        *ngIf="showCardOptionsMenu"
        class="corporate-card__more-options-btn"
        (click)="cardOptionsClick.emit(card)"
        data-testid="more-options-btn"
      >
        <ion-icon class="corporate-card__more-options-btn-icon" src="../../../../assets/svg/more.svg"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <div class="corporate-card__number">
    <app-card-number [cardNumber]="card.card_number"></app-card-number>
  </div>

  <div class="corporate-card__feed">
    <ng-container *ngIf="isCardConnectedToRTF">
      <span class="corporate-card__feed-label">Transactions Feed</span>
      <div class="corporate-card__feed-value corporate-card__feed-live">
        <div class="corporate-card__feed-live-dot"></div>
        <span data-testid="feed-info">Live</span>
      </div>
    </ng-container>

    <ng-container *ngIf="card.data_feed_source === dataFeedSourceTypes.YODLEE">
      <span class="corporate-card__feed-label">Last Synced</span>
      <span class="corporate-card__feed-value" data-testid="feed-info">{{
        card.last_synced_at | date : 'MMM dd, YYYY'
      }}</span>
    </ng-container>

    <ng-container
      *ngIf="
        (card.data_feed_source === dataFeedSourceTypes.STATEMENT_UPLOAD && !isCardConnectedToRTF) ||
        isCardConnectedToBankFeed
      "
    >
      <span class="corporate-card__feed-label">Synced Using</span>
      <span class="corporate-card__feed-value" data-testid="feed-info">{{
        card.data_feed_source === 'STATEMENT_UPLOAD' ? 'Statement Upload' : 'Bank Feed'
      }}</span>
    </ng-container>
  </div>
</div>
