.add-expenses-to-report {
  &--container {
    padding: 0 16px;
  }

  &--expense-date {
    color: #ababab;
    font-size: 16px;
  }

  &--item-card {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1) !important;
    border-radius: 4px;
    margin-bottom: 24px;
    border: 1px solid #fff;
    min-height: 100px;
    padding: 10px;
  }

  &--item-card-selected {
    border: 1px solid #0077ee;
  }

  &--item-card-checkbox {
    margin: 18px;
  }
  &--non-reimbursable {
    color: #ababab;
    text-decoration: line-through;
  }

  &--item-card-currency {
    color: #ababab;
  }

  &--item-card-amount {
    font-size: 18px;
    margin-left: 8px;
    font-weight: 700;
    color: #666;
    &__non-reimbursable {
      color: #ababab;
    }
  }

  &--item-card-vendor {
    font-size: 16px;
    color: #666;
  }

  &--item-card-category {
    color: #ababab;
    font-size: 16px;
  }

  &--footer {
    padding: 10px 16px 0 16px;
  }

  &--footer-currency {
    font-size: 16px;
    color: #000;
    font-weight: 500;
  }

  &--footer-amount {
    font-size: 24px;
    color: #000;
    font-weight: 500;
  }

  &--footer-summary {
    font-size: 16px;
    font-weight: 500;
    color: #ababab;
  }
}
