@import '.././../../../theme/colors.scss';

.add-expenses-to-report {
  &--toolbar {
    background-color: $pure-white;
    border-bottom: 1px solid $grey-lighter;
  }

  &--title-container {
    color: $black;
    font-weight: 500;
    margin-left: -10%;
  }

  &--title {
    font-size: 20px;
    line-height: 26px;
  }

  &--close {
    margin-left: 16px;
  }

  &--select-all-checkbox {
    font-size: 14px;
    padding: 16px 16px;
    background-color: $pure-white;
  }
}
