@import "../../../theme/colors";

.matched-expenses {
  &--body {
    background-color: $white;
    height: 100%;
  }

  &--action-card {
    background-color: white;
    border: 1px solid #DFDFE2;
    margin: 0 20px;
    padding: 16px;
    border-radius: 8px;
    box-sizing: border-box;
  }

  &--block-action {
    display: flex;
    justify-content: space-between;
  }

  &--action-content {
    background-color: $white;
  }

  &--heading {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin: 0 0 0 16px;
    color: #2C304E;
    ;
  }

  &--icon {
    font-size: 24px;
    color: #ababab;
    display: inline-block;
    vertical-align: middle;
  }

  &--transaction {
    background-color: $pure-white;
  }

  &--transaction-details {
    padding: 0 36px 16px 16px;
  }

  &--title {
    font-size: 14px;
    padding: 16px 50px 16px 16px;
    font-weight: 400;
    color: #A9ACBC;
  }

  &--date {
    height: 14px;
    color: #5A5D72;
  }

  &--action-title {
    font-size: 14px;
    padding: 16px 50px 16px 16px;
    font-weight: 500;
    color: #5A5D72;
  }

  &--deatils-block {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--main-info {
    margin-bottom: 6px;
  }

  &--icon-policy-violation {
    height: 16px;
    width: 18px;
    margin: 0 4px;
  }

  &--secondary-info-block {
    display: flex;
    justify-content: space-between;
  }

  &--purpose-amount-block {
    display: flex;
    justify-content: space-between;
  }

  &--currency {
    color: $black-light;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    margin-right: -2px;
  }

  &--amount {
    color: $black;
    font-size: 20px;
    line-height: 1.3;
    margin-right: 6px;
    font-weight: 500;
  }

  &--type {
    color: #A9ACBC;
    font-size: 12px;
    line-height: 1.3;
    font-weight: 400;
    margin-left: -5px;
  }

  &--purpose {
    line-height: 23px;
    color: $black-2;
    font-size: 18px;
    font-weight: 500;
    max-width: 60%;
  }
}