<app-fy-header [currentState]="headerState" [navigateBack]="navigateBack" [title]="'Matching Expenses Found'">
</app-fy-header>

<ion-content class="matched-expenses">
  <div class="matched-expenses--body">
    <div class="matched-expenses--transaction">
      <div class="matched-expenses--title">Transaction Details</div>
      <div class="matched-expenses--transaction-details">
        <div class="matched-expenses--main-info">
          <div class="matched-expenses--purpose-amount-block">
            <div class="matched-expenses--purpose">
              <span>{{txnDetails.btxn_description}}</span>
            </div>
            <div class="matched-expenses--amount-block">
              <span
                class="matched-expenses--currency"
                [ngClass]="{'matched-expenses--green': txnDetails.btxn_transaction_type === 'credit'}"
              >
                {{ ( 0 | currency : txnDetails.btxn_currency : 'symbol-narrow' ) | slice:0:1 }}
              </span>
              <span
                class="matched-expenses--amount"
                [ngClass]="{'matched-expenses--green': txnDetails.btxn_transaction_type === 'credit'}"
              >
                {{txnDetails.btxn_amount}}
              </span>
              <span
                class="matched-expenses--type"
                [ngClass]="{'matched-expenses--green': txnDetails.btxn_transaction_type === 'credit'}"
              >
                <ng-container *ngIf="txnDetails.btxn_transaction_type === 'debit'">DR</ng-container>
                <ng-container *ngIf="txnDetails.btxn_transaction_type === 'credit'">CR</ng-container>
              </span>
            </div>
          </div>
        </div>
        <div class="matched-expenses--date">{{txnDetails.btxn_transaction_dt | date: 'MMM dd, yyyy'}}</div>
      </div>
    </div>

    <div class="matched-expenses--action-content">
      <div class="matched-expenses--action-title">Select a matching expense</div>
      <div class="matched-expenses--expenses-preview">
        <ng-container *ngIf="matchedExpenses$| async as matchedExpenses">
          <ng-container *ngFor="let expense of matchedExpenses; let first = first;">
            <div class="matched-expenses--divider" *ngIf="!first"></div>

            <app-expense-card-lite [expense]="expense" (click)="openExpensePreview(expense.split_group_id)">
            </app-expense-card-lite>
          </ng-container>
        </ng-container>
      </div>
      <div class="matched-expenses--action-title">In case ther is no match</div>
      <div class="matched-expenses--action-container">
        <div class="matched-expenses--action-card" (click)="createExpense()">
          <div class="matched-expenses--block-action">
            <div class="matched-expenses--common">
              <ion-icon class="matched-expenses--icon" [src]="'assets/svg/list.svg'" slot="icon-only"> </ion-icon>
              <p class="matched-expenses--heading">Create Expense</p>
            </div>
            <ion-icon class="matched-expenses--icon" [src]="'assets/svg/arrow.svg'" slot="icon-only"> </ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
