<app-fy-header [currentState]="headerState" [navigateBack]="navigateBack" [title]="'Matching Expenses Found'">

</app-fy-header>


<ion-content class="matched-expenses">
  <div class="matched-expenses--date">
    Transaction Details  </div>
    <div
    class="matched-expenses--transaction-details"
    (click)="onGoToReport()"
    matRipple
  >
    <div class="matched-expenses--main-info">
      <div class="matched-expenses--purpose-amount-block">
        <div class="matched-expenses--purpose">
          <span>SUBWAY FOODS LTD.</span>

        </div>
        <div class="matched-expenses--amount-block">
          <span class="matched-expenses--currency">$</span>
          <span class="matched-expenses--amount">
            12.00 
          </span>   
                 <span class="matched-expenses--type">
            DR 
          </span>
        </div>
      </div>
    </div>
    <div class="matched-expenses--secondary-info">
      <div class="matched-expenses--secondary-info-block">
        <div class="matched-expenses--no-transactions">
          <span>Jan 25, 2021 </span>
        </div>
      </div>
    </div>
  </div>

  <div class="matched-expenses--action-content">
    <div class="matched-expenses--date-dark">
      Select a matching expense
     </div>

         <div class="matched-expenses--date-dark">
          In case ther is no match
     </div>

     <div class="matched-expenses--action-card">
     <div class="matched-expenses--block-action">
     <div class="matched-expenses--common">
      <ion-icon class="matched-expenses--icon" [src]="'../../../../assets/svg/list.svg'" slot="icon-only"></ion-icon>
      <p class="matched-expenses--heading">
        Create Expense
      </p>

    </div>
    <ion-icon class="matched-expenses--icon" [src]="'../../../../assets/svg/arrow.svg'" slot="icon-only"></ion-icon>

    </div>
    </div>
  </div>
  
  </ion-content>
