@import '../../../theme/colors';

.matched-expenses {
  &--body {
    background-color: $white;
    height: 100%;
  }

  &--action-card {
    background-color: $pure-white;
    border: 1px solid $grey-lighter;
    margin: 0 20px;
    padding: 16px;
    border-radius: 8px;
    box-sizing: border-box;
  }

  &--block-action {
    display: flex;
    justify-content: space-between;
  }

  &--action-content {
    background-color: $white;
  }

  &--heading {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin: 0 0 0 16px;
    color: $blue-black;
    font-weight: 500;
  }

  &--icon {
    font-size: 24px;
    color: $pink;
    display: inline-block;
    vertical-align: middle;
  }

  &--arrow {
    font-size: 18px;
    color: $gray-3;
    display: inline-block;
    vertical-align: middle;
    margin-top: 3px;
  }

  &--transaction {
    background-color: $pure-white;
  }

  &--transaction-details {
    padding: 0 36px 16px 16px;
  }

  &--title {
    font-size: 14px;
    padding: 16px 50px 8px 16px;
    font-weight: 500;
    color: $black-light;
  }

  &--date {
    color: $dark-grey;
    font-size: 14px;
  }

  &--action-title {
    font-size: 14px;
    padding: 16px 50px 16px 16px;
    font-weight: 500;
    color: $black-light;
  }

  &--deatils-block {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--main-info {
    margin-bottom: 2px;
  }

  &--icon-policy-violation {
    height: 16px;
    width: 18px;
    margin: 0 4px;
  }

  &--secondary-info-block {
    display: flex;
    justify-content: space-between;
  }

  &--purpose-amount-block {
    display: flex;
    justify-content: space-between;
  }

  &--amount-block {
    margin-top: 10px;
    font-size: 16px;
    color: $black-light;
  }

  &--currency {
    color: $black;
    font-weight: 400;
    line-height: 1.3;
    margin-right: -2px;
    vertical-align: text-bottom;
    font-size: 16px;
  }

  &--amount {
    color: $black;
    line-height: 1.3;
    margin-right: 6px;
    font-weight: 500;
  }

  &--type {
    font-size: 12px;
    line-height: 1.3;
    font-weight: 400;
    margin-left: -5px;
  }

  &--green {
    color: $green;
  }

  &--purpose {
    line-height: 23px;
    color: $black-2;
    font-size: 14px;
    font-weight: 500;
    max-width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &--expenses-preview {
    background-color: $pure-white;
    border: 1px solid $grey;
    margin: 0 20px;
    border-radius: 8px;
    box-sizing: border-box;
  }

  &--action-container {
    height: 100px;
  }

  &--divider {
    height: 1px;
    background-color: $grey;
  }
}

.fy-header {
  background-color: $pure-white;
  &--title {
    line-height: 1.3;
    color: $black;
    font-weight: 500;
    padding: 18px 0 18px 12px;
  }

  &--toolbar {
    border-bottom: 1px solid $grey-2;
    &__hide {
      border-bottom: none;
    }
  }
}
