<ion-header class="fy-header" mode="md">
  <ion-toolbar mode="md" class="fy-header--toolbar">
    <ion-buttons mode="md" slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="fy-header--title"> Matching Expenses Found </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="matched-expenses">
  <div class="matched-expenses--body">
    <div class="matched-expenses--transaction">
      <div class="matched-expenses--title">TRANSACTION DETAILS</div>
      <div class="matched-expenses--transaction-details">
        <div class="matched-expenses--main-info">
          <div class="matched-expenses--purpose-amount-block">
            <div class="matched-expenses--purpose">
              <span>{{txnDetails.btxn_description}}</span>
            </div>
            <div class="matched-expenses--amount-block">
              <span
                class="matched-expenses--currency"
                [ngClass]="{'matched-expenses--green': txnDetails.btxn_transaction_type === 'credit'}"
              >
                {{ txnDetails.btxn_currency | currencySymbol }}
              </span>
              <span
                class="matched-expenses--amount"
                [ngClass]="{'matched-expenses--green': txnDetails.btxn_transaction_type === 'credit'}"
              >
                {{ txnDetails.btxn_amount | currency: txnDetails.btxn_currency: '' }}
              </span>
              <span
                class="matched-expenses--type"
                [ngClass]="{'matched-expenses--green': txnDetails.btxn_transaction_type === 'credit'}"
              >
                <ng-container *ngIf="txnDetails.btxn_transaction_type === 'debit'">DR</ng-container>
                <ng-container *ngIf="txnDetails.btxn_transaction_type === 'credit'">CR</ng-container>
              </span>
            </div>
          </div>
        </div>
        <div class="matched-expenses--date">{{txnDetails.btxn_transaction_dt | date: 'MMM dd, YYYY'}}</div>
      </div>
    </div>

    <div class="matched-expenses--action-content">
      <div class="matched-expenses--action-title">SELECT A MATCHING EXPENSE</div>
      <div class="matched-expenses--expenses-preview">
        <ng-container *ngIf="matchedExpenses$| async as matchedExpenses">
          <ng-container *ngFor="let expense of matchedExpenses; let first = first;">
            <div class="matched-expenses--divider" *ngIf="!first"></div>

            <app-expense-card-lite [expense]="expense" (click)="openExpensePreview(expense.split_group_id)">
            </app-expense-card-lite>
          </ng-container>
        </ng-container>
      </div>
      <div class="matched-expenses--action-title">IN CASE THERE IS NO MATCH</div>
      <div class="matched-expenses--action-container">
        <div class="matched-expenses--action-card" (click)="createExpense()">
          <div class="matched-expenses--block-action">
            <div class="matched-expenses--common">
              <ion-icon class="matched-expenses--icon" [src]="'assets/svg/list.svg'" slot="icon-only"> </ion-icon>
              <p class="matched-expenses--heading">Create Expense</p>
            </div>
            <ion-icon class="matched-expenses--arrow" [src]="'assets/svg/arrow-right.svg'" slot="icon-only"> </ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
