<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  
  <access origin="https://app.fylehq.com" />
  
  <feature name="GooglePlus">
    <param name="ios-package" value="GooglePlus"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="InAppBrowser">
    <param name="ios-package" value="CDVWKInAppBrowser"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="IonicCordovaCommon">
    <param name="ios-package" value="IonicCordovaCommon" onload="true"/>
  </feature>

  <feature name="SpinnerDialog">
    <param name="ios-package" value="CDVSpinnerDialog"/>
  </feature>

  <feature name="SmartlookPlugin">
    <param name="ios-package" value="SmartlookPlugin"/>
  </feature>

  
</widget>