<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626728616510-cfklish18pp7bi3dh9ai4u3u0p3g5d1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626728616510-cfklish18pp7bi3dh9ai4u3u0p3g5d1a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>626728616510-veuddpgh6647ub38qiodfgjrhf9uhssd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB3wPwCQXDXymWAjI_kZtTB2mY2R5fuovQ</string>
	<key>GCM_SENDER_ID</key>
	<string>626728616510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fylehq.production</string>
	<key>PROJECT_ID</key>
	<string>fylehq-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>fylehq-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626728616510:ios:6157a16c3c368a4b6b476f</string>
	<key>DATABASE_URL</key>
	<string>https://fylehq-prod.firebaseio.com</string>
</dict>
</plist>