<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
      <key>API_KEY</key>
      <string>AIzaSyBaz1QLZQV4akuCb--GcUllSgUKkaNFhK8</string>
      <key>GCM_SENDER_ID</key>
      <string>undefined</string>
      <key>PLIST_VERSION</key>
      <string>1</string>
      <key>BUNDLE_ID</key>
      <string>com.ionicframework.fyle595781</string>
      <key>PROJECT_ID</key>
      <string>fir-fylestaging</string>
      <key>STORAGE_BUCKET</key>
      <string>undefined</string>
      <key>IS_ADS_ENABLED</key>
      <false></false>
      <key>IS_ANALYTICS_ENABLED</key>
      <false></false>
      <key>IS_APPINVITE_ENABLED</key>
      <true></true>
      <key>IS_GCM_ENABLED</key>
      <true></true>
      <key>IS_SIGNIN_ENABLED</key>
      <true></true>
      <key>GOOGLE_APP_ID</key>
      <string>1:315316562486:ios:c17b78a44a736f7bc94697</string>
  </dict>
</plist>
