<div class="popup-alert">
  <ion-header>
    <div class="popup-alert--header text-center">
      {{ title }}
    </div>
  </ion-header>

  <div class="popup-alert--body ion-text-center" [innerHtml]="message"></div>

  <div class="popup-alert--info-container" *ngIf="numIssues">
    <mat-icon class="popup-alert--info-container__icon" svgIcon="fy-info"></mat-icon>

    <div class="popup-alert--info-container__message">This report has {{ numIssues }} violations</div>
  </div>

  <ion-footer class="popup-alert--footer">
    <div [ngClass]="{ 'popup-alert--cta-container': secondaryCta, 'text-center': !secondaryCta }">
      <button
        *ngIf="secondaryCta"
        type="button"
        class="popup-alert--cta-button popup-alert--secondary-cta text-center"
        (click)="ctaClickedEvent(secondaryCta.action)"
      >
        {{ secondaryCta.text }}
      </button>
      <button
        type="submit"
        class="popup-alert--cta-button popup-alert--primary-cta text-center"
        [ngClass]="'popup-alert--primary-cta__' + primaryCta.type"
        (click)="ctaClickedEvent(primaryCta.action)"
      >
        {{ primaryCta.text }}
      </button>
    </div>
  </ion-footer>
</div>
