<div [formGroup]="form">
  <div>
    @if (mileageLocations.controls.length > 0) {
      <div class="route-selector--internal-block">
        <div class="route-selector--label-content">
          {{ 'routeSelector.routeLabel' | transloco }}
          @if (mileageConfig.location_mandatory) {
            <span class="route-selector--mandatory"> * </span>
          }
        </div>
      </div>
      <div class="timeline--timeline">
        <ng-container>
          @if (mileageLocations.controls[0]) {
            <div
              class="timeline--timeline-item timeline--timeline-item__first"
              [ngClass]="{
                'timeline--timeline-item__invalid':
                  mileageLocations.controls[0].touched && !mileageLocations.controls[0].valid,
              }"
            >
              <div class="timeline--timeline-item-internal timeline--timeline-item-internal__first">
                <app-fy-location
                  [label]="'routeSelector.startLabel' | transloco"
                  class="route-selector--input"
                  [formControl]="mileageLocations.controls[0]"
                  [mandatory]="mileageConfig.location_mandatory"
                  (click)="openModal()"
                  [disabled]="true"
                  [hideSuffix]="true"
                  [touchedInParent]="mileageLocations.controls[0].touched"
                  [validInParent]="mileageLocations.controls[0].valid"
                >
                </app-fy-location>
                @if (mileageLocations.controls[0].touched && !mileageLocations.controls[0].valid) {
                  <div class="timeline--error timeline--error__first">
                    {{ 'routeSelector.selectLocationError' | transloco }}
                  </div>
                }
              </div>
            </div>
          }
          @if (mileageLocations.controls.length > 2) {
            <div
              class="timeline--timeline-item timeline--timeline-item__text-content timeline--timeline-item__internal-item timeline--timeline-item__middle"
            >
              <div class="timeline--timeline-item-internal">
                {{ mileageLocations.controls.length - 2 }} {{ 'routeSelector.intermediateStop' | transloco }}
              </div>
            </div>
          }
          @if (
            mileageLocations.controls.length > 1 && mileageLocations.controls[mileageLocations.controls.length - 1]
          ) {
            <div
              class="timeline--timeline-item timeline--timeline-item__last"
              [ngClass]="{
                'timeline--timeline-item__invalid':
                  mileageLocations.controls[mileageLocations.controls.length - 1].touched &&
                  !mileageLocations.controls[mileageLocations.controls.length - 1].valid,
              }"
            >
              <div class="timeline--timeline-item-internal timeline--timeline-item-internal__last">
                <app-fy-location
                  [label]="'routeSelector.stopLabel' | transloco"
                  class="route-selector--input"
                  [formControl]="mileageLocations.controls[mileageLocations.controls.length - 1]"
                  (click)="openModal()"
                  [mandatory]="mileageConfig.location_mandatory"
                  [disabled]="true"
                  [hideSuffix]="true"
                  [touchedInParent]="mileageLocations.controls[mileageLocations.controls.length - 1].touched"
                  [validInParent]="mileageLocations.controls[mileageLocations.controls.length - 1].valid"
                >
                </app-fy-location>
              </div>
              @if (
                mileageLocations.controls[mileageLocations.controls.length - 1].touched &&
                !mileageLocations.controls[mileageLocations.controls.length - 1].valid
              ) {
                <div class="timeline--error timeline--error__last">
                  {{ 'routeSelector.selectLocationError' | transloco }}
                </div>
              }
            </div>
          }
        </ng-container>
      </div>
    } @else {
      <div class="route-selector--internal-block">
        <label class="route-selector--label">
          <div class="route-selector--label-content">
            {{ 'routeSelector.routeLabel' | transloco }}
            @if (mileageConfig.location_mandatory) {
              <span class="route-selector--mandatory"> * </span>
            }
          </div>
          <div
            class="route-selector--input-container"
            [ngClass]="{
              'route-selector--input-invalid':
                form.controls.mileageLocations.touched && !form.controls.mileageLocations.valid,
            }"
          >
            <input
              class="route-selector--input smartlook-show"
              type="text"
              [placeholder]="'routeSelector.enterRoute' | transloco"
              readonly
              (click)="openModal()"
              [ngClass]="{ 'route-selector--input-disabled': form.controls.mileageLocations.disabled }"
              [disabled]="form.controls.mileageLocations.disabled"
            />
            <mat-icon
              class="route-selector--icon"
              [ngClass]="{ 'route-selector--input-disabled': form.controls.mileageLocations.disabled }"
              svgIcon="arrow-right"
            >
            </mat-icon>
          </div>
        </label>
      </div>
      @if (form.controls.mileageLocations.touched && !form.controls.mileageLocations.valid) {
        <div class="route-selector--error">
          {{ 'routeSelector.selectLocationError' | transloco }}
        </div>
      }
    }
  </div>

  @if (mileageLocations.controls.length < 3) {
    <div class="route-selector--internal-block" [ngClass]="{ 'route-selector--input-disabled': isRoundTripDisabled }">
      <mat-checkbox [disabled]="isRoundTripDisabled" formControlName="roundTrip">
        <span class="route-selector--checkbox"> {{ 'routeSelector.roundTripLabel' | transloco }} </span>
      </mat-checkbox>
    </div>
  }

  <ng-content></ng-content>

  @if (txnFields?.distance) {
    <div
      class="route-selector--text route-selector--internal-distance-block"
      [ngClass]="{ 'route-selector--text__invalid': form.controls.distance.touched && !form.controls.distance.valid }"
    >
      <div class="route-selector--text-label">
        {{ 'routeSelector.distanceLabel' | transloco }}
        @if (unit) {
          <span class="route-selector--text-label__unit"> ({{ unit | titlecase }})</span>
        } @else {
          <span class="route-selector--text-label__unit"> ({{ mileageConfig.unit | titlecase }})</span>
        }
        @if (isDistanceMandatory()) {
          <div class="route-selector--mandatory">*</div>
        }
      </div>
      <app-fy-number
        [disabled]="isAmountDisabled()"
        [min]="0"
        [isDistance]="true"
        formControlName="distance"
        [placeholder]="'routeSelector.enterDistance' | transloco"
      >
      </app-fy-number>
    </div>
    @if (
      form.controls.distance.touched && (!form.controls.distance.valid || form.controls.distance.hasError('invalid'))
    ) {
      <div class="route-selector--error route-selector--text-error">
        {{ 'routeSelector.invalidDistance' | transloco }}
      </div>
    }
  }
</div>
