<div [formGroup]="form">
  <div>
    <ng-container *ngIf="mileageLocations.controls.length > 0; else routeEmptyInput">
      <div class="route-selector--internal-block">
        <div class="route-selector--label-content">
          Route
          <span *ngIf="mileageConfig.location_mandatory" class="route-selector--mandatory"> * </span>
        </div>
      </div>
      <div class="timeline--timeline">
        <ng-container>
          <ng-container *ngIf="mileageLocations.controls[0]">
            <div
              class="timeline--timeline-item timeline--timeline-item__first"
              [ngClass]="{
                'timeline--timeline-item__invalid':
                  mileageLocations.controls[0].touched && !mileageLocations.controls[0].valid
              }"
            >
              <div class="timeline--timeline-item-internal timeline--timeline-item-internal__first">
                <app-fy-location
                  [label]="'Start'"
                  class="route-selector--input"
                  [formControl]="mileageLocations.controls[0]"
                  [mandatory]="mileageConfig.location_mandatory"
                  (click)="openModal()"
                  [disabled]="true"
                  [hideSuffix]="true"
                  [touchedInParent]="mileageLocations.controls[0].touched"
                  [validInParent]="mileageLocations.controls[0].valid"
                >
                </app-fy-location>
                <div
                  *ngIf="mileageLocations.controls[0].touched && !mileageLocations.controls[0].valid"
                  class="timeline--error timeline--error__first"
                >
                  Please select location
                </div>
              </div>
            </div>
          </ng-container>
          <div
            class="timeline--timeline-item timeline--timeline-item__text-content timeline--timeline-item__internal-item timeline--timeline-item__middle"
            *ngIf="mileageLocations.controls.length > 2"
          >
            <div class="timeline--timeline-item-internal">{{ mileageLocations.controls.length - 2 }} Stop</div>
          </div>
          <ng-container
            *ngIf="
              mileageLocations.controls.length > 1 && mileageLocations.controls[mileageLocations.controls.length - 1]
            "
          >
            <div
              class="timeline--timeline-item timeline--timeline-item__last"
              [ngClass]="{
                'timeline--timeline-item__invalid':
                  mileageLocations.controls[mileageLocations.controls.length - 1].touched &&
                  !mileageLocations.controls[mileageLocations.controls.length - 1].valid
              }"
            >
              <div class="timeline--timeline-item-internal timeline--timeline-item-internal__last">
                <app-fy-location
                  [label]="'Stop'"
                  class="route-selector--input"
                  [formControl]="mileageLocations.controls[mileageLocations.controls.length - 1]"
                  (click)="openModal()"
                  [mandatory]="mileageConfig.location_mandatory"
                  [disabled]="true"
                  [hideSuffix]="true"
                  [touchedInParent]="mileageLocations.controls[mileageLocations.controls.length - 1].touched"
                  [validInParent]="mileageLocations.controls[mileageLocations.controls.length - 1].valid"
                >
                </app-fy-location>
              </div>
              <div
                *ngIf="
                  mileageLocations.controls[mileageLocations.controls.length - 1].touched &&
                  !mileageLocations.controls[mileageLocations.controls.length - 1].valid
                "
                class="timeline--error timeline--error__last"
              >
                Please select location
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>

    <ng-template #routeEmptyInput>
      <div class="route-selector--internal-block">
        <label class="route-selector--label">
          <div class="route-selector--label-content">
            Route
            <span *ngIf="mileageConfig.location_mandatory" class="route-selector--mandatory"> * </span>
          </div>
          <div
            class="route-selector--input-container"
            [ngClass]="{
              'route-selector--input-invalid':
                form.controls.mileageLocations.touched && !form.controls.mileageLocations.valid
            }"
          >
            <input
              class="route-selector--input smartlook-show"
              type="text"
              [placeholder]="'Enter Route'"
              (click)="openModal()"
              [ngClass]="{ 'route-selector--input-disabled': form.controls.mileageLocations.disabled }"
              [disabled]="form.controls.mileageLocations.disabled"
            />
            <mat-icon
              class="route-selector--icon"
              [ngClass]="{ 'route-selector--input-disabled': form.controls.mileageLocations.disabled }"
              svgIcon="chevron-right"
            >
            </mat-icon>
          </div>
        </label>
      </div>
      <div
        *ngIf="form.controls.mileageLocations.touched && !form.controls.mileageLocations.valid"
        class="route-selector--error"
      >
        Please select location
      </div>
    </ng-template>
  </div>

  <div class="route-selector--internal-block" *ngIf="mileageLocations.controls.length < 3">
    <mat-checkbox [disabled]="isAmountDisabled || !form.controls.distance" formControlName="roundTrip">
      <span class="route-selector--checkbox"> Round Trip </span>
    </mat-checkbox>
  </div>

  <ng-container *ngIf="txnFields?.distance">
    <div
      class="route-selector--text route-selector--internal-block"
      [ngClass]="{ 'route-selector--text__invalid': form.controls.distance.touched && !form.controls.distance.valid }"
    >
      <div class="route-selector--text-label">
        Distance
        <ng-container *ngIf="unit; else defaultDistanceUnit">
          <span class="route-selector--text-label__unit"> ({{ unit | titlecase }})</span>
        </ng-container>

        <ng-template #defaultDistanceUnit>
          <span class="route-selector--text-label__unit"> ({{ mileageConfig.unit | titlecase }})</span>
        </ng-template>
        <div class="route-selector--mandatory" *ngIf="isDistanceMandatory">*</div>
      </div>
      <app-fy-number
        [disabled]="isAmountDisabled"
        [min]="0"
        [isDistance]="true"
        formControlName="distance"
        placeholder="Enter Distance"
      >
      </app-fy-number>
    </div>
    <div
      *ngIf="
        (form.controls.distance.touched && !form.controls.distance.valid) || form.controls.distance.hasError('invalid')
      "
      class="route-selector--error route-selector--text-error"
    >
      Please enter valid distance
    </div>
  </ng-container>
</div>
