@import '../../../../theme/colors.scss';
@import '../../../../theme/timeline.scss';

.route-selector {
  &--label {
    width: 100%;
    background-color: inherit;
    font-weight: 400;
  }

  &--label-content {
    margin: 0 8px 0 0;
    max-width: 90%;
    min-width: 120px;
    font-size: 12px;
    color: $black-light;
    line-height: 16px;
    white-space: nowrap;
  }

  &--input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px solid $grey-lighter;
  }

  &--input {
    font-size: 14px;
    line-height: 18px;
    color: $blue-black;
    border: none;
    width: 100%;
    padding: 0;
  }

  &--input-invalid {
    border-bottom: 1px solid $red;
  }

  &--mandatory {
    color: $brand-primary;
    font-size: 14px;
    font-weight: 400;
  }

  &--icon {
    color: $grey-light;
    height: 12px;
    width: 12px;
  }

  &--input-disabled {
    opacity: 0.5;
  }

  &--internal-block {
    padding: 8px 0;
    background: #fff;
    line-height: 1;
    margin-bottom: 12px;

    &__invalid {
      border-color: $red;
    }
  }

  &--text {
    border-bottom: 1px solid $grey-lighter;

    &__invalid {
      border-bottom: 1px solid $red;
    }
  }

  &--text-label {
    margin: 0 8px 0 0;
    max-width: 90%;
    min-width: 120px;
    font-size: 12px;
    color: $black-light;
    line-height: 16px;
    white-space: nowrap;
    font-weight: 400;

    &__unit {
      font-size: 12px;
      margin-top: 4px;
    }
  }

  &--text-input {
    border: 0;
    font-size: 14px;
    font-weight: 400;
    height: 18px;
    line-height: 18px;
    color: $blue-black;
    width: 100%;
    padding: 0;
    margin: 6px 0;
  }

  &--checkbox {
    font-size: 14px;
    color: $blue-black;
    font-weight: 400;
  }

  &--mandatory {
    color: $brand-primary;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
  }

  &--text-error {
    margin-top: -8px;
  }

  &--error {
    color: $red;
    line-height: 16px;
    margin-top: -8px;
    font-size: 12px;
    &__location {
      margin-top: -16px;
    }
  }
}
