<div class="error-internal">
  <div class="error-internal__header" id="sign-in__error-msg">
    <ion-icon
      class="fy-icon-close error-internal__close-icon"
      [src]="'/assets/svg/cross.svg'"
      (click)="closePopover()"
    ></ion-icon>
    <div class="error-internal__header__header-text">
      {{ header }}
    </div>
  </div>
  @if (error) {
    <div class="error-internal__details">
      @if (error.status === 401 && (error.data || error.message)) {
        <div>
          {{ 'error.lockedWarning' | transloco }}
          <a class="error-internal__redirect" (click)="routeTo(['/', 'auth', 'reset_password'])">{{
            'error.resettingLink' | transloco
          }}</a>
          {{ 'error.yourPassword' | transloco }}
        </div>
      }
      @if (error.status === 400) {
        <div>
          {{ 'error.notVerified' | transloco }}
        </div>
      }
      @if (error.status === 500) {
        <div>
          <div [innerHTML]="'error.serverError' | transloco"></div>
        </div>
      }
      @if (error.status === 433) {
        <div>
          <div>
            {{ 'error.temporarilyLocked' | transloco }}
          </div>
        </div>
      }
      @if (error.status === 401 && !(error.data || error.message)) {
        <div>
          <div>{{ 'error.restrictedAccess' | transloco }}</div>
        </div>
      }
    </div>
  }
  <div class="error-internal__primary-cta">
    <ion-button class="btn-primary" fill="clear" (click)="closePopover()">{{
      'error.tryAgain' | transloco
    }}</ion-button>
  </div>
</div>
