@use '../../../../theme/colors.scss';

.error-internal {
  &__header {
    font-size: 20px;
    padding: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid colors.$grey-lighter;
    gap: 12px;

    &__header-text {
      align-items: center;
      justify-content: center;
      width: 100%;
      display: flex;
      flex-direction: row;
    }
  }

  &__close-icon {
    align-self: flex-start;
  }

  &__primary-cta {
    padding: 0 16px 16px;
  }

  &__details {
    font-size: 14px;
    padding: 20px 16px;
    color: colors.$black;
  }

  &__redirect {
    text-decoration: none;
  }
}
