$details-color: #ababab;

.error-internal {
  &--header {
    font-size: 20px;
    padding: 16px;
    font-weight: 700;
  }

  &--details {
    font-size: 16px;
    padding: 0 16px;
    font-weight: 500;
    color: $details-color;
  }

  &--primary-cta {
    padding: 16px;
    .mat-mdc-button-base {
      width: 100%;
      font-weight: 700;
      min-height: 47px;
    }
  }

  &--redirect {
    text-decoration: none;
  }
}
