<div class="error-internal">
  <div class="error-internal--header" id="sign-in--error-msg">
    {{header}}
  </div>
  <div class="error-internal--details">
    This email address will be temporarily locked after 5 unsuccessful login attempts. Try <a class="error-internal--redirect" [routerLink]="['/', 'auth', 'sign-up']">signing up</a> or
    <a class="error-internal--redirect" href="">resetting</a> your password?
  </div>
  <div class="error-internal--primary-cta">
    <button mat-flat-button color="primary" (click)="tryAgainClicked()">
      TRY AGAIN
    </button>
  </div>
</div>