@import '../../../../theme/colors.scss';

.summary-tile {
  &--card-container {
    padding: 14px 16px;
    margin-top: 16px;
    background: $purple-gradient;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    color: $black-light;

    &__block {
      width: 100%;
    }

    &__category {
      color: $black;
      font-size: 18px;
      font-weight: 500;
    }

    &__purpose {
      color: $black;
      font-size: 18px;
      font-weight: 500;
    }

    &__merchant {
      padding-top: 2px;
      color: $blue-black;
    }

    &__project {
      padding-top: 8px;
      color: $black-light;
    }

    &__icon {
      vertical-align: text-bottom;
      color: $grey-light;
      height: 18px;
      width: 18px;
    }

    &__amount {
      font-size: 20px;
      font-weight: 500;
      color: $blue-black;
    }

    &__exchange-rate {
      color: $black-light;
    }

    &__no-exchange {
      padding-top: 20px;
    }

    &__state-pill {
      display: inline-block;
      margin-top: 6px;
      white-space: nowrap;

      &__state {
        font-size: 12px;
        line-height: 1.25;
        color: $pure-white;
        background-color: $highlight-black;
        border-radius: 16px;
        padding: 5px 15px;
      }
    }
  }

  &--approval-container {
    box-shadow: 0px 4px 4px rgb(22 21 40 / 8%);
    border-radius: 16px;
    margin-top: -40px;
  }

  &--approval-state-block {
    padding: 35px 6px 17px 6px;
  }

  &--approver-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 35%;
  }

  &--approval-state {
    &__reported {
      color: $reported-color;
    }
    &__fyled {
      color: $fyled-color;
    }
    &_sent_back {
      color: $sent-back-color;
    }
    &__approved {
      color: $approved-color;
    }
    &__paid {
      color: $paid-color;
    }
  }

  &--approvers {
    color: $black-light;
    padding: 18px 10px 0;
  }

  &--approvers-list {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px 0;
  }

  &--approver-state-section {
    display: flex;
    align-items: center;

    &__date {
      margin: 0 4px;
      font-size: 10px;
      color: $black-light;
    }
  }

  &--approver-state-pill {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin-right: 4px;

    &__approval_pending {
      background-color: $fyled-color;
    }

    &__approval_done {
      background-color: $approved-color;
    }

    &__approval_disabled {
      background-color: $gray-3;
    }
  }
}
